<div>
    <div class="uplink_this">
        {{#if link.data.uplink.thiss.netbox_link}}
        <br /><a href="{{link.data.uplink.thiss.netbox_link}}">{{link.data.uplink.thiss.netbox}}</a> [<a href="{{link.data.uplink.thiss.interface_link}}">{{link.data.uplink.thiss.interface}}</a>]
        {{else}}
        <br />{{link.data.uplink.thiss.netbox}} [{{link.data.uplink.thiss.interface}}]
        {{/if}}
    </div>

    <div class="uplink_other">
        {{#if link.data.uplink.other.netbox_link}}
        <br /><a href="{{link.data.uplink.other.netbox_link}}">{{link.data.uplink.other.netbox}}</a> [<a href="{{link.data.uplink.other.interface_link}}">{{link.data.uplink.other.interface}}</a>]
        {{else}}
        <br />{{link.data.uplink.other.netbox}} [{{link.data.uplink.other.interface}}]
        {{/if}}
    </div>
</div>
{{#if link.data.uplink.prefix}}
<div class="uplink_prefix">

        <br />{{link.data.uplink.prefix.net_address}}
        <br />{{link.data.uplink.prefix.net_ident}}
        <br />{{link.data.uplink.prefix.description}}
</div>
{{/if}}

<br />Link speed: {{link.data.link_speed}}mbps
<br />Traffic
<br />in[{{inOctets}}] {{#if link.data.traffic.inOctetsPercentBySpeed}} ({{link.data.traffic.inOctetsPercentBySpeed}}%){{/if}}
<br />out[{{outOctets}}] {{#if link.data.traffic.outOctetsPercentBySpeed}} ({{link.data.traffic.outOctetsPercentBySpeed}}%){{/if}}

{{#if link.data.uplink.vlans}}
<h5>Vlans</h5>

<ul id="node_info_vlan">
    {{#each link.data.uplink.vlans}}
    <li><a class="vlan" data-nav-vlan="{{this.nav_vlan}}">{{this.vlan}}
        ({{this.net_ident}})</a></li>
    {{/each}}
</ul>
{{/if}}