<form class="well form-inline" action="#">
    <fieldset>
        <div id="form_view" class="control-group">
            <label class="control-label"
                   for="dropdown_view_id">Views</label>
            <select id="dropdown_view_id">
                <option value="-1">Unsaved / New
                    view</option>
                {{#if selected_netmap}}
                    <option value="{{selected_netmap.viewid}}" selected="selected">{{selected_netmap.title}}</option>
                {{/if}}
                {{#netmaps}}
                    <option value="{{viewid}} ">{{title}}</option>
                {{/netmaps}}


            </select>
            <p>{{selected_netmap}}</p>
            <button id="save_view" type="submit"
                    class="btn">Save</button>
            <div id="save_view_spinner"></div>
        </div>
    </fieldset>
</form>
<div id="save_new_view_form"></div>
<div id="nodeinfo">
    <p>Disclaimer: #insert 1994-under-construction.gif</p>
</div>