<a id="toggle_view" style="float: right;">&lt;&lt;</a>
<div class="inner_wrap">
    {{#ifequal 1 model.viewid}}class="active"{{/ifequal}}


    <h3>Layer</h3>

    {{#eachkeys model.link_types}}
        <div class="squaredTwo">
            <input name="topology" type="radio" value="{{this.key}}" id="layer_{{this.key}}" {{#if this.value}} checked{{/if}} />
            <label for="layer_{{this.key}}">{{this.key}}</label>
        </div>

    {{/eachkeys}}


    <!-- dummy for now -->
    <h3>Categories</h3>

    {{#eachkeys model.categories}}
        <div class="squaredTwo">
            <input type="checkbox" value="{{this.key}}" id="category_{{this.key}}" {{#if this.value}} checked{{/if}} />
            <label for="category_{{this.key}}">{{this.key}}</label>
        </div>
    {{/eachkeys}}

</div>

