{# Buttons for selecting dashboards #}
<div class="dashboard-nav-wrapper">
    <ul id="dashboard-nav" class="pagination">
      <li class="unavailable"><a href="">Dashboards:</a></li>
      {% for d in dashboards %}
        <li {% if d.pk == current_dashboard.pk %}class="current"{% endif %}>
          {% if d.pk != current_dashboard.pk %}
            <div class="alert-box hidden" data-dashboardname="{{ d.name }}"></div>
          {% endif %}
          <a href="{{ d.get_absolute_url }}"
             title="Go to dashboard «{{ d.name }}»"
             data-dashboard="{{ d.pk }}"
             data-url="{% url 'moveto-dashboard' d.pk %}"
          >
            <span>
                {{ d.name }}
            </span>
            <i class="fa fa-star {% if not d.is_default or d.shared_by_other %}hidden{% endif %}"
               title="This is the default dashboard &mdash; it will be loaded when you log in. To change default, change to another dashboard and set it as default in the dashboard settings."></i>
            <i class="fa fa-share-alt {% if not d.shared_by_other %}hidden{% endif %}"
               title="This dashboard is shared by another account."></i>
          </a>
        </li>
      {% endfor %}
      <li id="dropdown-dashboard-add" class="popover with-arrow">
        <a
                title="Add new dashboard"
                data-popover-target="#dropdown-dashboard-add"
                aria-haspopup="true"
        >
            <i class="fa fa-plus"></i>
        </a>
        <div class="popover-content small">
            <form id="form-add-dashboard" method="post" action="{% url 'add-dashboard' %}">
                {% csrf_token %}
                <label>
                    Add dashboard
                    <input type="text" name="dashboard-name" placeholder="Dashboard name">
                </label>
                <input type="submit" class="small button full-width" value="Add dashboard">
            </form>

            <div style="display: flex; flex-direction: column; gap: 0.5em;">
                <a
                    hx-get="{% url 'import-dashboard-modal' %}"
                    hx-target="body"
                    hx-swap="beforeend"
                >
                    <i class="fa fa-upload"></i> Import dashboard
                </a>
                <a
                    hx-get="{% url 'dashboard-search-modal' %}"
                    hx-target="body"
                    hx-swap="beforeend"
                >
                    <i class="fa fa-search"></i> Find shared dashboard
                </a>
            </div>
        </div>
      </li>
    </ul>
    <div class="dashboard-meta-wrapper">
        {% if dashboard.shared_by_other %}
            {% if is_subscribed %}
                <button class="tiny secondary" style="margin-bottom: 0;" hx-post="{% url 'dashboard-toggle-subscribe' current_dashboard.pk %}">
                    <i class="fa fa-bell-slash" style="margin-right: 0.25rem;"></i><span>Unsubscribe</span>
                </button>
            {% else %}
                <button class="tiny info" style="margin-bottom: 0;" hx-post="{% url 'dashboard-toggle-subscribe' current_dashboard.pk %}">
                    <i class="fa fa-bell" style="margin-right: 0.25rem;"></i><span>Subscribe</span>
                </button>
            {% endif %}
        {% endif %}
        {% include "webfront/_dashboard_nav_shared_indicator.html" with dashboard=dashboard %}
        <div class="nav-tooltip" data-align="end">
            <div class="badge unstyled-tooltip" aria-describedby="owner-tooltip">
                <i class="fa fa-user"></i>
                <span>{{ dashboard.account.name }}</span>
            </div>
            <div id="owner-tooltip" role="tooltip">
                This dashboard belongs to <br /><strong>{{ dashboard.account.name }}</strong>.
            </div>
        </div>
    </div>
</div>
