{% extends "base.html" %}

{% block base_header_additional_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/index.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/navlets.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/navlets_compact.css" />
  <style>
   #navlet-list input[type='submit'] { margin-bottom: 0; }
   #navlet-list .panel {
       background-color: #dfdfdf;
       border: 1px solid #ccc;
       margin-bottom: 0;
       padding: 0.9rem;
   }
   /* Light adaption of pagination styles */
   ul.pagination li { background-color: gainsboro; }
   ul.pagination li a.drop-active { border: 1px dashed black; }
   ul.pagination li .alert-box { position: absolute; top: -4em }
   ul.pagination li.unavailable { background-color: initial; }
   ul.pagination li.unavailable a { color: grey; }

  </style>
  <script>
   require(["src/webfront"]);
   NAV.preference_keys = NAV.preference_keys || {};
   NAV.preference_keys.widget_display_density = '{{ request.user.PREFERENCE_KEY_WIDGET_DISPLAY_DENSITY }}';
   NAV.urls.dashboard_index = "{% url 'dashboard-index' %}";
  </script>
{% endblock %}


{% block base_content %}

  {# Dashboard and widget actions for logged in users #}
  {% if not current_user_data.account.is_anonymous or current_user_data.sudoer %}

    <div id="widgets-actions" class="hide-for-small" >
      {% if can_edit %}
          <div
              title="Add widget"
              class="widget-action"
              hx-get="{% url 'add-navlet-modal' dashboard.id %}"
              hx-target="body"
              hx-swap="beforeend"
          >
            <i class="fa fa-plus"></i>
          </div>
      {% endif %}
      <div id="widgets-show-fullscreen" class="widget-action" title="Show dashboard in fullscreen">
        <i class="fa fa-arrows-alt"></i>
      </div>

      <div id="widgets-layout-normal"
           class="widgets-layout-toggler widget-action
                  {% if request.user.preferences.widget_display_density == 'normal' %}hide{% endif %}
                  {% if not request.user.preferences.widget_display_density %}hide{% endif %}"
           title="Use normal layout for dashboard">
        <i class="fa fa-expand"></i>
      </div>

      <div id="widgets-layout-compact"
           class="widgets-layout-toggler widget-action
                  {% if request.user.preferences.widget_display_density == 'compact' %}hide{% endif %}"
           title="Use compact layout for dashboard">
        <i class="fa fa-compress"></i>
      </div>

      {% if can_edit %}
          {% include 'webfront/_dashboard_settings_form.html' %}
      {% else %}
        <div class="nav-tooltip export-action">
            <a
                class="widget-action"
                href="{% url 'export-dashboard' dashboard.pk %}"
                aria-describedby="#export-action-tooltip"
            >
              <i class="fa fa-download" title="Export dashboard"></i>
            </a>
            <div id="export-action-tooltip" role="tooltip">
                 Download this dashboard's definition into a file that can later be imported by pressing the + next to the tab list
            </div>
        </div>
      {% endif %}

    </div>

    {# Buttons for selecting dashboards #}
    {%  include 'webfront/_dashboard_nav.html' with current_dashboard=dashboard dashboards=dashboards %}

  {% endif %}


  {% comment %} Main container for navlets {% endcomment %}
  <form id="navlets-action-form" style="display: none;">
    {% csrf_token %}
  </form>
  <div id="navlets"
       {% if request.user.preferences.widget_display_density == 'compact' %}class="compact"{% endif %}
       data-list-navlets="{% url 'get-user-navlets' dashboard.pk %}"
       data-remove-navlet="{% url 'remove-user-navlet' %}"
       data-save-order-url="{% url 'save-navlet-order' %}"
       data-base-template-url="{% url 'navlet-base-template' %}"
       data-widget-columns="{{ dashboard.num_columns }}"
       ></div>

{% endblock %}
