{% extends "base.html" %}

{% block base_header_additional_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/index.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/navlets.css" />
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/navlets_compact.css" />
  <style>
   #navlet-list input[type='submit'] { margin-bottom: 0; }
   #navlet-list .panel {
       background-color: #dfdfdf;
       border: 1px solid #ccc;
       margin-bottom: 0;
       padding: 0.9rem;
   }
   /* Light adaption of pagination styles */
   ul.pagination li { background-color: gainsboro; }
   ul.pagination li a.drop-active { border: 1px dashed black; }
   ul.pagination li .alert-box { position: absolute; top: -4em }
   ul.pagination li.unavailable { background-color: initial; }
   ul.pagination li.unavailable a { color: grey; }

  </style>
  <script>
   require(["src/webfront"]);
   NAV.preference_keys = NAV.preference_keys || {};
   NAV.preference_keys.widget_display_density = '{{ request.account.PREFERENCE_KEY_WIDGET_DISPLAY_DENSITY }}';
   NAV.urls.dashboard_index = "{% url 'dashboard-index' %}";
  </script>
{% endblock %}


{% block base_content %}

  {# Dashboard and widget actions for logged in users #}
  {% if not current_user_data.account.is_default_account or current_user_data.sudoer %}

    <div id="widgets-actions" class="hide-for-small" >
      <div
          title="Add widget"
          class="widget-action"
          hx-get="{% url 'add-navlet-modal' dashboard.id %}"
          hx-target="body"
          hx-swap="beforeend"
      >
        <i class="fa fa-plus"></i>
      </div>

      <div id="widgets-show-fullscreen" class="widget-action" title="Show dashboard in fullscreen">
        <i class="fa fa-arrows-alt"></i>
      </div>

      <div id="widgets-layout-normal"
           class="widgets-layout-toggler widget-action
                  {% if request.account.preferences.widget_display_density == 'normal' %}hide{% endif %}
                  {% if not request.account.preferences.widget_display_density %}hide{% endif %}"
           title="Use normal layout for dashboard">
        <i class="fa fa-expand"></i>
      </div>

      <div id="widgets-layout-compact"
           class="widgets-layout-toggler widget-action
                  {% if request.account.preferences.widget_display_density == 'compact' %}hide{% endif %}"
           title="Use compact layout for dashboard">
        <i class="fa fa-compress"></i>
      </div>

      {% include 'webfront/_dashboard_settings_form.html' %}
    </div>

    {# Buttons for selecting dashboards #}
    <ul id="dashboard-nav" class="pagination">
      <li class="unavailable"><a href="">Dashboards:</a></li>
      {% for d in dashboards %}
        <li {% if d.pk == dashboard.pk %}class="current"{% endif %}>
          {% if d.pk != dashboard.pk %}
            <div class="alert-box hidden" data-dashboardname="{{ d.name }}"></div>
          {% endif %}
          <a href="{{ d.get_absolute_url }}"
             title="Go to dashboard «{{ d.name }}»"
             data-dashboard="{{ d.pk }}"
             data-url="{% url 'moveto-dashboard' d.pk %}"
          >
            <span>
              {% if d.shared_by_other %}
                {{ d.name }} ({{ d.account.login }})
              {% else %}
                {{ d.name }}
              {% endif %}
            </span>
            <i class="fa fa-star {% if not d.is_default or d.shared_by_other %}hidden{% endif %}"
               title="This is the default dashboard &mdash; it will be loaded when you log in. To change default, change to another dashboard and set it as default in the dashboard settings."></i>
          </a>
        </li>
      {% endfor %}
        <li id="dropdown-dashboard-add" class="popover with-arrow">
            <a
                    title="Add new dashboard"
                    data-popover-target="#dropdown-dashboard-add"
                    aria-haspopup="true"
            >
                <i class="fa fa-plus"></i>
            </a>
            <div class="popover-content small">
                <form id="form-add-dashboard" method="post" action="{% url 'add-dashboard' %}">
                    {% csrf_token %}
                    <label>
                        Add dashboard
                        <input type="text" name="dashboard-name" placeholder="Dashboard name">
                    </label>
                    <input type="submit" class="small button full-width" value="Add dashboard">
                </form>

                <a hx-get="{% url 'import-dashboard-modal' %}"
                   hx-target="body"
                   hx-swap="beforeend">Import dashboard</a>
            </div>
      </li>
    </ul>

  {% endif %}


  {% comment %} Main container for navlets {% endcomment %}
  <form id="navlets-action-form" style="display: none;">
    {% csrf_token %}
  </form>
  <div id="navlets"
       {% if request.account.preferences.widget_display_density == 'compact' %}class="compact"{% endif %}
       data-list-navlets="{% url 'get-user-navlets' dashboard.pk %}"
       data-remove-navlet="{% url 'remove-user-navlet' %}"
       data-save-order-url="{% url 'save-navlet-order' %}"
       data-base-template-url="{% url 'navlet-base-template' %}"
       data-widget-columns="{{ dashboard.num_columns }}"
       ></div>


{% endblock %}
