<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>NAV Login</title>
  <link rel="stylesheet" href="/static/css/nav.css"/>
  <link rel="stylesheet" href="/static/css/nav/login.css"/>
  <script src="{{ STATIC_URL }}js/libs/htmx-2.0.4.min.js"></script>
  <script src="{{ STATIC_URL }}js/require_config.js"></script>
  {% if debug %}
    <script src="{{ STATIC_URL }}js/require_config_dev.js"></script>
  {% endif %}
  <script src="{{ STATIC_URL }}js/libs/require.js" data-main='src/main'></script>
  <script>
   require.config({ urlArgs: 'bust={{ nav_version }}' });
  </script>
  {% include 'navurls.html' %}
</head>

<body onload="document.getElementById('id_username').focus();">

<div class="row">
  <div class="small-12 column">

    <div class="panel logincontainer">
      <div class="logo-wrapper">
        <a href="/">
          <img src="{{ STATIC_URL }}images/main/nav-logo-black.svg" alt="NAV"
               class="navlogo"/>
        </a>
      </div>

      {% for e in errors %}
        <div class="alert-box alert">
          {{ e }}
        </div>
      {% endfor %}

      {% if origin %}
        <div class="alert-box secondary origin">
          After successfully logging in, you will be redirected to:<br/>
          {{ origin }}
        </div>
      {% endif %}

      {% include 'custom_crispy_templates/flat_form.html' %}

        <a
            hx-get="{% url 'webfront-audit-logging-modal' %}"
            hx-target="body"
            hx-swap="beforeend"
            type="button"
        >
            <small>About audit logging in NAV</small>
        </a>
    </div>
  </div>
</div>

</body>

</html>
