// Override alert mixins
// -------------------------------------------

// Override mixin to handle new parameters for font color and border
@mixin alert-style($bg:$info-box-bg, $color:$info-box-color, $border:$info-box-border) {
    position: relative;
	background-color: $bg;
	color: $color;
	border-color: $border;
	font-weight:400;
    line-height: 1.5em;
}

// Override this mixin to default to secondary colors on alert-box
@mixin alert($radius:false) {
    @include alert-base;
    @include alert-style();
    @include radius($radius);
}

@mixin alert-icon($icon) {
    &.with-icon:before {
        content: $icon;
        font-family: FontAwesome;
        font-size: 1.5em;
        margin-right: 0.5em;
        vertical-align: middle;
    }
}

small.errorField {
    @include form-error-message;
}

// Main configuration for alert-box class
.alert-box {
    @include alert;

    a {
        color: #014265;  // Add darker link color for higher contrast.
        text-decoration: underline;  // Make links visible in alert-boxes
    }

    .close {
      @include alert-close;
      text-decoration: none;
    }

    &.radius { @include radius($alert-radius); }
    &.round { @include radius($global-rounded); }

    &.success {
        @include alert-style($success-box-bg, $success-box-color, $success-box-border);
        @include alert-icon("\f058");
    }
    &.alert {
        @include alert-style($alert-box-bg, $alert-box-color, $alert-box-border);
        @include alert-icon("\f057");
    }
    &.error {
        @include alert-style($alert-box-bg, $alert-box-color, $alert-box-border);
        @include alert-icon("\f057");
    }
    &.secondary { @include alert-style($info-box-bg, $info-box-color, $info-box-border); }
    &.info {
        @include alert-style($info-box-bg, $info-box-color, $info-box-border);
        @include alert-icon("\f05a");
    }
    &.warning {
        @include alert-style($warning-box-bg, $warning-box-color, $warning-box-border);
        @include alert-icon("\f071");
    }

    &.inside-table {
        display: inline-block;
        padding-top: rem-calc(4);
        padding-bottom: rem-calc(4);
        margin-bottom: 0;
    }
}

// Add transition effects for nav alert when it is closed
[data-nav-alert] {
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
  transform: translateY(0);
  opacity: 1;
}

[data-nav-alert].alert-close {
  opacity: 0;
  transform: translateY(-20px);
}


// Adds class for marking a button as active.
button, .button {
    &.active {
        background-color: scale-color($primary-color, $lightness: $button-function-factor);
        &.secondary { background-color: scale-color($secondary-color, $lightness: $button-function-factor); }
        &.alert { background-color: scale-color($alert-color, $lightness: $button-function-factor); }
        &.success { background-color: scale-color($success-color, $lightness: $button-function-factor); }
    }
}

// Add a custom button for use inside table rows
@mixin table-button-base($color: $primary-color) {
    @include button(
        $padding: rem-calc(3),
        $bg: $color
    );
    font-size: rem-calc(11);
    margin-bottom: 0;
}

// Include styles for all subclasses of the button
.table-button {
    @include table-button-base;
    &.secondary {@include table-button-base($secondary-color);}
    &.success {@include table-button-base($success-color);}
    &.alert {@include table-button-base($alert-color);}
    &.warning {@include table-button-base($warning-color);}
    &.info {@include table-button-base($info-color);}
}


// Add a white version of the panel
.panel.white {
    background-color: white;
}

// Override navbars default height because it casus display problems on medium screens
@media #{$medium-up} {
    .top-bar {
        height: auto;
    }
}

/* Driver.js popover customizations and fixes for conflicting styles */
$driver-popover-bg: #ffffff;
$driver-popover-fg: #2d2d2d;
$driver-popover-secondary-fg: #d2d2d2;
$driver-popover-progress-fg: #727272;

/*
// Dark popover colors (matching Foundation Joyride theme)
$driver-popover-bg: #333333;
$driver-popover-fg: #ffffff;
$driver-popover-secondary-fg: #777777;
$driver-popover-progress-fg: $driver-popover-secondary-fg;
 */


.driver-popover {
  border-radius: 0;
  background-color: $driver-popover-bg;
  color: $driver-popover-fg;
  .driver-popover-footer {
    padding: 0;
    border-top: none;
    background-color: unset;
    gap: 1rem;
  }
  .driver-popover-progress-text {
    color: $driver-popover-progress-fg;
  }
  .driver-popover-navigation-btns button {
    @extend .small;
    margin-bottom: 0;
  }
  .driver-popover-description > * {
    font-size: 14px;
  }
  .driver-popover-close-btn {
    color: $driver-popover-secondary-fg;
    &:focus, &:hover {
      background: none;
    }
    &:hover {
      color: darken($driver-popover-secondary-fg, 20%);
    }
  }
}

/* Flatpickr calendar customizations */
.flatpickr-calendar {
  border-radius: 0;
}
