// Custom fonts and icons
@import "fonts";
@import "font-awesome/font-awesome";

// Nav settings comes first
@import "navsettings";

// Comment out this import if you don't want to use normalize
@import "normalize";

// Comment out this import if you are customizing you imports below
@import "foundation";

// NAV global custom css
@import "nav/accordion";
@import "nav/datatables";
@import "nav/dialog";
@import "nav/tabs";
@import "nav/table";
@import "nav/select2";
@import "nav/footer";
@import "nav/rickshaw";
@import "nav/lightbox";
@import "nav/modal";
@import "nav/tooltip";
@import "nav/popover";

// Custom css for libraries
@import "libs/driver";
@import "libs/flatpickr";

// Overriding classes and mixins
@import "overrides";
