#encoding utf-8
##
## Copyright (C) 2003-2005 Norwegian University of Science and Technology
## Copyright (C) 2006 UNINETT AS
##
## This file is part of Network Administration Visualized (NAV).
##
## NAV is free software: you can redistribute it and/or modify it under
## the terms of the GNU General Public License version 2 as published by
## the Free Software Foundation.
##
## This program is distributed in the hope that it will be useful, but WITHOUT
## ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
## more details.  You should have received a copy of the GNU General Public
## License along with NAV. If not, see <http://www.gnu.org/licenses/>.
##
##############################################################################
##
##
## Every other template extends this one. It contains the header-information,
## NAV-logo and navigation-bar.
##
## The content-block should be replaced by all templates. CSS or JavaScript
## can be added by replacing the additionalCSS or additionalJavaScript blocks
## with a <link> tag refering to the new stylesheet or script file.
##
## To use without making a separate template, do this:
##
##   import MainTemplate from foo.bar.MainTemplate
##   page = MainTemplate()
##   page.content = lambda: "<h1>Foo</h1>Bar"
##
## The navbar is built according to the users preferences, with data in this
## form:
##
## $user
##   +-- preferences
##        +-- hidelogo                 :: boolean: should the navlogo be hidden?
##        +-- navbar                   :: array of links
##        |    +-- name                ::
##        |    +-- uri                 ::
##        +-- qlink1                   :: array of links
##        |    +-- name                ::
##        |    +-- uri                 ::
##        +-- qlink2                   :: array of links
##             +-- name                ::
##             +-- uri                 ::
##
## The template uses images in $imagefolder/main/, where $imagefolder
## defaults to "/images".
##
##
#from nav.web import shouldShow, cycler
#import nav.buildconf
#from nav.web.webfront.compability import Cheetah
##
#attr $imagefolder = "/images"
#attr $bodyOnLoad = ""
#attr $title = ""
#attr $path = False
##
#set global $rowcycler = cycler.cycler('evenrow', 'oddrow')
#set global $cellcycler = cycler.cycler('evencell', 'oddcell')
##
#set $compability = Cheetah($user, $title, $path)
##
#filter EncodeUnicode
$compability.header()

<div id="navbody">

#def content
<h2>This space intentionally left blank</h2>
<p>$user.name / $user.id</p>
#end def content
$content()

$compability.footer()
#end filter
