#encoding utf-8
##
## Copyright (C) 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV).
##
## NAV is free software: you can redistribute it and/or modify it under
## the terms of the GNU General Public License version 2 as published by
## the Free Software Foundation.
##
## This program is distributed in the hope that it will be useful, but WITHOUT
## ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or
## FITNESS FOR A PARTICULAR PURPOSE. See the GNU General Public License for
## more details.  You should have received a copy of the GNU General Public
## License along with NAV. If not, see <http://www.gnu.org/licenses/>.
##

#def renderLayoutBox($layoutBox)
#set $htmlId = ''
#if $layoutBox.htmlId
#set $htmlId = $layoutBox.htmlId
#end if
<table id="$htmlId" cellspacing="10">
#if $layoutBox.showTitles
    <tr>
#if $layoutBox.showTitles
#for $select in $layoutBox.selectList
        <th align="left">$select.title</th>
#end for
#end if
    </tr>
#end if
    <tr>
#for $select in $layoutBox.selectList
        <td style="height: 100%;">
#set $show = False
#if len($select.options)
#set $show = True
#end if
#if $layoutBox.showEmptySelects
#set $show = True
#end if
#if $show
$renderSelect($layoutBox, $select)
#elif $layoutBox.showHelpTexts
<div style="border: solid 2px; padding: 5px;">
$layoutBox.emptySelectText $select.prevSelect.title
</div>
#end if
        </td>
#end for
    </tr>
</table>
#end def

#def renderSelect($layoutBox,$select)
#set $style = ''
#if $layoutBox.minimumSelectWidth
#set $style += 'min-width: ' + str($layoutBox.minimumSelectWidth) + 'em;'
#end if
#if $layoutBox.exactSelectWidth
#set $width = str($select.maxOptionTextLength)
#set $style += 'width: ' + $width + 'em;'
#end if
#set $attribs = ''
#if $select.selectMultiple
#set $attribs += 'multiple '
#end if
#if $select.multipleHeight
#set $height = str($select.multipleHeight)
#set $attribs += 'size="' + $height + '" '
#end if
#if $select.setOnChange
#set $attribs += 'onchange="' + $select.onChange + '" '
#end if
#set $disabled = ''
#if $select.disabled
#set $disabled = 'disabled="disabled"'
#end if
<select $disabled id="$select.controlName" name="$select.controlName" $attribs style="$style">
#if len($select.options) == 0
## dummy option to force some browsers to render empty selects
    <option disabled value=""></option>
#end if
#for $option in $select.options
#if $option.optgroup
    <optgroup label="$option.text">
#elif $option.optgroupEnd
    </optgroup>
#else
#set $selected = ''
#if $option.selected
#set $selected = 'selected="selected"'
#end if
        <option $selected value="$option.value">$option.text</option>
#end if
#end for
</select>
#end def
