{% extends "base.html" %}
{% load tools %}

{% block base_header_additional_head %}
<link rel="stylesheet"  href="{{ STATIC_URL }}css/nav/machinetracker.css" />
<script>require(['src/machinetracker']);</script>
{% endblock %}

{% block base_content %}

  {% with tool=current_user_data.tools|get_tool:'Machine Tracker' %}
    {% include 'nav_header.html' %}
  {% endwith %}

<div class="tabs">
    <ul>
        <li class="{{ active.ip|yesno:"tabactive," }}">
            <a href="{% url 'machinetracker-ip' %}">IP Search</a>
        </li>
        <li class="{{ active.mac|yesno:"tabactive," }}">
            <a href="{% url 'machinetracker-mac' %}">MAC Search</a>
        </li>
        <li class="{{ active.swp|yesno:"tabactive," }}">
            <a href="{% url 'machinetracker-swp' %}">Switch Search</a>
        </li>
        <li class="{{ active.netbios|yesno:"tabactive," }}">
            <a href="{% url 'machinetracker-netbios' %}">Netbios Search</a>
        </li>
    </ul>

    <div class="tabcontent">

        {% if current_user_data.messages %}
        <ul class="messages">
            {% for m in current_user_data.messages %}
            <li class="{{ m.type }}">{{ m.message }}</li>
            {% endfor %}
        </ul>
        {% endif %}

        {% block content %}
        {% endblock %}

    </div>

</div>


{% endblock %}
