{% extends "status/base.html" %}

{% block page_header %}Edit section{% endblock %}

{% block content %}

  <p><a href="{% url status-preferences %}">Back to status preferences</a></p>

  <h5>Editing section <em>{{ name }}</em></h5>
  {% if type %}
    <p>This section is of type {{ type }}</p>
  {% endif %}

  <form action="" method="post">
    <table class="listtable">
      <tbody>
      {{ section_form }}
      <tr>
        <th></th>
        <td>
          <input type="submit" name="save" value="Save" class="button small"/>
        </td>
      </tr>
      </tbody>
    </table>
  </form>

{% endblock %}
