{% extends "status/base.html" %}
{% load crispy_forms_tags %}

{% block page_header %}Status preferences{% endblock %}

{% block content %}
  <p><a href="{% url status-index %}">Back to status</a></p>
  <div class="row">
    <div class="column medium-9">
      {% crispy add_section_form %}
    </div>
  </div>

  <div class="row">
    <div class="column medium-9">
      <form action="" method="post">
        <table class="listtable full-width">
          <caption>
            Status sections
          </caption>

          <thead>
          <tr>
            <th>Delete</th>
            <th>Name</th>
            <th></th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          {% for section in sections %}
            <tr class="{% cycle 'oddrow' 'evenrow' %}">
              <td>
                <input type="checkbox" name="delete_checkbox"
                       value="{{ section.id }}"/>
              </td>
              <td>
                <a href="{% url status-preferences-edit section.id %}">
                  {{ section.name }}
                </a>
                ({{ section.readable_type }})
              </td>
              <td>
                {% if not forloop.first %}
                  <input type="submit" name="moveup={{ section.id }}"
                         value="Move Up" class="button tiny secondary"/>
                {% endif %}
              </td>
              <td>
                {% if not forloop.last %}
                  <input type="submit" name="movedown={{ section.id }}"
                         value="Move Down" class="button tiny secondary"/>
                {% endif %}
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
        <input type="submit" name="delete" value="Delete selected"
               class="button small secondary"/>
      </form>
    </div>
  </div>
{% endblock %}
