{% extends "status/base.html" %}

{% block base_header_additional_head %}
  <script>
    require(['libs/jquery'], function () {
      $('.f-dropdown .close-button').click(function () {
        $(document).foundation('dropdown', 'close', $(this).parents('.f-dropdown:first'));
      });
    });
  </script>
{% endblock %}

{% block content %}

  <p>
    Remember to edit your preferences to display all relevant statuses
    <a href="{% url status-preferences %}"
       class="small button secondary">
      Preferences
    </a>
  </p>

  {% comment %} Display all sections that have current statuses {% endcomment %}
  {% for section in sections %}
    {% if section.history %}
      <table class="listtable full-width">
        <caption>
          {% if section.prefs.name == section.type_title %}
            {{ section.type_title }}
          {% else %}
            {{ section.prefs.name }}
            <span class="subtitle">
            ({{ section.type_title }})
            </span>
          {% endif %}
          <a href="{{ section.devicehistory_url }}" class="right">History</a>
        </caption>

        <thead>
        <tr>
          {% for head in section.columns %}
            <th>{{ head }}</th>
          {% endfor %}
        </tr>
        </thead>


        <tbody>
        {% for row in section.history %}
          <tr>
            {% for name, url in row.tabrow %}
              <td>
                {% if url %}
                  <a href="{{ url }}">
                {% endif %}

                {% if name.timetuple %}
                  {{ name|date:"DATETIME_FORMAT" }}
                {% else %}
                  {{ name }}
                {% endif %}

                {% if url %}
                  </a>
                {% endif %}
              </td>
            {% endfor %}
            {% ifequal section.devicehistory_type "a_boxDown" %}
              <td class="text-right">
                <form action="{% url maintenance-add-netbox %}" method="POST">
                  <input type="hidden" name="netboxid"
                         value="{{ row.netboxid }}"/>
                  <input type="submit" value="Put on maintenance"
                         title="Set this device on maintenance until it is up and running again."
                         class="tiny button secondary"/>
                </form>
              </td>
            {% endifequal %}

            {# Special treatment of linkdown events #}
            {% if section.devicehistory_type == "a_linkDown" and request.account.is_admin %}
              <td>
                <a href="javascript:void(0);" class="button tiny secondary"
                   data-dropdown="resolve-alert-{{ row.alerthistid }}" data-options="align:left">
                  Clear
                </a>
                <div id="resolve-alert-{{ row.alerthistid }}" class="f-dropdown content">
                  <h5>Clear this alert?</h5>
                  <p>If this is a real alert it might come back later.</p>
                  <form action="{% url resolve-alert %}" method="POST">
                    <input type="hidden" name="alertid" value="{{ row.alerthistid }}"/>
                    <input type="submit" value="Clear"
                           title="Clear this alert"
                           class="tiny button left"/>
                  </form>
                  <span class="button tiny secondary close-button left">Leave it</span>
                </div>
              </td>
            {% else %}
              <td>&nbsp;</td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endif %}
  {% endfor %}


  {% comment %} Give access to history for other event types {% endcomment %}
  <h4>
    History for events
    <i class="fa fa-info-circle" data-tooltip title="
    These sections have no active events. View the device history by clicking on them.
    "></i>
  </h4>
  <ul class="inside">
    {% for section in sections %}
      {% if not section.history %}
        <li>
          <a href="{{ section.devicehistory_url }}">
            {{ section.prefs.name }} ({{ section.type_title }})
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>


{% endblock %}
