{% load forms %}
{% spaceless %}
  {% if field.is_hidden %}
    {{ field }}
  {% else %}
      <div id="div_{{ field.auto_id }}" class="ctrlHolder{% if wrapper_class %} {{ wrapper_class }}{% endif %}{% if field.errors %} error{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
        {% if field.label %}
          {% if field|is_checkbox %}
            {{ field }}
          {% endif %}

            <label for="{{ field.id_for_label }}" {% if field.field.required %}class="requiredField"{% endif %}>
              {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
              {% if field.help_text %}
                  <span class="nav-tooltip">
                      &nbsp;<i aria-describedby="hint_{{ field.auto_id }}" class="fa fa-info-circle" ></i>
                      <span id="hint_{{ field.auto_id }}" role="tooltip">
                          {{ field.help_text }}
                      </span>
                  </span>
              {% endif %}
            </label>
        {% endif %}

        {% if not field|is_checkbox %}
          {{ field }}
        {% endif %}

        {% for error in field.errors %}
          <small id="error_{{ forloop.counter }}_{{ field.auto_id }}"
                class="errorField">
            {{ error }}
          </small>
        {% endfor %}

      </div>
  {% endif %}
{% endspaceless %}
