@import 'foundation/functions';

// Media Query Ranges
$small-range: (0em, 40em);
$medium-range: (40.063em, 64em);
$large-range: (64.063em, 90em);
$xlarge-range: (90.063em, 120em);
$xxlarge-range: (120.063em);

$screen: "only screen";
$landscape: "#{$screen} and (orientation: landscape)";
$portrait: "#{$screen} and (orientation: portrait)";
$small-up: $screen;
$small-only: "#{$screen} and (max-width: #{upper-bound($small-range)})";
$medium-up: "#{$screen} and (min-width:#{lower-bound($medium-range)})";
$medium-only: "#{$screen} and (min-width:#{lower-bound($medium-range)}) and (max-width:#{upper-bound($medium-range)})";
$large-up: "#{$screen} and (min-width:#{lower-bound($large-range)})";
$large-only: "#{$screen} and (min-width:#{lower-bound($large-range)}) and (max-width:#{upper-bound($large-range)})";
$xlarge-up: "#{$screen} and (min-width:#{lower-bound($xlarge-range)})";
$xlarge-only: "#{$screen} and (min-width:#{lower-bound($xlarge-range)}) and (max-width:#{upper-bound($xlarge-range)})";
$xxlarge-up: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)})";
$xxlarge-only: "#{$screen} and (min-width:#{lower-bound($xxlarge-range)}) and (max-width:#{upper-bound($xxlarge-range)})";


// Relative image path
$image-path: '../../images';
$image-path-partials: '../images';

// Width of a row. To create a limited viewport use em-calc
// Default from Foundation is $row-width: em-calc(1000);
$row-width: 100%;

// NAV color palette
$body-bg: #EEE;

$primary-color: #027bbb;
$secondary-color: #DFDFDF;

$alert-color: #d2322d;
$success-color: #5cb85c;

$alert-box-bg: #f2dede;
$alert-box-color: #b94a48;
$alert-box-border: #eed3d7;

$success-box-bg: #dff0d8;
$success-box-color: #468847;
$success-box-border: #d6e9c6;

$info-box-bg: #d9edf7;
$info-box-color: #3a87ad;
$info-box-border: #bce8f1;

$crumb-bg: $secondary-color;
$crumb-border-color: #F6F6F6;

$table-border-style: none;

// Variables
// -----------------------------------------------------------------------


// Button sizes
$button-tny: rem-calc(7);
$button-sml: rem-calc(9);
$button-med: rem-calc(11);

// Alerts
$include-html-alert-classes: false;

// Fonts
$body-font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
$body-font-weight: 400;
$small-font-size: 80%;

// Menu
$topbar-bg-color: #243640 !default;
$topbar-dropdown-bg: #243640 !default;

// Tooltips
$tooltip-bg: #333 !default;
$tooltip-font-weight: 400 !default;
$has-tip-cursor-type: cursor !default;
$tooltip-padding:20px !default;

// Global padding
$global-padding: 3.5em;
$global-padding-small: 0em;
$body-padding: 3.5em;
$body-padding-small: 1em;

