// Override alert mixins
// -------------------------------------------

// Override mixin to handle new parameters for font color and border
@mixin alert-style($bg:$info-box-bg, $color:$info-box-color, $border:$info-box-border) {
	background-color: $bg;
	color: $color;
	border-color: $border;
	font-weight:400;
}

// Main configuration for alert-box class
.alert-box {
    @include alert;

    .close { @include alert-close; }

    &.radius { @include radius($alert-radius); }
    &.round { @include radius($global-rounded); }

    &.success { @include alert-style($success-box-bg, $success-box-color, $success-box-border); }
    &.alert { @include alert-style($alert-box-bg, $alert-box-color, $alert-box-border); }
    &.secondary { @include alert-style($info-box-bg, $info-box-color, $info-box-border); }
  }
