{% extends "rrdviewer/base.html" %}

{% block content %}

{% if presenter_page %}
    <h3>
        {{ rrddatasource.description }} 
        {% if port %}
            for <a href="{{ port.get_absolute_url }}">{{ port.ifname }}</a>
        {% endif %}
        {% with rrddatasource.rrd_file.netbox as netbox %}
            at <a href="{{ netbox.get_absolute_url }}">{{ netbox }}</a>
        {% endwith %}
        for the last {{ time_frame }}
    </h3>

    {% for image in presenter_page.presentations %}
        <div class="rrd-image"><img src="{{ image.graph_url }}" /></div>
    {% endfor %}

    <h3>Time frame</h3>

    <ul>
        <li><a href="{% url 'rrdviewer-rrd-by-ds-tf' rrddatasource.id "year" %}">
            Year</a></li>
        <li><a href="{% url 'rrdviewer-rrd-by-ds-tf' rrddatasource.id "month" %}">
            Month</a></li>
        <li><a href="{% url 'rrdviewer-rrd-by-ds-tf' rrddatasource.id "week" %}">
            Week</a></li>
        <li><a href="{% url 'rrdviewer-rrd-by-ds-tf' rrddatasource.id "day" %}">
            Day</a></li>
        <li><a href="{% url 'rrdviewer-rrd-by-ds-tf' rrddatasource.id "hour" %}">
            Hour</a></li>
    </ul>
{% endif %}

{% endblock %}
