<div id="racksensor-{{ racksensor.pk }}"
     class="rack-sensor"
     title="{{ racksensor.sensor }}"
     data-metric="{{ racksensor.sensor.get_metric_name }}"
     data-racksensorid="{{ racksensor.pk }}">
  <div class="heading">
    <i class="fa fa-arrows inline-when-edit" title="Click and drag"></i>
    <i class="fa fa-remove remove-sensor inline-when-edit" title="Remove sensor"></i>
  </div>
  <a href="{{ racksensor.sensor.netbox.get_absolute_url }}">
    <div id="sensor-{{ racksensor.sensor.pk }}" class="pdu-gauge"></div>
  </a>
</div>
