<div class="rack" data-rackid="{{ rack.pk }}">
  <h4>Rack {{ rack.rackname }}</h4>

  {# Body contains the sensors #}
  <div class="rack-body">

    <div class="rack-left rack-pdu">
      <div class="sensors">
        {% for racksensor in rack.sensors_left %}
          {% include 'info/room/fragment_rackpdusensor.html' %}
        {% endfor %}
      </div>
    </div>

    <div class="rack-center">
      <div class="sensors">
        {% for racksensor in rack.sensors_center %}
          {% include 'info/room/fragment_racksensor.html' %}
        {% endfor %}
      </div>
    </div>

    <div class="rack-right rack-pdu">
      <div class="sensors">
        {% for racksensor in rack.sensors_right %}
          {% include 'info/room/fragment_rackpdusensor.html' %}
        {% endfor %}
      </div>
    </div>

  </div>

  {# Footer for holding the buttons #}
  <div class="rack-footer">

    <div class="rack-pdu">
      <button class="tiny" title="Add PDU sensor" data-column="0">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <div class="rack-center">
      <button class="tiny full-width" data-column="1">Add sensor</button>
    </div>

    <div class="rack-pdu">
      <button class="tiny" title="Add PDU sensor" data-column="2">
        <i class="fa fa-plus"></i>
      </button>
    </div>

  </div>

</div>
