<div id="racksensor-{{ racksensor.pk }}"
     class="rack-sensor"
     title="{{ racksensor.sensor }}"
     data-metric="{{ racksensor.sensor.get_metric_name }}"
     data-racksensorid="{{ racksensor.pk }}"
     data-unit="{{ racksensor.sensor.unit_of_measurement }}">
  <div class="heading">
    <span class="right">
      <i class="fa fa-arrows" title="Click and drag"></i>
      <i class="fa fa-remove remove-sensor" title="Remove sensor"></i>
    </span>
    <a href="{{ racksensor.sensor.netbox.get_absolute_url }}">
      {{ racksensor.sensor.human_readable }}
    </a>
  </div>
  <div class="sparkline"></div>
  <small class="textvalue"></small>
  <small>{{ racksensor.sensor.unit_of_measurement }}</small>
</div>
