<div id="rack_{{ rack.pk }}" class="rack" data-rackid="{{ rack.pk }}">
  <h5 class="rack-heading flex-when-noedit">
    <span class="rackname">{{ rack.rackname|default:"&nbsp;" }}</span>
    <small class="icon-container">
      <i class="fa fa-arrows" title="Click and drag"></i>
      <i class="edit-rack fa fa-gear" title="Edit the rack"></i>
      <i class="fa fa-times-circle remove-rack" title="Remove rack"></i>
    </small>
  </h5>

  <form action="{% url 'room-info-racks-rename-rack' room.pk rack.pk %}"
        method="post"
        class="rename-rack-form block-when-edit">
    <label>
      Change rack name
      <small class="icon-container">
        <i class="fa fa-arrows" title="Click and drag"></i>
        <i class="close-edit-rack fa fa-check-square-o" title="Close edit mode"></i>
        <i class="fa fa-times-circle remove-rack" title="Remove rack"></i>
      </small>
    </label>

    <input type="submit" value="Save name" class="button small right">
    <div style="overflow: hidden;">
      <input type="text" name="rackname" value="{{ rack.rackname }}">
    </div>
  </form>

  {# Body contains the sensors #}
  <div class="rack-body">

    <div class="rack-left rack-pdu rack-column">
      <div class="sensors">
        {% for racksensor in rack.sensors_left %}
          {% include 'info/room/fragment_rackpdusensor.html' %}
        {% endfor %}
      </div>
      <button class="tiny block-when-edit"
              title="Add PDU sensor to left column"
              data-column="0">
        <i class="fa fa-plus"></i>
      </button>
    </div>

    <div class="rack-center rack-column">
      <div class="sensors">
        {% for racksensor in rack.sensors_center %}
          {% include 'info/room/fragment_racksensor.html' %}
        {% endfor %}
      </div>
      <button class="tiny full-width block-when-edit"
              title="Add sensor to middle column"
              data-column="1">Add sensor
      </button>
    </div>

    <div class="rack-right rack-pdu rack-column">
      <div class="sensors">
        {% for racksensor in rack.sensors_right %}
          {% include 'info/room/fragment_rackpdusensor.html' %}
        {% endfor %}
      </div>
      <button class="tiny block-when-edit"
              title="Add PDU sensor to right column"
              data-column="2">
        <i class="fa fa-plus"></i>
      </button>
    </div>

  </div>

  <button class="full-width small block-when-edit close-edit-rack">Close edit mode</button>

</div>
