{% load info %}

<div id="netboxes">
    {% for netbox in netboxes %}

        <table class="vertitable netbox">

            <caption><a href="{% url ipdevinfo-details-by-name netbox.sysname %}">{{ netbox.sysname }}</a> {% if netbox.type.name %} - {{ netbox.type.name }} {% endif %}</caption>

            <thead>
            <tr>
                <th>Name</th>
                <th>Portname</th>
                <th>Status</th>
                <th>Vlan</th>
                <th>Last active</th>
            </tr>
            </thead>

            <tbody>
            {% for interface in netbox.interfaces %}
                <tr>
                    <td>{{ interface.ifname }}</td>
                    <td>{{ interface.ifalias }}</td>
                    <td class="center">
                        <img title="Link status (green=link, red=no link)" src="/images/lys/{% if interface.ifoperstatus == interface.OPER_UP  %}green.png{% else %}red.png{% endif %}">
                    </td>
                    <td class="numeric">
                        {% if interface.trunk %}<span class="interfacetrunk" title="Allowed vlans: {{ interface.get_trunkvlans_as_range }}">Trunk</span>{% else %}
                            {% if interface.vlan %}{{ interface.vlan }}{% endif %}
                        {% endif %}
                    </td>
                    <td>
                        {{ interface.get_active_time|time_since }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>

        </table>

    {% endfor %}

</div>
