<dl class="sub-nav">
  <dt>Filter:</dt>
  <dd class="active"><a href="javascript:void(0);" data-action="all">All</a></dd>
  <dd><a href="javascript:void(0);" data-action="gauges">Gauges</a></dd>
  <dd><a href="javascript:void(0);" data-action="charts">Charts</a></dd>
</dl>

{% for netbox in netboxes %}
  {% if netbox.sensor_set.count > 0 %}
    <div class="clearfix netbox-sensor-container">
      <h3>Sensors for {{ netbox.sysname }}</h3>
      {% for sensor in netbox.sensor_set.all %}
        {% if 'celsius' in sensor.unit_of_measurement|lower %}

          <div class="room-sensor left"
               data-url="{{ sensor.get_graph_url }}"
               data-unit="{{ sensor.unit_of_measurement }}"
               data-sensorid="{{ sensor.id }}"
               data-sensorname="{{ sensor.human_readable }}"
                  >
          </div>
        {% endif %}

      {% endfor %}
    </div>
  {% endif %}
{% endfor %}
