
<div class="row">


  <div class="medium-6 column">
    <table id="roominfotable" class="vertitable full-width">
      <caption>Roominfo</caption>
      <tbody>
      <tr>
        <th>Name</th>
        <td>{{ room.id }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ room.description }}</td>
      </tr>
      <tr>
        <th>Location</th>
        <td>
          <a href="/report/location?locationid={{ room.location.id }}">{{ room.location.description }}</a>
        </td>
      </tr>
      <tr>
        <th>Position</th>
        <td class="position" data-roomname="{{ room.id }}">
          {% if room.position %}{{ room.position|join:', ' }}{% endif %}
        </td>
      </tr>
      {% for key, value in room.sorted_data %}
      <tr>
        <th>{{ key }}</th>
        <td>{{ value|urlize }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

  </div> {# End of column #}

  <div class="medium-6 column">
    <div class="mapwrapper">
      <div id="room_map"></div>
    </div>
  </div>

</div>

{% if images|length > 0 %}

  <h4>Images for this room</h4>
  <ul class="clearing-thumbs small-block-grid-2 medium-block-grid-6"
      data-clearing>
    {% for image in images %}
      <li>
        <a href="/uploads/images/rooms/{{ image.path }}/{{ image.name }}"
           class="th">
          <img src="/uploads/images/rooms/{{ image.path }}/thumbs/{{ image.name }}"
               data-caption="{{ image.title|safe }}">
        </a>
      </li>
    {% endfor %}

  </ul>

{% else %}

  <a href="{% url room-info-upload room.id %}" class="button secondary small">
    Add images
    <i class="fa fa-camera"></i>
  </a>

{% endif %}
