{% extends "info/room/base.html" %}

{% block base_content %}

    <h4>Room view for {{ room.id }}</h4>

    <ul class="button-group">
        <li>
            <a href="{% url seeddb-room-edit room.id %}" class="button secondary small">
                Edit room
                <i class="fa fa-edit"></i>
            </a>
        </li>

        <li>
            <a href="{% url room-info-upload room.id %}" class="button secondary small">
                Edit images
                <i class="fa fa-camera"></i>
            </a>
        </li>

        <li>
            <a href="{% url maintenance-new-room room.id %}" class="button secondary small">
                Schedule Maintenance
                <i class="fa fa-wrench"></i>
            </a>
        </li>

        <li>
            <a href="{% url devicehistory-view-room room.id %}" class="button secondary small">
                View room history
                <i class="fa fa-clock-o"></i>
            </a>
        </li>

    </ul>

    <div id="infotabs" class="ui-helper-hidden">
        <ul>
            <li><a href="#roominfo">Room info</a></li>
            <li><a href="#deviceinfo">Device info</a></li>
            <li><a href="{% url room-info-netboxes room.id %}" title="netboxinterfaces">Netbox interfaces <span class="tab-spinner">&nbsp;</span></a></li>
            <li><a href="#sensors">Environment sensors</a></li>
        </ul>

        <div id="roominfo">
          {% include 'info/room/roominfo_main.html' %}
        </div>

        <div id="deviceinfo">
            <table id="deviceinfotable" class="listtable">
                <caption>Netboxes</caption>

                {% with all_netboxes as netboxes %}
                    {% include 'info/fragments/netboxes.html' %}
                {% endwith %}
            </table>
        </div>

        <div id="netboxinterfaces"></div>

        <div id="sensors">
        
          <div class="room-sensor clearfix">
            <div id="envsensor1" class="environment-sensor left"></div>
            <div class="graph left">
              <img src="http://localhost:9080/graphite/render?width=300&height=150&_salt=1393856008.833&target=nav.devices.uninett-gw_uninett_no.sensors.VTT_1_outlet_temperature_Sensor&hideLegend=true">
            </div>
          </div>

          <div class="room-sensor clearfix">
            <div id="envsensor2" class="environment-sensor left"></div>
            <div class="graph left">
              <img src="http://localhost:9080/graphite/render?width=300&height=150&_salt=1393856008.833&target=nav.devices.uninett-gw_uninett_no.sensors.VTT_1_outlet_temperature_Sensor&hideLegend=true">
            </div>
          </div>

          <div class="room-sensor clearfix">
            <div id="envsensor3" class="environment-sensor left"></div>
            <div class="graph left">
              <img src="http://localhost:9080/graphite/render?width=300&height=150&_salt=1393856008.833&target=nav.devices.uninett-gw_uninett_no.sensors.VTT_1_outlet_temperature_Sensor&hideLegend=true">
            </div>
          </div>

          <div id="chart-container">
            <div id="yaxis"></div>
            <div id="rs-chart1"></div>
          </div>

        </div>  {# sensors #}

    </div> 

{% endblock %}

