{% extends "machinetracker/base.html" %}

{% block content %}

<div id="search_form">
    <form action="{% url machinetracker-mac %}" method="get">
        <table class="listtable">
            <caption>MAC search</caption>
            <tbody>
            <tr>
                <th><label for="id_mac">Mac:</label></th>
                <td>{{ form.mac }}</td>
            </tr>
            <tr>
                <th><label for="id_dns">Dns:</label></th>
                <td>{{ form.dns }}</td>
            </tr>
            <tr>
                <th><label for="id_hide">Hide historic data:</label></th>
                <td><input type="checkbox" id="id_hide" name="days" value="-1" onclick="document.getElementById('id_days').disabled = this.checked;" /></td>
            </tr>
            <tr>
                <th><label for="id_days">Days:</label></th>
                <td><input type="text" id="id_days" name="days" size="3" value="7" /></td>
            </tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Search" /></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

{% if mac_tracker or ip_tracker %}
<div class="results">
    {% include "machinetracker/mac_tracker.html" %}
</div>
<div class="results">
    {% include "machinetracker/ip_tracker.html" %}
</div>
{% else %}

<div class="infobox">
    <h4>Search Hints</h4>
    <ul>
        <li>
            MAC search allows searching for a MAC prefix, e.g. a search for
            &quot;<tt>00aabbcc</tt>&quot; will return all matches between
            <tt>00:aa:bb:cc:00:00</tt> and <tt>00:aa:bb:cc:ff:ff</tt>.
        </li>
        <li>
            The use of colon in the MAC search is optional, e.g.
            &quot;<tt>00aabbcc</tt>&quot; and &quot;<tt>00:aa:bb:cc</tt>&quot;
            are equal.
        </li>
    </ul>
</div>

{% endif %}

{% endblock %}
