{% extends "machinetracker/base.html" %}

{% block content %}

<div id="search_form">
    <form action="{% url machinetracker-swp %}" method="get">
        <table class="listtable">
            <caption>Switch search</caption>
            <tbody>
                <tr><th><label for="id_switch">Switch:</label></th><td>{{ form.switch }}</td></tr>
                <tr><th><label for="id_module">Module:</label></th><td>{{ form.module }}</td></tr>
                <tr><th><label for="id_port">Port:</label></th><td>{{ form.port }}</td></tr>
                <tr><th><label for="id_hide">Hide historic data:</label></th><td><input id="id_hide" type="checkbox" name="days" value="-1" onclick="document.getElementById('id_days').disabled = this.checked;" /></td></tr>
                <tr><th><label for="id_days">Days:</label></th><td><input id="id_days" type="text" name="days" value="7" size="3" /></td></tr>
                <tr>
                    <th></th>
                    <td><input type="submit" value="Search" /></td>
                </tr>
            </tbody>
        </table>
    </form>
</div>

{% if mac_tracker %}
<div class="results">
    {% include "machinetracker/mac_tracker.html" %}
</div>
{% else %}

<div class="infobox">
    <h4>Search Hints</h4>
    <ul>
        <li>
            Switch search will search for switches having a sysname that starts
            with whatever you enter as switch name.  E.g. searching for
            &quot;<tt>blapp-sw</tt>&quot; will retrieve both
            &quot;<tt>blapp-sw.ntnu.no</tt>&quot; and
            &quot;<tt>blapp-sw2.ntnu.no</tt>&quot;
        </li>
        <li>
            Leaving the <i>module</i> or <i>interface</i> fields empty in the
            switch search will find any module or interface that have matching
            records for your selected switch.
        </li>
    </ul>
</div>

{% endif %}

{% endblock content %}
