{% extends "info/netboxgroup/base.html" %}

{% block content %}

  <h4>Edit devices in {{ netboxgroup.pk }}</h4>

  {% block netboxgroup_content %}

    <div class="row">
      <div class="column medium-6">

        <form method="POST" action="">
          {% csrf_token %}

          <div class="multiple-select-container">

            <input type="search" placeholder="Filter devices not in group">

            <div class="row">
              <div class="column medium-6">
                <label for="not_in_group">Devices not in group</label>
                <select id="not_in_group" multiple="multiple" class="multiple-select multiple-select-choices" name="choices">
                  {% for netbox in netboxes %}
                    <option value="{{ netbox.pk }}">{{ netbox.sysname }}</option>
                  {% endfor %}

                </select>
              </div>

              <div class="column medium-6">
                <label for="in_group">Devices in group</label>
                <select id="in_group" multiple="multiple" name="netboxes" class="multiple-select multiple-select-initial">
                  {% for netbox in netboxgroup.netboxes.all %}
                    <option value="{{ netbox.pk }}">{{ netbox.sysname }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

          </div>

          <input type="submit" value="Save changes" class="small button">
        </form>

      </div>
    </div>


  {% endblock %}

{% endblock %}
