{% extends "info/netboxgroup/base.html" %}

{% block base_header_additional_head %}
  {{ block.super }}
  <style>
   #device-groups-table {
       width: 100%;
       max-width: 1300px;
   }
   #device-groups-table th.description, td.description {
      width: 100%;
      overflow-wrap: anywhere;
   }
   #device-groups-table th:not(.description), td:not(.description) {
      white-space: nowrap;
      width: 1%;
   }
   #device-groups-table .netboxgroup {
       max-height: 10em;
       overflow: auto;
       margin-left: 0;
   }
  </style>
{% endblock %}



{% block content %}

  <h3>Device Group search</h3>
  {% include 'info/_search_form.html' with form=searchform %}
  <div id="search-results">
  {% include 'info/netboxgroup/_search_results.html' with netboxgroups=netboxgroups %}
  </div>

{% endblock %}
