<div id="ipdevinfosearch">
<form action="{% url ipdevinfo-search %}" method="get">
<table class="vertitable">
    <caption>IP Device Info</caption>
    <tr>
        <th>Search {{ search_form.query.label }}</th>
    </tr>
    <tr>
        <td>{{ search_form.query }}</td>
    </tr>
    <tr>
        <td><button type="submit">Search</button></td>
    </tr>
    <tr>
        <th>Service views</th>
    </tr>
    <tr>
        <td>
            <ul>
                <li><a href="{% url ipdevinfo-service-list-all %}">
                    Service list</a></li>
                <li><a href="{% url ipdevinfo-service-matrix %}">
                    Service matrix</a></li>
            </ul>
        </td>
    </tr>
</table>
</form>
</div>

{% if errors %}
<ul class="error">
    {% for error in errors %}
    <li>{{ error }}</li>
    {% endfor %}
</ul>
{% endif %}

{% block content %}
{% endblock %}

{% if debug %}
{% include "ipdevinfo/debug.html" %}
{% endif %}
