{% extends "ipdevinfo/base.html" %}

{% block content %}

<div id="ipdevinfo">
<table class="vertitable">
{% if netbox %}
    <caption>
        IP Device: {{ netbox.get_short_sysname }}
    </caption>

    <tr>
        <th>Full sysname</th>
        <td>{{ netbox.sysname }}</td>
    </tr>

    <tr>
        <th>Type</th>
        <td>
            {% if netbox.type %}
                <a href="{% url report-type-type netbox.type.id %}">
                    {{ netbox.type }}</a></td>
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>

    <tr>
        <th>Category</th>
        <td><a href="{% url report-netbox-category netbox.category.id %}">
            {{ netbox.category }}</a></td>
    </tr>

    <tr>
        <th>Function</th>
        <td>{{ netbox.get_function|default:"N/A" }}</td>
    </tr>

    <tr>
        <th>Organization</th>
        <td><a href="{% url report-organization-organization netbox.organization.id %}">
            {{ netbox.organization }}</a></td>
    </tr>

    <tr>
        <th>Room</th>
        <td><a href="{% url report-netbox-room netbox.room.id %}">
            {{ netbox.room }}</a></td>
    </tr>

    <tr>
        <th>Serial number</th>
        <td>{{ netbox.device.serial|default:"N/A" }}</td>
    </tr>

    <tr>
        <th>Software</th>
        <td>{{ netbox.device.software_version|default:"N/A" }}</td>
    </tr>

    <tr>
        <th>IP address</th>
        <td><a href="{% url ipdevinfo-details-by-addr netbox.ip %}">
            {{ netbox.ip }}</a></td>
    </tr>

    <tr>
        <th>Prefix</th>
        <td>
            {% with netbox.get_filtered_prefix as prefix %}
                {% if prefix %}
                    <a href="{% url report-prefix-prefix prefix.id %}">
                        {{ prefix }}</a>
                {% else %}
                    N/A
                {% endif %}
            {% endwith %}
        </td>
    </tr>

{% if netbox.category.is_sw or netbox.category.is_edge %}
    <tr>
        {% with netbox.get_uplinks as uplinks %}
            <th>Uplink{{ uplinks|pluralize }}</th>
            <td>
                {% if uplinks %}
                    {% if uplinks|length_is:1 %}
                        From <a href="{{ uplinks.0.this.get_absolute_url }}">
                            {{ uplinks.0.this }}</a><br />
                        To <a href="{{ uplinks.0.other.get_absolute_url }}">
                            {{ uplinks.0.other }}</a>
                    {% else %}
                        <ul>
                        {% for uplink in uplinks %}
                            <li>
                                From <a href="{{ uplink.this.get_absolute_url }}">
                                    {{ uplink.this }}</a><br />
                                To <a href="{{ uplink.other.get_absolute_url }}">
                                    {{ uplink.other }}</a>
                            </li>
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% else %}
                    N/A
                {% endif %}
            </td>
        {% endwith %}
    </tr>
{% endif %}

    <tr>
        <th># of modules</th>
        <td><a href="{% url report-modules-netbox netbox.id %}">
            {{ netbox.module_set.count }}</a></td>
    </tr>

    <tr>
        <th># of switch ports</th>
        <td><a href="{% url report-swport-netbox netbox.id %}">
            {{ netbox.get_swports.count }}</a></td>
    </tr>

    <tr>
        <th># of router ports</th>
        <td><a href="{% url report-gwport-netbox netbox.id %}">
            {{ netbox.get_gwports.count }}</a></td>
    </tr>

    <tr>
        <th colspan="2">Status</th>
    </tr>

    <tr>
        <th>Uptime</th>
        <td>
            {{ netbox.get_up_display|capfirst }}
            {% ifequal netbox.up netbox.UP_UP %}
                for {{ netbox.up_since|timesince }}
            {% endifequal %}
        </td>
    </tr>

{% with netbox.get_availability as stats %}
    <tr>
        <th>Availability</th>
        <td>
            {% if stats %}
                {% with stats.availability as a %}
                    <a href="{% url rrdviewer-rrd-by-ds-tf a.data_source.id,"day" %}">
                        {% if a.day %}
                            {{ a.day|floatformat:2 }}%
                        {% else %}
                            (N/A)
                        {% endif %}
                        last day</a>,
                    <a href="{% url rrdviewer-rrd-by-ds-tf a.data_source.id,"week" %}">
                        {% if a.week %}
                            {{ a.week|floatformat:2 }}%
                        {% else %}
                            (N/A)
                        {% endif %}
                        last week</a>,
                    <a href="{% url rrdviewer-rrd-by-ds-tf a.data_source.id,"month" %}">
                        {% if a.month %}
                            {{ a.month|floatformat:2 }}%
                        {% else %}
                            (N/A)
                        {% endif %}
                        last month</a>
                {% endwith %}
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>

    <tr>
        <th>Response time</th>
        <td>
            {% if stats %}
                {% with stats.response_time as rt %}
                    <a href="{% url rrdviewer-rrd-by-ds-tf rt.data_source.id,"day" %}">
                        {% if rt.day %}
                            {{ rt.day|floatformat:3 }}{{ rt.data_source.units }}
                        {% else %}
                            (N/A)
                        {% endif %}
                        last day</a>,
                    <a href="{% url rrdviewer-rrd-by-ds-tf rt.data_source.id,"week" %}">
                        {% if rt.week %}
                            {{ rt.week|floatformat:3 }}{{ rt.data_source.units }}
                        {% else %}
                            (N/A)
                        {% endif %}
                        last week</a>,
                    <a href="{% url rrdviewer-rrd-by-ds-tf rt.data_source.id,"month" %}">
                        {% if rt.month %}
                            {{ rt.month|floatformat:3 }}{{ rt.data_source.units }}
                        {% else %}
                            (N/A)
                        {% endif %}
                        last month</a>
                {% endwith %}
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
{% endwith %}

    <tr>
        <th>First discovered</th>
        <td>{{ netbox.discovered|date|default:"N/A" }}
            {{ netbox.discovered|time }}</td>
    </tr>

    <tr>
        <th>Last updated</th>
        <td>{{ netbox.last_updated|date|default:"N/A" }}
            {{ netbox.last_updated|time }}</td>
    </tr>

    <tr>
        <th colspan="2">Statistics</th>
    </tr>
    <tr>
        <th></th>
        <td>
            {% with netbox.get_rrd_data_sources as dss %}
                {% if dss|length %}
                    <ul>
                    {% for ds in dss %}
                        <li><a href="{{ ds.get_absolute_url }}">
                            {{ ds.description }}</a></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    N/A
                {% endif %}
            {% endwith %}
        </td>
    </tr>

    <tr>
        <th colspan="2">Actions</th>
    </tr>
    <tr>
        <th></th>
        <td>
            <ul>
                <li><a href="{% url seeddb-edit-object "netbox",netbox.id %}">
                    Edit IP device</a></li>
                <li><a href="{% url maintenance-new-netbox netbox.id %}">
                    Schedule maintenance</a></li>
                <li><a href="{% url devicemanagement-history-netbox netbox.id %}">
                    View device history</a></li>
                <li><a href="{% url ipinfo-host netbox.sysname %}">
                    View in IP Info</a></li>
            </ul>
        </td>
    </tr>
{% else %}
    <caption>IP Address</caption>
    <tr>
        <th>Status</th>
        <td>Sysname or IP "{{ host_info.host }}" is not monitored by NAV</td>
    </tr>

    {% if prefix.net_address %}
    <tr>
        <th>Subnet</th>
        <td>{{ prefix.net_address }}</td>
    </tr>
    {% endif %}

    {% if prefix.vlan.vlan %}
    <tr>
        <th>VLAN</th>
        <td>{{ prefix.vlan.vlan }}</td>
    </tr>

    <tr>
        <th>- Usage</th>
        <td>{{ prefix.vlan.usage }}</td>
    </tr>

    <tr>
        <th>- Description</th>
        <td>{{ prefix.vlan.description }}</td>
    </tr>

    <tr>
        <th>Organization</th>
        <td>{{ prefix.vlan.organization }}</td>
    </tr>

    <tr>
        <th>- Optional #1</th>
        <td>{{ prefix.vlan.organization.optional_1 }}</td>
    </tr>

    <tr>
        <th>- Optional #2</th>
        <td>{{ prefix.vlan.organization.optional_2 }}</td>
    </tr>

    <tr>
        <th>- Optional #3</th>
        <td>{{ prefix.vlan.organization.optional_3 }}</td>
    </tr>
    {% endif %}

    {% if arp %}
    <tr>
        <th>Found in ARP data</th>
        <td>{{ arp.start_time }}</td>
    </tr>

    <tr>
        <th>Last seen with MAC</th>
        <td>{{ arp.mac }}</td>
    </tr>

    <tr>
        <th>- On switch</th>
        <td>{{ cam.sysname }}{% if cam.netbox.ip %} ({{ cam.netbox.ip }}){% endif %}</td>
    </tr>

    <tr>
        <th>- On module</th>
        <td>{{ cam.module }}</td>
    </tr>

    <tr>
        <th>- On port</th>
        <td>{{ cam.port }}</td>
    </tr>
    {% endif %}
{% endif %}
</table>
</div>


<div id="hostinfo">
<table class="listtable">
    <caption>DNS: {{ host_info.host }}</caption>

    <thead>
        <tr>
            <th>IP address</th>
            <th>Reverse name</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th colspan="2">
                {{ host_info.addresses|length }}
                address{{ host_info.addresses|length|pluralize:"es" }} found
            </th>
        </tr>
    </tfoot>

    <tbody>
    {% if host_info.addresses %}
        {% for address in host_info.addresses %}
        <tr class="{% cycle oddrow,evenrow %}">
            <td>
                <a href="{% url ipdevinfo-details-by-addr address.addr %}">
                    {{ address.addr }}</a>
            </td>
            <td>
                    {% if address.name %}
                        <a href="{% url ipdevinfo-details-by-name address.name %}">{{ address.name }}</a>
                    {% endif %}
                    {% if address.error %}
                        ({{ address.error }})
                    {% endif %}
            </td>
        </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>No addresses found.</td>
        </tr>
    {% endif %}
    </tbody>
</table>
</div>


{% if netbox %}
<div id="alerts">
<table class="listtable">
    <caption>
        Alerts last {{ alert_info.days_back }}
        day{{ alert_info.days_back|pluralize }}
    </caption>

    <thead>
        <tr>
            <th>Event</th>
            <th>Start</th>
            <th>End</th>
            <th>Downtime</th>
        </tr>
    </thead>

    <tfoot>
        <tr>
            <th colspan="4">
                {% if alert_info.is_more_alerts %}
                    Showing {{ alert_info.alerts|length }} of
                    {{ alert_info.count }} alerts, see
                    <a href="{% url devicemanagement-history-netbox netbox.id %}">
                    Device History</a> for all
                {% else %}
                    {{ alert_info.alerts|length }}
                    alert{{ alert_info.alerts|length|pluralize }} found, see
                    <a href="{% url devicemanagement-history-netbox netbox.id %}">Device History</a> for details
                {% endif %}
            </th>
        </tr>
    </tfoot>

    <tbody>
    {% if alert_info.count %}
        {% for a in alert_info.alerts %}
            <tr class="{% cycle oddrow,evenrow %}">
                <td title="{{ a.message|default:"" }}">{{ a.type }}</td>
                <td>{{ a.alert.start_time|date|default:"N/A" }}
                    {{ a.alert.start_time|time }}</td>
                {% if a.alert.is_open %}
                    <td class="status_down">Unresolved</td>
                {% else %}
                    <td>{{ a.alert.end_time|date|default:"N/A" }}
                        {{ a.alert.end_time|time }}</td>
                {% endif %}
                <td>
                    {% if a.alert.is_stateful %}
                        {% if a.alert.is_open %}
                            {{ a.alert.start_time|timesince }}
                        {% else %}
                            {{ a.alert.start_time|timesince:a.alert.end_time }}
                        {% endif %}
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td>No matching alerts found.</td>
        </tr>
    {% endif %}
    </tbody>
</table>
</div>
{% endif %}


<hr class="floatclear" />


{% if netbox and netbox.service_set.count %}

<div id="services">
<table class="listtable">
    <caption>Services at {{ netbox.get_short_sysname }}</caption>
    {% with netbox.service_set.all as service_list %}
        {% include "ipdevinfo/service-list-table.html" %}
    {% endwith %}
</table>
</div>

{% endif %}


{% if netbox %}
{% if netbox.module_set.count or netbox.interface_set.count %}

<div id="ports">
    <div class="tabs">
        <ul>
            {% if netbox.get_swports.count %}
                <li{% ifequal port_view.perspective 'swportstatus' %} class="tabactive"{% endifequal %}>
                    <a href="?view=swportstatus#ports">Switch port status</a>
                </li>
                <li{% ifequal port_view.perspective 'swportactive' %} class="tabactive"{% endifequal %}>
                    <a href="?view=swportactive#ports">Switch port activity</a>
                </li>
            {% endif %}
            {% if netbox.get_gwports.count %}
                <li{% ifequal port_view.perspective 'gwportstatus' %} class="tabactive"{% endifequal %}>
                    <a href="?view=gwportstatus#ports">Router port status</a>
                </li>
            {% endif %}
        </ul>
    </div>

    <div class="tabcontent">
        {% ifequal port_view.perspective 'swportactive' %}
            <form action="" method="get">
                <input type="hidden" name="view" value="swportactive" />
                <p class="infobox">
                    Activity based on CAM records since
                    {{ port_view.activity_interval_start|date }}.
                    {{ activity_interval_form.interval.label }}:
                    {{ activity_interval_form.interval }}
                    <button type="submit">Recheck activity</button>
                    {% if not port_view.activity_complete_data %}
                        <em>
                            Warning: CAM data is only available for {{
                            port_view.activity_data_interval }}
                            day{{ port_view.activity_data_interval|pluralize }}.
                        </em>
                    {% endif %}
                </p>
            </form>
        {% endifequal %}

        {% for module in port_view.modules %}
            {% include "ipdevinfo/module-port-view.html" %}
        {% endfor %}

        {% include "ipdevinfo/port-legend.html" %}
    </div>
</div>

{% endif %}
{% endif %}

{% endblock %}
