{% extends "ipdevinfo/base.html" %}

{% block content %}

<table class="vertitable">
    <caption>Host: {{ host_info.host }}</caption>

    <tr class="oddrow">
        <th>Addresses</th>
        <td>
            {% if host_info.addresses %}
            <ul>
            {% for address in host_info.addresses %}
                <li>
                    <a href="{% url ipdevinfo-details-by-addr address.addr %}">{{ address.addr }}</a>
                    {% if address.name %}
                        (<a href="{% url ipdevinfo-details-by-name address.name %}">{{ address.name }}</a>)
                    {% endif %}
                    {% if address.error %}
                        ({{ address.error }})
                    {% endif %}
                </li>
            {% endfor %}
            </ul>
            {% else %}
            None found
            {% endif %}
        </td>
    </tr>
</table>

<table class="vertitable">
{% if netbox %}
    <caption>IP Device: {{ netbox.sysname }}</caption>
    <tr class="oddrow">
        <th>IP</th>
        <td>{{ netbox.ip }}</td>
    </tr>
    <tr class="evenrow">
        <th>DNS name</th>
        <td>{{ netbox.sysname }}</td>
    </tr>
{% else %}
    <caption>IP Device</caption>
    <tr>
        <td>Sysname or IP "{{ host_info.host }}" was not found in NAV</td>
    </tr>
{% endif %}
</table>

{% endblock %}
