<div class="legend">
<table>
    <tr>
        <th>Speed legend</th>
        <td><span class="port passive">11</span> Not active</td>
        <td><span class="port disabled">11</span> Disabled</td>
        <td><span class="port Mb10">11</span> 10 Mbit</td>
        <td><span class="port Mb100">11</span> 100 Mbit</td>
        <td><span class="port Mb1000">11</span> 1 Gbit</td>
        <td><span class="port Mb10000">11</span> 10 Gbit</td>
    </tr>
    <tr>
        <th>Frame legend</th>
        <td><span class="port hduplex">11</span> Half duplex</td>
        <td><span class="port fduplex">11</span> Full duplex</td>
        <td><span class="port trunk">11</span> Trunk</td>
        <td><span class="port blocked">11</span> Blocked</td>
        <td></td>
        <td></td>
    </tr>
</table>
<p><em>Hold mouse over port for info, click for details.</em></p>
</div>
