{% extends "ipdevinfo/base.html" %}

{% block content %}

<table class="vertitable">
    <caption>Module {{ module.module_number }}
    at {{ module.netbox.sysname }}</caption>
    <tr>
        <th>At IP device</th>
        <td><a href="{{ module.netbox.get_absolute_url }}">{{ module.netbox }}</a></td>
    </tr>
    <tr>
        <th>Model</th>
        <td>{{ module.model }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ module.description }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
        {% ifequal module.up module.UP_UP %}
            Up
        {% else %}
            Down for {{ down.down_since|timesince }}
        {% endifequal %}
        </td>
    </tr>
    <tr>
        <th># of switch ports</th>
        <td><a href="#FIXME-link-to-report">{{ module.get_swports.count }}</a></td>
    </tr>
    <tr>
        <th># of router ports</th>
        <td><a href="#FIXME-link-to-report">{{ module.get_gwports.count }}</a></td>
    </tr>
</table>

{% if module.get_swports.count %}
<h3>Switch port status</h3>

{% include "ipdevinfo/module-swport-status.html" %}

<h3>Switch port activity</h3>

{% include "ipdevinfo/module-swport-active.html" %}
{% endif %}

{% if module.get_gwports.count %}
<h3>Router port status</h3>

{% include "ipdevinfo/module-gwport-status.html" %}
{% endif %}

{% include "ipdevinfo/port-legend.html" %}

{% endblock %}
