{% extends "ipdevinfo/base.html" %}

{% block content %}

<table class="vertitable">
    <caption>Module {{ module.module_number }}
    at {{ module.netbox.sysname }}</caption>
    <tr>
        <th>At IP device</th>
        <td><a href="{{ module.netbox.get_absolute_url }}">
            {{ module.netbox }}</a></td>
    </tr>
    <tr>
        <th>Model</th>
        <td>{{ module.model }}</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>{{ module.description }}</td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
        {% ifequal module.up module.UP_UP %}
            Up
        {% else %}
            Down for {{ down.down_since|timesince }}
        {% endifequal %}
        </td>
    </tr>
    <tr>
        <th># of switch ports</th>
        <td><a href="{% url report-swport-module module.netbox.id,module.module_number %}">
            {{ module.get_swports.count }}</a></td>
    </tr>
    <tr>
        <th># of router ports</th>
        <td><a href="{% url report-gwport-module module.netbox.id,module.module_number %}">
            {{ module.get_gwports.count }}</a></td>
    </tr>
</table>

{% if swportstatus_view.ports|length %}
    <h3>Switch port status</h3>
    {% with swportstatus_view as module %}
        {% include "ipdevinfo/module-port-view.html" %}
    {% endwith %}
{% endif %}

{% if swportactive_view.ports|length %}
    <h3>Switch port activity</h3>
    {% with swportactive_view as module %}
        <form action="" method="get">
            <p>
                Activity based on CAM records from the last
                {{ module.activity_interval }}
                day{{ module.activity_interval|pluralize }}.
                {{ activity_interval_form.interval.label }}:
                {{ activity_interval_form.interval }}
                <button type="submit">Recheck activity</button>
            </p>
        </form>
        {% include "ipdevinfo/module-port-view.html" %}
    {% endwith %}
{% endif %}

{% if gwportstatus_view.ports|length %}
    <h3>Router port status</h3>
    {% with gwportstatus_view as module %}
        {% include "ipdevinfo/module-port-view.html" %}
    {% endwith %}
{% endif %}

{% include "ipdevinfo/port-legend.html" %}

{% endblock %}
