{% extends "ipdevinfo/base.html" %}

{% block content %}

<table class="vertitable">
    <caption>Interface {{ port.interface }}<br />
    at {{ port.module.netbox.get_short_sysname }}</caption>
    <tr>
        <th>At IP device</th>
        <td><a href="{{ port.module.netbox.get_absolute_url }}">
            {{ port.module.netbox }}</a></td>
    </tr>
    <tr>
        <th>Interface</th>
        <td>{{ port.interface }}</td>
    </tr>
    <tr>
        <th>At module</th>
        <td><a href="{{ port.module.get_absolute_url }}">
            Module {{ port.module.module_number }}</a></td>
    </tr>
{% ifequal port_type 'swport' %}
    <tr>
        <th>Port</th>
        <td>{{ port.port }}</td>
    </tr>
{% endifequal %}
    <tr>
        <th>Port name</th>
        <td>{{ port.port_name }}</td>
    </tr>
    <tr>
        <th>IfIndex</th>
        <td>{{ port.ifindex }}</td>
    </tr>
    <tr>
        <th>Link</th>
        <td>{{ port.get_link_display|capfirst }}</td>
    </tr>
    <tr>
        <th>Speed</th>
        <td>{{ port.speed }} Mbit</td>
    </tr>
{% ifequal port_type 'swport' %}
    <tr>
        <th>Duplex</th>
        <td>{{ port.get_duplex_display|capfirst }}</td>
    </tr>
    <tr>
        <th>Trunk</th>
        <td>{{ port.trunk|yesno:"Yes,No,N/A" }}</td>
    </tr>
    <tr>
        <th>Configured VLAN</th>
        <td>{{ port.vlan|default:"N/A" }}</td>
    </tr>
    <tr>
        <th>Detected VLANs</th>
        <td>
            {% with port.swportvlan_set.all as swportvlans %}
                {% if swportvlans %}
                    <ul>
                    {% for swportvlan in swportvlans %}
                        <li>
                            <a href="{% url report-swporttrunk-vlan swportvlan.vlan.id %}">
                            {{ swportvlan.vlan.vlan }},
                            {{ swportvlan.vlan.net_ident }}</a>,
                            direction: {{ swportvlan.get_direction_display }}
                        </li>
                    {% endfor %}
                    </ul>
                {% else %}
                    None
                {% endif %}
            {% endwith %}
        </td>
    </tr>
{% endifequal %}
{% if port.module.netbox.category.is_sw or port.module.netbox.category.is_edge %}
    <tr>
        <th>To IP device</th>
        <td>
            {% if port.to_netbox %}
                <a href="{{ port.to_netbox.get_absolute_url }}">
                    {{ port.to_netbox }}</a>
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>To switch port</th>
        <td>
            {% if port.to_swport %}
                <a href="{{ port.to_swport.get_absolute_url }}">
                    {{ port.to_swport }}</a>
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
{% endif %}
{% ifequal port_type 'swport' %}
    <tr>
        <th>Patched to</th>
        <td>
            {% if port.patch_set.count %}
                <ul>
                {% for patch in port.patch_set.all %}
                    <li>Jack {{ patch.cabling.jack }}, in room
                        <a href="{% url report-netbox-room patch.cabling.room.id %}">
                        {{ patch.cabling.room.id }}</a></li>
                {% endfor %}
                </ul>
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>Last CAM record</th>
        <td>
            {% with port.get_last_cam_record.end_time|timesince as time_since %}
                {% if time_since %}
                    {{ time_since }} ago
                {% else %}
                    Today
                {% endif %}
            {% endwith %}<br />
        </td>
    </tr>
    <tr>
        <th>Actions</th>
        <td>
            <ul>
                <li><a href="{% url machinetracker-swport port.module.netbox.sysname,port.module.module_number,port.interface %}">
                    Track MAC behind port</a></li>
            </ul>
        </td>
    </tr>
{% endifequal %}
{% ifequal port_type 'gwport' %}
    <tr>
        <th>Prefixes</th>
        <td>
            {% if port.gwportprefix_set.all %}
                <ul>
                {% for gwprefix in port.gwportprefix_set.all %}
                    <li>
                        <a href="{% url report-prefix-prefix gwprefix.prefix.id %}">
                        {{ gwprefix.gw_ip}}/{{ gwprefix.prefix.get_prefix_length }}</a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                N/A
            {% endif %}
        </td>
    </tr>
{% endifequal %}
</table>

<h3>Statistics</h3>

<p>FIXME: Add statistics.</p>

{% endblock %}
