{% extends "ipdevinfo/base.html" %}

{% block content %}

<table class="vertitable">
    <caption>Interface {{ port.interface }}
    at {{ port.module.netbox.sysname }}</caption>
    <tr>
        <th>At IP device</th>
        <td><a href="{{ port.module.netbox.get_absolute_url }}">
            {{ port.module.netbox }}</a></td>
    </tr>
    <tr>
        <th>At module</th>
        <td><a href="{{ port.module.get_absolute_url }}">
            Module {{ port.module.module_number }}</a></td>
    </tr>
    <tr>
        <th>Interface</th>
        <td>{{ port.interface }}</td>
    </tr>
    <tr>
        <th>IfIndex</th>
        <td>{{ port.ifindex }}</td>
    </tr>
{% ifequal port_type 'swport' %}
    <tr>
        <th>Port</th>
        <td>{{ port.port }}</td>
    </tr>
{% endifequal %}
    <tr>
        <th>Port name</th>
        <td>{{ port.port_name }}</td>
    </tr>
    <tr>
        <th>Link</th>
        <td>{{ port.get_link_display|capfirst }}</td>
    </tr>
    <tr>
        <th>Speed</th>
        <td>{{ port.speed }} Mbit</td>
    </tr>
{% ifequal port_type 'swport' %}
    <tr>
        <th>Trunk</th>
        <td>{{ port.trunk|yesno|capfirst }}</td>
    </tr>
{% endifequal %}
    <tr>
        <th>To IP device</th>
        <td>
            {% if port.to_netbox %}
                <a href="{{ port.to_netbox.get_absolute_url }}">
                    {{ port.to_netbox }}</a>
            {% else %}
                Unknown
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>To switch port</th>
        <td>
            {% if port.to_swport %}
                <a href="{{ port.to_swport.get_absolute_url }}">
                    {{ port.to_swport }}</a>
            {% else %}
                Unknown
            {% endif %}
        </td>
    </tr>
{% ifequal port_type 'swport' %}
    <tr>
        <th>Actions</th>
        <td>
            <ul>
                <li><a href="{% url machinetracker-swport port.module.netbox.sysname,port.module.module_number,port.interface %}">
                    Track MAC behind port</a></li>
            </ul>
        </td>
    </tr>
{% endifequal %}
</table>

<h3>Statistics</h3>

<p>FIXME: Add statistics.</p>

{% ifequal port_type 'gwport' %}
<h3>Prefixes</h3>

<ul>
    {% if port.gwportprefix_set.all %}
        {% for gwprefix in port.gwportprefix_set.all %}
            <li><a href="{% url report-prefix gwprefix.prefix.id %}">
                {{ gwprefix.prefix.net_address }}</a></li>
        {% endfor %}
    {% else %}
    <li>No prefixes found.</li>
    {% endif %}
</ul>
{% endifequal %}

{% endblock %}
