{% extends "useradmin/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  {% if group %}
    <h4>Editing group "{{ group.name }}"</h4>
  {% else %}
    <h4>Create new group</h4>
  {% endif %}

  <div class="row">
    <div class="column small-12">
      <a href="{% url useradmin-group_list %}">Back to group list</a>

      {% comment %} ACTION BUTTONS {% endcomment %}
      <ul class="button-group right">
        {% if group and not group.is_system_group %}
          <li>
            <a href="{% url useradmin-group_delete group.id %}"
               class="button small alert">Delete group</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>

  <div class="row">

    <div class="column medium-4">
      {% if group_form %}
        {% crispy group_form %}
      {% endif %}
    </div>

    {% if group %}
    <div class="column medium-8">

      {% comment %} PRIVILEGES {% endcomment %}
      <h5>Privileges</h5>

      {% if group.privilege_set.all %}
        <table class="expand table-hover">
          <tbody>
          {% for privilege in group.privilege_set.all %}
            <tr>
              <td>{{ privilege.type }}</td>
              <td class="break-word">{{ privilege.target }}</td>
              <td class="text-right">
                <a href="{% url useradmin-group_privilege_remove group.id,privilege.id %}"
                   class="button secondary small">
                  Revoke
                </a>
              </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>Group has no privileges set.</p>
      {% endif %}

      {% if privilege_form %}
        <p>Grant privileges <i class="fa fa-info-circle has-tip" data-tooltip data-options="hoverDelay: 2000" title="
          See <a href='http://docs.python.org/howto/regex.html'>
          this HOWTO</a> on the Regular expressions used for
          matching targets for privileges like 'web_access'.
          "></i></p>

        {% crispy privilege_form %}
      {% endif %}


        {% comment %} GROUP MEMBERSHIPS {% endcomment %}
        <h5>Group memberships</h5>

        {% if group.accounts.all %}
          <table class="table-hover expand">
            <tbody>
            {% for account in group.accounts.all %}
              <tr>
                <td>
                  <a href="{% url useradmin-account_detail account.id %}">{{ account }}</a>
                </td>
                <td class="text-right">
                  {% if not group.is_protected_group %}
                    <a href="{% url useradmin-group_account_remove group.id,account.id %}"
                       class="button small secondary">Remove</a>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        {% else %}
          <p>Group does not have any members.</p>
        {% endif %}

        {% crispy account_form %}

      </div>
    </div>


    {% endif %}

  </div>

{% endblock %}
