#encoding UTF-8
## $Id$
## Contains a template function for displaying a SearchBox object
##
## Copyright 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Author: Hans Jørgen Hoel <hansjorg@orakel.ntnu.no>
##

#def searchbox($s)
#if $s.form
<form name="$s.formCname" method="$s.method"><p>
#end if
<table title="$s.help">
    <tr>
        <th>$s.title</th>
    </tr>
    <tr>
        <td>

<p>
    <select name="$s.typeCname">
    #for $sid,$options in $s.searches.items()
        #if $s.selected == $sid
        <option value="$sid" selected="selected">$options[0]</option>
        #else
        <option value="$sid">$options[0]</option>
        #end if
    #end for
    </select>
    <input size="$s.inputSize" type="text" name="$s.inputCname" />
    <button type="submit" name="$s.submitCname">$s.submitText</button>
</p>

#if $s.error
<p class="error">$s.error</p>
#end if

#if $s.result
<p>$s.result</p>
#end if

        </td>
    </tr>
</table>
#if $s.form
</form>
#end if
#end def
