<td class="action-cell">
  <label>
    <input class='alert-action' type="checkbox">
  </label>
</td>
<td><a href="{{ subject_url }}">{{ subject }}</a></td>
<td>{{ alert_type }}</td>
<td>{{ formatted_start_time }}</td>
<td>
  {{#if on_maintenance}}<i class="fa fa-wrench fa-lg" title="On maintenance"></i>{{/if}}
  {{#if acknowledged}}<i class="fa fa-check-circle-o fa-lg" title="Acknowledged"></i>{{/if}}
</td>
<td class="toggle-info-cell">
 <a href="javascript:void(0);" title="More information"><i class="fa fa-caret-down fa-lg"></i></a>  
</td>
