<td class="action-cell">
  <label>
    <input class='alert-action' type="checkbox">
  </label>
</td>
<td><a href="{{ subject_url }}">{{ subject }}</a></td>
<td>{{ alert_type }}</td>
<td>{{ formatted_start_time }}</td>
<td>
  <a href="javascript:void(0);" title="More information"><i class="fa fa-info-circle fa-lg"></i></a>
</td>
