<tr {{#unless end_time}}class="stateless"{{/unless}}>
    <td>
        <a href="{{ subject_url }}">{{ subject }}</a>
        {{#if on_maintenance}}<i class="fa fa-wrench" title="On maintenance"></i>{{/if}}
        {{#if acknowledgement}}<i class="fa fa-check-circle-o" title="Acknowledged"></i>{{/if}}
    </td>
    <td>{{ alert_type.name }}</td>
    <td class="alerttime">
        {{ dateFormat start_time }}
        {{#unless end_time}}<i class="fa fa-exclamation-circle" title="Stateless"></i>{{/unless}}
    </td>
</tr>
