<tr>
    <td>
        <a href="{{ subject_url }}">{{ subject }}</a>
        {{#if on_maintenance}}<i class="fa fa-wrench" title="On maintenance"></i>{{/if}}
        {{#if acknowledgement}}<i class="fa fa-check-circle-o" title="Acknowledged"></i>{{/if}}
        {{#unless end_time}}<i class="fa fa-bolt" title="Stateless"></i>{{/unless}}
    </td>
    <td>{{ alert_type.name }}</td>
    <td>{{ dateFormat start_time }}</td>
</tr>
