{% extends "base.html" %}

{% block base_content %}

{% block tabs %}
    <div class="tabs">
        <ul>
            <li{% if active.account_list %} class="tabactive"{% endif %}>
                <a href="{% url useradmin-account_list %}">Account List</a>
            </li>
            <li{% if active.account_new %} class="tabactive"{% endif %}>
                <a href="{% url useradmin-account_new %}">New Account</a>
            </li>
            {% block extra_tab_account %}{% endblock %}
            <li{% if active.group_list %} class="tabactive"{% endif %}>
                <a href="{% url useradmin-group_list %}">Group List</a>
             </li>
            <li{% if active.group_new %} class="tabactive"{% endif %}>
                <a href="{% url useradmin-group_new %}">New group</a>
            </li>
            {% block extra_tab_group %}{% endblock %}
        </ul>
    </div>
{% endblock %}
{% block outercontent %}
    <div class="tabcontent">
        {% if messages %}
            <ul class="messages">
                {% for m in messages %}
                    <li class="{{ m.type }}">{{ m.message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% block content %}
            Replace me!
        {% endblock %}
    </div>
{% endblock %}

{% endblock %}
