<div
    data-id="{{ navlet.id }}"
    class="navlet {{ navlet.navlet_class }}"
    {% if navlet.highlight %}
    data-highlight="true"
    {% endif %}
>
    <div
        hx-get="{% url 'get-user-navlet' navlet.id %}"
        hx-vals='{"mode": "VIEW"}'
        hx-target="[data-id='{{ navlet.id }}']"
        hx-trigger="load"
        hx-swap="innerHTML"
        hx-on::response-error="this.parentElement.innerHTML = '<div class=&quot;alert-box alert&quot;>' + ([401, 403].includes(event.detail.xhr.status) ? 'Not allowed' : 'Could not load widget') + '</div>'"
        hx-on::send-error="this.parentElement.innerHTML = '<div class=&quot;alert-box alert&quot;>Could not load widget</div>'"
    ></div>
    <script>
        require(['spin'], function (Spinner) {
            const node = document.querySelector("[data-id='{{ navlet.id }}']");
            const spinner = new Spinner({zIndex: 10});
            node.addEventListener('htmx:beforeRequest', function () {
                spinner.spin(node);
                node.classList.add('loading');
            });
            node.addEventListener('htmx:afterRequest', function () {
                spinner.stop();
                node.classList.remove('loading');
            });
        })
    </script>
</div>
