<div
    data-id="{{ navlet.id }}"
    class="navlet {{ navlet.navlet_class }}"
    {% if navlet.highlight %}
    data-highlight="true"
    {% endif %}
>
    <div
        hx-get="{% url 'get-user-navlet' navlet.id %}"
        hx-vals='{"mode": "VIEW"}'
        hx-target="[data-id='{{ navlet.id }}']"
        hx-trigger="load"
        hx-swap="innerHTML"
    ></div>
    <script>
        require(['libs/spin.min'], function (Spinner) {
            const node = document.querySelector("[data-id='{{ navlet.id }}']");
            const spinner = new Spinner({zIndex: 10});
            node.addEventListener('htmx:beforeRequest', function () {
                spinner.spin(node);
            });
            node.addEventListener('htmx:afterRequest', function () {
                spinner.stop();
            });
        })
    </script>
</div>
