{% extends 'navlets/base.html' %}

{% block navlet-content %}

  {% if metric %}

    <div class="alert-box"></div>
    <small class="alert-update-timestamp right">Last update: <span></span></small>

    <script>
     require(['plugins/navlet_alert'], function (AlertController) {
         new AlertController(
             $('[data-id={{ navlet.navlet_id }}]'),
             {
                 dataUrl: '{{ data_url }}',
                 onState: +'{{ on_state }}',
                 onMessage: '{{ on_message }}',
                 offMessage: '{{ off_message }}',
                 alertType: '{{ alert_type }}'
             }
         );
     })
    </script>

  {% else %}

    {# If we have no metric, we need to ask user to configure widget #}
    <div class="alert-box info">
      <a href="javascript:void(0);" class="configure-link">Configure the widget</a> to see alert status.
    </div>

    <script>
     (function(){
         const $navlet = $('[data-id="{{ navlet.navlet_id }}"]');
         $navlet.find('.configure-link').click(function(e) {
             e.preventDefault();
             const $switch = $navlet.find('.navlet-mode-switch')[0];
             if ($switch) {
                 htmx.trigger($switch, 'click');
             }
         });
     })();
    </script>

  {% endif %}

{% endblock %}
