<div class="row navlet-header">
  <div class="small-12 column">
    {% if navlet.can_edit or current_user_data.sudoer %}
      <ul class="navlet-action-group button-group">
        <li>
          <span class="navlet-drag-button right">
            <i class="fa fa-arrows" title="Drag to move widgets to where you want them"></i>
          </span>
        </li>
{% comment %} Leave this uncommented in case we want it back.
        <li>
          <a href="javascript:void(0);" class="navlet-reload-button right">
            <i class="fa fa-refresh" title="Reload"></i>
          </a>
        </li>
{% endcomment %}
        {% if navlet.is_editable %}
          <li>
            <a href="javascript:void(0);" class="navlet-mode-switch right"
               data-mode="{{ navlet.mode }}">
              {% if navlet.mode == 'VIEW' %}
                <i class="fa fa-gear" title="Edit"></i>
              {% else %}
                <i class="fa fa-check-square-o" title="View"></i>
              {% endif %}
            </a>
          </li>
        {% endif %}
        <li>
          <a
              class="right"
              hx-get="{% url 'remove-user-navlet-modal' navlet.navlet_id %}"
              hx-trigger="click"
              hx-target="body"
              hx-swap="beforeend"
          >
            <i class="fa fa-times-circle" title="Remove"></i>
          </a>
        </li>
      </ul>
    {% endif %}

    <div class="title-container">
      <span class="subheader" title="{{ navlet.description }}"
        {% if navlet.is_title_editable %}
          {% if navlet.can_edit or current_user_data.sudoer %}
              data-set-title="{% url 'set-navlet-preferences' %}"
          {% endif %}
        {% endif %}>
        <span class="navlet-title">{{ navlet.title }}</span>
          {% if navlet.is_title_editable %}
            {% if navlet.can_edit or current_user_data.sudoer %}
              <i class="fa fa-edit"></i>
            {% endif %}
          {% endif %}
      </span>
    </div>

    {% if navlet.is_deprecated %}
      <div class="alert-box warning with-icon deprecated-warning">
        This widget is deprecated. You may still use it, but it might not
        function properly.
      </div>
    {% endif %}

  </div>
</div>

<div class="row navlet-body">
  <div class="small-12 columns">
    {% block navlet-content %}
    {% endblock %}
  </div>
</div>

<div class="float-clear"></div>
