{% extends 'navlets/base.html' %}

{% block navlet-content %}
  <form action="{% url 'get-user-navlet' navlet.navlet_id %}">
    {% csrf_token %}

    <div class="row">
      <div class="medium-8 column">
        <label for="feedreader_blog_url">
          URL to feed
          <input id="feedreader_blog_url" type="text" name="blogurl"
                 placeholder="URL" value="{{ blogurl|default_if_none:'' }}">
        </label>
      </div>

      <div class="medium-4 column">
        <label for="max_posts">
          Maximum posts
          <input id="max_posts" type="number" name="maxposts" min="1"
                 value="{{ maxposts|default:'5' }}">
        </label>
      </div>

    </div>
    <input type="submit" class="button small" value="Save">
  </form>
{% endblock %}
