{% extends 'navlets/base.html' %}

{% block navlet-content %}

  <p>
    Welcome to NAV. You have excellent taste in network management utilities.
  </p>

  <div class="row">
    {% if request.account.is_admin %}
      <div class="column medium-6">
        <button id="getting-started-wizard" class="button small full-width">
          Take the 30 second tour
        </button>
      </div>
      <div class="column medium-6">
        <a href="{% url 'seeddb-netbox-edit' %}?guide=true"
           class="button small secondary full-width">
          Take me to the setup guide
        </a>
      </div>
    {% else %}
      <div class="column small-12">
        <button id="getting-started-wizard" class="button small full-width">
          Take the 30 second tour
        </button>
      </div>
    {% endif %}
  </div>

  <img src="{{ STATIC_URL }}images/navlets/nav-tour.svg"
       class="full-width"
       alt="NAV tour">

{% endblock %}
