{% extends 'navlets/base.html' %}

{% block navlet-content %}

    <div class="row">
        <div class="large-6 columns">

            <ul class="clean">
                {% for title,link in nav_links.items %}
                    {% if forloop.counter <= half %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endif %}

                {% endfor %}
            </ul>

        </div>
        <div class="large-6 columns">

            <ul class="clean">
                {% for title,link in nav_links.items %}
                    {% if forloop.counter > half %}
                        <li><a href="{{ link }}">{{ title }}</a></li>
                    {% endif %}

                {% endfor %}
            </ul>

        </div>
    </div>

{% endblock %}
