{% extends 'navlets/base.html' %}

{% block navlet-content %}

  <form action="{% url 'get-user-navlet' navlet.navlet_id %}">
    {% csrf_token %}
    <label>
      Choose report
      <select name="report_id">
        <option value="">---</option>
        {% for report in report_list %}
          <option value="{{ report.id }}"
                  {% if current_report_id == report.id %}selected{% endif %}>
            {{ report.title }}
          </option>
        {% endfor %}
      </select>
    </label>
    <label>
      Query string
      <input type="text" name="query_string" value="{{ query_string|default:'' }}">
    </label>
    <input type="submit" class="button small" value="Show this report">
  </form>

{% endblock %}
