{% extends 'navlets/base.html' %}
{% load info %}

{% block navlet-content %}

  {% if results %}

    <table class="listtable status2table expand">
      <caption>
        <a href="{% url 'status2-index' %}" title="Go to the status page">Status now</a>
        <span class="last-updated pull-right">{{ last_updated }}</span>
      </caption>
      <thead>
        <tr>
          <th>Subject</th>
          <th>Type</th>
          <th>Start time</th>
          {% for key, value in extra_columns %}
            <th>{{ value }}</th>
          {% endfor %}
        </tr>
      </thead>

      <tbody>
        {% for result in results %}
          <tr>
            <td>
              {% if result.subject_url %}
                {# check for interface #}
                {% if result.subject_type == 'Interface' %}
                  <div class="nav-tooltip" data-position="fixed">
                    <a
                        href="{{ result.subject_url }}"
                        hx-get="{% url 'api:1:interface-detail' result.subid %}"
                        hx-headers='{"Accept": "text/x-nav-html"}'
                        hx-trigger="mouseenter once"
                        hx-target="#interface-tooltip-{{ result.id }}"
                        hx-swap="innerHTML"
                        class="unstyled-tooltip"
                        aria-describedby="#interface-tooltip-{{ result.id }}"
                    >
                        {{ result.subject }}
                    </a>
                    <span id="interface-tooltip-{{ result.id }}" role="tooltip">
                    </span>
                  </div>
                {% else %}
                  <a href="{{ result.subject_url }}">{{ result.subject }}</a>
                {% endif %}
              {% else %}
                {{ result.subject }}
              {% endif %}
              {% if result.on_maintenance %}<i class="fa fa-wrench" title="On maintenance"></i>{% endif %}
              {% if result.acknowledgement %}<i class="fa fa-check-circle-o" title="Acknowledged"></i>{% endif %}
            </td>
            <td>
              <a href="{{ result.event_details_url }}" title="See event details">
                {{ result.alert_type.name }}
              </a>
            </td>
            <td class="alerttime">
              {{ result.formatted_time }}
              {% if not result.end_time %}<i class="fa fa-warning" title="Stateless" style="color: #FF8F00"></i>{% endif %}
            </td>
              {% for key, value in extra_columns %}
                <td>
                    {% with result.netbox_object|get_attr:key as column %}
                        {% if column.get_absolute_url %}
                            <a href="{{ column.get_absolute_url }}">{{ column }}</a>
                        {% else %}
                            {{ column }}
                        {% endif %}
                    {% endwith %}
                </td>
              {% endfor %}
          </tr>
        {% endfor %}

      </tbody>

    </table>

  {% else %}
    <div class="alert-box success">
      According to your criteria, everything seems ok
    </div>

    <div class="status2-widget-footer">
      <a href="{% url 'status2-index' %}" title="Go to the status page">Go to the status page</a>
      <small class="last-updated">Last updated: {{ last_updated }}</small>
    </div>

  {% endif %}

  <script>
  (function () {
    const navletid = "{{ navlet.account_navlet.pk }}";
    const navletElement = document.querySelector(`.navlet[data-id="${navletid}"]`);
    globalThis.initializeTooltips(navletElement);
  })()
  </script>

{% endblock %}
