{% extends 'navlets/base.html' %}

{% block navlet-content %}
    {% if boxes_down %}
        <table class="listtable expand table-hover">

            <caption>
                <a href="{% url 'status-index' %}">Status now</a>
                &ndash;
                <span class="subtitle">
                            {{ boxes_down|length }} IP device{{ boxes_down|pluralize }} down,
                            of these {{ num_shadow }} are in shadow
                </span>
            </caption>

            <thead>
            <tr>
                <th>Sysname</th>
                <th class="hide-for-medium-down">IP</th>
                <th>Downtime</th>
            </tr>
            </thead>

            <tbody>
            {% for b in boxes_down %}
                <tr>
                    <td>
                        <a href="{% url 'ipdevinfo-details-by-name' b.netbox.sysname %}">
                            {{ b.netbox.sysname }}</a></td>
                    <td class="hide-for-medium-down">{{ b.netbox.ip }}</td>
                    <td>{{ b.start_time|timesince:date_now }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% if problems %}
          <p class="alert-box alert">
            There are also {{ problems }} other problems.
            <a href="{% url 'status-index' %}">See the full list.</a>
          </p>
        {% endif %}
    {% else %}
        <p class="alert-box success">No IP-devices down</p>
        {% if problems %}
          <p class="alert-box alert">
            However there are {{ problems }} other problems.
            <a href="{% url 'status-index' %}">See the full list.</a>
          </p>
        {% endif %}
    {% endif %}

{% endblock %}
