{% extends 'navlets/base.html' %}

{% block navlet-content %}
    <form
        hx-post="{% url 'get-user-navlet' navlet.navlet_id %}"
        hx-target="[data-id='{{ navlet.navlet_id }}']"
        hx-swap="innerHTML"
    >
        {% csrf_token %}
        <label for="status_refresh_interval">
            Refresh interval (in seconds)
            <input id="status_refresh_interval" type="text" name="interval" value="{{ interval }}">
        </label>
        <input type="submit" class="button small" value="Set interval">
    </form>
{% endblock %}
