<h4>Add patch</h4>
<p>Connect interface <em class="interfacename">{{ interface_name }}</em> to</p>
<form
        hx-post="{% url 'seeddb-patch-save' %}"
        hx-target="tr[data-interfaceid='{{ interface_id }}']"
        hx-swap="outerHTML"
>
    {% csrf_token %}
    <select id="cable-search" name="cableid" style="width: 100%;">
        <option></option>
    </select>
    <input name="split" type="text" placeholder="Split" value="">
    <input class="interfaceid" name="interfaceid" type="hidden" value="{{ interface_id }}">
    <button id="save-patch-button" class="button small">Save patch</button>
</form>

{% block base_header_additional_head %}
<script>
    require(['select2'], function () {
        $(document).ready(function () {
            $('#cable-search').select2({
                placeholder: 'Search for cable',
                allowClear: true,
                ajax: {
                    url: '/api/1/cabling/',
                    dataType: 'json',
                    data: getDataPayload,
                    processResults: handleResults
                },
                minimumInputLength: 2
            });
        })

        function getDataPayload(params) {
            return {
                search: params.term,
                room: NAV.seeddb_add_patch.room,
                available: 1
            };
        }

        function handleResults(data) {
            return {
                results: processSearchResults(data),
            };
        }

        function processSearchResults(data) {
            return data.results.map(function (obj) {
                return {
                    id: obj.id,
                    text: getSearchResultsText(obj),
                };
            });
        }

        function getSearchResultsText(result) {
            const baseText = 'Jack ' + result.jack;
            const details = [result.building, result.target_room, result.description]
                .filter(function (x) {
                    return Boolean(x);
                }).join(', ');
            return [baseText, details].join(' - ');

        }
    });
</script>
{% endblock %}
