            <form class="{{attrs.form_class }}" method="{{ attrs.method }}"{% if attrs.action %} action="{{ attrs.action }}"{% endif %}>
              <fieldset>
                <legend>{{ attrs.legend }}</legend>
                <div class="row">
                  <div class="columns medium-8">
                    {% for field in filter_form %}
                    <div id="div_id_{{ field.name }}" class="ctrlHolder{% if field.errors %} error {% endif %}">
                      {{ field.label_tag }}
                      {{ field }}
                      {% for error in field.errors %}
                      <small id="error_{{ forloop.counter}}_id_{{ field.name }}" class="error">
                        {{ error }}
                      </small>
                      {% endfor %}
                    </div>
                    {% endfor %}
                  </div>
                  <div class="columns medium-4">
                    <label>&nbsp;</label>
                    <input type="submit" name="submit" value="{{ attrs.submit_value }}" class="submit button postfix" id="submit-id-submit">
                  </div>
                </div>
              </fieldset>
            </form>
