{% extends 'custom_crispy_templates/_form_content.html' %}
{% load forms %}

{% block form_fields %}
  <div class="row">
    <div class="columns large-4">
      <fieldset>
        <legend>Inventory</legend>
        {% show_field form.ip %}
        <div id="verify-address-feedback"></div>
        {% show_field form.room %}
        {% show_field form.category %}
        {% show_field form.organization %}
      </fieldset>
    </div>

    <div class="columns large-4">
      <fieldset>
        <legend>Management profiles</legend>
        {% show_field form.profiles %}
        <div id="check-connectivity-button">
            <button
                name="check_connectivity"
                class="small"
                hx-post="{% url 'seeddb-netbox-check-connectivity' %}"
                hx-include="#id_ip, #id_profiles"
                hx-target="#connectivity-results"
                hx-trigger="click"
                hx-indicator=".connectivity-indicator"
                type="button"
            >
                Check connectivity
            </button>
            <div class="htmx-indicator connectivity-indicator">
                <img src="/static/images/select2/select2-spinner.gif" alt="Loading spinner" />
            </div>
        </div>
        <div id="connectivity-results"></div>
      </fieldset>

      <fieldset>
        <legend>Collected info</legend>
        <div id="collected-info-fields">
            {% include 'seeddb/_seeddb_collected_info.html' with sysname=form.instance.sysname type=form.instance.type %}
        </div>
      </fieldset>
    </div>

    <div class="columns large-4">
      <fieldset>
        <legend>Meta information</legend>
        {% show_field form.function %}
        {% show_field form.groups %}
        {% show_field form.data %}
        <a class='advanced-toggle'>
          <i class='fa fa-caret-square-o-right'>&nbsp;</i>Advanced options
        </a>
        <div class="advanced">
          <small class="alert-box">NB: An IP Device cannot both have a master and have virtual instances</small>
          {% show_field form.master %}
          {% show_field form.virtual_instance %}
        </div>
      </fieldset>
    </div>
  </div>
{% endblock form_fields %}
