{% extends "seeddb/base.html" %}

{% block content %}

  <p><a href="{{ back_url }}">Back to list</a></p>

  <h4>Bulk import</h4>

    <form enctype="multipart/form-data" action="" method="post">
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div class="alert-box alert">{{ form.non_field_errors }}</div>
        {% endif %}

        {% if processed_objects %}
            <table class="listtable">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Line</th>
                        <th>Input</th>
                        <th>Remark</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in processed_objects %}
                    <tr>
                        <td>
                          {% if obj.status == "ok" %}
                            <img src="{{ STATIC_URL }}images/lys/green.png" alt="{{ obj.status }}" />
                          {% else %}{% if obj.status == "other" %}
                            <img src="{{ STATIC_URL }}images/lys/yellow.png" alt="{{ obj.status }}" />
                          {% else %}{% if obj.status == "syntax" %}
                            <img src="{{ STATIC_URL }}images/lys/red.png" alt="{{ obj.status }}" />
                          {% else %}
                            {{ obj.status }}
                          {% endif %}{% endif %}{% endif %}
                        </td>
                        <td>{{ obj.line_number }}</td>
                        <td>{{ obj.input }}</td>
                        <td>{{ obj.message|capfirst }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <input type="submit" name="confirm" value="Import" class="button small"/>
        {% endif %}

        {% comment %}
        If elements are hidden it'a a part of the preview. We need to print
        out the form hidden to get it in the request
        {% endcomment %}
        {% if form.bulk_file.is_hidden %}
            {{ form.bulk_file }}
        {% else %}
          <fieldset>
            <legend>{{ form.bulk_file.label }}</legend>
            {{ form.bulk_file }}
          </fieldset>
        {% endif %}

        {% if form.bulk_data.is_hidden %}
            <input type="hidden" name="bulk_data" value="{{ form.cleaned_data.bulk_data }}" id="id_bulk_data">
        {% else %}
          <fieldset>
            <legend>{{ form.bulk_data.label }}</legend>
            {{ form.bulk_data }}
          </fieldset>
        {% endif %}

        {% if not form.is_bound or not form.is_valid %}
            <input type="submit" value="Preview import" class="button small"/>
        {% endif %}

    </form>

{% endblock %}
