{% extends "seeddb/base.html" %}

{% block content %}
<form action="" method="post">
  {% csrf_token %}

  <p><a href="{{ back_url }}">Back to list</a></p>

<table class="listtable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Referenced by</th>
        </tr>
    </thead>

    <tbody>
    {% for o in objects %}
        <tr>
            <td>
                <input type="checkbox" name="object" value="{{ o.id }}" checked="checked" />
            </td>
            <td>{{ o }}</td>
            <td>
                <ul>
                {% for related in o.related_objects %}
                    <li>{{ related.object_name|capfirst }}, {{ related }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>
    <input type="hidden" name="delete" value="true" />
    <input type="submit" name="confirm" value="Confirm delete" class="button small"/>
</p>

</form>
{% endblock %}
