{% extends "seeddb/base.html" %}

{% block base_header_additional_head %}
  {{ block.super }}
  <style>
   form .listtable .select2-container {
       margin: 0;
   }
  </style>
{% endblock %}


{% block content %}

  <p><a href="{{ back_url }}">Back to list</a></p>

  {% comment %}
  Because of the generic build of seeddb, we need to handle a special case
  when a map is present.
  {% endcomment %}

  <div class="row">
    <div class="small-12 column">
      <h4>{{ title }}
        {% if detail_page_url %}
          <a href="{{ detail_page_url }}"
              title="See more information">
              {{ detail_page_name }}
          </a>
        {% else %}
          {% if detail_page_name %}
              "{{ detail_page_name }}"
          {% endif %}
        {% endif %}
      </h4>
    </div>

    <div class="large-6 column{% if not map %} end{% endif %}">
      <form class="seeddb-edit" action="" method="post">
        <fieldset>
          <legend>Attributes</legend>
          {% block formfields %}
  	        {% include 'custom_crispy_templates/_form_content.html' %}
          {% endblock %}
        </fieldset>
        <input type="submit" name="submit" value="Save {{ verbose_name }}" class="submit button small left" id="submit-id-submit">
      </form>

      {% if object and object.pk %}
      <ul class="button-group right">
        {% if delete_url_name %}
        <li>
          <a href="{% url delete_url_name object_id=object.pk %}" class="button small secondary" title="Delete this {{ verbose_name }}">Delete</a>
        </li>
        {% endif %}
        {% if copy_url %}
        <li>
          <a href="{{ copy_url }}" class="button small secondary" title="{{ copy_title }}">Copy</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

    </div>

    {% if map %}
      <script>
       var rooms = [];
       {% for position in roompositions %}
       rooms.push({{ position }});
       {% endfor %}
      </script>

      <div class="large-6 column">
        <div id="map-container">

          <div style="overflow: auto;">
            <button id="get_location_trigger" class="tiny right">Use my location</button>
            <h5>Click the map to update the geo position</h5>
          </div>
          <div id="map" class="mapwrapper"></div>
        </div>
      </div>
    {% endif %}

  </div> {# row #}

{% endblock %}
