{% extends "seeddb/base.html" %}


{% block base_header_additional_head %}
  {{ block.super }}
  <style>
   form .listtable .select2-container {
       margin: 0;
   }
  </style>
{% endblock %}


{% block content %}

  <p><a href="{{ back_url }}">Back to list</a></p>

  {% comment %}
  Because of the generic build of seeddb, we need to handle a special case
  when a map is present.
  {% endcomment %}

  <div class="row">
    <div class="small-12 column">
      <h4>{{ title }}</h4>
    </div>

    <div class="{% if map %}large-6{% else %}small-12{% endif %} column">
      <form class="seeddb-edit" action="" method="post">
        <fieldset>
          <legend>Attributes</legend>
          <table class="listtable {% if map %}expand{% endif %} edit">
            {% block formfields %}
              {% for field in form %}
                <tr>
                  <th>
                    <label for="{{ field.auto_id }}">
                      <span class="{{ field.field.required|yesno:"required," }}">
                        {{ field.label }}
                      </span>
                    </label>
                  </th>
                  <td>
                    {{ field }}
                    {% if field.errors %}
                      {{ field.errors }}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}
              <tr>
                <th></th>
                <td><input type="submit" value="Save" class="button small">
                </td>
              </tr>
            {% endblock %}
          </table>
        </fieldset>
      </form>

      {% if object and object.pk %}
      <ul class="button-group">
        {% if delete_url_name %}
        <li>
          <a href="{% url delete_url_name room_id=object.pk %}" class="button small secondary" title="Delete this {{ verbose_name }}">Delete this {{ verbose_name }}</a>
        </li>
        {% elif delete_url %}
        <li>
          <form action="{{ delete_url }}" method="post">
            <input type="hidden" name="object" value="{{ object.pk }}">
            <input type="submit" name="delete" value="Delete this {{ verbose_name }}"
                   class="button small secondary">
          </form>
        </li>
        {% endif %}
        {% if copy_url %}
        <li>
          <a href="{{ copy_url }}" class="button small secondary" title="{{ copy_title }}">Copy</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

    </div>

    {% if map %}
      <script>
       var rooms = [];
       {% for position in roompositions %}
       rooms.push({{ position }});
       {% endfor %}
      </script>

      <div class="large-6 column">
        <div id="map-container">

          <div style="overflow: auto;">
            <button id="get_location_trigger" class="tiny right">Use my location</button>
            <h5>Click the map to update the geo position</h5>
          </div>
          <div id="map" class="mapwrapper"></div>
        </div>
      </div>
    {% endif %}

  </div> {# row #}

{% endblock %}
