{% extends "seeddb/edit.html" %}

{% block formfields %}
<tr>
    <th>Net type</th>
    <td>{{ object.net_type }}</td>
</tr>
<tr>
    <th>Net ident</th>
    <td>{{ object.net_ident }}</td>
</tr>
<tr>
    <th>Description</th>
    <td>{{ object.description }}</td>
</tr>
{{ block.super }}
{% endblock %}
{% block crispyfields %}
<div>
    <p>Net type<br/>
    {{ object.net_type }}</p>
</div>
<div>
    <p>Net ident<br/>
    {{ object.net_ident }}</p>
</div>
<div>
    <p>Description<br/>
    {{ object.description }}</p>
</div>
{{ block.super }}
{% endblock %}
