{% extends 'seeddb/base.html' %}

{% block base_header_additional_head %}
  {{ block.super }}
  <script>
   NAV.seeddb_add_patch = {
       room: "{{ netbox.room.pk }}"
   }
  </script>
  <style>
   #choose-netbox-form .select2-container {
       width: 25em;
       display: inline-block;
   }
   #choose-netbox-form input { vertical-align: top; }
  </style>
{% endblock %}

{% block content %}

  <p><a href="{{ back_url }}">Back to list</a></p>

  <form id="choose-netbox-form" method="get" action="">
    <select name="netboxid" class="select2">
      <option value="">--- Choose IP Device ---</option>
      {% for n in netboxes %}
        <option value="{{ n.pk }}"
                {% if n.pk == netbox.pk %}selected="selected"{% endif %}>
          {{ n }}
        </option>
      {% endfor %}
    </select>
    <input type="submit" class="button small" value="See patch list">
  </form>

  {% if netbox %}
    {% if cables %}
      <table id="interface-table" class="listtable">
        <caption>{{ netbox }} located in {{ netbox.room }}</caption>
        <thead>
          <tr>
            <td>IfName</td>
            <td>IfAlias</td>
            <td>Patch</td>
            <td>&nbsp;</td>
          </tr>
        </thead>

        <tbody>
          {% for interface in netbox.get_physical_ports_sorted %}
            {% include 'seeddb/_patch_table_row.html' with interface=interface %}
          {% endfor %}
        </tbody>
      </table>

    {% else %}
      <div class="alert-box info">There are no cables in {{ netbox.room }}</div>
    {% endif %}
  {% endif %}
{% endblock %}
