{% extends "seeddb/base.html" %}

{% block content %}

<table class="listtable seeddbtable expand">
    <caption>IP devices and services</caption>
    <tbody>
        <tr>
            <td>
                <a href="{% url 'seeddb-netbox' %}">IP Devices</a>
            </td>
            <td class="info">
                Input seed information on the IP devices you want to monitor.
            </td>
            <td><a href="{% url 'seeddb-netbox-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-netbox-bulk' %}">Bulk import</a></td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'seeddb-service' %}">Services</a>
            </td>
            <td class="info">
                Set up service monitoring.
            </td>
            <td><a href="{% url 'seeddb-service-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-service-bulk' %}">Bulk import</a></td>
        </tr>
        <tr>
          <td>
            <a href="{% url 'seeddb-management-profile' %}">Management Profiles</a>
          </td>
          <td class="info">
            Set up management profiles for IP devices
          </td>
          <td><a href="{% url 'seeddb-management-profile-edit' %}">Add</a></td>
          <td><a href="{% url 'seeddb-management-profile-bulk' %}">Bulk import</a></td>
        </tr>
    </tbody>
</table>

<table class="listtable seeddbtable expand">
    <caption>Rooms and locations</caption>
    <tbody>
        <tr>
            <td>
                <a href="{% url 'seeddb-room' %}">Rooms</a>
            </td>
            <td class="info">
              Register all wiring closets and server rooms that contain IP
              devices which NAV monitors.
            </td>
            <td><a href="{% url 'seeddb-room-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-room-bulk' %}">Bulk import</a></td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'seeddb-location' %}">Locations</a>
            </td>
            <td class="info">
              Rooms are organised in locations.
            </td>
            <td><a href="{% url 'seeddb-location-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-location-bulk' %}">Bulk import</a></td>
        </tr>
    </tbody>
</table>

<table class="listtable seeddbtable expand">
    <caption>Organizations and usage categories</caption>
    <tbody>
        <tr>
            <td>
                <a href="{% url 'seeddb-organization' %}">Organizations</a>
            </td>
            <td class="info">
              Register all organizational units that are relevant, i.e. all
              units that have their own subnets or devices.
            </td>
            <td><a href="{% url 'seeddb-organization-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-organization-bulk' %}">Bulk import</a></td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'seeddb-usage' %}">Usage categories</a>
            </td>
            <td class="info">
              Subnet usage categories.
            </td>
            <td><a href="{% url 'seeddb-usage-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-usage-bulk' %}">Bulk import</a></td>
        </tr>
    </tbody>
</table>

<table class="listtable seeddbtable expand">
    <caption>Types and vendors</caption>
    <tbody>
        <tr>
            <td>
                <a href="{% url 'seeddb-type' %}">Types</a>
            </td>
            <td class="info">
              The type registry lists all types of SNMP-enabled network
              equipment that are recognizable by NAV, identified by their
              sysObjectID.
            </td>
            <td><a href="{% url 'seeddb-type-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-type-bulk' %}">Bulk import</a></td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'seeddb-vendor' %}">Vendors</a>
            </td>
            <td class="info">
              A simple list of known device vendors in use in your network.
            </td>
            <td><a href="{% url 'seeddb-vendor-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-vendor-bulk' %}">Bulk import</a></td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'seeddb-netboxgroup' %}">Device groups</a>
            </td>
            <td class="info">
              Create groups to further categorize your devices.
            </td>
            <td><a href="{% url 'seeddb-netboxgroup-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-netboxgroup-bulk' %}">Bulk import</a></td>
        </tr>
    </tbody>
</table>

<table class="listtable seeddbtable expand">
    <caption>Vlans and special subnets</caption>
    <tbody>
        <tr>
            <td>
                <a href="{% url 'seeddb-vlan' %}">Vlan</a>
            </td>
            <td class="info">
                Update the organization, usage and vlan value of a vlan in
                cases where this is not automatically discovered by NAV.
                Organization and usage will only be automatically discovered
                when the NAV router interface description guidelines are
                followed.
            </td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'seeddb-prefix' %}">Prefix</a>
            </td>
            <td class="info">
                All prefixes that are routed are automatically detected by NAV.
                In addition you should manually register one or more scope
                prefixes that defines your total IP address pool (both for IPv4
                and IPv6).  To complete the picture of prefix allocation you
                may also manually register reserved prefixes (when these
                prefixes later are routed the prefix will automatically change
                to the proper network type).
            </td>
            <td><a href="{% url 'seeddb-prefix-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-prefix-bulk' %}">Bulk import</a></td>
        </tr>
    </tbody>
</table>

<table class="listtable seeddbtable expand">
    <caption>Cabling system</caption>
    <tbody>
        <tr>
            <td>
                <a href="{% url 'seeddb-cabling' %}">Cabling</a>
            </td>
            <td class="info">
                Document your horizontal cabling system.
            </td>
            <td><a href="{% url 'seeddb-cabling-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-cabling-bulk' %}">Bulk import</a></td>
        </tr>
        <tr>
            <td>
                <a href="{% url 'seeddb-patch' %}">Patch</a>
            </td>
            <td class="info">
                Register the cross connects in the wiring closets.
            </td>
            <td><a href="{% url 'seeddb-patch-edit' %}">Add</a></td>
            <td><a href="{% url 'seeddb-patch-bulk' %}">Bulk import</a></td>
        </tr>
    </tbody>
</table>

{% endblock %}
