{% extends "seeddb/base.html" %}

{% block base_header_additional_head %}
  <style>
   .tree-list .fa {
       cursor: pointer;
   }
   .nav-tooltip dl {
       font-size: inherit;
       margin-bottom: 0;
   }
   .nav-tooltip h5 {
       border-bottom: 1px solid salmon;
   }
  </style>
{% endblock %}


{% block footer_scripts %}
  {{ block.super }}
  <script>
   $('.tree-list').on('click', '.branch > i.fa', function(event) {
       $(event.target).toggleClass('fa-toggle-right fa-toggle-down').nextAll('.child').slideToggle();
   });

   $('#collapse-all').click(function(){
       $('.tree-list .child').hide();
       $('.tree-list [class*="fa-toggle-"]').removeClass('fa-toggle-down').addClass('fa-toggle-right');
   });

   $('#expand-all').click(function(){
       $('.child').show();
       $('.tree-list [class*="fa-toggle-"]').removeClass('fa-toggle-right').addClass('fa-toggle-down');
   });
  </script>
{% endblock %}


{% block content %}

  <button id="collapse-all" class="button small">Collapse all</button>
  <button id="expand-all" class="button small">Expand all</button>

  <ul class="tree-list no-bullet">
    {% for branch in roots %}
      {% include 'seeddb/fragments/branch.html' %}
    {% endfor %}
  </ul>


{% endblock %}
