{% extends "seeddb/base.html" %}
{% load crispy_forms_tags %}

{% block base_header_additional_head %}
  {{ block.super }}
  <script>
    NAV.urls.seeddb = NAV.urls.seeddb || {};
    NAV.urls.get_readonly = "{% url 'seeddb-netbox-get-readonly' %}";
    NAV.urls.seeddb.verifyAddress = "{% url 'seeddb-netbox-get-address-info' %}";
    require(['src/seeddb_netbox']);
  </script>
{% endblock %}

{% block content %}

  <p><a href="{{ back_url }}">Back to list</a></p>

{% if object.deleted_at %}
<div class="alert-box warning with-icon">{{object}} was scheduled for deletion at {{ object.deleted_at }}</div>
{% else %}

  {% for message in messages %}
    <div class="alert-box with-icon {{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}

  <div class="row">
    <div class="small-6 column">
      {% if object %}
        <h4>Edit
          <a href="{% url 'ipdevinfo-details-by-id' object.pk %}"
             title="See device info for {{ object.sysname }}">
            {{ object.sysname }}
          </a>
        </h4>
      {% else %}
        <h5>Add new IP device</h5>
      {% endif %}
    </div>
    <div class="small-6 column">
      {% if object %}
        <form action="{% url 'seeddb-netbox' %}" method="post" class="pull-right">
          <input type="hidden" name="object" value="{{ object.pk }}"/>
          <input type="submit" name="delete" value="Delete this IP device" class="button small secondary"/>
        </form>
      {% endif %}
    </div>
  </div>

  {% crispy form %}


  <ol class="joyride-list" data-joyride>
    <li>
      <p>Use the Seed Database tool to enable NAV to gather information from
        your network.</p>
      <p>
        Lets take a look at the most important bit - adding IP Devices to NAV.
      </p>
    </li>
    <li data-id="add-netbox-form" data-options="tip_location:top;">
      <p>To enable NAV to collect information from an IP Device, you need to
        give some basic information about it.</p>
    </li>
    <li data-id="id_ip">
      <p>The IP-address of the device is needed. Both IPv4 and IPv6 addresses
        can be used.</p>
    </li>
    <li data-id="id_room">
      <p>The room is the physical location of the device. You can add more
        rooms by clicking the "Room" tab.</p>
      <p>
        A room can be given a position that enables map placement in some of NAV's tools.
      </p>
    </li>
    <li data-id="id_category">
      <p>The category determines how NAV collects data from the device. More
        information about categories can be found
        <a href="/doc/intro/getting-started.html#selecting-a-device-category"
           target="_blank" title="Selecting a device category">in the documentation</a>.
      </p>
    </li>
    <li data-id="id_organization">
      <p>The organization indicates who is operationally responsible for the equipment.</p>
    </li>
    <li data-id="id_read_only">
      <p>The SNMP read only community is essential. Without the community
        NAV has no means to collect information from the device.</p>
      <p>Remember that the SNMP Agent on the device also has to be active.</p>
    </li>
    <li data-id="id_read_write">
      <p>If you want to configure your device using the tools Arnold or
        PortAdmin you need to set the read/write community.</p>
    </li>
    <li>
      <p>
        If you have a big network with many devices you should check out the
        <a href="/doc/intro/getting-started.html#importing-multiple-devices-in-bulk" target="_blank"
           title="Link to bulk import information">bulk import</a> functionality
        in NAV. Bulk import enables you to import all your devices in one big swoop.
      </p>
    </li>
    <li data-button="End">
      <p>
        If you want more information about using the Seed Database tool to organize your data, please read the
        <a href="/doc/intro/getting-started.html" title="Getting started" target="_blank">&laquo;Getting started&raquo;</a>
        and the
        <a href="/doc/intro/getting-organized.html" title="Getting organized" target="_blank">&laquo;Getting organized&raquo;</a>
        guides.
      </p>
      <p>We wish you a great NAV experience!</p>
    </li>
  </ol>

{% endif %}
{% endblock %}
