{% extends "seeddb/base.html" %}

{% block base_header_additional_head %}
  {{ block.super }}
  <script>
    NAV.urls.seeddb = NAV.urls.seeddb || {};
    NAV.urls.seeddb.validateIpAddress = "{% url 'seeddb-netbox-validate-ip-address' %}";
    require(['src/seeddb_netbox', 'src/seeddb_netbox_wizard']);
  </script>
{% endblock %}

{% block content %}

  <p><a href="{{ back_url }}">Back to list</a></p>

{% if object.deleted_at %}
<div class="alert-box warning with-icon">{{object}} was scheduled for deletion at {{ object.deleted_at }}</div>
{% else %}

  {% for message in messages %}
    <div class="alert-box with-icon {{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}

  <div class="row">
    <div class="small-12 column">
      {% if object and object.pk %}
      <h4>{{ action|capfirst }}
        <a href="{% url 'ipdevinfo-details-by-id' object.pk %}"
           title="See device info for {{ object.sysname }}">
          {{ object.sysname }}
        </a>
      </h4>
      {% else %}
      <h4>{{ title }}</h4>
      {% endif %}
    </div>
  </div>

  <form  id="seeddb-netbox-form" method="post">
    {% include 'seeddb/_seeddb_netbox_form_content.html' %}
    <input type="submit" name="save_ip_device" value="Save IP device" class="submit button small left" id="submit-id-save_ip_device" />
  </form>

  {% endif %}

  {% if object and object.pk%}
  <ul class="button-group right">
    {% if delete_url_name %}
    <li><a href="{% url delete_url_name object_id=object.pk %}" class="button small secondary" title="Delete this {{ verbose_name }}">Delete</a></li>
    {% endif %}
    {% if copy_url and not object.deleted_at %}
    <li><a href="{{ copy_url }}" class="button small secondary" title="{{ copy_title }}">Copy</a></li>
    {% endif %}
  </ul>
  {% endif %}
{% endblock %}
