{% extends "seeddb/base.html" %}

{% block content %}

  <p><a href="{{ back_url }}">Back to list</a></p>

  <h4>
    Choose IP Device and service handler
  </h4>

  <div class="row">
    <div class="column large-6 small-12">

      {# This form is ONLY FOR ADDING new service checkers (netbox-service combo) #}
      <form id="service_checker_add_form" action="" method="post">
        <fieldset>
          <legend>Add new service checker</legend>
          {% include 'custom_crispy_templates/_form_content.html' with form=choice_form %}
          <input type="submit" value="Continue" class="button small"/>
        </fieldset>
      </form>

    </div>
  </div>

{% endblock %}
