{% extends "seeddb/base.html" %}

{% block content %}

  <p><a href="{{ back_url }}">Back to list</a></p>

  {% if object %}
    <h4>
      Editing service <em>{{ handler }}</em> on <em>{{ netbox }}</em>
    </h4>
  {% else %}
    <h4>
      Add new service checker for <em>{{ handler }}</em> on <em>{{ netbox }}</em>
    </h4>
  {% endif %}

  <div class="row">
    <div class="column large-6 small-12">
      <form action="" method="post">
        <fieldset>
          <legend>Attributes</legend>
          {% include 'custom_crispy_templates/_form_content.html' with form=service_form %}
          {% if property_form.fields %}
            {% include 'custom_crispy_templates/_form_content.html' with form=property_form %}
          {% else %}
            <div class="alert-box">
              There are no attributes for this service.
              <strong>You just need to save the service</strong>.
            </div>
          {% endif %}
        </fieldset>
        <input class="button small left" type="submit" name="save" value="Save {{ verbose_name }}" />
      </form>

      {% if object and object.pk %}
      <ul class="button-group right">
        {% if delete_url_name %}
        <li>
          <a href="{% url delete_url_name object_id=object.pk %}" class="button small secondary" title="Delete this {{ verbose_name }}">Delete</a>
        </li>
        {% endif %}
        {% if copy_url %}
        <li>
          <a href="{{ copy_url }}" class="button small secondary" title="{{ copy_title }}">Copy</a>
        </li>
        {% endif %}
      </ul>
      {% endif %}

    </div>
  </div>


{% endblock %}
