# We actually need very little context to build a development image which
# mounts the source code as a volume, so we ignore everything except the few
# files we need to build the image
*

# We only need a few build tools and the requirements files, that is all
!tools/**/*
!requirements.txt
!constraints.txt
!tests/requirements.txt
!doc/requirements.txt
!requirements/**/*
