{% extends "machinetracker/base.html" %}

{% block content %}
  <form action="{% url 'machinetracker-ip' %}" method="get">
    <div id="search_form">
      <div class="row">
        <div class="medium-6 columns">
          <div class="row collapse">
            <div class="medium-9 columns {% if form.ip_range.errors %}error{% endif %}">
              {{ form.ip_range }}
              {% if form.ip_range.errors %}
                <small class="error">{{ form.ip_range.errors }}</small>
              {% endif %}
            </div>
            <div class="medium-3 columns">
              <input type="submit" value="Search" class="button postfix"/>
            </div>
          </div>

        </div>

        <div class="medium-6 columns">
          {% include 'machinetracker/_search_help_trigger.html' with tab_name='ip' %}
        </div>
      </div>

      <div class="row">
        <div class="medium-4 columns">
          <fieldset>
            <legend>Filters</legend>
            <div class="row machinetracker-filter">
              {% for filter in form.period_filter %}
                <div class="small-4 column">
                  {{ filter }}
                </div>
              {% endfor %}
            </div>
          </fieldset>
        </div>

        <div class="medium-4 columns">
          <fieldset>
            <legend>Period</legend>
            <div class="row machinetracker-filter">

              <div class="small-6 column machinetracker-filter-days">
                <label for="{{ form.days.auto_id }}" title="{{ form.days.help_text }}">
                  {{ form.days.label }}
                </label>
                {{ form.days }}
                {% if form.days.errors %}
                  <small class="error nomargin">{{ form.days.errors }}</small>
                {% endif %}
              </div>

              <div class="small-6 column">
                <label for="id_hide" title="Only show ip-addresses active now">
                  <input id="id_hide" name="days" type="checkbox"
                         value="-1"
                         onclick="document.getElementById('id_days').disabled = this.checked;"/>
                  &nbsp;Only Active
                </label>
              </div>
            </div>

          </fieldset>
        </div>

        <div class="medium-4 columns">
          <fieldset>
            <legend>Columns</legend>
            <div class="row machinetracker-filter">

              <div class="small-3 column">
                <label for="{{ form.netbios.auto_id }}"
                       title="{{ form.netbios.help_text }}">
                  {{ form.netbios }}
                  {{ form.netbios.label }}
                </label>
              </div>

              <div class="small-3 column">
                <label for="{{ form.dns.auto_id }}" title="{{ form.dns.help_text }}">
                  {{ form.dns }}
                  {{ form.dns.label }}
                </label>
              </div>

              <div class="small-3 column">
                <label for="{{ form.source.auto_id }}"
                       title="{{ form.source.help_text }}">
                  {{ form.source }}
                  {{ form.source.label }}
                </label>
              </div>

              <div class="small-3 column">
                <label for="{{ form.vendor.auto_id }}"
                       title="{{ form.vendor.help_text }}">
                  {{ form.vendor }}
                  {{ form.vendor.label }}
                </label>
              </div>

            </div>

          </fieldset>
        </div>

      </div>
    </div>


  </form>

  {% if ip_tracker %}
    <div class="results">
      {% include "machinetracker/ip_tracker.html" %}
    </div>
  {% elif ip_tracker != None %}
    <div class="alert-box">
      No results for {{ subnet_start }}-{{ subnet_end }}
    </div>
  {% endif %}

{% endblock %}
