<table id="tracker-table" class="listtable tablesorter">
    <caption>
        MAC Search results
        <span class="nav-tooltip">
            <i aria-describedby="hind_id_mac_result_exposition" class="fa fa-info-circle"></i>
            <span id="hint_id_mac_result_exposition" class="medium" role="tooltip">
                Please note that the MAC search results are <em>historic</em>
    data, while the information found at the interface details link is the
                <em>current</em> data on the interface. They may have no other
    connection than being related to the same interface at different points in
    time.
            </span>
        </span>
        <span class="subtitle right">
            {{ mac_tracker_count }} hit{{ mac_tracker_count|pluralize }}
        </span>
    </caption>

    <thead>
        <tr>
            <th colspan="2">Switch</th>
            <th>Module</th>
            <th colspan="2">Interface</th>
            <th>Start time</th>
            <th>End time</th>
            <th>Mac</th>
            {% if form_data.vendor %}
            <th>Vendor</th>
            {% endif %}
        </tr>
    </thead>

    <tbody>
    {% for key, result in mac_tracker.items %}
        {% for row in result %}
        {% if row.fishy %}<tr class="fishy-item">{% else %}<tr>{% endif %}
            <td>
                {% if row.netbox.sysname %}
                <a href="{% query 'machinetracker-swp' switch=row.netbox.sysname days=form_data.days vendor=form_data.vendor %}" title="Search for other machines on this switch">
                {{ row.netbox.sysname }}</a>
                {% else %}
                {{ row.sysname }}
                {% endif %}
            </td>
            <td>
                {% if row.netbox.sysname %}
                <a href="{% url 'ipdevinfo-details-by-name' row.netbox.sysname %}" title="Browse this switch (IP Device Info)">
                <img src="{{ STATIC_URL }}images/arpcam/ipinfolink.png" alt="IP Device info search" /></a>
                {% endif %}
            </td>
            <td>
                {{ row.module|default_if_none:"" }}
            </td>
            <td>
                {% with form_data.dns|yesno:"True," as dns %}
                <a href="{% query 'machinetracker-swp' switch=row.sysname module=row.module|default_if_none:'' port=row.port days=form_data.days vendor=form_data.vendor %}" title="Search for other machines on this port">
                {{ row.port }}</a>
                {% endwith %}
            </td>
            <td>
                {% if row.netbox.sysname and row.port %}
                <a href="{% url 'ipdevinfo-interface-details-by-name' row.netbox.sysname row.port %}" title="Browse this interface (IP Device Info)">
                <img src="{{ STATIC_URL }}images/arpcam/ipinfolink.png" alt="IP Info search" /></a>
                {% endif %}
            </td>
            <td>{{ row.start_time|date:"Y-m-d H:i" }}</td>
            <td>
                {% if row.still_active %}
                {{ row.still_active }}
                    {% if row.fishy %}{% include "machinetracker/fishy.html" %}{% endif %}
                {% else %}
                {{ row.end_time|date:"Y-m-d H:i" }}
                {% endif %}
            </td>
            <td>
                {% with form_data.dns|yesno:"True," as dns %}
                {% if forloop.first %}
                <a href="{% query 'machinetracker-mac' mac=row.mac days=form_data.days dns=dns vendor=form_data.vendor %}" title="Search for this MAC address">
                {{ row.mac }}</a>
                {% endif %}
                {% endwith %}
            </td>
            {% if form_data.vendor %}
            <td>
                {% if row.vendor %}
                    {{ row.vendor }}
                {% else %}
                    N/A
                {% endif %}
            </td>
            {% endif %}
        </tr>
        {% endfor %}
    {% endfor %}
    </tbody>

    <tfoot>
        <tr>
            <th colspan={{ colspan }}>{{ mac_tracker_count }}
            hit{{ mac_tracker_count|pluralize }}</th>
        </tr>
    </tfoot>
</table>
