<ul>
{% for gwport in ports %}
    <li id="gwport-{{ gwport.id }}">
        {% if gwport.has_children %}
        <img src="https://navdev.uninett.no/navAdmin/gfx/boxclosed_both.gif" onclick="openNode(this);" />
        {% else %}
        <img src="https://navdev.uninett.no/navAdmin/gfx/strek_bottom.gif" />
        {% endif %}
        <img src="https://navdev.uninett.no/navAdmin/gfx/gwport.gif" />
        {{ gwport.interface }}
        {% if gwport.to_netbox %}
            {% if gwport.to_swport.trunk %} ⇉ {% else %} → {% endif %}
             {{ gwport.to_netbox.sysname }}
        {% endif %}
        <ul style="list-style: none">
        {% for prefix in gwport.gwportprefix_set.all %}
        <li class="prefix">({{ prefix.prefix.net_address }}, {{prefix.prefix.vlan.net_type}}, {{prefix.prefix.vlan.net_ident}})</li>
        {% endfor %}
        </ul>
    </li>
{% endfor %}
</ul>
