{% extends "syslogger/base.html" %}



{% block content %}

<div id="loggerinfotabs" class="ui-helper-hidden">

<div id="moduletabs">
    <ul>
        <li><a title="search" href="{% url 'logger_search_group' %}">Search</a>
        </li>
        <li><a title="parsing_errors" href="{% url 'logger_errors' %}">Parsing
            errors?</a></li>
        <li><a title="priority_exceptions" href="{% url 'logger_priority_exceptions' %}">Priority
            exceptions</a></li>
    </ul>
</div>

</div>
{% endblock %}

