{% extends "base.html" %}

{% block base_header_additional_head %}
    <script type="text/javascript" src="/js/d3.v2.js"></script>
    <link rel="stylesheet" href="/style/netmap.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="/style/jqueryui/jquery-ui-1.8.21.custom.css" type="text/css" />
    <script type="text/javascript" data-main="/js/netmap/main" src="/js/netmap/libs/require/require.js"></script>
    <!-- check out https://github.com/jrburke/jqueryui-amd -->
{% endblock %}


{% block base_content %}
    <div class="clear" style="padding-top: 10px"></div>
    <div id="netmap_wrapper">

        <div id="netmap_main_view">

            <h2>{{ current_view.title }}</h2>


            <div id="netmapview_id" style="display:none">
                {{ current_view.viewid }}
            </div>
            <div id="chart_header"></div>
            <div id="loading_chart"></div>

        </div>
        <div id="netmap_left_sidebar">

            <span>Navigation</span>

            <div id="loadbar-chart">
            </div>

        </div>
        <div id="netmap_infopanel">

            <div id="list_views"></div>
            <div id="nodeinfo"></div>
        </div>
    </div>
    <div class="clear"></div>
{% endblock %}
