{% extends "base.html" %}

{% block base_header_additional_head %}
    <script type="text/javascript" src="/js/d3.v2.js"></script>
    <link rel="stylesheet" href="/style/netmap.css" media="screen" type="text/css" />
    <link rel="stylesheet" href="/style/jqueryui/jquery-ui-1.8.21.custom.css" type="text/css" />
    <script type="text/javascript" data-main="/js/netmap/main" src="/js/netmap/libs/require/require.js"></script>
{% endblock %}


{% block base_content %}

    <h2>Netmap backbone</h2>

    <!--[if lt IE 7]>
    <style media="screen" type="text/css">
    .col1 {
	    width:100%;
	}
    </style>
    <![endif]-->

    <div class="colmask holygrail">
        <div class="colmid">
            <div class="colleft">
                <div class="col1wrap">
                    <div class="col1" id="netmap_main_view">
                        <!-- Column 1 start -->
                        <h2>{{ current_view.title }}</h2>
                        <div id="netmapview_id" style="display:none">
                            {{ current_view.viewid }}
                        </div>
                        <div id="chart_header"></div>
                        <div id="loading_chart"></div>
                        <!--<div id="chart">


                        </div>-->
                        <!-- Column 1 end -->

                    </div>
                </div>
                <div class="col2">
                    <!-- Column 2 start -->
                    <ul class="nav nav-list">
                        <li class="nav-header">
                            Link types
                        </li>
                        <li class="active">
                            <a href="#">2</a>
                        </li>
                        <li>
                            <a href="#">2 (vlan)</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>

                        <li class="nav-header">
                            Categories
                        </li>
                        <li class="active">
                            <a href="#">SW</a>
                        </li>
                        <li>
                            <a href="#">2 (vlan)</a>
                        </li>
                        <li>
                            <a href="#">3</a>
                        </li>

                    </ul>
                    <div id="loadbar-chart">
                    </div>
                    <!-- Column 2 end -->
                </div>
                <div class="col3" id="netmap_infopanel">
                    <!-- Column 3 start -->
                    <!-- Column 3 end -->
                </div>
            </div>
        </div>
    </div>

{% endblock %}
