{% extends "base.html" %}

{% block base_header_additional_head %}

<script type="text/javascript" src="/js/d3.v2.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="/style/geomap.css" /> -->

<link rel="stylesheet" href="http://stud-1201:8888/style/jquery.tooltip.css" />

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
<script type="text/javascript" src="http://stud-1201:8888/js/jquery.qtip-1.0.0-rc3.js"></script>


<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>

{% endblock %}


{% block base_content %}

<h2>Netmap force directasdasdsa</h2>

<style type="text/css" rel="stylesheet">


    .netmap-node-status {
        float: left;
    }
    .netmap-node-menu {
        margin: 0 0 10px 0;
        list-style-type: none;
    }
    .netmap-node-menu li {
        margin: 0;
        display: inline;
    }
    .netmap-node-category {

    }

    circle {
        stroke-width: 1.5px;
    }

    line {
        stroke: #999;
    }

    path.link {
        fill: none;
        stroke: #666;
        stroke-width: 2px;
    }

    marker#licensing {
        fill: lightgreen;
    }

    path.link.licensing {
        stroke: lightgreen;
    }

    path.link.resolved {
        stroke-dasharray: 0, 2 1;
    }

    circle {
        fill: #ccc;
        stroke: #333;
        stroke-width: 3px;
    }

    circle.node {
        stroke-opacity: 1;
    }

    .node.fade {
        stroke-opacity: 0.1;
    }

    text {
        font: 14px sans-serif;
        pointer-events: none;
        background: #c0c0c0;
    }

    text.node {
        font: 12pt sans-serif;
    }

    text.shadow {
        stroke: #fff;
        stroke-width: 4px;
    }

        /*
        http://bl.ocks.org/2514276
        https://groups.google.com/group/d3-js/browse_thread/thread/29ddd76c646f5921/de483e446abf4d39?lnk=gst&q=zoom#de483e446abf4d39
        */


    div#pop-up {
        display: none;
        position:absolute;
        color: white;
        font-size: 14px;
        background: rgba(0,0,0,0.5);
        padding: 5px 10px 5px 10px;
        -moz-border-radius: 8px 8px;
        border-radius: 8px 8px;
    }
    div#pop-up-title {
        font-size: 15px;
        width:200px;
        margin-bottom: 4px;
        font-weight: bolder;
    }
    div#pop-up-content {
        font-size: 12px;
    }
    div#pop-desc {
        width: 100px;
    }
    div#pop-img {
        font-size: 30px;
        font-weight: bolder;
    }





</style>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <!--Sidebar content-->
            <ul class="nav nav-list">
                <li class="nav-header">
                    Link types
                </li>
                <li class="active">
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">2 (vlan)</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>

                <li class="nav-header">
                    Categories
                </li>
                <li class="active">
                    <a href="#">SW</a>
                </li>
                <li>
                    <a href="#">2 (vlan)</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>

            </ul>
        </div>
        <div class="span8">
            <h2>force_direct____2!!__</h2>
            <div id="chart">
                <div id="pop-up">
                    <div id="pop-up-title"></div>
                    <div id="pop-up-content">
                        <table> <tr>
                            <td><div id="pop-img"></div></td>
                            <td><div id="pop-desc"></div></td>
                        </tr> </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            <div id="nodeinfo">
                foo - bar
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
$(function () {
    var chart = $('#chart')[0],
            w = chart.offsetWidth,
            h = screen.height-500,
            r = 6,
            fill = d3.scale.category20(),
            trans=[0,0],
            scale=1;

    var svg = d3.select("#chart")
                    .append("svg:svg")
                    .attr("width", w)
                    .attr("height", h)
                    .attr("pointer-events", "all")
                    .append('svg:g')
                    .call(d3.behavior.zoom().on("zoom", redraw))
                    .append('svg:g')
            ;
    svg
            .append('svg:rect')
            .attr('width', w)
            .attr('height', h)
            .attr('fill', 'white');
    ;


    function redraw() {
        trans=d3.event.translate;
        scale=d3.event.scale;
        console.log("redraw(trans: "+trans+" , scale: "+scale+ ")");

        svg.attr("transform",
                "translate(" + trans + ")"
                        + " scale(" + scale + ")");
    }

    var labelDistance = 5;

    var draw = function(json) {



        labelAnchors = [];
        json.nodes.forEach(function (node) {
            labelAnchors.push({ node: node });
            labelAnchors.push({ node: node });
        });

        var labelAnchorLinks = [];
        for(var i = 0; i < json.nodes.length; i++) {
            labelAnchorLinks.push({
                source : i * 2,
                target : i * 2 + 1,
                weight: 1
            });
        };



        console.log(labelAnchorLinks);

        var force = d3.layout.force().gravity(0.3).charge(-3000).linkDistance(250).size([w, h]).linkStrength(function(x) {
            return Math.random() * 10
        }).nodes(json.nodes).links(json.links).on("tick", tick).start();

        var link = svg.selectAll("line.link").data(json.links).enter().append("svg:line").attr("class", "link").style("stroke", "#AAA");

        var node_s = svg.selectAll("g.node").data(json.nodes);

        /*node_s.enter().append("svg:g")
         .append("svg:circle")
         .attr("r", r - .75)
         .classed("node", "node")
         .style("fill",function (d) {
         return fill(d.group);
         })
         .style("stroke",function (d) {
         return d3.rgb(fill(d.group)).darker();
         })
         ;*/
        node_s.enter().append("svg:g")
                .attr("class", "node")
                .append("svg:image")
                .attr("class", "circle node")
                .attr("xlink:href", function (d) {
                    return "http://stud-1201:8888/images/netmap/"+ d.data.category + ".png";
                })
                .attr("x", "-16px")
                .attr("y", "-16px")
                .attr("width", "32px")
                .attr("height", "32px");

        /*node_s.enter().forEach(function (d) {
         node_s.append("svg:text")
         .attr("dy", "1.2em")
         .attr("class", "node")
         .attr("text-anchor", "middle")
         .attr("fill", "#000000")
         .attr("background", "#c0c0c0")
         .text(function (d) {
         return d.name
         })
         });*/

        // Anchors:
        // gravity to 1, graph looks odd but labels placement 100% correct.
        var force2 = d3.layout.force().nodes(labelAnchors).links(labelAnchorLinks).gravity(0.3).linkDistance(labelDistance).linkStrength(5).charge(-2500).size([w, h]);
        force2.start();

        var anchorLink = svg.selectAll("line.anchorLink").data(labelAnchorLinks).enter().append("svg:line").attr("class", "anchorLink").style("stroke", "#999").style("stroke-dasharray", "2,2");

        var anchorNode = svg.selectAll("g.anchorNode").data(force2.nodes()).enter().append("svg:g").attr("class", "anchorNode");
        anchorNode.append("svg:circle").attr("r", 1).style("fill", "#FFF");

        anchorNode.append("svg:text").text(function(d, i) {
            return i % 2 == 0 ? "" : d.node.name
        }).style("fill", "#000")
            //.attr("dy", "1.2em")
                .attr("class", "node")
            //.attr("text-anchor", "middle")
                .attr("fill", "#000000")
                .attr("background", "#c0c0c0");







        var node = svg.selectAll("g.node");
        console.log("noder:");
        console.log(node);
        node.call(force.drag)
                .on("mouseover", function(d) { return node_mouseOver(d); })
                .on("mouseout", function(d) { return node_mouseOut(d); })
                .on("click", node_onClick);




        var updateNode = function() {
            this.attr("transform", function(d) {
                return "translate(" + d.x + "," + d.y + ")";
            });
        }

        var updateLink = function() {
            this.attr("x1", function(d) { return d.source.x; })
                    .attr("y1", function(d) { return d.source.y; })
                    .attr("x2", function(d) { return d.target.x; })
                    .attr("y2", function(d) { return d.target.y; });
        }

        function tick() {

            force2.start();

            node.call(updateNode);

            anchorNode.each(function(d, i) {
                if(i % 2 == 0) {
                    d.x = d.node.x;
                    d.y = d.node.y;
                } else {
                    var b = this.childNodes[1].getBBox();

                    var diffX = d.x - d.node.x;
                    var diffY = d.y - d.node.y;

                    var dist = Math.sqrt(diffX * diffX + diffY * diffY);

                    var shiftX = b.width * (diffX - dist) / (dist * 2);
                    shiftX = Math.max(-b.width, Math.min(0, shiftX));
                    var shiftY = 0;
                    this.childNodes[1].setAttribute("transform", "translate(" + shiftX + "," + shiftY + ")");
                }
            });


            anchorNode.call(updateNode);

            link.call(updateLink);
            anchorLink.call(updateLink);

            //console.log(node);
            /*node.attr("transform", function (d) {
             return "translate(" + d.x + "," + d.y + ")";
             });*/

            /*text.attr("transform", function (d) {
             return "translate(" + d.x + "," + d.y + ")";
             });*/

            /*link
             .attr("x1",function (d) { return d.source.x;})
             .attr("y1",function (d) { return d.source.y;})
             .attr("x2",function (d) { return d.target.x;})
             .attr("y2", function (d) { return d.target.y;}
             );*/

        }

        var linkedByIndex = {};
        json.links.forEach(function (d) {
            linkedByIndex[d.source.index + "," + d.target.index] = 1;
        });

        function isConnected(a, b) {
            return linkedByIndex[a.index + "," + b.index] || linkedByIndex[b.index + "," + a.index] || a.index == b.index;
        }


        function node_mouseOver(d) {
            console.log("mouseOver: ");
            console.log(d);
            //fade(d, 0.1);
            mover(d);
        }

        function node_mouseOut(d) {
            console.log("mouseOut: ");
            console.log(d);
            mout(d);
            //fade(d, 1);
        }

        function fade(d, opacity) {
            node.style("stroke-opacity", function (o) {
                    thisOpacity = isConnected(d, o) ? 1 : opacity;
                    this.setAttribute('fill-opacity', thisOpacity);
                    this.setAttribute('opacity', thisOpacity);

                    circle = (this.firstElementChild || this.children[0] || {})

                    text = (this.childNodes[1] || {})

                    v = circle.textContent
                    if (d.name == v) {
                        circle.setAttribute("style", "fill: red");
                        text.setAttribute("style", "fill: red");
                    } else {
                        circle.setAttribute('style', "fill: " + fill(d.group));
                        text.setAttribute('style', "fill: #000");
                    }


                    return thisOpacity;
                });


                link.style("stroke-opacity", function (o) {
                    return o.source === d || o.target === d ? 1 : opacity;
                });
        }

        function mover(d) {
            $("#pop-up").fadeOut(100,function () {
                // Popup content
                $("#pop-up-title").html("M: "+ d.name);
                $("#pop-img").html("23");
                $("#pop-desc").html("M+T: text text test");

                // Popup position

                console.log(scale);
                console.log(trans);

                var popLeft = (d.x*scale)+trans[0]+20;//lE.cL[0] + 20;
                var popTop = (d.y*scale)+trans[1]+100;//lE.cL[1] + 70;
                //console.log("popLeft: "+popLeft+ ", popTop: "+popTop);
                $("#pop-up").css({"left":popLeft,"top":popTop});
                $("#pop-up").fadeIn(100);
            });

        }

        function mout(d) {
            $("#pop-up").fadeOut(50);
            //d3.select(this).attr("fill","url(#ten1)");
        }

        function node_onClick(node) {
            $("#nodeinfo").html(
                    "<span><img src='/images/lys/"+node.data.up_image+"' alt='"+node.data.up+"' class='netmap-node-status' />" +
                            "<h2>"+node.data.sysname+"</h2></span>" +
                            "<p>Last updated: "+node.data.last_updated + "</p>" +
                            "<ul class='netmap-node-menu'>" +
                            "<li>[<a href='"+node.data.ipdevinfo_link+"'>infodevinfo</a>]</li>" +
                            "<li>[<a href='#'>geomap</a>]</li>" +
                            "</ul>" +
                            "<dl>" +
                            "<dt>IP</dt>" +
                            "<dd>"+node.data.ip+"</dd>" +
                            "<dt>Category</dt>" +
                            "<dd style='background: url(\/images\/netmap\/"+node.data.category+".png) no-repeat; background-size: 32px 32px; padding-left: 35px; min-height: 32px; height: 32px'>"+node.data.category+"</dd>" +
                            "<dt>Type</dt>" +
                            "<dd>"+node.data.type+"</dd>" +
                            "<dt>Room</dt>" +
                            "<dd>"+node.data.room+"</dd>" +
                            "</dl>"


            );
        }

        /*svg.style("opacity", 1e-6)
         .transition()
         .duration(1000)
         .style("opacity", 1);*/

    }


    d3.json('http://stud-1201:8888/netmapdev/data/d3js/layer2', function(load) {
        draw(load);
    });
});





</script>

{% endblock %}

