{% extends "base.html" %}

{% block base_header_additional_head %}

<script type="text/javascript" src="/js/d3.v2.js"></script>
<script type="text/javascript" src="/js/jquery.js"></script>
<!-- <link rel="stylesheet" type="text/css" href="/style/geomap.css" /> -->

<link rel="stylesheet" href="http://stud-1201:8888/style/jquery.tooltip.css" />

<script type="text/javascript" src="http://code.jquery.com/jquery-1.7.2.js"></script>
<script type="text/javascript" src="http://stud-1201:8888/js/jquery.qtip-1.0.0-rc3.js"></script>


<script type="text/javascript" src="http://d3js.org/d3.v2.js"></script>

{% endblock %}


{% block base_content %}

<h2>Netmap</h2>

<style type="text/css" rel="stylesheet">


    .netmap-node-status {
        float: left;
    }
    .netmap-node-menu {
        margin: 0 0 10px 0;
        list-style-type: none;
    }
    .netmap-node-menu li {
        margin: 0;
        display: inline;
    }
    .netmap-node-category {

    }

    circle {
        stroke-width: 1.5px;
    }


    line.speed0-100 {
        stroke-width: 1px;
    }
    line.speed100-512 {
        stroke-width: 1.5px;
    }
    line.speed512-2048 {
        stroke-width: 3px;
    }
    line.speed2048-4096 {
        stroke-width: 4.5px;
    }
    line.speed4096 {
        stroke-width: 6px;
    }
    line.warning_inspect {
        stroke: red
    }

    path.link {
        fill: none;
        stroke: #666;
        stroke-width: 2px;
    }

    marker#licensing {
        fill: lightgreen;
    }

    path.link.licensing {
        stroke: lightgreen;
    }

    path.link.resolved {
        stroke-dasharray: 0, 2 1;
    }

    circle {
        fill: #ccc;
        stroke: #333;
        stroke-width: 3px;
    }

    circle.node {
        stroke-opacity: 1;
    }

    .node.fade {
        stroke-opacity: 0.1;
    }

    text {
        font: 14px sans-serif;
        pointer-events: none;
        background: #c0c0c0;
    }

    text.node {
        font: 12pt sans-serif;
    }

    text.shadow {
        stroke: #fff;
        stroke-width: 4px;
    }

    #tooltip.pretty {
        font-family: Arial;
        border: none;
        width: 210px;
        padding:20px;
        height: 135px;
        opacity: 0.8;
        background: url('/images/shadow.png');
    }
    #tooltip.pretty h3 {
        margin-bottom: 0.75em;
        font-size: 12pt;
        width: 220px;
        text-align: center;
    }
    #tooltip.pretty div { width: 220px; text-align: left; }

    #tooltip.fancy {
        background: url('/images/shadow2.png');
        padding-top: 5em;
        height: 100px;
    }

    /*
     http://bl.ocks.org/2514276
     https://groups.google.com/group/d3-js/browse_thread/thread/29ddd76c646f5921/de483e446abf4d39?lnk=gst&q=zoom#de483e446abf4d39
     */


    div#pop-up {
        display: none;
        position:absolute;
        color: white;
        font-size: 14px;
        background: rgba(0,0,0,0.5);
        padding: 5px 10px 5px 10px;
        -moz-border-radius: 8px 8px;
        border-radius: 8px 8px;
    }
    div#pop-up-title {
        font-size: 15px;
        width:200px;
        margin-bottom: 4px;
        font-weight: bolder;
    }
    div#pop-up-content {
        font-size: 12px;
    }
    div#pop-desc {
        width: 100px;
    }
    div#pop-img {
        font-size: 30px;
        font-weight: bolder;
    }





</style>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span1">
            <!--Sidebar content-->
            <ul class="nav nav-list">
                <li class="nav-header">
                    Link types
                </li>
                <li class="active">
                    <a href="#">2</a>
                </li>
                <li>
                    <a href="#">2 (vlan)</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>

                <li class="nav-header">
                    Categories
                </li>
                <li class="active">
                    <a href="#">SW</a>
                </li>
                <li>
                    <a href="#">2 (vlan)</a>
                </li>
                <li>
                    <a href="#">3</a>
                </li>

            </ul>
            <div id="loadbar-chart">
            </div>
        </div>
        <div class="span8">
            <h2>{{ view.title }}</h2>
            <div id="netmapview_id" style="display:none">
                {{ view.viewid }}
            </div>
            <div id="chart">
                <div id="pop-up">
                    <div id="pop-up-title"></div>
                    <div id="pop-up-content">
                        <table> <tr>
                            <td><div id="pop-img"></div></td>
                            <td><div id="pop-desc"></div></td>
                        </tr> </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="span3">
            <a id="save_view_id" href="javascript:save_view()" >save view</a>
            <div id="nodeinfo">
                foo - bar
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/js/netmap.js"></script>

{% endblock %}

