<div class="rickshaw-title">{{ graph_title }}</div>
<div class="rickshaw-y-axis-term">{{ graph_y_axis }}</div>
<div class="rickshaw-y-axis"></div>
<div class="rickshaw-graph"></div>
<div class="rickshaw-preview"></div>
<div class="rickshaw-legend"></div>
