{% extends "base.html" %}
{% load tools %}

{% block base_header_additional_head %}
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/proj4js-compressed.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/projdefs/EPSG326xx.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/projdefs/EPSG327xx.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/libs/OpenLayers.js"></script>
  <script>OpenLayers.ImgPath = NAV.imagePath + '/openlayers/';</script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/util.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/coordinates.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/NetworkLayer.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/PopupControl.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/MyHTTPProtocol.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/Calendar.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/Time.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/TimeInterval.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/TimeNavigator.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/Permalink.js"></script>
  <script type="text/javascript" src="{{ STATIC_URL }}js/geomap/geomap.js"></script>

  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/geomap.css" />
{% endblock %}


{% block base_body_start %}
  <body>
{% endblock %}


{% block base_content %}

  <div class="row">
    <div class="small-12 columns">
      {% with tool=current_user_data.tools|get_tool:'Geomap' %}
	{% include 'nav_header.html' %}
      {% endwith %}

      <a href="javascript:void(0);" id="time-panel-toggler" class="button small secondary right">
	Map options
	<i class="fa fa-caret-down"></i>
      </a>

      <p>Variant:
	{% for other_variant in config.variants.values %}
	  {% ifequal other_variant.identifier variant %}
	    {{ other_variant.name }}
	  {% else %}
	    <a href="/geomap/{{ other_variant.identifier }}/">{{ other_variant.name }}</a>
	  {% endifequal %}
	  {% if not forloop.last %}
	    |
	  {% endif %}
	{% endfor %}
      </p>

      <div id="position-hint" class="alert-box warning hidden">
        No room positions found. You can add positions to your rooms in
        <a href="{% url 'seeddb-room' %}" title="Go to Seed DB">Seed Database</a>.
      </div>

    </div>

  </div>

  <div class="row">

    <div id="time-panel" class="small-12 column hidden map-control-bar">
      <div class="panel">
	<div class="row">

          <div class="medium-4 columns">
            <h5>Time interval for load data</h5>
            <p id="time-navigation-selected-time"></p>
            <p class="permalink">
              <a id="permalink">Link to this configuration</a>
            </p>

            <!-- Form for toggling map state -->
            <div style="overflow: auto;">
	      <div class="left" style="margin-right: 1em">
	        <span>Show edges</span>
	        <div class="switch small round">
	          <input id="edge-toggler" type="checkbox" checked>
	          <label for="edge-toggler"></label>
	        </div>
	      </div>
	      <div class="left">
	        <span>Show CPU and interface load</span>
	        <div class="switch small round">
	          <input id="data-toggler" type="checkbox" checked>
	          <label for="data-toggler"></label>
	        </div>
	      </div>
            </div>

          </div> {# end column #}

          <div class="medium-4 columns">
            <div id="time-navigation">
              <p><h6>Interval size:</h6> <select id="time-navigation-interval-size"></select></p>
              <p>
		<span id="time-navigation-prev-jump"></span>
		<span id="time-navigation-prev"></span>
		<span id="time-navigation-next"></span>
		<span id="time-navigation-next-jump"></span>
		<span id="time-navigation-last"></span>
		<span id="time-navigation-up"></span>
		<select id="time-navigation-down"></select>
              </p>
            </div>
          </div>

          <div class="medium-4 columns">

            <table id="time-navigation-calendar">
              <tr id="time-navigation-calendar-head-row">
		<td id="time-navigation-calendar-prev-year" title="Previous year">&lt;&lt;</td>
		<td id="time-navigation-calendar-prev-month" title="Previous month">&lt;</td>
		<td id="time-navigation-calendar-header"></td>
		<td id="time-navigation-calendar-next-month" title="Next month">&gt;</td>
		<td id="time-navigation-calendar-next-year" title="Next year">&gt;&gt;</td>
              </tr>
              <tr id="time-navigation-calendar-body">
		<td colspan="5">
                  <table id="time-navigation-calendar-month"></table>
		</td>
              </tr>
            </table>
          </div>

	</div>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="large-12 columns" id="map-container">
      <!-- The map element -->
      <div id="map"></div>
    </div>
  </div>

  <div class="row">

    <div class="small-12 columns">
      <div id="legend" class="panel">
	<div class="row">

          {% for indicator_list in variant_config.indicators.values %}
            {% for indicator in indicator_list %}
              <div class="small-6 medium-3 columns">
                <table>
                  <thead>
                    <tr>
                      <th colspan="2">{{ indicator.name }}</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for option in indicator.options %}
                      <tr>
			<td>
                          {% ifequal indicator.property 'color' %}
                            <div class="colorbox"
				 style="background-color: {{ option.value }}">
                            </div>
                          {% endifequal %}
                          {% ifequal indicator.property 'size' %}
                            {% if indicator.type == 'node' %}
                              <div class="node-size-indicator"
				   style="width: {{ option.value }}px; height: {{ option.value }}px">
                              </div>
                            {% elif indicator.type == 'edge' %}
                              <div class="edge-size-indicator"
				   style="height: {{ option.value }}px">
                              </div>
                            {% endif %}
                          {% endifequal %}
			</td>
			<td>{{ option.label }}</td>
                      </tr>
                    {% endfor %}
                  </tbody>
		</table>
              </div>
            {% endfor %}
          {% endfor %}

	</div>
      </div> {# End Panel #}
    </div>

  </div> {# End Row #}

{% endblock %}
