{% extends "base.html" %}

{% block base_header_additional_head %}
<link rel="stylesheet" type="text/css" href="/style/alertprofiles.css" />
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/alertprofiles.js"></script>
{% endblock %}

{% block base_content %}

<h2>Alert profiles</h2>

<div class="tabs">
    {% block tabs %}
    <ul>
        <li class="{{ active.overview|yesno:"tabactive," }}">
            <a href="{% url alertprofiles-overview %}">Account details</a>
        </li>
        <li class="{{ active.address|yesno:"tabactive," }}">
            <a href="{% url alertprofiles-address %}">Alert addresses</a>
        </li>
        <li class="{{ active.profile|yesno:"tabactive," }}">
            <a href="{% url alertprofiles-profile %}">Profiles</a>
        </li>
        <li class="{{ active.filter_groups|yesno:"tabactive," }}">
            <a href="{% url alertprofiles-filter_groups %}">Filter groups</a>
        </li>
        <li class="{{ active.filters|yesno:"tabactive," }}">
            <a href="{% url alertprofiles-filters %}">Filters</a>
        </li>
        <li class="{{ active.sms|yesno:"tabactive," }}">
            <a href="{% url alertprofiles-sms %}">My SMS</a>
        </li>

        {% if is_admin %}
            <li class="{{ active.matchfields|yesno:"tabactive," }}">
                <a href="{% url alertprofiles-matchfields %}">Matchfields</a>
            </li>
            <li class="{{ active.permissions|yesno:"tabactive," }}">
                <a href="{% url alertprofiles-permissions %}">Permissions</a>
            </li>
        {% endif %}
    </ul>
    {% endblock %}
</div>

<div class="tabcontent">

{% if current_user_data.messages %}
<ul class="messages">
    {% for m in current_user_data.messages %}
    <li class="{{ m.type }}">{{ m.message }}</li>
    {% endfor %}
</ul>
{% endif %}

{% if subsection %}
    {% include "alertprofiles/subsection_tabs.html" %}
    <div class="tabcontent">
{% endif %}

{% block tabcontent %}
{% endblock %}

{% if subsection %}
    </div>
{% endif %}

</div>

{% endblock %}
