<div class="tabs">
    {% block matchfield_tabs %}
    <ul>
        <li class="{{ subsection.list|yesno:"tabactive," }}">
            <a href="{% url alertprofiles-matchfields %}">Matchfields</a>
        </li>
        <li class="{{ subsection.new|yesno:"tabactive," }}">
            <a href="{% url alertprofiles-matchfields-new %}">New matchfield</a>
        </li>
        {% if subsection.detail %}
            <li class="tabactive">
                <a href="{% url alertprofiles-matchfields-detail subsection.detail %}">Matchfield detail</a>
            </li>
        {% endif %}
    </ul>
    {% endblock %}
</div>
