{% extends "alertprofiles/base_list.html" %}

{% block captioncontent %}
    My SMS
{% endblock %}

{% block theadcols %}
    <th>
    {% ifequal order_by "time" %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=-time">
          Time
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=time">
          Time
          {% ifequal order_by "-time" %}
            <i class="fa fa-caret-up"></i>
          {% endifequal %}
        </a>
    {% endifequal %}
    </th>

    <th>
    {% ifequal order_by "time_sent" %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=-time_sent">
          Sent
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=time_sent">
          Sent
          {% ifequal order_by "-time_sent" %}
            <i class="fa fa-caret-up"></i>
          {% endifequal %}
        </a>
    {% endifequal %}
    </th>

    <th>
    {% ifequal order_by "phone" %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=-phone">
          Phone
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=phone">
          Phone
          {% ifequal order_by "-phone" %}
            <i class="fa fa-caret-up"></i>
          {% endifequal %}
        </a>
    {% endifequal %}
    </th>

    <th>
    {% ifequal order_by "message" %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=-message">
          Message
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=message">
          Message
          {% ifequal order_by "-message" %}
            <i class="fa fa-caret-up"></i>
          {% endifequal %}
        </a>
    {% endifequal %}
    </th>

    <th>
    {% ifequal order_by "severity" %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=-severity">
          Severity
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=severity">
          Severity
          {% ifequal order_by "-severity" %}
              <i class="fa fa-caret-up"></i>
          {% endifequal %}
        </a>
    {% endifequal %}
    </th>
    <th>
    {% ifequal order_by "sent" %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=-sent">
          Status
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-sms' %}?page={{ page_obj.number }}&amp;order_by=sent">
          Status
          {% ifequal order_by "-sent" %}
              <i class="fa fa-caret-up"></i>
          {% endifequal %}
        </a>
    {% endifequal %}
    </th>
{% endblock %}

{% block tablecolspan %}6{% endblock %}

{% block tbodycontent %}
    {% for sms in object_list %}
        <tr>
            <td>{{ sms.time|date:"DATETIME_FORMAT" }}</td>
            <td>
                {% if sms.time_sent %}
                    {{ sms.time_sent|date:"DATETIME_FORMAT" }}
                {% endif %}
            </td>
            <td>{{ sms.phone }}</td>
            <td>{{ sms.message }}</td>
            <td>{{ sms.severity }}</td>
            <td
                {% ifequal sms.sent 'Y' %}
                    style="color: green">
                    <img src="{{ STATIC_URL }}images/lys/green.png" alt="" />
                    Sent
                {% endifequal %}
                {% ifequal sms.sent 'N' %}
                    style="color: red">
                    <img src="{{ STATIC_URL }}images/lys/red.png" alt="" />
                    Not sent
                {% endifequal %}
                {% ifequal sms.sent 'I' %}
                    style="color: orange">
                    <img src="{{ STATIC_URL }}images/lys/yellow.png" alt="" />
                    Ignored
                {% endifequal %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block bottom_form %}{% endblock %}

