<?xml version="1.0" encoding="UTF-8"?>

{% block base_header %}
{% include "header.html" %}
{% endblock %}

{% block base_toolbar %}
    {% if available_tools %}
        {% include "toolbar.html" %}
    {% endif %}
{% endblock %}

<div id="navbody">
{% block base_content %}
{% endblock %}
</div>

{% block base_debug %}
    {% if debug %}
        {% if not account.is_default_account %}
            {% include "debug.html" %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block base_footer %}
{% include "footer.html" %}
{% endblock %}
