/* Stylesheet for tables in NAV style
 *
 * Copyright 2007 UNINETT AS
 *
 * This file is part of Network Administration Visualized (NAV)
 *
 * NAV is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * NAV is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with NAV; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 * Authors: Stein Magnus Jodal <stein.magnus.jodal@uninett.no>
 *
 */

/* The following tabs CSS are tested to work with Firefox 2.0.0.6 on Linux,
 * Opera 9.20 on Linux and Internet Explorer 6.0 on Windows */

.tabs {
	margin-top: 1em;
}
.tabs ul {
	margin: 0;
	padding: 0;
}
.tabs ul li {
	display: inline;
	list-style: none;
	margin: 0;
	padding: 0;
}
.tabs ul li a {
	background: #dae1e6;
	border: 1px solid #999;
	color: #333;
	margin: 0;
	padding-left: 1em;
	padding-right: 1em;
	text-decoration: none;
}
.tabs ul li a:hover {
	background: #eee;
	color: black;
}
.tabs ul li.tabactive a, .tabs ul li.tabactive a:hover {
	background: white;
	border-bottom: 1px solid white;
	color: black;
}
.tabs ul, .tabs ul li, .tabs ul li a {
	padding-top: 0.3em;
	padding-bottom: 0.3em;
}

.tabcontent {
	border: 1px solid #999;
	padding: 1em;
	margin-bottom: 1em;
}
