{% load info %}
<thead>
<tr>
    <th>Name</th>
    <th>IP-address</th>
    <th>Category</th>
    <th>Type</th>
    <th>Organization</th>
    <th>#swp</th>
    <th>#gwp</th>
    <th>Up</th>
    <th>Availability (week)</th>
    <th>Availability (month)</th>
</tr>
</thead>
{% if netboxes %}
    <tbody>
    {% for netbox in netboxes %}
        <tr>
            <td>
                <a href="{% url 'ipdevinfo-details-by-name' netbox.sysname %}">{{ netbox.sysname }}</a>
            </td>
            <td>{{ netbox.ip }}</td>
            <td>
                <a href="/report/netbox?catid={{ netbox.category.id }}">{{ netbox.category.id }}</a>
            </td>
            <td>
                <a href="/report/netbox?typeid={{ netbox.type.id }}">{{ netbox.type.name }}</a>
            </td>
            <td>
                <a href="/report/netbox?orgid={{ netbox.organization.id }}">{{ netbox.organization }}</a>
            </td>
            <td>
                <a href="/report/swport?netboxid={{ netbox.id }}">{{ netbox.get_swport_count }}</a>
            </td>
            <td>
                <a href="/report/gwport?netboxid={{ netbox.id }}">{{ netbox.get_gwport_count }}</a>
            </td>
            <td>
              <img src="{{ STATIC_URL }}images/lys/{% if netbox.up == 'y' %}green.png{% else %}red.png{% endif %}">
            </td>

            {% with data=availabilities|get_value:netbox.id %}
              {% with availability=data|get_value:'availability' %}
                <td class="numeric">{{ availability|get_value:'week'|floatformat:'2' }}%</td>
                <td class="numeric">{{ availability|get_value:'month'|floatformat:'2' }}%</td>
              {% endwith %}
            {% endwith %}
        </tr>
    {% endfor %}
    </tbody>
{% endif %}
