IPy==0.75
psycopg2==2.4.5
pytest>=2.3.4
mock>=0.8.0
pylint==0.26
sphinx>=1.0
whisper>=0.9.9
selenium>=2.34.0
coverage>=3.4
pytest-cov==1.6
django>=1.4,<1.5
lxml==2.3.2
simplejson==2.0.6
django-hstore==1.2.3
django-crispy-forms==1.3.2
crispy-forms-foundation==0.2.3
xmpppy
django-oauth2-provider>=0.2.6
djangorestframework>=2.3.7
svn+http://dev.zenoss.org/svn/tags/pynetsnmp-0.28.14
networkx>=1.7,<1.8
PIL==1.1.7
feedparser>=5.1.2,<5.2