astroid==2.2.4  ; python_version > '3'
gunicorn==19.7.1
lxml==4.9.1
mock==2.0.0
pylint==2.3.1  ; python_version > '3'
pylint-django==2.0.6  ; python_version > '3'
pytest==6.2.4
pytest-metadata<2.0.0
pytest-cov==2.7.1
pytest-selenium==2.0.1
pytest-timeout
pytest-twisted==1.12
pytidylib==0.3.2
selenium==3.141.0
whisper>=0.9.9
whitenoise==4.1.4
subprocess32  ; python_version < '3'
