astroid==2.2.4  ; python_version > '3'
gunicorn==19.7.1
lxml==4.0.0
mock==2.0.0
pylint==2.3.1  ; python_version > '3'
pylint-django==2.0.6  ; python_version > '3'
pytest==4.6.5
pytest-cov==2.7.1
pytest-selenium==1.17.0
pytest-twisted==1.12
pytidylib==0.2.4
selenium==3.4.3
whisper>=0.9.9
whitenoise==4.1.4
subprocess32  ; python_version < '3'
