{% extends "alertprofiles/base_list.html" %}

{% block top_links %}
    <p>
        <a href="{% url alertprofiles-address-new %}">Add new alert address.</a>
    </p>
{% endblock %}

{% block captioncontent %}
    Addresses
{% endblock %}

{% block theadcols %}
    <th></th>
    <th>Address</th>
    <th>Type</th>
{% endblock %}

{% block tbodycontent %}
    {% for a in object_list %}
        <tr class="{% cycle oddrow,evenrow %}">
            <td><input type="checkbox" name="address" value="{{ a.id }}" /></td>
            <td>
                <a href="{% url alertprofiles-address-detail a.id %}">{{ a.address }}</a>
            </td>
            <td>
                {{ a.get_dispatcher_type }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

