{% extends "alertprofiles/base.html" %}

{% block tabcontent %}
<form action="{% block url_edit %}{% endblock %}" method="post">
<table class="listtable">
    <caption>
    {% block captioncontent %}
    {% if detail_id %}
        Filter details
    {% else %}
        New filter
    {% endif %}
    {% endblock %}
    </caption>

    <tbody>
        {{ form }}
        <tr>
            <th></th>
            <td>
                <button type="submit">
                {% block buttoncontent %}
                {% if detail_id %}
                    Save changes
                {% else %}
                    Save new
                {% endif %}
                {% endblock %}
                </button>
            </td>
        </tr>
    </tbody>
</table>
</form>

{% if detail_id %}

{% block expresions %}
<form action="{% block url_remove_expresion %}{% endblock %}" method="post">
<table class="listtable">
    <caption>
    {% block expresions_caption_content %}
    {% endblock %}
    </caption>
    
    <thead>
        <tr>
        {% block expresions_thead_cols %}
        {% endblock %}
        </tr>
    </thead>

    <tbody>
    {% block expresions_tbody_content %}
    {% endblock %}
    </tbody>
</table>

{% block expresions_extra_fields %}
<p>
    <input type="hidden" name="id" value="{{ detail_id }}" />
    <button type="submit">Delete selected</button>
</p>
{% endblock %}
</form>
{% endblock expresions %}

<form action="{% block url_add_expresion %}{% endblock %}" method="post">
{% block addexpresion %}
    <p>
        <input type="hidden" name="id" value="{{ detail_id }}" />
        <button type="submit">Add</button>
    </p>
{% endblock addexpresion %}
</form>

{% endif %}

{% endblock tabcontent %}
