{% extends "alertprofiles/base.html" %}

{% block tabcontent %}

{% block top_links %}
{% endblock %}

{% include "alertprofiles/paginator.html" %}

<form action="{{ form_action }}" method="post">

<table class="listtable">

    <caption>
    {% block captioncontent %}
    {% endblock %}
    </caption>

    <thead>
        <tr>
        {% block theadcols %}
            <th></th>
            <th>Name</th>
        {% endblock %}
        </tr>
    </thead>

    <tbody>
    {% block tbodycontent %}
    {% endblock %}
    </tbody>

</table>

<div>
    {% block additional_fields %}
    {% endblock %}
    <button type="delete">Delete selected</button>
</div>

</form>

{% include "alertprofiles/paginator.html" %}

{% endblock %}
