{% extends "alertprofiles/base.html" %}

{% block tabcontent %}
<h3>
    Add expression
</h3>

<form action="{% url alertprofiles-filters-saveexpression %}" method="post">
<table class="vertitable">
    <tbody>
        <tr>
            <th>Filter</th>
            <td>{{ filter.name }}{{ form.filter }}</td>
        </tr>
        <tr>
            <th>Match field</th>
            <td>{{ matchfield.name }}{{ form.match_field }}</td>
        </tr>
        <tr>
            <th><label for="id_operator">{{ form.operator.label }}</label><div id="kake"></div></th>
            <td>{{ form.operator }}</td>
        </tr>
        <tr>
            <th>
                <label for="id_value">{{ form.value.label }}</label><br />
            </th>
            <td>
                {% if list_limited %}
                <p>
                    There are more available options than the list_limit
                    permits to show.<br />
                </p>
                <p>
                    Showing {{ matchfield.list_limit }} of
                    {{ form.number_of_choices }} available options.
                </p>
                {% endif %}
                <div>
                {{ form.value }}
                </div>
                <div>
                    {# FIXME it's not good practice to trust stuff in the database #}
                    {% if matchfield.value_help %}
                        {{ matchfield.value_help|safe }}
                    {% endif %}
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td><button type="submit">Save</button></td>
        </tr>
    </tbody>
</table>
</form>
{% endblock %}
