{% extends "alertprofiles/base.html" %}

{% block tabcontent %}
<h3>
    Add expresion
</h3>

<form action="{% url alertprofiles-filters-saveexpresion %}" method="post">
<table class="vertitable">
    <tbody>
        <tr>
            <th>Filter</th>
            <td>{{ filter.name }}</td>
        </tr>
        <tr>
            <th>Match field</th>
            <td>{{ matchfield.name }}</td>
        </tr>
        <tr>
            <th><label for="id_operator">{{ form.operator.label }}</label></th>
            <td>{{ form.operator }}</td>
        </tr>
        <tr>
            <th>
                <label for="id_value">{{ form.value.label }}</label><br />
            </th>
            <td>
                {{ form.value }}
                <div>
                    {# FIXME it's not good practice to trust shit in the database #}
                    {{ matchfield.value_help|safe }}
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <td><button type="submit">Save</button></td>
        </tr>
    </tbody>
</table>
</form>
{% endblock %}
