{% extends "alertprofiles/base.html" %}

{% block tabcontent %}
<form action="{% url alertprofiles-filters-save %}" method="post">
<table class="listtable">
    <caption>
    {% if filter_id %}
        Filter details
    {% else %}
        New filter
    {% endif %}
    </caption>

    <tbody>
        {{ filter_form }}
        <tr>
            <th></th>
            <td>
                <button type="submit">
                {% if filter_id %}
                    Save changes
                {% else %}
                    Save new filter
                {% endif %}
                </button>
            </td>
        </tr>
    </tbody>
</table>
</form>

{% if filter_id %}
<form action="{% url alertprofiles-filters-removeexpresion %}" method="post">
<table class="listtable">
    <caption>
        Expressions
    </caption>

    <thead>
        <tr>
            <th></th>
            <th>Field</th>
            <th>Condition</th>
            <th>Value</th>
        </tr>
    </thead>
    
    <tbody>
    {% for e in expresions %}
        <tr class="{% cycle oddrow,evenrow %}">
            <td><input type="checkbox" name="expression" value="{{ e.id }}" id="expressionid_{{ e.id }}" /></td>
            <td><label for="expressionid_{{ e.id }}">{{ e.match_field }}</label></td>
            <td>{{ e.get_operator_display }}</td>
            <td>{{ e.value }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    <input type="hidden" name="filter" value="{{ filter_id }}" />
    <button type="submit">Delete selected</button>
</div>

</form>


<form action="{% url alertprofiles-filters-addexpresion %}" method="post">
<table class="listtable">
    <caption>
        Add Expression<br />
        <span class="subtitle">Choose one type to add</span>
    </caption>
    
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
        </tr>
    </thead>

    <tbody>
    {% for m in matchfields %}
        <tr>
            <td><input type="radio" name="matchfield" id="matchfieldid_{{ m.id }}" value="{{ m.id }}" /></td>
            <td><label for="matchfieldid_{{ m.id }}">{{ m.name }}</label></td>
            <td>{{ m.description }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div>
    <input type="hidden" name="filter" value="{{ filter_id }}" />
    <button type="submit">New Expression</button>
</div>
</form>
{% endif %}

{% endblock %}
