{% extends "alertprofiles/base_list.html" %}

{% block top_links %}
    <p>
        <a href="{% url alertprofiles-filtergroups-new %}">Add new filter group</a>
    </p>
{% endblock %}

{% block captioncontent %}
    Filter groups
{% endblock %}

{% block theadcols %}
    <th></th>
    <th>Name</th>
    <th>Owner</th>
    <th>Description</th>
{% endblock %}

{% block tbodycontent %}
    {% for filter in object_list %}
        <tr class="{% cycle oddrow,evenrow %}">
            <td>
                <input name="filter_group" value="{{ filter.id }}"
                type="checkbox"
                {% if not admin and not filter.owner %}disabled="disabled"{% endif %}
                />
            </td>
            <td><a href="{% url alertprofiles-filtergroups-detail filter.id %}">
                {{ filter.name }}</a></td>
            <td>{% if filter.owner %}Private{% else %}Public{% endif %}</td>
            <td>{{ filter.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}
