{% extends "alertprofiles/base_detail.html" %}

{% block url_edit %}{% url alertprofiles-matchfields-save %}{% endblock %}

{% block headercontent %}
    {% if detail_id %}
        Matchfield details
    {% else %}
        New matchfield
    {% endif %}
{% endblock %}

{% block form_additional_fields %}
<tr>
    <th><label for="id_operator">Available operators:</label></th>
    <td>
        <select name="operator" id="id_operator" multiple="multiple">
        {% for o in operators %}
            <option value="{{ o.id }}"
            {% if o.selected %}selected="selected"{% endif %}
            >{{ o.name }}</option>
        {% endfor %}
        </select>
        <br />
        The operators that will be available to use on this match field.<br />
        Note:<br />
        Only "equals" and "in" makes sense when "Show list" is checked, there
        is however nothing that will prevent you from selecting them all for
        use on a list, but alert engine won't understand it.
    </td>
</tr>
{% endblock %}

{% block filter_content %}
{% endblock %}
