{% block paginator %}
{% if page_obj %}
    {% ifnotequal page_obj.number 1 %}
        <a href="{{ page_link }}?page=1&amp;order_by={{ order_by }}">
            &lt;&lt; First
        </a>
    {% endifnotequal %}
    {% if page_obj.has_previous %}
        <a href="{{ page_link }}?page={{ page_obj.previous_page_number }}&amp;order_by={{ order_by }}">
            &lt; Previous
        </a>
    {% endif %}
    Showing {{ page_obj.start_index }} to {{ page_obj.end_index }} of
    {{ paginator.count }} rows.
    {% if page_obj.has_next %}
        <a href="{{ page_link }}?page={{ page_obj.next_page_number }}&amp;order_by={{ order_by }}">
            Next &gt;
        </a>
    {% endif %}
    {% ifnotequal page_obj.number paginator.num_pages %}
        <a href="{{ page_link }}?page={{ paginator.num_pages }}&amp;order_by={{ order_by }}">
            Last &gt;&gt;
        </a>
    {% endifnotequal %}
{% endif %}
{% endblock %}
