{% block paginator %}
    {% ifnotequal page_obj.number 1 %}
        <a href="{{ page_link }}?page=1&amp;order_by={{ order_by }}">
            &lt;&lt;
        </a>
    {% endifnotequal %}
    {% if page_obj.has_previous %}
        <a href="{{ page_link }}?page={{ page_obj.previous_page_number }}&amp;order_by={{ order_by }}">
            &lt;
        </a>
    {% endif %}
    Page {{ page_obj.number }} of {{ paginator.num_pages }}
    {% if page_obj.has_next %}
        <a href="{{ page_link }}?page={{ page_obj.next_page_number }}&amp;order_by={{ order_by }}">
            &gt;
        </a>
    {% endif %}
    {% ifnotequal page_obj.number paginator.num_pages %}
        <a href="{{ page_link }}?page={{ paginator.num_pages }}&amp;order_by={{ order_by }}">
            &gt;&gt;
        </a>
    {% endifnotequal %}
{% endblock %}
