{% block paginator %}
{% if is_paginated %}
<p>
    {% ifnotequal page_obj.number 1 %}
        <a href="{{ page_link }}page1">
            [&lt;&lt; First]
        </a>
    {% else %}
        [&lt;&lt; First]
    {% endifnotequal %}
    {% if page_obj.has_previous %}
        <a href="{{ page_link }}page{{ page_obj.previous_page_number }}">
            [&lt; Previous]
        </a>
    {% else %}
        [&lt; Previous]
    {% endif %}
    [Page {{ page_obj.number }} of {{ paginator.num_pages }}]
    {% if page_obj.has_next %}
        <a href="{{ page_link }}page{{ page_obj.next_page_number }}">
            [Next &gt;]
        </a>
    {% else %}
        [Next &gt;]
    {% endif %}
    {% ifnotequal page_obj.number paginator.num_pages %}
        <a href="{{ page_link }}page{{ paginator.num_pages }}">
            [Last &gt;&gt;]
        </a>
    {% else %}
        [Last &gt;&gt;]
    {% endifnotequal %}
</p>
{% endif %}
{% endblock %}
