{% extends "alertprofiles/base_detail.html" %}

{% block url_edit %}{% url alertprofiles-profile-save %}{% endblock %}
{% block url_add_expresion %}{% url alertprofiles-profile-timeperiod-add %}{% endblock %}

{% block captioncontent %}
    {% if detail_id %}
       Profile details 
    {% else %}
        New profile
    {% endif %}
{% endblock %}

{% block expresions_caption_content  %}
    Time periods
{% endblock %}

{% block expresions %}
<form action="{% url alertprofiles-filters-removeexpresion %}" method="post">
{% for key, period in alert_subscriptions.items %}
<table class="listtable">
    <caption>
        {% cycle Weekdays,Weekends %} time periods
    </caption>

    <thead>
        <tr>
            <th></th>
            <th>Valid during</th>
            <th>Subscriptions</th>
        </tr>
    </thead>

    <tbody>
    {% for a in period %}
        <tr class="{% cycle oddrow,evenrow %}">
            <td><input type="checkbox" name="period" id="id_period_{{ a.time_period.id }}" /></td>
            <td><label for="id_period_{{ a.time_period.id }}">
                {{ a.time_period.start }} - {{ a.time_period.end }} for
                {{ a.time_period.valid_during|capfirst }}
            </label></td>
            <td>
                <ul>
                {% for b in a.alert_subscriptions %}
                    <li>
                        Watch <em>{{ b.filter_group }}</em>,
                        send to <em>{{ b.alert_address.address }}</em>
                    </li>
                {% endfor %}
                    <li><a href="{% url alertprofiles-profile-timeperiod-setup a.time_period.id %}"
                        >Edit subscriptions</a></li>
                </ul>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endfor %}
</form>
{% endblock %}

{% block addexpresion %}
<div class="infobox">
    <h4>Add new time period</h4>
    {{ time_period_form.non_field_errors }}
    {{ time_period_form.start.errors }}
    {{ time_period_form.valid_during.errors }}
    Time period from {{ time_period_form.start }}
    for {{ time_period_form.valid_during }}
    {{ time_period_form.profile }}
    <p>
        <button type="submit">Add</button>
    </p>
</div>
{% endblock %}
