{% extends "alertprofiles/base_detail.html" %}

{% block url_edit %}{% url alertprofiles-profile-save %}{% endblock %}
{% block url_add_expresion %}{% url alertprofiles-profile-timeperiod-add %}{% endblock %}

{% block captioncontent %}
    {% if detail_id %}
       Profile details 
    {% else %}
        New profile
    {% endif %}
{% endblock %}

{% block expresions_caption_content  %}
    Time periods
{% endblock %}

{% block expresions %}
<form action="{% url alertprofiles-profile-timeperiod-remove %}" method="post">
    {% include "alertprofiles/timeperiods.html" %}
    <p>
        <button type="submit">Delete selected</button>
    </p>
</form>
{% endblock %}

{% block addexpresion %}
<div class="infobox">
    <h4>Add new time period</h4>
    {{ time_period_form.non_field_errors }}
    {{ time_period_form.start.errors }}
    {{ time_period_form.valid_during.errors }}
    Time period from {{ time_period_form.start }}
    for {{ time_period_form.valid_during }}
    {{ time_period_form.profile }}
    <p>
        <button type="submit">Add</button>
    </p>
</div>
{% endblock %}
