{% extends "alertprofiles/base.html" %}

{% block tabcontent %}

<table class="listtable">
    <caption>
        Account information
    </caption>

    <tbody>
        <tr>
            <th>Groups you are member of</th>
            <td>
                <ul>
                {% for group in groups %}
                    <li>{{ group.name }}<br />{{ group.description }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Alerts you have permissions to recieve</th>
            <td>
                <ul>
                {% for filtergroup in filter_groups %}
                    <li>{{ filtergroup.name }}<br />{{ filtergroup.description }}</li>
                {% endfor %}
                </ul>
            </td>
        </tr>
        <tr>
            <th>Alert by sms</th>
            <td>
                <!--
                <img src="{{ sms_privilege|yesno:"check,cross" }}" />
                -->
                You <em>{{ sms_privilege|yesno:",do not" }}</em> have
                permissions to be alerted by SMS.
            </td>
        </tr>
        <tr>
            <th>Language</th>
            <td>
                <form action="{% url alertprofiles-language-save %}" method="post">
                    {{ language_form.value }}
                    {{ language_form.property }}
                    <button type="submit">Save changes</button>
                </form>
            </td>
    </tbody>
</table>

<p>
    <a href="{% url alertprofiles-address-new %}">Add new alert address.</a>
</p>
<form action="{% url alertprofiles-address-remove %}" method="post">
<table class="listtable">
    <caption>
        Alert adresses
    </caption>

    <thead>
        <tr>
            <th></th>
            <th>Address</th>
            <th>Type</th>
        </tr>
    </thead>
    
    <tbody>
    {% for a in adress %}
        <tr class="{% cycle oddrow,evenrow %}">
            <td><input type="checkbox" name="address" value="{{ a.id }}" /></td>
            <td>
                <a href="{% url alertprofiles-address-detail a.id %}">{{ a.address }}</a>
            </td>
            <td>
                {{ a.get_dispatcher_type }}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>
    <button type="submit">Remove selected</button>
</p>
</form>

<p>
    <a href="{% url alertprofiles-profile-new %}">Make a new profile.</a>
</p>
<form action="{% url alertprofiles-profile-remove %}" method="post">
<table class="listtable">
    <caption>
        Profiles
    </caption>

    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Active</th>
            <th></th>
        </tr>
    </thead>

    <tbody>
    {% for profile in profiles %}
        <tr class="{% cycle oddrow,evenrow %}">
            <td><input type="checkbox" name="profile" value="{{ profile.id }}" /></td>
            <td><a href="{% url alertprofiles-profile-detail profile.id %}">
                {{ profile.name }}</a></td>
            <td>
            {% ifequal profile.id active_profile.id %}
                Active
            </td>
            <td>
                <button type="submit" name="deactivate" value="{{ profile.id }}">
                    Click to deactivate
                </button>
            {% else %}
                Inavtive
            </td>
            <td>
                <button type="submit" name="activate" value="{{ profile.id }}">
                    Click to activate
                </button>
            {% endifequal %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<p>
    <button type="submit" name="remove">Remove selected</button>
</p>
</form>

{% endblock %}
