<div id="delete-info" class="popover with-arrow">
    <a data-popover-target="#delete-info" aria-haspopup="true">
      About
    </a>

    <div class="popover-content small">
        <h5>About deleting module or chassis</h5>
          <p>
            NAV does not know if a module or chassis that has disappeared did so
            because of an error or because it was removed on purpose. Thus, modules
            and chassis that disappear are all listed in status until manually
            deleted from NAV by a manual module/chassis delete.
          </p>
    </div>
</div>
