<div id="resolve-info" class="popover with-arrow">
    <a data-popover-target="#resolve-info" aria-haspopup="true">
        About
    </a>

    <div class="popover-content medium">
        <h5>About clearing alerts</h5>
        <p>
            Clearing an alert will set its end time, thereby closing it and removing
            it from the list of problems. Use this to remove alerts that have become
            invalid, where there is no way for NAV to automatically detect this.
        </p>
        <p>
            Be aware that if the root cause of the alert is still there, NAV may end
            up posting a new alert for the same issue.
        </p>
    </div>
</div>
