{% load popover %}
{% popover popover_id="resolve-info" trigger_text="About" trigger_element="a" title="About clearing alerts" size="medium" %}
  <p>
    Clearing an alert will set its end time, thereby closing it and removing
    it from the list of problems. Use this to remove alerts that have become
    invalid, where there is no way for NAV to automatically detect this.
  </p>
  <p>
    Be aware that if the root cause of the alert is still there, NAV may end
    up posting a new alert for the same issue.
  </p>
{% endpopover %}
