{% extends "portadmin/base.html" %}

{% block content %}

  {% if interfaces %}

    <div class="row">

      <div class="small-12 column">

        {% include 'portadmin/portlist.html' %}
      </div>

{% comment %}
      <div class="medium-4 column">

        <div class="panel">
          <p>
            Available vlans
            for {{ account.login }}@{{ netbox.get_short_sysname }}
          </p>

          <ul>
            {% for vlan in allowed_vlans %}
              <li>{{ vlan }}</li>
            {% endfor %}
          </ul>
        </div>

      </div>
{% endcomment %}
    </div>

  {% endif %}
  <hr />
  <h3>Latest changes</h3>
  <div class="row">
    <div class="small-12 column">
      {% with object_list=auditlog_entries %}
        {% include "auditlog/_logentry_list.html" %}
      {% endwith %}
    </div>
  </div>
{% endblock content %}
