{% load portadmin %}

<h4>{{ netbox.sysname }}</h4>

<ul id='portadmin-wrapper'
    class="large-block-grid-5 medium-block-grid-3 small-block-grid-1">

  {% for interface in interfaces %}
    <li>
    <div id="{{ interface.id }}" class="portadmin-card {% if readonly %}readonly{% endif %}">

      {# Interface Name #}
      <h5>Port {{ interface.ifname }}</h5>


      {# Status indicators #}
      <div class="row">
        <div class="small-6 column">
          <label>Enabled
          <img title="AdminStatus - If red the interface is down"
               src="{{ STATIC_URL }}images/lys/{{ interface.ifadminstatus|drawLight }}"/>
          </label>
        </div>
        <div class="small-6 column">
          <label>Linked
          <img title="OperStatus - If red there is no link on the interface"
               src="{{ STATIC_URL }}images/lys/{{ interface.ifoperstatus|drawLight }}"/>
          </label>
        </div>
      </div>


      {# Port description #}
      <div class="port-description">
        <h6>Port Description</h6>
        <span class="description">
        {% if interface.iseditable %}
          <input class="ifalias" type="text"
                 value="{{ interface.ifalias|default_if_none:'' }}"
                 data-orig="{{ interface.ifalias|default_if_none:'' }}"/>
        {% else %}
          {{ interface.ifalias|default:'No description' }}
        {% endif %}
        </span>
      </div>


      {# Vlan/Trunk and voice vlan #}
      <div class="row">

        {# Vlan / Trunk #}
        <div class="small-6 columns">
          <h6>Vlan</h6>
          {% if interface.trunk and not interface.voice_activated %}
            <div class="trunk-link">
              <a href="{% url portadmin-render-trunk-edit interface.id %}">
                Trunk
              </a>
            </div>

          {% else %}
            {% if interface.iseditable %}
              <form>
              <select class="vlanlist" name="{{ interface.ifname }}">
                {% for vlan in allowed_vlans %}
                  {% if not interface.voice_activated or vlan.vlan != voice_vlan %}
                    <option value="{{ vlan.vlan }}"
                            {% if interface.vlan == vlan.vlan %}selected="selected"
                            data-orig="{{ vlan.vlan }}"{% endif %}>
                      {{ vlan.vlan }}
                    </option>
                  {% endif %}
                {% endfor %}
                <option value="trunk"
                        data-url="{% url portadmin-render-trunk-edit interface.id %}">
                  Trunk
                </option>
              </select>
              </form>
            {% else %}
              <span class="description">{{ interface.vlan|default_if_none:'' }}</span>
            {% endif %}
          {% endif %}
        </div>

        {# Optional checkbox for voice vlan #}
        <div class="small-6 columns">
        {% if voice_vlan %}
          {% if interface.voice_activated or not interface.trunk %}
            <h6>Voice vlan</h6>
            <input class="voicevlan"
                   type="checkbox"
                   name="voice_vlan"
                   data-orig="{{ interface.voice_activated|default:'false' }}"
                   {% if interface.voice_activated %}checked{% endif %}
                   {% if not interface.iseditable %}disabled="disabled"{% endif %}>
          {% else %}
            &nbsp;
          {% endif %}
        {% endif %}
        </div>

      </div>

      {# Save button #}
      {% if interface.iseditable %}
        <button class="tiny save-interface">Save</button>
      {% endif %}

    </div>
    </li>
  {% endfor %}


</ul>

{% if not readonly %}
  <input type="button" class="saveall_button button small" value="Save all"/>
{% endif %}

{% comment %}
<div id="portadmin-wrapper" class="faketable">

<div class="caption">
  {{ netbox.get_short_sysname }}
</div>

<div class="row header_row">
  <div class="hide-for-small medium-2 column">
    Port
  </div>
  <div class="hide-for-small medium-1 column">
    Enabled
  </div>
  <div class="hide-for-small medium-1 column">
    Linked
  </div>
  <div class="hide-for-small medium-4 column">
    Port description
  </div>
  <div class="hide-for-small medium-2 column">
    Vlan
  </div>
  {% if voice_vlan %}
  <div class="hide-for-small medium-1 column ">
    Tel
  </div>
  {% endif %}
  <div class="hide-for-small column {% if voice_vlan %}medium-1{% else %}medium-2{% endif %}">
    &nbsp;
  </div>
</div>


{% for interface in interfaces %}
  <div id="{{ interface.id }}" class="row port_row">

    Interface name
    <div class="medium-2 small-12 column">
      <span class="left hide-for-medium-up">Port&nbsp;</span>
      <span title="{{ interface.ifname }}">{{ interface.ifname }}</span>
    </div>

    Status indicators
    <div class="medium-1 small-6 column portadmin-status">
      <span class="left hide-for-medium-up">Enabled&nbsp;</span>
      <img title="AdminStatus - If red the interface is down"
           src="{{ STATIC_URL }}images/lys/{{ interface.ifadminstatus|drawLight }}"
           />

    </div>
    <div class="medium-1 small-6 column portadmin-status">
      <span class="left hide-for-medium-up">Linked&nbsp;</span>
      <img title="OperStatus - If red there is no link on the interface"
           src="{{ STATIC_URL }}images/lys/{{ interface.ifoperstatus|drawLight }}"
           />
    </div>

    Port Description - input field
    <div class="medium-4 column">
      {% if interface.iseditable %}
        <input class="ifalias" type="text"
               value="{{ interface.ifalias|default_if_none:'' }}"
               data-orig="{{ interface.ifalias|default_if_none:'' }}"/>
      {% else %}
        {{ interface.ifalias|default:'&nbsp;' }}
      {% endif %}
    </div>

    Vlan / Trunk
    <div class="medium-2 small-4 column">
      {% if interface.trunk and not interface.voice_activated %}
        <a href="{% url portadmin-render-trunk-edit interface.id %}">
          Trunk
        </a>
      {% else %}
        {% if interface.iseditable %}
          <form class="custom">
          <select class="vlanlist" name="{{ interface.ifname }}">
            {% for vlan in allowed_vlans %}
              {% if not interface.voice_activated or vlan.vlan != voice_vlan %}
                <option value="{{ vlan.vlan }}"
                        {% if interface.vlan == vlan.vlan %}selected="selected"
                        data-orig="{{ vlan.vlan }}"{% endif %}>
                  {{ vlan.vlan }}
                </option>
              {% endif %}
            {% endfor %}
            <option value="trunk"
                    data-url="{% url portadmin-render-trunk-edit interface.id %}">
              Trunk
            </option>
          </select>
          </form>
        {% else %}
          {{ interface.vlan|default_if_none:'' }}
        {% endif %}
      {% endif %}
    </div>

    Optional checkbox for voice vlan
    {% if voice_vlan %}
    <div class="small-4 medium-1 column">
      {% if interface.voice_activated or not interface.trunk %}
        <input class="voicevlan"
               type="checkbox"
               name="voice_vlan"
               data-orig="{{ interface.voice_activated|default:'false' }}"
               {% if interface.voice_activated %}checked{% endif %}
               {% if not interface.iseditable %}disabled="disabled"{% endif %}>
      {% else %}
        &nbsp;
      {% endif %}
    </div>
    {% endif %}

    Button for saving
    <div class="column {% if voice_vlan %}medium-1 small-4{% else %}medium-2 small-6{% endif %}">
      {% if interface.iseditable %}
        <button class="tiny portadmin-save">Save</button>
      {% endif %}
    </div>
  </div>
{% endfor %}

</div>
{% endcomment %}

{% comment %}
<table id="portadmin-interfacecontainer" class="listtable full-width">
  <caption>
    <a href="{% url ipdevinfo-details-by-name netbox.sysname %}">
      {{ netbox.sysname }}
    </a>
  </caption>

  <thead>
  <tr>
    <th class="ifname">Port</th>
    <th class="text-center" title="AdminStatus - If red the interface is down">Status</th>
    <th class="ifalias">Port Description</th>
    <th class="vlan text-center">Vlan</th>
    {% if voice_vlan %}
      <th class="voicevlan">Tel</th>
    {% endif %}
  </tr>
  </thead>

  <tbody>
  {% for interface in interfaces %}
    <tr id="{{ interface.id }}">
      <td>{{ interface.ifname }}</td>

      <td class="text-center">
        <img title="AdminStatus - If red the interface is down"
             src="{{ STATIC_URL }}images/lys/{{ interface.ifadminstatus|drawLight }}"/>
        <img title="OperStatus - If red there is no link on the interface"
             src="{{ STATIC_URL }}images/lys/{{ interface.ifoperstatus|drawLight }}"/>
      </td>

      {% endcomment %}
{% comment %}IFALIAS{% endcomment %}{% comment %}

      <td>
        {% if interface.iseditable %}
          <input class="ifalias" type="text"
                 value="{{ interface.ifalias|default_if_none:'' }}"
                 data-orig="{{ interface.ifalias|default_if_none:'' }}"/>
        {% else %}
          {{ interface.ifalias }}
        {% endif %}
      </td>

      {% endcomment %}
{% comment %}
        If interface is a trunk, display link to trunk_edit if allowed
        If interface is not a trunk, display dropdown to choose vlan, or if
        not allowed to edit display access vlan
        {% endcomment %}{% comment %}

      <td class="text-center">
        {% if interface.trunk and not interface.voice_activated %}
          <a href="{% url portadmin-render-trunk-edit interface.id %}">
            Trunk
          </a>
        {% else %}
          {% if interface.iseditable %}
            <select class="vlanlist" name="{{ interface.ifname }}">
              {% for vlan in allowed_vlans %}
                {% if not interface.voice_activated or vlan.vlan != voice_vlan %}
                  <option value="{{ vlan.vlan }}"
                          {% if interface.vlan == vlan.vlan %}selected="selected"
                          data-orig="{{ vlan.vlan }}"{% endif %}>
                    {{ vlan.vlan }}
                  </option>
                {% endif %}
              {% endfor %}
              <option value="trunk"
                      data-url="{% url portadmin-render-trunk-edit interface.id %}">
                Trunk
              </option>
            </select>
          {% else %}
            {{ interface.vlan|default_if_none:'' }}
          {% endif %}
        {% endif %}
      </td>


      {% endcomment %}
{% comment %}
        If voice is activated the interface is a trunk. This need to check
        specifically for this.
        {% endcomment %}{% comment %}

      {% if voice_vlan %}
        <td class="text-center">
          {% if interface.voice_activated or not interface.trunk %}
            <input class="voicevlan"
                   type="checkbox"
                   name="voice_vlan"
                   data-orig="{{ interface.voice_activated|default:'false' }}"
                   {% if interface.voice_activated %}checked{% endif %}
                   {% if not interface.iseditable %}disabled="disabled"{% endif %}>
          {% else %}
            &nbsp;
          {% endif %}
        </td>
      {% endif %}
    </tr>


    {% endcomment %}
{% comment %}
    This row is the "action" row that contains the buttons for saving and
    undoing the changes in the above row.

    The div is only there to make sure the slide functions work. If slide
    functionality is removed, remove the div aswell.
    {% endcomment %}{% comment %}

    <tr class="actionrow" data-mother-row="{{ interface.id }}">
      <td colspan="9">
        <div class="slider hide">
          <span><button class="save">Save</button></span>
          <span><button class="undo">Undo</button></span>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>

</table>
{% endcomment %}

