{% extends 'portadmin/base.html' %}

{% block content %}

    {% if interface %}

    <div>
        <h3>Interface {{ interface }}</h3>

        <table class="listtable">
            <caption>Configure trunk</caption>
            <thead>
                <tr>
                    <th>Native vlan</th>
                    <th>Trunked vlan</th>
                    <th>Vlan</th>
                </tr>
            </thead>

            <tbody>
            {% for vlan in available_vlans %}
                <tr data-vlan="{{ vlan }}">
                    <td>
                        <input type="radio" {% if vlan == native_vlan %}checked{% endif %}>
                    </td>
                    <td>
                        <input type="checkbox" {% if vlan in trunked_vlans %}checked{% endif %}>
                    </td>
                    <td>{{ vlan }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

    </div>


    {% else %}
        <p class="error">This interface does not exist</p>
    {% endif %}




{% endblock %}
