{% extends 'portadmin/base.html' %}

{% block content %}


    {% if interface %}

        <a href="{% url portadmin-sysname interface.netbox.sysname %}">
            Back to {{ interface.netbox.sysname }}
        </a>

        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        {% endif %}

        <div>
            <h3>Interface {{ interface }}</h3>

            <form action="" method="post">
                <table class="listtable highlightover">
                    <caption>Configure trunk</caption>
                    <thead>
                        <tr>
                            <th>Vlan</th>
                            <th>Description</th>
                            <th>Net Ident</th>
                            <th>Native</th>
                            <th>Trunked</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% for vlan in available_vlans %}
                        <tr data-vlan="{{ vlan.vlan }}">
                            <td>{{ vlan.vlan }}</td>
                            <td>{{ vlan.descr|default_if_none:"" }}</td>
                            <td>{{ vlan.net_ident|default_if_none:"" }}</td>
                            <td>
                                <input type="radio" name="native_vlan" value="{{ vlan.vlan }}" {% if vlan.vlan == native_vlan %}checked{% endif %}>
                            </td>
                            <td>
                                <input type="checkbox" name="trunk_vlans" value="{{ vlan.vlan }}" {% if vlan.vlan in trunked_vlans %}checked{% endif %}>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <input type="submit" value="Save changes">
            </form>

        </div>


    {% else %}
        <p class="error">This interface does not exist</p>
    {% endif %}




{% endblock %}
