{# Fragment for loading of neighbors #}
{% for neighbor in neighbors %}
  <tr data-ignored="{{ neighbor.ignored_since|yesno:'true,false' }}">

    <td>
      <input type="checkbox" value="{{ neighbor.pk }}" />
    </td>

    <td class="has-add-button">
      <span>{{ neighbor.remote_id }}</span>
      {% if neighbor.remote_id %}
        <a href="{% url 'seeddb-netbox-add-suggestion' neighbor.remote_id|urlencode %}"
           title="Add unrecognized neighbor to NAV">
          <span class="fa fa-plus-square"></span>
        </a>
      {% endif %}
    </td>

    <td class="has-add-button">
      <span>{{ neighbor.remote_name }}</span>
      {% if neighbor.remote_name %}
        <a href="{% url 'seeddb-netbox-add-suggestion' neighbor.remote_name|urlencode %}"
           title="Add unrecognized neighbor to NAV">
          <span class="fa fa-plus-square"></span>
        </a>
      {% endif %}
    </td>

    <td>
      <a href="{{ neighbor.interface.get_absolute_url }}">{{ neighbor.interface }}</a>
    </td>

    <td>{{ neighbor.source }}</td>

    <td>{{ neighbor.since }}</td>

    <td class="ignored-since"> {{ neighbor.ignored_since|default:'' }} </td>

  </tr>
{% endfor %}
