{% extends "base.html" %}

{% block base_header_additional_head %}
  <link rel="stylesheet"  href="{{ STATIC_URL }}css/nav/networkexplorer.css">
  <script>require(['src/networkexplorer']);</script>
{% endblock %}

{% block base_header_title %}NAV - Network explorer{% endblock %}

{% block base_content %}

  <div class="row">
    <div class="large-12 columns">
      <h2>
        Network explorer <small id="working">(<img src="/images/main/process-working.gif"> Searching ...)</small>
      </h2>
    </div>
  </div>

  {% if errors %}
    <div class="row">
      <div id="notify_area" class="large-12 columns">

      </div>
    </div>
  {% endif %}

  {% block content %}
    <div class="row">

      <form action="" method="get" class="foundation-form" id="search-form">
        <fieldset>
          {% csrf_token %}

          <div class="large-4 columns">
            <div class="row collapse">
              {{ form.query }}
            </div>
          </div>

          <div class="large-3 columns">
            <div class="row">
              <div class="large-2 columns">
                {{ form.exact_results }}
              </div>
              <div class="large-10 columns">
                <label for="id_exact_results">
                  {{ form.exact_results.label }}
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-2 columns">
                {{ form.hide_ports }}
              </div>
              <div class="large-10 columns">
                <label for="id_hide_ports">
                  {{ form.hide_ports.label }}
                </label>
              </div>
            </div>
          </div>

          <div class="large-5 columns">
            <input class="small button" type="submit" value="Search">
          </div>
        </fieldset>
      </form>

    </div>

    <div id="networktree"></div>

  {% endblock %}

{% endblock %}
