<dl>
    {% for service in services %}
    {% if forloop.first %}
    <dt class="swport_tree">Services</dt>
    {% endif %}
    <dd>
{% if forloop.last %}
   <img src="{{ STATIC_URL }}images/networkexplorer/end.gif">
{% else %}
   <img src="{{ STATIC_URL }}images/networkexplorer/vertical-bound.gif">
{% endif %}
    {{ service.handler }} - Status: {{ service.get_up_display }}</dd>
    {% endfor %}

    {% for host in active_hosts %}
    {% if forloop.first %}
    <dt class="swport_tree">Active hosts behind port</dt>
    {% endif %}
    <dd>
{% if forloop.last %}
   <img src="{{ STATIC_URL }}images/networkexplorer/end.gif">
{% else %}
   <img src="{{ STATIC_URL }}images/networkexplorer/vertical-bound.gif">
{% endif %}
        {{ host|safe }}
    </dd>
    {% endfor %}
</dl>
