{% extends "status2/base.html" %}
{% load tools %}

{% block base_header_additional_head %}
  <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/nav/status.css"/>
  <script type="text/javascript">require(['status/status']);</script>
  <script type="text/javascript">
   var NAV = NAV || {};
   NAV.urls = NAV.urls || {};
   NAV.urls.status2_api_alerthistory = "{% url 'api:1:alert-list' %}";
   NAV.urls.status2_clear_alert = "{% url 'status2_clear_alert' %}";
   NAV.urls.status2_acknowledge_alert = "{% url 'status2_acknowledge_alert' %}";
   NAV.urls.status2_put_on_maintenance = "{% url 'status2_put_on_maintenance' %}";
   NAV.urls.status2_delete_module_or_chassis = "{% url 'status2_delete_module_or_chassis' %}";
   NAV.urls.status2_save_preferences = "{% url 'status2_save_preferences' %}";
   NAV.urls.alert_endpoint = "{% url 'api:1:alert-list' %}";
  </script>
{% endblock %}


{% block content %}

  {% with tool=current_user_data.tools|get_tool:'Status' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  <div id="status-page" class="hidden">

    {# Form for filtering events #}
    <a href="javascript:void(0);" class="button small secondary toggle-panel"></a>
    <div id="status-panel" class="hidden panel">
      {% include 'custom_crispy_templates/flat_form.html' %}
    <hr>
      <a href="javascript:void(0);" class="button small secondary set-default">Save as my default status filter</a>
      <button id="clear-status-form" class="small secondary">Clear form</button>
    </div>

    <div id="status-page-fetch-alert" class="alert-box alert with-icon hidden">
      Failed to fetch events
    </div>


    {# Table displaying filtered events #}

    <table id="events-list" class="listtable hover expand tablesorter expandable">
        <caption>Events<span class="pull-right"><span id="fetch-spinner"></span><span class="last-changed"></span></span></caption>
      <thead>
        <tr>
          <th>
            <label>
              <input class="alert-action" type="checkbox">
            </label>
          </th>
          <th>&nbsp;</th>
          <th>&nbsp;</th>
          <th>Subject</th>
          <th>Type</th>
          <th>Time</th>
          <th>Duration</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

    {# Panel to do stuff with selected alerts #}
    <form id="action-panel-revised" class="row" method="POST">
      {% csrf_token %}
      <div class="column medium-8 large-4">
        <label for="alert-action-select">
            Select action for chosen alerts
            <a
                href="#"
                class="help-toggle right"
                aria-describedby="help-toggle-description"
                aria-controls="action-help-content"
                aria-expanded="false"
            >
              <span class="fa fa-question-circle"></span>
              <span class="help-text">Show action details</span>
              <span id="help-toggle-description" class="sr-only">Toggle help content for alert action descriptions</span>
            </a>
        </label>
        <div id="action-help-content" class="hidden" aria-label="Alert action descriptions">
          <h5>Acknowledge the alerts</h5>
          <p>
              Acknowledged alerts will be hidden for all users, but not removed. When an end event arrives the alert
              will be cleared normally. Acknowledged alerts can still be viewed by checking the
              <em>Acknowledged</em> checkbox in your status filter.
          </p>
          <h5>Clear the alerts</h5>
          <p>
              Clearing an alert will set its end time, thereby closing it and removing it from the list of problems.
              Use this to remove alerts that have become invalid, where there is no way for NAV to automatically
              detect this.
          </p>
          <p>
              <strong>Note:</strong> Be aware that if the root cause of the alert is still there, NAV
              may end up posting a new alert for the same issue.
          </p>
          <h5>Put on maintenance</h5>
          <p>Putting an alert on maintenance is only meaningful if the subject can be put on maintenance, for
              instance IP Devices and Services.
          </p>
          <h5>Delete module or chassis</h5>
          <p>
              NAV does not know if a module or chassis that has disappeared did so
              because of an error or because it was removed on purpose. Thus, modules
              and chassis that disappear are all listed in status until manually
              deleted from NAV by a manual module/chassis delete.
          </p>
        </div>
        <select id="alert-action-select" aria-describedby="action-help-content">
          <option value="">--- Choose action ---</option>
          <option value="acknowledge">Acknowledge the alerts</option>
          <option value="clear">Clear the alerts</option>
          <option value="maintenance">Put on maintenance</option>
          <option value="delete">Delete module or chassis</option>
        </select>
        <div style="display: none" class="usercomment-wrapper">
          <label>Description
            <input type="text" placeholder="Write a description" class="usercomment">
          </label>
        </div>

        <a href="javascript:void(0);" class="button small submit-action">Do it</a>
        <div style="display: none" class="feedback with-icon alert-box"></div>

      </div>
    </form>


  </div>

{% endblock %}
