{% extends "status/base.html" %}

{% block content %}

{% for section in sections %}
<table class="listtable">
    <caption>
        {{ section.prefs.name }}<br />
        <span class="subtitle">
        ({{ section.type_title }})
        </span>
    </caption>

    <thead>
        <tr>
        {% for head in section.columns %}
            <th>{{ head }}</th>
        {% endfor %}
        </tr>
    </thead>

    <tbody>
    {% for row in section.history %}
        <tr class="{% cycle 'oddrow' 'evenrow' %}">
            {% for name, url in row %}
            <td>
                {% if url %}
                <a href="{{ url }}">
                {% endif %}
                {{ name }}
                {% if url %}
                </a>
                {% endif %}
            </td>
            {% endfor %}
        </tr>
    {% endfor %}
    </tbody>

    <tfoot>
    </tfoot>
</table>
{% endfor %}

{% endblock %}
