#encoding UTF-8
## $Id:$
##
## Copyright 2006-2008 UNINETT AS
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Author: Stein Magnus Jodal <stein.magnus.jodal@uninett.no>
##         Thomas Adamcik <thomas.adamcik@uninett.no>
##

#extends MaintenanceTemplate
#import calendar
#import time

#block tabcontent
#set $cal = calendar.monthcalendar(int($year), int($month))
#set $today = time.strftime('%Y-%m-%d')

<table class="listtable calendar">
    <caption>
#set $thismonth = time.strptime('%04d-%02d-01' % ($year, $month), '%Y-%m-%d')
#set $prevmonth = time.gmtime(time.mktime($thismonth) - 28*24*60*60)
#set $prevmonthy = int(time.strftime('%Y', $prevmonth))
#set $prevmonthm = int(time.strftime('%m', $prevmonth))
        <a href="?y=$prevmonthy&amp;m=$prevmonthm">&lt;&lt;</a>
#set $monthname = time.strftime('%B %Y', $thismonth)
        $monthname
#set $nextmonth = time.gmtime(time.mktime($thismonth) + 32*24*60*60)
#set $nextmonthy = int(time.strftime('%Y', $nextmonth))
#set $nextmonthm = int(time.strftime('%m', $nextmonth))
        <a href="?y=$nextmonthy&amp;m=$nextmonthm">&gt;&gt;</a>
    </caption>
    <tr>
#for $day in calendar.weekheader(9).split(' ')
    #if len($day) > 0
        <th>$day</th>
    #end if
#end for
    </tr>
#for $week in $cal
    <tr>
    #for $day in $week
        #if $day == 0
        <td>&nbsp;</td>
        #else
            #set $date = '%04d-%02d-%02d' % ($year, $month, $day)
            #if $date == $today
                #set $todays = '<div style="font-size: 80%">Today:</div>'
        <td class="today">
            #else
                #set $todays = ''
        <td>
            #end if
            <span class="dayheader"
            #if calendar.weekday($year, $month, $day) == 5
                style="color: gray;">
            #elif calendar.weekday($year, $month, $day) == 6
                style="color: red;">
            #else
                >
            #end if
                <b>$day</b>
            </span>

	    $todays

            #if $tasks.has_key($date)
                #for $task in $tasks[$date]
            <strong>$task.maint_start.strftime('%H:%M'):</strong>
            <a href="view?id=$task.maint_taskid" title="$task.description">
                    #if len($task.description) > 16
            $task.description[:16]...</a>
                    #else
            $task.description</a>
                    #end if
                    #if int($task.interval.strftime('%d')) > 0
                        #set $interval = int($task.interval.strftime('%d'))
            ($(interval)d)
                    #else
                        #set $interval = int($task.interval.strftime('%H'))
            ($(interval)h)
                    #end if
            <br />
                #end for
            #else
            &nbsp;
            #end if
        </td>
        #end if
    #end for
    </tr>
#end for
</table>

#end block tabcontent
