{% extends 'business/report.html' %}


{% block report-content %}

  <h3>Availability report</h3>

  <p>
    This report displays the IP Devices that has less than 100% availability.
  </p>

  <div>
    I want a report for
    <form id="report-form" class="inline-form">
      <select name="report-month">
        {% for month in months %}
          {{ start }}
          {{ month }}
          <option value="{{ month.year }}-{{ month.month }}"
                  {% if start == month %}selected{% endif %}
                  >
            {{ month|date:'F Y' }}
          </option>
        {% endfor %}
      </select>
      <input type="submit" class="button small" value="Fetch report">
    </form>
  </div>


  {% if alerts %}

    <table>
      <caption>
        Availability report for {{ start|date:'F Y' }}
      </caption>
      {% for alert in alerts %}
        <tr>
          <td>{{ alert.netbox }}</td>
          <td>{{ alert.start_time }}</td>
          <td>{{ alert.end_time }}</td>
        </tr>
      {% endfor %}
    </table>

  {% endif %}

{% endblock %}
