{% extends "macwatch/base.html" %}
{% load default_date_filter %}

{% block content %}

<p><a href="/macwatch/add">Add mac watch</a></p>

{% if macwatches %}
<table class="vertitable">
  <caption>Current mac watches</caption>

  <tr>
    <th>Mac Address</th>
    <th>Description</th>
    <th>Added by</th>
    <th>Created</th>
    <th>&nbsp;</th>
  </tr>
  {% for macwatch in macwatches %}

  <tr>
    <td>{{ macwatch.mac }}</td>
    <td>{{ macwatch.description }}</td>
    <td>{{ macwatch.userid.name }}</td>
    <td>{{ macwatch.created|default_datetime }}</td>
    {% comment %}
    <td>{{ macwatch.created }}</td>
    {% endcomment %}
    <td><a href="/macwatch/delete/{{ macwatch.id }}/">Delete</a></td>
  </tr>

  {% endfor %}
</table>
{% else %}
<p>No active mac watches.</p>
{% endif %}


{% endblock %}

