## $Id$
##
## This file is part of the NAV project.
##
## Extends the UserAdmin template for common useradmin structure.
## Builds html for the Group list screen of the useradmin module.
##
## Authors: Morten Vold <morten.vold@itea.ntnu.no>
##

#extends UserAdmin

#def add_group($group, $row)
  <tr class="$row">
    <td><a href="/useradmin/group?id=$group.id">$group.name</a></td>
    <td>$group.description</td>
    <td align="middle" width="0%">$group.membercount</td>
  </tr>
#end def


#block useradmin

<table width="100%" cellspacing="0" cellpadding="0" border="0">
<!------------------------- TITLE  ---->
#set $rows = len($groups)
    <tr class="title">
      <td class="title" align="center" colspan="4" style="background-image:url('$imagefolder/adminlogo+fill.gif'); background-repeat: no-repeat;">  
        <table class="navigation" cellspacing="0" cellpadding="0" border="0">
          <tr class="navigation">
            <td class="current">
              <div class="title"><font color="black">Group List</font></div>
              $rows groups : <a href="group">Create new group</a>
            </td>
          </tr>
        </table>
      </td>
      <td align=right style="background-image:url('$imagefolder/arpcam/fill.gif');"><img src="$imagefolder/ragen/top-end.gif"></td>
    </tr>
<!------------------------- HEADER ---->
#set $rows = len($groups) + 2
    <tr class="header">
      <td bgcolor="white" style="background-image:url('$imagefolder/ragen/navbar-start.gif'); background-repeat: no-repeat; width: 14px" rowspan="$rows">
        <img src="$imagefolder/blank.gif" width="14" height="1" alt="" />
      </td>
      <td class="header" valign="top" bgcolor="white" nowrap >
          Name &nbsp;
      </td>
      <td class="header" valign="top" bgcolor="white" nowrap >
          Description &nbsp;
      </td>
      <td class="header" valign="top" bgcolor="white" nowrap width="0%" align="right">
          # of members &nbsp;
      </td>
      <td bgcolor="white" style="background-image:url('$imagefolder/ragen/navbar-end.gif'); background-position: top right; background-repeat: no-repeat; width: 14px;" rowspan="$rows">
        <img src="$imagefolder/blank.gif" width="14" height="1" alt="" />
      </td>
    </tr>

#set $row = "oddrow"
#for $group in $groups
    $add_group($group, $row)
    #if $row == "evenrow"
      #set $row = "oddrow"
    #else
      #set $row = "evenrow"
    #end if
#end for

</table>

#end block useradmin
