/* Threshold for using alternative font color.

NB: This variable is introduced by us because Foundation allowed font color with
too little contrast according to WCAG2.0. This variable must be manually
introduced in Foundation scss files when updating Foundation.

Currently used in _labels.scss and _buttons.scss, where the it replaces 70% */
#navigation-preferences .asteriskField {
  display: none; }

#navigation-preferences .link-delete label {
  color: #d2322d; }
