{% extends "base.html" %}
{% load tools %}

{% block footer_scripts %}
  <script>
    require(['jquery-tablesorter', 'src/tablesorter_custom_sorters'], function () {
      $('#thresholdrules').tablesorter({
        headers: {
          6: {sorter: "custom-iso-datetime"},
          7: {sorter: false},
        }
      });
    });
  </script>
{% endblock %}

{% block base_content %}
  {% with tool=current_user_data.tools|get_tool:'Thresholds' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  {% if rules %}
    <a href="{% url 'threshold-add' %}" class="button small">Add rule</a>

    <table id="thresholdrules" class="listtable tablesorter">
      <caption>Existing threshold rules</caption>
      <thead>
      <tr>
        <th>Target</th>
        <th>Threshold</th>
        <th>Clear</th>
        <th class="hide-for-small">Description</th>
        <th class="hide-for-medium-down">Period</th>
        <th class="hide-for-medium-down">Creator</th>
        <th class="hide-for-medium-down">Last edited</th>
        <th>&nbsp;</th>
      </tr>
      </thead>
      <tbody>
      {% for rule in rules %}
        <tr>
          <td>
            <a href="{% url 'threshold-edit' rule.id %}">{{ rule.target }}</a>
          </td>
          <td>{{ rule.alert }}</td>
          <td>{{ rule.clear }}</td>
          <td class="hide-for-small">{{ rule.description }}</td>
          <td class="hide-for-medium-down">{{ rule.period|default_if_none:'' }}</td>
          <td class="hide-for-medium-down">{{ rule.creator.name }}</td>
          <td class="hide-for-medium-down" data-sort-value="{{ rule.created|date:'c' }}">{{ rule.created }}</td>
          <td>
            <div id="delete-popover-{{ rule.id }}" class="popover with-arrow" data-align="end">
              <a
                  href="#"
                  data-popover-target="#delete-popover-{{ rule.id }}"
                  aria-haspopup="true"
                  aria-expanded="false"
              >
                  <i class="fa fa-times-circle deleteicon"></i>
              </a>
              <div class="popover-content tiny">
                <h5>Delete this rule?</h5>
                <form action="{% url 'threshold-delete' rule.id %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="Yes" class="button small alert left" />
                  <button type="button" class="button small secondary close-button left" close-popover>No way!</button>
                </form>
              </div>
            </div>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p>
      No threshold rules defined. <a href="{% url 'threshold-add' %}">Add one.</a>
    </p>
  {% endif %}


{% endblock %}
