{% extends "base.html" %}

{% block base_header_additional_head %}
  <script>require(['src/threshold']);</script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/threshold.css">
{% endblock %}

{% block base_content %}
  <h4>{{ heading }}</h4>

  <p><a href="{% url 'threshold-index' %}">Back to thresholds</a></p>

  <button
          class="button small secondary"
          hx-get="{% url 'threshold-help-modal' %}"
          hx-target="body"
          hx-swap="beforeend"
  >
      Help
  </button>

  <div class="row">

    <div class="column medium-6">
      <div class="dataelement"
           data-url="{% url 'threshold-search' %}"
           data-renderurl="{% url 'threshold-graph' %}"
           data-metric="{{ metric|default_if_none:'' }}">
        {% include 'custom_crispy_templates/flat_form.html' %}
      </div>
      {% if id %}
      <div id="confirm-delete" class="popover with-arrow">
          <button
              data-popover-target="#confirm-delete"
              aria-haspopup="true"
              aria-expanded="false"
              class="button alert"
              style="margin-bottom: 0;"
          >
              Delete
          </button>
          <div class="popover-content tiny" style="width: 200px;">
              <h5>Delete this rule?</h5>
              <form action="{% url 'threshold-delete' id %}" method="POST">
                  {% csrf_token %}
                  <input type="submit" value="Yes" class="button small alert left">
                  <button type="button" class="button small secondary close-button left" close-popover>No way!</button>
              </form>
          </div>
      </div>
      {% endif %}
    </div>

    <div class="column medium-6">
      <button id="refresh-graph" class="small secondary">Reload graph</button>
      <div class="metricGraph"></div>
    </div>

  </div>
{% endblock %}
