{% extends "base.html" %}
{% load popover %}

{% block base_header_additional_head %}
  <script>require(['src/threshold']);</script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/threshold.css">
{% endblock %}

{% block base_content %}
  <h4>{{ heading }}</h4>

  <p><a href="{% url 'threshold-index' %}">Back to thresholds</a></p>

  <button
          class="button small secondary"
          hx-get="{% url 'threshold-help-modal' %}"
          hx-target="body"
          hx-swap="beforeend"
  >
      Help
  </button>

  <div class="row">

    <div class="column medium-6">
      <div class="dataelement"
           data-url="{% url 'threshold-search' %}"
           data-renderurl="{% url 'threshold-graph' %}"
           data-metric="{{ metric|default_if_none:'' }}">
        {% include 'custom_crispy_templates/flat_form.html' %}
      </div>
      {% if id %}
        {% url 'threshold-delete' id as delete_url %}
        {% confirm_popover popover_id="confirm-delete" action_url=delete_url title="Delete this rule?" trigger_text="Delete" trigger_icon="" trigger_classes="button alert" cancel_text="No way!" %}
      {% endif %}
    </div>

    <div class="column medium-6">
      <button id="refresh-graph" class="small secondary">Reload graph</button>
      <div class="metricGraph"></div>
    </div>

  </div>
{% endblock %}
