{% extends "base.html" %}
{% load tools %}

{% block base_header_additional_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/portadmin.css"/>
  <script>require(['src/portadmin']);</script>
{% endblock %}

{% block base_content %}

  {% with tool=current_user_data.tools|get_tool:'Port Admin' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  {% include 'portadmin/_messages.html' %}

  {% block page_content %}

    {% include 'custom_crispy_templates/flat_form.html' with disable_csrf=True %}

    {% block content %}
      {% if form.is_bound %}
        <div class="row">
          <div class="medium-5 column">
            <h5>IP Devices</h5>
            <ul>
              {% for netbox in netboxes %}
                <li>
                  <a href="{% url 'portadmin-sysname' netbox.sysname %}">
                    {{ netbox.sysname }}
                  </a>
                </li>
              {% empty %}
                <li>No ip devices found</li>
              {% endfor %}
            </ul>
          </div>

          <div class="medium-7 column">
            <h5>Interfaces</h5>
            <ul>
              {% for interface in interfaces %}
                <li>
                  <a href="{% url 'portadmin-interface' interface.id %}">
                    {{ interface.netbox }} - {{ interface.ifname }}
                    - {{ interface.ifalias }}
                  </a>
                </li>
              {% empty %}
                <li>No interfaces found</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    {% endblock content %}

  {% endblock page_content %}

{% endblock base_content %}
