{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load tools %}

{% block base_header_additional_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/portadmin.css"/>
  <script>require(['src/portadmin']);</script>
{% endblock %}

{% block base_content %}

  {% with tool=current_user_data.tools|get_tool:'Port Admin' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  {% if messages %}
    {% for message in messages %}
      <div class="alert-box {{ message.tags }}">
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}

  {% block page_content %}

    {% crispy form %}

    {% block content %}
      {% if form.is_bound %}
        <div class="row">
          <div class="medium-5 column">
            <h5>IP Devices</h5>
            <ul>
              {% for netbox in netboxes %}
                <li>
                  <a href="{% url 'portadmin-sysname' netbox.sysname %}">
                    {{ netbox.sysname }}
                  </a>
                </li>
              {% empty %}
                <li>No ip devices found</li>
              {% endfor %}
            </ul>
          </div>

          <div class="medium-7 column">
            <h5>Interfaces</h5>
            <ul>
              {% for interface in interfaces %}
                <li>
                  <a href="{% url 'portadmin-interface' interface.id %}">
                    {{ interface.netbox }} - {{ interface.ifname }}
                    - {{ interface.ifalias }}
                  </a>
                </li>
              {% empty %}
                <li>No interfaces found</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endif %}
    {% endblock content %}

    <div id="portadmin-modal-feedback" class="reveal-modal tiny" data-reveal role="dialog">
      <h5>Executing SNMP-queries</h5>

      <ul></ul>
    </div>

  {% endblock page_content %}

{% endblock base_content %}
