{% load portadmin %}


{{ aliastemplate }}

{% if messages %}
{% include 'portadmin/_messages.html' with hx_swap_oob=True %}
{% endif %}

<div id="portadmin-wrapper" class="faketable{% if loading %} loading{% endif %}">
  <div class="caption">
    <a href="{{ netbox.get_absolute_url }}"
       title="Go to Ip Device Info for {{ netbox }}">
      {{ netbox.get_short_sysname }}
    </a>
    {% if handlertype %}({{ handlertype }}){% endif %}
    {% if loading %}
    <div class="loading-indicator right">
        <span>
            <img src="/static/images/select2/select2-spinner.gif" alt="Loading spinner" />
        </span>
        Loading live data from device
    </div>
    {% endif %}
  </div>
  <form id="save-changes-form" style="display: none;">
    {% csrf_token %}
  </form>
  <div class="row header_row">
    <div class="hide-for-small medium-2 column">
      Port
    </div>
    <div class="hide-for-small medium-1 column">
      Enabled
    </div>
    <div class="hide-for-small medium-1 column">
      Linked
    </div>
    <div class="hide-for-small {% if readonly or supports_poe %}medium-3{% else %}medium-4{% endif %} column">
      Port description
    </div>
    <div class="hide-for-small medium-2 column">
      Vlan
    </div>
    {% if readonly %}
        <div class="hide-for-small medium-2 column"></div>
    {% endif %}
    {% if voice_vlan %}
      <div class="hide-for-small medium-1 column ">
        Tel
      </div>
    {% endif %}
    {% if supports_poe %}
      <div class="hide-for-small medium-1 column">
        PoE State
      </div>
    {% endif %}
    {% if not readonly %}
      <div class="column {% if voice_vlan %}medium-1{% else %}medium-2{% endif %} text-right">
        <input type="button" class="saveall_button button tiny" value="Save all"/>
      </div>
    {% endif %}
  </div>


  {% for interface in interfaces %}
    <div id="{{ interface.id }}" class="row port_row">

      {# Interface name #}
      <div class="medium-2 small-12 column">
        <span class="left hide-for-medium-up">Port&nbsp;</span>
        <div title="{{ interface.ifname }}" class="long-content port-name">
            <a href="{{ interface.get_absolute_url }}" title="Click to see details of {{ interface.ifname }}">{{ interface.ifname }}</a></div>
      </div>

      {# Status indicators / ifadminstatus checkbox #}
      <div class="medium-1 small-6 column portadmin-status">
        <span class="left hide-for-medium-up">Enabled&nbsp;</span>
        {% if interface.detained %}
          <a href="{% url 'arnold-detainedports' %}">
            <img src="{{ STATIC_URL }}images/toolbox/arnold.png" width="24" height="24" title="Detained in Arnold">
          </a>
        {% else %}
          <input type="checkbox" class="ifadminstatus" data-orig="{{ interface.ifadminstatus }}"
                 {% if interface.ifadminstatus == 1 %}checked{% endif %}
                 {% if not interface.iseditable %}disabled{% endif %}
          >
        {% endif %}
      </div>
      <div class="medium-1 small-6 column portadmin-status">
        <span class="left hide-for-medium-up">Linked&nbsp;</span>
        <img title="OperStatus - If red there is no link on the interface"
             src="{{ STATIC_URL }}images/lys/{{ interface.ifoperstatus|drawLight }}"
        />
      </div>

      {# Port Description - input field #}
      <div class="{% if readonly or supports_poe %}medium-3{% else %}medium-4{% endif %} column">
        {% if interface.iseditable and not readonly %}
          <input class="ifalias" type="text"
                 value="{{ interface.ifalias|default_if_none:'' }}"
                 data-orig="{{ interface.ifalias|default_if_none:'' }}"/>
        {% else %}
          <div class="long-content">{{ interface.ifalias|default:'&nbsp;' }}</div>
        {% endif %}
      </div>

      {# Vlan / Trunk #}
      <div class="medium-2 small-4 column">
        {% if interface.dot1xenabled %}
          {% if interface.dot1x_external_url %}
            <a class="button tiny" href="{{ interface.dot1x_external_url }}">Dot1x</a>
          {% else %}
            Dot1x
          {% endif %}
        {% else %}
          {% if interface.trunk and not interface.voice_activated %}
            {% if trunk_edit and interface.iseditable %}
              <a href="{% url 'portadmin-render-trunk-edit' interface.id %}">
                Trunk
              </a>
            {% else %}
              Trunk
            {% endif %}
          {% else %}
            {% if interface.iseditable and not readonly %}
              {% if interface.detained %}
                {{ interface.vlan|default_if_none:'' }}
                <a href="{% url 'arnold-detainedports' %}">
                  <img src="{{ STATIC_URL }}images/toolbox/arnold.png" width="24" height="24" title="Detained in Arnold">
                </a>
              {% else %}
                <form class="custom">
                  {% csrf_token %}
                  <select class="vlanlist" name="{{ interface.ifname }}">
                    {% for vlan in allowed_vlans %}
                      {% if not interface.voice_activated or vlan.vlan != voice_vlan %}
                        <option value="{{ vlan.vlan }}"
                                {% if interface.vlan == vlan.vlan %}selected="selected"
                                data-orig="{{ vlan.vlan }}"{% endif %}>
                          {{ vlan }}
                        </option>
                      {% endif %}
                    {% endfor %}
                    {% if interface.dot1x_external_url %}
                      <option value="trunk" data-url="{{ interface.dot1x_external_url }}">
                        Dot1x
                      </option>
                    {% endif %}
                    {% if trunk_edit %}
                      <option value="trunk"
                              data-url="{% url 'portadmin-render-trunk-edit' interface.id %}">
                        Trunk
                      </option>
                    {% endif %}
                  </select>
                </form>
              {% endif %}
            {% else %}
              {{ interface.vlan|default_if_none:'' }}
            {% endif %}
          {% endif %}
        {% endif %}
      </div>

      {% if readonly %}
        <div class="hide-for-small medium-2 column"></div>
      {% endif %}

      {# Optional checkbox for voice vlan #}
      {% if voice_vlan %}
        <div class="small-4 medium-1 column">
          {% if interface.voice_activated or not interface.trunk %}
            <span> {# This span is needed because of the hide-for-medium-up class on the child #}
              <span class="hide-for-medium-up">Tel:</span>
              <input class="voicevlan"
                     type="checkbox"
                     name="voice_vlan"
                     data-orig="{{ interface.voice_activated|default:'false' }}"
                     {% if interface.voice_activated %}checked{% endif %}
                     {% if readonly or not interface.iseditable %}disabled="disabled"{% endif %}>
            </span>
          {% else %}
            &nbsp;
          {% endif %}
        </div>
      {% endif %}

      {# POE STATE #}
      {% if supports_poe %}
        <div class="medium-1 small-4 column">
          {% if interface.supports_poe %}
            <form class="custom">
              {% csrf_token %}
              <select class="poelist" name="{{ interface.ifname }}">
                {% for poe_option in poe_options %}
                  <option value="{{ poe_option.name }}" label="{{ poe_option.name }}"
                          {% if interface.poe_state.name == poe_option.name %}selected="selected"
                          data-orig="{{ poe_option.name }}"{% endif %}>
                {% endfor %}
              </select>
            </form>
          {% endif %}
        </div>
      {% endif %}

      {# Button for saving #}
      {% if interface.iseditable and not readonly %}
          <div class="{% if voice_vlan %}medium-1 small-4{% else %}medium-2 small-8{% endif %}  column text-right">
              <button class="tiny portadmin-save secondary">Save</button>
          </div>
      {% endif %}

      <div id="{{ interface.id }}-errors" class="small-12 column error-column"></div>

    </div>

  {% endfor %}

</div>
