{% extends "base.html" %}

{% block base_header_additional_head %}
  <script>require(['src/threshold']);</script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/threshold.css">
{% endblock %}

{% block base_content %}
  <h4>Threshold manager</h4>

  <div class="ui-widget">
    <label>Metric search
      <input type="search" id="metricsearchinput" data-url="{% url threshold-search %}" data-renderurl="{% url threshold-graph %}">
    </label>
  </div>

  <div id="metricInfo">
    <p class="metricName"></p>
    <div class="metricGraph"></div>
  </div>

{% endblock %}
