
<div>
<a href="javascript:void(0)" onclick="threshold.backToSearch();">&laquo; Back to search</a>
</div>

{% if descr %}
    <div>

        <table class="vertitable" id="bulkSetTable">
        <caption>Update</caption>
        <thead>
        </thead>
        <tbody>
            <tr>
                <th>{{ descr }}</th>
                <td><select>
                        <option value=">">Greater than</option>
                        <option value="<">Less than</option>
                    </select>
                </td>
                <td>
                    <input type="text" value="" />
                </td>
                <td>
                    &percnt; <input type="checkbox"
                                    value="%"
                                    title="Check to use threshold-value as per-cent of max."/>
                </td>
                <td>
                    <input type="button" value="Update checked" />
                </td>
            <tr>
        </tbody>
        </table>

        <div>
            <input type="button" id="saveCheckedThresholdsTop" value="Save checked" />
            <input type="button" id="saveAllThresholdsTop" value="Save all" />
        </div>

       <table class="vertitable" id="bulkUpdateTable">
        <thead>
            <tr>
                <th><input type="checkbox" class="toggleIncludes" />
                </th>
                <th>Sysname</th>
                {% if interfaces %}
                <th>IfName</th>
                <th>IfAlias</th>
                {% endif %}
                <th>Description</th>
                <th>Operator</th>
                <th>Threshold</th>
                <th>Units</th>
                <th>Max</th>
                <th>Thresholdstate</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for ds in datasources %}
            <tr>
                <td><input type="checkbox" class="includeInBulk" value="{{ ds.id }}" /></td>
                {% if interfaces %}
                <td><a href="{% url ipdevinfo-details-by-name ds.rrd_file.interface.netbox.sysname %}">
                    {{ ds.rrd_file.interface.netbox.get_short_sysname }}</a></td>
                {% else %}
                <td><a href="{% url ipdevinfo-details-by-name ds.rrd_file.netbox.sysname %}">
                    {{ ds.rrd_file.netbox.get_short_sysname }}</a></td>
                {% endif %}
                {% if interfaces %}
                <td><a href="{% url ipdevinfo-interface-details ds.rrd_file.interface.netbox.sysname ds.rrd_file.interface.id %}">
                    {{ ds.rrd_file.interface.ifname }}</a></td>
                <td><a href="{% url ipdevinfo-interface-details ds.rrd_file.interface.netbox.sysname ds.rrd_file.interface.id %}">
                    {{ ds.rrd_file.interface.ifalias }}</a></td>
                {% endif %}
                <td>{{ ds.description }}</td>
                <td><select class="operator">
                    {% if ds.delimiter %}
                        {% ifequal ds.delimiter ">" %}
                            <option value=">" selected="selected">Greater than</option>
                            <option value="<">Less than</option>
                        {% else %}
                            <option value=">">Greater than</option>
                            <option value="<" selected="selected">Less than</option>
                        {% endifequal %}
                    {% else %}
                        <option value=">">Greater than</option>
                        <option value="<">Less than</option>
                    {% endif %}
                    </select>
                </td>
                <td><input type="text" class="threshold"
                        value="{% if ds.threshold %}{{ ds.get_threshold_value }}{% endif %}" />
                </td>
                <td>
                    {% if ds.units %}
                        {% if ds.max %}
                            <select class="unit">
                                {% if ds.get_threshold_unit %}
                                    {% ifequal ds.get_threshold_unit ds.units %}
                                        <option value="{{ds.units}}" selected="selected">{{ds.units}}</option>
                                        <option value="%">&#37;</option>
                                    {% endifequal %}
                                    {% if ds.is_percent %}
                                        <option value="{{ds.units}}">{{ds.units}}</option>
                                        <option value="%" selected="selected">&#37;</option>
                                    {% endif %}
                                {% else %}
                                    <option value="{{ds.units}}">{{ds.units}}</option>
                                    <option value="%">&#37;</option>
                                {% endif %}
                            </select>
                        {% else %}
                            {{ds.units}}
                        {% endif %}
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
                <td>
                    {% if ds.max %}
                        {{ ds.max }}
                        {% if ds.units %}
                            &nbsp;{{ds.units}}
                        {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if ds.threshold_state %}
                        {{ ds.threshold_state }}
                    {% endif %}</td>
                <td>
                    <input id="updateThreshold" type="button"
                        onclick="threshold.saveSingleThreshold(this);"
                        value="Save" />
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>

        <div>
            <input type="button" id="saveCheckedThresholdsBottom" value="Save checked" />
            <input type="button" id="saveAllThresholdsBottom" value="Save all" />
        </div>

    </div>
{% else %}
    <h3>This threshold cannot be set for the chosen interfaces or netboxes</h3>
{% endif %}
