  {% if metric.thresholds %}
  {% for rule in metric.thresholds %}
  <strong>
    <a href="{% url 'threshold-edit' rule.id %}"
       {% if rule.description %}title="{{ rule.description }}"{% endif %}>
      {{ rule.alert }}
    </a>
  </strong>{% if not forloop.last %},{% endif %}
  {% endfor %}
  <a href="{% url 'threshold-add' metric.id %}"
     title="Add a new threshold rule for this metric"
     class="table-button secondary">
    +
  </a>
  {% else %}
  <a href="{% url 'threshold-add' metric.id %}"
     title="Add a new threshold rule for this metric"
     class="table-button secondary">
    Add threshold
  </a>
  {% endif %}
