{% extends 'threshold/base.html' %}

{% block content %}

{% regroup netboxes|dictsort:"sysname" by sysname as netbox_list %}

{% for netbox in netbox_list %}
<div class="netboxcontainer">
    <h3>
        <a href="{% url ipdevinfo-details-by-name netbox.grouper %}">{{ netbox.grouper }}</a>&nbsp;
            <img id="plus" class="toggler" src="/images/threshold/plus-button.png" alt="+"/>
            <img id="minus" class="toggler" src="/images/threshold/minus-button.png" alt="-" style="display: none;"/>
    </h3>
<table class="vertitable" style="display: none;">
    <thead>
    <tr>
        <th>Interface name</th>
        <th>Interface alias</th>
        <th>Description</th>
        <th>Operator</th>
        <th>Threshold</th>
        <th>Max</th>
        <th>Thresholdstate</th>
        <th>&nbsp;</th>
    </tr>
    </thead>
    <tbody>
    {% for item in netbox.list %}
        {% for threshold in item.sources %}
        <tr>
                {% if threshold.rrd_file.interface %}
                    {% if threshold.rrd_file.interface.ifname %}
                    <td><a href="{% url ipdevinfo-interface-details threshold.rrd_file.interface.netbox.sysname threshold.rrd_file.interface.id %}">
                        {{ threshold.rrd_file.interface.ifname }}</a></td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                    {% if threshold.rrd_file.interface.ifalias %}
                    <td><a href="{% url ipdevinfo-interface-details threshold.rrd_file.interface.netbox.sysname threshold.rrd_file.interface.id %}">
                        {{ threshold.rrd_file.interface.ifalias }}</a></td>
                    {% else %}
                    <td>&nbsp;</td>
                    {% endif %}
                {% else %}
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                {% endif %}
                <td><span title="{{ threshold.extra_descr }}">{{ threshold.description }}</span></td>
                <td><select id="operator" name="operator">
                    {% if threshold.delimiter %}
                        {% ifequal threshold.delimiter ">" %}
                        <option value=">" selected="selected">Greater than</option>
                        <option value="<">Less than</option>
                        {% else %}
                        <option value=">">Greater than</option>
                        <option value="<" selected="selected">Less than</option>
                        {% endifequal %}
                    {% else %}
                    <option value=">">Greater than</option>
                    <option value="<">Less than</option>
                    {% endif %}
                    </select>
                </td>
                <td><input class="thresholdvalue" type="text" size="8"
                        value="{{ threshold.threshold }}"></td>
                <td class="maxvalue">{% if threshold.max %} {{ threshold.max }}{% endif %}</td>
                <td>{% if threshold.threshold_state %} {{ threshold.threshold_state }} {% endif %}</td>
                <td data_dsid="{{threshold.id}}"><input class="button" type="button" value="Update" /></td>
        <tr>
        {% endfor %}
    {% endfor %}
</tbody>
</table>
</div>
{% endfor %}
{% endblock %}

