{% extends 'threshold/base.html' %}

{% block content %}

<div id="messagesDiv">
</div>

<table class="vertitable">
    <caption><a href="{% url ipdevinfo-interface-details sysname interfaceid %}">Interface {{ ifname }}</a></caption>
    <tr>
        <th>IfAlias</th><td><a href="{% url ipdevinfo-interface-details sysname interfaceid %}">{{ ifalias }}</a></td>
    </tr>
    <tr>
        <th>Netbox</th><td><a href="{% url ipdevinfo-details-by-name sysname %}">{{ sysname }}</a></td>
    </tr>
</table>

<div class="netboxcontainer">
<table class="vertitable">
    <tr>
        <th>Description</th>
        <th>Operator</th>
        <th>Threshold</th>
        <th>Units</th>
        <th>Max</th>
        <th>Thresholdstate</th>
        <th>&nbsp;</th>
    </tr>
{% for threshold in thresholds %}
    <tr class="{{threshold.id}}">
        <td>
            <span title="{{ threshold.extra_descr }}">{{ threshold.description }}</span>
        </td>
        <td>
            <select class="operator" name="operator">
                {% if threshold.delimiter %}
                    {% ifequal threshold.delimiter ">" %}
                        <option value=">" selected="selected">Greater than</option>
                        <option value="<">Less than</option>
                    {% else %}
                        <option value=">">Greater than</option>
                        <option value="<" selected="selected">Less than</option>
                    {% endifequal %}
                {% else %}
                    <option value=">">Greater than</option>
                    <option value="<">Less than</option>
                {% endif %}
            </select>
        </td>
        <td>
            <input type="text" class="threshold" name="threshold"
                   value="{% if threshold.threshold %}{{ threshold.get_threshold_value }}{% endif %}"/>
        </td>
        <td>
            {% if threshold.units %}
                {% if threshold.max %}
                    <select class="unit">
                    {% if threshold.is_percent %}
                        <option value="{{threshold.units}}">{{threshold.units}}</option>
                        <option value="%" selected="selected">&#37;</option>
                    {% else %}
                        <option value="{{threshold.units}}" selected="selected">{{threshold.units}}</option>
                        <option value="%">&#37;</option>
                    {% endif %}
                    </select>
                {% else %}
                    {{threshold.units}}
                {% endif %}
            {% else %}
                &nbsp;
            {% endif %}
        </td>
        <td class="maxvalue">
            {% if threshold.max %}
                {{ threshold.max }}
                {% if threshold.units %}
                    &nbsp;{{ threshold.units }}
                {% endif %}
            {% endif %}
        </td>
        <td>
            {% if threshold.state %}
                {{ threshold.state }}
            {% endif %}
        </td>
        <td data_dsid="{{threshold.id}}">
            <input class="button" type="button" value="Update"/>
        </td>
    </tr>
{% endfor %}
</table>
</div>
{% endblock %}

