{% extends 'threshold/base.html' %}

{% block content %}

    {% if thresholds %}
    <div>
        <label for="thresholdDescr">Data source:</label>
        <select id="thresholdDescr" name="thresholdDescr">
            <option value="empty">Not chosen</option>
            {% for threshold in thresholds %}
                <option value="{{ threshold }}">{{ threshold }}</option>
            {% endfor %}
        </select><span class="ajaxLoader">&nbsp;<img id="spinnerWheel" src="/images/threshold/ajax-loader.gif" alt="Loading..."/></span>

        <div id="messagesDiv">
        </div>

        <div id="netboxsearch" style="display: none;">

        <table class="vertitable" id="netboxSearchTable">
        <caption>Netboxes</caption>
        <thead></thead>
        <tbody>
            <tr>
                <th><label for="netboxSysname">Search:</label></th>
                <td><input type="text" id="netboxSysname" name="netboxSysname"/></td>
            </tr>
            <tr>
                <th>Category:</th>
                <td>
                    <input type="checkbox" id="gwBoxType" name="boxtype"
                        value="GW">GW</input>
                    &nbsp;
                    <input type="checkbox" id="gswBoxType" name="boxtype"
                        value="GSW">GSW</input>
                    &nbsp;
                    <input type="checkbox" id="swBoxType" name="boxtype"
                        value="SW">SW</input></td>
            </tr>
            <tr>
                <th><label for="boxVendor">Vendor:</label></th>
                <td>
                    <select id="boxVendor" name="boxVendor">
                        <option value="empty">Not chosen</option>
                        {% if vendors %}
                        {% for vendor in vendors %}
                            <option value="{{ vendor }}">{{ vendor }}</option>
                        {% endfor %}
                        {% endif %}
                    </select></td>
            </tr>
            <tr>
                <th><label for="netBoxModel">Type:</label></th>
                <td>
                    <select id="netBoxModel" name="netBoxModel">
                        <option value="empty">Not Chosen</option>
                        {% if types %}
                        {% for type in types %}
                            <option value="{{ type }}">{{ type }}</option>
                        {% endfor %}
                        {% endif %}
                    </select></td>
            </tr>
            <tr>
                <th><label for="chosenBoxes">Netboxes:</label></th>
                <td>
                    <select id="chosenBoxes" name="chosenBoxes" size="24" multiple>
                        {% if chosenboxes %}
                        {% for netbox in chosenboxes %}
                        <option value="{{ netbox.id }}">{{ netbox.sysname }}</option>
                        {% endfor %}
                        {% endif %}
                    </select></td>
            </tr>
            </tbody>
            </table>

	    <div id="netboxSubmitDiv" style="display: none;">
	        <input type="button" id="netboxSubmit" name="netboxSubmit"
		     value="Continue"/>
	    </div>
        
        </div>
        <div id="interfacesearch" style="display: none;">

            <table class="vertitable" id="interfaceSearchTable">
            <caption>Interface</caption>
            <thead></thead>
            <tbody>
            <tr>
                <th><label for="interfaceName">Search interfaces:</label></th>
                <td><input type="text" id="interfaceName"
                        name="interfacename"/></td>
            </tr>
            <tr>
                <th>&nbsp;</th>
                <td><input type="checkbox" id="interfaceUpDown" name="interfaceUpDown"
                        value="updown">Up-/Down-link</input></tr>
            </tr>
            <tr>
                <th><label for="choseninterfaces">Interfaces:</label></th>
                <td>
                <select id="choseninterfaces" name="choseninterfacs"
                    size="24" multiple>
                {% if choseninterfaces %}
                {% for interface in choseninterfaces %}
                    <option value="{{ interface.id }}">{{ interface.netbox.sysname}} - {{ interface.ifname }} {% if interface.ifalias %} ({{ interface.ifalias }}) {% endif %}</option>
                {% endfor %}
                {% endif %}</td>
            </tr>
            </tbody>
            </table>

	    <div id="interfaceSubmitDiv" style="display: none;">
	      <input type="button" id="interfaceSubmit"
		     name="interfaceSubmit" value="Continue" />
	    </div>
        </div>
        
        <div id="bulkupdateDiv" style="display: none;">
        </div>
        
    </div>
    {% endif %}

{% endblock %}

