{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block base_header_additional_head %}
  <script>require(['src/threshold']);</script>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css">
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/threshold.css">
{% endblock %}

{% block base_content %}
  <h4>{{ heading }}</h4>

  <p><a href="{% url threshold-index %}">Back to thresholds</a></p>

  <div class="row">

    <div class="column medium-6">
      <div class="dataelement"
           data-url="{% url threshold-search %}"
           data-renderurl="{% url threshold-graph %}"
           data-metric="{{ metric|default_if_none:'' }}">
        {% crispy form %}
      </div>
    </div>

    <div class="column medium-6">
      <div class="metricGraph"></div>
    </div>

  </div>

{% endblock %}
