{% extends 'threshold/base.html' %}

{% block content %}

<p>
<table class="vertitable">
    <caption>Interface {{ ifname }}</caption>
    <tr>
        <th>IfName</th><td>{{ ifname }}</td>
    </tr>
    <tr>

        <th>Netbox</th><td>{{ sysname }}</td>
    </tr>
</table>
</p>

<p>
<table class="vertitable">
    <tr>
        <th>Description</th>
        <th>Operator</th>
        <th>Threshold</th>
        <th>Max</th>
        <th>Thresholdstate</th>
    </tr>
{% for threshold in thresholds %}
    <tr>
        <td><span title="{{ threshold.extra_descr }}">{{ threshold.description }}</span></td>
        <td align="center">{% if threshold.delimiter %}{{ threshold.delimiter }}{% endif %}</td>
	{% if threshold.threshold %}
        <td>{{ threshold.threshold }}</td>
        <td>{% if threshold.max %}{{ threshold.max }}{% endif %}</td>
        <td>{{ threshold.state }}</td>
	{% else %}
	<td></td>
	<td></td>
	<td></td>
	{% endif %}
    </tr>
{% endfor %}
</table>
</p>
{% endblock %}

