#encoding UTF-8
##
## Copyright 2006-2008 (C) Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV).
##
## NAV is free software: you can redistribute it and/or modify it under
## the terms of the GNU General Public License version 2 as published by
## the Free Software Foundation.
##
## This program is distributed in the hope that it will be useful, but WITHOUT
## ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS
## FOR A PARTICULAR PURPOSE. See the GNU General Public License for more
## details.  You should have received a copy of the GNU General Public License
## along with NAV. If not, see <http://www.gnu.org/licenses/>.
##

#extends nav.web.templates.MainTemplate.MainTemplate


#block additionalJavaScript
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/arnold.js"></script>

#end block additionalJavaScript

##################################################
## Start of maincontent
##################################################
#block content
##################################################

<h2>Arnold</h2>

$printMenu($buttons, $buttonnames, $action)

<div class="tabcontent">
#if $output
  <b>
  #filter WebSafe
    $output
  #end filter
  </b>
#end if

#if $action == 'search'
  $printSearch()

  <div class='infobox'>
    <h4>Usage</h4>

    <p>Search by choosing searchfield and then enter a value. Choose if what
    you are searching for is enabled, disabled or both. Enter the number of
    days back in time (0 being today) you want to limit your search to.</p>

    <ul>
      <li>IP format: Standard inet-values accepted (e.g. 129.241.xxx.xxx, 129.241.xxx.xxx/xx)</li>
      <li>MAC format: Hexadecimal values with no padding.</li>
      <li>Netbios, DNS and Orgid accept all characters and words.</li>
    </ul>

  </div>
#elif $action == 'showdetails'
  $printList($headertext, "", $list, $headersList, $headers, 1, 0)
  <h3>History</h3>
  $printList($headertext2, $hitstext2, $list2, $headersList2, $headers2, $hits2, 1)

#elif $action == 'addreason'
  $printAddreason($blockreasons)

#elif $action == 'deletereason'
  $deleteReason($reason)

#elif $action == 'history'
  $printList($headertext, $hitstext, $list, $headersList, $headers, $hits, 1)

  <form action="history" method="get">
    <input type="text" name="days" size="3" value="$days" />days of history (based on lastchanged)
    <button type="submit">Change</button>
  </form>

#elif $action == 'blockedports'
  $printList($headertext, $hitstext, $list, $headersList, $headers, $hits, 1)

#elif $action == 'manualdetain'
  $printManualDetain($reasons, $quarantines)

  <div class='infobox'>
    <h4>Usage</h4>

    <p>Enter IP address to detain and choose reason for
    detention. If you want you can add a comment. Autoenable is the
    number of days until the port will be automatically enabled. If
    not entered, the port will stay in detention until manually opened.</p>
  </div>


#elif $action == 'predefined'
  $printList($headertext, $hitstext, $list, $headersList, $headers, $hits, 1)

  <p><a href='addPredefined'>Add new predefined detention</a></p>

#elif $action == 'deletepredefined'
  $deletePredefined($predefined)

#elif $action == 'addPredefined'
  $addBlocktype($blockreasons, $quarantines)

#elif $action == 'addquarantinevlan'
  $addQuarantineVlan($quarantines)

#elif $action == 'deletequarantinevlan'
  $deleteQuarantineVlan($quarantine)

#elif $action == 'printError'
  <p class="error">$error</p>

#elif $action == 'domanualdetain'
  $printConfirmBlock($candidates, $arg, $type)

#elif $action == 'doenable'
  $printChooseEnablePorts($blockedports)

#end if

</div> ## tabcontent

#end block



##################################################
##################################################
##                  Functions                   ##
##################################################
##################################################



## Print the links in the $buttons-array
##################################################
#def printMenu($buttons, $buttonnames, $action)
##################################################

<div class="tabs">
<ul>
#for $button in $buttonnames
    #if $buttons[$button] == $action
    <li class="tabactive"><a href="$buttons[$button]">$button</a></li>
    #else
    <li><a href="$buttons[$button]">$button</a></li>
    #end if
#end for
</ul>
</div>

#end def


##################################################
## Generic function that prints a table based on input
#def printList($headertext, $hitstext, $list, $headersList, $headers, $hits, $printHits)
##################################################


<table class="listtable">
    <caption>$headertext</caption>

## HEADERS / ROW DESCRIPTIONS

#if len($list)
    <thead>
        <tr>
#for $entry in $headersList
            <th>
        #if $sort and $action == 'history'
                <a href="$section?sort=$entry&days=$days" class="navbar" title="">$headers[$entry]</a>
        #elif $sort and $entry != 'sysname'
                <a href="$section?sort=$entry" class="navbar" title="">$headers[$entry]</a>
        #else
                $headers[$entry]
        #end if
            </th>
#end for
        </tr>
    </thead>


## THE INFORMATION / TABLE

    <tbody>
#for $listitem in $list
        <tr class="$rowcycler">
#for $entry in $headersList
            <td class="$cellcycler">$listitem[$entry]</td>
#end for
        </tr>
#end for
    </tbody>
#end if 

#if $printHits
    <tbody class="footer">
        <tr>
            <th colspan="0">$hits $hitstext</th>
        </tr>
    </tbody>
#end if
</table>
#end def


##################################################
#def printSearch()
##################################################


<form action="search" method="get">
<input type="hidden" name="action" value="dosearch" />

<table class="vertitable">
    <tr>
        <th>
<select name="searchfield">
#for $entry in $searchfields
    #if $entry == $searchfield
    <option value="$entry" selected="selected">$entry</option>
    #else
    <option value="$entry">$entry</option>
    #end if
#end for
</select>
        </th>
        <td>
<input type="text" name="searchtext" value="$searchtext" size="20" />
        </td>
    </tr>
    <tr>
        <th>Status</th>
        <td>
<select name="status">
#for $item in $statusfields
    #if $item == $status
    <option value="$item" selected="selected">$item</option>
    #else
    <option value="$item">$item</option>
    #end if
#end for
</select>
        </td>
    </tr>
    <tr>
        <th>Date</th>
        <td>
<input type="text" name="days" value="$days" size="4" maxlength="4" />
days back
        </td>
    </tr>
    <tr>
        <th></th>
        <td>
<button type="submit">Search</button>
        </td>
    </tr>
</table>


</form>

#if $searchresults
$printList($headertext, $hitstext, $searchresults, $headersList, $headers, $hits, 1)
#elif $searchtext
<p>$headertext</p>
#end if

#end def

##################################################
#def printAddreason ($blockreasons)
##################################################

<table class="listtable">
  <caption>$headertext</caption>

  #if len($blockreasons)
  
  <thead>
    <tr>
      <th>Reason</th>
      <th>Description</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    #for $listitem in $blockreasons
    <tr class="$rowcycler">
      <td class="$cellcycler">$listitem['name']</td>
      <td class="$cellcycler">$listitem['comment']</td>
      <td class="$cellcycler"><a href="addreason?reasonid=$listitem['reasonid']&name=$listitem['name']&comment=$listitem['comment']">Edit</a></td>
      <td class="$cellcycler"><a href="deletereason?reasonid=$listitem['reasonid']">Delete</a></td>
    </tr>
    #end for
  </tbody>
    
  #else
  <tr><td>No detentionreasons defined</td></tr>
  #end if

  </table>

  <form action="doaddblockreason" method="get">
  <input type='hidden' name='reasonid' value='$reasonid' />

  <table class="vertitable">
    <tr>
      <th>Name:</th>
      <td><input type="text" name="blockreason" size="30" value="$name" /></td>
    </tr>
    <tr>
      <th>Comment:</th>
      <td><input type="text" name="comment" size="30" value="$comment" /></td>
    </tr>
    <tr>
      <th></th>
      #if $name == ''
      <td><button type="submit">Add reason</button></td>
      #else
      <td><button type="submit">Edit reason</button></td>
      #end if
    </tr>
  </table>

  </form>

#end def

##################################################
#def deleteReason($reason)
##################################################

<p>Do you really want to delete detentionreason "$reason['name']"</p>
<p><b>Remember:</b> Any <a href="predefined">predefined detentions</a> that use this detentionreason will be deleted!</p>
<form action="dodeletereason" method="post">
<input type="submit" value="Yes" />
<input type="hidden" name="reasonid" value="$reason['blocked_reasonid']" />
<input type="hidden" name="reasonname" value="$reason['name']" />
<a href="addreason"><input type="button" value="No" /></a>
</form>

#end def

##################################################
#def deletePredefined($predefined)
##################################################

<p>Do you really want to delete predefined detention "$predefined['blocktitle']"</p>
<form action="dodeletepredefined" method="post">
<input type="submit" value="Yes" />
<input type="hidden" name="predefinedid" value="$predefined['blockid']" />
<input type="hidden" name="predefinedtitle" value="$predefined['blocktitle']" />
<a href="predefined"><input type="button" value="No" /></a>
</form>

#end def


##################################################
#def addQuarantineVlan($quarantines)
##################################################

<table class="listtable">
  <caption>$headertext</caption>

#if len($quarantines)
  <thead>
    <tr>
      <th>Vlan</th>
      <th>Description</th>
      <th>&nbsp;</th>
      <th>&nbsp;</th>
    </tr>
  </thead>

  <tbody>
    #for $listitem in $quarantines
    <tr class="$rowcycler">
      <td class="$cellcycler">$listitem['vlan']</td>
      <td class="$cellcycler">$listitem['description']</td>
      <td class="$cellcycler"><a href="addquarantinevlan?quarantineid=$listitem['quarantineid']&vlan=$listitem['vlan']&description=$listitem['description']">Edit</a></td>
      <td class="$cellcycler"><a href="deletequarantinevlan?quarantineid=$listitem['quarantineid']">Delete</a></td>
    </tr>
    #end for
  </tbody>
    
#else
  <tr><td>No quarantines defined</td></tr>
#end if
</table>
## Ends listtable

  <form action="doaddquarantinevlan" method="get">
  <input type='hidden' name='quarantineid' value='$quarantineid' />
  
  <table class="vertitable">
    <tr>
      <th>Vlan:</th>
      <td><input type="text" name="vlan" size="20" value="$vlan" /></td>
    </tr>

    <tr>
      <th>Description:</th>
      <td><input type="text" name="description" size="20" value="$description" /></td>
    </tr>

    <tr>
      <th></th>
      #if $vlan == ''
        <td><button type="submit">Add quarantine</button></td>
      #else
        <td><button type="submit">Edit quarantine</button></td>
      #end if
    </tr>
  </table>

  </form>

#end def


##################################################
#def deleteQuarantineVlan($quarantine)
##################################################

<p>Do you really want to delete quarantinevlan $quarantine['vlan'] - $quarantine['description']</p>
<p><b>Remember:</b> Any <a href="predefined">predefined detentions</a> that use this vlan will be deleted!</p>
<form action="dodeletequarantinevlan" method="post">
<input type="submit" value="Yes" />
<input type="hidden" name="vlanid" value="$quarantine['quarantineid']" />
<input type="hidden" name="vlan" value="$quarantine['vlan']" />
<a href="addquarantinevlan"><input type="button" value="No" /></a>
</form>

#end def

##################################################
#def printManualDetain($reasons, $quarantines)
##################################################

#set $blockdetention = 'checked'
#set $quarantinedetention = ''

#if $defaultdetention == 'quarantine'
  #set $blockdetention = ''
  #set $quarantinedetention = 'checked'
#end if

<form action="domanualdetain">

<table class="vertitable">
    <tr>
      <th>Choose method</th>
      <td>
        <input type="radio" name="detainmentgroup" value="block" onclick="\$('#quarantinedropdown').hide();" $blockdetention />Block
        <input type="radio" name="detainmentgroup" value="quarantine" onclick="\$('#quarantinedropdown').show();" $quarantinedetention />Quarantine
      </td>
    </tr>

    <tr>
        <th>IP/MAC to detain</th>
        <td><input type="text" name="ipadresse" /></td>
    </tr>
    <tr>
        <th>Reason</th>
        <td>
            <select name="reason">
            #for $reason in $reasons
                <option value="$reason['id']">$reason['name']</option>
            #end for
            </select>
            <a href="addreason">Add detainment reason</a>
        </td>
    </tr>

    ## Set this element to display:none as default, as block is default action

    #if $defaultdetention == 'block'
    <tr id='quarantinedropdown' style='display: none'>
    #else
    <tr id='quarantinedropdown' style='display: table-row'>
    #end if
        <th>Quarantine vlan</th>
        <td>
            <select name="quarantinevlan">
            #for $quarantine in $quarantines
                <option value="$quarantine['vlan']">$quarantine['vlan'] - $quarantine['description']</option>
            #end for
            </select>
            <a href="addquarantinevlan">Add quarantine vlan</a>
        </td>
    </tr>

    <tr>
        <th>Comment</th>
        <td><input type="text" name="comment" /></td>
    </tr>
    <tr>
        <th>Autoenable in</th>
        <td><input type="text" name="autoenable" size="3" /> days</td>
    </tr>
    <tr>
        <th></th>
        <td><button type="submit">Detain</button></td>
    </tr>
</table>


</form>

#end def printManualDetain


##################################################
#def printConfirmBlock($candidates, $arg, $type)
##################################################


<form action="doblock">

<table class="listtable">

    #if $candidates[0]['ip'] != '0.0.0.0'

    <caption>
	#if $candidates[0]['ipendtime'].year == 9999
	$candidates[0]['ip'] is currently active
	#else
	$candidates[0]['ip'] last seen $candidates[0]['ipendtime']
	#end if
	
    </caption>

    #else

    <caption>
	Choose which port to block based on mac-address
    </caption>

    #end if


    <thead>
      <tr>
        <th>MAC</th>
        <th>Switch</th>
        <th>Mod</th>
        <th>Port</th>
        <th>Ifindex</th>
        <th>Lastseen</th>
        <th>&nbsp;</th>
      </tr>
    </thead>


  #for candidate in $candidates
    <tbody>
      <tr class="$rowcycler">
        <td>$candidate['mac']</td>
        <td>$candidate['sysname']</td>
        <td>$candidate['module']</td>
        <td>$candidate['port']</td>
        <td>$candidate['ifindex']</td>
        <td>$candidate['endtime']</td>

	#if $type == 'block'
        <td><a href="doblock?reasonid=$arg['reason']&comment=$arg['comment']&autoenable=$arg['autoenable']&ip=$candidate['ip']&mac=$candidate['mac']&netboxid=$candidate['netboxid']&ifindex=$candidate['ifindex']&module=$candidate['module']&port=$candidate['port']">Block</a></td>

        #elif $type == 'quarantine'
        <td><a href="doquarantine?reasonid=$arg['reason']&comment=$arg['comment']&autoenable=$arg['autoenable']&quarantinevlan=$arg['quarantinevlan']&ip=$candidate['ip']&mac=$candidate['mac']&netboxid=$candidate['netboxid']&ifindex=$candidate['ifindex']&module=$candidate['module']&port=$candidate['port']">Quarantine</a></td>

        #end if
      </tr>
    </tbody>
  #end for

</table>

</form>

#end def



##################################################
#def addBlocktype($blockreasons, $quarantines)
##################################################

<h3>Add predefined detention</h3>

#set $blockdetention = 'checked'
#set $quarantinedetention = ''

#if $defaultdetention == 'quarantine' or $blockinfo['detainmenttype'] == 'quarantine'
  #set $blockdetention = ''
  #set $quarantinedetention = 'checked'
#end if

#set $validate = "onsubmit='return validateForm()'"
#if $blockinfo['blockid']
  #set $validate = ""
#end if


<form name="blockform" action="doaddpredefined" method="get" $validate>

<table class="vertitable">

    #if $blockinfo['blockid']
    <input type="hidden" name="blockid" value="$blockinfo['blockid']" />
    <tr>
        <th>ID</th>
        <td>$blockinfo['blockid']</td>
    </tr>
    #end if

    <tr>
        <th>Detainmenttype</th>
        <td>
            <input type="radio" name="detainmenttype" value="disable" onclick="\$('#quarantinedropdown').hide();" $blockdetention />Block
            <input type="radio" name="detainmenttype" value="quarantine" onclick="\$('#quarantinedropdown').show();" $quarantinedetention />Quarantine
        </td>
    </tr>

    <tr>
        <th>Title *</th>
        <td><input type="text" name="blocktitle" value="$blockinfo['blocktitle']" size="35" /></td>
    </tr>

    <tr>
        <th>Description</th>
        <td><textarea cols="40" name="description">$blockinfo['blockdesc']</textarea></td>
    </tr>

    <tr>
        <th>Reason *</th>
        <td>
<select name="reasonid">
    #if $blockinfo['reasonid'] == 0
    <option value="0" selected="selected">Select reason</option>
    #end if

    #for $element in $blockreasons
        #if $blockinfo['reasonid'] == $element['id']
    <option value="$element['id']" selected>$element['name']</option>
        #else
    <option value="$element['id']">$element['name']</option>
        #end if
    #end for
</select>
#if not $blockinfo['blockid']
or <input type="text" name="newreason" value="-- Create new reason --" />
#end if
        </td>
    </tr>

    #if $defaultdetention == 'quarantine' or $blockinfo['detainmenttype'] == 'quarantine'
    <tr id="quarantinedropdown" style="display:table-row">
    #else
    <tr id="quarantinedropdown" style="display:none">
    #end if
        <th>Quarantinevlan*</th>
	<td>
	    <select name="quarantineid">
            #for $quarantine in $quarantines
		#if $blockinfo['quarantineid'] == $quarantine['quarantineid']
                <option value="$quarantine['quarantineid']" selected>$quarantine['vlan'] - $quarantine['description']</option>
		#else
                <option value="$quarantine['quarantineid']">$quarantine['vlan'] - $quarantine['description']</option>
		#end if
            #end for
	    </select>
	</td>
    </tr>

    <tr>
        <th>Path to mailfile</th>
        <td><input type="text" name="mailfile" value="$blockinfo['mailfile']" size="35" /></td>
    </tr>

    <tr>
        <th>Detention pursuit</th>
        <td>
#if $blockinfo['determined'] == 'y'
<input type="radio" name="pursuit" value="n" /> Open on move
<input type="radio" name="pursuit" value="y" checked="checked" /> All closed
#else
<input type="radio" name="pursuit" value="n" checked="checked" /> Open on move
<input type="radio" name="pursuit" value="y" /> All closed
#end if
        </td>
    </tr>

    <tr>
        <th>Exponential increase</th>
        <td>
#if $blockinfo['incremental'] == 'y'
<input type="checkbox" name="eincrease" checked="checked" />
#else
<input type="checkbox" name="eincrease" />
#end if
        </td>
    </tr>

    <tr>
        <th>Detention duration *</th>
        <td><input size="3" type="text" name="duration" value="$blockinfo['blocktime']" /> days</td>
    </tr>

    <tr>
    	<th>Active on vlans</th>
	<td>
	    <input type="text" name="activeonvlans" value="$blockinfo['activeonvlans']" size="35" />
       </td>
    </tr>

    <tr>
        <th>Active</th>
        <td>
#if $blockinfo['active'] == 'y'
            <input type="checkbox" name="active" checked="checked" />
#else
            <input type="checkbox" name="active" />
#end if
        </td>
    </tr>

    <tr>
        <th></th>
        <td>
#if $blockinfo['blockid']
            <button type="submit">Save changes</button>
#else
            <button type="submit">Add predefined detention</button>
#end if
        </td>
    </tr>
</table>

</form>

#if $blockinfo['blockid']
  <p>Last changed $blockinfo['lastedited'] by $blockinfo['lastedituser']</p>
#end if

#end def


##################################################
#def printChooseEnablePorts($blockedports)
##################################################

<form action="doenableall">

<table class="vertitable">
  <caption>
    Choose which ports to open
  </caption>

  <thead>
    <tr>
      <th>IP</th>
      <th>MAC</th>
      <th>DNS</th>
      <th>Netbios</th>
      <th>Switch</th>
      <th>Interface</th>
    </tr>
  </thead>

  <tbody>
    #for $candidate in $blockedports
    <tr class="$rowcycler">
      <td>$candidate['ip']</td>
      <td>$candidate['mac']</td>
      <td>$candidate['dns']</td>
      <td>$candidate['netbios']</td>
      #if $candidate.has_key('sysname')
      <td>$candidate['sysname']</td>
      <td>$candidate['module']:$candidate['baseport']</td>
      #else 
      <td>N/A</td>
      <td>Port does not exist</td>
      #end if
      <td><input type="checkbox" name="identityid$candidate['identityid']" value="$candidate['identityid']" checked="checked" />
    </tr>
    #end for

    <tr>
      <td colspan='6' align="right"><input type="submit" value="Enable selected ports" /></td>
    </tr>
  </tbody>

</table>

</form>

#end def
## printChooseEnablePorts


#def additionalCSS ()
$default_tabs_CSS()
$default_table_CSS()
#end def


