<footer class="row">

  {% comment %}
    Left side column
  {% endcomment %}
  <div class="medium-4 column">

    <div class="about">
      <img class="footer-logo nav-logo"
           src="{{ STATIC_URL }}images/main/nav-logo-grey.svg" alt="NAV">

      <p>
        <a href="{% url 'webfront-about' %}">NAV (Network Administration Visualized)</a> is a free network management
        utility from Sikt, suitable for monitoring large computer networks.
      </p>
    </div>

    <div class="about">
      <img class="footer-logo sikt-logo"
           src="{{ STATIC_URL }}images/main/sikt-logo-grey.svg" alt="Sikt - Norwegian Agency for Shared Services in Research and Education">

      <p>
        <a href="https://sikt.no/en/about-sikt">Sikt</a> develops and delivers services for education and research that
        makes life easier for students and employees. Sikt aims to ensure that everyone working in the education
        and research sector has access to secure, stable and comprehensive services.
      </p>
    </div>

  </div>


  {% comment %}
    Middle column
  {% endcomment %}
  <div class="medium-4 column">

    <div class="content-with-icon">
      <i class="fa fa-tachometer"></i>

      <div>
        <h4 class="subheader">NAV version</h4>

        <p>
          You are running <a
                href="https://github.com/Uninett/nav/releases/tag/{{ nav_version }}/">{{ nav_version }}</a>
          , released under a <a
                href="http://www.gnu.org/licenses/gpl-3.0.html"> GNU GPLv3
          license</a>.
        </p>
      </div>
    </div>


    <div class="content-with-icon">
      <i class="fa fa-book"></i>

      <div>
        <h4 id="footer-documentation-link" class="subheader">Documentation</h4>

        <p>
          The <a href="/doc" title="Documentation">technical documentation</a>
          includes how-to guides, troubleshooting and other reference material.
          There is also a (mostly) self-documenting <a href="/api/">REST API</a>.
        </p>
      </div>
    </div>


    <div class="content-with-icon">
      <i class="fa fa-picture-o"></i>

      <div>
        <h4 class="subheader">Postcards please</h4>

        <p>
          If NAV makes you happy, <a href="https://nav.uninett.no/wiki/postcard">send
          us a postcard</a> by snail mail, preferably with a picture from your
          city or locale.
        </p>
      </div>
    </div>

  </div>


  {% comment %}
    Right side column
  {% endcomment %}
  <div class="medium-4 column">

    <div clasS="content-with-icon">
      <i class="fa fa-file-text"></i>

      <div>
        {{ contact_information|safe }}
      </div>
    </div>

  </div>
</footer>
