#encoding UTF-8
##
## Copyright (C) 2003-2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV).
##
## NAV is free software: you can redistribute it and/or modify it under
## the terms of the GNU General Public License version 2 as published by
## the Free Software Foundation.
##
## This program is distributed in the hope that it will be useful, but WITHOUT ANY
## WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
## PARTICULAR PURPOSE. See the GNU General Public License for more details.
## You should have received a copy of the GNU General Public License along with
## NAV. If not, see <http://www.gnu.org/licenses/>.
##


#extends nav.web.templates.MainTemplate

#block content

#if len($scopes)
<h1>Subnet matrix</h1>

<form action="/report/matrix" method="get">
<p>There are more than one prefix scope defined. Please select one of them</p>
<select name="scope" onchange="this.form.submit()">
#for $n in $scopes
<option value="$n">$n</option>
#end for
</select>
<input type="submit" value="View" />

</form>

#else

<h1>Subnet matrix</h1>

<p>The NAV-database does not contain any network scopes. <a href="/seeddb/">Seed the database</a> and return to this page to see some action.</p>


#end if


#end block

#block additionalCSS
<link rel="stylesheet" type="text/css" href="/style/MatrixScopesTemplate.css" />
#end block
