#encoding UTF-8
## $Id: $
##
## Copyright 2006 UNINETT AS
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Author: Stein Magnus Jodal <stein.magnus.jodal@uninett.no>
##

#extends MainTemplate

##attr $title = 'Messages'
#attr $path = [("Home", "/"), ("Messages", "")]

#def additionalHead
    <link rel="alternate" type="application/rss+xml"
        title="Messages Feed (RSS 2.0)" href="/messages/rss" />
#end def additionalHead

#def $makeMenu($menu, $current = False)
<div class="tabs">
<ul>
#for $item in $menu:
    #if $item.link == $current:
    <li class="tabactive"><a href="$item.link">$item.text</a></li>
    #else:
    <li><a href="$item.link">$item.text</a></li>
    #end if
#end for
</ul>
</div>
#end def

#block content

<h2>$title</h2>

$makeMenu($menu, $current)

<div class="tabcontent">


#set $infomsgs = $getVar('infomsgs', [])
#if len($infomsgs)
<ul>
#for $infomsg in $infomsgs
    <li>$infomsg</li>
#end for
</ul>
#end if

#set $errors = $getVar('errors', [])
#if len($errors)
<p>The following errors occured:</p>

<ul>
#for $error in $errors
    <li>$error</li>
#end for
</ul>
#end if

#block tabcontent
<p>Intentionally left blank.</p>
#end block tabcontent

</div> <!-- tabcontent -->

#end block content

#block additionalCSS
$default_tabs_CSS
$default_table_CSS
#end block additionalCSS
