{% extends 'base.html' %}

{% block base_header_additional_head %}
  <style>
   h3.underline {
       border-bottom: 1px solid #cccccc;
   };
  </style>
{% endblock %}

{% block footer_scripts %}
  <script>
   require(['plugins/gauge', 'libs/jquery-ui.min'], function (JohnGauge) {
      $(function () {

          /* Code for activating jquery ui tabs. We usually hide the tabs until
             they are rendered to avoid screen jumping */
          $('#jqueryuitabs').tabs().show();

          // Draw the gauge tests
          var element = document.querySelector('#gauges');

          function createGauges(values, config) {
              element.appendChild(document.createElement('h5')).innerHTML = "Config: " + JSON.stringify(config);
              var container = document.createElement('div');
              container.style.cssText = "display: flex; flex-wrap: wrap; margin-bottom: 1em";
              var gauges = element.appendChild(container);
              values.forEach(function(value) {
                  new JohnGauge(Object.assign(
                      {node: gauges.appendChild(document.createElement('div')),
                       value: value},
                      config
                  ));
              });
          }

          createGauges([5, 25, 50, 75, 95, 100, 150], {});
          createGauges([-20, -10, 0, 25, 75, 100], {min: -20});
          createGauges([5, 25, 45, 50, 55], {thresholds: ['>50']});
          createGauges([45, 50, 55, 75, 95], {thresholds: ['<50']});
          createGauges([25, 35, 45, 55, 65], {thresholds: ['<30','>60']});

      });
    });
  </script>
{% endblock %}

{% block base_content %}



  <h2>NAV Style Guide</h2>


  {# INTRODUCTION #}
  <div class="panel white">
    <p>
      Use this guide to get a hint of what components you should use when
      creating content for NAV. The code is not provided - we expect that you
      are familiar enough with developer tools to get the information you need.
    </p>

    <p>
      As we use <a href="http://foundation.zurb.com/">Foundation 5</a>,
      the components <a href="http://foundation.zurb.com/docs/" title="Foundation 5 documentation">available there</a>
      will not be listed unless there is relevant information regarding the component and how we use it.
    </p>
  </div>

  {# Page headers #}
  <h3 class="underline">Page headers</h3>
  <p>
    The page header for a tool or equivalent is created by including the
    template <code>nav_header.html</code>. This template expects a tool
    to be defined. It must contain 'name' and 'description' members.
  </p>

  <p>
    For existing tools:
      {% verbatim %}
      <pre class="prettyprint">
      {% load tools %}
      {% with tool=current_user_data.tools|get_tool:'toolname' %}
        {% include 'nav_header.html' %}
      {% endwith %}</pre>
      {% endverbatim %}
  </p>

  <p>
    A fake tool for a page that is not a tool: create a dictionary with a
    'name' and a 'description' key. Pass it to the template.
      {% verbatim %}
      <pre class="prettyprint">
      {% with tool=somedict %}
        {% include 'nav_header.html' %}
      {% endwith %}</pre>
      {% endverbatim %}
  </p>


  <div class="row">
    {# Headings #}
    <div class="small-6 column">
      <h3 class="underline">Headings</h3>
      <h1>h1 - never used</h1>
      <h2>h2 - also never used</h2>
      <h3>h3 - Normally used as heading</h3>
      <h4>h4 - seldom used</h4>
      <h5>h5 - Normally used as 'second' heading</h5>
      <h6>h6 - not used</h6>
    </div> {# Left column #}

    {# PANELS #}
    <div class="small-6 column">
      <h3 class="underline">Panels</h3>

      <p>Used to divide content into groups. Also useful if the page is very
        'grey'. White panel should be used in almost all cases</p>
      <div class="panel">.panel</div>
      <div class="panel white">.panel .white</div>
    </div> {# Right column #}
  </div>




  <div class="row">
    {# BUTTONS #}
    <div class="small-6 column">
      <h3 class="underline">Buttons</h3>
      <table>
        <tbody>
        <tr>
          <td><a href="#" class="button">.button</a></td>
          <td>This color is the primary color, used for intended primary actions</td>
        </tr>
        <tr>
          <td><a href="#" class="button small">.button.small</a></td>
          <td>The most used buttonsize</td>
        </tr>
        <tr>
          <td>
            <a href="#" class="button small">
              <i class="fa fa-arrows"></i>
              .button.small
            </a>
          </td>
          <td>Icons should be on the left, otherwise they serve no purpose in helping the user scan</td>
        </tr>
        <tr>
          <td>
            <a href="#" class="button small">
              <i class="fa fa-arrows pad-right"></i>
              .button.small i.pad-right
            </a>
          </td>
          <td>Use .pad-right to create some margin to the icon</td>
        </tr>
        <tr>
          <td><a href="#" class="button tiny">.button .tiny</a></td>
          <td>A very small button.</td>
        </tr>
        <tr>
          <td><a href="#" class="button secondary">.button .secondary</a></td>
          <td>Used for actions that are not primary</td>
        </tr>
        <tr>
          <td><a href="#" class="button alert">.button .alert</a></td>
          <td> Used for instance for deleting stuff</td>
        </tr>
        <tr>
          <td><a href="#" class="button success">.button .success</a></td>
          <td>This button exists</td>
        </tr>
        <tr>
          <td colspan="2"><a href="#" class="button small expand">.button .small .expand</a></td>
        </tr>
        </tbody>
      </table>

      <h4>Labels</h4>
      <ul>
        <li><span class="label">Default</span></li>
        <li><span class="label alert">Alert</span></li>
        <li><span class="label warning">Warning</span></li>
        <li><span class="label success">Success</span></li>
        <li><span class="label secondary">Secondary</span></li>
      </ul>

    </div> {# Left column #}

    {# Alert boxes #}
    <div class="small-6 column">
      <h3 class="underline">Alert boxes</h3>
      <div class="panel white">
        <div class="alert-box">.alert-box &mdash; This is <a href="">a link</a> inside text</div>
        <div class="alert-box">.alert-box with close span anchor <span class="close">x</span></div>
        <div class="alert-box success">.alert-box.success &mdash; This is <a href="">a link</a> inside text</div>
        <div class="alert-box success with-icon">.alert-box.success.with-icon</div>
        <div class="alert-box alert">.alert-box.alert &mdash; This is <a href="">a link</a> inside text</div>
        <div class="alert-box alert with-icon">.alert-box.alert.with-icon</div>
        <div class="alert-box warning">.alert-box.warning &mdash; This is <a href="">a link</a> inside text</div>
        <div class="alert-box warning with-icon">.alert-box.warning.with-icon</div>
        <div class="alert-box info">.alert-box.info &mdash; This is <a href="">a link</a> inside text</div>
        <div class="alert-box info with-icon">.alert-box.info.with-icon</div>
      </div>

    </div> {# Right column #}
  </div>


  {# TABLES #}
  <h3 class="underline">Tables</h3>
  <div class="row">
    <div class="small-4 column">
      <table class="listtable">
        <caption>table .listtable</caption>
        <thead>
          <tr>
            <th>Heading 1</th>
            <th>Heading 2</th>
            <th>Heading 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              Content 1
              <button class="table-button">.table-button</button>
            </td>
            <td>Content 2</td>
            <td>Content 3</td>
          </tr>
          <tr>
            <td>
              Content 1
              <button class="table-button secondary">.table-button secondary</button>
            </td>
            <td>Content 2</td>
            <td>Content 3</td>
          </tr>
          <tr>
            <td>
              Content 1
              <button class="table-button alert">.table-button alert</button>
            </td>
            <td>Content 2</td>
            <td>Content 3</td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">Footer 1</td>
          </tr>
        </tfoot>
      </table>
      </div>

      <div class="column small-4">
      <table class="listtable expand">
        <caption>table .listtable.expand</caption>
        <thead>
          <tr>
            <th>Heading 1</th>
            <th>Heading 2</th>
            <th>Heading 3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Content 1 <div class="alert-box inside-table">.alert-box.inside-table</div></td>
            <td>Content 2</td>
            <td>Content 3</td>
          </tr>
          <tr>
            <td colspan="2">Content 1 <div class="alert-box warning inside-table">.alert-box.warning.inside-table</div></td>
            <td>Content 2</td>
          </tr>
          <tr>
            <td colspan="3">Content 1 <div class="alert-box error with-icon inside-table">.alert-box.error.inside-table.with-icon</div></td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="3">Footer 1</td>
          </tr>
        </tfoot>
      </table>
      </div>

      <div class="small-4 column">
      <table class="vertitable">
        <caption>table .vertitable</caption>
        <tr>
          <th>Heading</th>
          <td>Something</td>
          <td>Something else</td>
        </tr>
        <tr>
          <th>Longer Heading</th>
          <td>Something</td>
          <td>Something else</td>
        </tr>
        <tr>
          <th>Head</th>
          <td>Something</td>
          <td>Something else</td>
        </tr>
      </table>

    </div>
  </div>



  {# TABS #}
  <h3 class="underline">Tabs</h3>
  <div class="row">
    <div class="small-6 column">

      {# NAV tabs #}
      <h5>NAV Tabs</h5>
      <div class="tabs">
        <ul>
          <li class="tabactive"><a href="#">Tab 1</a></li>
          <li><a href="#">Tab 2</a></li>
        </ul>

        <div class="tabcontent">
          <p>
            These tabs work by loading a new page for each tab, that is, the
            tab goes to the same page where the tab content changes. They do
            not require javascript to work.
          </p>
          <p>
            The advantage with these tabs is that, in addition to not require
            Javascript (if that is an advantage), they also collapse to
            accordion layout on small screens.
          </p>
        </div>
      </div>

      {# JQuery UI tabs #}
      <h5>jQuery UI Tabs</h5>

      <div id="jqueryuitabs" class="ui-helper-hidden">
        <ul>
          <li><a href="#jqueryuitab1">Tab 1</a></li>
          <li><a href="/doc/py-modindex.html">Tab 2</a></li>
        </ul>

        <div id="jqueryuitab1">
          <p>
            These tabs need javascript to work. You can link to url to access
            content with AJAX. If you do that you can use the aria-controls
            attribute on the list element to say what element the content
            should go in. Otherwise it just follows order.
          </p>
        </div>

        <div id="jqueryuitab2"></div>

      </div> {# Tabs #}

    </div>

    {# TABS #}
    <div class="small-6 column">

      <div class="tabs tabs-vertical">
        <ul>
          <li class="tabactive"><a href="#">Tab 1</a></li>
          <li><a href="#">Tab 2</a></li>
        </ul>

        <div class="tabcontent">
          <p>
            We have vertical tabs. They also collapse to accordion layout
            on small screens. As you see, they are far from perfect...
          </p>
        </div>
      </div>

    </div>  {# Right column #}
  </div> {# Row #}




  <div class="row">

    {# FORMS #}
    <div class="small-6 column">
      <h3 class="underline">Forms</h3>
      <p>
        We use a "django-crispy-forms-inspired" template system for "easy" and nice form layout.
        The advantages are:
      </p>

      <ul>
        <li>you never need more than one line in the template to display a form.</li>
        <li>errors are automatically displayed</li>
        <li>form input is automatically remembered</li>
        <li>all forms are customized to look like they should</li>
      </ul>

      <p>
        Use existing forms as examples for how to build your own. If you have questions, ask them
        on the NAV mailing lists or GitHub discussion forums.
      </p>

      {% include 'custom_crispy_templates/flat_form.html' with form=form1 %}
      {% include 'custom_crispy_templates/flat_form.html' with form=form2 %}

    </div>

    {# FONTS #}
    <div class="small-6 column">

      <h3 class="underline">Icons</h3>
      <p>
        We use <a href="http://fortawesome.github.io/Font-Awesome/">Font
        Awesome</a> icon fonts. They are used in buttons as well as general
        icons. Example: <i class="fa fa-fighter-jet"></i>
      </p>

      <a href="javascript:void(0);" class="button">Awesome<i class="fa fa-thumbs-up"></i></a>

      <p>
        They can also be used in css-classes. That requires a bit of black magic which someone has
        <a href="http://stackoverflow.com/questions/20782368/use-font-awesome-icon-as-css-content">posted
          solutions to</a>. Here is a brief teaser:
      </p>

      <pre class="prettyprint">
  .someclass:after|before {
      font-family: FontAwesome;
      content: "\f06a";
  }   </pre>
      <br>

      <p>
        The list of codes is located
        <a href="http://fortawesome.github.io/Font-Awesome/cheatsheet/">here</a>
        (replace the <code>&#x</code> with a <code>\</code>).
      </p>

    </div> {# column #}
  </div> {# row #}




  {# OTHER TIDBITS #}
  <div class="row">
    <div class="columns">
        <h3 class="underline">Popover</h3>
    </div>
    <div class="columns large-6">
        <p>Interactive popover component for confirmation dialogs and contextual actions. Provides accessible, non-intrusive user interactions without navigating away from the current page.</p>
        <h4>Options</h4>
        <ul>
          <li><strong>Alignment:</strong> <code>data-align</code> Options: <code>start</code> (default), <code>end</code></li>
          <li><strong>Side:</strong> <code>data-side</code> Options: <code>bottom</code> (default), <code>left</code>, <code>right</code>, <code>top</code></li>
          <li><strong>Size:</strong> <code>tiny</code>, <code>small</code>, <code>medium</code>, or <code>large</code> classes on popover-content</li>
          <li><strong>Arrow:</strong> Add <code>with-arrow</code> class to display a pointing arrow</li>
          <li><strong>Close button:</strong> Add <code>close-popover</code> attribute to any element to make it close the popover when clicked</li>
        </ul>
        <div style="margin-bottom: 1rem;">
            <h4>Example popover</h4>
            <div id="demo-popover" class="popover with-arrow" data-side="right" data-align="start">
              <button
                  class="secondary" style="margin-bottom: 0;"
                  data-popover-target="#demo-popover"
                  aria-haspopup="true"
                  aria-expanded="false"
              >
                  <i class="fa fa-times-circle deleteicon"></i> Delete Action
              </button>
              <div class="popover-content small">
                <h5>Confirm Action</h5>
                <p>Are you sure you want to delete this item?</p>
                <button type="button" class="button small alert left">Confirm</button>
                <button type="button" class="button small secondary close-button left" close-popover>Cancel</button>
              </div>
            </div>
        </div>
      </div>
      <div class="columns large-6">
          <div class="panel white">
            <pre class="prettyprint">
&lt;div id="demo-popover" class="popover with-arrow" data-side="right" data-align="start"&gt;
    &lt;button
        class="secondary"
        data-popover-target="#demo-popover"
        aria-haspopup="true"
        aria-expanded="false"
    &gt;
        &lt;i class="fa fa-times-circle deleteicon"&gt;&lt;/i&gt; Delete Action
    &lt;/button&gt;
    &lt;div class="popover-content tiny"&gt;
        &lt;h5&gt;Confirm Action&lt;/h5&gt;
        &lt;p&gt;Are you sure you want to delete this item?&lt;/p&gt;
        &lt;button class="button small alert left"&gt;Confirm&lt;/button&gt;
        &lt;button
            class="button small secondary close-button left"
            close-popover
        &gt;
            Cancel
        &lt;/button&gt;
    &lt;/div&gt;
&lt;/div&gt;</pre>
          </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <h3 class="underline">Tooltips</h3>
    </div>
    <div class="large-6 column">
        <p>Accessible tooltip component that provides additional context or help text on hover or focus. Uses semantic ARIA attributes for screen reader compatibility.</p>

        <h4>Options</h4>
        <ul>
          <li><strong>Alignment:</strong> <code>data-align="start"</code>, <code>data-align="center"</code>, or <code>data-align="end"</code> on the trigger element</li>
          <li><strong>Size:</strong> <code>tiny</code>, <code>small</code>, <code>medium</code>, or <code>large</code> classes on the <code>role="tooltip"</code> element</li>
        </ul>

        <h4>Accessibility</h4>
        <ul>
            <li><strong><code>aria-describedby</code>:</strong> Links the trigger element to tooltip content by referencing the tooltip's <code>id</code>. Screen readers will announce the tooltip text when the trigger receives focus.</li>
            <li><strong><code>role="tooltip"</code>:</strong> Identifies the element as tooltip content for assistive technologies, ensuring proper semantic understanding and handling.</li>
            <li><strong>Automatic positioning:</strong> Tooltips automatically adjust their alignment if they would overflow the viewport, ensuring content remains visible and accessible.</li>
        </ul>
    </div>
    <div class="large-6 column">
        <div style="margin-bottom: 1rem;">
          <h4>Example tooltip</h4>
          <p>
            Hover over or focus on this help icon to see the tooltip:
            <span class="nav-tooltip" data-align="end">
              <i class="fa fa-question-circle" aria-describedby="example-tooltip"></i>
              <span id="example-tooltip" role="tooltip" class="small">
                This is an example tooltip with helpful information.
              </span>
            </span>
          </p>

          <p>
            You can also add tooltips to text elements like
            <span class="nav-tooltip" data-align="center">
              <span aria-describedby="text-tooltip">this underlined text</span>
              <span id="text-tooltip" role="tooltip" class="medium">
                Tooltips work on any element, not just icons.
              </span>
            </span>
          </p>
        </div>
        <div class="panel white">
          <pre class="prettyprint">
&lt;span class="nav-tooltip" data-align="end"&gt;
    &lt;i class="fa fa-question-circle has-tip" aria-describedby="example-tooltip"&gt;&lt;/i&gt;
    &lt;span id="example-tooltip" role="tooltip" class="small"&gt;
        This is an example tooltip with helpful information.
    &lt;/span&gt;
&lt;/span&gt;
          </pre>
        </div>
    </div>
</div>
<div class="row">
    <div class="column">
        <h3 class="underline">Modal</h3>
    </div>
    <div class="large-6 column">
        <p>Modal dialogs are used for important information and user tasks that require focused attention. They disable interaction with the main content until the modal is dismissed, ensuring users complete critical actions without distraction.</p>

        <h4>Usage with HTMX</h4>
        <p>NAV uses Django HTMX for dynamic modal rendering. Use the utility functions in <code>nav.web.modals</code> for consistent modal behavior:</p>
        <ul>
            <li><strong><code>render_modal()</code>:</strong> Render a modal with custom template and context</li>
            <li><strong><code>resolve_modal()</code>:</strong> Close modal using <code>hx-swap-oob="delete"</code></li>
            <li><strong><code>render_modal_alert()</code>:</strong> Display alert messages within modals</li>
        </ul>

        <h4>Modal Structure</h4>
        <p>NAV modals use the HTML5 <code>&lt;dialog&gt;</code> element with:</p>
        <ul>
            <li><strong>Modal underlay:</strong> Click outside to close</li>
            <li><strong>Close button:</strong> Standard × button in top-right corner</li>
            <li><strong>Alert area:</strong> Dedicated space for error messages</li>
        </ul>

        <h4>Accessibility</h4>
        <ul>
            <li><strong>Manual close actions:</strong> Close button and underlay clicks remove modal from DOM</li>
            <li><strong>ARIA attributes:</strong> Close button has <code>aria-label="Close"</code></li>
        </ul>

        <h4>Options</h4>
        <ul>
            <li><strong>Size:</strong> <code>tiny</code>, <code>small</code>, <code>medium</code>, <code>large</code>, or <code>fit-content</code> (default)</li>
            <li><strong>Modal ID:</strong> Custom ID for targeting specific modals (default: <code>'modal'</code>)</li>
            <li><strong>Show close button:</strong> <code>show_close_button=True</code> (default) or <code>False</code> to hide the × button</li>
            <li><strong>Close on outside click:</strong> <code>close_on_outside_click=True</code> (default) or <code>False</code> to disable underlay closing</li>
        </ul>
    </div>
       <div class="large-6 column">
        <h4>Python Example</h4>
        <div class="panel white">
            <pre class="prettyprint">
from nav.web.modals import render_modal, render_modal_alert, resolve_modal

# Basic modal
def my_modal_view(request):
    context = {'items': ['item1', 'item2']}
    return render_modal(
        request,
        'my_template.html',
        context,
        modal_id='my-modal',
        size='medium'
    )

# Alert modal (swaps content, retargets to alert area)
def error_modal_view(request):
    return render_modal_alert(
        request,
        'Operation failed. Please try again.',
        modal_id='error-modal'
    )

# Close/resolve modal
def close_modal_view(request):
    return resolve_modal(request, modal_id='my-modal')</pre>
        </div>

        <h4>Template Example</h4>
        <div class="panel white">
          {% verbatim %}
    <pre class="prettyprint">
&lt;!-- Modal trigger button --&gt;
&lt;button
    class="button small"
    hx-get="{% url 'my-modal-view' %}"
    hx-target="body"
    hx-swap="beforeend"
&gt;
    Open Modal
&lt;/button&gt;

&lt;!-- Form inside modal that processes and closes modal --&gt;
&lt;form hx-post="{% url 'process-form' %}" &gt;
    {% csrf_token %}
    &lt;!-- form fields --&gt;
    &lt;button type="submit" class="button alert"&gt;Confirm&lt;/button&gt;
    &lt;button type="button" class="button secondary"
            hx-on:click="htmx.remove(this.closest('dialog'))"&gt;Cancel&lt;/button&gt;
&lt;/form&gt;</pre>
         {% endverbatim %}
        </div>
    </div>
</div>
<div class="row">
    <div class="large-6 column">
      {# Dropdowns #}
      <h3 class="underline">Dropdowns</h3>
      <p>
        In addition to the Foundation dropdowns we use <a
              href="http://ivaynberg.github.io/select2/">Select2</a> dropdowns.
        Select2 is nice when the content in the dropdown needs to be
        searchable, and it supports optgroups which Foundation does not.
        Also, Select2 has a wealth of other stuff it can do.
      </p>

      <form>
        <label>
          Select2 dropdown
          <select class="select2">
            <option>Just add</option>
            <option>class</option>
            <option>.select2</option>
          </select>
        </label>
      </form>

      <form>
        <label>
          Foundation dropdown
          <select>
            <option>Option 1</option>
            <option>Option 2</option>
            <option>Option 3</option>
          </select>
        </label>
      </form>


    </div>
</div>

  <div class="panel white">
    <h3>Gauge ranges</h3>

    <div id="gauges"></div>
  </div>

  <script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

{% endblock base_content %}
