{% extends "base.html" %}

{% block base_header_additional_head %}
    <link href="/style/jqueryui/jquery-ui-1.8.21.custom.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/libs/require.js" data-main="src/arnold"></script>
{% endblock %}

{% block base_content %}

    <h2>Arnold</h2>

    <div class="tabs">

        <ul>
            <li class="{{ active.history|yesno:"tabactive," }}"><a href="{% url arnold-history %}">History</a></li>
            <li class="{{ active.detentions|yesno:"tabactive," }}"><a href="{% url arnold-detainedports %}">Detained Ports</a></li>
            <li class="{{ active.search|yesno:"tabactive," }}"><a href="{% url arnold-search %}">Search</a></li>
            <li class="{{ active.justifications|yesno:"tabactive," }}"><a href="{% url arnold-justificatons %}">Add detentionreason</a></li>
        </ul>

    </div>



    <div class="tabcontent">
        {% block content %}
        {% endblock %}
    </div>

{% endblock %}
