{% extends "base.html" %}

{% block base_header_additional_head %}
    <link href="/style/jqueryui/jquery-ui-1.8.21.custom.css" type="text/css" rel="stylesheet">
    <script type="text/javascript" src="/js/libs/require.js" data-main="src/arnold"></script>
{% endblock %}

{% block base_content %}

    <h2>Arnold</h2>

    <div id="arnoldtabs" class="hidden">

        <ul>
            <li><a href="{% url arnold-history %}">History</a></li>
            <li><a href="{% url arnold-detainedports %}">Detained Ports</a></li>
        </ul>

    </div>

{% endblock %}
