{% extends "arnold/base.html" %}

{% block content %}

    <table class="listtable">
        <caption>Currently detained ports</caption>

        <thead>
        <tr>
            <th>Ip</th>
            <th>DNS</th>
            <th>Netbios</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Switch</th>
            <th>Last Changed</th>
            <th>_</th>
            <th>_</th>
        </tr>
        </thead>

        <tbody>
        {% for identity in identities %}
            <tr>
                <td>{{ identity.ip|default_if_none:'' }}</td>
                <td>{{ identity.dns|default_if_none:'' }}</td>
                <td>{{ identity.netbios|default_if_none:'' }}</td>
                <td>{{ identity.status }}</td>
                <td>{{ identity.justification.name|default_if_none:'' }}</td>
                <td>{{ identity.interface.netbox.sysname }}</td>
                <td>{{ identity.last_changed|date:"Y-m-d H:i:s" }}</td>
                <td>Enable</td>
                <td><a href="{% url arnold-details identity.id %}">Details</a></td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
        <tr>
            <th colspan="9">{{ identities|length }}
                port{{ identities|pluralize:'s' }} detained
            </th>
        </tr>
        </tfoot>

    </table>

{% endblock %}
