{% extends 'arnold/base.html' %}

{% block content %}

    <form action="" method="POST" class="profileDetentionForm">

        {% for field in form.hidden_fields %}
            {{ field.as_hidden }}
        {% endfor %}

        <table class="vertitable">
            <tbody>

            {% for field in form.visible_fields %}
                <tr {% if field.html_name == 'qvlan' %} class="vlanrow"{% endif %}>
                    <th>{{ field.label_tag }}</th>
                    <td>{{ field }}</td>
                    <td>{{ field.errors }}</td>
                </tr>
            {% endfor %}

            <tr>
                <th>&nbsp;</th>
                <td><input type="submit" value="Save"></td>
                <td>&nbsp;</td>
            </tr>

            </tbody>
        </table>

    </form>

    {% if profile %}
    <p>Last changed {{ profile.last_edited|date:'Y-m-d H:i:m' }} by {{ profile.edited_by }}</p>
    {% endif %}

{% endblock %}
