<table class="listtable">
    <caption>History</caption>
    <thead>
        <tr>
            <th>IP</th>
            <th>DNS</th>
            <th>MAC</th>
            <th>Netbios</th>
            <th>Orgid</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Last Changed</th>
        </tr>
    </thead>

    <tbody>
        <tr>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
            <td>1</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <th colspan="8">footer</th>
        </tr>
    </tfoot>
</table>
