<table class="listtable">
    <caption>History</caption>
    <thead>
        <tr>
            <th>IP</th>
            <th>DNS</th>
            <th>MAC</th>
            <th>Netbios</th>
            <th>Orgid</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Last Changed</th>
            <th>_</th>
        </tr>
    </thead>

    <tbody>
    {% for identity in identities %}
        <tr>
            <td>{{ identity.ip|default_if_none:'' }}</td>
            <td>{{ identity.dns|default_if_none:'' }}</td>
            <td>{{ identity.mac }}</td>
            <td>{{ identity.netbios|default_if_none:'' }}</td>
            <td>{{ identity.organization|default_if_none:'' }}</td>
            <td>{{ identity.status }}</td>
            <td>{{ identity.justification.name|default_if_none:'' }}</td>
            <td>{{ identity.last_changed }}</td>
        </tr>
    {% endfor %}
    </tbody>
    <tfoot>
        <tr>
            <th colspan="9">{{ identities|length }} hit{{ identities|pluralize:'s' }} in history the last x days</th>
        </tr>
    </tfoot>
</table>
