{% extends "base.html" %}

{% block base_header_additional_head %}
    <script type="text/javascript" src="/js/jquery.js"></script>
    <script type="text/javascript" src="/js/seeddb.js"></script>
{% endblock %}

{% block base_content %}

{% if current_user_data.messages %}
<div class="messages">
    <ul>
    {% for m in current_user_data.messages %}
        <li class="{{ m.type }}">{{ m.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<h2>Seed Database</h2>

<div class="tabs">
    <ul>
        <li class="{{ active.index|yesno:"tabactive," }}">
            <a href="{% url seeddb-index %}">Seed Database</a>
        </li>
        {% if tab_template %}
        {% include tab_template %}
        {% endif %}
    </ul>
</div>

<div class="tabcontent">

{% block content %}
{% endblock %}

</div>
{% endblock %}
