{% extends "seeddb/base.html" %}

{% block content %}
<form action="" method="post">

<table class="listtable">
    {% for o in objects %}
    <tr class="{% cycle 'oddrow' 'evenrow' %}">
        <td>
            <input type="checkbox" name="object" value="{{ o.id }}" checked="checked" />
        </td>
        <td>{{ o.id }}</td>
    </tr>
    {% endfor %}
</table>
<p>
    <input type="hidden" name="delete" value="true" />
    <input type="submit" name="confirm" value="Confirm delete" />
</p>

</form>
{% endblock %}
