{% extends "seeddb/base.html" %}

{% block content %}

<h3>IP devices and services</h3>
<dl>
    <dt><a href="{% url seeddb-netbox %}">IP devices</a></dt>
    <dd>Input seed information on the IP devices you want to monitor</dd>

    <dt><a href="{% url seeddb-service %}">Services</a></dt>
    <dd>Which services on which servers do you want to monitor?</dd>
</dl>

<h3>Rooms and locations</h3>
<dl>
    <dt><a href="{% url seeddb-room %}">Room</a></dt>
    <dd>Register all wiring closets and server rooms that contain IP devices which NAV monitors</dd>

    <dt><a href="{% url seeddb-location %}">Location</a></dt>
    <dd>Rooms are organised in locations</dd>
</dl>

<h3>Organisations and usage categories</h3>
<dl>
    <dt><a href="{% url seeddb-organization %}">Organization</a></dt>
    <dd>Register all organisational units that are relevant. I.e. all units that have their own subnet/server facilities.</dd>

    <dt><a href="{% url seeddb-usage %}">Usage category</a></dt>
    <dd>NAV encourages a structure in the subnet structure. Typically a subnet has users from an organisational unit. In addition this may be subdivided into a category of users, i.e. students, employees, administration etc.</dd>
</dl>

<h3>Types and vendors</h3>
<dl>
    <dt><a href="">Type</a></dt>
    <dd>The type describes the type of network device, uniquely described from the SNMP sysobjectID</dd>

    <dt><a href="">Vendor</a></dt>
    <dd>Register the vendors that manufacture equipment that are represented in your network.</dd>

    <dt><a href="">SNMP oid</a></dt>
    <dd>Manually add snmpoids (candidates for the cricket collector)</dd>

    <dt><a href="">Subcategory</a></dt>
    <dd>The main categories of a device are predefined by NAV (i.e. GW,SW,SRV). You may however create subcategories yourself.</dd>
</dl>

<h3>Vlans and special subnets</h3>
<dl>
    <dt><a href="">Vlan</a></dt>
    <dd>Register the vlan number that are in use (this info may also be derived automatically from the routers)</dd>

    <dt><a href="">Prefix</a></dt>
    <dd>Register special ip prefixes. Typically reserved prefixes or prefixes that are not directly connected to monitored routers/firewalls fall into this category</dd>
</dl>

<h3>Cabling system</h3>
<dl>
    <dt><a href="">Cabling</a></dt>
    <dd>Here you may document the horizontal cabling system</dd>

    <dt><a href="">Patch</a></dt>
    <dd>Register the cross connects in the wiring closets</dd>
</dl>

{% endblock %}
