{% extends "seeddb/base.html" %}

{% block content %}
<table class="listtable">
    <caption>
        {{ title }}<br />
        <span class="subtitle">
            {{ object_list|length }} found in database
        </span>
    </caption>

    <thead>
        <tr>
            <th></th>
            {% for label in labels %}
            <th>
                {% ifequal label.1 current_sort %}
                {% if sort_asc %}
                <img src="/images/alertprofiles/go-down.png" />
                {% else %}
                <img src="/images/alertprofiles/go-up.png" />
                {% endif %}
                <a href="?sort={{ sort_asc|yesno:"-," }}{{ label.1 }}">{{ label.0|capfirst }}</a>
                {% else %}
                <a href="?sort={{ label.1 }}">{{ label.0|capfirst }}</a>
                {% endifequal %}
            </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
        {% for object in object_list %}
        <tr class="{% cycle 'oddrow' 'evenrow' %}">
            <td><input type="checkbox" name="object" value="{{ object.pk }}" /></td>
            {% for element in object.values_list %}
            {% if forloop.first %}
            <td><a href="{{ object.url }}">{{ element }}</a></td>
            {% else %}
            <td>{{ element|default_if_none:"" }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
