{% extends "seeddb/base.html" %}

{% block content %}
<form action="" method="post">
<table class="listtable">
    <thead>
        <tr>
        {% if not confirm %}
            <th></th>
        {% endif %}
            <th>Name</th>
        {% for field in fields %}
            <th>Current {{ field }}</th>
        {% endfor %}
        {% if confirm %}
        {% for field in fields %}
            <th>New {{ field }}</th>
        {% endfor %}
        {% endif %}
        </tr>
    </thead>

    <tbody>
    {% for row in values %}
        <tr class="{% cycle 'oddrow' 'evenrow' %}">
        {% if not confirm %}
            <td><input type="checkbox" name="object" value="{{ row.0 }}" checked="checked" /></td>
        {% endif %}
        {% for value in row %}
            <td>{{ value|default_if_none:"" }}</td>
        {% endfor %}
        {% if confirm %}
        {% for value in data.values %}
            <td>
                {{ value }}
            </td>
        {% endfor %}
        {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>

{% if confirm %}
<p>
    {% for key,value in data.items %}
    <input type="hidden" name="{{ key }}" value="{{ value.pk }}" />
    {% endfor %}
    {% for row in values %}
    <input type="hidden" name="object" value="{{ row.0 }}" />
    {% endfor %}
    <input type="hidden" name="move" value="yes" />
    <input type="submit" name="save" value="Confirm save" />
</p>
{% else %}
<table class="listtable">
    {{ form.as_table }}
    <tr>
        <th></th>
        <td>
            <input type="hidden" name="move" value="yes" />
            <input type="submit" name="preview" value="Save" />
        </td>
    </tr>
</table>
{% endif %}

</form>
{% endblock %}
