<li class="{{ active.list|yesno:"tabactive," }}">
    <a href="{% url seeddb-service %}">Services</a></li>
<li class="{{ active.bulk|yesno:"tabactive," }}">
    <a href="{% url seeddb-service-bulk %}">Bulk import</a></li>
<li class="{{ active.add|yesno:"tabactive," }}">
    <a href="{% url seeddb-service-edit %}">Add new service</a>
</li>
{% if object %}
<li class="{{ active.edit|yesno:"tabactive," }}">
    <a href="{% url seeddb-service-edit object.id %}">Edit service "{{ object.id }}"</a>
</li>
{% endif %}
