<li class="{{ sub_active.list|yesno:"tabactive," }}">
    <a href="{% url seeddb-usage %}">Usage categories</a></li>
<li class="{{ sub_active.bulk|yesno:"tabactive," }}">
    <a href="{% url seeddb-usage-bulk %}">Bulk import</a></li>
<li class="{{ sub_active.add|yesno:"tabactive," }}">
    <a href="{% url seeddb-usage-edit %}">Add new usage category</a>
</li>
{% if object %}
<li class="{{ sub_active.edit|yesno:"tabactive," }}">
    <a href="{% url seeddb-usage-edit object.id %}">Edit usage category "{{ object.id }}"</a>
</li>
{% endif %}
