{% extends "rest_framework/base.html" %}

{% block style %}
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
        integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
        crossorigin="anonymous">
  <style>
    .page-header { margin: 0 0 20px; padding: 0; }
    .navbar { margin-bottom: 0; }
    .breadcrumb {
      padding: 7px 5px;
      margin-bottom: 0;
    }
  </style>
{% endblock %}

{% block navbar %}
  <nav class="navbar navbar-static-top navbar-inverse">
    <div class="container">
      <a class="navbar-brand" href="#">NAV API</a>
    </div>
  </nav>
  {% if debug %}
    {% if not current_user_data.account.is_anonymous %}
      {% include "debug.html" %}
    {% endif %}
  {% endif %}
{% endblock %}

{% block footer %}{% endblock %}

{% block script %}
  <script>
    document.getElementById('get-form').style.display = 'none';
    document.querySelector('.button-form').style.display = 'none';
  </script>
{% endblock %}
