#encoding UTF-8
## $Id$
##
## Copyright 2007 UNINETT AS
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Author: Kristian Klette
##
<?xml version="1.0" encoding="UTF-8"?>
<graphml xmlns="http://graphml.graphdrawing.org/xmlns"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://graphml.graphdrawing.org/xmlns
             http://graphml.graphdrawing.org/xmlns/1.0/graphml.xsd">

## Defined GraphML-attributes
## TODO: Add more attributes
<key id="sysname" for="node" attr.name="sysname" attr.type="string"/>
<key id="ip" for="node" attr.name="ip" attr.type="string"/>
<key id="image" for="node" attr.name="image" attr.type="string"/>
<key id="category" for="node" attr.name="category" attr.type="string"/>
<key id="type" for="node" attr.name="type" attr.type="string"/>
<key id="cpuload" for="node" attr.name="cpuload" attr.type="string"/>
<key id="room" for="node" attr.name="room" attr.type="string"/>
<key id="location" for="node" attr.name="location" attr.type="string"/>
<key id="uptime" for="node" attr.name="uptime" attr.type="string"/>
<key id="up" for="node" attr.name="up" attr.type="string"/>
<key id="position" for="node" attr.name="position" attr.type="string"/>
<key id="link_load_in" for="edge" attr.name="link_load_in" attr.type="string"/>
<key id="link_load_out" for="edge" attr.name="link_load_out" attr.type="string"/>
<key id="link_capacity" for="edge" attr.name="link_capacity" attr.type="string"/>
<key id="from_interface" for="edge" attr.name="from_interface" attr.type="string"/>
<key id="to_interface" for="edge" attr.name="to_interface" attr.type="string"/>
<key id="from_sysname" for="edge" attr.name="from_sysname" attr.type="string"/>
<key id="to_sysname" for="edge" attr.name="to_sysname" attr.type="string"/>
<key id="from_portid" for="edge" attr.name="from_portid" attr.type="string"/>
<key id="to_portid" for="edge" attr.name="to_portid" attr.type="string"/>
<key id="nettype" for="edge" attr.name="nettype" attr.type="string"/>
<key id="netident" for="edge" attr.name="netident" attr.type="string"/>
<key id="layer" for="edge" attr.name="layer" attr.type="string"/>

<graph id="main" edgedefault="directed">
	#for $box in $netboxes
	<node id="$box.netboxid">
		<data key="sysname">$box.sysname</data>
		<data key="ip">$box.ip</data>
		<data key="category">$box.catid</data>
		<data key="type">$box.descr</data>
		<data key="room">$box.roomid</data>
		<data key="up">$box.up</data>
		<data key="location">$box.descr</data>
		<data key="cpuload">$box.load</data>
        <data key="image">$baseURL/applet/media/${box.catid}.png</data>
        #if $box.xpos and $box.ypos
            <data key="position">$box.xpos x $box.ypos</data>
        #end if
    </node>
	#end for
    #set $a = 0
    #for $conn in $connections.values()
    <edge id="$a" source="$conn.from_netboxid" target="$conn.netboxid">
    <data key="link_capacity">$conn.speed</data>
#if $conn.load
     <data key="link_load_in">$conn.load[0]</data>
     <data key="link_load_out">$conn.load[1]</data>
#else
     <data key="link_load_in">-1</data>
     <data key="link_load_out">-1</data>
#end if
     <data key="from_interface">$conn.from_interface</data>
     <data key="to_interface">$conn.interface</data>
     <data key="from_sysname">$conn.from_sysname</data>
     <data key="to_sysname">$conn.sysname</data>
#if $conn.from_gwportid
     <data key="from_portid">$conn.from_gwportid</data>
#else
     <data key="from_portid">$conn.from_swportid</data>
#end if
#if $conn.gwportid
     <data key="to_portid">$conn.gwportid</data>
#else
     <data key="to_portid">$conn.swportid</data>
#end if
     <data key="nettype">$conn.nettype</data>
     <data key="netident">$conn.netident</data>
     <data key="layer">$conn.layer</data>
    </edge>
    #set $a = $a +1
    #end for
</graph>
</graphml>
