{% extends "base.html" %}
{% load tools %}

{% block base_header_additional_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css"/>
  <link rel="alternate" type="application/rss+xml"
        title="Messages Feed (RSS 2.0)" href="{% url 'messages-rss' %}"/>
  <script>require(['src/messages']);</script>
{% endblock %}

{% block base_content %}
  {% with tool=current_user_data.tools|get_tool:'Messages' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  <a href="{% url 'messages-rss' %}">Subscribe to message feed</a>

  {% block content %}
    <div class="tabs">
      <ul>
        <li class="{{ active.active|yesno:"tabactive," }}">
          <a href="{% url 'messages-active' %}">Active</a>
        </li>
        <li class="{{ active.scheduled|yesno:"tabactive," }}">
          <a href="{% url 'messages-planned' %}">Scheduled</a>
        </li>
        <li class="{{ active.archive|yesno:"tabactive," }}">
          <a href="{% url 'messages-historic' %}">Archive</a>
        </li>
      </ul>

      <div class="tabcontent">
        {% if current_user_data.messages %}
          <ul class="messages">
            {% for m in current_user_data.messages %}
              <li class="{{ m.type }}">{{ m.message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% block tabcontent %}
        {% endblock tabcontent %}
      </div>

    </div>
  {% endblock content %}

{% endblock base_content %}
