{% extends "messages/base.html" %}

{% block content %}

  <h3>{{ caption }}</h3>

  <p>
  {% if message %}
    <a href="{% url 'messages-view' message.id %}">Back to message</a>
  {% else %}
    <a href="{% url 'messages-home' %}">See active messages</a>
  {% endif %}
  </p>

  {% if replaces %}
    <p class="alert-box secondary">
      This message will replace
      <a href="{% url 'messages-view' replaces.id %}">{{ replaces.title }}</a>
      from {{ replaces.publish_start|date:"SHORT_DATETIME_FORMAT" }}
      by {{ replaces.author }}
    </p>
  {% endif %}

  <div class="row">
    <div class="column medium-6">
      {% include 'custom_crispy_templates/flat_form.html' %}
    </div>
  </div>

{% endblock %}
