body {
  font-family: Tahoma, Verdana, Helvetica, sans-serif;
}
A { 
  color: #336699;
  text-decoration: none;
}
A:visited { 
  color: #336699;
  text-decoration: none;
}
A:hover { 
  color: #000000;
  text-decoration: underline;
}
A:active {
  color: #6699CC;
  text-decoration: none;
}
th {
  background:#CDD3FE;
}
td {
  white-space:nowrap;
}
td.ntnu {
  white-space:normal;
}
table {
  border-collapse:collapse;
}
td.header {
  font-size:x-large;
}
td.header2 {
  font-weight:bolder;
  font-size:x-large;
  color:white;
}
tr.header {
  background-color:#CDD3FE;
}
