<form id="prefix-tree-control" class="prefix-tree-control" onsubmit="return false;">

  <!-- free text search -->
  <div class="prefix-tree-control-search">
    <label>
      Search (in organization ID or VLAN description)
    </label>
    <input autofocus name="search" id="prefix-tree-query" class="search-param prefix-tree-query">
  </div>

  <div>
    <button class="toggleAdvanced btn small">
      <%= advancedSearch ? "Hide advanced search" : "Advanced search" %>
    </button>
  </div>

  <div class="prefix-control-form-advanced">
  </div>
</form>
