<!-- address types to display -->
<div class="prefix-tree-control-checkboxes">
  <div>
    <label for="organization">Organization (optional)</label>
    <input type="text" class="search-param" id="prefix-organization"
      name="organization" value="<%= queryParams.organization %>">
  </div>

  <div>
    <label for="organization">VLAN (number, optional)</label>
    <input type="number" class="search-param" id="prefix-vlan"
      name="vlan" value="<%= queryParams.vlan %>">
  </div>

  <div>
    <label for="organization">Usage (optional)</label>
    <input type="text" class="search-param" id="prefix-usage"
      name="usage" value="<%= queryParams.usage %>">
  </div>

  <div>
    <label>Address family</label>

    <input class="search-flag" type="checkbox" name="type" value="ipv4"
    <%= _.contains(queryParams.type, "ipv4") ? "checked" : null %>>
    <label for="type">IPv4</label>

    <input class="search-flag" type="checkbox" name="type" value="ipv6"
    <%= _.contains(queryParams.type, "ipv6") ? "checked" : null %>>
    <label for="type">IPv6</label>

    <input class="search-flag", type="checkbox" name="type" value="rfc1918"
    <%= _.contains(queryParams.type, "rfc1918") ? "checked" : null %>>
    <label for="type">RFC1918</label>
  </div>

  <div>
    <label for="net_type">Net type</label>
    {% comment %}
    yo, templates in your templates. the net_types context attribute is a list
    of all net types registered in NAV, except scope and reserved, which are
    given special treatment.
    {% endcomment %}
    <select class="select2 search-param" name="net_type" multiple="multiple">
      <option value="scope" selected>scope</option>
      <option value="reserved" <%= _.contains(queryParams.net_type, 'reserved') ? "selected" : null %>>
        reserved
      </option>
      {% for net_type in net_types %}
      <option value="{{ net_type }}" <%= _.contains(queryParams.net_type, '{{ net_type }}') ? "selected" : null %>>
        {{ net_type }}
      </option>
    {% endfor %}
    </select>
  </div>

  <!-- datetime select -->
  <div class="prefix-tree-control-timespan">
    <h4>Usage calculation</h4>
    <div>
      <label>Start time</label>
      <input class="datetimepicker datetimeinput search-param" id="usage_start" name="starttime"
        type="text" value="<%= queryParams.timestart %>" />
    </div>
    <div>
      <label>End time</label>
      <input class="datetimepicker datetimeinput search-param" id="usage_end" name="endtime"
        type="text" value="<%= queryParams.timeend %>" />
    </div>
  </div>
</div>
