<form id="prefix-tree-control" class="prefix-tree-control" onsubmit="return false;">

  <h3><%= state === "ADVANCED_SEARCH" ? "Advanced search" : "Simple search" %></h3>
  <% if (state === "SIMPLE_SEARCH") { %>
  <!-- free text search -->
  <div class="prefix-tree-control-search">
    <label>
      Search (in organization ID or VLAN description)
    </label>
    <input autofocus
      name="search"
      id="prefix-tree-query"
      class="search-param prefix-tree-query"
      value="<%= queryParams.search %>">
  </div>
  <div>
    <label for="organization">IP</label>
    <input type="text" class="search-param" id="prefix-ip"
      name="ip" value="<%= queryParams.ip %>">
  </div>
  <div>
    <input type="hidden" class="search-param" id="prefix-net-type" name="net_type" value="scope">
  </div>
  <% } %>

  <% if (state === "ADVANCED_SEARCH") { %>
   {% include "ipam/includes/tree-form-advanced.html" %}
  <% } %>
  <div>
    <button class="toggleAdvanced btn small">
      Open <%= state === "ADVANCED_SEARCH" ? "simple search" : "advanced search" %>
    </button>
  </div>
</form>
