{% extends "base.html" %} {# Don't need a deeper hierarchy for one template #}
{% load tools %}

{% block base_header_additional_head %}
  <style type="text/css">
    .statistics-chart {
       margin: 0 2em 2em 0;
    }
  </style>
  <script type="text/javascript">require(['src/statistics']);</script>
{% endblock %}

{% block base_content %}

  {% with tool=current_user_data.tools|get_tool:'Ranked Statistics' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  {% if cache_misconfigured %}
    <div class="alert-box error">
      The cache for Ranked Statistics is not configured correctly.
    </div>
  {% endif %}

  {% include 'custom_crispy_templates/flat_form.html' with disable_csrf=True %}

  {# Display view if exists #}
  {% if result %}
    {% if result.graph_url %}
      <div>
        {% if from_cache %}
          <p>Showing cached results ({{ duration }} sec) </p>
        {% else %}
          <p>Showing live results ({{ duration }} sec) </p>
        {% endif %}
      </div>

      <ul class="button-group">
        <li>
          <a id="line-chart" href="javascript:void(0);" class="button small active">Line chart</a>
        </li>
        <li>
          <a id="pie-chart" href="javascript:void(0);" class="button small">Pie chart</a>
        </li>
      </ul>

      <img src="{{ result.graph_url }}" alt="Chart" title="Chart" class="left statistics-chart">

      <table class="listtable left">
        <caption>Average values</caption>
        {% for metric, value, obj in result.display_data %}
          <tr>
            <td>
              {% if obj and obj.get_absolute_url %}
                <a href="{{ obj.get_absolute_url }}" title="See info about this metric">
                  {{ metric }}
                </a>
              {% else %}
                {{ metric }}
              {% endif %}
            </td>
            <td>
              {{ value }}{{ result.graph_args.vtitle }}
            </td>
          </tr>
        {% endfor %}

      </table>
    {% elif graphite_unreachable %}
      <div class="alert-box error">
        The statistics could not be displayed due to a problem with reaching the
        Graphite server. Try again or contact a NAV admin to resolve the issue.
      </div>
    {% else %}
      <div class="alert-box error">
        No data was found for the given timeframe. This may indicate a problem
        with the data collection and/or presentation. Try choosing a longer
        timeframe to see when the problem started.
      </div>
    {% endif %}
  {% endif %}

{% endblock base_content %}
