#encoding UTF-8
##
## Copyright 2008 University of Tromsø 
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
## RadiusChartsTemplate.tmpl
##
## Author: Roger Kristiansen <roger.kristiansen@gmail.com>
## 	   Kai Bjornenak <kai.bjornenak@cc.uit.no>
##

#extends nav.web.templates.MainTemplate
#from radiuslib import makeTimeHumanReadable, makeBytesHumanReadable
#from radiuslib import makeSearchURL


#block additionalCSS
$default_table_CSS
$default_tabs_CSS
#end block additionalCSS

#attr $path =  [("Home", "/"), ("Radius", "/radius/")]

#block content
$makeMenu($menu, $current)
<div class="tabcontent">

#if $error:
<div id="error">
<font style="color: #FF0000">Chart generation failed: $error</font>
<br>
</div>
#end if


<div id="form">
    <form id="charts" action="" method="get">
        Charts for last <input type="text" name="days" size="3" value="$form.days"> day(s) </input>
       <input type="checkbox" name="overallchart" value="overallchart" $setSelectItem($form.overallchart, "overallchart", output="checked")><label>Overall</label>
         <input type="checkbox" name="uploadchart" value="uploadchart" $setSelectItem($form.uploadchart, "uploadchart", output="checked")><label>Upload</label>
         <input type="checkbox" name="downloadchart" value="downloadchart" $setSelectItem($form.downloadchart, "downloadchart", output="checked")><label>Download</label>
         <input type="submit" name="send" value="Create">
    </form>
</div>

## makeMenu from Machinetracker template
#def $makeMenu($menu, $current = False)
<div class="tabs">
<ul>
#for $item in $menu:
    #if $item.link == $current:
    <li class="tabactive"><a href="$item.link">$item.text</a></li>
    #else:
    <li><a href="$item.link">$item.text</a></li>
    #end if
#end for
</ul>
</div>
#end def
## end makemenu

#def tableTitle($title, $hits, $columnCount)
  #set $columnCount += 1
    
    <table class="listtable">
        <caption>
		 $title<br />
		 <span class="subtitle">$hits hits</span>
	</caption>
			    
#end def

#def tableHeader($rowCount, $columns, $sort=None)
  #set $rowCount = $rowCount + 1
  <thead>
    <tr>
      #for $column in $columns
      
        ## Columns can be strings or (title, sortkey) tuples
        
        #if type($column) == type('')
          <th>$column</th>
        #else
          #set $title, $key = $column
            #if $key == $sort
              <th><a href="?sort=-$key">$title</a></th>
            #else
              <th><a href="?sort=$key">$title</a></th>
            #end if
        #end if
      #end for
    </tr>
  </thead>
  <tbody>
#end def


## Display entire table
#def resultTable($title, $table,$columns)
    #set $columnCount = len($columns)

    $tableTitle($title, len($table), $columnCount)
    $tableHeader(len($table), $columns)

    #set counter = 0
    
    #set $rowtype = "evenrow"
    #for $row in $table
        #if $row["username"]
            #if $rowtype == "evenrow"
                #set $rowtype = "oddrow"
            #else
                #set $rowtype = "evenrow"
            #end if
        #end if
        
        #set counter += 1
        <tr class="$rowtype">
            <td nowrap align="center">$counter</td>
            <td nowrap><a href="$makeSearchURL("radius", {"searchstring": $row["username"], "searchtype": "username", "timemode": "days", "sortfield": "acctstarttime", "sortorder": "DESC"}, $form)"
                            title="Show users sessions in this time period">$row["username"]</a> &nbsp;&nbsp;</td>
            ##<td nowrap>$row.realm &nbsp;&nbsp;</td>
            <td nowrap align="right">$makeBytesHumanReadable($row["sortfield"]) &nbsp;&nbsp;</td>
            <td nowrap align="right">$makeTimeHumanReadable($row["acctsessiontime"])</td>
        </tr>
    #end for

</table>
#end def


#def infoBox(contents="help",data="")
<div class="infobox">

<h5>Radius accounting chart information</h5>
    <p>
    <i>"There are three types of lies - lies, damn lies, and statistics."</i>
    </p>
    <p>
    We get transfer data from sessions that have ended, and where we
    received an explicit Stop message. These charts show transfer data
    for all sessions that <u>ended</u> during the specified time
    period, so the data could actually have been transferred before
    this period.
    </p>
</div>
#end def


#if not $error
<div id="results">
#set $nobox = False
##set $columns = ("Pos.", "Username", "Realm", "Transferred", "Time")
#set $columns = ("Pos.", "Username", "Transferred", "Time")

#if $sentrecvChartQuery:
    $resultTable("Bandwidth Hogs (Upload+Download)", $sentrecvChartQuery.table, $columns)
    #set $nobox = True
#end if

#if $sentChartQuery:
    $resultTable("Uploaders", $sentChartQuery.table, $columns)
    #set $nobox = True
#end if

#if $recvChartQuery:
    $resultTable("Downloaders", $recvChartQuery.table, $columns)
    #set $nobox = True
#end if

#if not $nobox:
    $infoBox
#end if

</div>
#end if

</div> <!-- end tabcontent -->
</div> <!-- end radius -->


#end block content


#block helperFunctions


## setSelectItem()
##
## Set checkboxes/radiobuttons/dropdown lists etc. to according to certain
## criteria
##
## Keyword arguments:
## $selectValue   - Typically the value we get from a form element.
## $currentField  - The element (radiobutton/checkbox/whatever tag) this
##                  function is injected into in this instance.
## $output        - What we want printed out if this is the element we want to
##                  be selected
## $default       - Should this element be selected by default, if $checkValue
##                  doesn't contain anything?
##

#def $setSelectItem($selectValue, $currentField, $output, $default=False)
        #if ($str($selectValue).lower() == $str($currentField).lower()) or $default == True:
                $output#slurp·
        #end if
#end def


#end block
