#encoding UTF-8
##
## Copyright 2008 University of Tromsø 
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Authors: Roger Kristiansen <roger.kristiansen@gmail.com>
##


#extends nav.web.templates.MainTemplate
#from mod_python import apache
#from radiuslib import makeSearchURL
#from radiuslib import getSortOrder 
#from radius_config import LOG_FIELDDESCRIPTIONS
#import nav.auth, nav.web, nav.path
#import os

#block additionalCSS
$default_table_CSS
$default_tabs_CSS
#end block additionalCSS

## Path displayed at the top of the web page
#attr $path =  [("Home", "/"), ("Radius", "/radius/")]


#block content
$makeMenu($menu, $current)
<div class="tabcontent">

#if $error:
<div id="error">
    <font style="color: #FF0000">Search failed: $error</font>
</div>
#end if

## If they are not filled in, default values are set for the following fields:
#if $form.timestamp
    #set $timestamp = $form.timestamp
#else
    #set $timestamp = "YYYY-MM-DD hh:mm"
#end if

#if $form.hours
    #set $hours = $form.hours
#else
    #set $hours = "0.5"
#end if

#def $makeMenu($menu, $current = False)
<div class="tabs">
<ul>
#for $item in $menu:
    #if $item.link == $current:
    <li class="tabactive"><a href="$item.link">$item.text</a></li>
    #else:
    <li><a href="$item.link">$item.text</a></li>
    #end if
#end for
</ul>
</div>
#end def

## The main search form
<div id="forms">
    <form id="search" action="" method="get">
        <table border="0" cellspacing="5" style="font-size: 13px;">
            <tr> 
            <td valign="bottom">Search for:</td>
            <td><input type="text" name="searchstring" size="15" value="$form.searchstring"></td>
            <td> in </td>
            <td>
                <select name=searchtype>
                    <option value="username" $setSelectItem($form.searchtype, "username", output="selected", default=True)>Username</option>
                    <option value="client" $setSelectItem($form.searchtype, "client", output="selected")>Client</option>
                    <option value="port" $setSelectItem($form.searchtype, "port", output="selected")>Port</option>
                    <option value="message" $setSelectItem($form.searchtype, "message", output="selected")>Message</option>
                </select>
            </td>
            </tr>
            <tr>
            <td>Type:</td>
            <td colspan="3">
                <select name="logentrytype">
                    <option value="" $setSelectItem($form.logentrytype, "", output="selected", default="True")>All</option>
                    <option value="Auth" $setSelectItem($form.logentrytype, "Auth", output="selected")>Auth</option>
                    <option value="Error" $setSelectItem($form.logentrytype, "Error", output="selected")>Error</option>
                     <option value="Info" $setSelectItem($form.logentrytype, "Info", output="selected")>Info</option>
                      <option value="Proxy" $setSelectItem($form.logentrytype, "Proxy", output="selected")>Proxy</option>
               </select>
            </td>
            </tr>
            <tr>
            <td>Time: </td>
            <td colspan="4">
                <input type="radio" name="timemode" value="hours" $setSelectItem($form.timemode, "hours", output="checked", default=True)> Last <input type="text" name="hours" size="3" value="$hours"> hours(s)
            </td>
            </tr>
            <tr>
            <td></td>
            <td colspan="4">
                <input type="radio" name="timemode" value="timestamp" $setSelectItem($form.timemode, "timestamp", output="checked")>
                <input type="text" name="timestamp" size="18" value="$timestamp">
                <label> +/- </label>
                <input type="text" name="timestampslack" size="3" value="$form.timestampslack"><label>minutes</label>
            </td>
            </tr>
            <tr>
            <td></td>
            <td>
                <input type="radio" name="timemode" value="" $setSelectItem($form.timemode, "", output="checked")><label>All</label>
            </td>
            </tr>
            <tr>
            <td></td>
            <td colspan="2">
                <input type="hidden" name="sortfield" value="time">
                <input type="hidden" name="sortorder" value="DESC">
                <input type="submit" name="send" value="Search">  <input type="reset" value="Clear">
            </td>

        </table>
    </form>
</div>


#def tableTitle($title, $hits, $columnCount)
  #set $columnCount += 1
    
    <table class="listtable">
        <caption>
		 $title<br />
		 <span class="subtitle">$hits hits</span>
	</caption>
			    
#end def


#def tableHeader($rowCount, $columns, $sort=None)
  #set $rowCount = $rowCount + 1
  <thead>
    <tr>
      #for $column in $columns
      
        ## Columns can be strings or (title, sortkey) tuples
        
        #if type($column) == type('')
          <th>$column</th>
        #else
          #set $title, $key = $column
            #if $key == $sort
              <th><a href="?sort=-$key">$title</a></th>
            #else
              <th><a href="?sort=$key">$title</a></th>
            #end if
        #end if
      #end for
    </tr>
  </thead>
  <tbody>
#end def





#def resultTable($table,$columns)
    #set $columnCount = len($columns)

    $tableTitle("Search results", len($table), $columnCount)
    $tableHeader(len($table), $columns)

    #set $rowtype = "evenrow"
    #for $row in $table
        #if $rowtype == "evenrow"
            #set $rowtype = "oddrow"
        #else
            #set $rowtype = "evenrow"
        #end if

        ## Emphasise username
        #if $row.message.find("["):
            #set $message = $row.message.replace("[", "[<b>").replace("]", "</b>]")
        #else
            #set $message = $row.message
        #end if

        ## One row of the search result table
        <tr class="$rowtype">
            <td nowrap>$row.time &nbsp;&nbsp;</td>
            <td nowrap>$row.type &nbsp;&nbsp;</td>
            <td nowrap>$message &nbsp;&nbsp;</td>
            <td nowrap><a href="logdetail?id=$row.id" title="View all available information on this session">View</a></td>
        </tr>
    #end for
</table>
<!--/p-->

#end def


#def infoBox(contents="help", data="")
<div class="infobox">

    #if contents=="help"
<h5>Radius log search hints and information</h5>
<ul>
    <li>Quick Start: Enter &quot;<tt>*</tt>&quot; in the &quot;Search for&quot;
    text box, and click &quot;Search&quot; to show all messages logged
    the last 30 minutes</li>
    <li>The search string allows wildcards, e.g. you can search for 
    &quot;<tt>dat3*</tt>&quot; to search all usernames starting with
    &quot;dat&quot;.
    <li>You can do a text search using these criteria:
        <li class="sub">Username - The user name a user is trying to log in with</li>
        <li class="sub">Client - Where the user is connecting. Examples of these are:<br></li>
        <li class="sub">Port - Search for a specific port</li>
        <li class="sub">Message - Search the entire message. Remember to use
        the wildcard characters if you're searching for a substring. To find all
        messages that mention id 106, you can use the search string '*ID: 10
    <li>You may want to limit the search further by selecting which type of 
    information you want to search.
        <li class="sub">All - All categories of logged information</li>
        <li class="sub">Auth - Information relating to authentication</li>
        <li class="sub">Error - Error messages regarding the radius server</li>
        <li class="sub">Info - General information from the radius server</li>
        <li class="sub">Proxy - Show proxy errors

    <li>Common messages, and explanations
        <li class="sub">"Login incorrect: [host/PEROTTO] (from client unis port 
        50010 cli 00-10-60-76-AA-4F)"<br>
        The computer uses default values from Microsoft, and is therefore not
        correctly set up for 802.1x. "PEROTTO" is in this case the computer name.
        The "host/" part informs that this is host based authentication.
        </li>
        <li class="sub">"Reply from home server 129.242.5.142:3001 - ID: 251 arrived too late for request 674132. Try increasing 'retry_delay' or 'max_request_time'"<br>
        Time-to-live for a buffered request timed out: It took too long to get an
        answer from the authentication server, or to finish a request.
        </li>

        <li class="sub">"No outstanding request was found for proxy reply from home server xxx.xxx.xxx.xxx:xxxx - ID xxx"<br>
        Also related to timeouts, shouldn't be anything to worry about.
        </li>

        <li class="sub">"Dropping conflicting packet from client clientname:1646 - ID: 15 due to unfinished request 709815"<br>
        Harmless messages that occur when the NAS'es (switches) resends a request before radius has replied to the previous request. Happens because of its own timeout.
        </li>

        <li class="sub">"Rejecting request 709815 due to lack of any response from home server aasgardvn:1646"<br>
        This message will usually follow, and be related to, the previous message.
        </li>
</ul>

    #end if

</div>
#end def 


<div id="main">

#if $search:
        $resultTable($search.table, $dbfields)
#else:
        $infoBox()
#end if

</div> <!-- end main -->
</div> <!-- end radius -->
</div> <!-- end tabcontent -->
#end block content



#block helperFunctions

## setSelectItem() 
##
## Set checkboxes/radiobuttons/dropdown lists etc. to according to certain
## criteria
##
## Keyword arguments:
## $selectValue   - Typically the value we get from a form element.
## $currentField  - The element (radiobutton/checkbox/whatever tag) this
##                  function is injected into in this instance. 
## $output        - What we want printed out if this is the element we want to
##                  be selected
## $default       - Should this element be selected by default, if $checkValue 
##                  doesn't contain anything?
##

#def $setSelectItem($selectValue, $currentField, $output, $default=False)
        #if ($str($selectValue).lower() == $str($currentField).lower()) or $default == True:
                $output#slurp 
        #end if
#end def

#end block


