.fg1light {
color: #A6CEE3;
}
.fg1dark {
color: #1F78B4;
}
.fg2light {
color: #B2DF8A;
}
.fg2dark {
color: #33A02C;
}
.fg3light {
color: #FB9A99;
}
.fg3dark {
color: #E31A1C;
}
.fg4light {
color: #FDBF6F;
}
.fg4dark {
color: #FF7F00;
}
.fg5light {
color: #CAB2D6;
}
.fg5dark {
color: #6A3D9A;
}

.bg1light {
background-color: #A6CEE3;
}
.bg1dark {
background-color: #1F78B4;
}
.bg2light {
background-color: #B2DF8A;
}
.bg2dark {
background-color: #33A02C;
}
.bg3light {
background-color: #FB9A99;
}
.bg3dark {
background-color: #E31A1C;
}
.bg4light {
background-color: #FDBF6F;
}
.bg4dark {
background-color: #FF7F00;
}
.bg5light {
background-color: #CAB2D6;
}
.bg5dark {
background-color: #6A3D9A;
}
