/* Custom global styles */

.full-width {
    width: 100%;
}

/* Custom base page styles */

#nav-breadcrumbs {
    margin-top: 0.875em;
}

#toolboxdropdown img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.top-bar .title-area img {
    height: 55px;
}

footer {
    font-size: 0.9em;
    text-align: center;
}


/* Custom form styles */

table input[type="text"], table input[type="password"],
table input[type="date"], table input[type="datetime"],
table input[type="datetime-local"], table input[type="month"],
table input[type="week"], table input[type="email"],
table input[type="number"], table input[type="search"],
table input[type="tel"], table input[type="time"], table input[type="url"], table textarea {
    margin: 0;
}

table .button {
    margin: 0;
}

form.nav select {
    width: auto;
}

/* Map styles */
.mapwrapper {
    margin: 1em 0;
}

.mapwrapper img {
    max-width: none; /* Openlayers maps need this to override a foundation style to display properly */
}

.smallmap {
    height: 400px;
    width: 600px;
}

.bigmap {
    height: 600px;
}


/* jquery ui tabs */

ul.ui-tabs-nav {
    font-size: 0.9em;
}

/* List styles */

li.list-header {
    background: #567899;
    color: white;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-align: left;
}
