/* Custom base page styles */

#sidebar .navlogo {
    margin-top: 0.875em;
}

#sidebartools img {
    vertical-align: text-bottom;
}

.breadcrumbs {
    margin-top: 0.875em;
}

footer {
    font-size: 0.9em;
    text-align: center;
}


/* Custom global styles */

table caption {
    text-align: left;
}

.full-width {
    max-width: 100%;
}

li.list-header {
    background: #567899;
    color: white;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-align: left;
}
