#netboxes .dataTables_wrapper {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 3em;
    vertical-align: top;
}

table.compact {
    border-collapse: collapse;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

table.cluttered tr td {
    background-color: #CCDDEE;
    padding: 0.2em;

}

.center-content {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.brighten {
    color: #777;
}

/* Sorting indicators */
table.vertitable tr th {
    padding: 0.1em 16px 0.1em 0.5em;
}

table.vertitable tr th.sorting_asc {
    background: url('/images/datatables/sort_asc.png') no-repeat right center #EEEEEE;
}

table.vertitable tr th.sorting_desc {
    background: url('/images/datatables/sort_desc.png') no-repeat right center #EEEEEE ;
}

table.vertitable tr th.sorting {
    background: url('/images/datatables/sort_both.png') no-repeat right center #EEEEEE ;
}

.input-filter {
    float: left;
    margin: 0 1em 1em 0;
}
