.searchprovider {
    float: left;
    margin-right: 1em;
}

.searchprovider .resultcounter {
    float: right;
    font-size: small;
}

.searchprovider caption {
    line-height: 100%;
}

table.small {
    width: 320px;
}

table.medium {
    width: 480px;
}

table.medium td {
    font-size: small;
}

