.netbox {
    display: inline-block;
    vertical-align: top;
}

.netbox td.center {
    text-align: center;
}

.netbox .interfacetrunk {
    cursor: pointer;
}

.netbox .activenow {
    color: #aaaaaa;
}
