#netboxes .dataTables_wrapper {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 3em;
    vertical-align: top;
}

#netboxes .netbox {
    border-collapse: collapse;
    margin-bottom: 0.5em;
}

#netboxes .netbox tr td {
    background-color: #CCDDEE;
    padding: 0.2em;
    font-size: 0.9em;
}

#netboxes .netbox td.center {
    text-align: center;
}

#netboxes .netbox .interfacetrunk {
    cursor: pointer;
}

#netboxes .netbox .activenow {
    color: #808080;
}

/* Sorting indicators */
#netboxes .netbox thead th {
    padding-right: 16px;
}

#netboxes .netbox thead th.sorting_asc {
    background: url('/images/datatables/sort_asc.png') no-repeat right center;
}

#netboxes .netbox thead th.sorting_desc {
    background: url('/images/datatables/sort_desc.png') no-repeat right center;
}

#netboxes .netbox thead th.sorting {
    background: url('/images/datatables/sort_both.png') no-repeat right center;
}
