#navlets .highlight {
    background-color: greenyellow;
}


/* Is a column is empty, make sure it has some size to be visible */
.navletColumn {
    min-width: 1px;
    min-height: 1px;
}

.navlet {
    box-shadow: 2px 2px 6px #999;
    margin-bottom: 1em;
    padding: 1em;
    position: relative;
}

.navlet.outline {
    border: 2px solid red;
}

.navlet .navlet-action-group {
    position: absolute;
    right: 0;
    top: 0;
}

.navlet .navlet-action-group .button {
    margin-bottom: 0;
}
