/* General styles */
body {
    margin: 0;
    padding: 0;
    border: 0; /* This removes the border around the viewport in old versions of IE */
    width: 100%;
    background: #fff;
    min-width: 600px; /* Minimum width of layout - remove line if not required */
    /* The min-width property does not work in old versions of Internet Explorer */
    font-size: 90%;
}

a {
    color: #369;
}

a:hover {
    color: #fff;
    background: #369;
    text-decoration: none;
}

h1, h2, h3 {
    margin: .8em 0 .2em 0;
    padding: 0;
}

p {
    margin: .4em 0 .8em 0;
    padding: 0;
}

img {
    margin: 10px 0 5px;
}

/* Header styles */
#header {
    clear: both;
    float: left;
    width: 100%;
}

#header {
    border-bottom: 1px solid #000;
}

#header p,
#header h1,
#header h2 {
    padding: .4em 15px 0 15px;
    margin: 0;
}

#header ul {
    clear: left;
    float: left;
    width: 100%;
    list-style: none;
    margin: 10px 0 0 0;
    padding: 0;
}

#header ul li {
    display: inline;
    list-style: none;
    margin: 0;
    padding: 0;
}

#header ul li a {
    display: block;
    float: left;
    margin: 0 0 0 1px;
    padding: 3px 10px;
    text-align: center;
    background: #eee;
    color: #000;
    text-decoration: none;
    position: relative;
    left: 15px;
    line-height: 1.3em;
}

#header ul li a:hover {
    background: #369;
    color: #fff;
}

#header ul li a.active,
#header ul li a.active:hover {
    color: #fff;
    background: #000;
    font-weight: bold;
}

#header ul li a span {
    display: block;
}

/* 'widths' sub menu */
#layoutdims {
    clear: both;
    background: #eee;
    border-top: 4px solid #000;
    margin: 0;
    padding: 6px 15px !important;
    text-align: right;
}

/* column container */
.colmask {
    position: relative; /* This fixes the IE7 overflow hidden bug and stops the layout jumping out of place */
    clear: both;
    float: left;
    width: 100%; /* width of whole page */
    overflow: hidden; /* This chops off any overhanging divs */
}

/* holy grail 3 column settings */
.holygrail {
    background: #EEE; /* Right column background colour */
}

.holygrail .colmid {
    float: left;
    width: 200%;
    margin-left: -200px; /* Width of right column */
    position: relative;
    right: 100%;
    background: #fff; /* Centre column background colour */
}

.holygrail .colleft {
    float: left;
    width: 100%;
    margin-left: -50%;
    position: relative;
    left: 400px; /* Left column width + right column width */
    background: #EEE; /* Left column background colour */
}

.holygrail .col1wrap {
    float: left;
    width: 50%;
    position: relative;
    right: 200px; /* Width of left column */
    padding-bottom: 1em; /* Centre column bottom padding. Leave it out if it's zero */
}

.holygrail .col1 {
    margin: 0 215px;
    /* Centre column side padding:
                                 Left padding = left column width + centre column left padding width
                                 Right padding = right column width + centre column right padding width */
    position: relative;
    left: 200%;
    overflow: hidden;
}

.holygrail .col2 {
    float: left;
    float: right; /* This overrides the float:left above */
    width: 170px; /* Width of left column content (left column width minus left and right padding) */
    position: relative;
    right: 15px; /* Width of the left-had side padding on the left column */
}

.holygrail .col3 {
    float: left;
    float: right; /* This overrides the float:left above */
    width: 170px; /* Width of right column content (right column width minus left and right padding) */
    margin-right: 45px; /* Width of right column right-hand padding + left column left and right padding */
    position: relative;
    left: 50%;
}

/* Footer styles */
#footer {
    clear: both;
    float: left;
    width: 100%;
    border-top: 1px solid #000;
}

#footer p {
    padding: 10px;
    margin: 0;
}

#save_new_view {
    float:right;
}

/*
2012-07-31
view-source:http://bluerobot.com/web/layouts/layout3.css
quote http://www.bluerobot.com/web/layouts/
"Please feel free to borrow, steal, abduct, and/or torture the documents
 contained in the Layout Reservoir.
 Though you need not give credit to BlueRobot.com, a comment in your source
  code would help other developers to find this resource. Enjoy."
*/

#netmap_wrapper {
    position: relative;
    top: 0;
    left: 0;
}

#netmap_main_view {
    position:relative; /* Position is declared "relative" to gain control of stacking order (z-index). */
    width:auto;
    min-width:120px;
    margin:0px 210px 20px 170px;
    border:1px solid black;
    background-color:white;
    padding:10px;
    z-index:3; /* This allows the content to overlap the right menu in narrow windows in good browsers. */
}

#netmap_left_sidebar {
    position:absolute;
    width:150px;
    top:0px;
    left:0px;
    border:1px dashed black;
    background-color:#eee;
    padding:10px;
    z-index:2;

    /* Here is the ugly brilliant hack that protects IE5/Win from its own stupidity.
Thanks to Tantek Celik for the hack and to Eric Costello for publicizing it.
IE5/Win incorrectly parses the "\"}"" value, prematurely closing the style
declaration. The incorrect IE5/Win value is above, while the correct value is
below. See http://glish.com/css/hacks.asp for details. */
    voice-family: "\"}\"";
    voice-family:inherit;
    width:128px;
    background-color: #eee;
}
/* I've heard this called the "be nice to Opera 5" rule. Basically, it feeds correct
length values to user agents that exhibit the parsing error exploited above yet get
the CSS box model right and understand the CSS2 parent-child selector. ALWAYS include
a "be nice to Opera 5" rule every time you use the Tantek Celik hack (above). */
body>#netmap_left_sidebar {width:128px;}

#netmap_infopanel {
    position:absolute;
    width:190px;
    top:0px;
    right:0px;
    border:1px dashed black;
    background-color:#eee;
    padding:10px;
    z-index:1;
    /* Again, the ugly brilliant hack. */
    voice-family: "\"}\"";
    voice-family:inherit;
    width:168px;
}
/* Again, "be nice to Opera 5". */
body>#netmap_infopanel {width:168px;}


/* D3JS Netmap style */

#save_view_spinner {
    margin-left: 10px;
    margin-bottom: 2px;
    display: inline-block;
}

.clear {

    clear: both;
}

.netmap-node-status {
    float: left;
}

.netmap-node-menu {
    margin: 0 0 10px 0;
    list-style-type: none;
}

.netmap-node-menu li {
    margin: 0;
    display: inline;
}

.netmap-node-category {

}

circle {
    stroke-width: 1.5px;
}

line.speed0-100 {
    stroke-width: 1px;
}

line.speed100-512 {
    stroke-width: 1.5px;
}

line.speed512-2048 {
    stroke-width: 3px;
}

line.speed2048-4096 {
    stroke-width: 4.5px;
}

line.speed4096 {
    stroke-width: 6px;
}

line.warning_inspect {
    stroke: red
}

path.link {
    fill: none;
    stroke: #666;
    stroke-width: 2px;
}

marker#licensing {
    fill: lightgreen;
}

path.link.licensing {
    stroke: lightgreen;
}

path.link.resolved {
    stroke-dasharray: 0, 2 1;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 3px;
}

circle.node {
    stroke-opacity: 1;
}

.node.fade {
    stroke-opacity: 0.1;
}

text {
    font: 14px sans-serif;
    pointer-events: none;
    background: #c0c0c0;
}

text.node {
    font: 12pt sans-serif;
}

text.shadow {
    stroke: #fff;
    stroke-width: 4px;
}

#tooltip.pretty {
    font-family: Arial;
    border: none;
    width: 210px;
    padding: 20px;
    height: 135px;
    opacity: 0.8;
    background: url('/images/shadow.png');
}

#tooltip.pretty h3 {
    margin-bottom: 0.75em;
    font-size: 12pt;
    width: 220px;
    text-align: center;
}

#tooltip.pretty div {
    width: 220px;
    text-align: left;
}

#tooltip.fancy {
    background: url('/images/shadow2.png');
    padding-top: 5em;
    height: 100px;
}

/*
http://bl.ocks.org/2514276
https://groups.google.com/group/d3-js/browse_thread/thread/29ddd76c646f5921/de483e446abf4d39?lnk=gst&q=zoom#de483e446abf4d39
*/

div#pop-up {
    display: none;
    position: absolute;
    color: white;
    font-size: 14px;
    background: rgba(0, 0, 0, 0.5);
    padding: 5px 10px 5px 10px;
    -moz-border-radius: 8px 8px;
    border-radius: 8px 8px;
}

div#pop-up-title {
    font-size: 15px;
    width: 200px;
    margin-bottom: 4px;
    font-weight: bolder;
}

div#pop-up-content {
    font-size: 12px;
}

div#pop-desc {
    width: 100px;
}

div#pop-img {
    font-size: 30px;
    font-weight: bolder;
}

