
/* Media queries  for small screens */

.text-right { text-align: right; }
.text-center { text-align: center;}
.float-right { float: right; padding: 0; }

#errors {
    background-color: #FFBABA;
}

#infoboxcontainer h4 {
    text-align: center;
}

div.infobox {
	margin-bottom: 1em;	
}

#infoboxcontainer, #portadmin-interfacecontainer {
    width: 480px;
}

/*
 * Styles for the table
 */

#portadmin-interfacecontainer {
    border-spacing: 0;
}

#portadmin-interfacecontainer td {
	height: 30px;
	vertical-align: middle;
}

#portadmin-interfacecontainer input[type="text"] {
    width: 100%;
}

#portadmin-interfacecontainer td:last-child {
    visibility: hidden;
}

#portadmin-interfacecontainer tr.changed td:last-child {
    visibility: visible;
}

#portadmin-interfacecontainer tr.changed td {
	background-color: #BDE5F8;
}

/*
 * Styles for information boxes 
 */
div.saveinfo {
	position: absolute;
	display: none;
}

div#summary h4 {
	text-align: center;
}

div#summary ul {
	list-style: none;
}

caption .saveall_button {
    float: right;
}

.success, .error {
    border: 1px solid;
    margin: 2px 0;
    padding: 0 10px 0 30px;
    background-repeat: no-repeat;
    background-position: 10px center;
}

.success {
	color: #4F8A10;
    background-color: #DFF2BF;
    background-image: url('/images/lys/green.png');
}

.error {
	color: #D8000C;
    background-color: #FFBABA;
    background-image: url('/images/lys/red.png');
}

@media only screen and (max-width : 480px) {
    #infoboxcontainer, #portadmin-interfacecontainer {
        width: 100%;
    }
}

@media only screen and (max-width : 320px) {

    #portadmin-interfacecontainer td:nth-child(2),
    #portadmin-interfacecontainer td:nth-child(3) {
        display: none;
    }

    #portadmin-interfacecontainer th:nth-child(2),
    #portadmin-interfacecontainer th:nth-child(3) {
        display: none;
    }

}

