.right { float: right; }
.left { float: left; }
.text-right { text-align: right; }
.text-center { text-align: center;}

.hidden { visibility: hidden; }

h4 { text-align: center; }

div.infobox {
	margin-bottom: 1em;	
}

div#tablecontainer {
	float: left;
	margin: 0px 0px 0px 20px;
}

div#errors {
	background-color: #FFBABA;
}

/*
 * Styles for the table
 */ 

table#portadmin-interfacecontainer td {
	height: 30px;
	vertical-align: middle;
}

table#portadmin-interfacecontainer {
	margin-bottom: 0px;
}

table#portadmin-interfacecontainer input[type="text"] {
	width: 250px;
}

/*
 * Styles for changed rows
 */
table#portadmin-interfacecontainer tr td.changed {
	background-color: #BDE5F8;
}


/*
 * Styles for information boxes 
 */
div.saveinfo {
	position: absolute;
	display: none;
}

div#summary h4 {
	text-align: center;
}

div#summary ul {
	list-style: none;
}

.success, .error {
	border: 1px solid;
	margin: 2px 0px;
	padding:0px 10px 0px 30px;
	background-repeat: no-repeat;
	background-position: 10px center;
}

.success {
	color: #4F8A10;
	background-color: #DFF2BF;
	background-image:url('/images/lys/green.png');
}

.error {
	color: #D8000C;
	background-color: #FFBABA;
	background-image: url('/images/lys/red.png');
}

table#powersupplycontainer td.warning {
    color: black;
    background-color: #FFCC33;
}

table#powersupplycontainer td.down {
    color: black;
    background-color: #FFACAC;
}

table#powersupplycontainer td.unknown {
    color: black;
    background-color: #AACCFF;
}

table#powersupplycontainer td.up {
    color: black;
    background-color: #66FFCC;
}
