/* Overloading classes from table.css */
table.listtable caption {
	text-align: center;
}
table.listtable tbody.footer tr th, table.listtable tbody tr.tablesum th {
	text-align: center;
}

table.vertitablefull {
	width: 70em;
}
