.readonly {
		border: none;
}

.seeddbtable td:first-child {
    width: 15%;
}

.seeddbtable td:nth-child(2) {
    width: 70%;
}

.seeddbtable td:nth-child(3) {
    width: 5%;
}

.seeddbtable td:last-child {
    width: 10%;
}

.required:after {
	content: " *";
	color: #F00;
	font-weight: bold;
}

#seeddb-content th {
    white-space: nowrap;
}

#tablewrapper {
    margin-bottom: 1em;
}

