.readonly {
		border: none;
}

table.seeddbtable {
	width: 80%;
}

table.seeddbtable tr td:first-child {
	width: 10%;
}

table.seeddbtable .info {
	width: 60%;
}

.required:after {
	content: " *";
	color: #F00;
	font-weight: bold;
}
