/* Styles for the different tool layouts */

.linklist, .gridlist {
    list-style-type: none;
}

/* gridlist - display tools as a grid */

.gridlist {
    width: 950px;
    overflow: auto;  /* Important because of drop-target */
}

.gridlist li {
    border: 1px solid #999999;
    float: left;
    height: 150px;
    margin: 2px;
    width: 310px;
}

.gridlist h2 {
    margin: 0;
    line-height: 40px;
}

.gridlist a {
    color: black;
    display: block;
    height: 130px;
    padding: 10px 14px 0 14px;
    text-decoration: none;
}

.gridlist a img {
    float: right;
}

.gridlist li p {
    text-align: justify;
}

/* Make deselected grid tools considerably smaller */
ul.deselected li {
    height: 40px;
}

ul.deselected li p {
    display: none;
}

ul.deselected li a {
    padding: 0 14px;
    height: inherit;
}

/* Linklist - display links as a vertical list */

.linklistwrapper {
    float: left;
    margin-right: 1em;
}

.linklist li {
    background-color: #ffffff;
    height: 35px;
    line-height: 34px;
    margin: 0;
    width: 15em;
}

.linklist span, .linklist a img {
    padding-left: 0.3em;
}

.linklist > li > a {
    display: block;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 1px 1px 3px;
    text-decoration: none;
}

.linklist > li > a:hover {
    background-color: #EBEBFA;
}

.linklist > li > a img {
    height: 28px;
}

.linklist li.permanent {
    height: 33px;
    line-height: 32px;
}


/* Color droparea so user understands where to drop tools */
#deselected_tools {
    min-height: 90px;
    background-color: #FCEFA1;
}

div.buttoncontainer {
    clear: both;
}

.showonclick {
    display: none;
}


.display-layout {
    cursor: pointer;
}
