{% extends "base.html" %}
{% load tools %}

{% block base_header_additional_head %}
  <link rel="stylesheet"  href="{{ STATIC_URL }}css/nav/networkexplorer.css">
  <script>require(['src/networkexplorer']);</script>
{% endblock %}

{% block base_header_title %}NAV - Network explorer{% endblock %}

{% block base_content %}

  {% with tool=current_user_data.tools|get_tool:'Network Explorer' %}
    {% include 'nav_header.html' %}
  {% endwith %}

    <div class="row">
      <div id="notify_area" class="large-12 columns">

      </div>
    </div>

  {% block content %}
    <form action="" method="get" class="foundation-form" id="search-form">
      <fieldset>
        <div class="medium-5 columns">
          <div class="row collapse">
            {{ form.query }}
          </div>
        </div>

        <div class="medium-5 columns">
          <div class="row">
            <div class="small-2 columns text-right">
              {{ form.exact_results }}
            </div>
            <div class="small-10 columns">
              <label for="id_exact_results">
                {{ form.exact_results.label }}
              </label>
            </div>
          </div>
          <div class="row">
            <div class="small-2 columns text-right">
              {{ form.hide_ports }}
            </div>
            <div class="small-10 columns">
              <label for="id_hide_ports">
                {{ form.hide_ports.label }}
              </label>
            </div>
          </div>
        </div>

        <div class="medium-2 columns">
          <input class="small button" type="submit" value="Search">
        </div>
      </fieldset>
    </form>

    {# The network tree is a bootstrap app that goes here #}
    <div id="networktree" class="panel white"></div>

  {% endblock %}

{% endblock %}
