{% if swportvlans.0 %}
<dl>
<dt>Swports on Vlan{{ swportvlans.0.vlan.vlan }} on {{ swportvlans.0.interface.netbox }}</dt>
{% for swportvlan in swportvlans %}
<dd id="swport-{{ swportvlan.interface.id }}">
{% if swportvlan.interface.has_children %}
   <img src="{{ STATIC_URL }}images/networkexplorer/expand.gif" onclick="openNode(this);" class="expand"/>
{% else %}
{% if forloop.last %}
   <img src="{{ STATIC_URL }}images/networkexplorer/end.gif">
{% else %}
   <img src="{{ STATIC_URL }}images/networkexplorer/vertical-bound.gif">
{% endif %}
{% endif %}
<a target="_blank" href="{% url 'ipdevinfo-details-by-name' swportvlan.interface.netbox.sysname %}">{{ swportvlan.interface.netbox.sysname }}</a>
[{{ swportvlan.interface.ifname }}]

{% if swportvlan.interface.ifalias %}
({{ swportvlan.interface.ifalias }})
{% endif %}

{% if swportvlan.interface.to_netbox %}
    {% if swportvlan.interface.trunk %}
      <abbr title="trunk port">⇉</abbr>
    {% else %}
      <abbr title="non-trunk port">→</abbr>
    {% endif %}
    <a target="_blank" href="{% url 'ipdevinfo-details-by-name' swportvlan.interface.to_netbox.sysname %}">{{ swportvlan.interface.to_netbox }}</a>
{% else %}
    {% if swportvlan.interface.to_interface %}
        {% if swportvlan.interface.trunk %}
	  <abbr title="trunk port">⇉</abbr>
	{% else %}
	  <abbr title="non-trunk port">→</abbr>
	{% endif %}
	<a target="_blank" href="{% url 'ipdevinfo-details-by-name' swportvlan.interface.to_interface.netbox.sysname %}">{{ swportvlan.interface.to_interface.netbox }}</a>
    {% else %}
        ({{ swportvlan.interface.ifalias }})
    	{% if swportvlan.interface.trunk %}
      	<abbr title="trunk port">(trunk)</abbr>
    	{% endif %}
    {% endif %}
{% endif %}
</dd>
{% endfor %}
</dl>
{% endif %}
