{% extends "base.html" %}

{# FIXME hardcoded urls #}
{% block base_header_additional_head %}
    <script>require(['src/ipdevinfo'])</script>
    <link rel="stylesheet"  href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css">
    <link rel="stylesheet"  href="{{ STATIC_URL }}css/nav/ipdevinfo.css"/>
{% endblock %}

{% block base_content %}
    <ul class="button-group right">
        <li>
            <a href="{% url ipdevinfo-service-list-all %}" class="button small">
                Service List
            </a>
        </li>
        <li>
            <a href="{% url ipdevinfo-service-matrix %}" class="button small">
                Service matrix
            </a>
        </li>
    </ul>

    <h3>{{ heading }}</h3>


    {% if errors %}
        <ul class="error">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}

{% endblock %}
