{% extends "base.html" %}

{# FIXME hardcoded urls #}
{% block base_header_additional_head %}
    <script>require(['src/ipdevinfo'])</script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/ipdevinfo.css"/>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/local_rickshaw.css"/>
{% endblock %}

{% block base_content %}
    {% if netbox.deleted_at %}
    <h3><del>{{ heading }}</del></h3>
    {% else %}
    <h3>{{ heading }}</h3>
    {% endif %}

        {% if netbox.deleted_at %}

          <div class="alert-box warning with-icon">This IP Device was scheduled for deletion at {{ netbox.deleted_at }}</div>

      {% endif %}

    {% if errors %}
        <ul class="error">
            {% for error in errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    {% block content %}
    {% endblock %}

{% endblock %}
