<div id="sensors" class="multitable nav-metrics-container">
    <a href="javascript:void(0);" class="all-graph-opener button secondary small">Show all graphs</a>
    <a href="javascript:void(0);" class="all-graph-closer button secondary small">Hide all graphs</a>

    {% with netbox.get_powersupplies as psus %}
        {% if psus|length %}
            <table>
                <caption>Power supplies</caption>
                {% include "ipdevinfo/frag-psutable.html" %}
            </table>
        {% else %}
            <span class="alert-box info">No powersupplies found.</span>
        {% endif %}

    {% endwith %}

    {% with netbox.get_fans as psus %}
        {% if psus|length %}
            <table>
                <caption>Fans</caption>
                {% include "ipdevinfo/frag-psutable.html" %}
            </table>
        {% else %}
            <span class="alert-box info">No fans found.</span>
        {% endif %}
    {% endwith %}

    {% with netbox.sensor_set.all as sensors %}
        {% if sensors|length %}
            <table>
                <caption>Sensors</caption>
                {% include "ipdevinfo/frag-sensortable.html" %}
            </table>
        {% else %}
            <span class="alert-box info">No sensors found.</span>
        {% endif %}
    {% endwith %}
</div>
