<div id="ports">
  {% if netbox %}
    {% if netbox.module_set.count or netbox.interface_set.count %}

      <form action="{% url 'ipdevinfo-save-port-layout' %}">
        <input type="hidden" name="netboxid" value="{{ netbox.pk }}">
        {% if request.account.preferences.ipdevinfo_port_layout == 'old' %}
          <input type="hidden" name="layout" value="new">
          <input type="submit" class="button small right" value="Try the new layout" />
        {% else %}
          <input type="hidden" name="layout" value="old">
          <input type="submit" class="button small right" value="Revert to old layout" />
        {% endif %}
      </form>

      {% if request.account.preferences.ipdevinfo_port_layout == 'old' %}
        {% include 'ipdevinfo/frag-portlist-tabs.html' %}
      {% else %}
        {% include 'ipdevinfo/frag-portlist-datatable.html' %}
      {% endif %}

    {% else %}
      <div class="alert-box info">
        No ports found.
      </div>
    {% endif %}
  {% endif %}

</div>
