<p>
    If this ip-device stops working the following will likely be affected.
</p>

<div id="affected">

    {% if netboxes %}
        <h3>IP-DEVICES</h3>
        <ul>
            {% for netbox in netboxes %}
                <li>{{ netbox }} ({{ netbox.category.id }})</li>
            {% endfor %}
        </ul>
        <br/>
    {% endif %}

    {% if contacts %}
        <h3>ORGANIZATIONS</h3>
        <ul>
        {% for organization in organizations %}
            <li>{{ organization }} - {{ organization.contact }}</li>
        {% endfor %}
        </ul>
        <br/>

    {% endif %}

    <form action="mailto:{{ contacts|join:"," }}">
        <input type="submit" value="Send mail to affected organizations">
    </form>

</div>
