<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Threshold</th>
        <th>Value</th>
        <th>Unit</th>
        <th></th>
    </tr>
</thead>

<tbody>
{% for metric in sensor_metrics %}
    <tr>
        {% with metric.sensor as sensor %}
        <td><a title="See details about {{ sensor }}" href="{% url 'sensor-details' sensor.id %}">{{ sensor.name }}</a></td>
        <td>{% if sensor.human_readable != sensor.name %}{{ sensor.human_readable }}{% endif %}</td>
        <td>
            <div class="right">
              {% if metric.thresholds %}
                {% for rule in metric.thresholds %}
                <strong>
                    <a href="{% url 'threshold-edit' rule.id %}"
                       {% if rule.description %}title="{{ rule.description }}"{% endif %}>
                        {{ rule.alert }}
                    </a>
                </strong>{% if not forloop.last %},{% endif %}
                {% endfor %}
                {% else %}
                &ndash;
                {% endif %}
                <a href="{% url 'threshold-add' sensor.get_metric_name %}"
                   title="Add a new threshold rule for this metric"
                   class="tiny button secondary">
                    +
                </a>
            </div>
        </td>
        <td>
            <div class="right">
              <span class="sensor-value" data-metric="{{sensor.get_metric_name}}"></span>&nbsp;
              <a href="javascript:void(0)"
                 id="graph-toggler-sensorstab-{{ forloop.counter }}"
                 class="graph-toggler">
                <i class="fa fa-area-chart" title="See values for last day"></i>
              </a>
            </div>
        </td>
        <td>{{sensor.data_scale|default:''}}{{sensor.unit_of_measurement}}</td>
        <td>
            <div class="graphitegraph hidden"
                 data-url="{{ metric.graphite_data_url }}"
                 data-handler-id="graph-toggler-sensorstab-{{ forloop.counter }}">
                <div class="rickshaw-container"></div>
            </div>
        </td>
        {% endwith %}
    </tr>
{% endfor %}
</tbody>
