<div class="nav-metrics-container">
    <a href="javascript:void(0);" class="all-graph-opener button secondary small">Show all graphs</a>
    <a href="javascript:void(0);" class="all-graph-closer button secondary small">Hide all graphs</a>

    <div class="all-graph-buttons"></div>

    <ul>
        {% for ifc in interfaces %}
            <li>
                <a id="port-graph-toggler-{{ ifc.id }}" class="graph-toggler"
                   href="javascript:void(0);"><i class="fa fa-toggle-right"></i>&nbsp;</a>
                <a id="port-graph-toggler-{{ ifc.id }}" href="{% url ipdevinfo-interface-details netbox.sysname ifc.id %}">{{ ifc.ifname }}{% if ifc.ifalias %}
                ({{ ifc.ifalias }}){% endif %}</a>

                <div class="graphitegraph hide" data-url="{% url interface-counter-graph ifc.id 'Octets' %}"
                        data-handler-id="port-graph-toggler-{{ ifc.id }}"></div>
            </li>
        {% endfor %}
    </ul>
</div>
