{% load report %}
<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Threshold</th>
        <th>Value</th>
        <th>Unit</th>
    </tr>
</thead>

<tbody>
{% for sensor in sensors %}
    <tr>
        <td>{{ sensor.name }}</td>
        <td>{% if sensor.human_readable != sensor.name %}{{ sensor.human_readable }}{% endif %}</td>
        <td>
            {% with sensor_metrics|get_item:sensor.id as metric %}
            {% if metric.thresholds %}
            {% for rule in metric.thresholds %}
            <strong>
                <a href="{% url 'threshold-edit' rule.id %}"
                   {% if rule.description %}title="{{ rule.description }}"{% endif %}>
                    {{ rule.alert }}
                </a>
            </strong>{% if not forloop.last %},{% endif %}
            {% endfor %}
            {% else %}
            &ndash;
            {% endif %}
            <a href="{% url 'threshold-add' sensor.get_metric_name %}"
               title="Add a new threshold rule for this metric"
               class="tiny button secondary">
                +
            </a>
            {% endwith %}
        </td>
        <td class="sensor-value" data-metric="{{sensor.get_metric_name}}"</td>
        <td>{{sensor.data_scale|default:''}}{{sensor.unit_of_measurement}}</td>
    </tr>
{% endfor %}
</tbody>
