<h2>Affected</h2>

<p>
    If this ip-device stops working the following will likely be affected.
</p>

<div id="affected">

    {% if netboxes %}
        <h3>ROUTERS AND SWITCHES</h3>
        <ul>
            {% for netbox in netboxes %}
                <li>{{ netbox }}</li>
            {% endfor %}
        </ul>
        <br/>
    {% endif %}


    {% if servers %}
        <h3>SERVERS</h3>
        <ul>
            {% for server in servers %}
                <li>{{ server }}</li>
            {% endfor %}
        </ul>
        <br/>
    {% endif %}


    {% if services %}
        <h3>SERVICES</h3>
        <ul>
        {% for service in services %}
            <li>{{ service }}</li>
        {% endfor %}
        </ul>
        <br/>

    {% endif %}

    {% if contacts %}
        <h3>CONTACTS</h3>
        <ul>
        {% for contact in contacts %}
            <li>{{ contact }}</li>
        {% endfor %}
        </ul>
        <br/>

    {% endif %}

    <form action="mailto:{{ contacts|join:"," }}">
        <input type="submit" value="Send mail to contacts">
    </form>

</div>
