<div id="powerfans" class="multitable">

    {% with netbox.get_powersupplies as psus %}
        {% if psus|length %}
            <table class="vertitable">
                <caption>Power supplies</caption>
                {% include "ipdevinfo/frag-psutable.html" %}
            </table>
        {% endif %}
    {% endwith %}

    {% with netbox.get_fans as psus %}
        {% if psus|length %}
            <table class="vertitable">
                <caption>Fans</caption>
                {% include "ipdevinfo/frag-psutable.html" %}
            </table>
        {% endif %}
    {% endwith %}

</div>