<div id="metrics">
    {% if netbox %}
        {% regroup netbox.get_system_metrics by group as metric_groups %}

            <div id="metrictabs">

                <ul>
                    {% for group in metric_groups %}
                        <li><a href="#metric{{ group.grouper }}">{{ group.grouper|capfirst }}</a></li>
                    {% endfor %}
                </ul>

                {% for group in metric_groups %}
                    <div id="metric{{ group.grouper }}">
                        <table class="listtable">

                            <caption>{{ group.grouper|capfirst }}</caption>

                            <thead>
                            <tr>
                                <th>Metric</th>
                                <th>Threshold</th>
                            <tr>
                            </thead>

                            <tbody>
                            {% for metric in group.list %}
                                <tr>
                                    <td>
                                        {{ metric.suffix }}
                                    </td>
                                    <td>
                                        <a href="{% url threshold-netbox netbox.id %}">
                                            {% if metric.threshold %}
                                                {{ metric.threshold }}
                                            {% else %}
                                                not configured
                                            {% endif %}
                                        </a>
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>

                        </table>

                    </div>
                {% endfor %}

            </div>
    {% endif %}
</div>