<div id="powerfans" class="multitable">

    {% with netbox.get_powersupplies as psus %}
        {% if psus|length %}
            <table class="vertitable">
                <caption>Power supplies</caption>
                {% include "ipdevinfo/frag-psutable.html" %}
            </table>
        {% else %}
          <span class="alert-box info">No powersupplies found.</span>
        {% endif %}

    {% endwith %}

    {% with netbox.get_fans as psus %}
        {% if psus|length %}
            <table class="vertitable">
                <caption>Fans</caption>
                {% include "ipdevinfo/frag-psutable.html" %}
            </table>
        {% else %}
          <span class="alert-box info">No fans found.</span>
        {% endif %}
    {% endwith %}

</div>
