<div id="poe">
  {% if netbox and netbox.poegroup_set.count %}
    <h2>PoE groups</h2>
    <div class="panel" style="display:inline-block">This page lists Power over Ethernet modules with current power usage out of max rated for each module</div>
    <ul class="groups">
      {% for group in netbox.poegroup_set.all %}
        <li>
          <h3>
            <a href="{% url 'ipdevinfo-poegroup-details' netbox.sysname group.index %}">
              {{ group.name }}
            </a>
          </h3>
          {% if group.status == group.STATUS_ON %}
            <div id="gauge-wrapper">
              <div class="gauge"
                   data-url="{{ group.get_graph_url }}"
                   data-max="{{ group.power }}"
              ></div>
            </div>
          {% else %}
            <span class="alert-box">Status: {{group.get_status_display}}</span>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  {% else %}
    <span class="alert-box info">No PoE support detected</span>
  {% endif %}
</div>
{% block footer_scripts %}
  <script>
   require([
       "plugins/gauge",
   ], function(Gauge) {
       $(function() {
           $('.gauge').each(function() {
               var $this = $(this);
               var _gauge = new Gauge({
                   node: this,
                   min: 0,
                   max: $this.data('max'),
                   url: $this.data('url') + "&format=json",
                   symbol: ' ',
                   unit: "watt",
               });
           });
       });
   });
  </script>
{% endblock %}
