<table id="portlist" class="listtable hover">
  <thead>
    <tr>
      <th>&nbsp;</th>
      <th>Name</th>
      <th>Port name</th>
      <th>Module</th>
      <th title="Administrative status - is enabled or not">Admin</th>
      <th title="Operational status - has link or not">Link</th>
      <th>Vlan</th>
      <th title="Speed in Mbit/s and duplex (full or half)">Speed</th>
      <th title="Last time a mac-address was seen behind this port">Last used</th>
      <th>To Device</th>
      <th>To Port</th>
    </tr>
  </thead>
</table>

<style>
 #portlist th {cursor: pointer;}
 #portlist td:nth-child(7) { text-align: center; }
 #portlist td:nth-child(8) { text-align: right; }
 #portlist .dim {opacity: .4;}

 #portlist_wrapper input[name='portgroup'] { margin-right: .3rem; }

 #portlist_filter { max-width: 30em; }
 #ifclasses label { margin-right: 1em; }
 #infoprocessing { overflow: auto; }
 .dataTables_info { font-size: small; float: left; margin-right: 1em; }
 .dataTables_processing { font-size: small; }
</style>

<script>
 $(function() {
     NAV.urls.portadmin_index = "{% url 'portadmin-index' %}interfaceid=";
     require(['src/porttable'], function(PortTable) {
         new PortTable('#portlist', {{netbox.id}});
     });
 });
</script>
