<div id="metrics">
  {% if netbox %}
    {% regroup netbox.get_system_metrics by group as metric_groups %}

    <div id="metrictabs">

      <ul>
        {% for group in metric_groups %}
          <li>
            <a href="#metric{{ group.grouper }}">{{ group.grouper|capfirst }}</a>
          </li>
        {% endfor %}
      </ul>

      {% for group in metric_groups %}
        <div id="metric{{ group.grouper }}" class="nav-metrics">
          <table class="listtable">

            <caption>{{ group.grouper|capfirst }}</caption>

            <thead>
            <tr>
              <th>&nbsp;</th>
              <th>Metric</th>
              <th>Threshold</th>
            <tr>
            </thead>

            <tbody>
            {% for metric in group.list %}
              <tr>
                <td><img src="{{ STATIC_URL }}images/icons/graph.png"
                         id="graph-toggler-{{ group.grouper }}-{{ forloop.counter }}"
                         alt="Graph" title="Graph"></td>
                <td>
                  {{ metric.suffix }}
                </td>
                <td>
                  {% if metric.threshold %}
                    {{ metric.threshold }}
                  {% else %}
                    not configured
                  {% endif %}
                </td>
              </tr>
              <tr>
                <td class="graphitegraph hide" colspan="3"
                    data-url="{% url graphite-render-url metric.id %}"
                    data-handler-id="graph-toggler-{{ group.grouper }}-{{ forloop.counter }}"></td>
              </tr>
            {% endfor %}
            </tbody>

          </table>

        </div>
      {% endfor %}

    </div>
  {% endif %}
</div>
