<div class="nav-metrics-container">
    <a href="javascript:void(0);" class="all-graph-opener button secondary small">Show all graphs</a>
    <a href="javascript:void(0);" class="all-graph-closer button secondary small">Hide all graphs</a>

    <div class="all-graph-buttons"></div>

    <ul class="no-bullet">
        {% for ifc in interfaces %}

            <li>
                <span id="port-graph-toggler-{{ ifc.id }}" class="graph-toggler">
                    <i class="fa fa-chevron-right"></i>&nbsp;&nbsp;<strong>{{ ifc.ifname }}</strong>
                    {% if ifc.ifalias %} ({{ ifc.ifalias }}){% endif %}
                </span>

                <em style="font-size: 80%;"><a href="{% url ipdevinfo-interface-details netbox.sysname ifc.id %}">Port details</a></em>

                <div class="graphitegraph hide" data-url="{% url interface-counter-graph ifc.id 'Octets' %}"
                        data-handler-id="port-graph-toggler-{{ ifc.id }}"></div>

            </li>

        {% endfor %}
    </ul>
</div>
