{% extends "ipdevinfo/base.html" %}

{% block content %}

    {% if netbox %}
        <ul class="button-group">
            <li>
                <a href="{% url seeddb-netbox-edit netbox.id %}" class="button small secondary">
                    Edit IP device
                </a>
            </li>

            <li>
                <a href="{% url maintenance-new-netbox netbox.id %}" class="button small secondary">
                    Schedule maintenance
                </a>
            </li>

            <li>
                <a href="{% url devicehistory-view-netbox netbox.id %}" class="button small secondary">
                    View device history
                </a>
            </li>

            {% if netbox.get_swports.count %}
                <li>
                    <a href="{% url portadmin-sysname netbox.sysname %}" class="button small secondary">
                        Configure ports
                    </a>
                </li>

            {% endif %}
        </ul>
    {% endif %}

    <div id="ipdevinfotabs" class="ui-helper-hidden">

    {% if netbox %}
      <ul>
        <li><a href="#deviceinfo">Device Info</a></li>
        <li><a href="#neighbors">Neighbors</a></li>
        <li><a href="#ports">Ports</a></li>
        <li><a href="#portmetrics">Port metrics</a></li>
        <li><a href="#sysmetrics">System metrics</a></li>
        <li data-mark-as-error="{{ alert_info.has_unresolved_alerts }}">
          <a href="#alerts">Recent alerts</a>
        </li>
        <li><a href="#powerfans">Power and fans</a></li>
        <li><a href="#services">Services</a></li>
        <li>
          <a href="{% url ipdevinfo-hostinfo netbox.sysname %}">
            DNS<span class="tab-spinner">&nbsp;</span>
          </a>
        </li>
        <li>
          <a href="{% url ipdevinfo-affected netbox.id %}">
            Affected<span class="tab-spinner">&nbsp;</span>
          </a>
        </li>
      </ul>
      {% include "ipdevinfo/frag-ipdevinfo.html" %}
      {% include "ipdevinfo/frag-neighbors.html" %}
      {% include "ipdevinfo/frag-ports.html" %}
      {% include "ipdevinfo/frag-port-metrics.html" %}
      {% include "ipdevinfo/frag-sysmetrics.html" %}
      {% include "ipdevinfo/frag-alerts.html" %}
      {% include "ipdevinfo/frag-powerfans.html" %}
      {% include "ipdevinfo/frag-services.html" %}

    {% else %}

      <ul>
        <li><a href="#deviceinfo">Device Info</a></li>
      </ul>
      {% include "ipdevinfo/frag-ipdevinfo.html" %}

    {% endif %}
    </div>

{% endblock %}
