{% extends "ipdevinfo/base.html" %}
{% load smart_if %}

{% block content %}

    {% if netbox %}
        <table id="ipdevinfo-actions" class="listtable">
            <caption>Actions</caption>
            <tr>
                <td><a href="{% url seeddb-netbox-edit netbox.id %}">Edit IP device</a></td>
                <td><a href="{% url maintenance-new-netbox netbox.id %}">Schedule maintenance</a></td>
                <td><a href="{% url devicehistory-view-netbox netbox.id %}">View device history</a></td>
                <td>
                    {% if netbox.get_swports.count %}
                        <a href="{% url portadmin-sysname netbox.sysname %}">Configure ports</a>
                    {% else %}
                        &nbsp;
                    {% endif %}
                </td>
            </tr>
        </table>
    {% endif %}

    <div id="ipdevinfotabs" class="ui-helper-hidden">

        <ul>
            <li><a href="#ipdevinfo">Device Info</a></li>
            <li><a href="#hostinfo">Host Info</a></li>
            <li><a href="#alerts">Alerts</a></li>
            <li><a href="#services">Services</a></li>
            <li><a href="#ports">Ports</a></li>
        </ul>

        {% include "ipdevinfo/frag-ipdevinfo.html" %}
        {% include "ipdevinfo/frag-hostinfo.html" %}
        {% include "ipdevinfo/frag-alerts.html" %}
        {% include "ipdevinfo/frag-services.html" %}
        {% include "ipdevinfo/frag-ports.html" %}

    </div>

{% endblock %}
