{% extends "ipdevinfo/base.html" %}
{% load smart_if %}

{% block content %}

    {% if netbox %}
        <div class="horizontal-icon-linklist">
            <a href="{% url seeddb-netbox-edit netbox.id %}"><span class="edit">Edit IP device</span></a>
            <a href="{% url maintenance-new-netbox netbox.id %}"><span class="maintenance">Schedule maintenance</span></a>
            <a href="{% url devicehistory-view-netbox netbox.id %}"><span class="history">View device history</span></a>
            {% if netbox.get_swports.count %}
                <a href="{% url portadmin-sysname netbox.sysname %}"><span class="configure">Configure ports</span></a>
            {% endif %}
        </div>
    {% endif %}

    <div id="ipdevinfotabs" class="ui-helper-hidden">

        <ul>
            <li><a href="#deviceinfo">Device Info</a></li>
            <li><a href="#ports">Ports</a></li>
            <li><a href="#alerts">Recent alerts ({{ alert_info.alerts|length }})</a></li>
            <li><a href="#powerfans">Power and fans ({{ netbox.get_powersupplies|length }}/{{ netbox.get_fans|length }})</a></li>
            <li><a href="#services">Services ({{ netbox.service_set.count|default:"0" }})</a></li>
        </ul>

        <div id="deviceinfo" class="multitable">
            {% include "ipdevinfo/frag-ipdevinfo.html" %}
            {% include "ipdevinfo/frag-hostinfo.html" %}
        </div>
        {% include "ipdevinfo/frag-ports.html" %}
        {% include "ipdevinfo/frag-alerts.html" %}
        {% include "ipdevinfo/frag-powerfans.html" %}
        {% include "ipdevinfo/frag-services.html" %}

    </div>

{% endblock %}
