{% load string_manipulation %}

{% with module.ports as ports %}
{% if ports|length %}
<table class="listtable module">
    {% if module.object %}
    <caption><a href="{% url 'ipdevinfo-module-details' netbox_sysname=module.object.netbox.sysname module_name=module.object.name %}">
        Module {{ module.object.name }}</a></caption>
    {% else %}
    <caption>No module</caption>
    {% endif %}
    <tr>
    {% for port in ports %}
        <td class="{{ port.class }}" style="{{ port.style }}" title="{{ port.title }}">
            <div class="portcell">
            <a href="{{ port.object.get_absolute_url }}">
                {% if port.object.ifname|length >= ifname_too_long %}
                    {{ port.object.ifname|shorten_ifname }}
                {% else %}
                    {{ port.object.ifname }}
                {% endif %}
            </a>
                {% if port.oplayer %}
                    <span class="oplayer" title="OSI layer {{port.oplayer}}">{{ port.oplayer }}</span>
                {% endif %}
            </div>
        </td>
        {% if ports|length|divisibleby:12 %}
            {% if forloop.counter|divisibleby:12 %}</tr><tr>{% endif %}
        {% else %}
            {% if ports|length|divisibleby:8 %}
                {% if forloop.counter|divisibleby:8 %}</tr><tr>{% endif %}
            {% else %}
                {% if forloop.counter|divisibleby:10 %}</tr><tr>{% endif %}
            {% endif %}
        {% endif %}
    {% endfor %}
    </tr>
</table>
{% endif %}
{% endwith %}
