{% extends "ipdevinfo/base.html" %}

{% block content %}
  <p>
    <a href="{% url 'ipdevinfo-details-by-name' poegroup.netbox.sysname %}">
      Back to {{ poegroup.netbox.sysname }}
    </a>
  </p>

  <div class="panel white">
    <div class="row">
      <div class="large-4 columns">
        <table class="vertitable full-width">
          <caption>
            PoE Group {{ poegroup.index }}
            at {{ poegroup.netbox.get_short_sysname }}
          </caption>
          <tr>
            <th>At IP device</th>
            <td><a href="{{ poegroup.netbox.get_absolute_url }}">
              {{ poegroup.netbox }}</a></td>
          </tr>
          <tr>
            <th>Status</th>
            <td>
              {{poegroup.get_status_display }}
            </td>
          </tr>
          <tr>
            <th>Power rating</th>
            <td>{{poegroup.power}}W</td>
          </tr>
          {% if poegroup.module %}
            <tr>
              <th>Module</th>
              <td><a href="{% url 'ipdevinfo-module-details' poegroup.netbox.sysname poegroup.module.name %}">{{poegroup.module}}</a></td>
            </tr>
          {% endif %}
        </table>
      </div>
      <div class="large-4 columns">
        <div class="nav-metrics-container">
          <div class="graphitegraph"
               data-url="{{ poegroup.get_graph_url }}&format=json">
            <div class="rickshaw-container"></div>
          </div>
        </div>
      </div>
      <div class="large-4 columns">
        <table class="veritable full-width">
          <caption>Port details</caption>
          <thead>
            <tr>
              <th>Interface</th>
              <th>Enabled</th>
              <th>Status
                  <span class="tip-left" data-tooltip
                        title="Shows PoE device detection status for this port. Valid values:
                               &lt;ul&gt;
                               &lt;li&gt;disabled: Power over ethernet is disabled for this port&lt;/li&gt;
                               &lt;li&gt;searching: No power over ethernet device is detected on this port&lt;/li&gt;
                               &lt;li&gt;delivering power: Power over ethernet is active for this port and delivers power to the connected device&lt;/li&gt;
                               &lt;li&gt;fault: The port has been tested and found faulty&lt;/li&gt;
                               &lt;li&gt;test: The port is under testing&lt;/li&gt;
                               &lt;li&gt;other fault: The port is idle because of error conditions&lt;/li&gt;
                               &lt;/ul&gt;">
                    <i class="fa fa-info-circle"></i>
                </div>
              </th>
              <th>Priority</th>
              <th>Classification
                  <span class="tip-left" data-tooltip
                        title="Shows PoE device classification for this port. Valid values:
                               &lt;ul&gt;
                               &lt;li&gt;class0: Unclassified (15.4W)&lt;/li&gt;
                               &lt;li&gt;class1: Very low power (4W)&lt;/li&gt;
                               &lt;li&gt;class2: Low power (7W)&lt;/li&gt;
                               &lt;li&gt;class3: Mid power (15.4W)&lt;/li&gt;
                               &lt;li&gt;class4: High power (30W)&lt;/li&gt;
                               &lt;/ul&gt;">
                    <i class="fa fa-info-circle"></i>
                  </span>
              </th>
            </tr>
          </thead>
          <tbody>
            {% for port in poegroup.poeport_set.all %}
              <tr>
                <td>
                  {% if port.interface %}
                    <a href="{% url 'ipdevinfo-interface-details' port.interface.netbox.sysname port.interface.id%}">{{port.interface}}</a>
                  {% else %}
                    {{port.index}}
                  {% endif %}
                </td>
                <td>{{port.admin_enable}}</td>
                <td>{{port.get_detection_status_display}}</td>
                <td>{{port.get_priority_display}}</td>
                <td>{{port.get_classification_display}}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>
{% endblock %}

{% block footer_scripts %}
  <script>
   require([
       "plugins/graphfetcher_controller"
   ], function(graphfetcher_controller) {};
  </script>
{% endblock %}
