{% with port.get_port_metrics|dictsort:"suffix" as metrics %}
  {% if metrics|length %}
    <table class="nav-metrics listtable full-width"
           data-render-url="{% url graphite-base-render-url %}">
      <caption>Counters</caption>
      <tr>
        <th>&nbsp;</th>
        <th>Metric</th>
        <th>Threshold</th>
      </tr>
      {% for metric in metrics %}
        <tr>
          <td class="nav-metric" data-metric-id="{{ metric.id }}"><img
                  src="{{ STATIC_URL }}/images/icons/graph.png" alt="Graph"
                  title="Graph"></td>
          <td>{{ metric.suffix }}</td>
          <td>{% if metric.threshold %}{{ metric.threshold }}{% else %}not configured{% endif %}</td>
        </tr>
      {% endfor %}
    </table>
  {% else %}
    <p class="alert-box secondary">No metrics for this interface</p>
  {% endif %}
{% endwith %}
