{% with port.get_port_metrics|dictsort:"suffix" as metrics %}
  {% if metrics|length %}
    <table class="listtable full-width">
      <caption>Counters</caption>
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Metric</th>
        <th>Threshold</th>
      </tr>
      </thead>
      <tbody>
      {% for metric in metrics %}
        <tr>
          <td id="metric-graph-{{ forloop.counter }}">
            <img src="{{ STATIC_URL }}/images/icons/graph.png" alt="Graph"
                 title="Graph">
          </td>
          <td>{{ metric.suffix }}</td>
          <td>{% if metric.threshold %}{{ metric.threshold }}{% else %}not configured{% endif %}</td>
        </tr>
        <tr>
          <td class="graphitegraph hide" colspan="3"
              data-url="{% url graphite-render-url metric.id %}"
              data-handler-id="metric-graph-{{ forloop.counter }}"></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert-box secondary">No metrics for this interface</p>
  {% endif %}
{% endwith %}
