{% with port.get_aggregator as aggregator %}{% with port.get_bundled_interfaces as bundled %}
  {% if aggregator or bundled %}
    <table class="listtable align-top">
      <caption>Link aggregation</caption>

      {% if aggregator %}
        <tr>
          <th>Part of aggregate</th>
          <td>
              <a href="{{ aggregator.get_absolute_url }}">{{ aggregator.ifname }}</a>
          </td>
        </tr>
      {% endif %}

      {% if bundled %}
        <tr>
          <th>Aggregates</th>
          <td>
            <ul class="inside">
              {% for other_port in bundled %}
                <li>
                  <a href="{{ other_port.get_absolute_url }}">
                      {% if other_port.is_oper_up %}{{ other_port.ifname }}{% else %}<del>{{ other_port.ifname }}</del>{% endif %}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </td>
        </tr>
      {% endif %}

    </table>
  {% endif %}
{% endwith %}{% endwith %}
