{% load thresholds %}

{% with port.get_port_metrics|find_rules|dictsort:"suffix" as metrics %}
  {% if metrics|length %}
    <table class="listtable full-width">
      <caption>Counters</caption>
      <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Metric</th>
        <th>Threshold</th>
      </tr>
      </thead>
      <tbody>
      {% for metric in metrics %}
        <tr>
          <td id="metric-graph-{{ forloop.counter }}">
            <img src="{{ STATIC_URL }}/images/icons/graph.png" alt="Graph"
                 title="Graph">
          </td>
          <td>{{ metric.suffix }}</td>
          <td>
              {% if metric.thresholds %}

                {% for rule in metric.thresholds %}

                    <strong>
                        <a href="{% url threshold-edit rule.id %}"
                           {% if rule.description %}title="{{ rule.description }}"{% endif %}
                                >{{ rule.alert }}</a></strong
                            >{% if not forloop.last %},{% endif %}

                {% endfor %}

              {% else %}

                <a href="{% url threshold-add %}" title="Add a new threshold rule for this metric"
                        ><i class="fa fa-plus-square-o"></i></a>

              {% endif %}
          </td>
        </tr>
        <tr>
          <td class="graphitegraph hide" colspan="3"
              data-url="{% url graphite-render-url metric.id %}"
              data-handler-id="metric-graph-{{ forloop.counter }}"></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  {% else %}
    <p class="alert-box secondary">No metrics for this interface</p>
  {% endif %}
{% endwith %}
