.netboxgroup {
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
    width: 200px;
}

.netboxgroup li {
    list-style-type: none;
    margin-left: 0;
}

.netboxgroup li.list-heading {
    border-bottom: 1px solid gray;
    font-weight: bold;
}

.netboxgroup li.list-heading a {
    float: right;
}


/* Styles for the multiple select component - to be moved */

.multiple-select-container {
    overflow: auto;
}

.multiple-select-container > div {
    float: left;
    margin-right: 2em;
}

.multiple-select-container select {
    height: 200px;
    width: 300px;
}

