ul.netboxgroup {
    margin: 0;
}

.netboxgroup li {
    list-style-type: none;
    margin: 0;
    padding-bottom: 0.2em;
}

/* Styles for the multiple select component - to be moved */

.multiple-select-container [type="search"] {
    display: block;
    width: 300px;
}

.multiple-select-container {
    overflow: auto;
}

.multiple-select-container > div {
    float: left;
    margin-right: 2em;
}

.multiple-select-container select {
    height: 200px;
    width: 300px;
}

.bigbutton {
    margin: 0.3em 0;
    padding: 0.5em 1em;
}

