<table class="listtable">
  <caption>
    {% if confirm_delete %}
      Selected modules
    {% else %}
      Modules down
    {% endif %}
    <span class="subtitle right">{{ modules|length }} entr{{ modules|pluralize:"y,ies" }}</span>
  </caption>

  <thead>
  <tr>
    <th>&nbsp;</th>
    <th>Sysname</th>
    <th>Name</th>
    <th>Description</th>
    <th>Down since</th>
    <th>Downtime</th>
  </tr>
  </thead>

  {% if modules %}
    <tbody>
    {% for m in modules %}
      <tr>
        <td>
          <input type="checkbox" name="module" value="{{ m.moduleid }}" {% if confirm_delete %}checked="checked"{% endif %}/>
        </td>
        <td>
          <a href="{% url 'ipdevinfo-details-by-name' m.sysname %}">{{ m.sysname|default_if_none:"" }}</a>
        </td>
        <td>
          <a href="{% url 'ipdevinfo-module-details' m.sysname m.name %}">{{ m.name }}</a>
        </td>
        <td>{{ m.descr|default_if_none:"" }}</td>
        <td>{{ m.start_time|date:'DATETIME_FORMAT' }}</td>
        <td>{{ m.start_time|timesince }}</td>
      </tr>
    {% endfor %}
    </tbody>
  {% endif %}

  <tfoot>
  <tr>
    <th colspan="6">
      {{ modules|length }}
      entr{{ modules|pluralize:"y,ies" }}
    </th>
  </tr>
  </tfoot>
</table>
