{% extends "devicehistory/base.html" %}

{% block tabcontent %}
    <p>Select and view device history for a location, room, box or module. Use
    quicksearch to search for a (partial) serialnumber, hostname, IP or
    room.</p>

    <form action="{% url devicehistory-view %}" method="get">
        <div class="quickbox">
            {{ quickselect|safe }}
        </div>
        <div class="searchfilter">
            <table class="vertitable">
                {{ form.as_table }}
            </table>
        </div>
        <div style="clear:both"></div>
    </form>
{% endblock %}
