## $Id: MatrixTemplate.tmpl 2674 2004-04-28 13:03:41Z mortenv $
##
## Copyright 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Authors: Sigurd Gartmann <sigurd-nav@brogar.org>
##
#extends nav.web.templates.MainTemplate

#block content


#end block

<h1>Logger</h1>


#def select($name, $options, $values, $selected)
<label></label>

<select name="messagetype" >
#for $t in $options
#set selected = ''
#if $t==$selected
#set $selected = 'selected="1"'
#end if
<option value="$t" $selected>$t</option>
#end for
</select>
#end def

#def priorities



#end def

#def logform($priority,$type,$category,$origin,$from,$to)

<div id="logform">
<form action="" method="post">

<label for="priorityid">Priority</label>
<select id="priorityid" name="priorityid">
	<option>0</option>
</select>
<label for="typeid"><a href="http://www.cisco.com/univercd/cc/td/doc/product/software/ios120/12supdoc/12sems/emover.htm#5002">Message type</a></label>
<select id="typeid" name="typeid">
	<option>0</option>
</select>
<label for="category">Category</label>
<select id="category" name="category">
	<option>0</option>
</select>
<label for="originid">Origin</label>
<select id="originid" nameid="origin">
	<option>0</option>
</select>

<label for="from" title="yyyy-mm-dd HH:MM:SS">From</label>
<input type="text" name="from" value="$from" title="yyyy-mm-dd HH:MM:SS" size="19" maxlength="19" />

<label for="to" title="yyyy-mm-dd HH:MM:SS">From</label>
<input type="text" name="to" value="$to" title="yyyy-mm-dd HH:MM:SS" size="19" maxlength="19" />

<input type="submit" name="send" value="Send" />

</form>
</div>

#end def