<p>
  The status column shows PoE device detection status for this port. Valid values:
</p>

<dl>
  <dt>disabled</dt><dd> Power over ethernet is disabled for this port</dd>
  <dt>searching</dt><dd> No power over ethernet device is detected on this port</dd>
  <dt>delivering power</dt><dd> Power over ethernet is active for this port and delivers power to the connected device</dd>
  <dt>fault</dt><dd> The port has been tested and found faulty</dd>
  <dt>test</dt><dd> The port is under testing</dd>
  <dt>other fault</dt><dd> The port is idle because of error conditions</dd>
</dl>
