{% load thresholds %}

<div id="sysmetrics">
  {% if netbox %}
    {% regroup system_metrics|find_rules by group as metric_groups %}

    <div id="metrictabs">

      {% if metric_groups %}
      <ul>
        {% for group in metric_groups %}
          <li>
            <a href="#metric{{ group.grouper }}">{{ group.grouper|capfirst }}</a>
          </li>
        {% endfor %}
      </ul>

      {% elif graphite_error %}

          <p data-nav-alert class="alert-box alert">
              Unable to get a response from Graphite!
          </p>

      {% else %}

          <p data-nav-alert class="alert-box secondary">
              No metrics were found.
          </p>

      {% endif %}

      {% for group in metric_groups %}
        <div id="metric{{ group.grouper }}" class="nav-metrics-container">
          <a href="javascript:void(0);" class="all-graph-opener button secondary small">Show all graphs</a>
          <a href="javascript:void(0);" class="all-graph-closer button secondary small">Hide all graphs</a>

          <div class="all-graph-buttons"></div>

          <table class="listtable full-width">

            <caption>{{ group.grouper|capfirst }}</caption>

            <thead>
            <tr>
              <th>Metric</th>
              <th><div class="right">Threshold</div></th>
            <tr>
            </thead>

            <tbody>
            {% for metric in group.list %}
              <tr>
                <td id="graph-toggler-{{ group.grouper }}-{{ forloop.counter }}" class="graph-toggler">
                    <i class="fa fa-chevron-right"></i>&nbsp;{{ metric.suffix }}
                </td>
                <td>
                  <div class="right">
                    {% include "threshold/frag-thresholdlist.html" %}
                  </div>
                </td>
              </tr>
              <tr>
                <td class="graphitegraph hidden" colspan="3"
                    data-url="{{ metric.graphite_data_url }}"
                    data-handler-id="graph-toggler-{{ group.grouper }}-{{ forloop.counter }}">
                  <div class="rickshaw-container"></div>
                </td>
              </tr>
            {% endfor %}
            </tbody>

          </table>

        </div>
      {% endfor %}

    </div>
  {% endif %}
</div>
