<div class="right">
  <span data-tooltip class="tip-left"
        title="&lt;p&gt;NAV gathers information by periodically running
               jobs. None of the information you see here is gathered
               real time.&lt;/p&gt;

               &lt;p&gt;The &lt;em&gt;Jobs&lt;/em&gt; table in Ip Device Info has
               information about when the different jobs have run on a
               device. To see a description of what information the
               job collects, hover the mouse above the job name.&lt;/p&gt;">
    <i class="fa fa-info-circle"></i>
  </span>
</div>
