<thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Status</th>
    </tr>
</thead>

<tbody>
{% for psu in psus %}
    <tr>
        <td>{{ psu.name }}</td>
        <td>{{ psu.descr }}</td>
        <td class="cell-center">
            {% if psu.up == 'y' %}
                <img src="{{ STATIC_URL }}images/lys/green.png" alt="" title="Up">
            {% endif %}
            {% if psu.up == 'n' %}
                <img src="{{ STATIC_URL }}images/lys/red.png" alt="" title="Down">
            {% endif %}
            {% if psu.up == 'u' %}
                <img src="{{ STATIC_URL }}images/lys/grey.png" alt="" title="Unknown">
            {% endif %}
            {% if psu.up == 'w' %}
                <img src="{{ STATIC_URL }}images/lys/yellow.png" alt="" title="Warning">
            {% endif %}
        </td>
    </tr>
{% endfor %}
</tbody>
