<div id="alerts">
  {% if netbox %}

    {# Table for listing recent alerts #}
    <h4>
      Alerts last {{ alert_info.days_back }}
      day{{ alert_info.days_back|pluralize }}
    </h4>
    <table class="listtable">
      <thead>
        <tr>
          <th>Event</th>
          <th>Message</th>
          <th>Start</th>
          <th>End</th>
          <th>Downtime</th>
        </tr>
      </thead>

      <tfoot>
        <tr>
          <th colspan="5">
            {% if alert_info.is_more_alerts %}
              Showing {{ alert_info.alerts|length }} of
              {{ alert_info.count }} alerts, see
              <a href="{% url 'devicehistory-view-netbox' netbox.id %}">
                Device History</a> for all
            {% else %}
              {{ alert_info.alerts|length }}
              alert{{ alert_info.alerts|length|pluralize }}
              found,
              see
              <a href="{% url 'devicehistory-view-netbox' netbox.id %}">Device
                History</a> for details
            {% endif %}
          </th>
        </tr>
      </tfoot>

      <tbody>
        {% if alert_info.count %}
          {% for a in alert_info.alerts %}
            <tr>
              <td>{{ a.type }}</td>
              <td>
		<a href="{% url 'event-details' a.alert.pk %}" title="See event details">
                  {{ a.message|default:"N/A" }}
                </a>
	      </td>
              <td>{{ a.alert.start_time|date|default:"N/A" }}
                {{ a.alert.start_time|time }}</td>
              {% if a.alert.is_open %}
                <td class="status_down">Unresolved</td>
              {% else %}
                <td>{{ a.alert.end_time|date|default:"N/A" }}
                  {{ a.alert.end_time|time }}</td>
              {% endif %}
              <td>
                {% if a.alert.is_stateful %}
                  {% if a.alert.is_open %}
                    {{ a.alert.start_time|timesince }}
                  {% else %}
                    {{ a.alert.start_time|timesince:a.alert.end_time }}
                  {% endif %}
                {% endif %}
              </td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td>No matching alerts found.</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

  {% endif %}
</div>
