<div id="neighbors">
  <div class="map_panel">
    <form id="neighbor-category-filters">
      <h5>Filter by category</h5>
      <div style="display: flex">
        <label style="margin-right: 1em">
          <input type="checkbox" value="UNRECOGNIZED">
          UNRECOGNIZED
        </label>
        {% for category in categories %}
          <label style="margin-right: 1em">
            <input type="checkbox" value="{{ category.pk }}" checked>
            {{ category.pk }}
          </label>
        {% endfor %}
      </div>
    </form>
  </div>
  <div class="neighbormap" data-netboxid="{{ netbox.id }}"></div>

  {# Add a normal list of neighbors for easy reading #}
  {% if netbox.has_unignored_unrecognized_neighbors %}
    <table id="unrecognized-neighbors" class="listtable">
      <caption>Unrecognized neighbors</caption>
      <tr>
        <th>Remote ID</th>
        <th>Remote Name</th>
        <th>Seen on interface</th>
        <th>Source</th>
        <th>Since</th>
      </tr>
      {% for neighbor in netbox.unrecognizedneighbor_set.all %}
        {% if not neighbor.ignored_since %}
          <tr>

            <td>
              <span class="left">{{ neighbor.remote_id }}</span>
              {% if neighbor.remote_id %}
                <a href="{% url 'seeddb-netbox-add-suggestion' neighbor.remote_id|urlencode %}"
                   style="margin-left: 1em; float: right;"
                   title="Add unrecognized neighbor to NAV">
                  <span class="fa fa-plus-square"></span>
                </a>
              {% endif %}
            </td>

            <td>
              <span class="left">{{ neighbor.remote_name }}</span>
              {% if neighbor.remote_name %}
                <a href="{% url 'seeddb-netbox-add-suggestion' neighbor.remote_name|urlencode %}"
                   style="margin-left: 1em; float: right;"
                   title="Add unrecognized neighbor to NAV">
                  <span class="fa fa-plus-square"></span>
                </a>
              {% endif %}
            </td>

            <td>
              <a href="{{ neighbor.interface.get_absolute_url }}">
                {{ neighbor.interface }}
              </a>
            </td>

            <td>
              {{ neighbor.source }}
            </td>

            <td>
              {{ neighbor.since }}
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </table>
  {% endif %}
</div>


<script>
 require(["plugins/neighbor-map"], function(NeighborMap) {
     var $neighbornode = $('.neighbormap');
     if ($neighbornode.length) {
         new NeighborMap($neighbornode.get(0));
     }
 })
</script>
