<div class="right">
  <span class="nav-tooltip" data-align="end">
    <i class="fa fa-info-circle" aria-describedby="tooltip-disclaimer"></i>
      <span id="tooltip-disclaimer" class="medium" role="tooltip">
        <p>NAV gathers information by periodically running
        jobs. None of the information you see here is gathered
        real time.</p>
        <p style="margin-bottom: 0;"><em>Jobs</em> table in Ip Device Info has
        information about when the different jobs have run on a
        device. To see a description of what information the
          job collects, hover the mouse above the job name.</p>
      </span>
  </span>
</div>
