{% extends "ipdevinfo/base.html" %}
{% load silent_include %}

{% block content %}

  {% if netbox %}
    <ul class="button-group">
      <li>
        <a href="{% url 'seeddb-netbox-edit' netbox.id %}"
           class="button small secondary">
          Edit IP device
        </a>
      </li>

      <li>
        <a href="{% query 'maintenance-new' netbox=netbox.id %}"
           class="button small secondary">
          Schedule maintenance
        </a>
      </li>

      <li>
        <a href="{% url 'devicehistory-view-netbox' netbox.id %}"
           class="button small secondary">
          View device history
        </a>
      </li>

      {% if netbox.get_swports.count %}
        <li>
          <a href="{% url 'portadmin-sysname' netbox.sysname %}"
             class="button small secondary">
            Configure ports
          </a>
        </li>
      {% endif %}

      {% if request.user.is_admin %}
        <li>
          <a href="{% url 'auditlog-netbox-detail' netbox.pk %}"
             class="button small secondary">
            View audit log
          </a>
        </li>
      {% endif %}

      {% try_to_include 'ipdevinfo/custom-header-button-extras.html' %}

    </ul>

  {% elif invalid_ip %}
    <div class="alert-box error">Invalid IP address</div>
  {% endif %}

  <div id="ipdevinfotabs" class="ui-helper-hidden">

    {% if netbox %}
      <ul>
        <li><a href="#deviceinfo">Device Info</a></li>
        <li aria-controls="neighbors">
          <a href="{% url 'ipdevinfo-unrecognized_neighbors' netbox.pk %}">
            Neighbors
          </a>
        </li>
        <li><a href="#ports">Ports</a></li>
        <li><a href="#portmetrics">Port metrics</a></li>
        <li><a href="#sysmetrics">System metrics</a></li>
        <li data-mark-as-error="{{ alert_info.has_unresolved_alerts }}">
          <a href="#alerts">Recent alerts</a>
        </li>
        <li><a href="#sensors">Sensors</a></li>

        {# Only display services for certain instances #}
        {% if display_services_tab %}
          <li><a href="#services">Services</a></li>
        {% endif %}

        <li><a href="#poe">PoE</a></li>
        <li aria-controls="affected">
          <a href="{% url 'ipdevinfo-affected' netbox.id %}">
            What if
          </a>
        </li>

        {% try_to_include "ipdevinfo/custom-tabs.html" %}

      </ul>
      {% include "ipdevinfo/frag-ipdevinfo.html" %}
      <div id="neighbors"></div>
      {% include "ipdevinfo/frag-ports.html" %}
      {% include "ipdevinfo/frag-port-metrics.html" %}
      {% include "ipdevinfo/frag-sysmetrics.html" %}
      {% include "ipdevinfo/frag-alerts.html" %}
      {% include "ipdevinfo/frag-sensors.html" %}

      {% if display_services_tab %}
        {% include "ipdevinfo/frag-services.html" %}
      {% endif %}

      {% include "ipdevinfo/frag-poe.html" %}
      <div id="affected"></div>

      {% try_to_include "ipdevinfo/custom-fragments.html" %}

    {% else %}

      <ul>
        <li><a href="#deviceinfo">Device Info</a></li>
      </ul>
      {% include "ipdevinfo/frag-ipdevinfo.html" %}

    {% endif %}
  </div>

{% endblock %}
