{% if port_view.perspective == 'swportactive' %}
  <h5>
    Activity based on CAM records since
    {{ port_view.activity_interval_start|date }}.
  </h5>

  <div class="row">
    <div class="medium-6 column">
      <form id="switchport_activity_recheck" action="" method="get">
        {% include 'custom_crispy_templates/_form_content.html' with form=activity_interval_form disable_csrf=True %}
      </form>
    </div>
    <div class="medium-6 column">
      {% if not port_view.activity_complete_data %}
        <div class="alert-box warning">
          Warning: CAM data is only available
          for {{ port_view.activity_data_interval }}
          day{{ port_view.activity_data_interval|pluralize }}.
        </div>
      {% endif %}
    </div>
  </div>

{% endif %}

{% for module in port_view.modules %}
  {% include "ipdevinfo/module-port-view.html" %}
{% endfor %}

{% include "ipdevinfo/port-legend.html" %}
