{% load port_info %}
{% load report %}
<table class="vertitable full-width">
  <caption>Connection</caption>

  <tr>
    <th>Trunk</th>
    <td>{{ port.trunk|yesno:"Yes,No,N/A" }}</td>
  </tr>

  {% if port.trunk %}
      <tr>
          <th>Allowed trunk VLANs</th>
          <td>
              <ul style="margin-left: 0; list-style-type: none; max-height: 10em; overflow: auto;">
                  {% for range in port.get_allowed_vlan_ranges %}
                  <li>{{ range }}</li>
                  {% endfor %}
              </ul>
          </td>
      </tr>
  {% endif %}

  <tr>
    <th>Configured VLAN</th>
    <td>
      {{ port.vlan|default:"N/A" }}
      {% if detention.status == 'quarantined' %}
        (Quarantined by <a href="{% url 'arnold-details' detention.id %}" title="Link to detention">Arnold</a>)
      {% endif %}
    </td>
  </tr>

  <tr class="align-top">
    <th>Detected VLANs</th>
    <td>
      {% with port.get_sorted_vlans as swportvlans %}
        {% if swportvlans %}
          <ul class="no-bullet limit-size">
            {% for swportvlan in swportvlans %}
              <li>
                <i class="fa {{ swportvlan.get_direction_display|get_direction_class }}"
                   title="Direction {{ swportvlan.get_direction_display }}"></i>&nbsp;
                <a href="{% report 'swporttrunk' vlanid=swportvlan.vlan.id %}">
                  {{ swportvlan.vlan }}
                </a>

              </li>
            {% endfor %}
          </ul>
        {% else %}
          N/A
        {% endif %}
      {% endwith %}
    </td>
  </tr>

  <tr>
    <th>To IP device</th>
    <td>
      {% if port.to_netbox %}
        <a href="{{ port.to_netbox.get_absolute_url }}">
          {{ port.to_netbox }}</a>
      {% else %}
        N/A
      {% endif %}

      <a href="{% report 'topology_candidates' from_device=port.netbox.sysname from_interface=port.ifname %}"
         title="Show the collected candidate neighbor information that was used to arrive at this value">
          <i class="fa fa-external-link right"></i>
      </a>
    </td>
  </tr>

  <tr>
    <th>To port</th>
    <td>
      {% if port.to_interface %}
        <a href="{{ port.to_interface.get_absolute_url }}">
          {{ port.to_interface }}</a>
      {% else %}
        N/A
      {% endif %}
    </td>
  </tr>

  {% if port.baseport %}
    <tr>
      <th>Patched to</th>
      <td>
        {% if port.patches.count %}
          <ul class="no-bullet">
            {% for patch in port.patches.all %}
              <li>{{ patch.cabling.verbose|capfirst }}, in room
                <a href="{% report 'netbox' roomid=patch.cabling.room.id %}">
                  {{ patch.cabling.room.id }}</a></li>
            {% endfor %}
          </ul>
        {% else %}
          N/A
        {% endif %}
      </td>
    </tr>

    <tr>
      <th>Last CAM record</th>
      <td>
        {% with port.get_last_cam_record.end_time|timesince as time_since %}
          {% if time_since %}
            {{ time_since }} ago
          {% else %}
            Today
          {% endif %}
        {% endwith %}<br/>
      </td>
    </tr>
  {% endif %}

  {% if port.gwport_prefixes.all %}
    <tr>
      <th colspan="2">Addresses</th>
    </tr>
    <tr>
      <th></th>
      <td>
        <table>
          <tr>
            <th>IP</th>
            <th>Prefix</th>
          </tr>
          {% for gwprefix in port.gwport_prefixes.all %}
            <tr>
              <td>{{ gwprefix.gw_ip }}</td>
              <td>
                <a href="{% url 'prefix-details' gwprefix.prefix.id %}">{{ gwprefix.prefix.net_address }}</a>
              </td>
            </tr>
          {% endfor %}
        </table>
      </td>
    </tr>
  {% endif %}

</table>
