{% extends "ipdevinfo/base.html" %}
{% load silent_include %}

{% block footer_scripts %}
  <script>
    require(["jquery-ui"], function () {
      var tabs = $('#port-details-tabs').tabs({
        activate: function (event, ui) {
          // Resize graphs when tab is shown
          if (ui.newPanel.attr('id') === "port-details-activity-graphs") {
            $(window).trigger('resize');
          }
        }
      });
      tabs.removeClass('notvisible').show();
      // Mark error tab
      $('li[data-mark-as-error="True"]', tabs).removeClass('ui-state-default').addClass('ui-state-error');
    });
  </script>
{% endblock %}

{% block content %}

  <p>
    <a href="{% url 'ipdevinfo-details-by-name' port.netbox.sysname %}">
      Back to {{ port.netbox.sysname }}
    </a>
  </p>

  {% if port.baseport %}
    <div class="row">
      <div class="small-12 column">
        <ul class="button-group">
          <li>
            <a href="{% query 'machinetracker-swp' switch=port.netbox.sysname port=port.ifname %}"
               class="button small secondary">
              Track MAC behind port
            </a>
          </li>
          <li>
            <a href="{% url 'portadmin-interface' port.id %}"
               class="button small secondary">
              Configure port
            </a>
          </li>
        </ul>
      </div>
    </div>
  {% endif %}

  {% if detention %}
    <div class="alert-box alert">
      This interface is detained in
      <a href="{% url 'arnold-details' detention.id %}"
         title="Link to detention">Arnold</a>
    </div>
  {% endif %}


  <div id="port-details-tabs" class="notvisible">

    <ul>
      <li><a href="#port-details-infotables">Details</a></li>
      <li><a href="#port-details-activity-graphs">Activity graphs</a></li>
      <li><a href="#port-details-metrics-list">Metric list</a></li>
      <li><a href="#port-details-sensors-list">Port Sensors</a></li>
      <li data-mark-as-error="{{ alert_info.has_unresolved_alerts }}">
        <a href="#port-details-recent-alerts">Recent alerts</a>
      </li>
      {% try_to_include "ipdevinfo/custom-port-tabs.html" %}
    </ul>


    {# Information tables #}
    <div id="port-details-infotables">
      <div class="row">

        <div class="column large-4">
          {% include 'ipdevinfo/port-details-main-frag.html' %}
        </div>

        <div class="column large-4">
          {% include 'ipdevinfo/port-details-vlan-frag.html' %}
        </div>

        <div class="column large-4">
          {% include 'ipdevinfo/port-details-neighbors-frag.html' %}
          {% include 'ipdevinfo/port-details-aggregate-frag.html' %}
          {% include 'ipdevinfo/port-details-stacking-frag.html' %}
        </div>

      </div>
    </div>


    {# Activity graphs #}
    <div id="port-details-activity-graphs">
      <h3>Activity graphs</h3>

      <ul class="large-block-grid-2 nav-metrics-container">

        {% for url in port.combined_data_urls %}

          <li>
            <div class="graphitegraph" data-url="{{ url }}">
              <div class="rickshaw-container"></div>
            </div>
          </li>

        {% endfor %}

      </ul>
    </div>


    {# List of metrics for this port #}
    <div id="port-details-metrics-list">
      <h3>Metrics</h3>
      {% include 'ipdevinfo/port-details-metrics-frag.html' %}
    </div>

    {# List of sensors for this port #}
    <div id="port-details-sensors-list">
      <h3>Metrics</h3>
      {% include 'ipdevinfo/port-details-sensors-frag.html' %}
    </div>

    {# Recent alerts for this interface #}
    <div id="port-details-recent-alerts">
      {% include "ipdevinfo/port-details-recent-alerts-frag.html" %}
    </div>


  </div>

{% endblock %}
