<div class="nav-metrics-container">
  {% with port.sensors.all as sensors %}
    {% if sensors|length %}
      <a href="javascript:void(0);" class="all-graph-opener button secondary small">Show all graphs</a>
      <a href="javascript:void(0);" class="all-graph-closer button secondary small">Hide all graphs</a>
      <table>
        {% include "ipdevinfo/frag-sensortable.html" %}
      </table>
    {% else %}
      <span class="alert-box info">No sensors found.</span>
    {% endif %}
  {% endwith %}
</div>
