<a href="javascript:void(0);" class="portlegendToggler button tiny secondary">Show port legend</a>
<div id="portlegend" class="portlegend hidden">
<table class="vertitable">
    <caption>
        Port legend<br />
        <span class="subtitle">Hold mouse over port for info, click for
        details</span>
    </caption>
    <tr>
        <th>Port status (color)</th>
        <td><span class="port passive">11</span> Not active</td>
        <td><span class="port disabled">11</span> Disabled</td>
        <td><span class="port Mb10">11</span> 10 Mbit</td>
        <td><span class="port Mb100">11</span> 100 Mbit</td>
        <td><span class="port Mb1000">11</span> 1 Gbit</td>
        <td><span class="port Mb10000">11</span> 10 Gbit</td>
    </tr>
    <tr>
        <th>Port status (frame)</th>
        <td><span class="port hduplex">11</span> Half duplex</td>
        <td><span class="port fduplex">11</span> Full duplex</td>
        <td><span class="port trunk">11</span> Trunk</td>
        <td><span class="port blocked">11</span> Blocked</td>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <th>Port activity</th>
        <td><span class="port inactive">11</span> Free</td>
        <td><span style="background-color: #e5f5e0" class="port active">
            11</span> MAC seen {{ activity_interval }} days ago</td>
        <td><span style="background-color: #74c476" class="port active">
            11</span> MAC seen today</td>
        <td><span style="background-color: #74c476" class="port active link">
            11</span> Link now</td>
        <td></td>
        <td></td>
    </tr>
</table>
</div>
