{% extends "ipdevinfo/base.html" %}
{% load thresholds %}


{% block base_header_additional_head %}
  {{ block.super }}
  <style>
   #gauge-wrapper {
       display: flex;
       align-items: flex-end;
   }
   #gauge-wrapper button {
       margin-left: 1em;
       margin-bottom: 0;
   }
  </style>
{% endblock %}

{% block footer_scripts %}
<script>require(["src/sensor_details"]);</script>
{% endblock %}

{% block content %}

<p>
  <a href="{% url 'ipdevinfo-details-by-name' sensor.netbox.sysname %}">
    Back to {{ sensor.netbox.sysname }}
  </a>
</p>

<div class="panel white">
  <div class="row">
    <div class="large-6 column">
      <table>
        <h4>Sensor information</h4>
        <tr>
          <th>Name</th>
          <td>{{sensor.name}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{sensor.human_readable}}</td>
        </tr>
        {% if sensor.interface %}
          <tr>
            <th>Interface</th>
            <td>
              <a href="{% url 'ipdevinfo-interface-details' sensor.interface.netbox.sysname sensor.interface.id %}">
                {{sensor.interface.ifname}}
              </a>
            </td>
          </tr>
        {% endif %}
        <tr>
          <th>Unit</th>
          <td>{{sensor.unit_of_measurement}}</td>
        </tr>
        <tr>
          <th>Scale</th>
          <td>{{sensor.data_scale}}</td>
        </tr>
        <tr>
          <th>Thresholds</th>
          <td>
            {% include "threshold/frag-thresholdlist.html" %}
          </td>
        </tr>
        {% if sensor.unit_of_measurement == 'boolean' %}
          <tr>
            <th>Detected alert active message</th>
            <td>{{sensor.on_message_sys}}</td>
          </tr>
          <tr>
            <th>Detected alert inactive message</th>
            <td>{{sensor.off_message_sys}}</td>
          </tr>
          <tr>
            <th>Detected alert active value</th>
            <td>{{sensor.on_state_sys}}</td>
          </tr>
        {% else %}
          <tr>
            <th>Detected minimum value for graphs</th>
            <td>{{sensor.display_minimum_sys}}</td>
          </tr>
          <tr>
            <th>Detected maximum value for display</th>
            <td>{{sensor.display_maximum_sys}}</td>
          </tr>
        {% endif %}
      </table>
    </div>
    <div class="large-6 column">
        {% if sensor.unit_of_measurement == 'boolean' %}
          <h4>Display values</h4>
          <div class="sensor"
               data-url="{{ data_url }}"
               data-on-state="{{ sensor.on_state }}"/>
          <div class="on alert-box with-icon {{ sensor.alert_type_class }} hidden">{{ sensor.on_message }}</div>
          <div class="off alert-box with-icon success hidden">{{ sensor.off_message }}</div>
          <button id="add-to-dashboard-button"
                  class="tiny secondary"
                  data-dashboard-url="{% url 'add-user-navlet-sensor' %}?sensor_id={{ sensor.pk }}">
            Add to dashboard
          </button>
          {% include 'custom_crispy_templates/flat_form.html' %}
        {% else %}
          <h4>Gauge display ranges</h4>
          <div id="gauge-wrapper">
            <div class="sensor-gauge"
                 data-url="{{ sensor.get_graph_url }}&format=json"
                 data-unit="{{ sensor.normalized_unit }}"
                 data-sensorid="{{ sensor.id }}"
                 data-sensorname="{{ sensor.human_readable }}"
                 data-thresholds="{{ sensor.get_metric_name|find_thresholds }}"
                 data-unit="{{sensor.unit_of_measurement}}"
                 data-min="{{sensor.get_display_range.0}}"
                 data-max="{{sensor.get_display_range.1}}"
            ></div>
            <button id="add-to-dashboard-button"
                    class="tiny secondary"
                    data-dashboard-url="{% url 'add-user-navlet-sensor' %}?sensor_id={{ sensor.pk }}">
              Add to dashboard
            </button>
          </div>
          {% include 'custom_crispy_templates/flat_form.html' %}
        {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="medium-12 column">
      <div class="nav-metrics-container">
        <div class="graphitegraph"
             data-url="{{ graphite_data_url }}">
          <div class="rickshaw-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
