{% extends "ipdevinfo/base.html" %}
{% load thresholds %}


{% block base_header_additional_head %}
  {{ block.super }}
  <style>
   #gauge-wrapper {
       display: flex;
       align-items: flex-end;
   }
   #gauge-wrapper button {
       margin-left: 1em;
       margin-bottom: 0;
   }
  </style>
{% endblock %}

{% block footer_scripts %}
<script>
 require([
     "plugins/graphfetcher_controller",
     "plugins/gauge",
 ], function(graphfetcher_controller, Gauge) {
     $(function() {
         var $gauge = $('.sensor-gauge');
         var thresholds = $gauge.data('thresholds') ? $gauge.data('thresholds').split(',') : [];
         var _gauge = new Gauge({
             node: $gauge[0],
             min: {{sensor.get_display_range.0}},
             max: {{sensor.get_display_range.1}},
             url: "{{sensor.get_graph_url}}&format=json",
             symbol: ' ',
             unit: "{{sensor.unit_of_measurement}}",
             thresholds: thresholds,
         });

         $('#add-to-dashboard-button').on('click', function (event) {
             event.preventDefault();
             var $button = $(this);
             var request = $.post($button.data('dashboardUrl'));
             request.done(function() {
                 $button.removeClass('secondary').addClass('success');
             });
             request.fail(function() {
                 $button.removeClass('secondary').addClass('failure');
             });
         });
     });
 });
</script>
{% endblock %}

{% block content %}

<p>
  <a href="{% url 'ipdevinfo-details-by-name' sensor.netbox.sysname %}">
    Back to {{ sensor.netbox.sysname }}
  </a>
</p>

<div class="panel white">
  <div class="row">
    <div class="large-6 column">
      <table>
        <h4>Sensor information</h4>
        <tr>
          <th>Name</th>
          <td>{{sensor.name}}</td>
        </tr>
        <tr>
          <th>Description</th>
          <td>{{sensor.human_readable}}</td>
        </tr>
        {% if sensor.interface %}
          <tr>
            <th>Interface</th>
            <td>
              <a href="{% url 'ipdevinfo-interface-details' sensor.interface.netbox.sysname sensor.interface.id %}">
                {{sensor.interface.ifname}}
              </a>
            </td>
          </tr>
        {% endif %}
        <tr>
          <th>Unit</th>
          <td>{{sensor.unit_of_measurement}}</td>
        </tr>
        <tr>
          <th>Scale</th>
          <td>{{sensor.data_scale}}</td>
        </tr>
        <tr>
          <th>Thresholds</th>
          <td>
            {% include "threshold/frag-thresholdlist.html" %}
          </td>
        </tr>
        <tr>
          <th>Detected minimum value for graphs</th>
          <td>{{sensor.display_minimum_sys}}</td>
        </tr>
        <tr>
          <th>Detected maximum value for display</th>
          <td>{{sensor.display_maximum_sys}}</td>
        </tr>
      </table>
    </div>
    <div class="large-6 column">
      <h4>Gauge display ranges</h4>
      <div id="gauge-wrapper">
        <div class="sensor-gauge"
             data-url="{{ sensor.get_graph_url }}"
             data-unit="{{ sensor.normalized_unit }}"
             data-sensorid="{{ sensor.id }}"
             data-sensorname="{{ sensor.human_readable }}"
             data-thresholds="{{ sensor.get_metric_name|find_thresholds }}"
        ></div>
        <button id="add-to-dashboard-button"
                class="tiny secondary"
                data-dashboard-url="{% url 'add-user-navlet-sensor' %}?sensor_id={{ sensor.pk }}">
          Add to dashboard
        </button>
      </div>
      <form method="post">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="button small">Update range</button>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="medium-12 column">
      <div class="nav-metrics-container">
        <div class="graphitegraph"
             data-url="{{ graphite_data_url }}">
          <div class="rickshaw-container"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
