<thead>
    <tr>
        <th rowspan="2">Status</th>
        {% if show_ipdev_info %}
            <th rowspan="2">IP Device</th>
        {% endif %}
        <th rowspan="2">Handler</th>
        <th rowspan="2">Version</th>
        <th colspan="3">Availability</th>
        <th colspan="3">Response time</th>
        <th rowspan="2">Actions</th>
    </tr>
    <tr>
        <th>Last day</th>
        <th>Last week</th>
        <th>Last month</th>
        <th>Last day</th>
        <th>Last week</th>
        <th>Last month</th>
    </tr>
</thead>
<tfoot>
    <tr>
        <th colspan="0">
            {% with service_list.count as hits %}
                {{ hits }} service{{ hits|pluralize }} found
            {% endwith %}
            {% if is_paginated %}
                | Pages:
                {% for p in page_range %}
                    {% if p == page %}
                        <em>{{ p }}</em>
                    {% else %}
                        <a href="?page={{ p }}">{{ p }}</a>
                    {% endif %}
                {% endfor %}
            {% endif %}
        </th>
    </tr>
</tfoot>
<tbody>
    {% for service in service_list %}
    <tr>

        {% if service.is_on_maintenance %}
            <td class="status_maintenance">
            {{ service.get_up_display|capfirst }}
            <i class="fa fa-wrench fa-lg" title="On maintenance"></i></td>
        {% else %}
            <td class="status_{{ service.get_up_display }}">
            {{ service.get_up_display|capfirst }}</td>
        {% endif %}

        {% if show_ipdev_info %}
            <td><a href="{{ service.netbox.get_absolute_url }}">
                {{ service.netbox.get_short_sysname }}</a></td>
        {% endif %}
        <td><a href="{% url 'ipdevinfo-service-list-handler' service.handler %}">
            {{ service.handler }}</a></td>
        <td>{{ service.version|default:"N/A" }}</td>
        {% with service.get_statistics as stats %}
        {% with stats.availability as a %}
        <td class="numeric">
            {% if a.day %}
                {{ a.day|floatformat:2 }}%
            {% else %}
                N/A
            {% endif %}
        </td>
        <td class="numeric">
            {% if a.week %}
                {{ a.week|floatformat:2 }}%
            {% else %}
                N/A
            {% endif %}
        </td>
        <td class="numeric">
            {% if a.month %}
                {{ a.month|floatformat:2 }}%
            {% else %}
                N/A
            {% endif %}
        </td>
        {% endwith %}
        {% with stats.response_time as rt %}
        <td class="numeric">
            {% if rt.day %}
                {{ rt.day|floatformat:3 }}{{ rt.data_source.units }}
            {% else %}
                N/A
            {% endif %}
        </td>
        <td class="numeric">
            {% if rt.week %}
                {{ rt.week|floatformat:3 }}{{ rt.data_source.units }}
            {% else %}
                N/A
            {% endif %}
        </td>
        <td class="numeric">
            {% if rt.month %}
                 {{ rt.month|floatformat:3 }}{{ rt.data_source.units }}
            {% else %}
                N/A
            {% endif %}
        </td>
        {% endwith %}
        {% endwith %}
        <td>
            <a href="{% url 'seeddb-service-edit' service.id %}">
                Edit</a>,
            <a href="{% query 'maintenance-new' service=service.id %}">
                schedule maintenance</a>
        </td>
    </tr>
    {% endfor %}
</tbody>
