{% extends "ipdevinfo/base.html" %}

{% block content %}

{% if service_list %}
    <table class="listtable">
        <caption>
            {% if handler %}
                Services with handler {{ handler }}
            {% else %}
                All services
            {% endif %}
        </caption>
        {% include "ipdevinfo/service-list-table.html" %}
    </table>
{% else %}
    {% if handler %}
        <p>No services with handler "{{ handler }}" found.</p>
    {% else %}
        <p>No services found.</p>
    {% endif %}
{% endif %}

<h3>Filter on handler</h3>

<ul>
    <li><a href="{% url 'ipdevinfo-service-list-all' %}">
        All handlers</a></li>
    {% for h in handler_list %}
    <li><a href="{% url 'ipdevinfo-service-list-handler' h.handler %}">
        Handler: {{ h.handler }}</a></li>
    {% endfor %}
</ul>

{% endblock %}
