{% if not current_user_data.account.is_default_account or current_user_data.sudoer %}
    <ul class="navlet-action-group button-group right">
        <li>
            <a href="javascript:void(0);" class="right">
              <i class="fa fa-refresh" title="Refresh"></i>
            </a>
        </li>
        {% if navlet.is_editable %}
            <li>
                <a href="javascript:void(0);" class="navlet-mode-switch right"
                   data-mode="{{ navlet.mode }}">
                    {% if navlet.mode == 'VIEW' %}
                        <i class="fa fa-edit" title="Edit"></i>
                    {% else %}
                        <i class="fa fa-check-square-o" title="View"></i>
                    {% endif %}
                </a>
            </li>
        {% endif %}
        <li>
            <a href="javascript:void(0);" class="navlet-remove-button right">
              <i class="fa fa-times-circle" title="Remove"></i>
            </a>
        </li>
    </ul>
{% endif %}

<span class="subheader" title="{{ navlet.description }}">{{ navlet.title }}</span>

{% block navlet-content %}
{% endblock %}
