{% extends 'navlets/base.html' %}

{% block navlet-content %}

  {% if graph_url %}
    <div id="graph-container-{{ navlet.navlet_id }}" class="graphitegraph" data-image-reload></div>
    &nbsp;
  {% else %}
    <span class="alert-box">Edit the widget to add a graph.</span>
  {% endif %}

  <script>
    require(['plugins/graphfetcher'], function (Fetcher) {
      var graphNode = $('#graph-container-{{ navlet.navlet_id }}');
      if (graphNode.length) {
        new Fetcher(graphNode, '{{ graph_url|safe }}', {
          hideAddGraphButton: true,
          hideTimeIntervalButtons: {{ hide_buttons }},
          linkTarget: '{{ navlet.preferences.target }}'
        });
      }
    });
  </script>

{% endblock %}
