{% extends 'navlets/base.html' %}

{% block navlet-content %}

  <form method="POST" action="{% url get-user-navlet navlet.navlet_id %}">
    <div class="row collapse">
      <div class="small-8 column">
        <label for="graphWidgetUrl">URL</label>
        <input id="graphWidgetUrl" type="text" name="url" value="{{ graph_url|default_if_none:'' }}" placeholder="URL">
      </div>
      <div class="small-4 column">
        <label>&nbsp;</label>
        <input type="submit" name="submit" value="Save" class="button postfix">
      </div>
    </div>
    <input type="hidden" name="id" value="{{ navlet.navlet_id }}">
  </form>

{% endblock %}
