{% extends 'navlets/base.html' %}

{% block navlet-content %}

    <form action="{% url get-user-navlet navlet.id %}" method="post">
        <div class="row collapse">
            <div class="large-8 column">
                <input type="text" name="from_ip" placeholder="IP-address">
            </div>
            <div class="large-4 column">
                <input type="submit" value="Search" class="button postfix">

            </div>
            <div class="row">
                <div class="large-2 column">
                    <label for="machinetracker_days" class="right inline">Days</label>
                </div>
                <div class="large-4 column">
                    <input id="machinetracker_days" type="text" name="days" value="7">
                </div>
                <div class="large-6 column">
                    <label for="machinetracker_dns" class="inline text-center">
                        DNS:
                        <input id="machinetracker_dns" type="checkbox" name="dns">
                    </label>
                </div>
            </div>
        </div>
    </form>

{% endblock %}
