{% extends 'navlets/base.html' %}
{% load watchdog %}

{% block navlet-content %}

  <ul class="watchdog-tests">
    {% for test in tests %}
      <li>{{ test.name }}
          <span class="label {{ test.status|map_to_class }} right">
            {{ test.status|map_to_word }}
          </span>

        <ul class="hide">
          {% for error in test.errors %}
            <li>
              <small>{{ error }}</small>
            </li>
          {% endfor %}
        </ul>

      </li>
    {% endfor %}
  </ul>

  <div class="row">
    <div class="column small-6">
      <a href="{% url watchdog-index %}">See full overview</a>
    </div>
    <div class="column small-6 text-right">
      <a href="{% url watchdog-index %}">
        <img src="{{ STATIC_URL }}images/icons/watchdog_black.svg" width="24"/>
      </a>
    </div>
  </div>


{% endblock %}
