{% extends 'navlets/base.html' %}

{% block navlet-content %}

    <div class="panel">
        <p>
            Thanks for using NAV!
        </p>

        <p>
            The widgets on this page provide information and shortcuts to NAV's
            tools.
        </p>

        <p>
            You can add a widget by clicking the "Add widget" button on the top
            right of the page, then choose one from the list that appears.
        </p>

        <p>
            If you are not happy with the placement, you can move them by
            clicking the "Reorder widgets" button and dragging them around.
        </p>

        <p>
            Some widgets have an "Edit" button next to the "Remove" button. Click
            this to see and adjust the preferences for the widget. The preferences
            are personal and lets you decide how the widget should work.
        </p>

        <p>
            To remove a widget, just click the "Remove" button. If you have read
            this info, then removing this widget will make room for other, more
            interesting ones!
        </p>
    </div>

{% endblock %}
