{% extends 'navlets/base.html' %}

{% block navlet-content %}

    <div class="panel">
        <p>
            Thanks for using NAV!
        </p>

        <p>
            The widgets on this page are called "Navlets", and provide information
            and shortcuts to NAV's tools.
        </p>

        <p>
            You can add a Navlet by clicking the "Add Navlet" button on the top
            right of the page, then choose one from the list that appears.
        </p>

        <p>
            If you are not happy with the placement, you can move them by
            clicking the "Sort Navlets" button and dragging them around.
        </p>

        <p>
            Some Navlets have an "Edit" button next to the "Remove" button. Click
            this to see and adjust the preferences for the Navlet. The preferences
            are personal and lets you decide how the Navlet should work.
        </p>

        <p>
            To remove a Navlet, just click the "Remove" button. If you have read
            this info, then removing this Navlet will make room for other, more
            interesting Navlets!
        </p>
    </div>

{% endblock %}
