{% extends 'arnold/tabs.html' %}

{% block tabcontent %}

    <form action="{% url 'arnold-lift-detentions' %}" method="POST">
        {% csrf_token %}
        <table class="listtable">
            <caption>
                Choose which ports to open
            </caption>

            <thead>
            <tr>
                <th>IP</th>
                <th>MAC</th>
                <th>DNS</th>
                <th>Netbios</th>
                <th>Switch</th>
                <th>Interface</th>
                <th>_</th>
            </tr>
            </thead>

            <tbody>
            {% for detention in detentions %}
                <tr>
                    <td>
                        <a href="{% query 'machinetracker-ip' ip_range=detention.ip days=100 dns='on' %}"
                           title="Link to Machine Tracker" target="_blank">
                            {{ detention.ip }}
                        </a>
                    </td>

                    <td>
                        <a href="{% query 'machinetracker-mac' mac=detention.mac days=100 dns='on' %}"
                           title="Link to Machine Tracker" target="_blank">
                            {{ detention.mac }}
                        </a>
                    </td>

                    <td>{{ detention.dns }}</td>
                    <td>{{ detention.netbios }}</td>

                    <td>
                        {% if detention.interface %}
                        <a href="{% url 'ipdevinfo-details-by-name' detention.interface.netbox.sysname %}"
                           title="Link to Ip Device Info" target="_blank">
                            {{ detention.interface.netbox.sysname }}
                        </a>
                        {% else %}
                            N/A
                        {% endif %}
                    </td>

                    <td>
                        {% if detention.interface %}
                        <a href="{% url 'ipdevinfo-interface-details' detention.interface.netbox.sysname detention.interface.id %}"
                           title="Link to interface details" target="_blank">
                            {{ detention.interface.ifname }}
                        </a>
                        {% else %}
                            Detention was at {{ detention.textual_interface }}.
                        {% endif %}
                    </td>

                    <td><input type="checkbox" name="detentions" value="{{ detention.id }}" checked="checked"/>
                </tr>
            {% endfor %}

            <tr>
                <td colspan='7'><input type="submit" value="Enable selected ports" class="button small"/></td>
            </tr>
            </tbody>

        </table>

    </form>

{% endblock %}
