{% extends 'arnold/base.html' %}

{% block content %}

  {% include 'arnold/back.html' %}

  {% if error %}
    <div class="error">{{ error }}</div>
  {% endif %}

  {% comment %} Display info for this identity {% endcomment %}
  <table class="vertitable left" style="margin-right: 2em;">
    <caption>Details for {{ identity.ip }}</caption>

    <tbody>

      <tr>
        <th>Ip</th>
        <td>
          <a href="{% query 'machinetracker-ip' ip_range=identity.ip days=100 dns='on' %}"
             title="Link to Machine Tracker">
            {{ identity.ip }}
          </a>
        </td>
      </tr>

      <tr>
        <th>Dns</th>
        <td>{{ identity.dns }}</td>
      </tr>

      <tr>
        <th>Netbios</th>
        <td>{{ identity.netbios }}</td>
      </tr>

      <tr>
        <th>Mac</th>
        <td>
          <a href="{% query 'machinetracker-mac' mac=identity.mac days=100 dns='on' %}"
             title="Link to Machine Tracker">
            {{ identity.mac }}
          </a>
        </td>
      </tr>

      <tr>
        <th>Switch</th>
        <td>
          {% if identity.interface %}
            <a href="{% url 'ipdevinfo-details-by-name' identity.interface.netbox.sysname %}"
               title="Link to Ip Device Info">
              {{ identity.interface.netbox.sysname }}
            </a>
          {% else %}
            Last interface was {{ identity.textual_interface }}
          {% endif %}
        </td>
      </tr>

      <tr>
        <th>Port</th>
        <td>
          {% if identity.interface %}
            <a href="{% url 'ipdevinfo-interface-details' identity.interface.netbox.sysname identity.interface.id %}"
               title="Link to interface details">
          {% endif %}
          {{ identity.interface.ifname|default_if_none:'' }}
          {% if identity.interface %}
            </a>
          {% endif %}
        </td>
      </tr>

      <tr>
        <th>Vlan</th>
        <td>
          {{ identity.interface.vlan|default_if_none:'' }}
        </td>
      </tr>

      <tr>
        <th>
          Status
        </th>
        <td>
          {{ identity.status }}
          {% if identity.status != 'enabled' %}
            <a href="{% url 'arnold-choose-detentions' identity.id %}"
               class="button table-button right">
              {% if identity.interface %}
                Enable
              {% else %}
                Close detention
              {% endif %}
            </a>
          {% endif %}
        </td>
      </tr>

      <tr>
        <th>Autoenable</th>
        <td>
          {{ identity.autoenable|date:'DATETIME_FORMAT'|default_if_none:'' }}
        </td>
      </tr>

      <tr>
        <th>Mail</th>
        <td>{{ identity.mail }}</td>
      </tr>

    </tbody>

  </table>


  {% comment %}Display list of events regarding this identity{% endcomment %}
  {% with identity.events.all as events %}

    <table class="listtable left">
      <caption>History</caption>

      <thead>
        <tr>
          <th>Eventtime</th>
          <th>Action</th>
          <th>Reason</th>
          <th>Comment</th>
          <th>User</th>
        </tr>
      </thead>

      <tbody>
        {% for event in events %}
          <tr>
            <td>{{ event.event_time|date:"Y-m-d H:i:s" }}</td>
            <td>{{ event.action }}</td>
            <td>{{ event.justification }}</td>
            <td>{{ event.comment }}</td>
            <td>{{ event.executor }}</td>
          </tr>
        {% endfor %}
      </tbody>

      <tfoot>
        <tr>
          <th colspan="5">{{ events|length }} entr{{ events|pluralize:'y,ies' }} in history</th>
        </tr>
      </tfoot>

    </table>

  {% endwith %}

{% endblock %}
