{% extends "arnold/tabs.html" %}
{% block tabcontent %}

    <table class="listtable tablesorter arnold-detainedports">
        <caption>Currently detained ports</caption>

        <thead>
        <tr>
            <th>Ip</th>
            <th>DNS</th>
            <th>Netbios</th>
            <th>Status</th>
            <th>Reason</th>
            <th>Switch</th>
            <th>Last Changed</th>
            <th>_</th>
            <th>_</th>
        </tr>
        </thead>

        {% if identities %}
            <tbody>
            {% for identity in identities %}
                <tr>
                    <td>
                        <a href="{% query 'machinetracker-ip' ip_range=identity.ip days=100 dns='on' %}" title="Link to Machine Tracker">
                            {{ identity.ip }}
                        </a>
                    </td>

                    <td>{{ identity.dns }}</td>
                    <td>{{ identity.netbios }}</td>
                    <td>{{ identity.status }}</td>
                    <td>{{ identity.justification.name }}</td>
                    <td>
                        {% if identity.interface %}
                        <a href="{% url 'ipdevinfo-details-by-name' identity.interface.netbox.sysname %}"
                           title="Link to Ip Device Info">
                            {{ identity.interface.netbox.sysname }}
                        </a>
                        {% else %}
                            Could not find interface. Last interface was {{ identity.textual_interface }}
                        {% endif %}
                    </td>
                    <td>{{ identity.last_changed|date:"DATETIME_FORMAT" }}</td>
                    <td>
                        <a href="{% url 'arnold-choose-detentions' identity.id %}" class="button tiny secondary">
                            {% if identity.interface %}
                                Enable
                            {% else %}
                                Close detention
                            {% endif %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url 'arnold-details' identity.id %}">Details</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}

        <tfoot>
        <tr>
            <th colspan="9">{{ identities|length }}
                port{{ identities|pluralize:'s' }} detained
            </th>
        </tr>
        </tfoot>

    </table>

{% endblock %}
