{% extends 'arnold/tabs.html' %}

{% block tabcontent %}

    <table class="listtable">
        <caption>List of current detention profiles</caption>

        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Active</th>
                <th>_</th>
            </tr>
        </thead>

        {% if profiles %}
            <tbody>
            {% for profile in profiles %}
                <tr>
                    <td>{{ profile.id }}</td>
                    <td>{{ profile.name }}</td>
                    <td>{{ profile.description }}</td>
                    <td>{{ profile.active|yesno:'Yes,No' }}</td>
                    <td>
                        <a href="{% url 'arnold-detention-profile-edit' profile.id %}" class="button small secondary">Edit</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        {% endif %}

        <tfoot>
            <tr>
                <th colspan="5">{{ profiles|length }} profile{{ profiles|pluralize:'s' }} registered</th>
            </tr>
        </tfoot>

    </table>

    <a href="{% url 'arnold-detention-profile-add' %}" class="button small">Add new detention profile</a>

{% endblock %}
