{% extends "arnold/base.html" %}

{% block content %}

  {% include 'arnold/back.html' %}


  <h4>Search</h4>

    {% comment %} Display form for defining search parameters {% endcomment %}
  <div class="row">
    <div class="medium-6 column">
      <div class="panel white">
        {% include 'custom_crispy_templates/flat_form.html' %}
      </div>
    </div>
  </div>


  {% comment %} Display search results {% endcomment %}
    {% if form.is_bound and not form.errors %}
        <table class="listtable">

            <caption>Result</caption>

            <thead>
            <tr>
                <th>IP</th>
                <th>DNS</th>
                <th>MAC</th>
                <th>Netbios</th>
                <th>Status</th>
                <th>Reason</th>
                <th>Last changed</th>
                <th>&nbsp;</th>
            </tr>
            </thead>

            <tbody>
            {% for result in search_result %}
                <tr>
                    <td>
                        <a href="{% query 'machinetracker-ip' ip_range=result.ip days=100 dns='on' %}"
                           title="Link to Machine Tracker" target="_blank">
                            {{ result.ip }}
                        </a>
                    </td>

                    <td>{{ result.dns }}</td>

                    <td>
                        <a href="{% query 'machinetracker-mac' mac=result.mac days=100 dns='on' %}"
                           title="Link to Machine Tracker" target="_blank">
                            {{ result.mac }}
                        </a>
                    </td>

                    <td>{{ result.netbios }}</td>
                    <td>{{ result.status }}</td>
                    <td>{{ result.justification }}</td>
                    <td>{{ result.last_changed|date:"DATETIME_FORMAT" }}</td>
                    <td><a href="{% url 'arnold-details' result.id %}">Details</a></td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="8">
                        {{ search_result|length }} result{{ search_result|pluralize:'s' }} found
                    </th>
                </tr>
            </tfoot>

        </table>
    {% endif %}

{% endblock %}
