{% extends "alertprofiles/base.html" %}

{% block tabcontent %}
<a
    class="right"
    hx-get="{% url 'alertprofiles-groups-and-permissions' %}"
    hx-target="body"
    hx-swap="beforeend"
>
    Groups and permissions
</a>

{% if active_profile %}
<h4>Active profile:
    <a href="{% url 'alertprofiles-profile-detail' active_profile.id %}">
        {{ active_profile.name }}
    </a>
</h4>
{% include "alertprofiles/timeperiods.html" %}
{% else %}
<h4>Account details</h4>
<p>
    There is no active profile set.
</p>

<a href="{% url 'alertprofiles-profile' %}" class="button small">
    Activate an existing one
</a>
<a href="{% url 'alertprofiles-profile-new' %}" class="button small">
    Create a new profile
</a>

{% endif %}
{% endblock %}
