{% extends "alertprofiles/base_list.html" %}

{% block top_links %}
  <a href="{% url 'alertprofiles-address-new' %}" class="button small">Add address</a>
{% endblock %}

{% block captioncontent %}
    Addresses
{% endblock %}

{% block tablecolspan %}3{% endblock %}

{% block theadcols %}
    <th>&nbsp;</th>

    <th>
    {% ifequal order_by "address" %}
      <a href="{% url 'alertprofiles-address' %}?page={{ page_obj.number }}&amp;order_by=-address">
        Address
        <i class="fa fa-caret-down"></i>
      </a>
    {% else %}
      <a href="{% url 'alertprofiles-address' %}?page={{ page_obj.number }}&amp;order_by=address">
        Address
        {% ifequal order_by "-address" %}
        <i class="fa fa-caret-up"></i>
        {% endifequal %}
      </a>
    {% endifequal %}
    </th>

    <th>
    {% ifequal order_by "type" %}
      <a href="{% url 'alertprofiles-address' %}?page={{ page_obj.number }}&amp;order_by=-type">
        Type
        <i class="fa fa-caret-down"></i>
      </a>
    {% else %}
        <a href="{% url 'alertprofiles-address' %}?page={{ page_obj.number }}&amp;order_by=type">
          Type
          {% ifequal order_by "-type" %}
            <i class="fa fa-caret-up"></i>
          {% endifequal %}
        </a>
    {% endifequal %}
    </th>
{% endblock %}

{% block tbodycontent %}
    {% for a in object_list %}
        <tr>
            <td><input type="checkbox" name="address" value="{{ a.id }}" /></td>
            <td>
                <a href="{% url 'alertprofiles-address-detail' a.id %}">
                    {% if not a.type.supported %}
                    <del>{{ a.address }}</del>
                    {% else %}
                    {{ a.address }}
                    {% endif %}
                </a>
            </td>
            <td>
                {% if not a.type.supported %}
                    <div class="alert-box error with-icon inside-table">{{ a.type.name }}: No longer supported</div>
                {% else %}
                    {{ a.type.name }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

