{% extends "alertprofiles/base.html" %}

{% block tabcontent %}
  <h4>
    Add expression
  </h4>

  <form action="{% url 'alertprofiles-filters-saveexpression' %}" method="post" class="custom">
    {% csrf_token %}
    <table class="vertitable">
      <tbody>
        <tr>
          <th>Filter</th>
          <td>{{ filter.name }}{{ form.filter }}</td>
        </tr>
        <tr>
          <th>Match field</th>
          <td>{{ matchfield.name }}{{ form.match_field }}</td>
        </tr>
        <tr>
          <th>
            <label for="id_operator">{{ form.operator.label }}
              <a
                  hx-get="{% url 'alertprofiles-filters-addexpression-operator-help' %}"
                  hx-target="body"
                  hx-swap="beforeend"
              >
                <i class="fa fa-info-circle"></i>
              </a>
            </label>
          </th>
          <td>{{ form.operator }}</td>
        </tr>
        <tr>
          <th>
            <label for="id_value">{{ form.value.label }}</label><br />
          </th>
          <td>
            {% if list_limited %}
              <p>
                There are more available options than the list_limit
                permits to show.<br />
              </p>
              <p>
                Showing {{ matchfield.list_limit }} of
                {{ form.number_of_choices }} available options.
              </p>
            {% endif %}
            <div>
              {{ form.value }}
            </div>
            <div>
              {# FIXME it's not good practice to trust stuff in the database #}
              {% if matchfield.value_help %}
                {{ matchfield.value_help|safe }}
              {% endif %}
            </div>
          </td>
        </tr>
        <tr>
          <th></th>
          <td><input type="submit" value="Save" class="button small"/></td>
        </tr>
      </tbody>
    </table>
  </form>
{% endblock %}
