{% extends "alertprofiles/base_detail.html" %}

{% block url_edit %}{% url 'alertprofiles-filter_groups-save' %}{% endblock %}
{% block url_remove_expression %}{% url 'alertprofiles-filter_groups-removefilter' %}{% endblock %}
{% block url_add_expression %}{% url 'alertprofiles-filter_groups-addfilter' %}{% endblock %}

{% block backnavigation %}
  <p><a href="{% url 'alertprofiles-filter_groups' %}">Back to filter-groups</a></p>
{% endblock %}


{% block headercontent %}
    {% if detail_id %}
        Filter group details
    {% else %}
        New filter group
    {% endif %}
{% endblock %}

{% block expressions_caption_content %}
    Filters
{% endblock %}

{% block expressions_thead_cols %}
    {% if owner %}
    <th></th>
    {% endif %}
    <th>Priority</th>
    <th>Operation</th>
    <th>Filter</th>
    <th></th>
    <th></th>
{% endblock %}

{% block expressions_tbody_content %}
    {% for f in filter_group_content %}
        <tr>
            {% if owner %}
            <td><input type="checkbox" name="filter" value="{{ f.id }}" /></td>
            {% endif %}

            <td>{{ f.priority }}</td>

            <td>
                {% if f.include %}
                    {{ f.positive|yesno:"Add,Add inverse" }}
                {% else %}
                    {{ f.positive|yesno:"Subtract,And" }}
                {% endif %}
            </td>

            <td><a href="{% url 'alertprofiles-filters-detail' f.filter.id  %}">{{ f.filter }}</a></td>

            <td>
                {% if not forloop.first %}
                <input type="submit" name="moveup={{ f.id }}" value="Move up" class="button secondary tiny"/>
                {% endif %}
            </td>

            <td>
                {% if not forloop.last %}
                <input type="submit" name="movedown={{ f.id }}" value="Move down" class="button secondary tiny" />
                {% endif %}
            </td>
        </tr>
    {% endfor %}
{% endblock %}

{% block addexpression %}
    {% if owner %}
      <div class="row">
        <div class="column small-12">
          <button
              class="button small secondary right"
              hx-get="{% url 'alertprofiles-filter_groups-operator-help' %}"
              hx-target="body"
              hx-swap="beforeend"
          >
              Operator help
          </button>
          <h5>Add filter</h5>
        </div>
      </div>

    <div class="row">

      <div class="column medium-6">
        <label for="select_operation">Use operation
          <select name="operator" id="select_operation" class="select2">
              <option value="11">Add</option>
              <option value="01">Subtract</option>
              <option value="00">And</option>
              <option value="10">Add inverse</option>
          </select>
        </label>
      </div>

      <div class="column medium-6">
        <label for="select_filter">on filter
          <select name="filter" id="select_filter" class="select2">
          {% for f in filters %}
              <option value="{{ f.id }}">{{ f.name }}</option>
          {% endfor %}
          </select>
        </label>
      </div>

    </div>

    <br/>
    {{ block.super }}  {% comment %}This is the form submit button....{% endcomment %}
    {% endif %}
{% endblock %}
