{% extends "alertprofiles/base_detail.html" %}

{% block url_edit %}{% url 'alertprofiles-filters-save' %}{% endblock %}
{% block url_remove_expression %}{% url 'alertprofiles-filters-removeexpression' %}{% endblock %}
{% block url_add_expression %}{% url 'alertprofiles-filters-addexpression' %}{% endblock %}

{% block backnavigation %}
  <p><a href="{% url 'alertprofiles-filters' %}">Back to filters</a></p>
{% endblock %}

{% block expressions_caption_content %}
  Expressions
{% endblock %}

{% block expressions_thead_cols %}
  {% if owner %}
    <th></th>
  {% endif %}
  <th>Field</th>
  <th>Condition</th>
  <th>Value</th>
{% endblock %}

{% block expressions_tbody_content %}
  {% for e in expressions %}
    <tr>
      {% if owner %}
        <td>
          <input type="checkbox" name="expression" value="{{ e.id }}" id="expressionid_{{ e.id }}" />
        </td>
        <td>
          <label for="expressionid_{{ e.id }}">{{ e.match_field }}</label>
        </td>
      {% else %}
        <td>{{ e.match_field }}</td>
      {% endif %}

      <td>{{ e.get_operator_display }}</td>

      {% if e.operator == 11 %}
        <td><ul class="inside">{{ e.value|unordered_list }}</ul></td>
      {% else %}
        <td>{{ e.value }}</td>
      {% endif %}
    </tr>
  {% endfor %}
{% endblock %}

{% block addexpression %}
  {% if owner %}
    <h5>
      Add another expression to this filter
        <span class="nav-tooltip">
            <i class="fa fa-info-circle" aria-describedby="expressions-tooltip"></i>
            <span id="expressions-tooltip" class="small" role="tooltip">
                Expressions are ANDed together.<br /> This means that an alert must match
                all the above expressions to match this filter.
            </span>
        </span>
    </h5>

    <div class="row">
      <div class="medium-6 column">
        <div class="row">
          <div class="medium-8 column">
            <label for="select_matchfield">Field to match</label>
            <select name="matchfield" id="select_matchfield" class="select2">
              {% for m in matchfields %}
                <option value="{{ m.id }}">{{ m.name }}</option>
              {% endfor %}
            </select>

          </div>

          <div class="medium-4 column">
            <label>&nbsp;</label>
            <input type="hidden" name="id" value="{{ detail_id }}" />
            <input type="submit" class="postfix button" value="Build expression" />
          </div>
        </div>
      </div>
    </div>
  {% endif%}

{% endblock %}
