{% extends "alertprofiles/base_list.html" %}

{% block top_links %}
  <a href="{% url 'alertprofiles-filter_groups-new' %}" class="button small">Add filter group</a>
{% endblock %}

{% block captioncontent %}
    Filter groups
{% endblock %}

{% block theadcols %}
    <th></th>

    <th>
    {% if order_by == "name" %}
        <a href="{% url 'alertprofiles-filter_groups' %}?page={{ page_obj.number }}&amp;order_by=-name">
          Name
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-filter_groups' %}?page={{ page_obj.number }}&amp;order_by=name">
          Name
          {% if order_by == "-name" %}
            <i class="fa fa-caret-up"></i>
          {% endif %}
        </a>
    {% endif %}
    </th>

    <th>
    {% if order_by == "owner" %}
        <a href="{% url 'alertprofiles-filter_groups' %}?page={{ page}}&amp;order_by=-owner">
          Owner
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-filter_groups' %}?page={{ page}}&amp;order_by=owner">
          Owner
          {% if order_by == "-owner" %}
            <i class="fa fa-caret-up"></i>
          {% endif %}
        </a>
    {% endif %}
    </th>

    <th>
    {% if order_by == "description" %}
        <a href="{% url 'alertprofiles-filter_groups' %}?page={{ page }}&amp;order_by=-description">
          Description
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-filter_groups' %}?page={{ page }}&amp;order_by=description">
          Description
          {% if order_by == "-description" %}
            <i class="fa fa-caret-up"></i>
          {% endif %}
        </a>
    {% endif %}
    </th>
{% endblock %}

{% block tablecolspan %}4{% endblock %}

{% block tbodycontent %}
    {% for filter in object_list %}
        <tr>
            <td>
                <input name="filter_group" value="{{ filter.id }}"
                type="checkbox"
                {% if not admin and not filter.owner %}disabled="disabled"{% endif %}
                />
            </td>
            <td><a href="{% url 'alertprofiles-filter_groups-detail' filter.id %}">
                {{ filter.name }}</a></td>
            <td>{% if filter.owner %}Private{% else %}Public{% endif %}</td>
            <td>{{ filter.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}
