{% extends "alertprofiles/base_list.html" %}

{% block top_links %}
  <a href="{% url 'alertprofiles-matchfields-new' %}" class="button small">New match field</a>
{% endblock %}

{% block captioncontent %}
    Matchfields
{% endblock %}

{% block tablecolspan %}3{% endblock %}

{% block theadcols %}
    <th></th>
    <th>
    {% if order_by == "name" %}
        <a href="{% url 'alertprofiles-matchfields' %}?page={{ page_obj.number }}&amp;order_by=-name">
          Name
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-matchfields' %}?page={{ page_obj.number }}&amp;order_by=name">
        Name
          {% if order_by == "-name" %}
            <i class="fa fa-caret-up"></i>
          {% endif %}
        </a>
    {% endif %}
    </th>
    <th>
    {% if order_by == "description" %}
        <a href="{% url 'alertprofiles-matchfields' %}?page={{ page_obj.number }}&amp;order_by=-description">
          Description
          <i class="fa fa-caret-down"></i>
        </a>
    {% else %}
        <a href="{% url 'alertprofiles-matchfields' %}?page={{ page_obj.number }}&amp;order_by=description">
          Description
          {% if order_by == "-description" %}
            <i class="fa fa-caret-up"></i>
          {% endif %}
        </a>
    {% endif %}
    </th>
{% endblock %}

{% block tbodycontent %}
    {% for matchfield in object_list %}
        <tr>
            <td><input name="matchfield" value="{{ matchfield.id }}" type="checkbox" /></td>
            <td><a href="{% url 'alertprofiles-matchfields-detail' matchfield.id %}">
                {{ matchfield.name }}</a></td>
            <td>{{ matchfield.description }}</td>
        </tr>
    {% endfor %}
{% endblock %}
