{% extends "alertprofiles/base_detail.html" %}

{% block url_edit %}{% url 'alertprofiles-matchfields-save' %}{% endblock %}

{% block backnavigation %}
    <p><a href="{% url 'alertprofiles-matchfields' %}">Back to matchfields</a></p>
{% endblock %}

{% block headercontent %}
    {% if detail_id %}
        Matchfield details
    {% else %}
        New matchfield
    {% endif %}
{% endblock %}

{% block form_additional_fields %}
  <div class="row">
    <div class="medium-4 column">
      <label for="id_operator">
        Available operators
          <span class="nav-tooltip">
              <i class="fa fa-info-circle" aria-describedby="available-operators"></i>
              <span id="available-operators" class="small" role="tooltip">
                  The operators that will be available to use on this match field.
                  &nbsp;&nbsp;
                  Note:
                  Only 'equals' and 'in' makes sense when 'Show list' is checked, there
                  is however nothing that will prevent you from selecting them all for
                  use on a list, but alert engine won't understand it.
              </span>
          </span>

      </label>

      <select name="operator" id="id_operator" multiple="multiple">
        {% for o in operators %}
          <option value="{{ o.id }}"
                  {% if o.selected %}selected="selected"{% endif %}
                  >{{ o.name }}</option>
        {% endfor %}
      </select>
    </div>
  </div>
{% endblock %}

{% block filter_content %}
{% endblock %}
