{% extends "alertprofiles/base.html" %}

{% block tabcontent %}
  <div class="row">
   <div class="small-12 column">
     <button
             class="button small secondary right"
             hx-get="{% url 'alertprofiles-permissions-help' %}"
             hx-target="body"
             hx-swap="beforeend"
     >
         Help
     </button>
     <h4>Choose a group to set it's permissions</h4>
   </div>
  </div>


  <table class="listtable">
    <caption>Groups</caption>

    <thead>
      <tr>
        <th>Name</th>
        {# if not selected_group #}
        <th>Description</th>
        {# endif #}
      </tr>
    </thead>

    <tbody>
    {% for group in groups %}
      <tr>
        <td>
            <a href="{% url 'alertprofiles-permissions-detail' group.id %}">{{ group.name }}</a>
        </td>
        {# if not selected_group #}
        <td>{{ group.description }}</td>
        {# endif #}
      </tr>
    {% endfor %}
    </tbody>
  </table>


  {% if selected_group %}
    <form action="{% url 'alertprofiles-permissions-save' %}" method="post">
      {% csrf_token %}
      <table class="listtable full-width">
        <caption>Set permissions for {{ selected_group.name }}</caption>

        <thead>
        <tr>
          <th></th>
          <th>Name</th>
          <th>Description</th>
        </tr>
        </thead>

        <tbody>
        {% for fg in filter_groups %}
          <tr>
            <td>
              <input type="checkbox" name="filter_group" value="{{ fg.id }}" id="filterid_{{ fg.id }}"
              {% for perm in permissions %}
                {% if perm.id == fg.id %}
                checked="checked"
                {% endif %}
              {% endfor %}
                />
            </td>
            <td><label for="filterid_{{ fg.id }}">{{ fg.name }}</label></td>
            <td>{{ fg.description }}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
      <div>
        <input type="hidden" name="group" value="{{ selected_group.id }}" />
        <input type="submit" value="Save permissions" class="button small" />
      </div>
    </form>
  {% endif %}

{% endblock %}
