{% extends "alertprofiles/base_list.html" %}

{% block tabcontent %}

  <a href="{% url 'alertprofiles-profile-new' %}" class="button small">New profile</a>
  <h4>Profiles</h4>


  <form action="{% url 'alertprofiles-profile-remove' %}" method="post">
    {% csrf_token %}
    <table class="listtable">
      <thead>
      <tr>
        <th>&nbsp;</th>

        <th>
          {% if order_by == "name" %}
            <a href="{% url 'alertprofiles-profile' %}?page={{ page_obj.number }}&amp;order_by=-name">
              Name <i class="fa fa-caret-down"></i>
            </a>
          {% else %}
            <a href="{% url 'alertprofiles-profile' %}?page={{ page_obj.number }}&amp;order_by=name">
              Name
            {% if order_by == "-name" %}
              <i class="fa fa-caret-up"></i>
            {% endif %}
            </a>
          {% endif %}
        </th>

        <th>
          Active
        </th>

        <th>&nbsp;</th>
      </tr>
      </thead>

      {% if profiles %}
        <tbody>
        {% for profile in profiles %}
          <tr>
            <td>
              <input type="checkbox" name="profile" value="{{ profile.id }}"/>
            </td>

            <td>
              <a href="{% url 'alertprofiles-profile-detail' profile.id %}">{{ profile.name }}</a>
            </td>

            {% if profile.id == active_profile.id %}
              <td>
                Active
              </td>
              <td>
                <input type="submit" name="deactivate={{ profile.id }}" value="Deactivate" class="button secondary tiny"/>
              </td>
            {% else %}
              <td>
                Inactive
              </td>
              <td>
                <input type="submit" name="activate={{ profile.id }}" value="Activate" class="button secondary tiny"/>
              </td>
            {% endif %}
          </tr>
        {% endfor %}
        </tbody>
      {% endif %}
    </table>

    {% if profiles %}
    <p>
      <input type="submit" name="remove" value="Remove selected" class="button secondary small"/>
    </p>
    {% endif %}

  </form>

{% endblock %}
