{% extends "alertprofiles/base_detail.html" %}

{% block url_edit %}{% url 'alertprofiles-profile-save' %}{% endblock %}
{% block url_add_expression %}{% url 'alertprofiles-profile-timeperiod-add' %}{% endblock %}

{% block backnavigation %}
  <p><a href="{% url 'alertprofiles-profile' %}">Back to profiles</a></p>
{% endblock %}


{% block headercontent %}
    {% if detail_id %}
       Profile details
    {% else %}
        New profile
    {% endif %}
{% endblock %}

{% block form_additional_fields %}
{% if time_period_templates %}
  <div>
    <label for="id_template">Choose a template for time periods:</label>
    <select name="template" id="id_template" class="select2">
      <option value="">No template</option>
      {% for key, template in time_period_templates.items %}
        <option value="{{ key }}" {% if key == request.POST.template %}selected{% endif %}>
          {{ template.main.description }}
        </option>
      {% endfor %}
    </select>
  </div>
{% endif %}
{% endblock %}

{% block expressions_caption_content  %}
    Time periods
{% endblock %}

{% block expressions %}
    <h4>Time periods</h4>

<form action="{% url 'alertprofiles-profile-timeperiod-remove' %}" method="post">
    {% csrf_token %}
    {% include "alertprofiles/timeperiods.html" %}
    <p>
        <input type="hidden" name="profile" value="{{ detail_id }}" />
        <input type="submit" value="Delete selected periods" class="button small" />
    </p>
</form>
{% endblock %}

{% block addexpression %}
    {% include "alertprofiles/timeperiod_form.html" %}
{% endblock %}
