{% comment %}
    {# Subcategory tabs are stored in their own files to avoid clutter #}
    {% if active.profile %}
        {% include "alertprofiles/profile_tab.html" %}
    {% else %}
        {% if active.address %}
            {% include "alertprofiles/address_tab.html" %}
        {% else %}
            {% if active.filters %}
                {% include "alertprofiles/filter_tab.html" %}
            {% else %}
                {% if active.filter_groups %}
                    {% include "alertprofiles/filter_group_tab.html" %}
                {% else %}
                    {% if active.matchfields %}
                        {% include "alertprofiles/matchfield_tab.html" %}
                    {% endif %}
                {% endif %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endcomment%}
