{% extends "alertprofiles/base.html" %}

{% block tabcontent %}
  <h4>
    Subscriptions
  </h4>

  {% if profile %}
    <p><a href="{% url 'alertprofiles-profile-detail' profile.id %}">Back to profile</a></p>
  {% else %}
    <p><a href="{% url 'alertprofiles-profile' %}">Back to profiles</a></p>
  {% endif %}

  {% if not editing %}
  <p>
     For profile "{{ time_period.profile.name }}".
     Time period starting at {{ time_period.start }} on
     {{ time_period.get_valid_during_display }}.
  </p>
  {% endif %}

{% block subscriptions %}
{% if subscriptions %}

<form action="{% url 'alertprofiles-profile-timeperiod-subscription-remove' %}" method="post">
    {% csrf_token %}
    <table class="listtable full-width">
        <thead>
            <tr>
                <th></th>
                <th>Watched filter group</th>
                <th>Alert address</th>
                <th>Dispatch</th>
                <th>Ignore resolved</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
        {% for s in subscriptions %}
            <tr>
                <td><input type="checkbox" name="subscription"
                id="id_subscription_{{ s.id }}" value="{{ s.id }}" /></td>
                <td><a href="{% url 'alertprofiles-filter_groups-detail' s.filter_group.id %}">{{ s.filter_group.name }}</a></td>
                <td>
                    {% if not s.alert_address.type.supported %}<div class="alert-box error with-icon inside-table" title="{{ s.alert_address.type.name }} is no longer supported">{% endif %}
                    {% if s.alert_address.type.blacklisted_reason %}<div class="alert-box warning inside-table" title="{{ s.alert_address.type.name }} is currently non-functional: {{ s.alert_address.type.blacklisted_reason }}">{% endif %}
                    <a href="{% url 'alertprofiles-address-detail' s.alert_address.id %}">{{ s.alert_address }}</a>
                    {% if not s.alert_address.type.supported or s.alert_address.type.blacklisted_reason %}</div>{% endif %}
                </td>
                <td>{{ s.get_type_display|capfirst }}</td>
                <td>{{ s.ignore_resolved_alerts|yesno:"Yes,No" }}</td>
                <td><a href="{% url 'alertprofiles-profile-timeperiod-subscription' s.id %}">
                    Edit</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <p>
        <input type="hidden" name="id" value="{{ time_period.id }}" />
        <input type="submit" value="Delete selected" class="button small secondary" />
    </p>
</form>
{% endif %}
{% endblock subscriptions %}

{% block subscription_form %}

<div class="addexpressionform">
    <form action="{% url 'alertprofiles-profile-timeperiod-subscription-add' %}" method="post">
        {% csrf_token %}
        <h5>{{ editing|yesno:"Edit,Add new" }} subscription</h5>
        <div class="formcontainer">

        {% if not num_addresses %}
            <div class="alert-box alert">
              There are no alert addresses.
              <a href="{% url 'alertprofiles-address-new' %}">Add your first address</a> to fix this problem.
            </div>
        {% endif %}

        {% if not num_filter_groups %}
            <div class="alert-box alert">
              There are no available filter groups.
              <a href="{% url 'alertprofiles-filter_groups-new' %}">Add your first filter group</a> to fix this problem.
            </div>
        {% endif %}
          {% include 'custom_crispy_templates/_form_content.html' %}
          <input type="submit" value="{{ editing|yesno:"Save,Add" }}" class="button small"/>
        </div>
    </form>
</div>

{% endblock subscription_form %}

{% endblock %}
