{% load date_and_time %}

<div id="timeperiods_table_container" class="row">
{% for type in alert_subscriptions %}
  <div class="column medium-6">
<table class="listtable full-width">
    <caption>
        {{ type.title }}
        <span class="nav-tooltip" data-align="end" style="float: right;">
            <i class="fa fa-info-circle right" aria-describedby="subscription-tooltip-{{ type.title }}"></i>
            <span id="subscription-tooltip-{{ type.title }}" class="small" role="tooltip">
                If, when hovering over one period in one of the tables, two rows
                in different tables are highlighted, those two periods are
                actually the one and same period. It's just an <em>all days</em> period.
            </span>
        </span>
    </caption>

    <thead>
        <tr>
            <th></th>
            <th>Valid during</th>
            <th>Subscriptions</th>
        </tr>
    </thead>

    <tbody>
    {% for a in type.subscriptions %}
      <tr class="{% if a.time_period.get_valid_during_display == 'all days' %}all_days_period period_{{ a.time_period.id }} {% endif %}align-top">
        {# The same time period may appear in both tables, so we need to #}
        {# identify by both the parent loops counter and the time_periods id. #}

        <td class="{{ a.time_period.css_class }}">
          {% if active.profile %}
            <input type="checkbox" name="period"
                   id="id_period_weekday_{{ a.time_period.id }}"
                   value="{{ a.time_period.id }}"
                   class="all_day_checkbox_{{ a.time_period.id }}"/>
          {% endif %}
        </td>

        <td>
          <a href="{% url 'alertprofiles-profile-timeperiod'  a.time_period.id %}">
            {{ a.time_period.start|short_time_format }} - {{ a.time_period.end|short_time_format }}
          </a>
        </td>

        <td>
          <ul class="inside">
          {% if a.alert_subscriptions %}
            {% for b in a.alert_subscriptions %}
            <li>
                Watch <em><a href="{% url 'alertprofiles-filter_groups-detail' b.filter_group.id %}">{{ b.filter_group.name }}</a></em>,
                send to
                {% if not b.alert_address.type.supported %}<div class="alert-box error with-icon inside-table" title="{{ b.alert_address.type.name }} is no longer supported">{% endif %}
                {% if b.alert_address.type.blacklisted_reason %}<div class="alert-box warning inside-table" title="{{ b.alert_address.type.name }} is currently non-functional: {{b.alert_address.type.blacklisted_reason}}">{% endif %}
                <em><a href="{% url 'alertprofiles-address-detail' b.alert_address.id %}">{{ b.alert_address.address }}</a></em>
                {% if not b.alert_address.type.supported or b.alert_address.type.blacklisted_reason %}</div>{% endif %},
                {{ b.get_type_display }}.
            </li>
            {% endfor %}
          {% else %}
            <li><em>No subscriptions in this time period.</em></li>
          {% endif %}
          </ul>
          <a href="{% url 'alertprofiles-profile-timeperiod-setup' a.time_period.id %}"
             class="button tiny secondary">
            Edit subscriptions
          </a>
        </td>

      </tr>
    {% endfor %}
    </tbody>
</table>
  </div>
{% endfor %}
</div>
