## formTemplate

#extends nav.web.templates.MainTemplate

#def additionalCSS
    TR.header   { background-color: white;
                  background-image:url('/images/ragen/navbar-fill.gif');
                  background-repeat: repeat-x;
                  height: 26px;
                  padding: 1px 0px 0px 0px;
                  font-size: 13; }

    TR.evenrow  { font-size: 12; background-color: #eeeeee; }
    TR.oddrow   { font-size: 12; }

    P.error     { color: #ff0000; }
    P.status    { color: #00bb00; }
    P.infotext  { width: 80%;
                  font-size: 13; }
$default_form_CSS()
#end def

#def content
#if $editList
$showList($editList)
#elif $editForm
$showForm($editForm)
#else
$showBody($body)
#end if
#end def

## Template function to show a body object
#def $showBody($body)
    <h2>$body.title</h2>
    <p class="infotext">$body.infotext</p>
    <p>
#if not $body.showHelp
        <a href="$body.help[0]">$body.help[1]</a>

#else
        <a href="$body.nohelp[0]">$body.nohelp[1]</a>
#end if
    </p>
#for $table in $body.tables
    <h3>$table.title</h3>
#if $table.infotext
    <p>$table.infotext</p>
#end if
#if $body.showHelp
    <table style="width: 80%;">
#else
    <table style="width: 40%;">
#end if
#if $table.headings
        <tr>
#for $heading in $table.headings
            <th>$heading</th>
#end for
        </tr>
#end if
#set odd = False
#for $row in $table.rows
#if odd == True
#set style = "oddrow"
#set odd = False
#else
#set style = "evenrow"
#set odd = True
#end if
#if $body.showHelp
#set $rowstyle=['width: 10%;','width: 60%;','','','']
#else
#set $rowstyle=['width: 40%;','','width: 15%;','width: 15%;','width: 30%;']
#end if
        <tr class="$style" title="$row[1]">
            <td style="$rowstyle[0]">$row[0]</td>
#if $body.showHelp
            <td style="$rowstyle[1]">$row[1]</td>
#end if
#if $row[2]
## Add
            <td style="$rowstyle[2]"><a href="$row[2][0]">$row[2][1]</a></td>
#else
            <td>&nbsp;</td>
#end if
            <td style="$rowstyle[3]"><a href="$row[3][0]">$row[3][1]</a></td>
#if $row[4]
## Bulk import
            <td style="$rowstyle[4]"><a href="$row[4][0]">$row[4][1]</a></td>
#else
            <td>&nbsp;</td>
#end if
        </tr>
#end for
    </table>
#end for
#end def


## Template function to display a list for selecting
## which entries to edit, or delete
#def showList($list)
    <H3>$list.title</H3>
#if $list.error
    <P class='error'>$list.error</P>
#end if
#if $list.status
    <P class='status'>$list.status</P>
#end if
    <FORM method="$list.method" action="$list.action">
#if $list.hiddenIdValue
        <INPUT type="hidden" name="$list.cnameHiddenId" value="$list.hiddenIdValue">
#end if
#if not $list.isDeleteList
    $actionBar($list)
#end if
        <TABLE border="0" cellspacing="0" cellpadding="0">
            <TR class="header">
                <TD bgcolor="white" style="background-image:url('/images/ragen/navbar-start.gif'); background-repeat: no-repeat; width: 14px">
#for $heading in $list.headings
                <TD valign="top">$heading&nbsp;</TD>
#end for
                <TD bgcolor="white" style="background-image:url('/images/ragen/navbar-end.gif'); background-position: top right; background-repeat: no-repeat; width: 14px;">
            </TR>
#set $odd = True
#for $id,$row in $list.rows
#if $odd
#set $rowtype = 'oddrow'
#set $odd = False
#else
#set $rowtype = 'evenrow'
#set $odd = True
#end if
            <TR class="$rowtype">
                <TD>&nbsp;</TD> ## first column is start gfx (fix)
#if not ($list.isDeleteList or $list.isBulkList)
                <TD><INPUT type="checkbox" name="$list.cnameChk" value="$id" align="center">&nbsp;&nbsp;</TD>
#elif $list.isDeleteList
                <INPUT type="hidden" name="$list.cnameChk" value="$id">
#end if
#for $entry,$link in $row
#if $link
                <TD><A href="$link">$entry[0]</A>&nbsp;&nbsp;</TD>
#else
                <TD>
#for $line in $entry
                    $line&nbsp;&nbsp;<BR>
#end for
                </TD>
#end if
#end for
                <TD>&nbsp;</TD> ## last column is end gfx (fix)
            </TR>
#end for
        </TABLE>
    $actionBar($list)
#if $list.isBulkList
#for $data in $list.hiddenData
    <INPUT type="hidden" name="$list.cnameHiddenData" value="$data">
#end for
#end if
    </FORM>
    $showPath(False)
#end def

## This function displays the bar with add/edit/delete buttons
#def actionBar($list)
    <P>
        <TABLE>
            <TR>
#if not ($list.isDeleteList or $list.isBulkList)
                <TD><INPUT type="submit" name="$list.cnameAdd" value="$list.textAdd"></TD>
                <TD><INPUT type="submit" name="$list.cnameEdit" value="$list.textEdit"></TD>
                <TD><INPUT type="submit" name="$list.cnameDelete" value="$list.textDelete"</TD>
#elif $list.isDeleteList
                <TD><INPUT type="submit" name="$list.cnameDeleteConfirm" value="$list.textDeleteConfirm"></TD>
#elif $list.isBulkList
                <TD><INPUT type="submit" name="$list.cnameBulkConfirm" value="$list.textBulkConfirm"></TD>
#end if
            </TR>
        </TABLE>
    </P>
#end def

## Template function for displaying a form for adding or editing
#def showForm($form)
    <H3>$form.title</H3>
#if $form.error
    <P class='error'>$form.error</P>
#end if
#if $form.status 
    <P class='status'>$form.status</P>
#end if
    <FORM method="$form.method" action="$form.action" enctype="$form.enctype">
#for $editbox in $form.editboxes
        <INPUT type="hidden" name="$editbox.boxName" value="$editbox.boxId">
        <P>
#if $editbox.type == 'room'
            $room($editbox)
#elif $editbox.type == 'location'
            $location($editbox)
#elif $editbox.type == 'org'
            $org($editbox)
#elif $editbox.type == 'type'
            $typebox($editbox)
#elif $editbox.type == 'vendor'
            $vendor($editbox)
#elif $editbox.type == 'netbox'
            $netbox($editbox)
#elif $editbox.type == 'netboxserial'
            $netboxserial($editbox)
#elif $editbox.type == 'netboxcategory'
            $netboxcategory($editbox)
#elif $editbox.type == 'netboxproduct'
            $netboxproduct($editbox)
#elif $editbox.type == 'bulk'
            $bulk($editbox)
#elif $editbox.type == 'usage'
            $usage($editbox)
#elif $editbox.type == 'service'
            $service($editbox)
#elif $editbox.type == 'serviceproperties'
            $serviceproperties($editbox)
#elif $editbox.type == 'product'
            $product($editbox)
#elif $editbox.type == 'prefix'
            $prefix($editbox)
#elif $editbox.type == 'vlan'
            $vlan($editbox)
#elif $editbox.type == 'subcat'
            $subcat($editbox)
#elif $editbox.type == 'hiddenormessage'
            $hiddenormessage($editbox)
#end if
        </P>
#end for
#if $form.showConfirm
        <TABLE>
            <TR>
                <TD><INPUT type="submit" name="$form.cnameConfirm" value="$form.textConfirm"></TD>
            </TR>
        </TABLE>
    </FORM>
#end if
#end def

## Template function for entering a serialnumber
#def netboxserial($editbox)
#set $fields = $editbox.fields
    <P>
        <TABLE class="header-active">
            <TR>
                <TD>Sysname</TD>
                <TD>$editbox.sysname</TD>
            </TR>
            <TR>
                <TD>Type</TD>
                <TD>$editbox.typename</TD>
            </TR>
            <TR>
                <TD>SNMP version</TD>
                <TD>$editbox.snmpversion</TD>
            </TR>
        </TABLE>
    </P>
    <P>$editbox.help</P>
    <P>
        <TABLE class="header-active">
            <TR>
                <TH>Serialnumber</TH>
            </TR>
            <TR>
                <TD>$input($fields['serial'])</TD>
            </TR>
        </TABLE>
    </P>
<!-- def netboxserial ->
$hiddenfields($editbox.hiddenFields)
#end def

## Template function for choosing between netboxes with
## identical serials, but (hopefully) different products
#def netboxproduct($editbox)
#set $fields = $editbox.fields
    <P>$editbox.help</P>
    <TABLE class="header-active">
    </TABLE>
#end def

## Template function for server subcat and function
#def netboxcategory($editbox)
#set $fields = $editbox.fields
    <P>$editbox.help</P>
    <P>
        <TABLE class="header-active">
#if $fields.has_key('subcat')
            <TR>
                <TH>Subcategory</TH>
            </TR>
            <TR>
                <TD>$input($fields['subcat'],'width: 100%;')</TD>
            </TR>
#end if
            <TR>
                <TH>Function</TH>
            </TR>
            <TR>
                <TD>$input($fields['function'])</TD>
            </TR>
        </TABLE>
    </P>
#end def

## Template function for adding or editing a netbox
#def netbox($editbox)
#set $fields = $editbox.fields
#if $editbox.editId
    <H3>$editbox.sysname</H3>
#end if
        <TABLE class="header-active">
            <TR>
                <TH>IP</TH>
                <TH>Category</TH>
            </TR>
            <TR>
                <TD>$input($fields['ip'])</TD>
                <TD>$input($fields['catid'],style='width: 100%;')</TD>
            </TR>
            <TR>
                <TH>RO Community</TH>
                <TH>Room</TH>
            </TR>
            <TR>
                <TD>$input($fields['ro'])</TD>
                <TD>$input($fields['roomid'],style='width: 100%;')</TD>
            </TR>
            <TR>
                <TH>RW Community</TH>
                <TH>Organisation</TH>
            </TR>
            <TR>
                <TD>$input($fields['rw'])</TD>
                <TD>$input($fields['orgid'])</TD>
            </TR>
        </TABLE>
<!-- def netbox ->
$hiddenfields($editbox.hiddenFields)
#end def

## Template function for adding or editing a room
#def room($editbox)
#set $fields = $editbox.fields
    <TABLE class="header-active">
        <TR>
            <TH>Room ID</TH>
            <TH>Location</TH>
            <TH colspan="2">Description</TH>
        </TR>
        <TR>
            <TD>$input($fields['roomid'])</TD>
            <TD>$input($fields['locationid'])</TD>
            <TD colspan="2">$input($fields['descr'],'width: 100%;')</TD>
        </TR>
        <TR>
            <TH>Optional 1</TH>
            <TH>Optional 2</TH>
            <TH>Optional 3</TH>
            <TH>Optional 4</TH>
        </TR>
        <TR>
            <TD>$input($fields['opt1'])</TD>
            <TD>$input($fields['opt2'],'width: 100%;')</TD>
            <TD>$input($fields['opt3'])</TD>
            <TD>$input($fields['opt4'])</TD>
        </TR>
    </TABLE>
#end def

## Template function for adding or editing a location
#def location($editbox)
#set $fields = $editbox.fields
    <TABLE class="header-active" width="50%">
        <TR>
            <TH width="30%">Location ID</TH>
            <TH width="70%">Description</TH>
        </TR>
        <TR>
            <TD>$input($fields['locationid'],'width: 100%;')</TD>
            <TD>$input($fields['descr'],'width: 100%;')</TD>
        </TR>
    </TABLE>
#end def

## Template function for adding or editing an org
#def org($editbox)
#set $fields = $editbox.fields
    <TABLE class="header-active">
        <TR>
            <TH>Org ID</TH>
            <TH colspan="2">Parent</TH>
        </TR>
        <TR>
            <TD>$input($fields['orgid'])</TD>
            <TD colspan="2">$input($fields['parent'])</TD>
        </TR>
        <TR>
            <TH colspan="3">Description</TH>
        </TR>
        <TR>
            <TD colspan="3">$input($fields['descr'],'width: 100%;')</TD>
        </TR>
        <TR>
            <TH>Optional 1</TH>
            <TH>Optional 2</TH>
            <TH>Optional 3</TH>
        </TR>
        <TR>
            <TD>$input($fields['opt1'])</TD>
            <TD>$input($fields['opt2'])</TD>
            <TD>$input($fields['opt3'])</TD>
        </TR>
    </TABLE>
#end def

## Template function for adding or editing a type
#def typebox($editbox)
#set $fields = $editbox.fields
    <TABLE class="header-active" width="60%">
        <TR>
            <TH colspan="3" width="30%">Typename</TH>
            <TH>Description</TH>
        </TR>
        <TR>
            <TD colspan="3">$input($fields['typename'],'width: 100%;')</TD>
            <TD>$input($fields['descr'],'width: 100%;')</TD>
        <TR>
            <TH colspan="3">Vendor</TH>
            <TH>Sysoid</TH>
        </TR>
            <TD colspan="3">$input($fields['vendorid'],'width: 100%;')</TD>
            <TD>$input($fields['sysobjectid'],'width: 100%')</TD>
        </TR>
        <TR>
            <TH>CDP</TH>
            <TH>TFTP</TH>
            <TH>Frequency</TH>
            <TD>&nbsp;</TD>
        </TR>
        <TR>
            <TD align="center">$input($fields['cdp'])</TD>
            <TD align="center">$input($fields['tftp'])</TD>
            <TD>$input($fields['frequency'])</TD>
            <TD>&nbsp;</TD>
        </TR>
</TABLE>
#end def

## Template function for adding or editing a product
#def product($editbox)
#set $fields = $editbox.fields
#if $fields.has_key('productid')
$input($fields['productid'])
#end if
    <TABLE class="header-active">
        <TR>
            <TH>Vendorid</TH>
            <TH>Productno</TH>
        </TR>
        <TR>
            <TD>$input($fields['vendorid'])</TD>
            <TD>$input($fields['productno'])</TD>
        </TR>
        <TR>
            <TH colspan="2">Description</TH>
        </TR>
        <TR>
            <TD colspan="2">$input($fields['descr'],'width: 100%;')</TD>
        </TR>
    </TABLE>
#end def

## Template function for adding or editing a vendor
#def vendor($editbox)
#set $fields = $editbox.fields
    <TABLE class="header-active">
        <TR>
            <TH>Vendor name</TH>
        </TR>
        <TR>
            <TD>$input($fields['vendorid'])</TD>
        </TR>
    </TABLE>
#end def

## Template function for adding or editing a user category
#def usage($editbox)
#set $fields = $editbox.fields
    <TABLE class="header-active">
        <TR>
            <TH>User category</TH>
            <TH>Description</TH>
        </TR>
        <TR>
            <TD>$input($fields['usageid'])</TD>
            <TD>$input($fields['descr'])</TD>
        </TR>
    </TABLE>
#end def

## Template function for adding or editing a service
#def service($editbox)
#set $fields = $editbox.fields
    <P>$editbox.help</P>
    <TABLE class="header-active">
        <TR>
            <TH>Server</TH>
            <TH>Handler</TH>
        </TR>
        <TR>
            <TD>$input($fields['netboxid'])</TD>
            <TD>$input($fields['handler'])</TD>
        </TR>
    </TABLE>
$hiddenfields($editbox.hiddenFields)
#end def

## Template function for adding or editing service properties
#def serviceproperties($editbox)
#if $editbox.show
#set $args = $editbox.args
#set $optargs = $editbox.optargs
    <P>$editbox.title</P>
    <TABLE class="header-active">
#if len($editbox.args)
            <TR>
                <TH colspan="2">Required</TH>
            </TR>
#for $field,$content in $args.items()
            <TR>
                <TD>$field</TD>
                <TD>$input($args[$field])</TD>
            </TR>
#end for
#end for
#end if
#if len($editbox.optargs)
            <TR>
                <TH colspan="2">Optional</TH>
            </TR>
#for $field,$content in $optargs.items()
            <TR>
                <TD>$field</TD>
                <TD>$input($optargs[$field])</TD>
            </TR>
#end for
#end if
    </TABLE>
#end if
#end def

## Template function for prefix editing
#def $prefix($editbox)
#set $fields = $editbox.fields
    <TABLE class="header-active">
        <TR>
            <TH colspan="2">Prefix/mask (cidr)</TH>
            <TH>Description</TH>
        </TR>
        <TR>
            <TD colspan="2">$input($fields['netaddr'])</TD>
            <TD>$input($fields['description'],style='width: 100%;')</TD>
        </TR>
        <TR>
            <TH colspan="2">Netident</TH>
            <TH>Organisation</TH>
        </TR>
        <TR>
            <TD colspan="2">$input($fields['netident'])</TD>
            <TD>$input($fields['orgid'])</TD>
        </TR>
        <TR>
            <TH>Nettype</TH>
            <TH>Vlan</TH>
            <TH>Usage</TH>
        </TR>
        <TR>
            <TD>$input($fields['nettype'])</TD>
            <TD>$input($fields['vlannumber'])</TD>
            <TD>$input($fields['usageid'],style='width: 100%')</TD>
        </TR>
    </TABLE>
#end def

## Template function for vlan editing
#def $vlan($editbox)
#set $fields = $editbox.fields
    <TABLE class="header-active">
        <TR>
            <TH colspan="2">Netident</TH>
            <TH>Organisation</TH>
        </TR>
        <TR>
            <TD colspan="2">$input($fields['netident'])</TD>
            <TD>$input($fields['orgid'])</TD>
        </TR>
        <TR>
            <TH>Nettype</TH>
            <TH>Vlan</TH>
            <TH>Usage</TH>
        </TR>
        <TR>
            <TD>$input($fields['nettype'])</TD>
            <TD>$input($fields['vlan'])</TD>
            <TD>$input($fields['usageid'],style='width: 100%')</TD>
        </TR>
        <TR>
            <TH colspan="3">Description</TH>
        </TR>
        <TR>
            <TD colspan="3">$input($fields['description'],style='width: 100%;')</TD>
        </TR>
    </TABLE>
#end def

## Template function for adding or editing a subcategory
#def subcat($editbox)
#set $fields = $editbox.fields
    <TABLE class="header-active">
        <TR>
            <TH>Subcategory</TH>
            <TH colspan="2">Category</TH>
        </TR>
        <TR>
            <TD>$input($fields['subcatid'])</TD>
            <TD colspan="2">$input($fields['catid'])</TD>
        </TR>
        <TR>
            <TH colspan="3">Description</TH>
        </TR>
        <TR>
            <TD colspan="3">$input($fields['descr'],'width: 100%;')</TD>
        </TR>
    </TABLE>
#end def

## Template function for showing a message and adding hidden controls
#def hiddenormessage($editbox)
<p>$editbox.message</p>
<!-- def hiddenormessage ->
$hiddenfields($editbox.hiddenFields)
#end def

## Template function for bulk import
#def $bulk($editbox)
#set $fields = $editbox.fields
    <P>$editbox.help</P>
    <TABLE class="header-active">
        <TR>
            <TH align="left">Import</TH>
            <TD>$input($fields['table'],'width: 60%;')</TD>
        </TR>
        <TR>
            <TH align="left">Separator</TH>
            <TD>$input($fields['separator'],'width: 60%;')</TD>
        </TR>
        <TR>
            <TH align="left">Import from file</TH>
            <TD>$input($fields['file'],'width: 60%;')</TD>
        </TR>
        <TR>
            <TH align="left">Import from text</TH>
            <TD>$input($fields['textarea'])</TD>
        </TR>
    </TABLE>
#end def

## Template function to write out all hidden input fields
#def $hiddenfields($fieldlist)
#for $field in $fieldlist.values()
$input($field)
#end for
#end def

## Template function to display all input fields
#def $input($control,$style='')
#if $control[0].disabled
#set $disabled = 'disabled'
#else
#set $disabled = ''
#end if
#set $control = $control[0]
#if $control.type == 'text'
#if $control.maxlength
<INPUT $disabled type="text" style="$style" size="$control.size" maxlength="$control.maxlength" name="$control.name" value="$control.value">
#else
<INPUT $disabled type="text" style="$style" size="$control.size" name="$control.name" value="$control.value">
#end if
#elif $control.type == 'select'
<SELECT $disabled name="$control.name" style="$style" $control.attribs>
#for $id,$option in $control.options
#if $id == $control.value
    <OPTION value="$id" selected>$option</OPTION>
#else
    <OPTION value="$id">$option</OPTION>
#end if
#end for
</SELECT>
#elif $control.type == 'multipleselect'
<SELECT multiple name="$control.name" style="$style">
#for $id,$option in $control.options
#if $control.value.count($id)
    <OPTION value="$id" selected>$option</OPTION>
#else
    <OPTION value="$id">$option</OPTION>
#end if
#end for
</SELECT>
#elif $control.type == 'file'
    <INPUT type="file" style="$style" name="$control.name" value="$control.value">
#elif $control.type == 'textarea'
    <TEXTAREA name="$control.name" style="$style" rows="$control.rows" cols="$control.cols">$control.value</TEXTAREA>
#elif $control.type == 'checkbox'
#if $control.value == True
## VALUE is hardcoded to 1, which is good for boolean fields in the db
    <INPUT type="checkbox" style="$style" name="$control.name" value="1" checked>
#else
    <INPUT type="checkbox" style="$style" name="$control.name" value="1">
#end if
#elif $control.type == 'hidden'
    <INPUT type="hidden" name="$control.name" value="$control.value">
#else
Undefined control
#end if
#end def
