#encoding UTF-8
##
##
## Copyright 2008 UNINETT AS
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##


#extends nav.web.templates.MainTemplate

#block additionalCSS
    <link rel="stylesheet" href="/style/report.css" type="text/css" /> 
#end block additionalCSS

#block content

<h2>Report List</h2>

#if $report_list_local
<h3>Local reports</h3>
<ul>
    #for $report in $report_list_local
    <li>
        <a href="/report/$report[0]">$report[1]</a>
        <p class="listdescr">$report[2]</p>
    </li>
    #end for
</ul>
#end if

<h3>Default reports</h3>
<ul>
#for $report in $report_list
    <li>
        <a href="/report/$report[0]">$report[1]</a>
        <p class="listdescr">$report[2]</p>
    </li>
#end for
</ul>

#end block content
