{% extends "info/base.html" %}

{% block base_header_additional_head %}
  {{ block.super }}
  <style>
   #tablecontainer {
       overflow: auto;
   }

   #tablecontainer > table {
       float: left;
       margin-right: 1em;
   }

   table caption {
       white-space: nowrap;
   }

   table.searchresults {
       width: 500px;
   }
  </style>
{% endblock %}



{% block content %}

  {% block vlandetails %}

    <h3>VLAN search</h3>

    {% include 'custom_crispy_templates/flat_form.html' %}

    {% if form.is_bound %}
      {% if vlans %}
        <table class="listtable searchresults">
          <caption>{{ vlans|length }} result{{ vlans|pluralize:",s" }}
            for "{{ form.data.query }}"
          </caption>

          <thead>
            <tr>
              <th>Vlan</th>
              <th>Type</th>
              <th>Netident</th>
              <th>Description</th>
            </tr>
          </thead>

          <tbody>
            {% for vlan in vlans %}
              <tr>
                <td>
                  <a href="{% url 'vlan-details' vlan.id %}">{{ vlan.vlan }}</a>
                </td>
                <td>
                  {{ vlan.net_type }}
                </td>
                <td>
                  {{ vlan.net_ident }}
                </td>
                <td>
                  {{ vlan.description }}
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="messages">No vlans found</p>
      {% endif %}

    {% endif %}

  {% endblock %}

{% endblock %}
