{% extends "info/base.html" %}

{% block base_header_additional_head %}
  {{ block.super }}
  <style>
   #tablecontainer {
       overflow: auto;
   }

   #tablecontainer > table {
       float: left;
       margin-right: 1em;
   }

   table caption {
       white-space: nowrap;
   }

   table.searchresults {
       width: 500px;
   }
  </style>
{% endblock %}



{% block content %}

  {% block vlandetails %}

    <h3>VLAN search</h3>

    {% include 'info/_search_form.html' with form=form %}
    <div id="search-results">
    {% if form.is_bound %}
        {% include 'info/vlan/_search_results.html' with form=form vlans=vlans %}
    {% endif %}
    </div>

  {% endblock %}

{% endblock %}
