.accordion {
    > ul {
        border: 1px solid #999999;
        margin-left: 0;
        > li {
            list-style-type: none;
            &:last-child > a {
                border-bottom: none;
            }
            > a {
                background-color: #dae1e6;
                border-bottom: 1px solid #999999;
                color: #333333;
                display: block;
                padding: 0.6em 1em;
                &:hover {
                    background-color: #eee;;
                }
            }
        }
    }
    .accordion-content {
        border-bottom: 1px solid #999999;
        padding: 1em;
    }
}

