{% extends 'threshold/base.html' %}

{% block content %}

<p>
<table class="vertitable">
<thead>
    <tr>
        <th>Netbox</th>
        <th>Interface name</th>
        <th>Interface alias</th>
        <th>ID</th>
        <th>Description</th>
        <th>Operator</th>
        <th>Threshold</th>
        <th>Max</th>
        <th>Thresholdstate</th>
    </tr>
</thead>
<tbody>
{% regroup thresholds by get_netbox as netboxes %}
{% for lines in netboxes %}
<tr><td>{{ lines.grouper.get_short_sysname }}</td><td></td></tr>
{% for threshold in lines.list %}
    <tr class="{% cycle oddrow,evenrow %}">
        <td>{{ threshold.rrd_file.netbox.get_short_sysname }}</td>
        <td>{{ threshold.rrd_file.interface.ifname }}</td>
        <td>{{ threshold.rrd_file.interface.ifalias }}</td>
        <td><a href="/threshold/edit/{{ threshold.id }}/">{{ threshold.id }}</a></td>
        <td>{{ threshold.description }}</td>
        <td align="center">{% if threshold.delimiter %}{{ threshold.delimiter }}{% endif %}</td>
	{% if threshold.threshold %}
        <td>{{ threshold.threshold }}</td>
        <td>{% if threshold.max %}{{ threshold.max }}{% endif %}</td>
        <td>{{ threshold.state }}</td>
	{% else %}
	<td></td>
	<td></td>
	<td></td>
	{% endif %}
    </tr>
{% endfor %}
{% endfor %}
</tbody>

</table>
</p>
{% endblock %}

