{% extends "radius/base.html" %}

{% block base_header_additional_head %}
  <script type="text/javascript" src="/js/jquery.js"></script>
{% endblock %}

{% block content %}

  <div id="forms">
    <form id="search" action="" method="get">
      {% csrf_token %}
      <table class="vertitable">
        <tr>
          <th>{{ form.query.label_tag }}</th>
          <td colspan="2">{{ form.query }}</td>
        </tr>
        <tr>
          <th>{{ form.port_type.label_tag }}</th>
          <td>{{ form.port_type }}</td>
        </tr>
        <tr>
          <th>Time</th>
          <td colspan="3"></td>
        </tr>
        <tr>
          <th><input id="mode_days" type="radio" name="timemode" value="days" checked></th>
          <td>{{ form.days }}</td>
          <td>{{ form.days.label_tag }}</td>
        </tr>
        <tr>
          <th><input id="mode_timestamp" type="radio" name="timemode" value="timestamp"></th>
          <td colspan="2">{{ form.timestamp }}</td>
        </tr>
        <tr>
          <th><input id="mode_all" type="radio" name="timemode" value=""></th>
          <td>All time</td>
        </tr>
        <tr>
          <th rowspan="2">{{ form.dns_lookup.label_tag }}</th>
          <td rowspan="2">{{ form.dns_lookup }}</td>
        </tr>
      </table>
      <input type="hidden" id="timemode" value="{{ form.timemode.data }}">
      <input type="submit" name="send" value="Search">
      <input type="reset" value="Clear">
    </form>
  </div>

  {% if table %}
results
  {% else %}
    <div class="infobox">
      <h5>Radius accounting search hints and information</h5>
      <ul>
        <li>Username search allows wildcard searching, e.g. you can search for
          &quot;dat3*&quot;. Please note that the more letters of the
          username you include, the faster the search will be. A search for
          &quot;*&quot;, for example, will really test your
          patience.</li>

        <li>You can search for switch port on any particular switch by typing
          the switch hostname/ip address followed by a colon and the name
          of the switch port. Eg. switch.domain.com:FastEther0/2
        <li>In the search results, you will probably notice some things that
          might seem a bit weird at first:

          <ul>
            <li class="sub">
              You will see that some search results do not contain a timestamp in
              the Stop field. This occurs when 1) the session is still active,
              or 2) no explicit Stop message has been received by freeradius.
              You will have to check the Duration field to see which one it is.
            </li>

            <li class="sub">
              Sometimes the displayed session duration does not equal the difference
              between stop and start time. This occurs if the registered start time
              was actually not an explicit Start message, but the first sign of life
              (an Alive message) we got for this session. The Stop message always,
              as far as I know, contain the length of the session, and so when we
              have a Stop message this session length is being used during a search
              for a specific time interval.
            </li>
          </ul>
        </li>
        <li>Please notice that we only know the amount of data transferred for
          sessions where an explicit Stop message has been received. All transfer
          statistics should therefore be taken with a rather big scoop of salt,
          since the numbers don't include currently active sessions and since we
          have no way of making sure at which point in the session the transfers
          took place.
        </li>
        <li>Search type IP-range takes input in CIDR form, example:
          169.254.0.0/16
        </li>

      </ul>
    </div>

  {% endif %}

  <script>


  </script>

{% endblock content %}