{% extends "radius/base.html" %}
{% load crispy_forms_tags %}
{% load radius %}

{% block content %}

  <div class="row">
    <div class="small-12 column">
      <a href="javascript:void(0);" class="button small secondary"
         data-reveal-id="account-chart-hints">Chart information</a>
    </div>
  </div>

  <div id="form">
    {% crispy form %}
  </div>

  <ul class="large-block-grid-2">

    {% for table in tables %}
      <li>
        <table id="charttable{{ forloop.counter }}" class="listtable full-width">
          <caption>
            {{ table.0 }}<br>
          </caption>

          <thead>
          <tr>
            <th>Pos.</th>
            <th>Username</th>
            <th>Transferred</th>
            <th>Time</th>
          </tr>
          </thead>

          <tbody>
          {% for row in table.1 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a>{{ row.username|default:"" }}</a></td>
              <td>{{ row.sortfield|filesizeformat }}</td>
              <td>{{ row.acctsessiontime|time_from_seconds }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </li>
    {% endfor %}
  </ul>

  {% block radius-helper %}
    <div id="account-chart-hints" class="reveal-modal">
      <h5>Radius accounting chart information</h5>

      <p>
        <i>"There are three types of lies - lies, damn lies, and
          statistics."</i>
      </p>

      <p>
        We get transfer data from sessions that have ended, and where we
        received an explicit Stop message. These charts show transfer data
        for all sessions that <u>ended</u> during the specified time
        period, so the data could actually have been transferred before
        this period.
      </p>
    </div>
  {% endblock %}

{% endblock content %}
