{% extends "base.html" %}

{% block base_header_additional_head %}
  <script>require(["src/radius"]);</script>
{% endblock base_header_additional_head %}

{% block base_content %}

  <div class="tabs">
    <ul>
      <li class="{{ acctsearch|yesno:"tabactive," }}"><a href="acctsearch">Account Log</a></li>
      <li class="{{ logsearch|yesno:"tabactive," }}"><a href="logsearch">Error Log</a></li>
      <li class="{{ acctcharts|yesno:"tabactive," }}"><a href="acctcharts">Account Charts</a></li>
    </ul>
  </div>

  <div class="tabcontent">

    {% if errors %}
      {{ errors.as_text }}
    {% endif %}

    {% block content %}
    {% endblock content %}
  </div>

{% endblock base_content %}