{% extends "base.html" %}

{% load report %}

{% block base_header_additional_head %}
{# FIXME: This should REALLY be in a stylesheet! #}
<style>
th.col0 { padding-right: 5px; border-right: 1px solid #ccc; text-align: left; }
td.col1 { padding-left: 5px; }
table.sessioninfo { font-size: 0.9em; padding-bottom: 15px; }
</style>
{% endblock base_header_additional_head %}

{% block base_content %}

  <div id="radius">
    <div id="results">
      <table class="sessioninfo">
        {% for desc, field in fields %}
          <tr>
            <th class="col0">
              {{ desc }}
            </th>
            <td class="col1">
              {{ field|default:""|safe }}
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </div>

{% endblock base_content %}