{% extends "devicehistory/base.html" %}

{% block tabcontent %}
    <p class="panel">
        Search for a location, room, box, module, serial number, hostname, or IP to view device history. No components are shown until you search.
    </p>
    <form action="{% url 'devicehistory-search' %}" method="get">
        <div class="row">
            <div class="large-8 column">
              {% include 'custom_crispy_templates/_form_content.html' with disable_csrf=True %}
            </div>
        </div>
        {% include 'devicehistory/_component_search_input.html' with post_url='devicehistory-component-search' %}
    </form>
{% endblock %}
