{% extends "devicehistory/base.html" %}

{% block tabcontent %}
  <a href="{% url 'devicehistory-search' %}" class="button small secondary">New search</a>

  <div class="row">
    <div class="medium-9 columns">
      <form
              hx-get="{% url 'devicehistory-view' %}"
              hx-target="#device-history-search-results"
              hx-swap="innerHTML"
      >
        {% for type, elements in selection.items %}
          {% for id in elements %}
            <input type="hidden" name="{{ type }}" value="{{ id }}" />
          {% endfor %}
        {% endfor %}
        {% include 'custom_crispy_templates/_form_content.html' with disable_csrf=True %}
        <input type="submit" class="button small" value="Filter">
      </form>
    </div>

    <div class="medium-3 columns">
      <div class="panel searchparams">
        <h5>Search parameters</h5>
        {% for type, elements in search_description.items %}
          <h6>{{ type|capfirst }}</h6>
          <ul class="no-bullet">
            {% for id in elements %}
              <li>{{ id }}</li>
            {% endfor %}
          </ul>
        {% endfor %}
      </div>
    </div>

  </div>

  <div id="device-history-search-results">
    {% include "./_history_view_results.html" %}
  </div>
{% endblock %}
