{% extends "devicehistory/base.html" %}

{% block tabcontent %}
    <p class="panel">
        Register an error by searching for a box or module in the search box below.
        Select one or more units and enter a description of the error.
    </p>

    <form action="{% url 'devicehistory-do-registererror' %}" method="post">
        {% csrf_token %}
        <div>
            <label>Error comment<br />
                <textarea name="error_comment" rows="5" cols="70">{{ error_comment }}</textarea>
            </label>
        </div>
        {% block devices %}
        {% include 'devicehistory/_component_search_input.html' with post_url='devicehistory-registererror-component-search' %}
        {% endblock %}
    </form>
{% endblock %}
