/* For highlighting shared "all days" time periods. */
.hilight {
  background-color: #ffb !important;
}

caption a:link, caption a:visited {
  font-weight: bold;
}

.infobox caption {
  font-size: 1.2em;
  font-weight: bolder;
  padding: 0.3em 0.5em;
}

.infobox td, .infobox th {
  padding: 0.2em 0.5em;
}

.infobox th {
  font-weight: bold;
}

.formcontainer {
  background: #ffb;
	padding: 0.5em;
	margin: 2em 0 1em 0;
	border: 1px solid #888A85;
}
