/* For highlighting shared "all days" time periods. */
.hilight {
  background-color: #FCAF3E !important;
}

caption a:link, caption a:visited {
  font-weight: bold;
}

.infobox caption {
  font-size: 1.2em;
  font-weight: bolder;
  padding: 0.3em 0.5em;
}

.infobox td, .infobox th {
  padding: 0.2em 0.5em;
}

.infobox th {
  font-weight: bold;
}

.addexpressionform {
  margin-top: 2em;
}

.formcontainer {
	background: #D3D7CF;
	padding: 0.5em;
	margin-bottom: 1em;
	border: 1px solid #999;
}
