{% extends "base.html" %}
{% load tools %}


{% block base_content %}
  {% with tool=current_user_data.tools|get_tool:'Layer 2 Traceroute' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  <div id="l2trace">

    <div class="row">

      <div class="column medium-6">
        {% include 'custom_crispy_templates/flat_form.html' with disable_csrf=True %}
      </div>

      <div class="column medium-6">
          <div class="nav-tooltip" data-align="end">
            <i class="fa fa-info-circle" aria-describedby="hostname-tooltip"></i>
            <div id="hostname-tooltip" role="tooltip">
                <ul>
                    <li>Enter a hostname or IP address and trace up to its router.</li>
                    <li>Optionally enter a destination hostname or IP address and trace between the two.</li>
                    <li>Press the trace button to start.</li>
                </ul>
            </div>
      </div>

    </div>

    <div id="results">
      {% if l2tracer %}

        <table class="listtable">
          <caption>Layer 2 Trace Results</caption>

          <thead>
          <tr>
            <th>#</th>
            <th>Level</th>
            <th>Vlan</th>
            <th>IP</th>
            <th>Interface In</th>
            <th>Sysname</th>
            <th>Interface Out</th>
          </tr>
          </thead>

          <tbody>

          {% for row in l2tracer.make_rows %}

            <tr>
              <td>{{ row.idx }}</td>
              <td>{{ row.level }}</td>

              <td>
                {% if not row.vlan.id %}
                  {{ row.vlan }}
                {% else %}
                  <a href="{% url 'vlan-details' row.vlan.id %}" title="View VLAN details">{{ row.vlan }}</a>
                {% endif %}
              </td>

              {% if row.hostOk and row.ipaddr %}
                <td><a href="{% url 'ipdevinfo-details-by-addr' row.ipaddr %}" title="View IP Device details">{{ row.ipaddr }}</a></td>
              {% else %}
                <td>{{ row.ipaddr }}</td>
              {% endif %}

              {% if row.netboxid %}
                <td><a href="{{ row.if_in.get_absolute_url }}" title="View interface details">{{ row.if_in.ifname|default:"" }}</a></td>
                <td><a href="{% url 'ipdevinfo-details-by-name' row.sysname %}" title="View IP Device details">{{ row.sysname|default:"" }}</a></td>
                <td><a href="{{ row.if_out.get_absolute_url }}" title="View interface details">{{ row.if_out.ifname|default:"" }}</a></td>
              {% else %}
                <td>{{ row.if_in|default:"" }}</td>
                <td>{{ row.sysname|default:"" }}</td>
                <td>{{ row.if_out|default:"" }}</td>
              {% endif %}

            </tr>

          {% empty %}
            <tr>
              <td colspan="7">Your search did not return any results.</td>
            </tr>
          {% endfor %}

          </tbody>

        </table>

      {% endif %}
    </div> {# results #}

  </div> {# l2trace #}
{% endblock base_content %}
