/* Custom global styles */

footer {
    font-size: 0.9em;
}

.foundation-form select {
    background: transparent;
    border: none;
}

.foundation-form .columns input[type=checkbox] {
    vertical-align: middle;
}

.full-width {
    width: 100%;
}

.sudoer-bar {
    background-color: #d3d7cf;
    border-bottom: 1px solid #555753;
    padding-left: 2em;
    line-height: 3em;
}

.sudoer-bar form, .sudoer-bar input {
    margin: 0;
}

.sudoer-bar img {
    vertical-align: middle;
}

.break-word {
    word-break: break-all;
}

.float-clear { clear: both; }
.hidden {display: none; }
.notvisible {visibility: hidden; }

.error small.nomargin, small.error.nomargin {
    margin: 0;
}

ul.errorlist {
    margin-bottom: 0;
    list-style-type: none;
}

/* Custom base page styles */

#toolboxdropdown img {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}

.top-bar .title-area img {
    height: 55px;
}


/* Custom form styles */

table form, table input[type="text"], table input[type="password"],
table input[type="date"], table input[type="datetime"], table input[type="checkbox"],
table input[type="datetime-local"], table input[type="month"],
table input[type="week"], table input[type="email"],
table input[type="number"], table input[type="search"], table select,
table input[type="tel"], table input[type="time"], table input[type="url"],
table textarea, form.custom table .custom.dropdown {
    margin: 0;
}

table .button {
    margin: 0;
}

/* Map styles */
.mapwrapper {
    margin: 1em 0;
}

.mapwrapper img {
    max-width: none; /* Openlayers maps need this to override a foundation style to display properly */
}

.smallmap {
    height: 400px;
    width: 600px;
}

.navletmap {
    height: 400px;
    width: auto;
    position:relative;
}

.bigmap {
    height: 600px;
}


/* jquery ui tabs */

ul.ui-tabs-nav {
    font-size: 0.9em;
}

/* List styles */

ul.clean, ol.clean, dl.clean {
    margin: 0;
    list-style-type: none;
}

li.list-header {
    background: #567899;
    color: white;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-align: left;
}

/* Alert-box style */

.alert-box ul, .error ul {
    margin-bottom: 0;
}


/* highlighting */

.highlight {
	background: #FFF7BC;
}
.highlight .highlight {
	background: #FEE391;
}
.highlight .highlight .highlight {
	background: #FEC44F;
}

.logo-text {
    color:white;
    font-size:28px;
    position:relative;
    top:3px;
    padding:0 10px 0 15px;
}


/* Form styles */

form.inline-form {
    display: inline-block;
    > * {
        display: inline-block;
        width: auto;
    }
    input[type=submit] {
        font-size: 0.875em;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        line-height: 2.125em;
        height: 2.3125em;
    }
}

