/* Styles for / */

#index-leftcontent {
    float: left;
    width: 600px;
}

@media screen and (max-width: 900px) {

    #index-leftcontent {
        width: 100%;
    }

    div.boxes {
        display: table;
        width: 100%;
    }

    div.boxes table {
        display: table-cell;
        width: auto;
        border-right: 1px solid white;
    }

    div.boxes table:last-child {
        border: none;
    }

    div.boxes table th {
        white-space: nowrap;
    }

}

/* Smartphone landscape */
@media only screen
and (max-width : 480px) {
    div.boxes {
        display: none;
    }
}

#dashboard-ui-wrapper {
    max-width: 450px;
    .visible-stuff {
        margin-bottom: 1em;
        .button { float: right; }
        form {
            overflow: hidden;
            input {
                width: 100%;
            }
        }
    }
    input, select, .button {
        margin-bottom: 0;
    }
    #dropdown-dashboard-forms {
        box-shadow: #666 0 5px 10px;
        border: 5px solid black;
        form {
            margin-bottom: 1em;
        }
    }

}
