#netboxes .dataTables_wrapper {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 3em;
    vertical-align: top;
}

table.compact {
    border-collapse: collapse;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

table.cluttered tr td {
    background-color: #CCDDEE;
    padding: 0.2em;

}

.center-content {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.help {
    cursor: help;
}

.brighten {
    color: #777;
}

img.textbottom {
    vertical-align: text-bottom;
}

.helperdialog div {
    background-color: #ced8e3;
    padding: 1em;
    margin: 1em 0;
}


/* Drag styles */
.drag {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Image cards */
.imagecard {
    border: 1px solid #DDDDDD;
    padding: 0.5em 1em;
    img {
        width: 100%;
    }
    .actions {
        overflow: hidden;
        i {
            margin-left: 0.5em;
            cursor: pointer;
        }
    }
    .meta {
        font-size: 0.7em;
    }
}


/* Image Clearing adjustments on Room Info tab. block-grid and clearing-thumbs classes clash */
.clearing-thumbs {
    &[class*="block-grid-"] {
        margin-left: -10px;
        li { margin-right: auto; }
    }
}

/* Prevent OpenStreetmap to show through the image clearing */
.clearing-blackout {
    z-index: 1010;
}

#room_map {
    height: 300px;
    width: auto;
}

/* Feedback when user is on the upload page */
.user-feedback {
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    z-index: 10000;
    > div {
        margin-left: auto;
        margin-right: auto;
        width: 300px;
        top: -50px;
    }
}
