
#tablecontainer {
    overflow: auto;
}

#tablecontainer > table {
    float: left;
    margin-right: 1em;
}

table caption {
    white-space: nowrap;
}

table.searchresults {
    width: 500px;
}

.graphitegraph {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
    button {
        margin: 0;
    }
}
