@import "../navsettings";

$ipam-500: #9E9E9E;
$ipam-700: #616161;

.prefix-tree-item-content {
  padding: 50px;
  background: $ipam-700;
}

.prefix-tree-root {
}

.prefix-tree-item.active {
  .prefix-tree-item-title {
    background: lightgrey !important;
  }
}


.prefix-tree-item-title {
  //background: $ipam-500 !important;
  background: #fff !important;
  font-weight: bold;

  .ip {
    padding: 5px; 
    border: 1px solid #ccc; 
  }

  .description {
    font-style: italic;
  }

  .net-type {
    padding: 5px;
    background: #ccc;
  }

  .child-count {
    
  }
}

.prefix-usage-graph {
  width: 15%;
  max-width: 200px;
}

.prefix-tree-item {
  border: 0.5px solid #ccc;
  border-bottom: 0;
  &:last-child {
    border-bottom: 0.5px solid #ccc;
  }
  //margin-top: 0.5rem;
}

.prefix-tree-item-content {
  padding: 25px;
}

.prefix-metadata {
  margin-bottom: 20px;
}

ul.accordion {
  margin-top: 1rem;
  margin-left: 0;
}

.prefix-tree-flash {
  margin-top: 20px;
}

// Search panel, forms etc. for prefix tree
.prefix-tree-control {
  max-width: 400px;
}

.prefix-usage-graph {
  font-size: 0.75em;
}

