.rickshaw-container {
    background-color: white;
    border: 1px solid gainsboro;
    position: relative;
    padding: 2em 1em 2.5em .5em; /* Padding here affects values for y-axis */

    .rickshaw-graph {
        height: 300px;
        margin-left: 4em;
    }

    .rickshaw-y-axis {
        position: absolute;
        top: 1em;               /* NB: Affected by padding for container */
        bottom: 0;
        width: 3em;
        margin: 1em;
    }

    .rickshaw-title {
        position: absolute;
        text-align: center;
        top: 0.5em;
        left: 0;
        right: 0;
    }

    .rickshaw-y-axis-term {
        left: 1em;
        position: absolute;
        top: 50%;
        transform: rotate(270deg) translate(-50%, -50%);
        transform-origin: left top;
    }

    .rickshaw-legend {
        background: none;
        color: initial;
        padding: 0;
        position: absolute;
        right: 0.5em;
        bottom: 0.5em;
        ul {
            margin: initial;
            li {
                float: left;
                clear: none;
                min-width: 0;
            }
        }
    }

    .rickshaw_graph {
        .x_tick {
            display: flex;
            align-items: flex-end;
            justify-content: center;
            .title {
                position: relative;
                margin-left: auto;
                bottom: -1.5em;
            }
        }
        .detail .x_label {
            color: white;
            opacity: 0.8;
            background-color: black;
        }
    }

    .rickshaw-slider {
        margin-left: 4em;
        margin-top: 1.5em;
        height: 0.8em;
        position: relative;
        text-align: left;
        border: 1px solid #AAA;
        div {
            top: 0px;
            height: 100%;
            border: 0px none;
            background: url("../../images/jqueryui/ui-bg_highlight-soft_75_cccccc_1x100.png") repeat-x scroll 50% 50% #CCC;
            position: absolute;
            z-index: 1;
            font-size: 0.7em;
            display: block;
            color: #222;
            font-weight: bold;
        }
        span {
            top: -0.25em;
            margin-left: -0.6em;
            position: absolute;
            z-index: 2;
            width: 1.2em;
            height: 1.2em;
            cursor: default;
            border: 1px solid #D3D3D3;
            background: url("../../images/jqueryui/ui-bg_glass_75_e6e6e6_1x400.png") repeat-x scroll 50% 50% #E6E6E6;
            font-weight: normal;
            color: #555;
        }
    }
    
}

