#unrecognized-neighbors-table {
    td.has-add-button {
        span {
            float: left;
        }
        a {
            float: right;
            margin-left: 1em;
            position: relative;
            top: 0.16rem;
        }
    }
}
