#action-buttons {
    display: inline-block;
}

#ignored-feedback {
    display: none;
}

#unrecognized-neighbors-table {
    display: none;  // To prevent FOUC
    * { box-sizing: initial; }  // Needed for datatables to display properly
    thead { border-top: 2px solid black; }
    td.has-add-button {
        span {
            float: left;
        }
        a {
            float: right;
            margin-left: 1em;
            position: relative;
            top: 0.16rem;
        }
    }
}
