@import "../navsettings";

#portadmin-wrapper {
    .changed {
        background-color: bisque;
    }
    .success {
        background-color: $success-box-bg;
    }
    .error {
        background-color: $alert-box-bg;
    }
}
