.navbody .select2-container-multi .select2-choices .select2-search-field input {
    height: 33px;
}

#column-switchers {
    margin: 0;
    .button { margin: 0 }
    .button.disabled {
        cursor: pointer;
        opacity: 0.5;
    }
    > li {
        margin-left: 0;
        margin-right: .3em;
    }
}
#filters {
    display: flex;
    > * { margin-right: 1em; }
    .label-netbox-filter { width: 20em; }
    .label-query-filter { width: 20em; }
    .select2-container-multi {
        .select2-search-choice { padding: 7px 5px 7px 18px; }
        .select2-search-choice-close { top: 7px; }
    }
}
