@import "../navsettings";

.portadmin-card {
    position: relative;
    background-color: white;
    border: 1px solid #b6b6b6;
    padding: 0.7em;
    h6, .save-interface {
        margin-bottom: 0;
    }
    .ifalias {
        margin-bottom: 0.5em;
    }
    .trunk-link {
        margin-bottom: 1rem;
    }
    .description {
        font-size: small;
    }
    &.changed {
        background-color: bisque;
    }
    &.success {
        background-color: $success-box-bg;
    }
    &.error {
        background-color: $alert-box-bg;
    }
    .alert-box {
        margin-bottom: 0;
        margin-top: 1em;
    }
/* Alternate layout from Mizz C

    .port-graphic {
        float: left;
        width: 50px;
        .label {
            padding-top: 0.6rem;
            padding-bottom: 0.8rem;
        }
    }
    .port-info {
        width: auto;
        margin-left: 50px;
        margin-bottom: 25px;
        h5 {
            margin-bottom: 0;
        }
    }
    .port-edit {
        position: absolute;
        right: 0;
        bottom: 0;
        a {
            margin-bottom: 0;
        }
    }
*/
}
