@import "../navsettings";

@media #{$small-only} {
    #portadmin-wrapper {
        .portadmin-save {
            float: right;
        }
    }
}

#portadmin-wrapper {
    .changed {
        background-color: bisque;
    }
    .success {
        background-color: #dff0d8;
    }
}
