$pdu-width: 60px;

#racks-container {
    display: flex;
    flex-wrap: wrap;
}

.rack {
    margin-right: 1em;
    /* width: 250px; */
    h4 {
        .remove-rack {
            display: none;
            cursor: pointer;
        }
        &:hover .remove-rack {
            display: inline;
        }
    }
}

.rack-body {
    background-color: gainsboro;
    border: 1px solid #aaaaaa;
    display: flex;

    .rack-pdu {
        height: 100%;
        /* width: $pdu-width; */
        text-align: center;
        .rack-sensor {
            margin: 0 .4rem;
        }
    }

    .rack-center {
        height: 100%;
        /* flex: 1; */
        max-width: 130px;
        .rack-sensor {
            padding: .3rem;
            &:not(:last-child) {
                border-bottom: 1px solid #aaaaaa;
            }
        }

    }

    .rack-sensor {
        .fa {
            display: none;
            cursor: pointer;
        }
        .heading {
            font-size: 0.9rem;
        }
        &:hover .fa {
            display: inline;
        }

    }
}

.rack-footer {
    background-color: gainsboro;
    border-bottom: 1px solid #aaaaaa;
    border-left: 1px solid #aaaaaa;
    border-right: 1px solid #aaaaaa;
    display: flex;

    button {
        margin: 0.5rem 0;
    }
    .rack-pdu {
        width: $pdu-width;
        text-align: center;
    }
    .rack-center {
        flex: 1;
    }
}
