#racks {
    display: flex;
}

.rack {
    margin-right: 1em;
}

.rack-body {
    background-color: gainsboro;
    border: 1px solid #aaaaaa;
    display: flex;
    width: 250px;

    button {
        margin: 0.5rem 0;
    }

    .rack-pdu {
        height: 100%;
        width: 60px;
        text-align: center;
    }

    .rack-center {
        height: 100%;
        flex: 1;
        .rack-sensor {
            padding: 0 .3rem;
            &:not(:last-child) {
                border-bottom: 1px solid #aaaaaa;
            }
        }

    }

    .rack-sensor {
        .fa {
            display: none;
        }
        .heading {
            font-size: 0.9rem;
        }
        &:hover .fa {
            display: inline;
        }

    }
}

