#racks-container {
    display: flex;
    flex-wrap: wrap;
}

.rack {
    margin-right: 1em;

    .edit-rack { cursor: pointer; }

    &.editmode {
        .fa { display: inline; }
        .rack-column > button { display: block; margin: 0; }
    }

}


.rack-heading { margin-bottom: 0; }


.rack-body {
    background-color: gainsboro;
    border: 1px solid #aaaaaa;
    display: flex;

    padding: .3rem;

    .fa { display: none; }
    .rack-column > button { display: none; }

    .rack-pdu {
        height: 100%;
        text-align: center;
    }

    .rack-center {
        height: 100%;
        max-width: 130px;
        margin: 0 .5rem;
        .rack-sensor {
            padding-bottom: .3rem;
            margin-bottom: .3rem;
            &:not(:last-child) {
                border-bottom: 1px solid #aaaaaa;
            }
        }

    }

    .rack-sensor {
        .heading {
            font-size: 0.9rem;
        }
    }
}
