.readonly {
		border: none;
}

/* Style the tables on the index page */

.seeddbtable td:first-child {
    width: 15%;
}

.seeddbtable td:nth-child(2) {
    width: 70%;
}

.seeddbtable td:nth-child(3) {
    width: 5%;
}

.seeddbtable td:last-child {
    width: 10%;
}

.required:after {
	content: " *";
	color: #F00;
	font-weight: bold;
}

/* Style the general info tables */

#tablewrapper {
    margin-bottom: 1em;
}

#seeddb-content th {
    white-space: nowrap;
}

/* Style the form for bulk upload */

#id_bulk_data {
    height: 20em;
}

#map {
    height: 400px;
    width: 100%;
}

/* Make sure tables are wide enough */

.tabcontent form table.edit {
    min-width: 50%;
}


/* Style thekey value pairs for editing hstore fields */
.hstoreValues {
    .button.alert {
        .fa {
            margin-left: 0;
        }
    }
    .column {
        margin-bottom: 0.5em;
    }
}
