
table.expandable {
    tr.even, tr.alt, tr:nth-of-type(even) {
        background: inherit;
    }
    tr.expanded td {
        box-shadow: inset 0px 0px 6px #999;
        background-color: #dcdcdc;
    }
}
