#watchdog-overview {
    min-height: 100px;  // For spinner to display properly
    li div {
        background-color: white;
        border: 1px solid #CCCCCC;
        padding: 0.5em;
    }
}

.watchdog-tests {
    .label {
        width: 60px;
    }
}
