{% extends "base.html" %}
{% load tools %}

{% block base_header_additional_head %}
  <style>
   .info-search-form {
      display: flex;
      gap: 1rem;
      max-width: 500px;
      & > div:first-child {
        flex: 1;
      }
      .htmx-indicator {
        margin-top: 6px;
      }
    }
  </style>
{% endblock %}


{% block footer_scripts %}
  <script>
   require(['jquery-ui'], function () {
        function initTabs() {
            $('#searchtabs').tabs().show();
        }
        $(initTabs);
        document.body.addEventListener('htmx:afterSwap', function(evt) {
           if (evt.detail.target.id === 'search-results' ||
                $(evt.detail.target).find('#searchtabs').length > 0) {
              setTimeout(initTabs, 50);
            }
        });
   });
  </script>
{% endblock %}


{% block base_content %}

  {% with tool=current_user_data.tools|get_tool:'Search' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  <ul class="button-group">
    <li>
      <a href="{% url 'ipdevinfo-search' %}" class="button small secondary">IP Device search</a>
    </li>
    <li>
      <a href="{% url 'room-search' %}" class="button small secondary">Room search</a>
    </li>
    <li>
      <a href="{% url 'location-search' %}" class="button small secondary">Location search</a>
    </li>
    <li>
      <a href="{% url 'vlan-index' %}" class="button small secondary">VLAN search</a>
    </li>
    <li>
      <a href="{% url 'prefix-index' %}" class="button small secondary">Prefix search</a>
    </li>
    <li>
      <a href="{% url 'netbox-group' %}" class="button small secondary">Device group search</a>
    </li>
  </ul>


  <div class="panel">
    {% block content %}

      <div class="alert-box info">
        Search for IP devices, interfaces, rooms and vlans. This search is the
        same as searching in the navbar.
      </div>

      {% include 'info/_search_form.html' %}

      <div class="row">
        <div id="search-results" class="large-6 medium-10 small-12 column">
          {% if form.is_bound %}
            {% include 'info/_search_results.html' %}
          {% endif %}
        </div>
      </div>

    {% endblock content %}
  </div>

{% endblock %}
