{% extends 'base.html' %}
{% load tools %}

{% block base_header_additional_head %}
  <style>
   .navbody .select2-container-multi .select2-choices .select2-search-field input {
       height: 33px;
   }
   #filters > * { margin-right: 1em; }
   #filters .label-netbox-filter { width: 20em; }
   #filters .label-query-filter { width: 20em; }
   #filters .select2-container-multi .select2-search-choice { padding: 7px 5px 7px 18px; }
   #filters .select2-container-multi .select2-search-choice-close { top: 7px; }
  </style>
{% endblock %}


{% block base_content %}

  {% with tool=current_user_data.tools|get_tool:'PortList' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  <form id="filters" style="display: flex">
    <label class="label-netbox-filter">
      Device
      <div>
        <input id="netbox-filter" type="text" />
      </div>
    </label>

    <label>
      Port Filters
      <div>
        <select id="ifclassfilter">
          <option value="">----------</option>
          <option value="swport" selected>Swport</option>
          <option value="gwport">Gwport</option>
          <option value="trunk">Trunk</option>
        </select>
      </div>
    </label>

    <label class="label-query-filter">
      Search
      <div>
        <input id="queryfilter"
               name="query"
               placeholder="Search in ifalias, ifdescr and ifname"
               type="text"
               />
      </div>
    </label>
  </form>

  <ul id="column-switchers" class="inline-list"> </ul>

  <table id="portlist-table">
    <thead>
      <tr>
        <th>&nbsp;</th>
        <th>Device</th>
        <th>Port</th>
        <th>Port description</th>
        <th>Module</th>
        <th title="Administrative status - is enabled or not">Admin</th>
        <th title="Operational status - has link or not">Link</th>
        <th>Vlan</th>
        <th title="Speed in Mbit/s and duplex (full or half)">Speed</th>
        <th>To Device</th>
        <th>To Port</th>
        <th>OutOctets</th>
        <th>InOctets</th>
        <th>Last Used</th>
      </tr>
    </thead>
  </table>

{% endblock %}


{% block footer_scripts %}
  <script>
   require(['src/portlist'], function(PortList) {
       PortList();
   })
  </script>
{% endblock %}
