{% extends 'base.html' %}
{% load tools %}

{% block base_header_additional_head %}
  <link href="{{ STATIC_URL }}css/nav/portlist.css" rel="stylesheet" />
{% endblock %}


{% block base_content %}

  {% with tool=current_user_data.tools|get_tool:'PortList' %}
    {% include 'nav_header.html' %}
  {% endwith %}

  <form id="filters">
    <label class="label-netbox-filter">
      Device
      <div>
        <input id="netbox-filter" type="text" value="{{ netboxid }}" />
      </div>
    </label>

    <label>
      Port Filters
      <div>
        <select id="ifclassfilter">
          <option value="">----------</option>
          <option value="swport" selected>Swport</option>
          <option value="gwport">Gwport</option>
          <option value="trunk">Trunk</option>
        </select>
      </div>
    </label>

    <label class="label-query-filter">
      Search
      <div>
        <input id="queryfilter"
               name="query"
               placeholder="Search in ifalias, ifdescr and ifname"
               type="text"
               />
      </div>
    </label>

    <label>
      LinkStatus
      <div>
        <select id="operstatus-filter">
          <option value="">----------</option>
          <option value="1">Up</option>
          <option value="2">Down</option>
        </select>
      </div>
    </label>
  </form>

  <div id="column-toggler">
    <h5 class="toggle-header">
      <i class="fa fa-caret-right"></i>
      Columns
    </h5>
    <div class="toggle-container" style="display: none">
      <ul class="inline-list"> </ul>
    </div>
  </div>

  <table id="portlist-table"></table>

{% endblock %}


{% block footer_scripts %}
  <script>
   require(['src/portlist'], function(PortList) {
       PortList();
   })
  </script>
{% endblock %}
