<div class="squaredTwo" id="pauseForce">
    <span>Pause force algorithm?</span>
    <div style="float: right;">
        {{#if isLayoutEngineRunning}}
            <img src='/images/lys/green.png' title="Force is running" alt='Force is running' class='force_status'/>
        {{else}}
            <img src='/images/lys/red.png' title="Force is NOT running" alt='Force is NOT running' class='force_status'/>
        {{/if}}
    </div>
    <div class="center-content">
        <input type="button" name="freezeNodes" value="Pause" id="freezeNodes"  />
    </div>
</div>
