<div class="netmapWidget">
    <div class="header">
        <div class="title">{{ title }}{{#if title_help }}<img class="float-right" title="{{title_help}}" src="/images/helpers/question.png" />{{/if}}</div>
    </div>
    <div class="body" {{#unless isWidgetVisible}}style="display: none"{{/unless}}>
        {{#each collection}}
        <div>
            {{#if value}}
                <input type="{{../../type}}" name="{{../../identifier}}[]" value="{{value}}" id="{{../../identifier}}_{{name}}" {{#if is_selected}} checked{{/if}} {{#unless ../../isViewEnabled}} disabled{{/unless}} />
            {{else}}
                <input type="{{../../type}}" name="{{../../identifier}}[]" value="{{name}}" id="{{../../identifier}}_{{name}}" {{#if is_selected}} checked{{/if}} {{#unless ../../isViewEnabled}} disabled{{/unless}} />
            {{/if}}
            {{#if ../nameInUppercase}}
                <label for="{{../../identifier}}_{{name}}">{{uppercase name}}</label>
            {{else}}
                <label for="{{../../identifier}}_{{name}}">{{capitalize name}}</label>
            {{/if}}

        </div>
        {{/each}}
    </div>
</div>