<h3>{{ title }} {{#if title_help }}<img class="float-right" title="{{title_help}}" src="/images/helpers/question.png" />{{/if}}</h3>

{{#each collection}}
<div>
    {{#if value}}
        <input type="{{../../type}}" name="{{../../identifier}}[]" value="{{value}}" id="{{../../identifier}}_{{name}}" {{#if is_selected}} checked{{/if}} />
    {{else}}
        <input type="{{../../type}}" name="{{../../identifier}}[]" value="{{name}}" id="{{../../identifier}}_{{name}}" {{#if is_selected}} checked{{/if}} />
    {{/if}}
    <label for="{{../identifier}}_{{name}}">{{name}}</label>
</div>
{{/each}}