<a id="toggle_view" style="float: right;">{{#if isVisible}}&lt;&lt;{{else}}&gt;&gt;{{/if}}</a>
<div class="inner_wrap left_sidebar" {{#if isVisible}} {{else}} style="display: none"{{/if}}>
    {{#ifequal 1 model.viewid}}class="active"{{/ifequal}}

    <div id="search_view"></div>

    <div id="layer_view"></div>

    <div id="categories_view"></div>

    <h3>Filter options</h3>

    <div id="orphan_view"></div>

    <div id="position_view"></div>

    <div id="algorithm_view"></div>

    <div id="topology_errors_view"></div>

    <div id="mouseover_view"></div>

    <div id="datarefresh_view"></div>

    <h4>Traffic gradient</h4>
    <div class="squaredTwo">
        <p>Click to show traffic gradient in a popup</p>
        <input type="button" name="trafficGradient" value="Show gradient" id="trafficGradient" />
    </div>

</div>

