<a id="toggle_view" style="float: right;">{{#if isVisible}}&lt;&lt;{{else}}&gt;&gt;{{/if}}</a>
<div class="inner_wrap left_sidebar" {{#if isVisible}} {{else}} style="display: none"{{/if}}>
    {{#ifequal 1 model.viewid}}class="active"{{/ifequal}}

    <div id="layer_view"></div>

    <div id="categories_view"></div>

    <h3>Filter options</h3>

    <div id="orphan_view"></div>

    <div id="position_view"></div>

    <div id="algorithm_view"></div>

    <div class="fix_options">
        <span>Fix or unfix all nodes</span>
        <div class="squaredTwo">
            <input type="button" name="nodesFixed" value="Fix" id="setNodesFixed"  {{#if isLoading}}disabled='disabled'{{/if}} />
            <input type="button" name="nodesFixed" value="UnFix" id="unsetNodesFixed"  {{#if isLoading}}disabled='disabled'{{/if}} />
        </div>
    </div>

    <h3>UI options</h3>
    <div class="squaredTwo">
        <input type="checkbox" name="topologyErrors" value="topologyErrors" id="topologyErrors" {{#if model.ui.topology_errors}} checked{{/if}}  {{#if isLoading}}disabled='disabled'{{/if}} />
        <label for="topologyErrors">Show topology errors</label>
    </div>

    <div id="mouseover_view"></div>

    <h4>Traffic gradient</h4>
    <div class="squaredTwo">
        <p>Click to show traffic gradient in a popup</p>
        <input type="button" name="trafficGradient" value="Show gradient" id="trafficGradient" />
    </div>

</div>

