{% extends "base.html" %}
{% block base_header_additional_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/netmap.css" media="screen" />
{% endblock %}
{% block base_content %}

  <div id="netmap-admin">

    <table id="netmap-admin-list" class="listtable full-width">
      <caption>Available Netmap views</caption>
      <thead>
      <tr>
        <td colspan="6">Choosing a private view to be a default view,
          will convert the view to public!
        </td>
      </tr>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Topology</th>
        <th>Is public?</th>
        <th>Owner</th>
        <th>Action</th>
      </tr>

      </thead>
      <tbody>

      {% for view in views %}

        <tr id="netmap-view-{{ view.pk }}" {% if global_default_view.view.pk == view.pk %}class="current-global-default"{% endif %}>
          <td>{{view.title}}</td>
          <td>{% if view.description %}{{view.description}}{% else %}N/A{% endif %}</td>
          <td>{{view.topology_unicode}}</td>
          <td class="visibility">{{view.is_public}}</td>
          <td>{{view.owner}}</td>
          <td>
            <a class="button tiny set-global-default" data-viewid="{{ view.viewid }}">Set global default</a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <script type="text/javascript">
   require(['libs/datatables.min'], function(){
       var dt_config = {
           bAutoWidth: false,
           bFilter: false,
           bInfo: false,
           bLengthChange: false,
           bPaginate: false,
           bSort: true
       };

       $('table#netmap_admin_list').dataTable(dt_config);

       $('.set-global-default').click(function (e) {
           e.preventDefault();
           var viewid = $(e.currentTarget).data('viewid');

           $.ajax({
               type: 'PUT',
               url: '{% url 'netmap-defaultview-global' %}',
               data: {view: viewid, owner: 0}
           })
            .done(function () {
                $('.current-global-default', '#netmap-admin-list').removeClass('current-global-default');
                $('#netmap-view-' + viewid, '#netmap-admin-list').addClass('current-global-default');
                $('.visibility', '#netmap-view-' + viewid).html('True');
            })
            .fail(function (e) {
                console.log(e.responseText);
            });
       });
   })
  </script>
{% endblock %}
