{% extends "base.html" %}

{% block base_header_additional_head %}
    <script>require(["src/maintenance"]);</script>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/color.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/timepicker.css">
{% endblock %}

{% block base_content %}

  {% if current_user_data.messages %}
      {% for m in current_user_data.messages %}
          <div class="alert-box {{ m.type }}">{{ m.message }}</div>
      {% endfor %}
  {% endif %}

  <h2>Maintenance</h2>

  {% block content %}
  {% endblock %}

{% endblock %}

