{% extends "base.html" %}

{% block base_content %}

{% if current_user_data.messages %}
<div class="messages">
    <ul>
    {% for m in current_user_data.messages %}
        <li class="{{ m.type }}">{{ m.message }}</li>
    {% endfor %}
    </ul>
</div>
{% endif %}

<h2>Maintenance</h2>

<div class="tabs">
    <ul>
        <li class="{{ active.calendar|yesno:"tabactive," }}">
            <a href="{% url maintenance-calendar %}">Calendar</a>
        </li>
        <li class="{{ active.active|yesno:"tabactive," }}">
            <a href="{% url maintenance-active %}">Active</a>
        </li>
        <li class="{{ active.planned|yesno:"tabactive," }}">
            <a href="{% url maintenance-planned %}">Planned</a>
        </li>
        <li class="{{ active.historic|yesno:"tabactive," }}">
            <a href="{% url maintenance-historic %}">Historic</a>
        </li>
        <li class="{{ active.new|yesno:"tabactive," }}">
            <a href="{% url maintenance-new %}">New</a>
        </li>
    </ul>
</div>

<div class="tabcontent">

{% block content %}
{% endblock %}

</div>
{% endblock %}

