{% extends "maintenance/base.html" %}

{% block content %}
<div class="calendar">
    <div class="calendar_controls">
        <a href="{% url maintenance-calendar prev_month.year prev_month.month %}">
            <img src="/images/alertprofiles/go-previous.png" /></a>
        <form action="{% url maintenance-calendar %}" method="GET">
            <input type="text" name="year" value="{{ this_month.year }}" size="4" maxlength="4" />
            <input type="text" name="month" value="{{ this_month.month }}" size="2" maxlength="2" />
            <input type="submit" value="Go" />
        </form>
        <form action="{% url maintenance-calendar %}" method="GET">
            <input type="hidden" name="year" value="{{ curr_month.year }}" />
            <input type="hidden" name="month" value="{{ curr_month.month }}" />
            <input type="submit" value="Current month" />
        </form>
        <a href="{% url maintenance-calendar next_month.year next_month.month %}">
            <img src="/images/alertprofiles/go-next.png" /></a>
    </div>

    {{ calendar }}
</div>
{% endblock %}

