{% extends "maintenance/tabs.html" %}

{% block tabcontent %}
{% if tasks %}
<table class="listtable">
    <caption>Maintenance Tasks</caption>

    <thead>
        <tr>
            <th>Start</th>
            <th>End</th>
            <th>Description</th>
            <th>Components</th>
            <th>Author</th>
            <th>State</th>
        </tr>
    </thead>

    <tbody>
    {% for task in tasks %}
        <tr class="vevent">
            <td>
              <time class="dtstart" datetime="{{ task.start_time }}">
                {{ task.start_time|date:"Y-m-d H:i" }}
              </time>
            </td>
            {% if task.is_endless %}
                <td>No end time</td>
            {% else %}
                <td>
                  <time class="dtend" datetime="{{ task.end_time }}">
                    {{ task.end_time|date:"Y-m-d H:i" }}
                  </time>
                </td>
            {% endif %}
            <td>
                <a href="{% url 'maintenance-view' task.id %}" class="url">
                  <span class="summary">
                    {{ task.description|truncatewords:8 }}
                  </span>
                </a>
            </td>
            <td>
                {% if task.netbox %}
                    <a href="{% url 'ipdevinfo-details-by-name' task.netbox.sysname %}">
                        {{ task.netbox.get_short_sysname }}</a>
                {% else %}
                    {{ task.component_count}}
                {% endif %}
            </td>
            <td>{{ task.author }}</td>
            <td>{{ task.state }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% else %}
<p>No maintenance tasks found.</p>
{% endif %}
{% endblock %}
