{% extends "maintenance/base.html" %}

{% block content %}
<form action="{{ request.path }}" method="post">
    <table class="listtable vertitable">
        <tr>
            <th>Search/select components:</th>
            <td>
                {{ quickselect }}
            </td>
        </tr>

        <tr>
            <th>Selected components for this task:</th>
            <td>
                {% for key, identifiers in selected.items %}
                    {% for id in identifiers %}
                        <input type="hidden" name="{{ key }}" value="{{ id }}" />
                    {% endfor %}
                {% endfor %}

                {% if components %}
                    <ul>
                        {% for comp in components %}
                            <li>
                                <input type="hidden" name="{{ comp.type }}" value="{{ comp.id }}" />
                                <input type="checkbox" name="remove_{{ comp.type }}" value="{{ comp.id }}" />
                                {{ comp.title|capfirst }}:
                                {% for elem in comp.trail %}
                                  {% if elem.url %}
                                    <a href="{{ elem.url }}"
                                       title="{{ elem.title }}">{{ elem.name }}</a>
                                  {% else %}
                                    {{ elem.name }}
                                  {% endif %}
                                  {% if not forloop.last %}
                                    &rarr;
                                  {% endif %}
                                {% endfor %}
                            </li>
                        {% endfor %}
                    </ul>
                    <p><input type="submit" name="remove" value="Remove selected" /></p>
                {% else %}
                    <p>(none)</p>
                    <p><input type="submit" name="remove" value="Remove selected" disabled="disabled" /></p>
                {% endif %}
            </td>
        </tr>

        <tr>
            <td></td>
            <td>{{ task_form.non_field_errors }}</td>
        </tr>
        <tr>
            <th>
                <label for="id_start_time">Start time:</label>
            </th>
            <td>
                {{ task_form.start_time.errors }}
                {{ task_form.start_time }}
            </td>
        </tr>
        <tr>
            <th>
                <label for="id_end_time">End time:</label>
            </th>
            <td>
                {{ task_form.end_time.errors }}
                {{ task_form.end_time }}
                &nbsp;
                {{ task_form.no_end_time.errors }}
                {{ task_form.no_end_time }}
                <label for="id_no_end_time"
                    title="This task will automatically get closed when the chosen equipment have been up for at least an hour.">
                Automatically detect end time</label>
            </td>
        </tr>
        <tr>
            <th>
                <label for="id_description">Description:</label>
            </th>
            <td>
                {{ task_form.description.errors }}
                {{ task_form.description }}
            </td>
    </tr>

    <tr>
        <th></th>
        <td><input type="submit" name="save" value="Save task" /></td>
    </tr>
</table>
</form>

{% endblock %}
