{% extends "maintenance/base.html" %}

{% block base_header_additional_head %}
<script type="text/javascript" src="/js/jquery.js"></script>
<script type="text/javascript" src="/js/quickselect.js"></script>
{% endblock %}

{% block content %}
<form action="" method="post">
{{ quickselect }}
{% for key, identifiers in selected.items %}
    {% for id in identifiers %}
<input type="hidden" name="{{ key }}" value="{{ id }}" />
    {% endfor %}
{% endfor %}

{% if components %}
<ul>
{% for comp in components %}
    <li>
        <input type="hidden" name="{{ comp.type }}" value="{{ comp.id }}" />
        <input type="checkbox" name="remove_{{ comp.type }}" value="{{ comp.id }}" />
        {{ comp.title|capfirst }}:
    {% for elem in comp.trail %}
        {% if elem.url %}
        <a href="{{ elem.url }}" title="{{ elem.title }}">{{ elem.name }}</a>
        {% else %}
        {{ elem.name }}
        {% endif %}
        {% if not forloop.last %}
        &rarr;
        {% endif %}
    {% endfor %}
    </li>
{% endfor %}
</ul>
<p><input type="submit" name="remove" value="Remove selected" /></p>
{% else %}
<p>(none)</p>
<p><input type="submit" name="remove" value="Remove selected" disabled="disabled" /></p>
{% endif %}

<table class="listtable vertitable">
    {{ task_form }}
    <tr>
        <th></th>
        <td><input type="submit" name="save" value="Save task" /></td>
    </tr>
</table>
</form>
{% endblock %}
