<li class="org" data-orgid="{{ org.pk }}">
  {% if org.has_children %}
    <i class="fa fa-toggle-down"></i>
  {% endif %}
  <a href="{% url 'seeddb-organization-edit' org.pk %}"
     class="tip-top"
     title="<h5>{{ org }}</h5>
            <dl>
            {% if org.contact %}
            <dt>Contact</dt><dd>{{ org.contact }}</dd>
            {% endif %}
            {% for key, value in org.data.items %}
            <dt>{{ key }}</dt><dd>{{ value }}</dd>
            {% endfor %}
            </dl>
            {% if org.has_children %}
            <em>
            {{ org.get_children.count }} child organizations with a total
            of {{ org.get_descendants|length }} descendants.
            </em>
            {% endif %}
            ">
    {{ org }}
  </a>
  
  {% if org.has_children %}
    <ul class="child">
      {% for child_org in org.get_children %}
        {% with org=child_org %}
          {% include 'seeddb/fragments/orgs.html' %}
        {% endwith %}
      {% endfor %}
    </ul>
  {% endif %}
</li>
