## -*- coding: ISO8859-1 -*-
## $Id$
##
## Copyright 2006 UNINETT AS
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Author: Stein Magnus Jodal <stein.magnus@jodal.no>
##

#extends MainTemplate
#import datetime

#attr $title = 'Messages'
#attr $path = [("Home", "/"), ("Messages", "")]

#block content

<h2>Messages</h2>

<p>Insert tabs here.</p>

<h3>Active messages</h2>

#if len($msgs)
    #for $msg in $msgs
<table class="vertitable">
    <caption>$msg.title</caption>
    <tr class="$rowcycler">
        <th>Published</th>
        <td>$msg.publish_start.strftime('%Y-%m-%d %H:%M:%S')</td>
    </tr>
        #if $msg.last_changed
    <tr class="$rowcycler">
        <th>Last changed</th>
        <td>$msg.last_changed.strftime('%Y-%m-%d %H:%M:%S')</td>
    </tr>
        #end if
    <tr class="$rowcycler">
        <th>Author</th>
        <td>$msg.author</th>
    </tr>
        #set rowstyle = $rowcycler.__str__()
    <tr class="$rowstyle">
        <th colspan="2">Description</th>
    </tr>
    <tr class="$rowstyle">
        <td colspan="2">$msg.description</td>
    </tr>
## FIXME: Only show tech_descr to logged in users
        #if $msg.tech_description
            #set rowstyle = $rowcycler.__str__()
    <tr class="$rowstyle">
        <th colspan="2">Technical description</th>
    </tr>
    <tr class="$rowstyle">
        <td colspan="2">$msg.tech_description</td>
    </tr>
        #end if
## FIXME: Only show actions to logged in users
        #if True
    <tr class="$rowcycler">
        <th>Actions</th>
        <td>[<a href="#">Edit</a>] [<a href="#">Followup</a>] [<a href="#">Expire</a>]</td>
    </tr>
        #end if
</table>
    #end for
#else
<p>No messages found.</p>
#end if

#end block content

#block additionalCSS
$default_tabs_CSS
$default_table_CSS
#end block additionalCSS
