{% extends "status2/base.html" %}

{% load crispy_forms_tags %}

{% block base_header_additional_head %}
  <script type="text/javascript">require(['status/status']);</script>
    <script type="text/javascript">
    var NAV = NAV || {};
    NAV.urls = NAV.urls || {};
    NAV.urls.status2_api_alerthistory = '{% url alerthistory-list %}'
    NAV.urls.status2_save_preferences = '{% url status2_save_preferences %}'
    </script>
{% endblock %}


{% block content %}
<p>This will eventually become the new status page</p>

  <div id="status-page">

    <div class="row">
        <div class="small-12 column">
            <a href="javascript:void(0);" class="button small secondary set-default">Set as default status</a>
        </div>
    </div>

    {# Form for filtering events #}
    {% crispy form %}

    {# Table displaying filtered events #}
    <table id="events-list" class="listtable">
      <caption>Events</caption>
      <thead>
        <tr>
          <td>Type</td>
          <td>&nbsp;</td>
          <td>Subject</td>
          <td>Start time</td>
          <td class="action-cell">
              <a href="javascript:void(0)" class="button tiny hidden clear-alert">Clear alerts</a>
          </td>
        </tr>
      </thead>
      <tbody></tbody>
    </table>

  </div>

{% if none %}
    <table class="listtable">
        <thead>
            <caption>Problems</caption>

            <th>Type</th>
            <th>Subject</th>
            <th>Start time</th>
            <th>Duration</th>

        </thead>

        <tfoot></tfoot>

        <tbody>
        {% for alert in alerts %}

            <tr>
                <td>
                    <span data-tooltip aria-haspopup="true" class="has-tip"
                          title="{{ alert.event_type.description }}">{{ alert.event_type_id }}</span>
                </td>

                <td>
                    {% comment %}
                    This may or may not fail spectacularly if subject has
                    not implemented the get_absolute_url() method
                    {% endcomment %}
                    {% if alert.get_subject.get_absolute_url %}
                        <a href="{{ alert.get_subject.get_absolute_url }}"
                                >{{ alert.get_subject }}</a>
                    {% else %}
                        {{ alert.get_subject }}
                    {% endif %}
                </td>

                <td>
                    <a href="{% url devicehistory-view %}?netbox={{ alert.netbox.id }}&amp;eventtype=a_{{ alert.alert_type.name }}&amp;group_by=datetime"
                            >{{ alert.start_time }}</a>
                </td>

                <td>
                    {% comment %}
                    May need to be defined differently if/when we need to
                    display stateless alerts
                    {% endcomment %}
                    {{ alert.start_time|timesince }}
                </td>

            </tr>
        {% endfor %}
        </tbody>

    </table>
{% endif %}

{% endblock %}
