/*
#map {
  position: absolute;
  border: 1px solid black;
  margin: 0px; 
  padding: 0px;
  left: 2px;
  right: 2px;
  top: 150px;
  bottom: 50px;
}
*/
/*
#map
{
  border: 1px solid black;
  margin: 0px; 
  padding: 0px;
  width: 100%;
  height: 0.7vh;
}
*/
body
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}

/*
body
{
  height: 100%;
}
*/

#navbody
{ 
  height: 90%;
}

#map
{ 
  height: 90%;
  width: 100%;
}


#legend td
{
  padding: 0 2em 0 0;
  vertical-align: top;
}

#legend td td
{
  padding: 0.4em 1em 0 0;
  vertical-align: middle;
}

#legend .colorbox
{
  width: 1em;
  height: 1em;
  border: thin solid black;
}

#legend .edge-size-indicator, #legend .node-size-indicator
{
  background-color: black;
}

#legend .edge-size-indicator
{
  width: 80px;
}
