/*
#map {
  position: absolute;
  border: 1px solid black;
  margin: 0px; 
  padding: 0px;
  left: 2px;
  right: 2px;
  top: 150px;
  bottom: 50px;
}
*/
/*
#map
{
  border: 1px solid black;
  margin: 0px; 
  padding: 0px;
  width: 100%;
  height: 0.7vh;
}
*/
/*
body
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
*/

/*
body
{
  height: 100%;
}
*/

#navbody
{ 
  height: 90%;
}

#map
{
  width: 800px;
  height: 600px;
}

#legend
{
  margin-top: 10px;
}


#legend td
{
  padding: 0 2em 0 0;
  vertical-align: top;
}

#legend td td
{
  padding: 0.4em 1em 0 0;
  vertical-align: middle;
}

#legend .colorbox
{
  width: 1em;
  height: 1em;
  border: thin solid black;
}

#legend .edge-size-indicator, #legend .node-size-indicator
{
  background-color: black;
}

#legend .edge-size-indicator
{
  width: 80px;
}



#calendar
{
  border: 1px solid black;
}

#calendar-month
{
  border-collapse: separate;
}

#calendar.enabled #calendar-body.row-selection tr.selected,
#calendar.enabled #calendar-body.cell-selection td.selected
{
  background-color: #999999;
}

#calendar.enabled #calendar-body.row-selection tr.selectable,
#calendar.enabled #calendar-body.row-selection tr.selectable,
#calendar.enabled #calendar-body.cell-selection td.selectable,
#calendar.enabled #calendar-head-row .selectable
{
  cursor: pointer;
  color: blue;
}

#calendar.enabled #calendar-body.row-selection tr.selectable:hover,
#calendar.enabled #calendar-body.row-selection tr.selectable:hover,
#calendar.enabled #calendar-body.cell-selection td.selectable:hover,
#calendar.enabled #calendar-head-row .selectable:hover
{ 
  background-color: #6666FF;
  color: white;
}

#calendar-body td.today
{
  border: 1px dashed black;
}

#calendar.disabled
{
  background-color: #CCCCCC;
  color: #999999;
}

#calendar td
{ 
  padding: .1em .5em;
}

#calendar-head-row td
{ 
  text-align: center;
}

#calendar-body td
{
  text-align: right;
}

#time-interval-edit-mode .selected
{
  font-weight: bold;
}

#time-interval-form .highlight
{
  background-color: yellow;
}

#time-interval-form .inactive
{
  background-color: #CCCCCC;
}


#map-and-form > tr > td
{
  text-align: center;
}

td.time-interval-form-container
{
  vertical-align: top;
}

#time-interval-form > div
{
  padding: 1em;
}

