/*
#map {
  position: absolute;
  border: 1px solid black;
  margin: 0px; 
  padding: 0px;
  left: 2px;
  right: 2px;
  top: 150px;
  bottom: 50px;
}
*/
/*
#map
{
  border: 1px solid black;
  margin: 0px; 
  padding: 0px;
  width: 100%;
  height: 0.7vh;
}
*/
/*
body
{
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
*/

/*
body
{
  height: 100%;
}
*/

#navbody
{ 
  height: 90%;
}

#map
{
  width: 800px;
  height: 600px;
}

#legend
{
  margin-top: 10px;
}


#legend td
{
  padding: 0 2em 0 0;
  vertical-align: top;
}

#legend td td
{
  padding: 0.4em 1em 0 0;
  vertical-align: middle;
}

#legend .colorbox
{
  width: 1em;
  height: 1em;
  border: thin solid black;
}

#legend .edge-size-indicator, #legend .node-size-indicator
{
  background-color: black;
}

#legend .edge-size-indicator
{
  width: 80px;
}



#map-and-form > tr > td
{
  text-align: center;
}

#map-container
{
  vertical-align: top;
}

#geomap-sidebar
{
  vertical-align: top;
  padding: 1em;
}

#time-interval-form > div
{
  padding: 1em;
}




#time-navigation-selected-time
{
  font-weight: bold;
  font-size: 120%;
}

#time-navigation-prev-jump.enabled, #time-navigation-prev.enabled,
#time-navigation-next.enabled, #time-navigation-next-jump.enabled,
#time-navigation-last.enabled, #time-navigation-up.enabled
{
  cursor: pointer;
}

#time-navigation-prev-jump.enabled:before
{
  content: url('/images/geomap/left2.png');
}
#time-navigation-prev-jump.disabled:before
{
  content: url('/images/geomap/left2_grey.png');
}
#time-navigation-prev.enabled:before
{
  content: url('/images/geomap/left1.png');
}
#time-navigation-prev.disabled:before
{
  content: url('/images/geomap/left1_grey.png');
}
#time-navigation-next.enabled:before
{
  content: url('/images/geomap/right1.png');
}
#time-navigation-next.disabled:before
{
  content: url('/images/geomap/right1_grey.png');
}
#time-navigation-next-jump.enabled:before
{
  content: url('/images/geomap/right2.png');
}
#time-navigation-next-jump.disabled:before
{
  content: url('/images/geomap/right2_grey.png');
}
#time-navigation-last.enabled:before
{
  content: url('/images/geomap/right_last.png');
}
#time-navigation-last.disabled:before
{
  content: url('/images/geomap/right_last_grey.png');
}
#time-navigation-up.enabled:before
{
  content: url('/images/geomap/up1.png');
}
#time-navigation-up.disabled:before
{
  content: url('/images/geomap/up1_grey.png');
}

#time-navigation-down.disabled
{
  display: none;
}

#time-navigation-calendar
{
  border: 1px solid black;
}

#time-navigation-calendar-month
{
  border-collapse: separate;
}

#time-navigation-calendar.enabled .selected
{
  background-color: #999999;
}

#time-navigation-calendar.enabled .selectable
{
  cursor: pointer;
  color: blue;
}

#time-navigation-calendar.enabled .selectable:hover,
#time-navigation-calendar.enabled .selectable:hover .selectable
{ 
  background-color: #6666FF;
  color: white;
}

#time-navigation-calendar-body td.today
{
  border: 1px dashed black;
}

#time-navigation-calendar.disabled
{
  background-color: #CCCCCC;
  color: #999999;
}

#time-navigation-calendar td
{ 
  padding: .1em .5em;
}

#time-navigation-calendar-head-row td
{ 
  text-align: center;
}

#time-navigation-calendar-body td
{
  text-align: right;
}
