#qr-code-modal {
    /* Underlay covers entire screen. */
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;

    /* Flexbox centers the .modal-content vertically and horizontally */
    display: flex;
    flex-direction: column;
    align-items: center;

    /* Animate when opening */
    animation-name: fadeIn;
    animation-duration: 150ms;
    animation-timing-function: ease;

    .modal-underlay {
        /* underlay takes up the entire viewport. To click to dismiss the popup */
        position: absolute;
        z-index: -1;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
    }

    .modal-content {
        /* Position visible dialog near the top of the window */
        margin-top: 10vh;

        /* Sizing for visible dialog */
        width: 80%;
        max-width: 600px;

        /* Display properties for visible dialog */
        border: solid 1px #999;
        border-radius: 8px;
        box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.3);
        background-color: white;
        padding: 20px;

        /* Animate when opening */
        animation-name: zoomIn;
        animation-duration: 150ms;
        animation-timing-function: ease;

        /* Center qr code */
        text-align: center;

    .close {
        /* Close button top right */
        position: relative;
        float: right;
        font-size:x-large;
      }
    }
}
