// Mostly copied from python/nav/web/sass/foundation/components/_reveal.scss

#qr-code-modal {
    .modal-underlay {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: rgba($black, .45);
        z-index: 1004;
    }

    .modal-content {
        position: absolute;
        z-index: 1005;
        width: 30%;
        top:rem-calc(100);
        left: 0;
        right: 0;
        margin: 0 auto;
        border-radius: $global-radius;
        box-shadow: 0 0 10px rgba($black,.4);
        background-color: $white;
        padding: rem-calc(20);

        /* Center qr code */
        text-align: center;

    .close-reveal-modal { @include reveal-close; }
    }
}
