

.nav-tooltip {
  display: inline-flex;
  align-items: center;
  position: relative;
  width: fit-content;
  box-sizing: border-box;
  &:hover [role="tooltip"] {
    visibility: visible;
    opacity: 1;
    transform: translateY(8px);
  }


  [aria-describedby]:not(.unstyled-tooltip) {
    border-bottom: dotted 1px #cccccc;
    font-weight: bold;
    cursor: help;
    color: #333333;

    &:hover, &:focus {
      border-bottom: dotted 1px rgb(0.9, 55.35, 84.15);
      color: #027bbb;
    }
  }

  [role="tooltip"] {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    z-index: 1006;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.3;
    padding: 20px;
    top: 100%;
    left: calc(50% - 10px);
    width: max-content;
    max-width: 300px;
    color: white;
    background: #333;

    &.show {
      visibility: visible;
      opacity: 1;
      transform: translateY(8px);
    }

    // Animate
    transform: translateY(0);
    transition: opacity 0.2s ease, transform 0.2s ease;

    h3, h5 {
      color: white;
    }

    & > *:last-child {
      margin-bottom: 0;
    }

    &:before {
      content: '';
      left: 5px;
      position: absolute;
      width: 0;
      height: 0;
      border: solid 5px;
      border-color: transparent transparent #333 transparent;
      top: -10px;
      pointer-events: none;
    }
    &.tiny {
      max-width: 200px;
    }
    &.small {
      max-width: 300px;
    }
    &.medium {
      max-width: 500px;
    }
    &.large {
      max-width: 800px;
    }
  }
  &[data-align='end'] {
    [role="tooltip"] {
      right: calc(50% - 10px);
      left: auto;
    }
    [role="tooltip"]:before {
      left: auto;
      right: 5px;
    }
  }
  &[data-position="fixed"] [role="tooltip"] {
    position: fixed;
  }
}

.nav-tooltip[data-side="top"] {
  [role="tooltip"] {
    transform: translateY(-8px);
    &:before {
      top: auto;
      bottom: -10px;
      border-color: #333 transparent transparent transparent;
    }
  }
  &:not([data-position="fixed"]) [role="tooltip"] {
    top: auto;
    bottom: 100%;
  }
}
