/* Custom global styles */
@import '../navsettings';

/* NAV logo top-bar style */
.top-bar {
    .name h1 {
        a {
            padding: 0;
            .nav-logo {
                position: relative;
                height: 28px;
                top: -2px;
            }
        }
    }
}

@media #{$medium-up} {
    #navbar-search-form { width: 400px; }
    .remove-widget { max-width: 250px; }
}

#navbar-search-form {
  top: 7px;
  button, input {
    top: 0;
  }
}

#navbar-search-form-mobile {
  button {
    // Override foundation top-bar style
    top: 0;
  }
}
.search-input-wrapper {
  display: flex;
  input, button {
    height: 1.8rem;
  }
  input {
    max-width: 250px;
  }
}
#navbar-search-results {
  min-width: 100%;
  width: fit-content;
  max-height: 500px;
  overflow-y: auto;
  transform: none;

  .result-group {
    display: flex;
    flex-direction: column;

    button {
      align-self: flex-end;
    }

    .result-item {
      display: block;
      width: 100%;
      padding: 2px 0;
    }
    .result-item, .truncate-count {
      border-top: 1px solid #ccc;
      &:first-child {
        border-top: none;
      }
    }
  }

  & > *:last-child {
    margin-bottom: 0;
  }
}

@media #{$small-only} {
    .remove-widget { width: 100%; }
}

/* MEGADROP MEGADROP MEGADROP MEGADROP MEGADROP  */
#megadroptoggler {
    i {
        color: rgba(255, 255, 255, 0.4);
        font-size: 16px;
    }
}

#megadrop {
    background-color: white;
    border-bottom: 5px solid #027BBB;
    position: absolute;
    z-index: 10000;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    ul {
        margin-top: 1em;
        li {
            margin: 1em 0;
            a { color: black; }
        }
    }
    img {
        height: 24px;
        width: 24px;
        position: relative;
        top: -2px;
    }
    h5 { margin-top: 1.3em; }
}

#toolboxdropdown {
    img {
        height: 48px;
        width: 48px;
    }
}

/* Dashboard control center */

#widgets-actions {
    box-shadow: 0px 3px 5px grey;
    position: absolute;
    right: 0;
    top: 0;
    width: 40px;
    z-index: 1000;
    .widget-action {
        color: white;
        background-color: $topbar-bg-color;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-bottom: 1px solid gainsboro;
        &:hover {
            background-color: $primary-color;
            cursor: pointer;
        }
        &:last-child {
          border-bottom: none;
        }
    }
    .export-action {
      width: 100%;
      a.widget-action {
        width: 100%;
        border-bottom: none;
      }
    }
}

#dropdown-dashboard-settings.popover {
  width: 100%;
  .widget-action {
    border-bottom: none;
  }
  .popover-content {
    width: 800px;
  }
  .row {
    margin-bottom: 1em;
    &:last-child {
      margin-bottom: 0;
    }
  }
  #toggle-dashboard-shared-form {
    * {
      margin-bottom: 0.5rem;
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
}

.dashboard-nav-wrapper {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.dashboard-meta-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-shrink: 0;
}

.badge {
    padding: 0.2rem 0.25rem;
    font-size: 0.75rem;
    background: #e0e0e0;
    border: 1px solid #ccc;
    display: flex;
    align-items: center;
    gap: 0.25rem;

    &.white {
      background: #fff;
      border-color: #bbb;
    }
}

#dashboard-settings-feedback {
  * {
    margin-bottom: 0;
  }
}

#dashboard-search-form {
  .description {
    color: lighten(#333, 20%);
  }
}

#dashboard-search-results {
  ul {
    margin: 0;
  }
  .search-result-item {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    &:last-child {
      margin-bottom: 0;
    }

    * {
      margin-bottom: 0;
    }
  }

  .search-result-name {
    flex: 1;
    display: flex;
    flex-direction: column;
    .dashboard-owner {
      font-size: 0.8em;
      color: lighten(#333, 20%);
    }
  }
}

/* Padding for all pages */

.top-bar, #megadrop {
    padding-left: $global-padding;
    padding-right: $global-padding;
}

.navbody, .breadcrumbs {
    padding-left: $body-padding;
    padding-right: $body-padding;
}

@media #{$small-only} {
    footer, .top-bar, #megadrop {
        padding-left: $global-padding-small;
        padding-right: $global-padding-small;
    }

    .navbody, .breadcrumbs {
        padding-left: $body-padding-small;
        padding-right: $body-padding-small;
    }
}

.navbody {
    margin-bottom: 1em;
}

.breadcrumbs {
    padding-top: 0.5625em;
    padding-bottom: 0.5625em;
}

/* Background-color for main display elements  */
.tabs .tabcontent, .ui-tabs .ui-tabs-panel, .accordion .tabactive {
    background-color: #fff;
}

fieldset legend {
    background-color: transparent;
}


.full-width {
    width: 100%;
}

.break-word { word-break: break-all; }
.float-clear { clear: both; }
.hidden {display: none; }
.notvisible {visibility: hidden; }

/* Sudoer bar is the bar that appears when you switch users from the
   'User Administration' page */
.info-bar {
    background-color: #d3d7cf;
    border-bottom: 1px solid #555753;
    padding-left: 2em;
    line-height: 3em;
    form, input {
        margin: 0;
    }
    img {
        vertical-align: middle;
    }
}

/* Custom form styles */

table form, table input[type="text"], table input[type="password"],
table input[type="date"], table input[type="datetime"], table input[type="checkbox"],
table input[type="datetime-local"], table input[type="month"],
table input[type="week"], table input[type="email"],
table input[type="number"], table input[type="search"], table select,
table input[type="tel"], table input[type="time"], table input[type="url"],
table textarea, form.custom table .custom.dropdown {
    margin: 0;
}

table .button {
    margin: 0;
}

fieldset.secondary {
    background-color: #f2f2f2;
    legend {
        background-color: transparent;
    }
}

/* Styles regarding use of OpenLayers maps */
.mapwrapper {
    margin: 1em 0;
    img {
        max-width: none; /* Openlayers maps need this to override a foundation style to display properly */
    }
}

.smallmap {
    height: 400px;
    width: 600px;
}

.navletmap {
    height: 400px;
    width: auto;
    position:relative;
}

.bigmap {
    height: 600px;
}


/* jquery ui tabs */

ul.ui-tabs-nav {
    font-size: 0.9em;
}


/* List styles */

ul.errorlist {
    background-color: $alert-color;
    color: white;
    font-size: .7rem;
    font-style: italic;
    list-style-type: none;
    margin: 0;
    padding: 0.375rem 0.5625rem 0.5625rem;
}

small.error ul.errorlist {
    margin-left: 0;
}

ul.clean, ol.clean, dl.clean {
    margin: 0;
    list-style-type: none;
}

li.list-header {
    background: #567899;
    color: white;
    font-weight: bold;
    padding: 0.3em 0.5em;
    text-align: left;
}

/* Lists inside vertical tables must align properly */
.vertitable {
    ul, ol, dl {
        line-height: inherit;
        li {
            margin-bottom: 2px;
        }
        li:last-of-type {
            margin-bottom: 0;
        }
    }
}


/* This class should be used with the .inline-list class */
ul.comma-separated {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    li {
        margin-left: 0;
        &:after { content: ",\00A0" }
        &:last-child:after { content: "" }
    }
    margin-left: 0;
}

/* Alert-box style */

.alert-box ul, .error ul {
    margin-bottom: 0;
}


/* highlighting */

.highlight {
	background: #FFF7BC !important;
}
.highlight .highlight {
	background: #FEE391;
}
.highlight .highlight .highlight {
	background: #FEC44F;
}

.logo-text {
    color:white;
    font-size:28px;
    position:relative;
    top:3px;
}


/* Add margin to font awesome in buttons */
button, .button, a {
    > i {
        &.pad-left {
            margin-left: 0.4rem;
        }
        &.pad-right {
            margin-right: 0.4rem;
        }
    }
}

/* Form styles */

form.inline-form {
    display: inline-block;
    > * {
        display: inline-block;
        width: auto;
    }
    > .custom.dropdown {
        display: inline-block;
        width: auto;
    }
    input[type=submit] {
        font-size: 0.875em;
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        line-height: 2.125em;
        height: 2.3125em;
    }
}

form label .fa {
    line-height: 1.5em;
}

/* Limit the vertical size of an element and display a scroll-bar instead */
.limit-size {
    max-height: 200px;
    overflow: auto;
}

/*
 * Make sure the arrow in select boxes does not overflow the text.
 * 21 px refers to the size of the background-image that Foundation uses.
 */
select {
    padding-right: 21px;
}

/* Reveal modal should always be as high as possible */
//.reveal-modal {
//    top: 0px;
//}
/* Alert icon */
.deleteicon {
    color: #d2322d;
}


/* NAV header */
.nav-header {
    h2 {
        margin-bottom: 0;
    }
    h5 {
        position: relative;
        font-size: 1em;
        top: -10px;
        a {
            margin-right: .2rem;
        }
    }
}

/* Debug */
#debug {
    background-color: #ffffff;
}

/* Foundation does strange things with select multiple */
select[multiple] {
    background: #FFFFFF;
    height: auto;
}

.graph-toggler {
    cursor: pointer;
}


/* Tooltip related stylings */
.tooltip > p {
    font-size: inherit;
    line-height: inherit;
}

.tooltip h3,
.tooltip > h5
{
    color: white;
}

[data-tooltip] {
    cursor: help;
}


/* Used for adding link to documentation from subheaders. For instance used in
 * Cabling and Patch-pages in SeedDB
 */
.documentation-subheader {
    font-size: .8rem;
    line-height: 2em;
    position: relative;
    top: -1rem;
}


/**
 * Fullscreen styles
 *
 * Force browsers to resize fullscreen element to cover viewport
 * For some MOTHERFUCKING reason it will not apply if the rules are combined.
 */
:-ms-fullscreen {
    position: fixed;
    width: 100%;
    height: 100% !important;
    top: 0;
    background: none;
}

:-webkit-full-screen {
    /* position: fixed; */
    width: 100% !important;
    height: 100% !important;
    top: 0;
    background: none;
}


#jqstooltip {
    box-sizing: content-box;
}


/**
 * Fix padding for buttons in graphitegraphs
 */
.graphitegraph button { margin-bottom: 0; }


/* Geo is a microformat standard
 * https://en.wikipedia.org/wiki/Geo_(microformat)
 */
.geo:before {
    font-family: FontAwesome;
    content: "\f0ac";
}
