/* Styles for / */

#index-leftcontent {
    float: left;
    width: 600px;
}

@media screen and (max-width: 900px) {

    #index-leftcontent {
        width: 100%;
    }

    div.boxes {
        display: table;
        width: 100%;
    }

    div.boxes table {
        display: table-cell;
        width: auto;
        border-right: 1px solid white;
    }

    div.boxes table:last-child {
        border: none;
    }

    div.boxes table th {
        white-space: nowrap;
    }

}

/* Smartphone landscape */
@media only screen
and (max-width : 480px) {
    div.boxes {
        display: none;
    }
}


/* Dashboard and widget stuff */

#dropdown-dashboard-add, #dropdown-dashboard-settings {
    .popover-content {
      width: 300px;
      form {
          margin-bottom: 1em;
      }
      input, select, .button {
          margin-bottom: 0;
      }
      .dashboard-title { cursor: pointer; }
      .dashboard-title i { display: none; }
      .dashboard-title:hover i { display: inline-block; }
      li {
          margin: 0;
      }
    }
}

#form-rename-dashboard {
    display: flex;
    label { overflow: hidden; }
    input[type=text] { width: 100%; }
}
