
#netboxes .dataTables_wrapper {
    display: inline-block;
    margin-bottom: 1em;
    margin-right: 3em;
    vertical-align: top;
}

table.compact {
    border-collapse: collapse;
    margin-bottom: 0.5em;
    font-size: 0.9em;
}

table.cluttered tr td {
    background-color: #CCDDEE;
    padding: 0.2em;

}

.center-content {
    text-align: center;
}

.pointer {
    cursor: pointer;
}

.help {
    cursor: help;
}

.brighten {
    color: #777;
}

img.textbottom {
    vertical-align: text-bottom;
}

/* Drag styles */
.drag {
    cursor: grab;
    cursor: -moz-grab;
    cursor: -webkit-grab;
}

.drag:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
}

/* Image cards */
.imagecard {
    background-color: white;
    border: 1px solid #DDDDDD;
    padding: 0.5em 1em;
    img {
        width: 100%;
    }
    .actions {
        overflow: hidden;
        i {
            margin-left: 0.5em;
            cursor: pointer;
        }
    }
    .meta {
        font-size: 0.7em;
    }
    .heading {
        border-bottom: 1px solid #DDDDDD;
        input {
            margin-bottom: 0;
        }
    }
}

/* Ensure lightbox captions don't overlap with the image */
.visible-img img {
    padding-bottom: 50px;
}

/* Prevent OpenStreetmap to show through the image clearing */
.clearing-blackout {
    z-index: 1010;
}

#room_map {
    height: 300px;
    width: auto;
}

#uploadform {
    display: inline-block;
}

.user-feedback {
    display: inline-block;
    .alert-box {
        display: inline-block;
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
    }
}
