/* Subsystem stylesheet for NAV
 *
  * Copyright 2006-2008 Uninett AS
 *
 * This file is part of Network Administration Visualized (NAV)
 *
 * NAV is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * NAV is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with NAV; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 * Authors: Stein Magnus Jodal <stein.magnus.jodal@uninett.no>
 *
 */

 @import '../foundation/functions';

/* Device details table */


.multitable {
    overflow: auto;
}

.multitable > table {
    float: left;
    margin-right: 1em;
}

#service-matrix-links {
    float: right;
}

.indent {
    text-indent: 1em;
}
.nowrap {
	white-space: nowrap;
}

/* Status table */
ul {
    &.normalize-font-size{
        font-size: rem-calc(14);
    }
}

/* Port view */
.module {
	border: 0px;
	white-space: nowrap;
}
.module td {
	line-height: 1.5em;
	text-align: center;
	vertical-align: middle;
}

.port {
	background: white;
	border: 1px solid #666;
}
.port a {
	color: black;
	display: block;
	padding: 0.3em 0.5em;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
}

/* Port legend box */
#portlegend table th, #portlegend table td {
	padding: 0.5em;
}
#portlegend table td {
	padding-right: 1em;
}
#portlegend table td .port {
	margin-right: 0.5em;
	padding: 0.2em;
}

.module, #portlegend {
    /* Speed legend */
    .passive {
        background: #ccc;
    }
    .disabled {
        background: #c99;
    }
    .Mb10 {
        background: #deebf7;
    }
    .Mb100 {
        background: #c6dbef;
    }
    .Mb1000 {
        background: #aecae1;
    }
    .Mb10000 {
        background: #8baed6;
    }
    /* Frame legend */
    .hduplex {
        border: 1px dashed #666;
    }
    .fduplex {
        border: 1px solid #666;
    }
    .trunk {
        border: 3px double #666;
    }
    .blocked {
        text-decoration: line-through;
    }

    /* Activity legend */
    .inactive {
        border: 1px dashed #666;
    }
    .active {
        border: 1px dashed #333;
    }
    .link {
        border: 1px solid #666;
    }
}


/* Service table */
.status_up {
	background: #91cf60;
	color: black;
}
.status_down {
	background: #fc8d59;
	color: black;
}
.status_shadow {
	background: #fee090;
	color: black;
}
.status_maintenance {
	background: #eeeeee;
	color: black;
}

.hidden {
    display: none;
}

.cell-center {
    text-align: center;
}

.cell-right {
    text-align: right;
}

table.module {
  border-collapse: separate;
  border-spacing: 0.2em;
}

table.module td div.portcell {
    position: relative;
    width: 100%;
}

table.module td div.portcell span.oplayer {
    position: absolute;
    right: -6px;
    bottom: -13px;
    font-size: 0.8em;
}

#metrictabs.ui-tabs, #moduletabs.ui-tabs {
	display:block;
}

#portmetrics {
    strong {
        margin-left: 0.4em;
    }
    .graphitegraph {
        margin-left: 1.5em;
        img {
            border: 1px solid #DDDDDD;
        }
    }
    .floatme {
        background: #ffffff;
        border-bottom: 2px solid white;
        border-right: 2px solid white;
        position: fixed;
        top: 0px;
        z-index: 200;
        button, .button {
            margin-bottom: 0;
        }
        .button-group:last-child {
            margin-right: 0;
        }
    }
}

#poe ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    li {
        padding: 20px;
        list-style-type: none;
    }
}

.fixed-alert {
    position: fixed;
    z-index: 10;
    right: 1rem;
    bottom: 0.5rem;
}

.refresh-button {
    height: 100%;
    width: 100%;
}
