@import "../navsettings";

#portadmin-wrapper {
    &.loading .port_row {
      opacity: 0.5;
      pointer-events: none;
    }
    .changed {
        background-color: bisque;
    }
    .success {
        background-color: $success-box-bg;
    }
    .error {
        background-color: $alert-box-bg;
    }
    .error-column {
        line-height: inherit;
        margin: 0;
        .alert-box {
            margin: 0;
        }
    }
}

#portadmin-feedback-modal {
  [aria-describedby] {
    cursor: pointer;
    border-bottom: dotted 1px #cccccc;
    font-weight: bold;
  }
  #restart-reason {
    padding: 0.5rem;
    margin-top: 0.25rem;
  }
}
