.racks-container {
    display: flex;
    flex-wrap: wrap;
}

#add-rackitem-tabs {
    display: none;
}

#sensormodal { height: 500px; }

.rack {
    /* Set a stronger link color due to dynamic background colors */
    a { color: #1565c0 }

    max-width: 240px;

    .color-chooser {
        .color-indicator {
            display: inline-block;
            width: 15px;
            height: 15px;
        }
    }

    margin-right: 1em;
    form.rename-rack-form {
        overflow: auto;
        input {
            margin-bottom: 0;
        }
    }

    /* Edit-mode stuff */
    .flex-when-noedit { display: flex; }
    .block-when-edit { display: none; }
    .inline-when-edit { display: none; }
    &.editmode {
        .flex-when-noedit { display: none; }
        .block-when-edit { display: block; }
        .inline-when-edit { display: inline; }
        .rack-center { flex: 1; }
    }

    .fa {
        &.fa-edit, &.fa-remove { cursor: pointer; }
        &.fa-arrows { cursor: grab; }
    }

    button { margin-bottom: 0; }

    &:hover .icon-container { opacity: 1; }
    .icon-container {
        opacity: .2;
        margin-left: .5em;
        i {
            cursor: pointer;
            font-size: 1rem;
        }
    }

    /* Sortable */
    .ui-sortable-helper { background-color: white; border: 1px solid black; }
    .ui-sortable-placeholder { background-color: yellow; border: 1px solid black; }

}


.rack-heading, .rename-rack-form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
}


.color-chooser {
    display: flex;
    justify-content: space-between;
}

.rack-body, .color-chooser .color-indicator {
    &.bg1 { background-color: #E0E0E0; }
    &.bg2 { background-color: #FFE0B2; }
    &.bg3 { background-color: #C8E6C9; }
    &.bg4 { background-color: #B3E5FC; }
    &.bg5 { background-color: #E3DBF2; }
}

.rack-body {
    background-color: #E0E0E0;
    border: 1px solid #aaaaaa;
    display: flex;

    padding: .3rem;

    .rack-pdu {
        height: 100%;
        text-align: center;
    }

    .rack-center {
        height: 100%;
        max-width: 150px;
        margin: 0 .5rem;
        .rack-sensor {
            padding-bottom: .3rem;
            margin-bottom: .3rem;
            &:not(:last-child) {
                border-bottom: 1px solid #aaaaaa;
            }
        }

    }

    .rack-sensor {
        .alert-box {
            padding: 0.4rem 0.8rem;
        }
        .heading {
            font-size: 0.8rem;
        }
    }
}
