
#status-panel { max-width: 830px; }

table.expandable {
    /* Prevent the default alteration of row color */
    tr.even, tr.alt, tr:nth-of-type(even) {
        background: inherit;
    }


    tr {
        /* Mark rows that has some kind of status */
        &.hasStatus {

        }
        /* Set background and inset effect on the event info panel */
        &.expanded td {
                box-shadow: inset 0px 0px 6px #aaaaaa;
                background-color: #EEEEEE;
        }
    }

    /* Prevent cells from being selected when sorting */
    th {
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        -khtml-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    /* Override default font size so that text in the event info panel is not that big */
    li, p {
        font-size: 0.9rem;
    }
}

#action-help-content {
    margin: 0.5rem 0 1rem 0;
    padding: 1rem;
    background-color: #ffffff;
    border: 1px solid #cccccc;
}
