.watchdog-tests {
    ul {
        max-height: 300px;
        overflow: auto;
    }
    li {
        padding: 0.2em;
        &:nth-child(odd) {
            background-color: #F9F9F9;
        }
    }
    .label {
        line-height: 1.4em;
        width: 60px;
    }
    summary {
        cursor: pointer;
        // restore native disclosure triangle (normalize.scss forces `display: block`)
        display: list-item;
        list-style-position: inside;
        &:hover {
            background-color: #EFEFEF;
        }
    }
    .wd-test-description {
        i {
            color: gainsboro;
            transition: color .5s;
            &:hover {
                color: black;
            }
        }
    }
}
