{% extends "base.html" %}

{% block base_content %}
<h2>About NAV</h2>

<h3>What is NAV?</h3>

<div style="float: right;">
        <a href="http://www.ntnu.no/"><img src="/images/about/ntnu.jpg"
        width="200" height="58" alt="NTNU" /></a><br />
        <a href="http://www.uninett.no/index.en.html"><img
        src="/images/about/uninett.png" width="111" height="27" alt="UNINETT" /></a>
</div>

<p>
  Network Administration Visualized is an advanced software suite to monitor
  large computer networks. It automatically discovers network topology,
  monitors network load and outages, and can send alerts on network events by
  e-mail and SMS, allowing for flexible configuration of alert profiles.
</p>

<p>
  NAV was originally developed at the Norwegian University of Science and
  Technology (<a href="http://www.ntnu.no/">NTNU</a>) since 1999, to meet the
  needs of the university's campus network operators.  The Norwegian national
  research network, <a href="http://www.uninett.no/index.en.html">UNINETT</a>,
  became involved in 2001, and has been leading the development of NAV since
  2006, on behalf of all universities and university colleges in Norway.
</p>

<p>
  NAV is free, available under the <em>GNU GPLv2</em> license.
</p>

<h3>More information</h3>

<p>For more information about NAV, go to the following addresses:</p>

<ul>
        <li><a href="http://metanav.uninett.no/">MetaNAV</a>
        &mdash; Wiki and documentation</li>
        <li><a href="https://launchpad.net/nav">NAV in Launchpad</a>
        &mdash; our Launchpad.net project site with NAV downloads and trackers
        for bugs and feature requests</li>
</ul>

<h3>Show us your appreciation!</h3>

<p>NAV is free - no strings attached - apart from these two;</p>

<ol>
        <li>If you are using NAV please add yourself to <a
        href="http://metanav.ntnu.no/moin.cgi/NAVUsers">this list</a>.</li>

        <li>
          <p>If NAV makes you happy - make us happy! Send us a postcard,
             preferably with a picture from your location / city. No
             electronic postcards - use snail mail - send the postcard to:</p>

          <p class="infobox">
            UNINETT AS<br />
            Att: The NAV project team / Morten Brekkevold / Vidar Faltinsen<br />
            Abels gate 5 - Teknobyen<br />
            NO-7465 Trondheim<br />
            Norway<br />
          </p>

	  <p>...and we will decorate our wall :)</p>
        </li>
</ol>

<p>That's all folks - keep using NAV - keep sending us bug reports and feature
requests!</p>
{% endblock %}
