{% extends "base.html" %}

{% block base_header_additional_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/index.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/navlets.css" />
    <script>require(["src/webfront"]);</script>
{% endblock %}


{% block base_content %}

  {#  Reveal Add widgets modal  #}
  {% if not current_user_data.account.is_default_account or current_user_data.sudoer %}

    <div id="widgets-action-add" class="hide-for-small" title="Add widget" data-reveal data-reveal-id="navlet-list">
      <i class="fa fa-plus"></i>
    </div>

    {% comment %} List of navlets to add {% endcomment %}
    <div id="navlet-list" class="reveal-modal" data-reveal>
        <h4>Add a widget to your page</h4>
        <table class="expand table-hover">
            <tbody>
            {% for navlet in navlets %}
                <tr>
                    <td>{{ navlet.title }}</td>
                    <td>{{ navlet.description }}</td>
                    <td>
                        <form class="add-user-navlet" action="{% url add-user-navlet %}"
                              method="post">
                            <input type="hidden" name="navlet"
                                   value="{{ navlet.identifier }}">
                            <input type="submit"
                                   class="button tiny" value="Add">
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

  {% endif %}

  {% comment %} Main container for navlets {% endcomment %}
  <div id="navlets"
       data-list-navlets="{% url get-user-navlets %}"
       data-remove-navlet="{% url remove-user-navlet %}"
       data-save-order-url="{% url save-navlet-order %}"
       data-base-template-url={% url navlet-base-template %}
          ></div>

  <ul id="joyride_for_desktop" data-joyride class="joyride-list">
    <li data-text="Next" data-id="joyrideme">
      <p>Welcome to NAV!</p>
      <p>This 30 second tour will show you the basics.</p>
    </li>
    <li data-id="navbar-search-form" data-text="Next">
      <h4>Search</h4>

      <p>Search for IP Devices, rooms, interfaces, VLANs and so forth here.</p>
    </li>
    <li data-id="megadroptoggler" data-text="Next">
      <h4>Your tools</h4>
      <p>All your tools can be found here.</p>
    </li>
    <li data-id="widgets-action-add" data-text="Next" data-options="tip_location:left">
      <h4>Widgets</h4>

      <p>More widgets can be added by using this button.</p>
    </li>
    <li data-class="navlet-action-group" data-text="Next">
      <h4>Widget controls</h4>

      <p>Move or remove the widget. In many cases you will also see an edit option so that you can personalize the display.</p>
    </li>
    <li data-id="footer-documentation-link" data-text="End">
      <p>Our documentation and wiki pages are stuffed with more information about NAV. A <a href="/doc" title="local documentation">local copy of the documentation</a> is also available.</p>
    </li>
  </ul>

  <ul id="joyride_for_mobile" data-joyride class="joyride-list">
    <li data-text="Next">
      <p>Welcome to NAV!</p>
      <p>This 30 second tour will show you the basics.</p>
    </li>
    <li data-class="toggle-topbar" data-text="Next" >
      <h4>Search and tools</h4>

      <p>Open the menu on the top right to get access to search and tools.</p>
    </li>
    <li data-class="navlet-action-group" data-text="Next">
      <h4>Widget controls</h4>

      <p>Move or remove the widget by using the icons. In many cases you will also see an edit option so that you can personalize the display.</p>
    </li>
    <li data-id="footer-documentation-link" data-text="End">
      <p>Our documentation and wiki pages are stuffed with more information about NAV. A <a href="/doc" title="local documentation">local copy of the documentation</a> is also available.</p>
    </li>
  </ul>


{% endblock %}
