{% extends "base.html" %}

{% block base_header_additional_head %}
    <link rel="stylesheet" href="/style/tool.css" />
    <link rel="stylesheet" href="/style/jqueryui/jquery-ui-1.8.21.custom.css" />
    <script>require(["src/toolbox"]);</script>
{% endblock %}

{% block base_content %}
<h2>Toolbox</h2>

    {% if not current_user_data.account.is_default_account %}
        <div class="buttoncontainer">
            <img class="display-layout" title="Change layout" alt="Change layout"
                    {% if layout == 'grid' %}
                 src="/images/icons/edit-list.png" data-value='list'
                    {% else %}
                 src="/images/icons/grid.png" data-value='grid'
                    {% endif %}
                    >
            <button class="editbutton">Edit</button>
            <button class="savebutton showonclick">Save</button>
            <span class="showonclick">Drag to sort existing tools. Drag them to the yellow list to hide them.</span>
        </div>
    {% endif %}


    {% if layout == 'grid' %}

        <ul id="deselected_tools" class="gridlist ui-helper-hidden deselected toollist">
            {% for tool in tools %}
                {% if not tool.display %}
                    {% include "webfront/toolbox_big_frag.html" %}
                {% endif %}
            {% endfor %}
        </ul>

        <div class="float-clear"></div>

        <ul id="selected_tools" class="gridlist toollist">
            {% for tool in tools %}
                {% if tool.display %}
                    {% include "webfront/toolbox_big_frag.html" %}
                {% endif %}
            {% endfor %}
        </ul>

    {% else %}


        <div class='linklistwrapper'>
            <ul id="selected_tools" class="linklist toollist">
                {% for tool in tools %}
                    {% if tool.display %}
                        {% include 'webfront/toolbox_small_frag.html' %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>

        <div class="linklistwrapper">
            <ul id="deselected_tools"
                class="ui-helper-hidden linklist toollist">
                <li class="permanent ui-state-highlight">
                    <span>Drag tools you do not want here</span>
                </li>
                {% for tool in tools %}
                    {% if not tool.display %}
                        {% include 'webfront/toolbox_small_frag.html' %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>


    {% endif %}

    <div class="float-clear"></div>


{% endblock %}
