{% extends "base.html" %}

{% block base_header_additional_head %}
    <link rel="stylesheet" href="/style/tool.css" />
    <link rel="stylesheet" href="/style/jqueryui/jquery-ui-1.8.21.custom.css" />
    <script>require(["src/toolbox"]);</script>
{% endblock %}

{% block base_content %}
<h2>Toolbox</h2>

    {% if not current_user_data.account.is_default_account %}
        <div class="buttoncontainer">
            <button class="editbutton button">Edit</button>
            <button class="savebutton button">Save</button>
            <span class="info">Drag to sort existing tools. Click to make them available in the your tools list when you leave the page.</span>
        </div>
    {% endif %}

    <table id="tool_list">
        <tbody>
        {% for tool in tools %}
            <tr data-toolid="{{ tool.name }}">
                <td>
                    <a href="{{ too.uri }}" title="{{ tool.description }}">
                        <img src="{{ tool.icon }}" alt="{{ tool.name }}">
                    </a>
                </td>
                <td>
                    <a href="{{ tool.uri }}" title="{{ tool.description }}">
                        <span>{{ tool.name }}</span>
                    </a>
                </td>
                <td>
                    {{ tool.description }}
                </td>
                <td>
                    stuff
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
