<div id="syslog_search">
    {% if form %}
    <form id="syslog_search_form" method="get" action="{{ form_target }}">
        <table class="vertitable">
            <tbody>
            {% for field in form %}
            <tr>
                <th>{{ field.label }}</th>
                <td>{{ field }} {% if field.errors %}{{ field.errors }}{% endif %}</td>
            </tr>
            {% endfor %}
            <tr>
                <th></th>
                <td>
                    <button type="submit" name="send" data-target="{{ form_target }}">Filter</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    {% endif %}

    {% include "loggerhandler/frag-results.html" %}
</div>
