{% extends "loggerhandler/base.html" %}



{% block content %}

<div id="loggerinfotabs" class="ui-helper-hidden">

<div id="moduletabs">
    <ul>
        <li><a href="{% url logger_search_group %}">Search<span class="tab-spinner">&nbsp;</span></a>
        </li>
        <li><a href="{% url logger_errors %}">Parsing
            errors?<span class="tab-spinner">&nbsp;</span></a></li>
        <li><a href="{% url logger_priority_exceptions %}">Priority
            exceptions<span class="tab-spinner">&nbsp;</span></a></li>
    </ul>
</div>

</div>
{% endblock %}

