{% extends "loggerhandler/base.html" %}

{% block base_header_additional_head %}
<script type="text/javascript" src="/js/libs/require.js" data-main="src/logger"></script>
<link rel="stylesheet" type="text/css" href="/style/jqueryui/jquery-ui-1.8.21.custom.css">
<!--<link rel="stylesheet" type="text/css" href="/style/ipdevinfo.css"/>-->
{% endblock %}

{% block content %}

<div>
[<a href="/logger/errors/">parsing errors</a>] [<a href="/logger/exceptions/">priority exceptions</a>]
</div>

<div id="loggerinfotabs" class="ui-helper-hidden">

    <div id="moduletabs">
        <ul>
            <li><a href="{% url logger_index %}">Search<span class="tab-spinner">&nbsp;</span></a></li>
            <li><a href="{% url logger_index %}">Results<span class="tab-spinner">&nbsp;</span></a></li>
            <li><a href="{% url logger_index %}">Parsing errors?<span class="tab-spinner">&nbsp;</span></a></li>
            <li><a href="{% url logger_index %}">Priority exceptions<span class="tab-spinner">&nbsp;</span></a></li>
        </ul>
    </div>




{% if form %}
    <form method="get">
        <table class="vertitable">
            <tbody>
                {% for field in form %}
                    <tr>
                        <th>{{ field.label }}</th>
                        <td>{{ field }} {% if field.errors %}{{ field.errors }}{% endif %}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <th></th>
                    <td><button type="submit" name="send">Filter</button></td>
                </tr>
            </tbody>
        </table>
    </form>
{% endif %}

</div>


<div>
{% if priorities %}
    <form action="/logger" method="get">
        <table class="vertitable">
        <tr>
            <th>
                <label for="priority">Priority</label>
            </th>
            <td>
                <select id="priority" name="priority">
                {% for pri, label in priorities %}
                    {% ifequal pri priority %}
                    <option value="{{ pri }}" selected>{{ label}}</option>
                    {% else %}
                    <option value="{{ pri }}">{{ label}}</option>
                    {% endifequal %}
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label for="type"><a href="http://www.cisco.com/univercd/cc/td/doc/product/software/ios120/12supdoc/12sems/emover.htm#5002">Message type</a></label>
            </th>
            <td>
            
                <select id="type" name="type">
                {% for logtype, loglabel in types %}
                    {% ifequal logtype type %}
                    <option value="{{ logtype }}" selected>{{ loglabel }}</option>
                    {% else %}
                    <option value="{{ logtype }}">{{ loglabel }}</option>
                    {% endifequal %}
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label for="category">Category</label>
            </th>
            <td>
                <select id="category" name="category">
                {% for catid, catname  in categories %}
                    {% ifequal catid category %}
                    <option value="{{ catid }}" selected>{{ catname }}</option>
                    {% else %}
                    <option value="{{ catid }}">{{ catname }}</option>
                    {% endifequal %}
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label for="origin">Origin</label>
            </th>

            <td>
                <select id="origin" name="origin">
                {% for origid, origname in origins %}
                    {% ifequal origid origin %}
                    <option value="{{ origid }}" selected>{{ origname }}</option>
                    {% else %}
                    <option value="{{ origid }}">{{ origname }}</option>
                    {% endifequal %}
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th>
                <label for="tfrom" title="yyyy-mm-dd HH:MM:SS">From</label>
            </th>
            <td>
                <input type=text" name="tfrom" value="{{ tfrom }}"
                    title="yyyy-mm-dd HH:MM:SS" size="19" maxlength="19"/>
            </td>
        </tr>
        <tr>
            <th>
                <label for="tto" title="yyyy-mm-dd HH:MM:SS">To</label>
            </th>
            <td>
                <input type="text" name="tto" value="{{ tto }}"
                    title="yyyy-mm-dd HH:MM:SS" size="19" maxlength="19"/>
            </td>
        </tr>
        <tr>
            <td>
                &nbsp;
            </td>
            <td>
                <button type="submit" name="filter">Filter</button>
            </td>
        </tr>
        </table>
    </form>
{% endif %}
</div>

{% if errors_mode %}
    {% if errors %}
        <table class="listtable">
        <caption>Parsing errors</caption>
        <tbody>
            {# Implement this! #}
            {% for err in errors %}
            <tr class="rowcycler">
                <td>{{ err }}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tbody class="footer">
            <tr>
                <th>Total {{ errors_count }}  error conditions</th>
            </tr>
        </tbody>
        </table>
    {% else %}
        <div>
            No errors
        </div>
    {% endif %}
{% endif %}

{% if exceptions_mode %}
    {% if exceptions %}
        <table class="listtable">
        <caption>Parsing errors</caption>
        <tbody>
            {% for option, pri in exceptions %}
             <tr class="rowcycler">
                <td>{{ option }}</td>
                <td>{{ pri }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <div>
            No exceptions
        </div>
    {% endif %}
{% endif %}

{% load get_item %}

    {% if aggregates %}
        {% for name, aggregate in aggregates.items %}
            <table class="listtable">
                <caption>{{ name }}</caption>
                <thead>
                <tr>
                    {% for key in aggregate.headers %}
                        <th>{{ key }}</th>
                    {% endfor %}
                    <th>Count</th>
                </tr>
                </thead>
                <tbody>

                {% for title in aggregate.values %}
                <tr>
                    {% for key, value in title.items %}
                        {% if key != "sum" %}
                            <td>{{ value }}</td>
                        {% endif %}
                    {% endfor %}
                    <td>{{ title.sum }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
       {% endfor %}
    {% endif %}
    {% if log_messages %}
        <table class="listtable">
        <caption>Log</caption>
        <thead>
            <tr>
                <th>Time</th>
                <th>Origin</th>
                <th>Message type</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {# Implement this! #}
            {% for mess in log_messages %}
            <tr>
                <td>{{ mess.time }}</td>
                <td>{{ mess.origin.name }}</td>
                <td>{{ mess.type.priority.keyword }}</td>
                <td>{{ mess.message }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% else %}
        <div>
            No log-messages
        </div>
    {% endif %}

{% if priority_mode %}
    {% if priority_list %}
        <table class="listtable">
        <caption>Priorities</caption>
        <thead>
            <tr>
                <th>Priority</th>
                <th>Count</th>
            </tr>
        </thead>
        <tbody>
            {# Implement this! #}
            {% for pri in priority_list %}
            <tr>
                <td></td>
                <td></td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    {% endif %}
{% endif %}

{% endblock %}

</div>