<table class="vertitable"">
  <tbody>
    <tr>
      <th title="A regular count of the IP Devices">IP Devices</th>
      <td><span id="netbox-count">Fetching...</span></td>
    </tr>
    <tr>
      <th title="An estimation of all the arp records">Estimated Arp records</th>
      <td><span id="arp-count">Fetching...</span></td>
    </tr>
    <tr>
      <th title="A estimation of all the arp records">Estimated Cam records</th>
      <td><span id="cam-count">Fetching...</span></td>
    </tr>
    <tr>
      <th title="All the distinct serial numbers">Serial numbers</th>
      <td><span id="serial-numbers">Fetching...</span></td>
    </tr>
    <tr>
      <th title="Current active ip-addresses. The split of version 4
                 and version 6 can be seen after the main number.">
        Active IPs (v4/v6)</th>
      <td><span id="active-addresses">Fetching...</span></td>
    </tr>
  </tbody>
</table>
