{% load watchdog %}

<ul class="watchdog-tests no-bullet">
  {% for test in tests %}
  <li>
      {{ test.name }}
      <span class="nav-tooltip wd-test-description">
          <i class="fa fa-info-circle" aria-describedby="test-tooltip-{{ test.name }}"></i>
          <span id="test-tooltip-{{ test.name }}" role="tooltip">
              {{ test.description }}
          </span>
      </span>
    <span class="label {{ test.status|map_to_class }} right">
      <i class="fa fa-lg {{ test.status|map_to_faclass }}"></i>
    </span>

    <ul class="hidden">
      {% for error in test.errors %}
      <li style="list-style-type: circle">
        <small>
	  {% if error.obj.get_absolute_url %}
	    <a href="{{ error.obj.get_absolute_url }}">{{ error }}</a>
	  {% else %}
	    {{ error }}
	  {% endif %}
	</small>
      </li>
      {% endfor %}
    </ul>

  </li>
  {% empty %}
    <p class="alert-box success">Everything is running smoothly</p>
  {% endfor %}
</ul>
