{% extends "base.html" %}

{% load info %}

{% block base_header_additional_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/info.css"/>
    <script>require(['src/info']);</script>
{% endblock %}



{% block base_content %}

    <h3>Info</h3>

    <div class="panel">Search for netboxes, interfaces, rooms and vlans. This search is the same as searching in the navbar.</div>

    <div class="row">
        <div class="large-6 medium-10 small-12 column">
            <form action="{% url info-search %}" method="get">
                <div class="row collapse">
                    <div class="medium-10 small-12 columns">
                        {{ form.query }}
                    </div>
                    <div class="medium-2 small-12 columns">
                        <input type="submit" class="button prefix" value="Search">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="large-6 medium-10 small-12 column">
        {% if form.is_bound %}
            <div id="infotabs" class="ui-helper-hidden">
            {% if searchproviders %}
                <ul>
                {% for searchprovider in searchproviders %}
                    {% if searchprovider.results %}
                        <li><a href="#{{ searchprovider.name }}">{{ searchprovider.name }} ({{ searchprovider.results|length }})</a></li>
                    {% endif %}
                {% endfor %}
                </ul>

                {% for searchprovider in searchproviders %}
                    {% if searchprovider.results %}
                        <div id="{{ searchprovider.name }}">
                            <table class="listtable full-width table-hover">
                                <caption>
                                    {{ searchprovider.name }}
                                    <span class="subtitle right">
                                        {{ searchprovider.results|length }} result{{ searchprovider.results|pluralize:'s' }}
                                    </span>
                                </caption>

                                <thead>
                                <tr>
                                    {% for header, getter in searchprovider.headers %}
                                        <th>{{ header }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>

                                <tbody>
                                {% for result in searchprovider.results %}
                                    <tr>
                                        {% for header, getter in searchprovider.headers %}
                                            <td>
                                                {% if header == searchprovider.link %}
                                                    <a href="{{ result.href }}">
                                                {% endif  %}
                                                {{ result.inst|get_attr:getter }}
                                                {% if header == searchprovider.link %}
                                                    </a>
                                                {% endif  %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <div class="alert-box secondary">No results for "{{ form.data.query }}"</div>
            {% endif %}
            </div>
        {% endif %}
        </div>
    </div>

{% endblock %}
