{% extends "base.html" %}

{% load info %}

{% block base_header_additional_head %}
    <link rel="stylesheet" type="text/css" href="/style/info.css"/>
{% endblock %}



{% block base_content %}

    <h2>Info</h2>

    <form action="{% url info-search %}" method="get">
        <p>{{ form.query }}
            <button type="submit">Search</button>
        </p>
    </form>

    {% if form.is_bound %}
        {% if searchproviders %}

            {% for searchprovider in searchproviders %}
                {% if searchprovider.results %}

                    <table class="searchprovider vertitable">
                        <caption>{{ searchprovider.name }}</caption>

                        <thead>
                        <tr>
                            {% for header in searchprovider.headers %}
                                <th>{{ searchprovider.headertext|lookup:header }}</th>
                            {% endfor %}
                        </tr>
                        </thead>

                        <tbody>
                        {% for result in searchprovider.results %}
                            <tr>
                                {% for key in searchprovider.headers %}
                                    <td>
                                        {% if key == searchprovider.link %}
                                            <a href="{{ result.href }}">{{ result.inst|get_attr:key }}</a>
                                        {% else %}
                                            {{ result.inst|get_attr:key }}
                                        {% endif %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>

                    </table>

                {% endif %}
            {% endfor %}

        {% else %}
            <p class="messages">No results for "{{ form.data.query }}"</p>
        {% endif %}
    {% endif %}

    <div class="float-clear"></div>

{% endblock %}
