<form
        method="post"
        hx-post="{% url 'room-info-racks-save-sensor' room.pk %}"
        hx-target="{{ hx_target }}"
        hx-swap="beforeend"
>
  {% csrf_token %}
  <label>
    Choose {{ sensortype }}
    <select class="sensordropdown" name="sensorid">
      <option value="">----------</option>
      {% for sensor in sensors %}
        <option value="{{ sensor.pk }}">{{ sensor }}</option>
      {% endfor %}
    </select>
  </label>
  <input type="hidden" name="item_type" value="Sensor">
  <input type="hidden" name="rackid" value="{{ rack.pk }}">
  <input type="hidden" name="column" value="{{ column }}">
  <input type="submit" class="button" value="Add sensor">
  <button class="secondary right cancelbutton">Cancel</button>
</form>
