{% extends "info/base.html" %}
{% load silent_include %}

{% block base_header_additional_head %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/nav/info_room.css"  rel="stylesheet">
  <script>require(["src/info_room"]);</script>
  {% try_to_include 'info/room/header_extras.html' %}
{% endblock %}

{% block content %}
  {% block roominfo %}

    <h3>Room search</h3>
    {% include 'info/_search_form.html' with form=searchform %}
    <div id="search-results">
    {% if searchform.is_bound %}
    {% include 'info/room/_search_results.html' %}
    {% endif %}  {# bound check #}
    </div>
    <div id="mapcontainer" class="mapwrapper smallmap"></div>
    <div id="coordinates"></div>

  {% endblock %}

{% endblock %}
