<div id="item_{{ rack.id }}_{{ racksensor.id }}"
     class="rack-sensor"
     title="{{ racksensor.title }}"
     data-metric="{{ racksensor.get_metric }}"
     data-id="{{ racksensor.id }}"
     data-sortid="item_{{ racksensor.id }}"
     data-column="{{ column }}"
     data-unit="{{ racksensor.unit_of_measurement }}"
     {% if racksensor.unit_of_measurement == 'boolean' %}
     data-on-state="{{ racksensor.sensor.on_state }}"
     {% else %}
     data-display-range="{{ racksensor.get_display_range }}"
     {% endif %}
>
  <div class="heading">
    <span class="right">
      <i class="fa fa-arrows inline-when-edit" title="Click and drag"></i>
      <i class="fa fa-remove remove-sensor inline-when-edit" title="Remove sensor"></i>
    </span>
    <a href="{{ racksensor.get_absolute_url }}">
      {{ racksensor.human_readable }}
    </a>
  </div>
  {% if racksensor.unit_of_measurement == racksensor.sensor.UNIT_TRUTHVALUE %}
    <a href="{{ racksensor.get_absolute_url }}">
      <div class="on alert-box {{ racksensor.sensor.alert_type_class }} hidden">{{ racksensor.sensor.on_message }}</div>
      <div class="off alert-box success hidden">{{ racksensor.sensor.off_message }}</div>
    </a>
  {% else %}
  <div class="sparkline"></div>
  <small class="textvalue"></small>
  <small>{{ racksensor.unit_of_measurement }}</small>
  {% endif %}
</div>
