{% load info %}
<div id="netboxes">

  <div class="row">
    <div class="small-12 column">
      <button
         class="small button right secondary"
         hx-get="{% url 'room-info-about-the-search' %}"
         hx-target="body"
         hx-swap="beforeend"
      >
        About the search
      </button>
      <h4>{{ room.id }}: {{ netboxes|length }}
        netbox{{ netboxes|pluralize:"es" }}</h4>
    </div>
  </div>

  <div class="row">
    <div id="global-search" class="small-3 columns">
      <label>
        Search
        <input id="netbox-global-search" type="text"/>
      </label>
    </div>

    <div id="vlanfilter" class="small-3 columns">
      <label>
        Vlan
        <input type="text">
      </label>
    </div>

    <div id="lastseenfilter" class="small-3 columns">
      <label>
        Last Seen (days ago)
        <input type="text">
      </label>

    </div>

    <div class="small-3 columns">
      <label>
        CSV
          <span class="nav-tooltip" data-align="end">
              <i class="fa fa-question-circle has-tip" aria-describedby="csv-tooltip"></i>
              <span id="csv-tooltip" role="tooltip">
                  To open this in Microsoft Excel, you need to change the file to a .txt file, start Excel and import the file.
              </span>
          </span>
      </label>

      <form id="csv-download-form" action="{% url 'room-csv' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="rows" value="">
        <input type="hidden" name="roomid" value="{{ room.id }}">
        <input type="submit" class="button small secondary" value="Download as CSV">
      </form>
    </div>
  </div>



  {% for netbox in netboxes %}

    <table class="listtable netbox compact cluttered">

      <caption>
        <a href="{% url 'ipdevinfo-details-by-name' netbox.sysname %}">
          {{ netbox.sysname }}
        </a> {% if netbox.type.name %} - {{ netbox.type.name }} {% endif %}
      </caption>

      <thead>
      <tr>
        <th>Name</th>
        <th>Portname</th>
        <th>Status</th>
        <th>Vlan</th>
        <th>Last active</th>
      </tr>
      </thead>

      <tbody>
      {% for interface in netbox.interfaces_list %}
        <tr>

          <td title="Interface speed: {{ interface.speed }}">
            <a href="{% url 'ipdevinfo-interface-details' netbox.sysname interface.id %}">
              {{ interface.ifname }}
            </a>
          </td>

          <td>{{ interface.ifalias }}</td>

          <td class="center-content help">
            <img title="Link status (green=link, red=no link)"
                 src="{{ STATIC_URL }}images/lys/{% if interface.ifoperstatus == interface.OPER_UP %}green.png{% else %}red.png{% endif %}"
                 alt="{% if interface.ifoperstatus == interface.OPER_UP %}Up{% else %}Down{% endif %}"/>
          </td>

          <td class="numeric">
            {% if interface.trunk %}
              <span class="help" title="Allowed vlans: {{ interface.get_trunkvlans_as_range }}">
                Trunk
              </span>
            {% else %}
              {% if interface.vlan %}
                {{ interface.vlan }}
              {% endif %}
            {% endif %}
          </td>

          {% if interface.to_netbox and not interface.trunk %}
            {# If the interface is connected to other equipment, it should be considered active #}
            <td title="To netbox: {{ interface.to_netbox }}"
                class="numeric brighten">
              <a href="{{ interface.to_netbox.get_absolute_url }}">
                {{ interface.to_netbox }}
              </a>

              <span class="hidden" title="{{ maxtime|date:"Y-m-d H:i" }}"></span>
            </td>
          {% else %}
            {# If not connected to other equipment, use information from the cam table to indicate last used #}
            <td
              {% if not interface.last_cam|is_max_timestamp %}
                title="{{ interface.last_cam|date:"Y-m-d H:i" }}"
              {% else %}
                title="Active now"
              {% endif %}
              class="numeric {% if interface.last_cam|is_max_timestamp %}brighten{% endif %}">

              {% if not interface.trunk %}
                {{ interface.last_cam|days_since }}
                <span class="hidden" title="{{ interface.last_cam|date:"Y-m-d H:i"|default:'Never' }}"></span>
              {% endif %}
            </td>
          {% endif %}

        </tr>
      {% endfor %}
      </tbody>

    </table>

  {% endfor %}


</div>
