{% block base_header_additional_head %}
  <link href="{{ STATIC_URL }}css/nav/rack.css" rel="stylesheet">
  <script>
    require(["src/info_room_rack", 'plugins/vue_rack']);
    NAV.urls.render_add_sensor = "{% url 'room-info-racks-add-sensor-modal' room.pk %}"
    NAV.urls.remove_sensor = "{% url 'room-info-racks-remove-sensor' room.pk %}"
    NAV.urls.remove_rack = "{% url 'room-info-racks-remove-rack' room.pk %}"
    NAV.urls.save_sensor_order = "{% url 'room-info-racks-save-sensor-order' room.pk %}"
    NAV.urls.save_rack_order = "{% url 'room-info-racks-save-rack-order' room.pk %}"
    NAV.urls.save_rack_color = "{% url 'room-info-racks-save-rack-color' room.pk %}"
    // Process content added by AJAX to enable htmx features
    htmx.process(document.getElementById("racks-container"));
  </script>
{% endblock %}

<h3>Environment sensors in racks in {{ room.pk }}</h3>

{% if not racks %}
  <p class="alert-box" data-id="no-racks-alert">There are no racks in this room.</p>
{% endif %}

<div id="racks-container" class="racks-container">
  {% for rack in racks %}
    {% include 'info/room/fragment_rack.html' %}
  {% endfor %}

  {% if current_user_data.is_admin %}
    <div id="add-rack-button-container">
      <h5 class="rack-heading">&nbsp;</h5>
      <button
          class="button small"
          hx-get="{% url 'room-info-racks-add-rack-modal' room.pk %}"
          hx-target="body"
          hx-swap="beforeend"
      >
          Add a rack
      </button>
    </div>
  {% endif %}

</div>
