{% extends "info/room/base.html" %}

{% block base_header_additional_head %}
  <link href="{{ STATIC_URL }}css/nav/info_room.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css"
        rel="stylesheet">
  <script>require(["src/image_upload"]);</script>
  <script>
    NAV.urls['image-update-title'] = "{% url 'image-update-title' %}";
    NAV.urls['image-delete-image'] = "{% url 'image-delete-image' %}";
    NAV.urls['image-update-priority'] = "{% url 'image-update-priority' %}";
  </script>
  <style>
    {# Styles for the form file input #}
    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .fa.fa-upload { margin-right: .8em; }

  </style>
{% endblock %}

{% block base_content %}

  {% include "info/_image_upload_header.html" with id=room.id %}

  <p><a href="{% url 'room-info' room.id %}">Back to room</a></p>

  {% include 'info/images/upload.html' %}
{% endblock %}
