{% extends "radius/base.html" %}
{% load radius %}

{% block content %}

  <div class="row">
    <div class="small-9 column">
      <h4 class="subheader">Show top 6 talkers</h4>
    </div>
    <div class="small-3 column">
      <button
          class="button small secondary right"
          hx-get="{% url 'radius-account-chart-hints' %}"
          hx-target="body"
          hx-swap="beforeend"
      >
          About the data
      </button>
    </div>
  </div>

  <div id="form" class="row">
    <div class="medium-6 columns">
      {% include 'custom_crispy_templates/flat_form.html' with disable_csrf=True %}
    </div>
  </div>

  <ul class="large-block-grid-2">

    {% for table in tables %}
      <li>
        <table id="charttable{{ forloop.counter }}" class="listtable full-width">
          <caption>
            {{ table.0 }}<br>
          </caption>

          <thead>
          <tr>
            <th>Pos.</th>
            <th>Username</th>
            <th>Transferred</th>
            <th>Time</th>
          </tr>
          </thead>

          <tbody>
          {% for row in table.1 %}
            <tr>
              <td>{{ forloop.counter }}</td>
              <td><a>{{ row.username|default:"" }}</a></td>
              <td>{{ row.sortfield|filesizeformat }}</td>
              <td>{{ row.acctsessiontime|time_from_seconds }}</td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </li>
    {% endfor %}
  </ul>
{% endblock content %}
