{% extends "radius/base.html" %}

{% load radius %}

{% block content %}


  <div class="row">
    <div class="medium-9 column">
      <h4 class="subheader">Search in radius account logs</h4>
    </div>
    <div class="medium-3 column">
      <button
         class="button small secondary right"
         hx-get="{% url 'radius-account-log-hints' %}"
         hx-target="body"
         hx-swap="beforeend"
      >
          Search hints
      </button>
    </div>
  </div>

  <div id="forms">
    {% include 'custom_crispy_templates/flat_form.html' with disable_csrf=True %}
  </div>

  {% if form.is_bound %}

    {% if result %}

    <table id="resulttable" class="listtable full-width">
        <thead data-nosort='[5, 6]'>
          <tr>
            <th class="header">Username</th>
            <th class="header">Framed IP Address</th>
            <th class="header">NAS IP Address</th>
            <th class="header">Session start</th>
            <th class="header">Session stop</th>
            <th>Duration</th>
            <th>Info</th>
          </tr>
        </thead>

        <tbody>
          {% for row in result %}
            <tr>
              <td class="link" data-filter="{{ row.username }}">{{ row.username }}</td>
              <td class="link" data-filter="{{ row.framedipaddress }}">
                {{ row.framedipaddress|default:"" }}
              </td>
              <td class="link" data-filter="{{ row.nasipaddress }}">
                {{ row.nasipaddress|default:"" }}
              </td>
              <td>{{ row.acctstarttime }}</td>
              <td>{{ row.acctstoptime }}</td>
              <td>{{ row.acctsessiontime|time_from_seconds }}</td>
              <td>
                <a
                   hx-get="{% url 'radius-account_detail-modal' row.radacctid %}"
                   hx-target="body"
                   hx-swap="beforeend"
                   title="View all available information on this session">
                  Details
                   </a>
              </td>
            </tr>
          {% empty %}
            <tr>
              <td colspan="7">No results found</td>
            </tr>
          {% endfor %}
        </tbody>
    </table>

    <p>
    <table class="vertitable">
      <caption>Search summary</caption>
      <tr>
        <th>Total online time:</th>
        <td>{{ total_time|time_from_seconds }}</td>
      </tr>
      <tr>
        <th>Total data sent:</th>
        <td>{{ total_sent|filesizeformat }}</td>
      </tr>
      <tr>
        <th>Total received data:</th>
        <td>{{ total_received|filesizeformat }}</td>
      </tr>
      <tr>
        <th>Total traffic:</th>
        <td>{{ total_sent|add:total_received|filesizeformat }}</td>
      </tr>
    </table>
    </p>

    {% else %}
      {% if not form.errors %}
        <p class="alert-box">No results</p>
      {% endif %}
    {% endif %}

  {% endif %}
{% endblock content %}
