{% extends "radius/base.html" %}
{% load report %}

{% block content %}

  <div class="row">
    <div class="small-9 column">
      <h4 class="subheader">Search in radius error logs</h4>
    </div>
    <div class="small-3 column">
      <button
         class="button small secondary right"
         hx-get="{% url 'radius-error-log-hints' %}"
         hx-target="body"
         hx-swap="beforeend"
      >
          Search hints
      </button>
    </div>
  </div>

  <div id="forms">
    {% include 'custom_crispy_templates/flat_form.html' with disable_csrf=True %}
  </div>

  {% if form.is_bound %}
    {% if result %}
      <table id="resulttable" class="listtable full-width">
        <thead data-nosort='[-1]'>
          <tr>
            {% for desc in field_desc %}
              <th class="header">{{ desc }}</th>
            {% endfor %}
              <th>Info</th>
          </tr>
        </thead>

        <tbody>
          {% for row in result %}
            <tr>
              {% for field in row %}
                {% if not forloop.first %}
                  <td>{{ field|safe }}</td>
                {% endif %}
              {% endfor %}
               <td>
                  <a hx-get="{% url 'radius-log_detail-modal' row.id %}"
                     hx-target="body"
                     hx-swap="beforeend"
                     title="View all available information on this session">
                    Details
                     </a>
                </td>
            </tr>
          {% empty %}
            <tr>
              <td>No results found</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% else %}
      {% if not form.errors %}
        <p class="alert-box">No result</p>
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock content %}
