.tip {font:11px/13px Arial,Helvetica,sans-serif; border:solid 1px #000000; width:250px;
      padding:1px; position:absolute; z-index:100; visibility:hidden; color:#000000;
      top:20px; left:90px; background-color:#ffffe1; layer-background-color:#ffffe1;}
