## $Id$
##
## Copyright 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Authors: Magnar Sveen <magnars@stud.ntnu.no>
##

#extends MainTemplate

#attr boxesdown = False

#attr numberOfBoxesShown = 10
#attr numberOfMessagesShown = 5

#from nav.web import shouldShow

#block content
   <table border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td valign="top" width="190">
	$navlinksbox <br>
	$externallinksbox <br>
	$contactinformationbox <br>
       </td>
       <td><img src='$imagefolder/blank.gif' width="10"></td>
       <td valign="top">
	$welcome
        <table border="0" cellspacing="0" cellpadding="0"><tr><td>
	$emotd() </td></tr><tr><td>
	$status </td></tr></table>
       </td>
     </tr>
   </table>
#end block

#def navlinksbox
  $sideboxstart('NAV-links')
  $navlinks
  $sideboxend()     
#end def

#def navlinks
#end def

#def externallinksbox
  $sideboxstart('External links')
  $externallinks
  $sideboxend()
#end def

#def externallinks
#end def

#def contactinformationbox
  $sideboxstart('Contact information')
  $contactinformation
  $sideboxend()
#end def

#def contactinformation
#end def

#def welcome
#end def

#def status

<br />

#set $rowcount = len($boxesdown)

<table class="horiztable">
    <caption>
        <span class="cornerkludge"></span>
        <a href="/status/">Status Now</a><br />
        <span class="subtitle">$numboxesdown boxes down,
        $numboxesshadow in shadow</span>
    </caption>

    <tr class="header">
        <td class="leftkludge" rowspan="$rowcount"></td>
        <th>Sysname</th>
        <th>IP</th>
        <th>Downtime</th>
        <th>Down since</th>
        <td class="rightkludge" rowspan="$rowcount"></td>
    </tr>

#set $numberdown = 0
#for $box in $boxesdown
#if not $box[4]
  #if $numberdown < $numberOfBoxesShown
    <tr class="$rowcycler">
    #if shouldShow("/browse/$box[1]", $user)
      <td><a href="/browse/$box[1]">$box[1]</a></td>
    #else
      <td>$box[1]</td>
    #end if
      <td>$box[2]</td>
      <td style="text-align: right;"><a title="$box[0]">$box[5]</a></td>
      #set $since = $box[3].strftime('%d/%m/%Y %H:%M')
      <td>$since</td>
    </tr>
  #end if
  #set $numberdown = $numberdown + 1
#end if
#end for

#if len($boxesdown) > $numberOfBoxesShown
  #set $linktext = "(more)"
#else
  #set $linktext = "(to status page)"
#end if

    <tr>
        <td colspan="6" style="text-align: center; font-size: smaller;">
            <a href="/status/">$linktext</a>
        </td>
    </tr>
</table>

#end def


#def newmessage($message)
<div style="padding: 5px 10px;">
<a href="/messages/view/$message.id"><font size=3><b>$message.title</b></font></a><br>
#if $message.description
$message.description
#end if
<br>
#if $message.affected
<br><label class="title">Affected end users:</label> $message.affected
#end if
#if $message.downtime
<br><label class="title">Estimated downtime:</label> $message.downtime
#end if
#if $message.units
<br><label class="title">Units on maintenance:</label> <a href="/messages/add/$message.id" title="Units on maintenance: $message.units"><img src="/images/wrench.gif" border="0">$message.units</a>
#end if
</div>
#end def



#def emotd


#if $messages:
<table style="font-size:13px; border: 1px solid black;" cellspacing="0" width="100%">
  <TR><TD COLSPAN=3 STYLE="BACKGROUND: URL('/images/emotd/top-r.gif') REPEAT-X;">
  <div style="position: relative; margin-top: -12px;"><img src="/images/emotd/top-l.gif"></div>
  <div style="position: relative; margin: -25px 0px 0px 50px; padding-bottom: 8px;font-size:15px;"><a href="/messages/">Messages</a></div>
  </TD></TR>
#set $farge = "white";
  #for $message in $messages

#if $message.new
<style>
   label.title {
	font-weight: bold;
   }
</style>
   <tr><td colspan="3">
$newmessage($message)
   </td></tr>
#set $farge = "white";
#else
   <tr style="background: $farge;">
      <td width="90%" style="padding: 0px 10px;"><a href="/messages/view/$message.id">$message.title</a></td>
#if $message.units
      <td style="padding: 0px 10px;" nowrap align="right"><a href="/messages/add/$message.id" title="Units on maintenance: $message.units"><img src="/images/wrench.gif" border="0">$message.units</a></td>
#else
      <td style="padding: 0px 10px;">&nbsp;</td>      
#end if
#if not $title == "Active Messages"
#set $start = str($message.publish_start)[0:16]
#set $end = str($message.publish_end)[0:16]
      <td style="padding: 0px 10px; font-size:9px;" nowrap align="right">
      <a style="color: black; text-decoration: none;" title="Published at $start">$start[8:10]/$start[5:7]</a> - <a style="color: black; text-decoration: none;" title="Outdated at $end">$end[8:10]/$end[5:7]</a></td>      
#end if
#end if

#if $farge == "white":
#set $farge = "#eeeeee"
#else:
#set $farge = "white"
#end if
   </tr>
  #end for
</table>
#end if

#end def
<a href="/messages/" style="text-align:center">(messages of the day)</a>

#def sideboxstart($title)
  <table border="0" cellspacing="0" cellpadding="3" width="100%" class="sidebox">
    <tr>
      <td class="sideboxtitle">
        $title
      </td>
    </tr>
    <tr>
      <td class="sideboxlinks">
#end def

#def sideboxend
      </td>
    </tr>
  </table>
#end def

#block additionalCSS
<link rel="stylesheet" type="text/css" href="/style/FrontpageTemplate.css" />
$default_table_CSS
#end block
