## $Id$
##
## Copyright 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Authors: Magnar Sveen <magnars@stud.ntnu.no>
##

#extends MainTemplate

#attr boxesdown = False

#attr numberOfBoxesShown = 10
#attr numberOfMessagesShown = 5

#from nav.web import shouldShow

#block content
   <table border="0" cellspacing="0" cellpadding="0">
     <tr>
       <td valign="top" width="190">
	$navlinksbox <br>
	$externallinksbox <br>
	$contactinformationbox <br>
       </td>
       <td><img src='$imagefolder/blank.gif' width="10"></td>
       <td valign="top">
	$welcome
        <table border="0" cellspacing="0" cellpadding="0"><tr><td>
	$emotd() </td></tr><tr><td>
	$status </td></tr></table>
       </td>
     </tr>
   </table>
#end block

#def navlinksbox
  $sideboxstart('NAV-links')
  $navlinks
  $sideboxend()     
#end def

#def navlinks
#end def

#def externallinksbox
  $sideboxstart('External links')
  $externallinks
  $sideboxend()
#end def

#def externallinks
#end def

#def contactinformationbox
  $sideboxstart('Contact information')
  $contactinformation
  $sideboxend()
#end def

#def contactinformation
#end def

#def welcome
#end def

#def status
  <br>
<table width="100%" cellspacing="0" cellpadding="0" border="0">
<!------------------------- STATUS TITLE  ---->
    <tr class="title">
      <td class="title" align="center" colspan="5" style="background-image:url('$imagefolder/status/statuslogo+fill.gif'); background-repeat: no-repeat;">  
        <table class="navigation" cellspacing="0" cellpadding="0" border="0">
          <tr class="navigation">
            <td class="current">
              <div class="title"><a href="/status/"><font color="black">Status Now</font></a></div>
              $numboxesdown boxes down, $numboxesshadow in shadow
            </td>
          </tr>
        </table>
      </td>
      <td align=right style="background-image:url('$imagefolder/arpcam/fill.gif');"><img src="$imagefolder/ragen/top-end.gif"></td>
    </tr>
<!------------------------- STATUS HEADER ---->
    <tr class="header">
      <td bgcolor="white" style="background-image:url('$imagefolder/ragen/navbar-start.gif'); background-repeat: no-repeat; width: 14px" rowspan="11">
        <img src="$imagefolder/blank.gif" width="14" height="1" alt="" />
      </td>
      <td class="header" valign="top" bgcolor="white" nowrap >
          Sysname &nbsp;
      </td>
      <td class="header" valign="top" bgcolor="white" nowrap >
          IP &nbsp;
      </td>
      <td class="header" valign="top" bgcolor="white" nowrap >
          Downtime &nbsp;
      </td>
      <td class="header" valign="top" bgcolor="white" nowrap >
          Down since &nbsp;
      </td>
      <td bgcolor="white" style="background-image:url('$imagefolder/ragen/navbar-end.gif'); background-position: top right; background-repeat: no-repeat; width: 14px;" rowspan="11">
        <img src="$imagefolder/blank.gif" width="14" height="1" alt="" />
      </td>
    </tr>

#set $numberdown = 0
#set $row = "oddrow"
#for $box in $boxesdown
#if not $box[4]
  #if $numberdown < $numberOfBoxesShown
    <tr class="$row">
    #if shouldShow("/browse/$box[1]", $user)
      <td><a href="/browse/$box[1]">$box[1]</a>&nbsp;&nbsp;</td>
    #else
      <td>$box[1]&nbsp;&nbsp;</td>
    #end if
      <td>$box[2]&nbsp;&nbsp;</td>
      <td align="right"><a title="$box[0]"><font color="black">$box[5]</font></a>&nbsp;&nbsp;</td>
      #set $since = $box[3].strftime('%d/%m/%Y %H:%M')
      <td>$since</td>
    </tr>
    #if $row == "evenrow"
      #set $row = "oddrow"
    #else
      #set $row = "evenrow"
    #end if
  #end if
  #set $numberdown = $numberdown + 1
#end if
#end for

#if len($boxesdown) > $numberOfBoxesShown
  #set $linktext = "(more)"
#else
  #set $linktext = "(to status page)"
#end if
<tr><td colspan="6" align="center"><font size="-2"><a href="/status/">$linktext</td></tr>

</table>

#end def


#def newmessage($message)
<div style="padding: 5px 10px;">
<a href="/messages/view/$message.id"><font size=3><b>$message.title</b></font></a><br>
#if $message.description
$message.description
#end if
<br>
#if $message.affected
<br><label class="title">Affected end users:</label> $message.affected
#end if
#if $message.downtime
<br><label class="title">Estimated downtime:</label> $message.downtime
#end if
#if $message.units
<br><label class="title">Units on maintenance:</label> <a href="/messages/add/$message.id" title="Units on maintenance: $message.units"><img src="/images/wrench.gif" border="0">$message.units</a>
#end if
</div>
#end def



#def emotd


#if $messages:
<table style="font-size:13px; border: 1px solid black;" cellspacing="0" width="100%">
  <TR><TD COLSPAN=3 STYLE="BACKGROUND: URL('/images/emotd/top-r.gif') REPEAT-X;">
  <div style="position: relative; margin-top: -12px;"><img src="/images/emotd/top-l.gif"></div>
  <div style="position: relative; margin: -25px 0px 0px 50px; padding-bottom: 8px;font-size:15px;"><a href="/messages/">Messages</a></div>
  </TD></TR>
#set $farge = "white";
  #for $message in $messages

#if $message.new
<style>
   label.title {
	font-weight: bold;
   }
</style>
   <tr><td colspan="3">
$newmessage($message)
   </td></tr>
#set $farge = "white";
#else
   <tr style="background: $farge;">
      <td width="90%" style="padding: 0px 10px;"><a href="/messages/view/$message.id">$message.title</a></td>
#if $message.units
      <td style="padding: 0px 10px;" nowrap align="right"><a href="/messages/add/$message.id" title="Units on maintenance: $message.units"><img src="/images/wrench.gif" border="0">$message.units</a></td>
#else
      <td style="padding: 0px 10px;">&nbsp;</td>      
#end if
#if not $title == "Active Messages"
#set $start = str($message.publish_start)[0:16]
#set $end = str($message.publish_end)[0:16]
      <td style="padding: 0px 10px; font-size:9px;" nowrap align="right">
      <a style="color: black; text-decoration: none;" title="Published at $start">$start[8:10]/$start[5:7]</a> - <a style="color: black; text-decoration: none;" title="Outdated at $end">$end[8:10]/$end[5:7]</a></td>      
#end if
#end if

#if $farge == "white":
#set $farge = "#eeeeee"
#else:
#set $farge = "white"
#end if
   </tr>
  #end for
</table>
#end if

#end def
<a href="/messages/" style="text-align:center">(messages of the day)</a>

#def sideboxstart($title)
  <table border="0" cellspacing="0" cellpadding="3" width="100%" class="sidebox">
    <tr>
      <td class="sideboxtitle">
        $title
      </td>
    </tr>
    <tr>
      <td class="sideboxlinks">
#end def

#def sideboxend
      </td>
    </tr>
  </table>
#end def

#block additionalCSS
      TD { 
        font-family: verdana, arial, helvetica, sans-serif;
	font-size: 13;
      }

      TD.smallfont {
        font-size: 11;
      }

      td.sideboxlinks {
      font-size: 11;
      border: 1px solid #ccc;
      }

      td.sideboxtitle {
      font-size: 13;
      border: 1px solid #000;
      text-align: center;
      background-image:url('/images/form/fill-active.gif');
      background-color:#ccf;
      }

$default_table_CSS
#end block
