## $Id: $
##
## This file is part of the NAV project.
##
## It contains the Cheetah template for the login page to the NAV web
## interface.
##
## Copyright (c) 2003 by NTNU, ITEA nettgruppen
## Authors: Magnar Sveen <magnars@stud.ntnu.no>
##          Morten Vold <morten.vold@itea.ntnu.no>
##

#attr $origin = ""
#attr $message = ""
<body onLoad="document.getElementById('username').focus();">
<table height=40% border=0 width=100%><tr valign=middle><td valign=middle align=center>

<br><br><br>
<font face=verdana size=1>
<form method="POST" action="/index.py/login">
<img src="/images/login/navlogo.gif"><br>
#if $message
<br><font color=#FF0000>$message</font>
#end if
<br><input id="username" type="text" name="login" style="border: 1px solid #99c;"><br><font color=#6699CC>username</font>
<br><input type="password" name="password" style="border: 1px solid #99c;"><br><font color=#6699CC>password</font>
<input type="hidden" name="origin" value="$origin">
<br><br><input type="submit" value="Log in">
</form>
</font>
</td></tr></table>
</body>
