<table height=40% border=0 width=100%><tr valign=middle><td valign=middle align=center>

<br><br><br>
<img src=/images/scanlines.gif><br>
<br><input type=text><br><font face=verdana size=1 color=#6699CC>username</font>
<br><input type=password><br><font face=verdana size=1 color=#6699CC>password</font>

</td></tr></table>
