##
## MainTemplate.tmpl
##
## Every other template extends this one. It contains the header-information,
## NAV-logo and navigation-bar. It also contains default_table_CSS and
## default_form_CSS.
##
## The content-block should be replaced by all templates. CSS or JavaScript
## can be added by replacing the additionalCSS or additionalJavaScript blocks.
##
## To use without making a separate template, do this:
##
##   import MainTemplate from foo.bar.MainTemplate
##   page = MainTemplate()
##   page.content = lambda: "<h1>Foo</h1>Bar"
##
## The navbar is built according to the users preferences, with data in this form:
##
## $user
##   +-- preferences
##        +-- hidelogo                 :: boolean: should the navlogo be hidden?
##        +-- navbar                   :: array of links
##        |    +-- name                ::
##        |    +-- uri                 ::
##        +-- qlink1                   :: array of links
##        |    +-- name                ::
##        |    +-- uri                 ::
##        +-- qlink2                   :: array of links
##             +-- name                ::
##             +-- uri                 ::
##
## The template uses images in $imagefolder/main/, where $imagefolder
## defaults to "/images".
##
## Last changed: 2003.06.25
## Author: Magnar Sveen (magnars@idi.ntnu.no)
##

#from nav.web import linkchecker

#attr $imagefolder = "/images"
#attr $bodyOnLoad = ""
#attr $title = ""
#attr $path = False

<html>
  <head>
    <meta HTTP-EQUIV="content-type" CONTENT="text/html; charset=UTF-8">
    <title>
#if $title
      NAV - $title
#else
      NAV
#end if
    </title>
    <style type="text/css">
#def standardCSS
      BODY { 
        font-family: verdana, arial, helvetica, sans-serif;
#if $user.preferences.hidelogo
        background-image:url('$imagefolder/main/background-fill-nologo.gif');
#else
        background-image:url('$imagefolder/main/background-fill.gif');
#end if
        background-repeat: repeat-x;
        background-color: white; 
      }

      A.navbar         { color: #000000; text-decoration: none; font-size: 13; }
      A.navbar:visited { color: #000000; text-decoration: none; }
      A.navbar:hover   { color: #336699; text-decoration: none; }
      A.navbar:active  { color: #4477AA; text-decoration: none; }

      A         { color: #336699; text-decoration: none; }
      A:visited { color: #336699; text-decoration: none; }
      A:hover   { color: #000000; text-decoration: underline; }
      A:active  { color: #6699CC; text-decoration: none; }
#end def standardCSS
$standardCSS()

#def additionalCSS
#end def additionalCSS
$additionalCSS()
    </style>
    <script language="JavaScript" type="text/javascript">
      <!-- begin

      function jump(fe) {
        var opt_key = fe.selectedIndex;
        var uri_val = fe.options[opt_key].value;
        if (uri_val) {
          window.location = uri_val;
        }
        return false;
      }
#def additionalJavaScript
#end def additionalJavaScript
$additionalJavaScript()
      // end -->
    </script>
  </head>
  <body $bodyOnLoad>
#if $user.preferences.hidelogo
    <div style="position:absolute; left: 30px; top: 0px; width: 95%; margin: 0px; padding: 0px">
#else
    <div onClick="window.location='/';" style="cursor: hand; position:absolute; right:0px; top: 0px; width: 100%; height: 71; background-image:url('$imagefolder/main/navlogo+background.gif'); background-repeat: no-repeat; "></div>
    <div style="position:absolute; left: 30px; top: 71px; width: 95%; margin: 0px; padding: 0px">
#end if
      <table cellspacing="0" cellpadding="0" border="0" width="100%">
        <tr>
#set $separate = False
#for $link in $user.preferences.navbar
#if linkchecker.shouldShow($link.uri, $user)
  #if $separate
          <td width="0%" valign="top"><img src="$imagefolder/main/navbar-separator.gif" alt="" /></td>
  #end if
          <td width="0%" valign="top" style="padding: 1px 15px 0px 5px;" nowrap><a class="navbar" href="$link.uri">$link.name</a></td>
  #set $separate = True
#end if
#end for
#if $user.preferences.qlink1
          <td width="0%" valign="top"><img src="$imagefolder/main/quicklink-start.gif" alt="" /></td>
          <td width="0%" valign="top" style="background-image:url('$imagefolder/main/quicklink-fill.gif'); background-repeat: none">
          <select onChange="return jump(this);">
            <option style="color: #669" selected> Quicklink #1 </option>
  #for $link in $user.preferences.qlink1
  #if linkchecker.shouldShow($link.uri, $user)
            <option value="$link.uri"> $link.name </option>
  #end if
  #end for
	  </select>
          </td>
          <td width="0%" valign="top"><img src="$imagefolder/main/quicklink-end.gif" alt="" /></td>
#end if
#if $user.preferences.qlink2
          <td width="0%" valign="top"><img src="$imagefolder/main/quicklink-start.gif" alt="" /></td>
          <td width="0%" valign="top" style="background-image:url('$imagefolder/main/quicklink-fill.gif'); background-repeat: none">
          <select onChange="return jump(this);">
            <option style="color: #669" selected> Quicklink #2 </option>
  #for $link in $user.preferences.qlink2
  #if linkchecker.shouldShow($link.uri, $user)
            <option value="$link.uri"> $link.name </option>
  #end if
  #end for
	  </select>
          </td>
          <td width="0%" valign="top"><img src="$imagefolder/main/quicklink-end.gif" alt="" /></td>
#end if
          <td width="100%" valign="top" align="right"><img src="$imagefolder/main/navbar-separator.gif" alt="" /></td>
#if $user.id > 0
          <td width="0%" valign="top" style="padding: 1px 5px 0px 5px;"><a class="navbar" href="/index.py/logout">Logout&nbsp;$user.login</a></td>
#else
          <td width="0%" valign="top" style="padding: 1px 5px 0px 5px;"><a class="navbar" href="/index.py/login">Login</a></td>
#end if          
      </tr>
    </table>
  </div>

#def showPath($absolute)
#if $absolute
  <div style="position:absolute; left: 5px; top: 97px; margin: 0px; padding: 0px; font-family: verdana, arial, helvetica, sans-serif; font-size: 11px;">
#else
  <div style="font-family: verdana, arial, helvetica, sans-serif; font-size: 11px;">
#end if
#if $path
#set $separate = False
<font color=#999999>Current path: </font>
#for $step in $path
#if $separate
>
#end if
#if $step[1]
    <a href="$step[1]">$step[0]</a>
#else
    $step[0]
#end if
#set $separate = True
#end for
  </div>
#else
#set $separate = False
<font color=#FF000> No current path is set! Find out how here: </font>
<font color=#FFFFF> template.path = [("Frontpage", "/"), ("Tools", "/toolbox/"), ("Status", False)] 
&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 
</font>
  </div>
#end if
#end def
$showPath(True)

#if $user.preferences.hidelogo
  <img src="$imagefolder/blank.gif" height="19" alt="" /><br/>
#else
  <img src="$imagefolder/blank.gif" height="104" alt="" /><br/>
#end if

#def content
  <br/><center>
  <font size="2" color="#666">This space intentionally left blank.</font>
<br>$user.name<br>$user.id
  </center>
#end def content
$content()

  </body>
</html>

#def default_table_CSS
      DIV.title     { font-size: 15;
                      font-weight: bold;
                      text-align: center;
                      padding: 0px 0px 0px 0px; }
      TR.navigation { font-size: 11; }
      TD.previous   { text-align: right; }
      TD.current    { text-align: center; }
      TD.next       { text-align: left; }
      TR.header     { background-color: white;
                      background-image:url('$imagefolder/ragen/navbar-fill.gif');
                      background-repeat: repeat-x;
                      height: 26px;
                      padding: 1px 0px 0px 0px;
                      font-size: 13; }
      TR.footer     { font-size: 13; font-weight: bold; background-color: white; }
      TR.evenrow    { font-size: 11; background-color: #eeeeee; }
      TR.oddrow     { font-size: 11; }
#end def default_table_CSS

#def default_form_CSS
      table.header-active   { border: 1px solid #666; background-image:url('$imagefolder/form/fill-active.gif');   background-color:#ccf; font-size: 13px; }
      table.header-inactive { border: 1px solid #666; background-image:url('$imagefolder/form/fill-inactive.gif'); background-color:#eee; font-size: 13px; }
      table.header-disabled { border: 1px solid #666; background-image:url('$imagefolder/form/fill-inactive.gif'); background-color:#eee; font-size: 13px; }
      table.header-submit   { border: 1px solid #666; background-image:url('$imagefolder/form/fill-submit.gif');   background-color:#ddf; font-size: 13px; }
      table.header-white    { border: 1px solid #666;                                                              background-color:#fff; font-size: 13px; }
      td.header-active      { border: 1px solid #69c; background-image:url('$imagefolder/form/fill-active.gif');   text-align: center; }
      td.header-inactive    { border: 1px solid #bcd; background-image:url('$imagefolder/form/fill-inactive.gif'); text-align: center; }
      td.header-disabled    { border: 1px solid #ccc; background-image:url('$imagefolder/form/fill-inactive.gif'); text-align: center; color: #999}
      td.header-submit      { border: 1px solid #9cf; background-image:url('$imagefolder/form/fill-submit.gif');   text-align: center; }
      td.header-white       { border: 1px solid #ccc;                                                              text-align: center; }
#end def default_form_CSS
