#encoding=UTF-8
#extends nav.web.templates.MainTemplate

#block content
<h1>Tabular view of $start_net</h1>
<p>This table shows how the subnets are utilized.</p>

<table style="border: 1px solid black; font-size: 0.8em;">
<tr>
<td>&nbsp;</td>
#for $heading in $column_headings
	<th>$heading</th>
#end for
</tr>
$extract_matrix($tree_nets,0)
</table>
#end block

#def $printDepth($depth)
	#for $i in $range(0,$depth)
		&nbsp;#slurp
	#end for
#end def

#def $netlink($ip,$removeLastNetOctets=True)
	#if $removeLastNetOctets
		#set $nip = $metainfo($ip).extractNetIp()
		<a href="/report/prefix?host(netaddr)=$nip:%&op_host(netaddr)=like">$nip</a>
	#else
		<a href="/report/prefix?prefixid=$metainfo($ip).prefixid">$str(ip.net())</a>
	#end if
#end def	

#def $matrixlink($ip)
	<a href="/report/prefix?prefixid=$metainfo($ip).prefixid">$metainfo($ip).extractNetIp()</a>
#end def

#def $colspan($ip)
	#import math
	$math.pow(2,$end_net.prefixlen()-$ip.prefixlen())
#end def

#def $loadColor($percent,$nettype)
	#if $nettype=="static" or $nettype=="scope" or $nettype=="reserved"
		#if $color_configuration.extras.has_key("other")
			$color_configuration.extras["other"]#slurp
		#end if

	#elif $nettype=="large"
		#if $color_configuration.extras.has_key("large")
			$color_configuration.extras["large"]#slurp
		#end if

	#else
		#set $lims = $color_configuration.limits
		#set $limkeys = $color_configuration.limits.keys
		$limkeys.sort()#slurp
		$limkeys.reverse()#slurp
		#for $limit in $limkeys
			#if int($percent)>=int($limit)
				$lims[$limit]#slurp
				#break
			#end if
		#end for
	#end if
#end def

#def $extract_matrix($subnet,$depth)
	#set $nodes = $sort_nets_by_address($subnet.keyss)
	#set $lastnet = None
	#for $net in $nodes
		#if $matrix_nets.has_key($net)
			#if $lastnet == None
				#set $lastnet = $net
			#end if

			#set $diff = $net_diff($net,$lastnet)
			#if $len($diff) > 1
				#if $len($diff) > $max_diff_before_dots
					...
				#else
					#for $ip in $diff
						<tr>
						<td>$printDepth(depth) $netlink($ip,False)</td>
						</tr>
					#end for
				#end if
				#continue
			#end if

			#if $has_too_small_nets($net)
				#set $cols= 2**$bits_in_matrix
				<tr>
				<td colspan="$cols" style="text-align:center;background-color:$loadColor(0,'large')">Many small subnets</td>
				</tr>
			#else
				<tr>
				#for $ip in $sort_nets_by_address($matrix_nets[$net])
					#set $meta = $metainfo($ip)
					<td>$netlink($net)</td>
					<td colspan="$colspan(net)" style="background-color:$loadColor($meta.netype,$meta.usage_percent); text-align:center;">
					$ip.prefixlen() $meta.usage_percent
					</td>
				#end for
				</tr>
			#end if
		#else
			<tr>
			<td>
			$printDepth(depth)#slurp
			$netlink($net,False)
			</td>
			</tr>
			$extract_matrix($subnet[$net],depth+1)
		#end if
	#end for
#end def

#block additionalCSS
	<link rel="stylesheet" type="text/css" href="/style/MatrixTemplate.css" />
#end block
