## $Id$
## Extends the MainTemplate for header-information, nav-logo and navigation-bar.
## Defines the user information page, which includes a password changing form.
##
## Copyright 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## Authors: Morten Vold <morten.vold@itea.ntnu.no>
##

#extends nav.web.templates.MainTemplate.MainTemplate

#def grouplist()
#echo ', '.join( [g.name for g in $groups] )
#end def

#def orglist()
#echo ', '.join($orgs)
#end def

#block content

<h1>User information</h1>

#if $varExists('account')
<table>
  <tr>
    <td class="attr_name">Login:</td>
    <td class="attr">$account.login</td>
  </tr>
  <tr>
    <td class="attr_name">Name:</td>
    <td class="attr">$account.name</td>
  </tr>
  <tr>
    <td class="attr_name">Groups:</td>
    <td class="attr">$grouplist()</td>
  </tr>
  <tr>
    <td class="attr_name">Organizations:</td>
    <td class="attr">$orglist()</td>
  </tr>
</table>

#if $changePassword

<h3>Change your password</h3>
$messages()
<form action="/index/passwd" method="POST">
  <table>
    <tr>
      <td class="attr_name">Your old password:</td>
      <td class="attr"><input type="password" name="oldpasswd" /></td>
    </tr>
    <tr>
      <td class="attr_name">Choose a new password:</td>
      <td class="attr"><input type="password" name="newpasswd1" /></td>
    </tr>
    <tr>
      <td class="attr_name">Confirm your new password:</td>
      <td class="attr"><input type="password" name="newpasswd2" /></td>
    </tr>
  </table>
  <input type="submit" value="Change password" />
</form>
#else
$messages()
<p>You are not allowed to change your password from this page.  Your account is
managed through an external system, known as &quot;$account.ext_sync&quot;.</p>
#end if


#else
$messages()
<p>You are not logged in.</p>

<p><a href="/">Click here to return to the main page.</a></p>

#end if
#end block content

#block messages
#if $varExists('errorMessage')
<p style="color: red">ERROR: $errorMessage</p>
#end if
#if $varExists('message'):
<p style="color: green">NOTICE: $message</p>
#end if
#end block messages

#block additionalCSS
$default_table_CSS
.attr_name {
  font-weight: bold;
}
.attr {
  font-style: italic;
}
#end block additionalCSS
