<div class="tabs">
    {% block tabs %}
    <ul>
        <li class="{{ active.devicehistory|yesno:"tabactive," }}">
            <a href="{% url devicehistory-search %}">Device History</a>
        </li>
        <li class="{{ active.error|yesno:"tabactive," }}">
            <a href="{% url devicehistory-registererror %}">Register Error
            Event</a>
        </li>
        <li class="{{ active.module|yesno:"tabactive," }}">
            <a href="{% url devicehistory-module %}">Delete Module</a>
        </li>
    </ul>
    {% endblock %}
</div>

<div class="tabcontent">
    {% if messages %}
    <ul class="messages">
        {% for m in messages %}
        <li class="{{ m.type }}">{{ m.message }}</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% block tabcontent %}
    {% endblock %}
</div>
