{% extends "devicehistory/base.html" %}

{% block tabcontent %}

{% if not confirm_delete %}
<p>
    Select modules to delete from modules that are down. When deleting a
    module, a choice will be given to either move the device to the inventory
    or to set it as inactive.
</p>
{% endif %}

{% if confirm_delete %}
<form action="{% url devicehistory-do_delete_module %}" method="post">
{% else %}
<form action="{% url devicehistory-module %}" method="post">
{% endif %}
    <table class="listtable">
        <caption>
            {% if confirm_delete %}
            Selected modules
            {% else %}
            Modules down
            {% endif %}
            <br />
            <span class="subtitle">
                {{ modules|length }} entr{{ modules|pluralize:"y,ies" }}
            </span>
        </caption>

        <thead>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2">Sysname</th>
                <th colspan="2">Module</th>
                <th rowspan="2">Down since</th>
                <th rowspan="2">Downtime</th>
            </tr>
            <tr>
                <th>#</th>
                <th>Description</th>
            </tr>
        </thead>
        
        <tbody>
        {% for m in modules %}
            <tr class="{% cycle oddrow,evenrow %}">
                <td><input type="checkbox" name="module" value="{{ m.module_id }}"
                    {% if confirm_delete %}
                    checked="checked"
                    {% endif %}
                    /></td>
                <td>{{ m.netbox_name }}</td>
                <td>{{ m.module }}</td>
                <td>{{ m.module_description }}</td>
                <td>{{ m.start_time }}</td>
                <td>{{ m.downtime }}</td>
            </tr>
        {% endfor %}
        </tbody>

        <tfoot>
            <tr>
                <th colspan="0">
                    {{ modules|length }}
                    entr{{ modules|pluralize:"y,ies" }}
                </th>
            </tr>
        </tfoot>
    </table>

    <p>
        {% if confirm_delete %}
        <input type="hidden" name="confirm_delete" value="1" />
        <button type="submit">Confirm deletion</button>
        {% else %}
        <button type="submit">Delete selected</button>
        {% endif %}
    </p>

</form>

{% endblock %}
