{% load filters %}
<tr>
    <th>From:</th>
    <td><input type="text" name="from_date" value="{{ from_date }}" /></td>
</tr>
<tr>
    <th>To:</th>
    <td><input type="text" name="to_date" value="{{ to_date }}" /></td>
</tr>
<tr>
    <th>Type:</th>
    <td>
        <select name="type">
        <option value="all">All</option>
        {% for e,alert_types in event_type.items %}
            <optgroup label="{{ e }}">
                <option value="e_{{ e }}"
                {% if e.id|in_list:selected_types.event %}
                selected="selected"
                {% endif %}>All {{ e }}</option>
            {% for a in alert_types %}
                <option value="a_{{ a.id }}" 
                {% if a.id|stringformat:"s"|in_list:selected_types.alert %}
                    selected="selected"
                {% endif %}>{{ a.name }}</option>
            {% endfor %}
            </optgroup>
        {% endfor %}
        </select>
    </td>
</tr>
<tr>
    <th>Group by:</th>
    <td>
        <label><input type="radio" name="group_by" value="location"
            {% ifequal group_by "location" %}
            checked="checked"
            {% endifequal %} />Location</label><br />
        <label><input type="radio" name="group_by" value="room"
            {% ifequal group_by "room" %}
            checked="checked"
            {% endifequal %} />Room</label><br />
        <label><input type="radio" name="group_by" value="netbox"
            {% ifequal group_by "netbox" %}
            checked="checked"
            {% endifequal %} />Netbox</label><br />
        <label><input type="radio" name="group_by" value="module"
            {% ifequal group_by "module" %}
            checked="checked"
            {% endifequal %} />Module</label><br />
        <label><input type="radio" name="group_by" value="device"
            {% ifequal group_by "device" %}
            checked="checked"
            {% endifequal %} />Device serial</label><br />
        <label><input type="radio" name="group_by" value="datetime"
            {% ifequal group_by "datetime" %}
            checked="checked"
            {% endifequal %} />Date and time</label>
    </td>
</tr>
<tr>
    <th>Page:</th>
    <td>
        <select name="page">
            {% for page in history.paginator.page_range %}
            <option value="{{ page }}"
            {% ifequal page history.number %}
            selected="selected"
            {% endifequal %}
            >{{ page }}</option>
            {% endfor %}
        </select>
    </td>
</tr>
