{% extends "devicehistory/history_view_rooms.html" %}
{% block room_wrapper %}
    <h3>{{ room.description }}</h3>
    {% for box_id, box in room.netboxes.items %}
        <div class="netbox_wrapper">
        {% with box as device %}
            {% include "devicehistory/history_table.html" %}
        {% endwith %}

        {% if box.modules.values|length_is:"0" %}
        {% else %}
        <h4>Modules in {{ box.description }}</h4>
        <div class="module_wrapper">
        {% for module_id, module in box.modules.items %}
            {% with module as device %}
                {% include "devicehistory/history_table.html" %}
            {% endwith %}
        {% endfor %}
        </div>
        {% endif %}

        </div>
    {% endfor %}
{% endblock %}
