{% extends "devicehistory/base.html" %}
{% load filters %}

{% block tabcontent %}
    {% include "devicehistory/history_view_filter.html" %}

    {% for type, section in history.items %}
        {% for key, elements in section.items %}
        {% if forloop.first %}
            <h3>{{ type|capfirst }}</h3>
            <p>Found {{ section|length }} device{{ section|length|pluralize }} with history in the specified period.</p>
        {% endif %}

        <table class="listtable">
            <caption>
                {{ elements.description }}<br />
                <span class="subtitle">{{ elements.alerts|length }} entries</span>
            </caption>

            <thead>
                <tr>
                    <th>Start</th>
                    <th>End</th>
                    <th>Event type</th>
                    <th>Alert type</th>
                    <th>Message</th>
                </tr>
            </thead>

            <tbody>
            {% for a in elements.alerts %}
                <tr class="{% cycle "oddrow" "evenrow" %}">
                    <td>{{ a.alert.start_time }}</td>
                    <td>{{ a.alert.end_time }}</td>
                    <td>{{ a.alert.event_type.id }}</td>
                    <td>{{ a.alert.alert_type.name }}</td>
                    <td>
                        <ul>
                        {% for m in a.messages %}
                            <li>
                                {{ m.short }}
                            {% ifequal expand_message m.id %}
                                <a href="{% url devicehistory-view %}{{ filter_string }}">
                                    [hide e-mail]</a>
                                <ul class="email_message">
                                    <li>{{ m.long|linebreaksbr}}</li>
                                </ul>
                            {% else %}
                                <a href="{% url devicehistory-view %}{{ filter_string }}&amp;expand={{ m.id }}">
                                    [show e-mail]</a>
                            {% endifequal %}
                            </li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            {% endfor %}
            </tbody>

            <tfoot>
                <tr>
                    <th colspan="0">{{ elements.alerts|length }} entries</th>
                </tr>
            </tfoot>
        </table>
        {% endfor %}
    {% endfor %}
{% endblock %}
