{% load filters %}
<form action="" method="post">
    {% for type, elements in selection.items %}
        {% for id in elements %}
            <input type="hidden" name="view_{{ type }}" value="{{ id }}" />
        {% endfor %}
    {% endfor %}
    <table class="vertitable">
        <tr>
            <th>From:</th>
            <td><input type="text" name="from_date" value="{{ from_date }}" /></td>
        </tr>
        <tr>
            <th>To:</th>
            <td><input type="text" name="to_date" value="{{ to_date }}" /></td>
        </tr>
        <tr>
            <th>Type:</th>
            <td>
                <select name="type">
                <option value="all">All</option>
                {% for e in event_type %}
                    <optgroup label="{{ e.id }}">
                        <option value="e_{{ e.id }}"
                        {% if e.id|in_list:selected_types.event %}
                        selected="selected"
                        {% endif %}>All {{ e.id }}</option>
                    {% for a in e.alerttype_set.all %}
                        <option value="a_{{ a.id }}" 
                        {% if a.id|stringformat:"s"|in_list:selected_types.alert %}
                            selected="selected"
                        {% endif %}>{{ a.name }}</option>
                    {% endfor %}
                    </optgroup>
                {% endfor %}
                </select>
            </td>
        </tr>
        <tr>
            <th></th>
            <td><button type="submit">Filter</button></td>
        </tr>
    </table>
</form>
