{% extends "devicehistory/base.html" %}
{% load filters %}

{% block tabcontent %}
    <form action="{% url devicehistory-view %}" method="post">
        {% for type, elements in selection.items %}
            {% for id in elements %}
                <input type="hidden" name="view_{{ type }}" value="{{ id }}" />
            {% endfor %}
        {% endfor %}
        <table class="vertitable">
            {% include "devicehistory/history_view_filter.html" %}
            <tr>
                <th></th>
                <td><button type="submit">Filter</button></td>
            </tr>
        </table>
    </form>

    <table class="listtable reporttable">
        <caption>
            History
        </caption>

        <thead>
            <tr>
                <th>Location</th>
                <th>Room</th>
                <th>Netbox</th>
                <th>Module</th>
                <th>Device</th>
                <th>Start time</th>
                <th>End time</th>
                <th>Event type</th>
                <th>Alert type</th>
                <th>Message</th>
            </tr>
        </thead>

        <tbody>
        {% for h in history.object_list %}
            <tr class="{% cycle 'oddrow' 'evenrow' %}">
                <td>{{ h.location_name }}</td>
                <td>{{ h.room_descr }}</td>
                <td>{{ h.netbox_name }}</td>
                <td>{{ h.module_name }}</td>
                <td>{{ h.device.serial }}</td>
                <td>{{ h.start_time }}</td>
                <td>{{ h.end_time }}</td>
                <td>{{ h.event_type.id }}</td>
                <td>{{ h.alert_type.name }}</td>
                <td>
                    <ul>
                    {% for m in h.extra_messages %}
                        <li>{{ m }}</li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
