{% extends "devicehistory/history_view_rooms.html" %}
{% block room_wrapper %}
    <h3>{{ room.description }}</h3>
    {% for box_id, box in room.netboxes.items %}
        <div class="netbox_wrapper">
        {% with box as device %}
            {% include "devicehistory/history_table.html" %}
        {% endwith %}

        {% for module_id, module in box.modules.items %}
            <div class="module_wrapper">
            {% with module as device %}
                {% include "devicehistory/history_table.html" %}
            {% endwith %}
            </div>
        {% endfor %}

        </div>
    {% endfor %}
{% endblock %}
