{% extends "seeddb/base.html" %}

{% block content %}
<form action="" method="post">
    <table class="listtable">
    {% if object %}
    <caption>
        {{ object }}
    </caption>
    {% endif %}
    {{ form.as_table }}
    <tr>
        <th></th>
        <td><input type="submit" value="Save" /></td>
    </tr>
    </table>
</form>

{% if delete_url %}
<form action="{{ delete_url }}" method="post">
    <table class="listtable">
        <tr>
            <th>Delete this:</th>
            <td>
                <input type="hidden" name="object" value="{{ object.pk }}" />
                <input type="submit" name="delete" value="Delete" />
            </td>
        </tr>
    </table>
</form>
{% endif %}
{% endblock %}
