{% extends "seeddb/base.html" %}

{% block additional_seeddb_head %}
  <script>
    NAV.urls.seeddb_netboxgroup_devicelist = '{% url 'seeddb-netboxgroup-devicelist' %}';
  </script>
{% endblock %}

{% block content %}

  <p>
    <a href="{{ back_url }}">Back to list</a>
  </p>

  <div class="row">

    <div class="small-12 column">
      <form class="seeddb-edit" action="" method="post">
        <fieldset>
          <legend>{{ title }}</legend>

          <table class="listtable edit">
            {% if object %}
              <caption>
                {{ object }}
              </caption>
            {% endif %}

            {% block formfields %}

              {% for field in form %}

                <tr>
                  <th>
                    <label for="{{ field.auto_id }}">
                      <span class="{{ field.field.required|yesno:"required," }}">
                        {{ field.label }}
                      </span>
                    </label>
                  </th>

                  <td>
                    {% if field.html_name == 'netboxes' %}
                      <div class="hidden">
                        {{ field }}
                      </div>
                      <input id="device-group-select2" type="hidden" value="asd">
                    {% else %}
                      {{ field }}
                    {% endif %}

                    {% if field.errors %}
                      {{ field.errors }}
                    {% endif %}
                  </td>
                </tr>
              {% endfor %}

              <tr>
                <th>&nbsp;</th>
                <td><input type="submit" value="Save" class="button small"/></td>
              </tr>

            {% endblock %}

          </table>

        </fieldset>
      </form>

      {% if delete_url and object %}
        <form action="{{ delete_url }}" method="post">
          <input type="hidden" name="object" value="{{ object.pk }}"/>
          <input type="submit" name="delete" value="Delete this {{ verbose_name }}" class="button small"/>
        </form>
      {% endif %}

    </div>

  </div> {# row #}

{% endblock %}
