{% extends "seeddb/base.html" %}
{% load url_parameters %}

{% block content %}

{% if filter_form %}
<form action="" method="get">
<table class="listtable">
    {{ filter_form }}
    <tr>
        <th></th>
        <td>
            <input type="submit" value="Filter" />
            <input type="hidden" name="sort" value="{{ current_sort }}" />
            <input type="hidden" name="per_page" value="{{ request.GET.per_page }}" />
        </td>
    </tr>
</table>
</form>
{% endif %}

{% include "seeddb/paginator.html" %}

<form action="{{ request.path }}" method="post">
    {% if not hide_move or not hide_delete %}
    <div>
    {% if not hide_move %}
        <input type="submit" name="move" value="Move selected" />
    {% endif %}
    {% if not hide_delete %}
        <input type="submit" name="delete" value="Delete selected" />
    {% endif %}
    </div>
    {% endif %}

<table class="listtable">
    <caption>
        {{ caption }}<br />
        <span class="subtitle">
            {{ page.paginator.count }} found in database, showing {{ page.start_index }} to {{ page.end_index }}.
        </span>
    </caption>

    <thead>
        <tr>
            <th id="select">
            </th>
            {% for label in labels %}
            <th>
            {% ifequal label.1 current_sort_label %}
                {% if sort_asc %}
                    <img src="/images/alertprofiles/go-down.png" alt="Sorted ascending" />
                {% else %}
                    <img src="/images/alertprofiles/go-up.png" alt="Sorted descending" />
                {% endif %}
                <a href="{% url_parameters sort other_sort %}">{{ label.0|capfirst }}</a>
            {% else %}
                <a href="{% url_parameters sort label.1 %}">{{ label.0|capfirst }}</a>
            {% endifequal %}
            </th>
            {% endfor %}
        </tr>
    </thead>

    <tbody>
      {% if object_list %}
        {% for object in object_list %}
        <tr class="{% cycle 'oddrow' 'evenrow' %}">
            <td><input type="checkbox" name="object" value="{{ object.pk }}" class="selector" /></td>
            {% for element in object.values_list %}
            {% if forloop.first %}
            <td><a href="{{ object.url }}">{{ element }}</a></td>
            {% else %}
            <td>{{ element|default_if_none:"" }}</td>
            {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
      {% else %}
	<tr><td></td></tr>
      {% endif %}
    </tbody>

</table>

    {% if not hide_move %}
        <input type="submit" name="move" value="Move selected" />
    {% endif %}
    {% if not hide_delete %}
        <input type="submit" name="delete" value="Delete selected" />
    {% endif %}
</form>

{% include "seeddb/paginator.html" %}

{% endblock %}
