{% load url_parameters %}
<form action="" method="get">
<p class="paginator">
    {% if page.has_previous %}
    <a href="{% url_parameters page page.previous_page_number %}" class="prev">« Previous</a>
    {% else %}
    <span class="prev off">« Previous</span>
    {% endif %}
{% for p in page.paginator.page_range %}
    {% ifequal page.number p %}
    <span class="active">{{ p }}</span>
    {% else %}
    <a href="{% url_parameters page p %}">{{ p }}</a>
    {% endifequal %}
{% endfor %}
    {% if page.has_next %}
    <a href="{% url_parameters page page.next_page_number %}" class="next">Next »</a>
    {% else %}
    <span class="next off">Next »</span>
    {% endif %}

    <select name="per_page">
        {% with request.GET.per_page as per_page %}
        <option value="100"{% ifequal per_page '100' %} selected="selected"{% endifequal %}>100</option>
        <option value="500"{% ifequal per_page '500' %} selected="selected"{% endifequal %}>500</option>
        <option value="all"{% ifequal per_page 'all' %} selected="selected"{% endifequal %}>all</option>
        {% endwith %}
    </select>
    <input type="submit" value="View" />
    {% form_parameters page '' per_page '' %}
</p>
</form>
