<li class="{{ sub_active.list|yesno:"tabactive," }}">
    <a href="{% url seeddb-service %}">Services</a></li>
<li class="{{ sub_active.add|yesno:"tabactive," }}">
    <a href="{% url seeddb-service-edit %}">Add new service</a>
</li>
{% if object %}
<li class="{{ sub_active.edit|yesno:"tabactive," }}">
    <a href="{% url seeddb-service-edit object.id %}">Edit service "{{ object }}"</a>
</li>
{% endif %}
<li class="{{ sub_active.bulk|yesno:"tabactive," }}">
    <a href="{% url seeddb-service-bulk %}">Bulk import</a></li>
