<li class="{{ sub_active.list|yesno:"tabactive," }}">
    <a href="{% url seeddb-netboxgroup %}">Device Groups</a></li>
<li class="{{ sub_active.add|yesno:"tabactive," }}">
    <a href="{% url seeddb-netboxgroup-edit %}">Add new group</a>
</li>
{% if object %}
<li class="{{ sub_active.edit|yesno:"tabactive," }}">
    <a href="{% url seeddb-netboxgroup-edit object.id %}">Edit group "{{ object.id }}"</a>
</li>
{% endif %}
<li class="{{ sub_active.bulk|yesno:"tabactive," }}">
    <a href="{% url seeddb-netboxgroup-bulk %}">Bulk import</a></li>
