{% if vlans.0 %}
<dl>
<dt>Connected swports:</dt>
{% for vlan in vlans %}
<dd id="swport-{{ vlan.interface.id }}">
{% if vlan.interface.has_children %}
   <img src="{{ STATIC_URL }}images/networkexplorer/expand.gif" onclick="openNode(this);" class="expand"/>
{% else %}
	{% if forloop.last %}
   <img src="{{ STATIC_URL }}images/networkexplorer/end.gif">
	{% else %}
   <img src="{{ STATIC_URL }}images/networkexplorer/vertical-bound.gif">
	{% endif %}
{% endif %}
<a href="{% url 'ipdevinfo-details-by-name' vlan.interface.netbox.sysname %}">{{ vlan.swport.module.netbox.sysname }}</a> [{{ vlan.interface.ifname }}]
{% if vlan.interface.connected_to_switch %}
  {% if vlan.interface.to_netbox %}
    {% if vlan.interface.trunk %}
      <abbr title="trunk port">⇉</abbr>
    {% else %}
      <abbr title="non-trunk port">→</abbr>
    {% endif %}
    <a name="switch-{{ vlan.interface.to_netbox.id }}-{{vlan.vlan.id}}" href="{% url 'ipdevinfo-details-by-name' vlan.interface.to_netbox.sysname %}" target="_blank">{{ vlan.interface.to_netbox }}</a>
  {% else %}
    {% if vlan.interface.to_interface %}
        {% if vlan.interface.trunk %}
	  <abbr title="trunk port">⇉</abbr>
	{% else %}
	  <abbr title="non-trunk port">→</abbr>
	{% endif %}
	  <a name="switch-{{ vlan.interface.to_interface.netbox.id }}-{{vlan.vlan.id}}" href="{% url 'ipdevinfo-details-by-name' vlan.interface.to_interface.netbox.sysname %}" target="_blank">{{ vlan.interface.to_interface.netbox }}</a> [{{vlan.interface.to_interface.ifname}}]
    {% else %}
        ({{ vlan.interface.ifalias }})
        {% if vlan.interface.trunk %}
	  <abbr title="trunk port">(trunk)</abbr>
	{% endif %}
    {% endif %}
  {% endif %}
{% else %}
  {% if vlan.interface.to_netbox %}
    {% if vlan.interface.trunk %}
      <abbr title="trunk port">⇉</abbr>
    {% else %}
      <abbr title="non-trunk port">→</abbr>
    {% endif %}
    <a href="{% url 'ipdevinfo-details-by-name' vlan.interface.to_netbox.sysname %}" target="_blank">{{ vlan.interface.to_netbox }}</a>
  {% else %}
    {% if vlan.interface.to_interface %}
        {% if vlan.interface.trunk %}
	  <abbr title="trunk port">⇉</abbr>
	{% else %}
	  <abbr title="non-trunk port">→</abbr>
	{% endif %}
	<a href="{% url 'ipdevinfo-details-by-name' vlan.interface.to_interface.netbox.sysname %}" target="_blank">{{ vlan.interface.to_interface.netbox }}</a>
	[{{ vlan.interface.to_interface.ifname }}]
    {% else %}
        ({{ vlan.interface.ifalias }})
        {% if vlan.interface.trunk %}
	  <abbr title="trunk port">(trunk)</abbr>
	{% endif %}
    {% endif %}
  {% endif %}
{% endif %}
</dd>
{% endfor %}
</dl>
{% endif %}
