{% extends "powersupplies/base.html" %}
{% load default_date_filter %}

{% block content %}

<div>
{% if states %}
<div id="tablecontainer" class="text-right">
<table id="powersupplycontainer" class="vertitable">
	<caption>Current states</caption>
    <tr>
        {% for header in headers %}
            <th>{{ header }}</th>
        {% endfor %}
    </tr>
    {% for state in states %}
    <tr>
        <td><a href="/ipdevinfo/{{ state.netbox.sysname }}/">{{ state.netbox.sysname }}</a></td>
        <td>{{ state.netbox.ip }}</td>
        <td>{{ state.name }}</td>
        <td>{% if state.model %}
                {{ state.model }}
            {% else %}
                &nbsp;
            {% endif %}</td>
        <td>{{ state.descr }}</td>
        <td>
            {% ifequal state.up 'n' %}
                <font color="red">Down</font>
            {% endifequal %}
            {% ifequal state.up 'w' %}
                <font color="yellow">Warning</font>
            {% endifequal %}
            {% ifequal state.up 'y' %}
                <font color="green">Up</font>
            {% endifequal %}
            {% ifequal state.up 'u' %}
                <font color="blue">Unknown</font>
            {% endifequal %}
        <td>
            {% ifequal state.up 'n' %}
                {% if state.downsince %}
                    {{ state.downsince }}
                {% else %}
                    &nbsp;
                {% endif %}
            {% else %}
                &nbsp;
            {% endifequal %}</td>
    <tr>
    {% endfor %}
</table>
</div>

{% else %}
 <p> No power-supplies are registered.</p>
{% endif %}
</div>
{% endblock %}

