{% load crispy_forms_field %}

<div id="div_{{ field.auto_id }}" class="ctrlHolder{% if field.errors and form_show_errors %} error{% endif %}{% if field.css_classes %} {{ field.css_classes }}{% endif %}">
    <label for="{{ field.id_for_label }}">
        {{ field.label|safe }}{% if field.field.required %}<span class="asteriskField">*</span>{% endif %}
        {% crispy_field field %}
    </label>
    {% if form_show_errors %}
        {% for error in field.errors %}
            <small id="error_{{ forloop.counter }}_{{ field.auto_id }}" class="errorField">
                {{ error }}
            </small>
        {% endfor %}
    {% endif %}

</div>
