{% extends "base.html" %} {# Don't need a deeper hierarchy for one template #}
{% load crispy_forms_tags %}

{% block base_content %}

  <h2>Ranked statistics</h2>

  {% crispy form %}

  {# Display view if exists #}
  {% if result %}
    {% if result.graph_url %}
      <p>
        <a href="{{ graphite_base }}{{ result.graph_url }}">
          Edit this graph (restricted access)
        </a>
      </p>

      <img src="{{ result.graph_url }}" alt="Graph" title="Graph">

      <table class="listtable">
        <caption>Average values</caption>
        {% for metric, value in result.display_data %}
          <tr>
            <td>
              {{ metric }}
            </td>
            <td>
              {{ value }}{{ result.graph_args.vtitle }}
            </td>
          </tr>
        {% endfor %}

      </table>
    {% else %}
      <p>Error fetching data</p>
    {% endif %}
  {% endif %}

{% endblock base_content %}
