<!Doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="/static/css/nav.css" />
		<link rel="stylesheet" href="/static/css/nav/errorpages.css" />
	</head>
	<body>
		<div class="row hero">
			<div class="large-12 columns">
				<h1>Not found <i class="fa fa-thumbs-down"></i></h1>
				<p>Our highly trained beavers did not find anything on {{ request_path }}, sorry.</p>
			</div>
		</div>

		<div class="row info">
			<div class="large-12 columns">
				<p>If this seems wrong to you, we suggest you contact the site administrator.</p>
			</div>
			<div class="large-12 columns">
				<a href="/" class="button button-medium primary">Front page</a>
			</div>
		</div>
	</body>
</html>
