<html>

{# FIXME Hardcoded urls #}

{% block base_header_head %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block base_header_title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="/style/normalize.css" />
    <link rel="stylesheet" href="/style/foundation.css" />
    <link rel="stylesheet" href="/style/custom.css" />
    <link rel="stylesheet" href="/style/calendar.css" />
    <link rel="stylesheet" href="/style/treeselect.css" />
    <link rel="stylesheet" href="/style/quickselect.css" />
    <link rel="stylesheet" href="/style/table.css" />
    <link rel="stylesheet" href="/style/foundation_icon_fonts/stylesheets/general_foundicons.css" />
    <script type="text/javascript" src="/js/default.js"></script>
    <script type="text/javascript" src="/js/require_config.js"></script>
    {% if debug %}
        <script type="text/javascript" src="/js/require_config.dev.js"></script>
    {% endif %}
    <script src="/js/libs/require.js" data-main='src/main'></script>
    {% block base_header_additional_head %}
    {% endblock %}
</head>
{% endblock %}


{% block base_body_start %}
<body>
{% endblock %}


{% comment %} TOP BAR {% endcomment %}
<nav class="top-bar">
    <ul class="title-area">
        <h1 class="name"><a href="/"><img src="/images/main/navlogo-141x50.png" title="Network Administration Visualized"></a></h1>
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li>
    </ul>


    <section class="top-bar-section">
        <ul class="left">
            <li class="has-form search">
                <form action="/info/" method="get">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input id="query" type="text" name="query" maxlength="100" size="12"/>
                        </div>
                        <div class="small-2 columns">
                            <input class="button" type="submit" value="Search" />
                        </div>
                    </div>
                </form>
            </li>
        </ul>

        <ul class="right">
            <li class="has-dropdown"><a href="{% url webfront-preferences-navigation %}">Your links</a>
                <ul class="dropdown">
                    {% for link in current_user_data.navbar %}
                        <li><a href="{{ link.uri }}">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="has-dropdown"><a href="{% url webfront-toolbox %}">Your tools</a>
                <ul class="dropdown">
                    {% for tool in current_user_data.tools %}
                        {% if tool.display %}
                            <li>
                                <a href="{{ tool.uri }}">
                                    <img src="{{ tool.icon }}" width="16px" height="16px">
                                    {{ tool.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

            <li><a href="#">Documentation</a></li>
            <li class="divider"></li>
            {% if current_user_data.account.is_default_account %}
                <li>
                    <a class="navbar login button" href="/index/login">Login</a>
                </li>
            {% else %}
                <li>
                    <a class="navbar logout button" href="/index/logout">Logout {{ current_user_data.account.login }}</a>
                </li>
            {% endif %}
        </ul>
    </section>
</nav>

<div class="row">

    <div class="large-12 columns">
        <ul id="nav-breadcrumbs" class="breadcrumbs">
            {% for title, url in navpath %}
                {% if url %}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                {% else %}
                    <li class="unavailable"><a href="#">{{ title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>

{% comment %} MAIN CONTENT {% endcomment %}
<div class="row">
    <div class="large-12 columns">

    {% block base_navbody_start %}<div id="navbody">{% endblock %}
    {% block base_content %}
    {% endblock %}
    {% block base_navbody_end %}</div>{% endblock %}

    </div>
</div>


<hr />

<footer class="row">
    <div class="large-12 columns">
        <p>
            <a href="/about/">Network Administration Visualized</a>
            version {{ nav_version }}
        </p>

        <p>
            {% if current_user_data.account.is_default_account %}
                You are not logged in.
            {% else %}
                You are logged in as <a href="/userinfo/">{{ current_user_data.account.name }}</a>.
            {% endif %}
        </p>
    </div>
</footer>


</body>
</html>

{% comment %}

{% if current_user_data.sudoer %}
<div id="top-bar">
<form action="{% url webfront-logout %}" method="post">
<img src="/images/main/emblem-important.png" alt="Important information" />
Hi <em>{{ current_user_data.sudoer.name }}</em>, you are currently logged in as <em>{{ current_user_data.account.name }}</em>.
    <input type="submit" name="submit_desudo" value="Log back in as {{ current_user_data.sudoer.login }}" />
</form>
</div>
{% endif %}

<div id="header">
    {% block base_header_logo %}
        <div id="navlogo">
            <h1>
                <a href="/">
                    <img src="/images/main/navlogo-141x50.png" width="141"
                         height="50" alt="NAV"/>
                    <span>Network Administration Visualized</span>
                </a>
            </h1>
        </div>
    {% endblock %}

    {% block base_header_navbar %}
    <div id="navbar">

        <div id="navpath">
            {% block base_header_navpath %}
                {% for title, url in navpath %}
                    {% if url %}
                        <a href="{{ url }}">{{ title }}</a>
                    {% else %}
                        {{ title }}
                    {% endif %}
                    {% if not forloop.last %}
                        &gt;
                    {% endif %}
                {% endfor %}
            {% endblock %}
        </div>

        <div id="navbarlogininfo">
            {% if current_user_data.account.is_default_account %}
                <a class="navbar login" href="/index/login">Login</a>
            {% else %}
                <a class="navbar logout" href="/index/logout">
                    Logout {{ current_user_data.account.login }}
                </a>
            {% endif %}
        </div>

        <div id="navbarquicklinks">
            {% if current_user_data.qlink1 %}
                <select onchange="return NAV.jump(this);">
                    <option selected="selected">Quicklink #1</option>
                    {% for link in current_user_data.qlink1 %}
                        <option value="{{ link.uri }}">{{ link.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}

            {% if current_user_data.qlink2 %}
                <select onchange="return NAV.jump(this);">
                    <option selected="selected">Quicklink #2</option>
                    {% for link in current_user_data.qlink2 %}
                        <option value="{{ link.uri }}">{{ link.name }}</option>
                    {% endfor %}
                </select>
            {% endif %}

        </div>

        <div id="navbarlinks">
            {% for link in current_user_data.navbar %}
                <a href="{{ link.uri }}" class="navbar">
                    {{ link.name }}
                </a>
            {% endfor %}
        </div>

        <div id="navbarsearch">
            <form action="/info/" method="get">
                <input id="query" type="text" name="query" maxlength="100"
                       size="12"/>
                <button type="submit">Search</button>
            </form>
        </div>

        <div id="navbartoggler" class="hidden">
            <img src="/images/icons/expand.png" class="expand" alt="Show navbar" title="Show navbar">
            <img src="/images/icons/collapse.png" class="collapse" alt="Hide navbar" title="Hide navbar">
        </div>

        <div class="float-clear"></div>

    </div>

    {% endblock base_header_navbar %}
</div>
{% endblock base_header %}

{% block base_toolbar %}
    {% if available_tools %}
        {% include "toolbar.html" %}
    {% endif %}
{% endblock %}

{% block base_navbody_start %}<div id="navbody">{% endblock %}
{% block base_content %}
{% endblock %}
{% block base_navbody_end %}</div>{% endblock %}

{% block base_debug %}
    {% if debug %}
        {% if not current_user_data.account.is_default_account %}
            {% include "debug.html" %}
        {% endif %}
    {% endif %}
{% endblock %}

{% block base_footer %}
<div id="footer">
    <hr />
    <p>
        <a href="/about/">Network Administration Visualized</a>
        version {{ nav_version }}
        <br />
        {% if current_user_data.account.is_default_account %}
        You are not logged in.
        {% else %}
        You are logged in as <a href="/userinfo/">{{ current_user_data.account.name }}</a>.
        {% endif %}
    </p>
</div>

</body>
</html>

{% endblock %}
{% endcomment %}
