{% block base_header %}

<!DOCTYPE html>
<html>

{# FIXME Hardcoded urls #}

{% block base_header_head %}
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block base_header_title %}{{ title }}{% endblock %}</title>
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/custom.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/calendar.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/treeselect.css" />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/quickselect.css" />
    {% comment %} Javascript global variables {% endcomment %}
    <script>
        var NAV = {
            'cssPath': '{{ STATIC_URL }}css/nav',
            'imagePath': '{{ STATIC_URL }}images'
        };
    </script>
    <script src="{{ STATIC_URL }}js/require_config.js"></script>
    <script src="{{ STATIC_URL }}js/libs/require.js" data-main='src/main'></script>
    {% block base_header_additional_head %}
    {% endblock %}
</head>
{% endblock %}


{% block base_body_start %}
<body>
{% endblock %}


{% comment %} TOP BAR {% endcomment %}
<nav class="top-bar">
    <ul class="title-area">
        <li>
            <h1 class="name">
                <a href="/" title="Network Administration Visualized">
                    <span class="logo-text">NAV</span>
                </a>
            </h1>
        </li>
        <li class="toggle-topbar menu-icon">
            <a href="#"><span>Menu</span></a>
        </li>
    </ul>


    <section class="top-bar-section">
        <ul class="left">
            <li class="has-form search">
                <form action="/info/" method="get">
                    <div class="row collapse">
                        <div class="small-10 columns">
                            <input id="query" type="text" name="query" maxlength="100"/>
                        </div>
                        <div class="small-2 columns">
                            <input class="button" type="submit" value="Search" />
                        </div>
                    </div>
                </form>
            </li>
        </ul>

        <ul class="right">
            <li class="has-dropdown">
                <a href="{% url webfront-preferences-navigation %}">
                    Your links <i class="fa fa-gear"></i>
                </a>
                <ul class="dropdown">
                    {% for link in current_user_data.navbar %}
                        <li><a href="{{ link.uri }}">{{ link.name }}</a></li>
                    {% endfor %}
                </ul>
            </li>

            <li class="has-dropdown">
                <a href="{% url webfront-toolbox %}">
                    Your tools <i class="fa fa-gear"></i>
                </a>
                <ul id="toolboxdropdown" class="dropdown">
                    {% for tool in current_user_data.tools %}
                        {% if tool.display %}
                            <li>
                                <a href="{{ tool.uri }}">
                                    <img src="{{ STATIC_URL }}{{ tool.icon }}" alt="{{ tool.name }}">
                                    {{ tool.name }}
                                </a>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </li>

            <li><a href="/doc">Documentation</a></li>
            {% if current_user_data.account.is_default_account %}
                <li>
                    <a class="navbar login button" href="/index/login">Login</a>
                </li>
            {% else %}
                <li>
                    <a class="navbar logout button" href="/index/logout">Logout {{ current_user_data.account.login }}</a>
                </li>
            {% endif %}
        </ul>
    </section>
</nav>

{% if current_user_data.sudoer %}
    <div class="sudoer-bar">
        <form action="{% url webfront-logout %}" method="post">
            <img src="{{ STATIC_URL }}images/main/emblem-important.png"
                 alt="Important information"/>
            Hi <em>{{ current_user_data.sudoer.name }}</em>, you are currently
            logged in as <em>{{ current_user_data.account.name }}</em>.
            <input type="submit" name="submit_desudo" value="Log back in as {{ current_user_data.sudoer.login }}" class="button secondary small"/>
        </form>
    </div>
{% endif %}

{% comment %} BREADCRUMB {% endcomment %}
<div class="row">

    <div class="large-12 columns">
        <ul id="nav-breadcrumbs" class="breadcrumbs">
            {% for title, url in navpath %}
                {% if url %}
                    <li><a href="{{ url }}">{{ title }}</a></li>
                {% else %}
                    <li class="unavailable"><a href="#">{{ title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

</div>

{% endblock base_header %}

{% comment %} MAIN CONTENT {% endcomment %}
{% block base_navbody_start %}
<div class="row">
    <div class="large-12 columns">
        <div class="navbody">
{% endblock %}

    {% block base_content %}
    {% endblock %}

{% block base_navbody_end %}
        </div>
    </div>
</div>
{% endblock %}

{% block base_footer %}
<hr />

<footer class="row">
    <div class="large-4 medium-4 columns">
        <h5 class="subheader">NAV Version</h5>

        <p>
            <a href="/about/">Network Administration Visualized</a>
            <br/>
            {{ nav_version }}
        </p>


        <p>
            {% if current_user_data.account.is_default_account %}
                You are not logged in.
            {% else %}
                You are logged in as <a href="/userinfo/">{{ current_user_data.account.name }}</a>.
            {% endif %}
        </p>
    </div>

    <div class="large-4 medium-4 columns">
        <h5 class="subheader">External links</h5>
        {{ external_links|safe }}
    </div>

    <div class="large-4 medium-4 columns">
        <h5 class="subheader"
                >Contact information</h5>
        {{ contact_information|safe }}
    </div>
</footer>


</body>
</html>

{% endblock base_footer %}
