.listingTable {
  margin : 2px 2px 2px 2px;
}

.listingLabel {
  font-family : arial, sans-serif;
  background : #336699;
  font-size: 0.8em;
  font-weight : bold;
}

.listingRowA {
  background : #cccccc
}

.listingRowB {
  background : #99aacc
}

.listingHL {
  background : #cc9999
}

.listingField {

	border-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-color: #999999;

  font-family: arial, sans-serif;
  padding-left: 0px;
  padding-right: 0px;
  font-size: 0.8em; 
}
