{% extends "info/base.html" %}
{% load crispy_forms_tags %}

{% block base_header_additional_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/info_vlan.css"/>
    <script>require(["src/info_vlan"]);</script>
{% endblock %}

{% block content %}

    <h4>VLAN search</h4>

    {% block vlandetails %}

        <div class="row">
            <div class="medium-6 column">
                {% crispy form %}
            </div>
        </div>

        {% if form.is_bound %}
            {% if vlans %}
                <table class="listtable searchresults">
                    <caption>{{ vlans|length }} result{{ vlans|pluralize:",s" }}
                        for "{{ form.data.query }}"
                    </caption>

                    <thead>
                    <tr>
                        <th>Vlan</th>
                        <th>Type</th>
                        <th>Netident</th>
                        <th>Description</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for vlan in vlans %}
                        <tr class="{% cycle 'oddrow' 'evenrow' %}">
                            <td>
                                <a href="{% url vlan-details vlan.id %}">{{ vlan.vlan }}</a>
                            </td>
                            <td>
                                {{ vlan.net_type }}
                            </td>
                            <td>
                                {{ vlan.net_ident }}
                            </td>
                            <td>
                                {{ vlan.description }}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="messages">No vlans found</p>
            {% endif %}

        {% endif %}

    {% endblock %}

{% endblock %}


