{% extends 'info/vlan/base.html' %}

{% block vlandetails %}

    {% comment %} Print vlan information {% endcomment %}
    <table class="listtable">
        <caption>Vlan {{ vlan }}</caption>

        <thead>
            <tr>
                <th>Vlan</th>
                <th>Type</th>
                <th>Organization</th>
                <th>Net Ident</th>
                <th>Description</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>{{ vlan.vlan|default_if_none:"N/A" }}</td>
                <td>{{ vlan.net_type|default_if_none:"" }}</td>
                <td>{{ vlan.organization|default_if_none:"" }}</td>
                <td>{{ vlan.net_ident|default_if_none:"" }}</td>
                <td>{{ vlan.description|default_if_none:"" }}</td>
            </tr>
        </tbody>

    </table>


    {% comment %} Print gwportprefixes {% endcomment %}
    <table class="listtable">
        <caption>Interfaces</caption>

        <thead>
            <tr>
                <th>Netbox</th>
                <th>Address</th>
                <th>Interface</th>
            </tr>
        </thead>

        <tbody>
            {% for gwportprefix in gwportprefixes %}
                <tr>
                    <td>{{ gwportprefix.interface.netbox.sysname }}</td>
                    <td>{{ gwportprefix.gw_ip }}</td>
                    <td>{{ gwportprefix.interface.ifname }}</td>
                </tr>

            {% endfor %}
        </tbody>

    </table>

    {% comment %} Graph with stacked ip-address count from all ipv4 prefixes {% endcomment %}
    {% if vlan.graph %}
        <img class="'vlan" src="{{ vlan.graph.get_url }}">
    {% endif %}

    <h3>Prefixes</h3>

    {% comment %} Graph for each prefix containing ip-addresses, mac-addresses and size of range {% endcomment %}
    {% for prefix in prefixes %}
        <img class="prefix" src="{{ prefix.graph.get_url }}" alt="{{ prefix.net_address }}">
    {% endfor %}


{% endblock %}


