/* @import url("listing.css"); */

/*
 * NAVuser main stylesheet
 */
.ilink {
	cursor:crosshair;
}



TABLE.listingTable TH {
	color: #999;
}

/* Period box for time settings.. */

.endreboks {
	background-color: #FFFFCC;
	border-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-color: #000000
}

.imglow {
	background: #ff3333; color: #f00;
	vertical-align: bottom;
}

/* Overview popup box */

div.window {
	padding: 5px;
	margin-top: 2.5em;
	margin-left: 25px;
	position: absolute;
	background: url(../images/bluepixel85.png);
	display: none;
	border: 1px solid black;
	left: 20%;
	width: 400px;
	font-size: medium;
}
div.window p,div.window h3 {
	margin: 0px; padding: 0px;
}
div.hoverelement:hover div.window {
	display: inline;
}


/* Visual Document */

BODY { 

}
.main {
	text-align : left;
	width : 80%
}
.feilWindow {
	margin : 2px 2px 22px 2px;
	background : #FFFF99;
	border : 1px groove #000000
}
table.meny {
	width : 100%;
	background-color: #eee;
	border: 1px solid #999999;
	margin-top: 3px;
}

.meny td {
}

.meny hr {
	border: 0;
	color: #999999;
	background-color: #999999;
	height: 1px;
}

.meny caption, .mainWindowHead {
	border: none !important;
	font-weight : bold;
	font-size: 1.2em;
	color : white;
	text-align : center;
	padding: 0.3em 0.5em;
	background-color: #567899;
	border: 1px solid #567899;
	border-bottom: 2px solid white !important;
}

.mainWindowHead p {
	font-size: 1.1em;
	margin: 0px;
}

.mainWindow {
				border-collapse: separate;
				border-spacing: 10px 0;
}

INPUT.subm {
	font-weight: bold
}

INPUT.fieldOne, INPUT.fieldTwo, TEXTAREA.field {
	font-family : monospace;
}

INPUT.fieldOne {
	width : 100%
}
img.refresh {
	position: relative;
	top: 8px;
}
P.nop {
	margin-bottom: 0px
}

P.descr {
	color: #333333;
	font-size: 0.8em;
	margin: 0em
}

.oversikt { 
	background : #dddddd;
	border : 1px solid #666;
}

DIV.newelement {
	border: 1px solid black; 
	padding: 2px; 
	margin: 2px; 
	background: #eee
}
DIV.subheader {
	border: 1px solid black; 
	padding: 2px; 
	margin: 2px; 
	background: #eee
}

P, TD, TH, TR, LI {
	font-family: arial, sans-serif;

}



* {
	font-family: verdana, arial, helvetica, sans-serif;

}
p {
	font-size: .85em;
	margin: .1em .1em .3em .1em;
}


h1, h2, h3 {
	margin: .2em .1em .4em .1em;
}

h1 {
	font-size: 1.4em;
	font-weight: bold
}

h2 {
	font-size: 1.2em;
	font-weight: bold
}

h3 {
	font-size: 1em;
	font-weight: bold
}

.noCSS { display: none }





/* LISTING */
.listingTable {
	border: 1px solid #999999;
  margin : 2px 2px 2px 2px;
}

.listingLabel {
  background : #567899;
  color: #fff ! important;
	font-size: 0.8em;
	padding: 3px;
  font-weight : bold;
}
A.sort:link, A.sort:visited {
        color: #ffffff;
}

A.sort:active, A.sort:hover {
        color: #FF9999;
}

.listingRowA {
  background : #ccc;
}

.listingRowB {
  background : #f5f5f5
}

.listingHL {
  background : #cc9999
}

.listingField {
	border-width: 1px;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-color: #999999;
	padding: 1px 5px;
	font-size: 0.9em; 
}
/* LISTING */



/* Oversikt timeplan paa forsiden */

table.timetable, table.timetable table.eqgroup {
	font-size: x-small;
}
table.timetable tr.period td.clock { font-size: medium }
table.timetable td {
	vertical-align: top;
}
table.timetable tr.period td.clock { width: 8% }
table.timetable tr.period td.helg { width: 12% }
table.timetable tr.period td.eqg { width: 80% }

table.timetable tr.period td.eqg table.eqgroup tr td { width: 50% }
table.timetable tr.period td.eqg table.eqgroup { width: 100% }

table.timetable tr td.helg { text-align: center }
table.timetable tr td.clock { text-align: center }

table.timetable { border: 1px solid #999999;  width: 100% }
table.timetable tr.period > td {border-top: 1px solid #999999 }



table.timetable tr.period.even > td { background: #ddd; padding: 2px }



table.timetable tr.period table.eqgroup  tr td.eqoel {border-top: 1px dashed #339; color: #dde }

table.timetable table.eqgroup ul { margin-top: 0px; padding: 0px }
table.timetable table.eqgroup li { margin-top: 0px; padding: 0px }
ul > li.direct {
	list-style-image: url('../icons/direct.png') 
}
ul > li.queue { 
	list-style-image: url('../icons/queue.png') 
}
ul > li.noalert { 
	list-style-image: url('../icons/cancel.gif') 
}



/* Oversikt timeplan paa forsiden */






BODY { 
	background-color: white; 
}

img, a { border: none } 

A.navbar         { color: #000000; text-decoration: none; font-size: 13; }
A.navbar:visited { color: #000000; text-decoration: none; }
A.navbar:hover   { color: #336699; text-decoration: none; }
A.navbar:active  { color: #4477AA; text-decoration: none; }

A.tt         { color: #000000; text-decoration: none; }
A.tt:visited { color: #000000; text-decoration: none; }
A.tt:hover   { color: #336699; text-decoration: underline; }
A.tt:active  { color: #4477AA; text-decoration: none; }

A         { color: #336699; text-decoration: none; }
A:visited { color: #336699; text-decoration: none; }
A:hover   { color: #000000; text-decoration: underline; }
A:active  { color: #6699CC; text-decoration: none; }


