@import url("listing.css");

/*
 * NAVuser main stylesheet
 */
.ilink {
	cursor:crosshair;
}


A.sort:link, A.sort:visited {
        color: #CCCCCC
}

A.sort:active, A.sort:hover {
        color: #FF9999
}
TABLE.listingTable TH {
	color: #999;
}

/* Period box for time settings.. */

.endreboks {
	background-color: #FFFFCC;
	border-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: solid;
	border-left-style: none;
	border-color: #000000
}

.imglow {
	background: #ff3333; color: #f00;
	vertical-align: bottom;
}

/* Overview popup box */

div.window {
	padding: 5px;
	margin-top: 2.5em;
	margin-left: 25px;
	position: absolute;
	float: left;
	background: url(../images/bluepixel85.png);
	display: none;
	border: thin solid black;
	left: 20%;
	font-size: medium;
}
div.window p,div.window h3 {
	margin: 0px; padding: 0px;
}
div.hoverelement:hover div.window {
	display: inline;
}


/* Visual Document */

BODY { 

}
.main {
	text-align : left;
	width : 80%
}
.feilWindow {
	margin : 2px 2px 22px 2px;
	background : #FFFF00;
	border : 1px groove #000000
}
.meny {
	width : 100%;
	border : thin solid #666;
	margin : 0px 0px 10px 0px;
	background : #dedede;
	background-image:url('/images/toolbox/module-fill.gif'); 
	background-repeat: repeat;
}

.menyHead {
	border: thin solid #666;
	font-weight : bold;
	background : #ddd;
	color : black;
	text-align : center;
	background-image:url('../images/backgroundpattern.png'); 
	background-repeat: repeat;	
}

.mainWindow {
	margin : 0px 0px 10px 0px;
	background : #fffafa;
	border : 1px groove #000000
}
.mainWindowHead {
	border: thin solid #666;
	font-weight : bold;
	background : #ddd;
	color : black;
	text-align : center;
	background-image:url('../images/backgroundpattern.png'); 
	background-repeat: repeat
}

INPUT.subm {
	font-weight: bold
}

INPUT.fieldOne, INPUT.fieldTwo, TEXTAREA.field {
	font-family : monospace;
}

INPUT.fieldOne {
	width : 100%
}
img.refresh {
	position: relative;
	top: 8px;
}
P.nop {
	margin-bottom: 0px
}

P.descr {
	color: #333333;
	font-size: 0.9em;
	margin: 0em
}

.oversikt { 
	background : #dddddd;
	border : thin solid #666;
}

DIV.newelement {
	border: thin solid black; 
	padding: 2px; 
	margin: 2px; 
	background: #eee
}
DIV.subheader {
	border: thin solid black; 
	padding: 2px; 
	margin: 2px; 
	background: #eee
}

P, TD, TH, TR, LI {
	font-family: arial, sans-serif;
	font-size: 1.0em
}



h1, h2, h3 {
  
}

h1 {
	font-size: 1.4em;
	font-weight: bold
}

h2 {
	font-size: 1.2em;
	font-weight: bold
}

h3 {
	font-size: 1em;
	font-weight: bold
}

.noCSS { display: none }





/* LISTING */
.listingTable {
	border: thin solid #666;
  margin : 2px 2px 2px 2px;
}

.listingLabel {
  background : #336699;
  font-size: 0.8em;
  font-weight : bold;
}

.listingRowA {
  background : #d0d0d0
}

.listingRowB {
  background : #f5f5f5
}

.listingHL {
  background : #cc9999
}

.listingField {

	border-width: thin;
	border-top-style: solid;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-color: #999999;

  padding-left: 0px;
  padding-right: 0px;
  font-size: 0.7em; 
}
/* LISTING */



/* Oversikt timeplan paa forsiden */

table.timetable, table.timetable table.eqgroup {
	font-size: x-small;
}
table.timetable tr.period td.clock { font-size: medium }
table.timetable td {
	vertical-align: top;
}
table.timetable tr.period td.clock { width: 8% }
table.timetable tr.period td.helg { width: 12% }
table.timetable tr.period td.eqg { width: 80% }

table.timetable tr.period td.eqg table.eqgroup tr td { width: 50% }
table.timetable tr.period td.eqg table.eqgroup { width: 100% }

table.timetable tr td.helg { text-align: center }
table.timetable tr td.clock { text-align: center }

table.timetable { border: thin solid #ccc;  width: 100% }
table.timetable tr.period > td {border-top: thin solid #666 }
table.timetable tr.period.odd table.eqgroup > tr > td {border-top: thin solid #ccc }
table.timetable tr.period.odd > td { background: #eee; padding: 2px }
table.timetable tr.period.odd  table.eqgroup tr.odd td { background: #ddd; padding: 2px }
table.timetable tr.period.odd  table.eqgroup tr.even td { background: #ccc; padding: 2px }
table.timetable tr.period.even table.eqgroup > tr > td {border-top: thin solid #888 }
table.timetable tr.period.even td { background: #aaa; padding: 2px }
table.timetable tr.period.even table.eqgroup tr.odd td { background: #999; padding: 2px }
table.timetable tr.period.even table.eqgroup tr.even td { background: #888; padding: 2px }

table.timetable table.eqgroup ul { margin: 0px; padding: 0px }
table.timetable table.eqgroup li { margin: 0px; padding: 0px }
li.direct {
	list-style-image: url('../icons/direct.png') 
}
li.queue { 
	list-style-image: url('../icons/queue.png') 
}
li.noalert { 
	list-style-image: url('../icons/cancel.gif') 
}



/* Oversikt timeplan paa forsiden */






* {
	font-family: verdana, arial, helvetica, sans-serif;
}

BODY { 
	background-image:url('/images/main/background-fill.gif');
	background-repeat: repeat-x;
	background-color: white; 
}

img, a { border: none } 

A.navbar         { color: #000000; text-decoration: none; font-size: 13; }
A.navbar:visited { color: #000000; text-decoration: none; }
A.navbar:hover   { color: #336699; text-decoration: none; }
A.navbar:active  { color: #4477AA; text-decoration: none; }

A.tt         { color: #000000; text-decoration: none; }
A.tt:visited { color: #000000; text-decoration: none; }
A.tt:hover   { color: #336699; text-decoration: underline; }
A.tt:active  { color: #4477AA; text-decoration: none; }

A         { color: #336699; text-decoration: none; }
A:visited { color: #336699; text-decoration: none; }
A:hover   { color: #000000; text-decoration: underline; }
A:active  { color: #6699CC; text-decoration: none; }


