<!DOCTYPE web-app 
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" 
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

    <display-name>vlanPlot Server</display-name>
    <description>
	This is a simple web application with a source code organization
	based on the recommendations of the Application Developer's Guide.
    </description>

    <context-param>
      <param-name>dbConfigFile</param-name>
      <param-value>db.conf</param-value>
      <description>
        Name of the database config file within the NAV config directory
      </description>
    </context-param>

    <context-param>
      <param-name>configFile</param-name>
      <param-value>vPServer.conf</param-value>
      <description>
        Name of the vPServer config file within the NAV config directory
      </description>
    </context-param>

    <context-param>
      <param-name>navConfigFile</param-name>
      <param-value>nav.conf</param-value>
      <description>
        Name of the NAV config file within the NAV config directory
      </description>
    </context-param>

    <servlet>
        <servlet-name>vPServer</servlet-name>
        <servlet-class>vPServer</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>vPServer</servlet-name>
        <url-pattern>/servlet/vPServer</url-pattern>
    </servlet-mapping>

</web-app>
