{% extends "base.html" %}
{% load tools %}

{% block base_header_additional_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/netmap.css"  />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/message.css" media="screen"  />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css"  />
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/spin.min.js"></script>
    <script>require(["src/netmap/main"]);</script>
    <!-- check out https://github.com/jrburke/jqueryui-amd -->
{% endblock %}


{% block base_content %}
  {% with tool=current_user_data.tools|get_tool:'Netmap' %}
    {% include 'nav_header.html' %}
  {% endwith %}



  <div class="clear" style="padding-top: 10px"></div>
    <div id="netmap_wrapper">

        <div id="netmap_main_view">
            <!-- <h2>{{ current_view.title }}</h2> -->
            <div id="wrapper_chart">

            </div>

            <div id="netmap_bootstrap_mapPropertiesCollection" class="hidden">
                {{ bootstrap_mapproperties_collection }}
            </div>
            <div id="netmap_bootstrap_favoriteView" class="hidden">
                {{ bootstrap_isFavorite }}
            </div>
            <div id="netmap_bootstrap_availableCategories" class="hidden">
                {{ bootstrap_availableCategories }}
            </div>

            <div id="netmap_bootstrap_availableCategories_datauris" class="hidden">
                {{ bootstrap_availableCategories_datauris }}
            </div>
            <div id="netmapview_id" class="hidden">
                {{ current_view.viewid }}
            </div>
            <div id="chart_header"></div>
            <div id="netmap_userid">{{ auth_id }}</div>
            {% if link_to_admin %}
                <div id="netmap_link_to_admin" class="hide">{{link_to_admin}}</div>
            {% endif %}
        </div>
        <div id="netmap_left_sidebar">
            <div id="searchbox"></div>

            <div id="map_filters"></div>

            <div id="loadbar-chart">
            </div>

        </div>
        <div id="netmap_infopanel">

            <div id="list_views"></div>
            <div id="mapinfo"></div>
        </div>
    </div>
    <div class="clear"></div>
    <script type="text/javascript">
        var target = document.getElementById('loading_chart');
        var opts = {
            lines: 13, // The number of lines to draw
            length: 7, // The length of each line
            width: 6, // The line thickness
            radius: 20, // The radius of the inner circle
            corners: 1, // Corner roundness (0..1)
            rotate: 0, // The rotation offset
            color: '#000', // #rgb or #rrggbb
            speed: 1, // Rounds per second
            trail: 60, // Afterglow percentage
            shadow: true, // Whether to render a shadow
            hwaccel: true, // Whether to use hardware acceleration
            className: 'spinner', // The CSS class to assign to the spinner
            zIndex: 2e9, // The z-index (defaults to 2000000000)
            top: 'auto', // Top position relative to parent in px
            left: 'auto' // Left position relative to parent in px
        };
        document.navNetmapAppSpinner = new Spinner(opts).spin(target);
    </script>
{% endblock %}
