{% extends "base.html" %}
{% load tools %}

{% block base_header_additional_head %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/netmap.css"  />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/message.css" media="screen"  />
    <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css"  />
    <script type="text/javascript" src="{{ STATIC_URL }}js/libs/spin.min.js"></script>
    <script>require(["src/netmapv2/netmap"]);</script>
{% endblock %}

{% block base_content %}

<div class="row">
  <div class="small-12 columns">
    {% with tool=current_user_data.tools|get_tool:'Netmap' %}
      {% include 'nav_header.html' %}
    {% endwith %}
  </div>
</div>

<div id="navigation-view">
  <div id="graph-navigation" class="row">

    <div class="medium-4 columns">
      <form id="graph-search-form">
        <div class="row collapse">

          <div class="medium-9 columns">
           <input id="graph-search-input" type="text" placeholder="Search graph"/>
          </div>
          <div class="medium-3 columns">
           <input id="graph-search-submit" class="postfix button" type="submit" />
          </div>

        </div>
      </form>
    </div>

    <div class="medium-1 columns">
      <div class="row collapse">
        <div class="medium-7 columns">
          <span class="prefix">Layer</span>
        </div>
        <div class="medium-5 columns">
          <select id="graph-layer-select">
            <option value="2">2</option>
            <option value="3">3</option>
          </select>
        </div>
      </div>
    </div>

    <div class="medium-3 columns">
      <div class="row collapse">
        <div class="medium-2 columns">
          <span class="prefix">View</span>
        </div>
        <div class="medium-7 columns">
          <select id="graph-view-select">
            {% for view in netmap_views %}
              <option id="{{ view.pk }}" value="{{ view.pk }}">
                {{ view.title }}
              </option>
            {% endfor %}
          </select>
        </div>
        <div class="medium-3 columns">
          <a class="button small">
            Save
          </a>
        </div>
      </div>
    </div>

    <div class="medium-4 columns">
      <div class="row">
        <div class="medium-4 columns">
          <a id="netmap-view-panel-toggle" class="button secondary small">
            View options
            <i class="fa fa-caret-down"></i>
          </a>
        </div>

        <div class="medium-4 columns">
          <a id="advanced-options-panel-toggle" class="button secondary small">
            Advanced options
            <i class="fa fa-caret-down"></i>
          </a>
        </div>

        <div class="medium-4 columns"></div>
      </div>
    </div>

    {% comment %}<div class="medium-1 columns">
      {% if link_to_admin %}
        <a href="{{ link_to_admin }}" class="button small right">Netmap admin</a>
      {% endif %}
    </div>{% endcomment %}
  </div>

  <div class="row">
    <div id="netmap-view-panel" class="medium-12 columns hide">
      <div class="panel">
        <div class="row">
          <div class="medium-2 columns">
            <div class="row">
              <div class="medium-6 columns">
                <a id="netmap-view-default" class="button secondary small left">Set favorite</a>
              </div>
              <div class="medium-6 columns">
                <a id="netmap-view-delete" class="button alert small left">Delete view</a>
              </div>
            </div>
            <div class="row">
              <div class="medium-12 columns">
                <a id="netmap-view-save" class="button small">Save view</a>
              </div>
            </div>
            <div class="row">
              <div id="netmap-alert-container" class="medium-12 columns">
              </div>
            </div>
          </div>
          <div class="small-3 columns nopadding">
            <div class="row">
              <div class="medium-12 columns">
              <h6>Filter categories</h6>
              <ul id="filter-category-list">
                {% for category in categories %}
                  <li>
                    <label for="filter-{{ category }}">{{ category }}
                    <input type="checkbox" id="filter-{{ category }}" class="filter-category" value="{{ category }}"></label>
                  </li>
                {% endfor %}
              </ul>
              </div>
            </div>
            <div class="row">
              <div class="medium-12 columns">
                <label for="filter-orphan-nodes" class="right">
                  Display isolated nodes
                  <input type="checkbox" id="filter-orphan-nodes">
                </label>
              </div>
            </div>
          </div>
          <div class="medium-4 columns end right">
            <form id="netmap-view-create-form">
              <input type="text" placeholder="View name"/>
              <textarea placeholder="View description"></textarea>
              <label><input type="checkbox" name="public" checked>Public</label>
              <input class="button small" type="submit" value="Create view" />
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="advanced-options-panel" class="medium-12 columns hide">
      <div class="panel">
        <form id="refresh-interval">
          <h6>Refresh interval</h6>
          <label><input name="refresh-interval-value" type="radio" value="-1" checked>Off</label>
          <label><input name="refresh-interval-value" type="radio" value="2">2 min</label>
          <label><input name="refresh-interval-value" type="radio" value="10">10 min</label>
          <div id="refresh-counter"></div>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="row">

  <div id="graph" class="large-12 columns">
    <div id="graph-info-view"></div>
    <div id="graph-view"></div>
    <div id="spinner-dummy"></div>
  </div>

</div>

<div class="row">
  <div class="large-12 columns">

    <table id="traffic-gradient">
      <thead>
        <tr>
          {% for _ in traffic_gradient %}
            <th>
              {% if forloop.first %}
                0%
              {% elif forloop.counter|divisibleby:'10' %}
                {{ forloop.counter }}%
              {% endif %}
            </th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        <tr>
          {% for rgb in traffic_gradient %}
            <td class="traffic-rgb" style="background: rgb({{ rgb.r }}, {{ rgb.g }}, {{ rgb.b }})"></td>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">

    window.netmapData = {
        staticURL: '{{ STATIC_URL }}images/netmap/',
        userID: {{ account.pk }},
        views: {{ netmap_views_json|safe }},
        defaultView: {{ default_view }}
    };

    var target = document.getElementById('spinner-dummy');
    var opts = {
        lines: 13, // The number of lines to draw
        length: 7, // The length of each line
        width: 6, // The line thickness
        radius: 20, // The radius of the inner circle
        corners: 1, // Corner roundness (0..1)
        rotate: 0, // The rotation offset
        color: '#000', // #rgb or #rrggbb
        speed: 1, // Rounds per second
        trail: 60, // Afterglow percentage
        shadow: true, // Whether to render a shadow
        hwaccel: true, // Whether to use hardware acceleration
        className: 'spinner', // The CSS class to assign to the spinner
        zIndex: 2e9, // The z-index (defaults to 2000000000)
        top: 'auto', // Top position relative to parent in px
        left: 'auto' // Left position relative to parent in px
    };
    document.navNetmapAppSpinner = new Spinner(opts).spin(target);
</script>
{% endblock %}
