#extends nav.web.templates.EmotdTemplate

#def newmessage($message)
<div style="padding: 5px 10px;">
<a href="/messages/view/$message.id"><font size=3><b>$message.title</b></font></a><br>
#if $message.description
$message.description
#end if
<br>
#if $message.affected
<br><label class="title">Affected end users:</label> $message.affected
#end if
#if $message.downtime
<br><label class="title">Estimated downtime:</label> $message.downtime
#end if
#if $message.units
<br><label class="title">Units on maintenance:</label> <a href="/messages/add/$message.id" title="Units on maintenance: $message.units"><img src="/images/wrench.gif" border="0">$message.units</a>
</div>
#end def

#block content
$makeMenu()
<br>
#if $messages:
<table style="font-size:13px; border: 1px solid black;" cellspacing="0">
  <TR><TD COLSPAN=3 STYLE="BACKGROUND: URL('/images/emotd/top-r.gif') REPEAT-X;">
  <div style="position: relative; margin-top: -12px;"><img src="/images/emotd/top-l.gif"></div>
  <div style="position: relative; margin: -25px 0px 0px 50px; padding-bottom: 8px;font-size:15px;">$title</div>
  </TD></TR>
#set $farge = "white";
  #for $message in $messages

#if $message.new
<style>
   label.title {
	font-weight: bold;
   }
</style>
   <tr><td colspan="2">
$newmessage($message)
   </td></tr>
#set $farge = "white";
#else
   <tr style="background: $farge;">
      <td style="padding: 0px 10px;"><a href="/messages/view/$message.id">$message.title</a></td>
#if $message.units
      <td style="padding: 0px 10px;" align="right"><a href="/messages/add/$message.id" title="Units on maintenance: $message.units"><img src="/images/wrench.gif" border="0">$message.units</a></td>
#else
      <td style="padding: 0px 10px;">&nbsp;</td>      
#end if
#if not $title == "Active Messages"
#set $start = str($message.publish_start)[0:16]
#set $end = str($message.publish_end)[0:16]
      <td style="padding: 0px 10px; font-size:9px;" nowrap>
      <a style="color: black; text-decoration: none;" title="Published at $start">$start[8:10]/$start[5:7]</a> - <a style="color: black; text-decoration: none;" title="Outdated at $end">$end[8:10]/$end[5:7]</a></td>      
#end if
#end if

#if $farge == "white":
#set $farge = "#eeeeee"
#else:
#set $farge = "white"
#end if
   </tr>
  #end for
</table>
<span style="text-align:center">
#if $previousuri
<a href="$previousuri">previous page</a>
#end if
#if $nexturi
<a href="$nexturi">next page</a>
#end if
#else:
No $title found.<br>
#end if
<br>
</div>
#end block
