#extends nav.web.templates.EmotdTemplate

##def additionalCSS
##    TH.index {color: #04a; background-color: #ccc; text-align: left}
##    TH.index {background-color: #eee; text-align: left}
##end def

#def content
<h2>$title</h2>
$makeMenu()
#if $form
$outputForm()
#end if
#if $body
$body
#end if
#end def

## Print out table-formatted form bases on a Form object
#def outputForm
<FORM method="$form.method" action="$form.action" enctype="multipart/form-data">
#for $table in $form.tables
    <TABLE>
#if $table.headings
        <TR>
#for $heading in $table.headings
            <TH>$heading</TH>
#end for
        </TR>
#for $input in $row
#if not $input.type == 'hidden'
            <TD>#slurp
#end if
#if $input.type == 'submit'
<INPUT type="submit" name="$input.controlName" value="$input.title">#slurp
#end if
#if $input.type == 'label'
<LABEL>$input.title</LABEL>#slurp
#end if
#if $input.type == 'checkbox'
<INPUT type="checkbox" name="$input.controlName" value="$input.value">#slurp
#end if
#if $input.type == 'text'
<INPUT type="text" name="$input.controlName" value="$input.value">#slurp
#end if
#if $input.type == 'select'
<SELECT name="$input.controlName">
#for $value,$option in $input.options
#if $input.onlyText
#if $input.value == $value
                <OPTION value="$value" selected>($value) $option</OPTION>
#else
                <OPTION value="$value">($value) $option</OPTION>
#end if
#else
#if $input.value == $value
                <OPTION value="$value" selected>$option</OPTION>
#else
                <OPTION value="$value">$option</OPTION>
#end if
#end if
#end for
            </SELECT>#slurp
#end if
#if $input.type == 'hidden'
            <INPUT type="hidden" name="$input.controlName" value="$input.value">
#end if
#if not $input.type == 'hidden'
</TD>
#end if
#end for
        </TR>
#end for
    </TABLE>
#end for
</FORM>
#end def

