##
## Copyright 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## $Id$
## Authors: Sigurd Gartmann <sigurd-nav@brogar.org>
##          Magnar Sveen <magnars@idi.ntnu.no>
##

#extends nav.web.templates.MainTemplate

#attr numberOfMessagesShown = 15

#block additionalCSS
$default_tabs_CSS();
#end block additionalCSS

#block errormessage
#end block

#def $makeMenu($current = False)
<div style="border: 1px solid black; margin: 33px 0px; padding: 0px 19px;">
<div id="tabs" style="margin: -24px -10px;">
	<ul>
#for $item in $menu:
## HACK
#if $item.text == "Compose new message":
#set $item.text = "New message";
#end if
#if $item.this or $item.text == $current:
		<li id="current"><a>$item.text</a></li>
#elif $item.text == "New message" or $item.text == "Maintenance Setup" or $item.text == "Maintenance":
		<li><a href="$item.link">$item.text</a></li>
#else:
		<li id="same"><a href="$item.link">$item.text</a></li>
#end if
#end for
	</ul>
</div>
#end def

#def $makeMenu2($current = False)
<div style="border: 1px solid black; margin: 33px 0px; padding: 0px 19px;">
<div id="tabs" style="margin: -24px -10px;">
	<ul>
		<li id="same"><a href="/messages/active">Active messages</a></li>
		<li id="same"><a href="/messages/planned">Planned messages</a></li>
		<li id="same"><a href="/messages/historic">Historic messages</a></li>
		<li id="same"><a href="/messages/maintenance">Maintenance list</a></li>
#if $current == "New message":
		<li id="current"><a>New message</a></li>
#else:
		<li><a href="/messages/edit">New message</a></li>
#end if
#if $current == "Maintenance":
		<li id="current"><a>Maintenance</a></li>
#else:
		<li><a href="/messages/add/">Maintenance</a></li>
#end if
	</ul>
</div>
#end def

#def $makeFormField($type,$name,$val="",$label=None,$star=None)

#if $label
<label style="font-size: 11px;">$label</label>#slurp
#if $star
<span style="color:red; font-size: 11px;">*</span>#slurp
#end if
<br>
#end if
#if $type == "tinytextarea"
<textarea name="$name" cols="30" rows="5">$val</textarea>
#elif $type == "tinyshorttextarea"
<textarea name="$name" cols="30" rows="2">$val</textarea>
#elif $type == "textarea"
<textarea name="$name" cols="50" rows="5">$val</textarea>
#else
<input type="$type" size="37" name="$name" value="$val" />
#end if

#end def

#def $makeDateTime($label,$prefix,$year,$month,$day,$hour,$minute)

<label style="white-space: nowrap; font-size: 11px; width:110px;">$label</label>
<select name="${prefix}_year">
#for y in range(2004,2020)
<option value="$y" #slurp
#if $y==$year
selected="1" #slurp
#end if
>$y</option>
#end for
</select>

#set $months = ("January","February","March","April","May","June","July","August","September","October","November","December")

<select name="${prefix}_month">
#for m in range(1,13)
<option value="$m" #slurp
#if $m==$month
selected="1" #slurp
#end if
>$months[$m-1]</option>
#end for
</select>

<select name="${prefix}_day">
#for d in range(1,32)
<option value="$d" #slurp
#if $d==$day
selected="1" #slurp
#end if
>$d</option>
#end for
</select>

<label style="font-size:11px;">at</label>

<select name="${prefix}_hour">
#for h in range(0,24)
<option value="$h" #slurp
#if $h==$hour
selected="1" #slurp
#end if
>$h</option>
#end for
</select>

<select name="${prefix}_minute">
#for m in range(0,60,5)
<option value="$m" #slurp
#if $m==$minute
selected="1" #slurp
#end if
#if $m < 10
#set $m = "0"+str($m)
#end if
>$m</option>
#end for
</select>

#end def

#def equipmentList($eq,$emotdid=0)
#if len($eq) and len($eq.keys()):
<table style="font-size:13px;">
<tr><td colspan=2><b>Units on maintenance:</td></tr>
#for a,b in $eq.items():
#for c in $b:
	<tr>
#if $emotdid
<td><a href="/messages/remove/$emotdid/?$a=$c[0]" title="Remove"><img border="0" src="/images/form/deleteicon.gif"></a></td>#slurp
#elif $emotdid==0:
<td><a href="/messages/remove/?$a=$c[0]" title="Remove"><img border="0" src="/images/form/deleteicon.gif"></a></td>#slurp
#end if
<td>$a $c[1] #slurp</td>
</tr>
#end for
#end for
	</table>
#end if
#end def

#def maintList

<h1>Maintenance List</h1>
#if len($maints) == 0
No maintenance info.
#end if
  <!-- Here comes the actual information regarding maintenance information -->
  <table style="font-size: 13px;">
  <tr>
    <td><b>On maintenance</b></td>
    <td><b>Related message</b></td>
    <td><b>Off maintenance</b></td>
  </tr>
  #for $message in $maints
  <tr>
##    <td><a href="/report/netbox?roomid=$message.roomid">$message.roomid ($message.roomdesc)</td>
##    <td><a href="/browse/$message.netboxid">$message.netboxid</a></td>
##    <td><a href="/browse/service/$message.serviceid">$message.serviceid</a></td>
##    <td>$message.mend</td>
##    <td><a href="/messages/view=$message.emotdid">$message.title</a></td>
#if $message.key == 'room'
    <td><a href="/report/netbox?roomid=$message.value">$message.description</td>
#elif $message.key == 'location'
    <td><a href="/report/room?locationid=$message.value">$message.description</td>
#elif $message.key == 'netbox'
    <td><a href="/browse/$message.value">$message.description</a></td>
#elif $message.key == 'module'
    <td><a href="/report/module?moduleid=$message.value">$message.description</td>
#elif $message.key == 'service'
    <td><a href="/browse/service/$message.value">$message.description</a></td>
#end if
    <td><a href="/messages/view/$message.emotdid">$message.title</a></td>
    <td>$message.end</td>
  </tr>
  #end for
  </table>
<br>
#end def
