#if len($messages) > 0
<?xml version="1.0" encoding="utf-8"?>

<rdf:RDF 
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
  xmlns="http://purl.org/rss/1.0/"
>

  <channel rdf:about="http://metanav.ntnu.no/NAVlinks/">
    <title>NAV Messages of the Day</title>
    <link>http://$server/messages</link>
    <description>
      NAV Messages of the Day is the place where you find messages from the Network Administrators.
    </description>

    <items>
      <rdf:Seq>
#for $message in $messages
        <rdf:li resource="http://$server/messages/view/$message[0]" />
#end for
      </rdf:Seq>
    </items>

  </channel>

#for $message in $messages
  <item rdf:about="http://$server/message/view/$message[0]">
    <title>$message[1]</title>
    <link>http://$server/messages/view/$message[0]</link>
    <description>
      $message[2]
    </description>
  </item>
#end for

</rdf:RDF>
#end if