#extends nav.web.templates.EmotdTemplate

#block content
$makeMenu("Maintenance list")

#set $last_location = True
#set $last_room = True
#set $last_netbox = True
#set $last_message = True
#set $columns = ("message", "location", "room", "netbox", "service/module", "maintenance end")
<table style="font-size:0.7em">
<tr>#slurp
#for $column in $columns
<th>$column</th>#slurp
#end for
</tr>

#for $element in $maintlist
<tr>#slurp
#if $element.message
<td style="background-color:snow">#slurp
#else
<td>#slurp
#end if
#if not $last_message==$element.message
$element.message $element.title#slurp
#else
&nbsp;#slurp
#end if
</td>#slurp
#if $element.category=="location"
<td style="background-color:aqua">#slurp
#elif $element.locationid
<td style="background-color:snow">#slurp
#else
<td>#slurp
#end if
#if not $last_location==$element.locationid
$element.locationid $element.locationdescr#slurp
#else
&nbsp;#slurp
#end if
</td>#slurp
#if $element.category=="room"
<td style="background-color:aqua">#slurp
#elif $element.roomid
<td style="background-color:snow">#slurp
#else
<td>#slurp
#end if
#if not $last_room==$element.roomid
$element.roomid $element.roomdescr#slurp
#else
&nbsp;#slurp
#end if
</td>#slurp
#set $last_location = $element.locationid
#set $last_room = $element.roomid
#set $last_message = $element.message
#if $element.category=="netbox"
<td style="background-color:aqua">#slurp
#elif $element.netboxid
<td style="background-color:snow">#slurp
#else
<td>#slurp
#end if
#if not $last_netbox==$element.netboxid
$element.sysname $element.netboxid#slurp
#else
&nbsp;#slurp
#end if
</td>#slurp
#set $last_netbox=$element.netboxid

##go on with coloring
<td>#slurp
#if $element.serviceid
$element.handler#slurp
#elif $element.module
$element.module#slurp
#end if
</td><td>$element.end</td></tr>

#end for
</table>

#end block
