##
## Copyright 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## $Id$
## Authors: Sigurd Gartmann <sigurd-nav@brogar.org>
##          Magnar Sveen <magnars@idi.ntnu.no>
##

#extends nav.web.templates.EmotdTemplate


#block content

<h1>Select Maintenance Window</h1>

<form action="$action" method="post">
<p>
$makeDateTime("Start maintenance","start",$start[0],$start[1],$start[2],$start[3],$start[4])
</p>

<p>
$makeDateTime("End maintenance","end",$end[0],$end[1],$end[2],$end[3],$end[4])
</p>

<p>
<input type="hidden" name="id" value="$emotdid" />
#if $ny
<input type="hidden" name="ny" value="$ny" />
#end if
<input type="submit" value="Save" />
</p>
</form>
#end block