##
## Copyright 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## $Id$
## Authors: Sigurd Gartmann <sigurd-nav@brogar.org>
##          Magnar Sveen <magnars@idi.ntnu.no>
##

#extends nav.web.templates.EmotdTemplate

#block content
$makeMenu("Maintenance list")

#set $last_location = True
#set $last_room = True
#set $last_netbox = True
#set $last_message = True
#set $columns = ("message", "location", "room", "netbox", "service/module", "maintenance end")
<table style="font-size:0.7em;padding:0;margin:0;">
<tr>#slurp
#for $column in $columns
<th>$column</th>#slurp
#end for
</tr>

#for $element in $maintlist
<tr>#slurp
#if $element.message
<td style="background-color:#eeeeee">#slurp
#else
<td>#slurp
#end if
#if not $last_message==$element.message
<a href="/messages/view/$element.message">$element.title</a>#slurp
#else
&nbsp;#slurp
#end if
</td>#slurp
#if $element.category=="location"
<td style="background-color:#AABBCC">#slurp
#elif $element.locationid
<td style="background-color:#eeeeee">#slurp
#else
<td>#slurp
#end if
#if $element.locationid and not $last_location==$element.locationid
<a href="/report/room?locationid=$element.locationid">$element.locationid, $element.locationdescr</a>#slurp
#else
&nbsp;#slurp
#end if
</td>#slurp
#if $element.category=="room"
<td style="background-color:#AABBCC">#slurp
#elif $element.roomid
<td style="background-color:#eeeeee">#slurp
#else
<td>#slurp
#end if
#if $element.roomid and not $last_room==$element.roomid
<a href="/report/netbox?roomid=$element.roomid">$element.roomid, $element.roomdescr</a>#slurp
#else
&nbsp;#slurp
#end if
</td>#slurp
#set $last_location = $element.locationid
#set $last_room = $element.roomid
#set $last_message = $element.message
#if $element.category=="netbox"
<td style="background-color:#AABBCC">#slurp
#elif $element.netboxid
<td style="background-color:#eeeeee">#slurp
#else
<td>#slurp
#end if
#if not $last_netbox==$element.netboxid
<a href="/browse/$element.netboxid">$element.sysname</a>#slurp
#else
&nbsp;#slurp
#end if
</td>#slurp
#set $last_netbox=$element.netboxid

##go on with coloring
<td>#slurp
#if $element.serviceid
<a href="/report/servicemon?netboxid=$element.netboxid">$element.handler</a>#slurp
#elif $element.module
<a href="/report/swport?b1.sysname=$element.sysname&module=$element.module">$element.module</a>#slurp
#end if
</td><td>$element.end</td></tr>

#end for
</table>

#end block
