##
## Copyright 2003, 2004 Norwegian University of Science and Technology
##
## This file is part of Network Administration Visualized (NAV)
##
## NAV is free software; you can redistribute it and/or modify
## it under the terms of the GNU General Public License as published by
## the Free Software Foundation; either version 2 of the License, or
## (at your option) any later version.
##
## NAV is distributed in the hope that it will be useful,
## but WITHOUT ANY WARRANTY; without even the implied warranty of
## MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
## GNU General Public License for more details.
##
## You should have received a copy of the GNU General Public License
## along with NAV; if not, write to the Free Software
## Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
##
##
## $Id$
## Authors: Sigurd Gartmann <sigurd-nav@brogar.org>
##          Magnar Sveen <magnars@idi.ntnu.no>
##

#extends nav.web.templates.EmotdTemplate

#block content
$makeMenu("Maintenance list")

#if len($maintlist)
<div class="maintlist">
#if len($maintlist.messages)
#for $m in $maintlist.messages
<div class="message">
<h2><a href="/messages/view/$m.id">$m.title</a></h2>
<p style="font-size:0.6em">$m.maintend</p>
#if len($m.locations)
#for $l in $m.locations
#if $l.onMaintenance
<div class="locationmaint">
#else
<div class="location">
#end if
<h3><a href="/report/room?locationid=$l.id">$l.id, $l.descr</a></h3>
#if len($l.rooms)
#for $r in $l.rooms
#if $r.onMaintenance
<div class="roommaint">
#else
<div class="room">
#end if
<h4><a href="/report/netbox?roomid=$r.id">$r.id, $r.descr</a></h4>
#if len($r.netboxes)
<table>
#for $n in $r.netboxes
#if $n.onMaintenance
<tr><td class="netboxmaint"><a href="/browse/$n.id">$n.sysname</a></td>
#else
<tr><td><a href="/browse/$n.id">$n.sysname</a></td>
#end if
#if len($n)
#if $n.onMaintenance
<td class="netboxmaint">
#else
<td>
#end if

#if len($n.services)
#for $s in $n.services
#if $s.onMaintenance
<a href="/report/servicemon?netboxid=$n.id" class="servicemaint">$s.handler</a>
#else
<a href="/report/servicemon?netboxid=$n.id">$s.handler</a>
#end if
#end for s services
#end if services

#if len($n.modules)
#for $s in $n.modules
#if $s.onMaintenance
<a href="/report/swport?b1.sysname=$n.sysname&module=$s.modulenumber" class="servicemaint">$s.modulenumber</a>
#else
<a href="/report/swport?b1.sysname=$n.sysname&module=$s.modulenumber">$s.modulenumber</a>
#end if
#end for s modules
#end if modules

</td>
#end if
</tr>
#end for n
</table>
#end if
</div>
#end for r
#end if
</div>
#end for l
#end if
</div>
#end for m
#end if
</div>
#end if

#end block


#block additionalCSS
$default_tabs_CSS()
<link rel="stylesheet" type="text/css" href="/style/messages.css" />
#end block
