#extends nav.web.templates.EmotdTemplate

#block content

$makeMenu2()

#if $all
<br><font size=6><b>$title</b></font><br>
#end if

#set $mellom = False

#for message in $messages

<br>
#if $all
#if $mellom
<hr noshade color="#cccccc" size="1">
#end if
#set $mellom = True
<font size=5><b>$message.title</b></font>
#else
<font size=6><b>$message.title</b></font>
#end if
<br>

##klokkeslett tas imot på iso-format

<style>
   label.title {
	font-weight: bold;
   }
   p {
	font-size: 0.8em;
   }
</style>

<span class="pysetekst" style="font-size:0.6em; color: #999; padding: 0px 0px 0px 5px;">$message.type
#if $access and $message.publish_start
$message.publish_start - $message.publish_end
#end if
by $message.author on $message.last_changed
</span>
#if $message.description
$message.description
#end if
#if $message.affected
<p><label class="title">Affected end users:</label> $message.affected</p>
#end if
#if $message.downtime
<p><label class="title">Estimated downtime:</label> $message.downtime</p>
#end if
#if $message.detail
<p><label class="title">Details:</label>
$message.detail</p>
#end if
#if $message.equipment
$equipmentList($message.equipment, $message.emotdid)
#end if
#if $message.maint_start and $access
<p><label class="title">Maintenance window:</label> $message.maint_start - $message.maint_end</p>
#end if

#if $message.replaces_emotd
#if $message.replaces_title
<p><label class="title">This message replaces:</label> <a href="/messages/view/$message.replaces_emotd">$message.replaces_title</a>.</p>
#else
<p><label class="title">This message replaces message no.:</label> <a href="/messages/view/$message.replaces_emotd">$message.replaces_emotd</a>.</p>
#end if
#end if

<span style="font-size:0.8em;">
#if $access
[ 
<a href="/messages/add/$message.emotdid">Maintenance Setup</a>
#if $username == $message.author:
| <a href="/messages/edit/$message.emotdid">Edit Message</a>
#end if

| <a href="/messages/edit/$message.emotdid">Followup Message</a> 

#if not $message.retired
| <a href="/messages/retire/$message.emotdid">Retire Message</a>
#end if                                                                                
#if not $all
 | <a href="/messages/view/$category">Show all</a>
#end if
</span>

]</form>
#end if

#end for
<br><br>
</div>
#end block
