{% extends "base.html" %}

{% block base_header_additional_head %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/messages.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/timepicker.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/nav/jquery-ui-1.8.21.custom.css"/>
  <link rel="alternate" type="application/rss+xml"
        title="Messages Feed (RSS 2.0)" href="{% url messages-rss %}"/>
  <script>require(['src/messages']);</script>
{% endblock %}

{% block base_content %}
  <h2>Messages <a href="{% url messages-rss %}"><i class="fa fa-rss"></i></a></h2>

  {% block content %}
    <div class="tabs">
      <ul>
        <li class="{{ active.active|yesno:"tabactive," }}">
          <a href="{% url messages-active %}">Active</a>
        </li>
        <li class="{{ active.scheduled|yesno:"tabactive," }}">
          <a href="{% url messages-planned %}">Scheduled</a>
        </li>
        <li class="{{ active.archive|yesno:"tabactive," }}">
          <a href="{% url messages-historic %}">Archive</a>
        </li>
      </ul>

      <div class="tabcontent">
        {% if current_user_data.messages %}
          <ul class="messages">
            {% for m in current_user_data.messages %}
              <li class="{{ m.type }}">{{ m.message }}</li>
            {% endfor %}
          </ul>
        {% endif %}

        {% block tabcontent %}
        {% endblock tabcontent %}
      </div>

    </div>
  {% endblock content %}

{% endblock base_content %}
