/* Default stylesheet for NAV
 *
 * Copyright 2003-2005 Norwegian University of Science and Technology
 * Copyright 2006 UNINETT AS
 *
 * This file is part of Network Administration Visualized (NAV)
 *
 * NAV is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * NAV is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with NAV; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 * 
 * Authors: Magnar Sveen <magnars@idi.ntnu.no>
 *          Stein Magnus Jodal <stein.magnus@jodal.no>
 */

/* Block elements */

body { 
	background-color: white; 
	color: black;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	margin: 0px;
}

h1, h2 {
	font-weight: normal;
}

/* Inline elements */

a {
	color: #369;
	text-decoration: none;
}
a:visited {
	color: #369;
}
a:hover {
	color: black;
	text-decoration: underline;
}
a:active {
	color: #69C;
}
a img {
	border: 0;
}
a.navbar {
	color: black;
	font-size: 13px;
}

a.navbar:visited {
	color: black;
}
a.navbar:hover {
	color: #369;
	text-decoration: none;
}
a.navbar:active {
	color: #47A;
}

.error {
	color: red;
}

/* Header section */

div#header {
	width: 100%;
}

div#navlogo {
	background-image: url('/images/main/background-navlogo.gif');
	background-repeat: no-repeat;
	cursor: pointer;
	position: relative;
	height: 71px;
	width: 100%;
}

div#navbar {
	background-image: url('/images/main/background-navbar.gif');
	background-repeat: repeat-x;
	font-size: 13px;
	padding: 0em 2em 0em 2em;
}
div#navbar table {
	border-collapse: collapse;
	width: 100%;
}
div#navbar table td {
	padding: 0px;
	vertical-align: top;
}
div#navbar table td.entry {
	padding: 1px 15px 0px 5px;
	white-space: nowrap;
}
div#navbar table td.list {
	background-image: url('/images/main/quicklink-fill.gif');
	background-repeat: none;
}
div#navbar table td.separator {
}
div#navbar table td.spacer {
	text-align: right;
	width: 100%;
}

div#navpath {
	font-size: smaller;
	padding: 0em 8px 0.5em 8px;
}
div#navpath span {
	color: gray;
}

/* Content section */

div#navbody {
	padding: 0em 8px 0em 8px;
}

/* Footer section */

div#footer {
	clear: left;
	text-align: center;
}
div#footer hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
}
div#footer .copyright {
	color: #999;
	font-size: x-small;
}

