/* Subsystem stylesheet for NAV
 *
 * Copyright 2003-2004 Norwegian University of Science and Technology
 * Copyright 2006 UNINETT AS
 *
 * This file is part of Network Administration Visualized (NAV)
 *
 * NAV is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * NAV is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.	See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with NAV; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 * 
 * Authors: Kristian Eide <kreide@gmail.com>
 *          Stein Magnus Jodal <stein.magnus.jodal@uninett.no>
 */

th.header {
	text-align: center;
	font-weight: normal;
}
p.title {
	font-size: larger;
	font-weight: bold;
	text-align: center;
	padding: 0px 0px 0px 0px;
	margin: 0px;
}
.infobox {
	background-color: #eeeeee;
	padding: 0.5em;
	border: 1px solid #cccccc;
	-moz-border-radius: 12px;
}
.infobox h5 {
	display: inline;
	margin-top: 0px;
	margin-bottom: 0px;
	border-bottom: 1px solid rgb(51, 102, 153);
}
