/* Stylesheet for tables in NAV style
 *
 * Copyright 2003-2005 Norwegian University of Science and Technology
 * Copyright 2006 UNINETT AS
 *
 * This file is part of Network Administration Visualized (NAV)
 *
 * NAV is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; either version 2 of the License, or
 * (at your option) any later version.
 *
 * NAV is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with NAV; if not, write to the Free Software
 * Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA  02111-1307  USA
 *
 * Authors: Magnar Sveen <magnars@idi.ntnu.no>
 *          Stein Magnus Jodal <stein.magnus.jodal@uninett.no>
 */

/* Old style table */
table.horiztable {
	border: 0;
	border-collapse: collapse;
	caption-side: top;
	margin-bottom: 1em;
}

/* Old style table: Table title */
table.horiztable caption {
	background-color: #eee;
	background-image: url('/images/bar-fill.gif');
	background-repeat: no-repeat;
	color: black;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
}
table.horiztable caption span.cornerkludge {
	background-image: url('/images/ragen/top-end.gif');
	background-repeat: no-repeat;
	background-position: top right;
	float: right;
	width: 9px;
	height: 35px;
}
table.horiztable caption span.subtitle {
	font-size: smaller;
	font-weight: normal;
}
table.horiztable caption span.previous {
	float: left;
	margin-left: 1em;
}
table.horiztable caption span.next {
	float: right;
	margin-right: 1em;
}

/* Old style: table column titles */
table.horiztable tr.header {
	background-color: white;
	background-image: url('/images/ragen/navbar-fill.gif');
	background-repeat: repeat-x;
	color: black;
	height: 26px;
}
table.horiztable tr.header th {
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	white-space: nowrap;
	padding-right: 1em;
}
table.horiztable tr.header td {
	background-color: white;
	background-repeat: no-repeat;
	color: black;
	width: 14px;
}
table.horiztable tr.header td.leftkludge {
	background-image: url('/images/ragen/navbar-start.gif');
	background-position: top left;
}
table.horiztable tr.header td.rightkludge {
	background-image: url('/images/ragen/navbar-end.gif');
	background-position: top right;
}

/* Old style table: Table body */
table.horiztable tr.evenrow {
	background-color: #eee;
	color: black;
}
table.horiztable tr.oddrow {
	background-color: white;
	color: black;
}
table.horiztable tr.evenrow td, table.horiztable tr.oddrow td {
	padding-right: 1em;
}

/* Old style table: Table footer */
table.horiztable tr.footer {
	background-image: url('/images/ragen/bottom-fill.gif');
	background-repeat: repeat-x;
	background-color: white;
	height: 21px;
}
table.horiztable tr.footer th {
	color: black;
	font-weight: bold;
	text-align: center;
	vertical-align: top;
}
table.horiztable tr.footer td.leftkludge {
	background-image: url('/images/ragen/bottom-start.gif');
	background-repeat: no-repeat;
	background-position: top left;
	padding: 0px;
}
table.horiztable tr.footer td.rightkludge {
	background-image: url('/images/ragen/bottom-end.gif');
	background-repeat: no-repeat;
	background-position: top right;
}
table.horiztable tr.footer span.previous {
	float: left;
	top: 0px;
}
table.horiztable tr.footer span.next {
	float: right;
	top: 0px;
}


/* New style details table */
table.vertitable {
	border: 1px solid #ccc;
	border-collapse: separate;
	border-spacing: 2px;
	caption-side: top;
	margin-bottom: 1em;
	width: 100%;
}
table.vertitable caption {
	font-size: larger;
	text-align: left;
	padding-bottom: 0.3em;
}
table.vertitable tr {
	text-align: left;
	vertical-align: top;
}
table.vertitable tr th {
	background-color: #eee;
	padding: 0.1em 0.2em;
	width: 10%; /* Something small */
}
table.vertitable tr td {
	background-color: white;
	padding: 0.1em 0.2em;
}
table.vertitable tr td ul {
	margin: 0;
}

/* New style list table */
table.vertilist {
	border: 1px solid #ccc;
	border-collapse: separate;
	border-spacing: 2px;
	caption-side: top;
	margin-bottom: 1em;
	width: 100%;
}
table.vertilist tr {
	text-align: left;
	vertical-align: top;
}
table.vertilist tr th {
	background-color: #eee;
	padding: 0.1em 0.2em;
}
table.vertilist tr td {
        background-color: white;
        padding: 0.1em 0.2em;
}
