{% load geomap %}
<div class="network-popup">
  <table class="vertitable">
    <caption>
      {{ network.subedges|length }} link{{ network.subedges|length|pluralize }}<br>
      - combined data
    </caption>
    <tr><th>Capacity</th> <td>{{ network.capacity|floatformat:0 }} Mbps<td></tr>
    <tr><th>Load in</th> <td>{{ network.load_in|nan2none|format:"%.3f Mbps"|default:"unknown" }}</td></tr>
    <tr><th>Load out</th> <td>{{ network.load_out|nan2none|format:"%.3f Mbps"|default:"unknown" }}</td></tr>
  </table>

  {% for sub in network.subedges %}

  <table class="vertitable">
    <caption>{{ sub.netident }}</caption>
    <tr><th>Capacity</th>     <td>{{ sub.capacity|floatformat:0 }} Mbps</td></tr>
    <tr><th>Load in</th>      <td>{{ sub.load_in|nan2none|format:"%.3f Mbps"|default:"unknown" }}</td></tr>
    <tr><th>Load out</th>     <td>{{ sub.load_out|nan2none|format:"%.3f Mbps"|default:"unknown" }}</td></tr>
  </table>

  {% endfor %}

</div>
