{% load geomap %}
<div class="place-popup">

  <table class="listtable">
    <tr>
      <th>Rooms</th>
      <th>IP devices</th>
      <th>CPU load (max)</th>
    </tr>
    <tr>
      <td>{{ place.num_rooms }}</td>
      <td>{{ place.num_netboxes }}</td>
      <td>{{ place.load|nan2none|floatformat:2|default:"unknown" }}</td>
    </tr>
  </table>

  {% for room in place.rooms %}
    <table class="listtable">
      <caption>
        <a href="{% url 'room-info' room.id %}"
           target="_blank"
           title="View room information">
          {{ room.id }}
          {% if room.descr %}({{ room.descr }}){% endif %}
        </a>
      </caption>

      <tr>
        <td><b>IP Devices:</b> {{ room.num_netboxes }}</td>
        <td><b>CPU load (max):</b> {{ room.load|nan2none|floatformat:2|default:"unknown" }}</td>
      </tr>

      <tr>
        <td colspan="2">
          <ul class="large-block-grid-2">
            {% for box in room.netboxes %}
              <li>
                <h5>
                  <a href="{% url 'ipdevinfo-details-by-name' box.sysname %}"
                     target="_blank"
                     title="View in IP Device Info">{{ box.sysname }}</a>
                </h5>
                <ul class="no-bullet">
                  <li><b>IP:</b> {{ box.ip }}</li>
                  <li><b>Category:</b> {{ box.catid }}</li>
                  <li><b>Type:</b> {{ box.type|default:"N/A" }}</li>
                  <li><b>Up:</b> {{ box.up }}</li>
                  <li><b>Load:</b> {{ box.load|nan2none|floatformat:2|default:"unknown" }}</li>
                </ul>
              </li>
            {% endfor %}
          </ul>
        </td>
      </tr>

    </table>
  {% endfor %}

</div>
