<div class="place-popup">
  {{ place.num_rooms }} room{{ place.num_rooms|pluralize }},
  {{ place.num_netboxes }} netbox{{ place.num_netboxes|pluralize:"es" }}<br/>
  CPU load (max):
  {{ place.load|nan2none|floatformat:2|default:"unknown" }}

  <ul>
    {% for room in place.rooms %}
    <li>Room: {{ room.id }} ({{ room.descr }})<br/>
        {{ room.num_netboxes }} netbox{{ room.num_netboxes|pluralize:"es" }}<br/>
        CPU load (max): {{ room.load|nan2none|floatformat:2|default:"unknown" }}
    <ul>
      {% for box in room.netboxes %}
      <li><a href="/ipdevinfo/?query={{ box.ip }}"
             target="_blank"
             title="View in IP Device Info">{{ box.sysname }}</a><br/>
          Netboxid: {{ box.netboxid }}<br/>
          IP: {{ box.ip }}<br/>
          Category: {{ box.catid }}<br/>
          Up: {{ box.up }}<br/>
          Type: {{ box.type }}<br/>
          Load: {{ box.load|nan2none|floatformat:2|default:"unknown" }}<br/>
      </li>
      {% endfor %}
    </ul>
    </li>
    {% endfor %}
  </ul>
</div>
