<li class="branch" data-orgid="{{ branch.pk }}">
  {% if branch.has_children %}
    <i class="fa fa-toggle-down"></i>
  {% endif %}
  <a href="{% url edit_url_name branch.pk %}">
    {{ branch }}
    <div class="nav-tooltip">
        <i class="fa fa-question-circle-o unstyled-tooltip" aria-describedby="#branch-tooltip-{{ branch.pk }}"></i>
        <span id="branch-tooltip-{{ branch.pk }}" role="tooltip">
            {% include 'seeddb/fragments/branch_tooltip.html' %}
        </span>
    </div>

  </a>

  {% if branch.has_children %}
    <ul class="child">
      {% for child in branch.get_children %}
        {% with branch=child %}
          {% include 'seeddb/fragments/branch.html' %}
        {% endwith %}
      {% endfor %}
    </ul>
  {% endif %}

</li>
