<li class="branch" data-orgid="{{ branch.pk }}">
  {% if branch.has_children %}
    <i class="fa fa-toggle-down"></i>
  {% endif %}
  <a href="{% url edit_url_name branch.pk %}">
    {{ branch }}
    <i class="fa fa-question-circle-o">
      <div class="tooltip-text" style="display: none">
        {% include 'seeddb/fragments/branch_tooltip.html' %}
      </div>
    </i>
  </a>

  {% if branch.has_children %}
    <ul class="child">
      {% for child in branch.get_children %}
        {% with branch=child %}
          {% include 'seeddb/fragments/branch.html' %}
        {% endwith %}
      {% endfor %}
    </ul>
  {% endif %}

</li>
