# Config-file for navAdmin Java application

# Servlet path (end with /)
ServletRoot = /usr/local/nav/navme/webapps/navAdmin/WEB-INF/classes/

# Servlet URL-path
ServletPath = /navAdmin/servlet/navAdmin

# Servlet URL GFX path (don't end with /)
ServletGFXRoot = /navAdmin/gfx
