{% extends "machinetracker/base.html" %}

{% block content %}

<form action="{% url machinetracker-ip_search %}" method="get">
    <p>
        <label>IP from {{ form.from_ip }}</label>
        <label>to {{ form.to_ip }}</label>
        <label>{{ form.active }} active</label>
        <label>{{ form.inactive }} inactive</label>
        <label>{{ form.dns }} dns</label>
        <label>{{ form.days }} days</label>
        <input type="submit" value="Search" />
    </p>
</form>

{% if tracker %}
<table class="listtable">
    <caption>IP search results</caption>

    <thead>
        <tr>
            {% if form.cleaned_data.dns %}
            <th>DNS</th>
            {% endif %}
            <th>IP</th>
            <th></th>
            <th>MAC</th>
            <th>Start time</th>
            <th>End time</th>
        </tr>
    </thead>

    {% for key, result in tracker.items %}
    <tbody>
        {% for row in result %}
        <tr class="{% cycle 'oddrow' 'evenrow' %}">
            {% if form.cleaned_data.dns %}
            <td>{{ row.dns_lookup }}</td>
            {% endif %}
            <td>
                {% if row.ip %}
                <a href="{% url machinetracker-ip_search %}?from_ip={{ row.ip }}&amp;days={{ form.cleaned_data.days }}&amp;dns={{ form.cleaned_data.dns }}" title="Search for this IP">
                {{ row.ip }}</a>
                {% endif %}
            </td>
            <td>
                {% if row.ip %}
                <a href="{% url ipinfo-host row.ip %}" title="Lookup this IP in IPInfo">
                <img src="/images/arpcam/ipinfolink.png" alt="IP Info search" /></a>
                {% endif %}
            </td>
            <td>
                {% if row.mac %}
                <a href="{% url machinetracker-mac_search %}?from_mac={{ rowm.mac }}&amp;days={{ form.cleaned_data.days }}&amp;dns={{ form.cleaned_data.dns }}">
                {{ row.mac }}</a>
                {% endif %}
            </td>
            <td>{{ row.start_time|date:"Y-m-d H:i:s" }}</td>
            <td>
                {% if row.still_active %}
                {{ row.still_active }}
                {% else %}
                {{ row.end_time|date:"Y-m-d H:i:s" }}
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
    {% endfor %}
</table>
{% endif %}

{% endblock %}
