{% extends "base.html" %}

{% block base_content %}
<h2>About NAV</h2>

<h3>What is NAV?</h3>

<div style="float: right;">
	<a href="http://www.ntnu.no/"><img src="/images/about/ntnu.jpg"
	width="200" height="58" alt="NTNU" /></a><br />
	<a href="http://www.uninett.no/index.en.html"><img
	src="/images/about/uninett.png" width="111" height="27" alt="UNINETT" /></a>
</div>

<p>Network Administration Visualized is an advanced software suite to monitor
large computer networks. It automatically discovers network topology, monitors
network load and outages, and can send alerts on network events by e-mail and
SMS, allowing for flexible configuration of alert profiles.</p>

<p>NAV was developed at the Norwegian University of Science and Technology (<a
href="http://www.ntnu.no/">NTNU</a>). Development started in 1999. It
originated as a collection of scripts used internally at NTNU's ITEA Network
group. In 2001 <a href="http://www.uninett.no/index.en.html">UNINETT</a> became
interested in its development, and has since been funding NAV development at
NTNU on behalf of all universities and colleges in Norway. In 2006 the
development of NAV was moved from NTNU to UNINETT.</p>

<p>NAV is free, available under the GNU GPLv2 license.</p>

<h3>More information</h3>

<p>For more information about NAV, go to the following addresses:</p>

<ul>
	<li><a href="http://metanav.uninett.no/">MetaNAV</a>
        &mdash; our project wiki</li>
	<li><a href="https://launchpad.net/nav">NAV in Launchpad</a>
        &mdash; our Launchpad.net project site with NAV downloads and trackers
        for bugs and feature requests</li>
</ul>

<h3>Contributors</h3>

<p>Currently active contributors emphasized.</p>

<ul>
	<li><em>Vidar Faltinsen (project leader, 1999-2003, 2006-),
	1999-</em></li>
	<li>Trygve Lunheim, 1999-2000</li>
	<li>Tor-Arne Kvaløy, 1999</li>
	<li>Eric Sandnes, 1999</li>
	<li>Stig Venås, 1999</li>
	<li>Gro-Anita Vindheim, 1999-2001, 2003-2005</li>
	<li>Knut-Helge Vindheim, 1999-2002</li>
	<li><em>John Magne Bredal, 2000-</em></li>
	<li>Kristian Eide, 2000-2005</li>
	<li>Sigurd Gartmann, 2001-2004</li>
	<li>Erik Gorset, 2002</li>
	<li>Steinar Hamre, 2002</li>
	<li>Magnus Thanem Nordseth, 2002-2004</li>
	<li>Daniel Sandvold, 2002</li>
	<li>Andreas Åkre Solberg, 2002-2004</li>
	<li>Stian Søiland, 2002-2004</li>
	<li><em>Morten Brekkevold (formerly Vold, project leader, 2004-2005), 2002-</em></li>
	<li>Arne Øslebø, 2002-2004</li>
	<li>Bjørn Ove Grøtan, 2003</li>
	<li>Hans Jørgen Hoel, 2003-2004</li>
	<li>Erlend Mjåvatten, 2003</li>
	<li>Magnar Sveen, 2003-2004</li>
	<li><em>Stein Magnus Jodal, 2006-</em></li>
	<li>Jostein Gogstad, 2007</li>
	<li><em>Kristian Klette, 2007-</em></li>
	<li><em>Jørgen Abrahamsen, 2008-</em></li>
	<li><em>Thomas Adamcik, 2008-</em></li>
	<li><em>Magnus Motzfeldt Eide, 2008-</em></li>
	<li>Roger Kristiansen, 2008</li>
	<li><em>Kai Arne Bjørnenak, 2008-</em></li>
</ul>

<h3>Show us your appreciation!</h3>

<p>NAV is free - no strings attached - apart from these two;</p>

<ol>
	<li>If you are using NAV please add yourself to <a
	href="http://metanav.ntnu.no/moin.cgi/NAVUsers">this list</a>.</li>
	<li>If NAV makes you happy - make us happy! Send us a postcard,
	preferably with a picture from your location / city. No electronic
	postcards - use snail mail - send the postcard to:</p>
</ol>

<pre>
	The NAV Project Team
	Att: Morten Brekkevold / Vidar Faltinsen
	UNINETT AS
	NO-7465 Trondheim
	Norway
</pre>

<p>...and we will decorate our wall :)</p>

<p>That's all folks - keep using NAV - keep sending us bug reports and feature
requests!</p>
{% endblock %}
