<div class="quickselect">
    {% for attrs in output %}
        <div{% if attrs.collapse %} class="collapse"{% endif %}>
            <label for="id{{ attrs.name }}">
                {{ attrs.label }}
            </label>
            <select {% if attrs.multi %}multiple="multiple" {% endif %}size="5" name="{{ attrs.name }}" id="id_{{ attrs.name }}">
                {% for optgroup,options in attrs.objects %}
                    {% if optgroup %}
                        <optgroup label="{{ optgroup }}">
                    {% endif %}
                    {% for id,text in options %}
                        <option value="{{ id }}">{{ text }}</option>
                    {% endfor %}
                    {% if optgroup %}
                        </optgroup>
                    {% endif %}
                {% endfor %}
            </select>
            <p>
                <input type="submit" name="submit_{{ attrs.name }}" value="{{ attrs.button }}" />
            </p>
        </div>
    {% endfor %}
</div>
