<form>
<div class="multiple-select-container">

    <div class="multiple-select-choices">
        <h4>Add devices</h4>
        <input type="search">
        <select multiple="multiple" class="multiple-select">
            <option value="1">absint.online.ntnu.no</option>
            <option value="39">blaasal-sw.uninett.no</option>
            <option value="69">buick.lab.uninett.no</option>
        </select>
    </div>

    <div class="multiple-select-initial">
        <h4>Remove devices</h4>
        <select multiple="multiple" name="netboxes" class="multiple-select">
            <option value="9">kanari.uninett.no</option>
            <option value="12">mi6-old.uninett.no</option>
            <option value="34">ufisa.uninett.no</option>
        </select>
    </div>

</div>
</form>
