{% extends "useradmin/base.html" %}

{% block content %}

  <a href="{% url 'useradmin-account_list' %}">Back to account list</a>

  <div class="panel white">

    {# Heading and actions buttons #}
    <div class="row">

      {# HEADING #}
      <div class="column large-6">
        <h4>
          {% if account %}
            Editing account "{{ account.name }}" (#{{ account.id }})
          {% else %}
            Create new account
          {% endif %}
        </h4>
      </div> {# column #}


      {% comment %} ACTION BUTTONS {% endcomment %}
      <div class="column large-6">

        <ul class="inline-list action-list">
          {% if account and current_user_data.is_admin and not current_user_data.sudoer %}
            {% if current_user_data.account.id != account.id %}
              <li>
                <form action="." method="post">
                  {% csrf_token %}
                  <input type="hidden" name="account" value="{{ account.id }}"/>
                  <input type="submit" value="Operate as this user"
                         name="submit_sudo" class="button small"/>
                </form>
              </li>
            {% endif %}
          {% endif %}

          {% if account and not account.is_system_account %}
            <li>
              <a href="{% url 'useradmin-account_delete' account.id %}"
                 class="button alert small">
                Delete account
              </a>
            </li>
          {% endif %}
        </ul>

      </div>

    </div> {# row #}


    {# AUDITLOG #}
    {% if account and request.user.is_admin %}
      {% include 'useradmin/frag-auditlog.html' %}
    {% endif %}

    <div class="row">

      {% comment %} ACCOUNT FORM {% endcomment %}
      {% if account_form %}
        <div class="column medium-6 large-3">
          {% include 'custom_crispy_templates/flat_form.html' with form=account_form %}
        </div>
      {% endif %}


      {% if account %}

        {% comment %} ORGANIZATIONS {% endcomment %}
        <div class="column medium-6 large-3">
          <fieldset>
            <legend>Organizations</legend>
            {% if account.organizations.all %}
              <div class="long-listing">
                <table class="hover expand">
                  <tbody>
                    {% for org in account.organizations.all %}
                      <tr>
                        <td>{{ org }}</td>
                        <td class="text-right">
                          <a href="{% url 'useradmin-account_organization_remove' account.id org.id %}"
                             class="table-button secondary">Remove</a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p>Not member of any organizations.</p>
            {% endif %}

            {% if org_form %}
              <h6>Add organization membership</h6>
              {% include 'custom_crispy_templates/flat_form.html' with form=org_form %}
            {% endif %}

          </fieldset>

        </div>
        {# END ORGANIZATIONS #}


        {# GROUP MEMBERSHIPS #}
        <div class="column medium-12 large-6">
          <fieldset>
            <legend>Group memberships</legend>

            {% if account.groups.all %}
              <div class="long-listing">
                <table class="hover expand">
                  <tbody>
                    {% for group in account.groups.all %}
                      <tr>
                        <td>
                          <a href="{% url 'useradmin-group_detail' group.id %}">{{ group }}</a>
                        </td>
                        <td>
                          {{ group.description }}
                        </td>
                        <td class="text-right">
                          {% if not group.is_protected_group %}
                            <a href="{% url 'useradmin-account_group_remove' account.id group.id %}"
                               class="table-button secondary">Remove</a>
                          {% else %}
                            &nbsp;
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p>Not member of any groups.</p>
            {% endif %}

            {% if group_form %}
              <h6>Add group membership</h6>
              {% include 'custom_crispy_templates/flat_form.html' with form=group_form %}
            {% endif %}
          </fieldset>
        </div> {# end column #}
        {# END GROUP MEMBERSHIPS #}


      {% endif %} {# endif account #}
    </div> {# end row #}

  </div> {# panel #}

{% endblock %}
