{% extends "useradmin/base.html" %}
{% block base_header_additional_head %}
  {{ block.super }}
  <style>
   #grant-privileges-header {
       [aria-describedby] {
           cursor: pointer;
           font-size: 12px;
           margin-left: 4px;
       }
   }

  </style>
{% endblock %}
{% block content %}

  <a href="{% url 'useradmin-group_list' %}">Back to group list</a>


  <div class="panel white">

    {% if group %}
      <a href="{% url 'useradmin-group_delete' group.id %}"
         class="button small alert right">Delete group</a>
      <h4>Editing group "{{ group.name }}"</h4>
    {% else %}
      <h4>Create new group</h4>
    {% endif %}


    <div class="float-clear"></div>


    {# Forms start here #}
    <div class="row">


      {# GROUP FORM #}
      <div class="column medium-6 large-3">
        {% if group_form %}
          {% include 'custom_crispy_templates/flat_form.html' with form=group_form %}
        {% endif %}
      </div>


      {% if group %}
        {% comment %} START GROUP MEMBERS {% endcomment %}
        <div class="column medium-6 large-3">

          <fieldset id="group-members-fieldset">
            <legend>Group members</legend>

            {% if group.accounts.all %}
              <div class="long-listing">
                <table class="listtable hover expand">
                  <tbody>
                    {% for account in group.accounts.all %}
                      <tr>
                        <td>
                          <a href="{% url 'useradmin-account_detail' account.id %}">{{ account }}</a>
                        </td>
                        <td class="text-right">
                          {% if not group.is_protected_group %}
                            <a href="{% url 'useradmin-group_account_remove' group.id account.id %}"
                               class="table-button small secondary">Remove</a>
                          {% endif %}
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p>Group does not have any members.</p>
            {% endif %}

            <h6>Add group member</h6>
            {% include 'custom_crispy_templates/flat_form.html' with form=account_form %}
          </fieldset>
        </div>
        {# END GROUP MEMBERS #}


        {% comment %} START GROUP PRIVILEGES {% endcomment %}
        <div class="column large-6">

          <fieldset>
            <legend>Group privileges</legend>

            {% if group.privileges.all %}
              <div class="long-listing">
                <table class="listtable expand hover">
                  <thead>
                    <tr>
                      <th>Type</th>
                      <th>Target</th>
                      <th>&nbsp;</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for privilege in group.privileges.all %}
                      <tr>
                        <td>{{ privilege.type }}</td>
                        <td class="break-word">{{ privilege.target }}</td>
                        <td class="text-right">
                          <a href="{% url 'useradmin-group_privilege_remove' group.id privilege.id %}"
                             class="table-button secondary">
                            Revoke
                          </a>
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            {% else %}
              <p>Group has no privileges set.</p>
            {% endif %}

            {% if privilege_form %}

              <h6 id="grant-privileges-header">
                Grant privileges
                  <span class="nav-tooltip">
                    <a href="http://docs.python.org/howto/regex.html" aria-describedby="grant-tooltip">
                        <i class="fa fa-info-circle" ></i>
                        <span>How to guide</span>
                    </a>
                    <span id="grant-tooltip" role="tooltip">
                        See the <em>How to guide</em> for more information
                        on the Regular expressions used for matching targets for
                        privileges like 'web_access'.
                    </span>
                  </span>
              </h6>

              {% include 'custom_crispy_templates/flat_form.html' with form=privilege_form %}
            {% endif %}

          </fieldset>
        </div>
        {# END GROUP PRIVILEGES #}


      {% endif %} {# if group #}

    </div> {# end row #}

  </div> {# end panel #}

{% endblock %}
