<ul>
  <li{% if active.account_list %} class="tabactive"{% endif %}>
    <a href="{% url 'useradmin-account_list' %}">Account List</a>
  </li>
  {% block extra_tab_account %}{% endblock %}
  <li{% if active.group_list %} class="tabactive"{% endif %}>
    <a href="{% url 'useradmin-group_list' %}">Group List</a>
  </li>
  <li{% if active.token_list %} class="tabactive"{% endif %}>
    <a href="{% url 'useradmin-token_list' %}">API Token List</a>
  </li>
  <li{% if active.jwt_list %} class="tabactive"{% endif %}>
    <a href="{% url 'useradmin-jwt_list' %}">JWT API Token List</a>
  </li>
</ul>
