{% extends "useradmin/base.html" %}
{% load info %}

{#  Display information about a single token #}

{% block base_header_additional_head %}
  {% include "useradmin/token_card_style.html" %}
{% endblock %}

{% block content %}

  <a href="{% url 'useradmin-token_list' %}">Back to token list</a>

  <div class="row">
    <div class="column small-12">

      <div class="token-card panel white">
        <a href="{% url 'useradmin-token_edit' object.pk %}" class="right">Edit token</a>

        <h3>Token details</h3>

        <p>
          <code>{{ object.token }}</code>
        </p>

        <p>
          Permission:
          {{ object.permission }}
            <span class="nav-tooltip">
                <i class="fa fa-info-circle" aria-describedby="permission-help"></i>
                <span id="permission-help" role="tooltip">
                    {{ object.permission_help_text }}
                </span>
            </span>
        </p>

        <div class="alert-box {% if object.is_expired %}warning with-icon{% endif %}">
          {% if object.is_expired %}
            Expired
          {% else %}
            Expires
          {% endif %}
          {{ object.expires|date:'DATE_FORMAT' }}
        </div>

        <p class="comment">{{ object.comment|default:'' }}</p>

        <h5>Endpoints</h5>
        <p>
        {% if object.endpoints %}
          {% for key, value in object.endpoints|sortdict  %}
            <span class="label" title="{{ value }}">
              {{ key }}
            </span>
          {% endfor %}
        {% else %}
            No endpoints set
        {% endif %}
        </p>

        <ul class="no-bullet">
          <li>
              <small>Created: {{ object.created|default:'N/A' }}</small>
          </li>
          <li>
            <small>Last successfully used: {{ object.last_used|default:'Never' }}</small>
          </li>
        </ul>

      </div> {# end panel #}


    </div> {# end column #}
  </div> {# end row #}

{% endblock %}
