{% extends "useradmin/base.html" %}
{% load info %}

{% block base_header_additional_head %}
  <style>
    #token-list-table .label { cursor: help; margin-bottom: 1px; }
  </style>
  <script>
    require(['libs/jquery.tablesorter.min', 'src/tablesorter_custom_sorters'], function() {
      $(function() {
        var $table = $('#token-list-table');
        if ($table.length && $table.find('tbody tr').length > 0) {
          $table.tablesorter({
            sortList: [[2, 0]],
            headers: {
              2: {sorter: "custom-iso-datetime"},
              3: {sorter: "custom-iso-datetime"},
              4: {sorter: "custom-iso-datetime"},
              5: {sorter: false},
              6: {sorter: false},
              7: {sorter: false}
            }
          });
        }
      });
    });
  </script>
{% endblock %}

{% block content %}

  <div class="tabs">
    {% include 'useradmin/tabs.html' %}

    <div class="tabcontent">
      <a href="{% url 'useradmin-token_create' %}" class="button small">
        Create new token
      </a>

      {# Show table with tokens if there are any #}
      {% if object_list %}

        <table id="token-list-table" class="listtable hover tablesorter">
          <caption>
            List of issued API tokens
          </caption>

          <thead>
            <tr>
              <th>Token</th>
              <th>Permission</th>
              <th>Expires</th>
              <th class="show-for-large-up">Created</th>
              <th class="show-for-large-up">Last used</th>
              <th class="show-for-medium-up">Endpoints</th>
              <th class="show-for-medium-up">Comment</th>
              <th>&nbsp;</th>
            </tr>
          </thead>

          <tbody>
            {% for token in object_list %}
              <tr>
                <td>
                  <a href="{% url 'useradmin-token_detail' token.pk %}"
                     title="See details for this token">
                    {{ token.token|truncatechars:10 }}
                  </a>
                </td>
                <td>
                  {{ token.permission }}
                </td>
                <td data-sort-value="{{ token.expires|date:'c' }}">
                  {% if token.is_expired %}
                    <span class="label warning"
                          title="Token expired {{ token.expires|date:'DATE_FORMAT' }}">
                      Expired
                    </span>
                  {% else %}
                    {{ token.expires|date:'DATE_FORMAT' }}
                  {% endif %}
                </td>

                {# Created #}
                <td class="show-for-large-up" data-sort-value="{{ token.created|date:'c'|default:'last' }}">{{ token.created|default:'' }}</td>

                {# Last used #}
                <td class="show-for-large-up" data-sort-value="{{ token.last_used|date:'c'|default:'last' }}">{{ token.last_used|default:'Never' }}</td>

                {# Token endpoints #}
                <td class="show-for-medium-up">
                {% if token.endpoints %}
                  {% for key, value in token.endpoints|sortdict %}
                    <span class="label endpoint" title="{{ value }}">
                      {{ key }}
                    </span>
                  {% endfor %}
                {% endif %}
                </td>

                {# Token comment #}
                <td class="show-for-medium-up">{{ token.comment|default:'' }}</td>

                {# Link to token edit #}
                <td>
                  <a href="{% url 'useradmin-token_edit' token.pk %}" title="Edit this token">Edit</a>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

      {% else %}

        {# If there are no tokens, show information about creating one #}
        <div class="alert-box info">No tokens are issued. Do you want to
          <a href="{% url 'useradmin-token_create' %}">create one</a>?
        </div>

      {% endif %}

    </div>  {# .tabcontent #}
  </div>  {# .tabs #}

{% endblock %}
