<h4>How to use the subnet diagram</h4>
<img src="/static/images/ipam/subnetallocator_whole.png" alt="the user interface of the subnet diagram"/>
<ol>
  <li>Select a prefix by clicking on it. This will display more information about the prefix. If it's an unused prefix, you will also be able to reserve it.</li>
  <li>Need more detail? You can select an area to focus to zoom into it. You can also zoom using your scroll wheel and by double clicking. To reset the zoom, you can press outside the selected area (dark grey) in the selector.</li>
</ol>
