<script type="text/template" id="prefix-available-subnets">
  <div class="allocation-tree panel">
    <% if (state === "FETCHING_STATS") { %>
    <div class="prefix-allocate-flash alert-box">
      <i class="fa fa-spinner fa-spin"></i>
      Getting data for allocation tree
    </div>
    <% } %>
    <div class="treemap">
      <button
              title="Help"
              class="button secondary small right"
              hx-get="{% url 'ipam-subnet-allocator-help' %}"
              hx-target="body"
              hx-swap="beforeend"
      >
          Help
      </button>
      <!-- container for main tree viz -->
      <div class="legends"></div>
      <div class="viz"></div>
    </div>
    <div class="allocation-tree-info region">
      <!-- container for information about the currently selected node -->
    </div>
    <div class="allocation-tree-reservation region">
    </div>
  </div>
</script>

<script type="text/template" id="prefix-allocate-reservation">
  <div class="panel white">
    <h5>Creating new reservation</h5>
    <form class="allocation-tree-reserve-form">
      <label for="Size of network">Wanted prefix length</label>
      <input type="number" class="size-of-network" value="<%= network_size %>" min="2" />
      <button class="button small choose-network-size">Suggest subnets of this size</button>
      <% if (state === "CHOSEN_RESERVATION_SIZE" || state === "CHOSEN_SUBNET") { %>
      <input type="text" class="prefix-list" />
      <% } %>
    </form>
    <button class="button small cancel-reservation">Cancel</button>
    <% if (state === "CHOSEN_SUBNET") { %>
    <a href="<%= creation_url %>" class="button small send-reservation" target="_blank">
      Create reservation for <span class="selected-prefix"><%= selected_prefix %></span>
    </a>
    <% } %>
  </div>
</script>

<script type="text/template" id="prefix-allocate-info">
  <h4>
    Currently selected: <strong><%= node.prefix %></strong>
    <% if (!node.is_mock_node) { %>
    (<%= node.net_type %>)
    <a class="button small" href="<%= node.edit_url %>" target="_blank">Edit in SeedDB</a>
    <% } %>
  </h4>
  <ul>
    <% if (!node.is_mock_node) { %>
    <li><strong>VLAN:</strong> <%= node.vlan_number || "None" %></li>
    <li><strong>Description:</strong> <%= node.description || "Nothing" %></li>
    <li><strong>Organization:</strong> <%= node.organization %></li>
    <% } %>
  </ul>
  <% if (node.is_reservable && state !== "CREATING_RESERVATION") { %>
  <p>This network can be partially or wholly reserved.</p>
  <button class="reserve-subnet button small">Allocate new subnet within <%= node.prefix %></button>
  <% } %>
</script>
