{% comment %}
Form for searching for available subnets
{% endcomment %}


<h3>Find available subnet</h3>
<form>
  <label>Size (e.g. '/26')</label>
  <input type="number" value="26">

  <fieldset>
    <legend>Select by </legend>
    <input type="radio" name="subnet-find-method" class="scope-tools-find-by-organization" required><label>Organization</label>
    <input type="radio" name="subnet-find-method" class="scope-tools-find-by-scope"><label>Scope</label>
  </fieldset>

  <label>Scopes (optional)</label>
  <select>
    <option>1</option>
    <option>1</option>
  </select>
  <p class="help-text">
    NAV will try to find a block of that size within the given scope(s).
  </p>

  <label>Organization (optional)</label>
  <select>
    <option value="none">None</option>
    <option value="husker">Nett</option>
    <option value="starbuck">Sit</option>
    <option value="apollo">IME</option>
  </select>
  <p class="help-text">
    NAV will try to find blocks near or within existing
    allocations for that organization.
  </p>

</form>
<button class="button" type="button">Submit</button>
