<!-- address types to display -->
<div class="prefix-tree-control-checkboxes">
  <label>
    VLAN (number, optional)
    <input type="number" class="search-param" id="prefix-vlan"
      name="vlan" value="<%= queryParams.vlan %>">
  </label>

  <label>
    Description (optional)
    <input type="text" class="search-param" id="prefix-vlan"
      name="description" value="<%= queryParams.description %>">
  </label>

  <label>
    Prefix
    <select id="prefix-search-box" class="search-param" name="within" style="width: 100%;">
      <option></option>
    </select>
  </label>

  <label>
    Organization (optional)
    <select class="select2 search-param" name="organization" multiple="multiple" style="width: 100%;">
    {% for organization in organizations %}
      <option value="{{ organization.id }}" <%= _.contains(queryParams.organization, '{{ organization.id }}') ? "selected" : null %>>
        {{ organization }}
      </option>
      {% endfor %}
    </select>
  </label>

  <label>
    Usage (optional)
    <select class="select2 search-param" name="usage" multiple="multiple" style="width: 100%;">
      {% for usage in usages %}
      <option value="{{ usage.id }}" <%= _.contains(queryParams.usage, '{{ usage.id }}') ? "selected" : null %>>
        {{ usage }}
      </option>
      {% endfor %}
    </select>
  </label>

  <h5>Address family</h5>

  <label>
    <input id="prefix-flag-ipv4" class="search-flag" type="checkbox" name="type" value="ipv4"
    <%= _.contains(queryParams.type, "ipv4") ? "checked" : null %>>
    Public IPv4
  </label>

  <label>
    <input id="prefix-flag-ipv6" class="search-flag", type="checkbox" name="type" value="rfc1918"
    <%= _.contains(queryParams.type, "rfc1918") ? "checked" : null %>>
    Private IPv4 (RFC1918)
  </label>

  <label>
    <input id="prefix-flag-ipv6" class="search-flag" type="checkbox" name="type" value="ipv6"
    <%= _.contains(queryParams.type, "ipv6") ? "checked" : null %>>
    IPv6
  </label>

  <label>
    Net type
    {% comment %}
    yo, templates in your templates. the net_types context attribute is a list
    of all net types registered in NAV, except scope and reserved, which are
    given special treatment.
    {% endcomment %}
    <select class="select2 search-param" name="net_type" multiple="multiple" style="width: 100%;">
      <option value="scope">scope</option>
      <option value="reserved" <%= _.contains(queryParams.net_type, 'reserved') ? "selected" : null %>>
        reserved
      </option>
      {% for net_type in net_types %}
      <option value="{{ net_type }}" <%= _.contains(queryParams.net_type, '{{ net_type }}') ? "selected" : null %>>
        {{ net_type }}
      </option>
      {% endfor %}
    </select>
  </label>
</div>
