#extends nav.web.templates.EmotdTemplate

#def $makeMenu
<div>
	<ul style="list-style-type:none;marin=0;padding:0;">
#for $item in $menu:
#if $item.this:
		<li style="display: block;float: left;text-align: center;padding: 0;margin: 0; width:100px;">$item.text</li>
#else:
		<li style="display: block;float: left;text-align: center;padding: 0;margin: 0; width:100px;"><a href="$item.link">$item.text</a></li>
#end if
#end for
	</ul>
</div>
#end def

#block content
$makeMenu()
	<h1>$title</h1>

##block errormessage
##end block

<ul style="list-style-type:none;margin:0px;padding:0px;">
  #for $message in $messages
	<li style="margin-bottom:8px">
        	Title: <a href="/emotd/view/$message.id">$message.title</a><br />
          	Edited: $message.last_changed by $message.author<br />
	        Description: $message.description<br />
		Units on maintenance: $message.units<br />
		Is this a new message: $message.today
	</li>
  #end for
</ul>
#end block
