#extends nav.web.templates.EmotdTemplate

#block additionalCSS
$default_tabs_CSS();
#end block additionalCSS

#def $makeMenu
<div id="tabs" style="margin: -33px -10px; width: 755px;">
	<ul>
#for $item in $menu:
## HACK
#if $item.text == "Compose new message":
#set $item.text = "New message";
#end if
#if $item.this:
		<li id="current"><a>$item.text</a></li>
#elif $item.text == "New message" or $item.text == "Maintenance Setup":
		<li><a href="$item.link">$item.text</a></li>
#else:
		<li id="same"><a href="$item.link">$item.text</a></li>
#end if
#end for
	</ul>
</div>
#end def

#block content
<div style="border: 1px solid black; margin: 33px 0px; padding: 0px 19px; min-width: 730px;">
$makeMenu()
	<h1>$title</h1>

##block errormessage
##end block

<ul style="list-style-type:none;margin:0px;padding:0px;">
  #for $message in $messages
	<li style="margin-bottom:8px">
        	Title: <a href="/emotd/view/$message.id">$message.title</a><br />
          	Edited: $message.last_changed by $message.author<br />
	        Description: $message.description<br />
		Units on maintenance: $message.units<br />
		Is this a new message: $message.new
	</li>
  #end for
</ul>
</div>
#end block
