#extends nav.web.templates.EmotdTemplate

#block content
$makeMenu()
	<h1>$title</h1>
#if $messages:
<table style="font-size:13px; border: 1px solid black;" cellspacing="0">
  <TR><TD COLSPAN=2 STYLE="BACKGROUND: URL('/images/emotd/top-r.gif') REPEAT-X;">
  <div style="position: relative; margin-top: -12px;"><img src="/images/emotd/top-l.gif"></div>
  <div style="position: relative; margin: -25px 0px 0px 50px; padding-bottom: 8px;font-size:15px;">$title</div>
  </TD></TR>
#set $farge = "white";
  #for $message in $messages
   <tr style="background: $farge;">
      <td style="padding: 0px 10px;"><a href="/emotd/view/$message.id">$message.title</a></td>
#if $message.units
      <td style="padding: 0px 10px;" align="right"><a href="/emotd/add/$message.id"><img src="/images/wrench.gif" border="0">$message.units</a></td>
#else
      <td style="padding: 0px 10px;">&nbsp;</td>      
#end if

##if $message.new
##          	Edited: $message.last_changed by $message.author<br />
##	        Description: $message.description<br />
##		Units on maintenance: $message.units<br />
##		Is this a new message: $message.new
##end if

#if $farge == "white":
#set $farge = "#eeeeee"
#else:
#set $farge = "white"
#end if
   </tr>
  #end for
</table>
#else:
No $title found.<br>
#end if
<br>
</div>
#end block
