#extends nav.web.templates.MainTemplate

#attr numberOfMessagesShown = 15


#def $makeMenu
<div style="float:left">
##	<h1 style="font-size:14;">Emotd Menu</h1>
	<ul style="list-style-type:none;marin=0;padding:0;">
#for $item in $menu:
		<li><a href="$item.link">$item.text</a></li>
#end for
	</ul>
</div>
#end def

#def $makeDateTime($prefix,$year,$month,$day,$hour,$minute)

<select name="${prefix}_year">
#for y in range(2004,2020)
<option value="$y".slurp
#if $y==$year
 selected="1".slurp
#end if
>$y</option>
#end for
</select>

<select name="${prefix}_month">
#for m in range(1,13)
<option value="$m".slurp
#if $m==$month
 selected = "1".slurp
#end if
>$m</option>
#end for
</select>

<select name="${prefix}_day">
#for d in range(1,32)
<option value="$d".slurp
#if $d==$day
 selected = "1".slurp
#end if
>$d</option>
#end for
</select>

<select name="${prefix}_hour">
#for h in range(0,24)
<option value="$h".slurp
#if $h==$hour
 selected = "1".slurp
#end if
>$h</option>
#end for
</select>

<select name="${prefix}_minute">
#for m in ("00","15","30","45")
<option value="$m".slurp
#if $m==$minute
 selected = "1".slurp
#end if
>$m</option>
#end for
</select>

#end def

#def equipmentList($eq)
#if len($eq.keys()):
	<ul>
#for a,b in $eq.items():
#for c in $b:
	<li>$a $c</li>
#end for
#end for
	</ul>
#end if
#end def

#def maintList

Maintenance List
#if len($maints) == 0
No maintenance info.
#end if
  <!-- Here comes the actual information regarding maintenance information -->
  <table>
  <tr>
    <td><b>Room</b></td>
    <td><b>Netbox</b></td>
    <td><b>Service</b></td>
    <td><b>Start</b></td>
    <td><b>End</b></td>
    <td><b>Title</b></td>
  </tr>
  #for $message in $maints
  <tr>
    <td><a href="/report/netbox?roomid=$message.roomid">$message.roomid ($message.roomdesc)</td>
    <td><a href="/browse/$message.netboxid">$message.netboxid</a></td>
    <td><a href="/browse/service/$message.serviceid">$message.serviceid</a></td>
    <td>$message.mstart</td>
    <td>$message.mend</td>
    <td><a href="/emotd/view=$message.emotdid">$message.title</a></td>
  </tr>
  #end for
  </table>
#end def
