#extends nav.web.templates.MainTemplate

#attr numberOfMessagesShown = 15


#def $makeMenu
<div style="float:left">
##	<h1 style="font-size:14;">Emotd Menu</h1>
	<ul style="list-style-type:none;marin=0;padding:0;">
#for $item in $menu:
		<li><a href="$item.link">$item.text</a></li>
#end for
	</ul>
</div>
#end def