#extends nav.web.templates.EmotdTemplate
#from nav.web.templates.TreeSelectTemplate import TreeSelectTemplate
#from nav.web.templates.SearchBoxTemplate import SearchBoxTemplate

#block content
#if $body
$body
#end if
$makeMenu()
$maint()
#end block


#def maint
$args['selectbox']
#set global path = [("Frontpage","/"),("Test","/")]
#set qs = SearchBoxTemplate()
#set ts = TreeSelectTemplate()
    $qs.searchbox($args['searchbox'])
<form action="$args['action']" method="post">
    $ts.treeselect($args['selectbox'])
    <table>
        <tr>
#if $args['submit']['enabled']
            <td><input type="submit" name="$args['submit']['control']" value="$args['submit']['value']"></td>
#else
            <td><input disabled type="submit" name="$args['submit']['control']" value="$args['submit']['value']"></td>
#end if
        </tr>
    </table>
</form>
  #set $nummaint = len($maints)
  <table>
    <tr>
      <td>
        <table>
          <tr>
            <td>
              <div><a href="/emotd/maintenance"><font color="black">Maintenance List</a></div>
#if $nummaint == 0
              No maintenance info.
#end if
            </td>
          </tr>
        </table>
      </td>
      <td></td>
    </tr>
  </table>
  <!-- Here comes the actual information regarding maintenance information -->
  <table>
  <tr>
    <td><b>Room</b></td>
    <td><b>Netbox</b></td>
    <td><b>Service</b></td>
    <td><b>Start</b></td>
    <td><b>End</b></td>
    <td><b>Title</b></td>
  </tr>
  #for $message in $maints
  <tr>
    <td><a href="/report/netbox?roomid=$message.roomid">$message.roomid ($message.roomdesc)</td>
    <td><a href="/browse/$message.netboxid">$message.netboxid</a></td>
    <td><a href="/browse/service/$message.serviceid">$message.serviceid</a></td>
    <td>$message.mstart</td>
    <td>$message.mend</td>
    <td><a href="/emotd/view=$message.emotdid">$message.title</a></td>
  </tr>
  #end for
  </table>
#end def

#block additionalCSS
      TD {
      font-family: verdana, arial, helvetica, sans-serif;
      font-size: 13;
      }

      TD.smallfont {
      font-size: 11;
      }

      td.sideboxlinks {
      font-size: 11;
      border: 1px solid #ccc;
      }

      td.sideboxtitle {
      font-size: 13;
      border: 1px solid #000;
      text-align: center;
      background-image:url('/images/form/fill-active.gif');
      background-color:#ccf;
      }

$default_table_CSS
#end block

