#extends nav.web.templates.EmotdTemplate
#from nav.web.templates.TreeSelectTemplate import TreeSelectTemplate
#from nav.web.templates.SearchBoxTemplate import SearchBoxTemplate

#block content
<h1>$title</h1>
##if $body
##$body
##end if
##$makeMenu()
$information()
$maint()
##$maintList()
#if $emotdid
#set $eq = $equipment[int($emotdid)]
$equipmentList($eq,$emotdid)
#elif $emotdid == 0:
$equipmentList($equipment)
#end if
#end block


#def information
#if $emotdid
<h2>$messagetitle</h2>
#if $maintstart and $maintend
<p>$maintstart - $maintend</p>
#end if
#end if
#end def

#def maint
$args['selectbox']
#set global path = [("Frontpage","/"),("Test","/")]
#set qs = SearchBoxTemplate()
#set ts = TreeSelectTemplate()
    $qs.searchbox($args['searchbox'])
<form action="$args['action']" method="post">
    $ts.treeselect($args['selectbox'])
#if $args['submit']['enabled']
            <input type="submit" name="$args['submit']['control']" value="$args['submit']['value']">
#else
            <input disabled type="submit" name="$args['submit']['control']" value="$args['submit']['value']">
#end if
<input type="hidden" name="id" value="$emotdid"/>
</form>
<form action="$args['doneaction']" method="post">
<input type="submit" name="$args['done']['control']" value="$args['done']['value']" />
</form>
#if not $emotdid
<form action="$args['cancelaction']" method="post">
<input type="submit" name="$args['cancel']['control']" value=$args['cancel']['value'] />
</form>
#end if
#end def

#block additionalCSS
      TD {
      font-family: verdana, arial, helvetica, sans-serif;
      font-size: 13;
      }

      TD.smallfont {
      font-size: 11;
      }

      td.sideboxlinks {
      font-size: 11;
      border: 1px solid #ccc;
      }

      td.sideboxtitle {
      font-size: 13;
      border: 1px solid #000;
      text-align: center;
      background-image:url('/images/form/fill-active.gif');
      background-color:#ccf;
      }

$default_table_CSS
#end block

