#extends nav.web.templates.EmotdTemplate
#from nav.web.templates.TreeSelectTemplate import TreeSelectTemplate
##from nav.web.templates.SearchBoxTemplate import SearchBoxTemplate

#block content
<form action="$args['action']" method="post">
<h1>Maintenance setup</h1>

#if $defined
$information()
#else
$new()
#end if

#if $emotdid
#set $eq = $equipment[int($emotdid)]
$equipmentList($eq,$emotdid)
#elif $emotdid == 0:
$equipmentList($equipment)
#end if

$searchbox($args['searchbox'])

<p>
$makeDateTime("Start maintenance","maintstart",$maintstart[0],$maintstart[1],$maintstart[2],$maintstart[3],$maintstart[4])
</p>

<p>
$makeDateTime("End maintenance","maintend",$maintend[0],$maintend[1],$maintend[2],$maintend[3],$maintend[4])
</p>

$maint()
</form>
#end block


#def information
#if $messagetitle
<h2>$messagetitle</h2>
#end if
#if $messagedescription
<p>Description: $messagedescription</p>
#end if
#end def

#def new
<div><label>Select message</label><select name="id">
#for $b in $messagelist
#set $c = "["+$b[1]+"] "+$b[2]
#set $d = $c[0:80]
	<option value="$b[0]">$d ...</option>
#end for
</select></div>
<div><label>Title: </label><input type="text" name="title" value="$messagetitle" /></div>
<div><label>Description: </label><textarea name="description" cols="40" rows="3">$messagedescription</textarea></div>
<div><label>Type: </label><select name="type">
#for $t in ("error","scheduled","info","internal")
#set selected = ''
#if $t==$messagetype
#set $selected = ' selected="1"'
#end if
<option value="$t"$selected>$t</option>
#end for
</select></div>
#end def


#def maint
##$args['selectbox']
#set global path = [("Frontpage","/"),("Test","/")]
###set qs = SearchBoxTemplate()
#set ts = TreeSelectTemplate()
##    $qs.searchbox($args['searchbox'])
    $ts.treeselect($args['selectbox'])
#if $args['submit']['enabled']
            <input type="submit" name="$args['submit']['control']" value="$args['submit']['value']">
#else
            <input disabled type="submit" name="$args['submit']['control']" value="$args['submit']['value']">
#end if
<input type="hidden" name="id" value="$emotdid"/>
##<form action="$args['doneaction']" method="post">
<input type="submit" name="$args['done']['control']" value="$args['done']['value']" />
#if not $emotdid
<form action="$args['cancelaction']" method="post">
<input type="submit" name="$args['cancel']['control']" value=$args['cancel']['value'] />
</form>
#end if
#end def



## This file is a part of the NAV project.
##
## Contains a template function for displaying a
## SearchBox object
##
## Last changed: 2003.09.14
## Author: Hans Jørgen Hoel (hansjorg@orakel.ntnu.no)
##

#def searchbox($s)
##   <form name="$s.formCname" method="$s.method"><p>
<div style="float:right;">
   <table title="$s.help" style="border: solid black 2px; background: #eeeeee;">
        <tr>
            <th colspan="3" style="text-align: left;">
                $s.title
#if $s.error
                <span style="color: #f00;">($s.error)</span>
#end if
 #if $s.result
                <span style="color: #090;">($s.result)</span>
#end if
            </th>
        </tr>
        <tr>
            <td><select name="$s.typeCname">
#for $sid,$options in $s.searches.items()
#if $s.selected == $sid
            <option selected value="$sid">$options[0]</option>
#else
            <option value="$sid">$options[0]</option>
#end if
#end for
            </select></td>
            <td><input size="$s.inputSize" type="text" name="$s.inputCname"></td>
            <td><input type="submit" name="$s.submitCname" value="$s.submitText"></td>
        </tr>
    </table>
</div>
##    </p></form>
#end def
