#extends nav.web.templates.EmotdTemplate

#block content
## tar inn en melding::message

#set count = len($messages)

#if count>0
<h1>$title</h1>
#end if

#for message in $messages

#if count>0
<h2>$message.title</h2>
#else
<h1>$message.title</h1>
#end if


##klokkeslett tas imot på iso-format

<p class="pysetekst" style="font-size:0.6em">$message.type
#if $access and $message.publish_start
$message.publish_start - $message.publish_end
#end if
by $message.author on $message.last_changed
</p>
#if $message.affected
<p><label>Affected end users:</label>$message.affected</p>
#end if
#if $message.downtime
<p><label>Estimated downtime:</label>$message.downtime</p>
#end if
#if $message.maint_start and $access

<p><label>Maintenance window:</label><b>$message.maint_start - $message.maint_end</b></p>
#end if
#if $message.description
$message.description
#end if
#if $message.equipment
$equipmentList($message.equipment)
#end if
#if $message.detail
$message.detail
#end if

#if $message.replaces_emotd
#if $message.replaces_title
<p>This message replaces: <a href="/emotd/view/$message.replaces_emotd">$message.replaces_title</a>.</p>
#else
<p>This message replaces message no.: <a href="/emotd/view/$message.replaces_emotd">$message.replaces_emotd</a>.</p>
#end if
#end if

#if $access
[ <a href="/emotd/edit/$message.emotdid">Edit Message</a> 
#if $message.maint_start
| <a href="/emotd/time/$message.emotdid">Edit Maintenance Window</a> | <a href="/emotd/add/$message.emotdid">Edit Equipment List</a> 
#else
| <a href="/emotd/time/$message.emotdid">Define Maintenance Window and Add Equipment</a>
#end if
]</form>
#end if

#end for
#end block
