{% extends "info/base.html" %}
{% load silent_include %}

{% block base_header_additional_head %}
  {{ block.super }}
  <link href="{{ STATIC_URL }}css/nav/info_room.css"  rel="stylesheet">
  <script>require(["src/info_location"]);</script>
  {% try_to_include 'info/room/header_extras.html' %}
{% endblock %}

{% block content %}
  {% block locationinfo %}

    <h3>Location search</h3>
    {% include 'info/_search_form.html' with form=searchform %}

    <div id="search-results">
    {% if searchform.is_bound %}
      {% include 'info/location/_search_results.html' with form=searchform locations=locations %}
    {% endif %}  {# bound check #}
    </div>

    <div id="mapcontainer" class="mapwrapper smallmap"></div>
    <div id="coordinates"></div>

  {% endblock %}

{% endblock %}
