
<div class="row">


  <div class="medium-6 column">
    <table id="locationinfotable" class="vertitable full-width">
      <caption>Locationinfo</caption>
      <tbody>
      <tr>
        <th>Name</th>
        <td class="locationid" data-locationid="{{location.id}}">{{ location.id }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ location.description }}</td>
      </tr>
      {% if location.parent %}
      <tr>
        <th>Location</th>
        <td><a href="{% url 'location-info' location.parent.id %}">{{ location.parent.description|default:location.parent.id }}</a></td>
      </tr>
      {% endif %}
      {% for key, value in location.sorted_data %}
      <tr>
        <th>{{ key }}</th>
        <td>{{ value|urlize }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>

  </div> {# End of column #}

  <div class="medium-6 column">
    <div class="mapwrapper">
      <div id="room_map"></div>
    </div>
  </div>

</div>
{% if images|length > 0 %}

<h4>Images for this location</h4>
<ul class="clearing-thumbs small-block-grid-2 medium-block-grid-6"
    data-clearing>
  {% for image in images %}
  <li>
    <a href="{{image.url }}"
       class="th">
      <img src="{{ image.thumb_url }}"
           data-caption="{{ image.title|safe }}">
    </a>
  </li>
  {% endfor %}

</ul>

{% else %}

<a href="{% url 'location-info-upload' location.id %}" class="button secondary small">
  Add images
  <i class="fa fa-camera"></i>
</a>

{% endif %}
