{% extends "base.html" %}

{% block base_content %}

{% if messages %}
    <ul>
    {% for m in messages %}
        <li>{{ m }}</li>
    {% endfor %}
    </ul>
{% endif %}

<h2>Manage thresholds</h2>

{% block content %}
    {% if interface %}
        <p>
        <table class="vertitable">
            <caption>Interface {{ interface.ifname }}</caption>
            <tr>
                <th>IfAlias</th><td>{{ interface.ifalias }}</td>
            </tr>
            <tr>
                <th>Netbox</th><td>{{ interface.netbox.sysname }}</td>
            </tr>
        </table>
        </p>
    {% endif %}

{% endblock %}

{% endblock %}
