{% extends "maintenance/tabs.html" %}

{% block tabcontent %}
  <div class="calendar">
    <div class="calendar_controls">
      {% url 'maintenance-calendar' prev_month.year prev_month.month as previous_month %}
      {% url 'maintenance-calendar' next_month.year next_month.month as next_month %}

      <a href="{{ previous_month }}">
        <i class="fa fa-step-backward fa-lg" title="Previous month"></i>
      </a>

      <form action="{% url 'maintenance-calendar' %}" method="get" class="inline-form">
        <input type="text" name="year" value="{{ this_month.year }}" size="4" maxlength="4"/>
        <input type="text" name="month" value="{{ this_month.month }}" size="2" maxlength="2"/>
        <button type="submit" class="small secondary"><i class="fa fa-search"></i></button>
      </form>

      <form action="{% url 'maintenance-calendar' %}" method="get" class="inline-form">
        <input type="hidden" name="year" value="{{ curr_month.year }}"/>
        <input type="hidden" name="month" value="{{ curr_month.month }}"/>
        <button type="submit" class="small secondary">Current month</button>
      </form>

      <a href="{{ next_month }}">
        <i class="fa fa-step-forward fa-lg" title="Next month"></i>
      </a>
    </div>

    {{ calendar }}
  </div>

{% endblock %}

