{% extends "maintenance/base.html" %}
{% load maintenance %}

{% block content %}

  {% include 'maintenance/back.html' %}

  {% include 'maintenance/heading.html' %}

  <div class="panel white">

    <table class="vertitable vertitablefull vevent">
      <caption class="summary">
        {{ task.description }}
      </caption>

      <tbody>
        <tr>
          <th>Start</th>
          <td>
            <time class="dtstart" datetime="{{ task.start_time }}">
              {{ task.start_time|date:"Y-m-d H:i" }}
            </time>
          </td>
        </tr>
        <tr>
          <th>End</th>
          {% if task.is_endless %}
            <td>No end time</td>
          {% else %}
            <td>
              <time class="dtend" datetime="{{ task.end_time }}">
                {{ task.end_time|date:"Y-m-d H:i" }}
              </time>
            </td>
          {% endif %}
        </tr>
        <tr>
          <th>Description</th>
          <td>{{ task.description }}</td>
        </tr>
        <tr>
          <th>Components</th>
          <td>
            {% if components %}
              <ul class="no-bullet">
                {% for trail in components %}
                    <li>
                        {% with trail|last as component %}
                            {{ component|model_verbose_name }}:
                            {% include "maintenance/frag-component-trail.html" %}
                        {% endwith %}
                    </li>
                {% endfor %}
              </ul>
            {% else %}
              (none)
            {% endif %}
          </td>
        </tr>
        <tr>
          <th>Author</th>
          <td>{{ task.author }}</td>
        </tr>
        {% if not current_user_data.account.is_anonymous %}
          <tr>
            <th>State</th>
            <td>{{ task.state|capfirst }}</td>
          </tr>
        {% endif %}
      </tbody>
    </table>

    {% if not current_user_data.account.is_anonymous %}
      <a href="{% url 'maintenance-edit' task.id %}" class="button small secondary">Edit</a>
      {% if task.state != "canceled" %}
        <a href="{% url 'maintenance-cancel' task.id %}" class="button small secondary">Cancel now</a>
      {% endif %}
    {% endif %}

  </div>

{% endblock %}
