{% extends "maintenance/base.html" %}
{% load maintenance %}

{% block base_header_additional_head %}
  {{ block.super }}
  <style>
   #new-task-form textarea {
       height: 8em;
   }
   #new-task-form select[multiple] {
       height: 8em;
   }
   #component-list li { overflow: auto; }
   #component-list li div:first-child {
       float: left;
       width: 8em;
   }
   #component-list li div:last-child {
       margin-left: 8em;
   }
  </style>
{% endblock %}


{% block content %}

  {% include 'maintenance/back.html' %}

  <h4>{{ heading }}</h4>

  <div class="panel white">
    <form id="new-task-form" action="{{ request.path }}" method="post">
      <div class="row">
        <div class="large-4 columns">
          <fieldset>
            <legend>Details</legend>
            {% include 'custom_crispy_templates/_form_content.html' with form=task_form %}
          </fieldset>
        </div>

        <div class="large-4 columns">
            <fieldset>
                <legend>Select components</legend>
                <label for="component-search">
                    Search
                </label>
                <input
                    id="component-search"
                    class="form-control" type="search"
                    name="search"
                    placeholder="Begin typing to search for components..."
                    hx-post="{% url 'maintenance-component-search' %}"
                    hx-trigger="input changed delay:500ms, search"
                    hx-target="#search-results"
                    hx-indicator=".htmx-indicator"
                />
                <span class="htmx-indicator">
                    <img src="/static/images/select2/select2-spinner.gif" alt="Loading spinner" /> Searching...
                </span>
                <div id="search-results"></div>
            </fieldset>

        </div>

        <div class="large-4 columns">
          <fieldset>
            <legend>Selected components</legend>
            <div id="selected-components">
            {% include 'maintenance/_selected-components-list.html' with components=components selected=selected %}
            </div>
          </fieldset>

        </div> {# column #}
      </div> {# row #}

      <input type="submit" name="save" value="Save task" class="button" />
    </form>
  </div>
{% endblock %}
