{% extends "maintenance/base.html" %}
{% load maintenance %}

{% block content %}

  {% include 'maintenance/back.html' %}

  <h4>{{ heading }}</h4>

  <div class="panel white">
    <form id="new-task-form" action="{{ request.path }}" method="post">
      <div class="row">
        <div class="large-4 columns">
          <fieldset>
            <legend>Details</legend>
            {% include 'custom_crispy_templates/_form_content.html' with form=task_form %}
          </fieldset>
        </div>

        <div class="large-4 columns">
          <fieldset>
            <legend>Select components</legend>
            <div class="component-search-section">
              <label for="component-search">
                Search
                <span class="htmx-indicator">
                  <img src="/static/images/select2/select2-spinner.gif" alt="Loading spinner" /> Searching...
                </span>
              </label>
              <input
                id="component-search"
                class="form-control" type="search"
                name="search"
                placeholder="Search for components..."
                hx-post="{% url 'maintenance-component-search' %}"
                hx-trigger="input changed delay:500ms, search"
                hx-target="#search-results"
                hx-indicator=".htmx-indicator"
              />
              <div class="browse-hint">
                or
                <button type="button"
                  hx-get="{% url 'maintenance-component-browse' %}"
                  hx-target="#search-results"
                  hx-indicator=".htmx-indicator"
                >browse locations &amp; rooms</button>
              </div>
              <div id="search-results"></div>
            </div>
          </fieldset>
        </div>

        <div class="large-4 columns">
          <fieldset>
            <legend>Selected components</legend>
            <div id="selected-components">
            {% include 'maintenance/_selected-components-list.html' with components=components selected=selected %}
            </div>
          </fieldset>

        </div> {# column #}
      </div> {# row #}

      <input type="submit" name="save" value="Save task" class="button" />
    </form>
  </div>
{% endblock %}
