{% extends 'maintenance/base.html' %}

{% block content %}
  <div class="tabs">

    <ul>
      <li class="{{ active.calendar|yesno:"tabactive," }}">
        <a href="{% url 'maintenance-calendar' %}">Calendar</a>
      </li>
      <li class="{{ active.active|yesno:"tabactive," }}">
        <a href="{% url 'maintenance-active' %}">Active</a>
      </li>
      <li class="{{ active.planned|yesno:"tabactive," }}">
        <a href="{% url 'maintenance-planned' %}">Scheduled</a>
      </li>
      <li class="{{ active.historic|yesno:"tabactive," }}">
        <a href="{% url 'maintenance-historic' %}">Archive</a>
      </li>
    </ul>

    <div class="tabcontent">
      {% include 'maintenance/heading.html' %}
      {% block tabcontent %}
      {% endblock %}
    </div>

  </div>
{% endblock %}
