{% extends 'base.html' %}


{% block base_header_additional_head %}
  <style>
   .alert-recipient-list {
       font-size: 80%;
   }
   .alert-message-container p {
       font-size: 80%;
   }
   .action-container { display: none; }
  </style>
{% endblock %}

{% block footer_scripts %}
  <script>
   $('.toggle-messages').on('click', function() {
       $(this).next().slideToggle() ;
   });

   $('#action-chooser').on('change', function() {
       $('.action-container').hide();
       $('#' + this.value).show();
   });
  </script>
{% endblock %}


{% block base_content %}

  <h1>Event details</h1>

  <div class="row">
    <div class="column large-4 medium-6">
      <div class="panel white">
        {% block event_details %}{% endblock %}
      </div>
    </div>

    <div class="column large-4 medium-6">
      <div class="panel white">
        {% block event_messages %}{% endblock %}
      </div>
    </div>

    <div class="column large-4 medium-6">
      <div id="user-actions" class="panel white" style="overflow: auto;">
        {% block user_actions %}{% endblock %}
      </div>
    </div>


  </div>



{% endblock %}
