name: Build NAV and run full test suite
on: [push, pull_request]

jobs:
  build-and-test:
    name: "Test on Python ${{ matrix.python-version}}"
    runs-on: ubuntu-latest

    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.7, 3.8]

    steps:
      - uses: actions/checkout@v2

      - name: "Set up Python ${{ matrix.python-version }}"
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: "Install test runner dependencies"
        run: |
          set -xe
          python -m pip install --upgrade pip setuptools wheel tox tox-gh-actions coverage virtualenv

      - name: "Install libraries needed to build external dependencies"
        run: |
          set -xe
          sudo apt-get install -y libldap2-dev libsasl2-dev

      - name: "Run tests"
        run: |
          python -m tox
