name: Verify formatting

on:
  push:
    branches: master
  pull_request:

jobs:
  ruff:
    runs-on: ubuntu-latest
    name: Verify Python formatting
    steps:
    - uses: actions/checkout@v5

    - uses: astral-sh/ruff-action@v3
      with:
        version: "0.12.0"
        args: "format --check"
